
<h2>Columnists</h2>
<a href=http://www.godanriver.com/sports/outdoors/hunting_fishing/bill-cochran-heavyweights-showing-up-in-virginia-s-bear-population/article_958d1d19-72bf-5fee-a1fe-28bfbb1426d5.html>COCHRAN: HEAVYWEIGHTS SHOWING UP IN VIRGINIA'S BEAR POPULATION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_3928d83c-d549-545f-babb-55913ec83220.html>SCHAPIRO: A WARM TALE AT CHRISTMAS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/bart-hinkle/article_fabd5269-2776-5d7e-96d9-3a49007fac90.html>HINKLE: SHOULD THE GOVERNMENT TRACK YOUR MOVEMENTS?</a><br>
<a href=http://www.richmond.com/news/article_73a0bf1e-dbd5-57c8-89f7-517fdf3504d2.html>SCHAPIRO: NEW YEAR'S WISHES FOR VIRGINIA POLITICOS</a><br>
<a href=https://www.washingtonpost.com/local/a-smokescreen-for-bigotry-disguising-anti-muslim-bias-with-land-use-objections/2017/01/02/14040744-d129-11e6-a783-cd3fa950f2fd_story.html?utm_term=.524dd273470c>DVORAK: A SMOKESCREEN FOR BIGOTRY</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_738b136b-a4d9-500d-815a-e22466e58007.html>SCHAPIRO: VA.'S GOODLATTE IS FIRST ETHICS CASUALTY OF NEW CONGRESS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/bart-hinkle/article_87c40419-99d5-585d-a6a4-978813325873.html>HINKLE: BOB MARSHALL'S PROGRESSIVE WAR ON PORN</a><br>

<h2>Congress</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/meet-the-virginia-congressman-who-tried-to-gut-the-house-ethics-office/2017/01/04/ac848ea8-d205-11e6-945a-76f69a399dd5_story.html?utm_term=.68cc7b547a45>MEET THE VIRGINIA CONGRESSMAN WHO TRIED TO GUT THE HOUSE ETHICS OFFICE</a><br>
<a href=http://pilotonline.com/news/government/nation/rep-scott-taylor-of-virginia-beach-gets-post-on-clout/article_769a96e9-7208-54c3-999d-079c1f7200d4.html>REP. SCOTT TAYLOR, OF VIRGINIA BEACH, GETS POST ON CLOUT-HEAVY HOUSE APPROPRIATIONS COMMITTEE</a><br>
<a href=http://www.roanoke.com/news/politics/small-group-of-protesters-hopes-goodlatte-gets-the-message/article_455af9f3-9fe0-5bc2-a9d4-0dad6dde4816.html>SMALL GROUP OF PROTESTERS HOPES GOODLATTE GETS THE MESSAGE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/house-republicans-revive-obscure-rule-that-could-allow-them-to-slash-the-pay-of-individual-federal-workers-to-1/2017/01/04/4e80c990-d2b2-11e6-945a-76f69a399dd5_story.html?utm_term=.f5b3bbd8b672>HOUSE REPUBLICANS REVIVE OBSCURE RULE THAT TARGETS CIVIL SERVICE</a><br>
<a href=http://pilotonline.com/business/consumer/del-scott-taylor-asks-navy-officials-to-lighten-up-on/article_2867bc34-bd9f-5541-84c2-220c0f960e19.html>CONGRESSSMAN-ELECT TAYLOR ASKS NAVY OFFICIALS TO LIGHTEN UP ON CRAFT BREWERY</a><br>
<a href=http://www.newsadvance.com/news/state/kaine-looks-to-become-a-master-of-the-u-s/article_6cbeb0ab-cbac-5358-ba17-aa87b9eff9bf.html>KAINE LOOKS TO BECOME A MASTER OF THE U.S. SENATE</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/brat-former-ethics-professor-weighs-in-on-ethics-debate/article_ab645802-4631-5348-bef9-0906fe543dff.html>BRAT, FORMER ETHICS PROFESSOR, WEIGHS IN ON ETHICS DEBATE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-kaine-aca-20170105-story.html>KAINE BID TO SLOW OBAMACARE REPEAL FAILS</a><br>
<a href=http://www.richmond.com/news/national-world/government-politics/article_0a48a558-18f4-5789-95a8-4edc96cf96f1.html>SEN. TIM KAINE LEADS PUSH TO BLOCK QUICK REPEAL OF HEALTH CARE LAW</a><br>
<a href=https://www.washingtonpost.com/politics/tim-kaine-questions-judgment-of-trumps-pick-for-national-security-adviser/2017/01/05/2fbd8d18-d37a-11e6-9cb0-54ab630851e8_story.html?utm_term=.2d33b3977e77>TIM KAINE QUESTIONS JUDGMENT OF TRUMP'S PICK FOR NATIONAL SECURITY ADVISER</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-mcauliffe-asks-congress-to-go-slow-on-obamacare-repeal-20170105-post.html>MCAULIFFE ASKS CONGRESS TO GO SLOW ON OBAMACARE REPEAL</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/state/new-website-tracks-goodlatte-votes-positions/article_b4ada98a-cd59-11e6-ac77-2b8379ad8a9d.html>NEW WEBSITE TRACKS GOODLATTE VOTES, POSITIONS</a><br>
<a href=http://www.dailyprogress.com/news/local/garrett-looks-forward-to-busiest-congressional-calendar-in-history/article_14b7f516-ce26-11e6-ad87-b766c22fb9b3.html>GARRETT LOOKS FORWARD TO 'BUSIEST CONGRESSIONAL CALENDAR IN HISTORY'</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/politics/warner-reacts-to-russian-sanctions/article_f070d478-ce27-11e6-8dbb-f3a96d524cea.html>WARNER REACTS TO RUSSIAN SANCTIONS</a><br>
<a href=http://pilotonline.com/news/government/politics/local/rep-bobby-scott-closing-richmond-office-now-that-it-s/article_abed88f2-11b0-508c-9d48-307af9a3ba6c.html>REP. BOBBY SCOTT CLOSING RICHMOND OFFICE NOW THAT IT'S NO LONGER PART OF HIS DISTRICT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/court-imposed-election-map-paved-way-for-new-virginia-congressmen/2017/01/02/286cd58e-cea5-11e6-a87f-b917067331bb_story.html?utm_term=.bf68490b91b4>COURT-IMPOSED ELECTION MAP PAVED WAY FOR NEW VIRGINIA CONGRESSMEN</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_1686e47a-4e1d-51bf-8581-412f79e9fc1e.html>MCEACHIN TAKES OFFICE TUESDAY AS RICHMOND'S CONGRESSMAN</a><br>
<a href=http://www.richmond.com/news/ap/article_90a8082f-1c29-5714-b674-7a59c1abc581.html>IN MOVE PUSHED BY VIRGINIA'S GOODLATTE, HOUSE GOP VOTES TO GUT INDEPENDENT ETHICS OFFICE</a><br>
<a href=http://pilotonline.com/news/government/nation/hampton-roads-lawmakers-reported-to-the-capitol-tuesday-here-s/article_95384799-91b7-518a-a3d2-0865e2ba396a.html>HAMPTON ROADS LAWMAKERS RETURN TO THE CAPITOL TUESDAY</a><br>
<a href=http://www.newsadvance.com/news/local/constituent-criticism-trump-tweets-push-back-against-goodlatte-ethics-changes/article_e9b76ea2-d1de-11e6-8f12-f34959d9295c.html>CONSTITUENT CRITICISM, TRUMP TWEETS PUSH BACK AGAINST GOODLATTE ETHICS CHANGES</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/virginia_politics/goodlatte-amendment-on-ethics-panel-scuttled/article_d7881b4c-d214-11e6-b2c3-8f3f252bfd8f.html>GOODLATTE AMENDMENT ON ETHICS PANEL SCUTTLED</a><br>

<h2>Economy/Business</h2>
<a href=http://thecarrollnews.com/news/2527/the-barber-of-hillsville>THE BARBER OF HILLSVILLE</a><br>
<a href=http://www.richmond.com/business/article_bd04a380-8e41-5d8e-b0e2-8d05cdae898a.html>COAL COUNTRY'S COMEBACK MAY BE A TALL ORDER</a><br>
<a href=http://www.fredericksburg.com/news/local/king_george/journal-paper-closing-next-month-barring-a-miracle/article_10bb2b8b-d829-5841-9297-e0010bd3a870.html>JOURNAL PAPER CLOSING NEXT MONTH, BARRING 'A MIRACLE'</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-oyster-harvest-dip-20161223-story.html>VIRGINIA OYSTER HARVEST DROPS BY 19,000 BUSHELS IN 2015-16</a><br>
<a href=http://www.roanoke.com/news/local/natural-bridge-hotel-pays-off-million-debt-as-attraction-recovers/article_dd67c454-915e-5b4f-b304-02b1158877a5.html>NATURAL BRIDGE HOTEL PAYS OFF $1 MILLION DEBT AS ATTRACTION RECOVERS FINANCIALLY</a><br>
<a href=http://www.newsadvance.com/work_it_lynchburg/news/rest-of-the-story-anheuser-busch-purchase-of-devils-backbone/article_6602b33f-cf3e-5066-b11f-a5912b677bbf.html>ANHEUSER-BUSCH PURCHASE OF DEVILS BACKBONE BRINGS EXPANSION TO NELSON BREWERY</a><br>
<a href=http://powersource.post-gazette.com/powersource/companies/2016/12/28/Virginia-mining-company-C-D-Coal-says-it-is-bankrupt/stories/201612230206>VIRGINIA MINING COMPANY SAYS IT IS BANKRUPT</a><br>
<a href=http://www.wsj.com/articles/the-land-of-a-thousand-teardowns-1482849846>THE LAND OF A THOUSAND TEARDOWNS</a><br>
<a href=http://www.shenvalleynow.com/news/article/settlement_dupont_pays_for_hatchery_renovations>SETTLEMENT: DUPONT PAYS FOR HATCHERY RENOVATIONS</a><br>

<h2>Editorials</h2>
<a href=http://www.richmond.com/opinion/our-opinion/article_13347e29-c65d-5567-bacb-e787e35c2d4f.html>GOV. MCAULIFFE'S SENSIBLE REFORMS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_83c5e259-b73c-5da2-a08d-49abfe05d105.html>ETHICS PANEL UPROAR WAS A SILLY FIGHT OVER NOTHING</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-misstep-in-the-starting-gate/article_99a1b989-cb0f-5182-819d-bc844f5add60.html>MISSTEP IN THE STARTING GATE</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-good-riddance-to-portsmouth-gag-order/article_e108ffa7-a920-5054-b154-a477f240ea35.html>GOOD RIDDANCE TO PORTSMOUTH GAG ORDER</a><br>
<a href=http://theenterprise.net/2016/12/01/a-conundrum/>A CONUNDRUM</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-sea-level-0105-20170104-story.html>KEEPING HEADS ABOVE WATER</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-smackdown-in-the-swamp/article_135636b9-c62e-5968-9900-724d3bbefa62.html>SMACKDOWN IN THE SWAMP</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-political-attacks-can-play-havoc/article_07e6a98e-d2d3-11e6-9c1c-d3cf98f801a7.html>POLITICAL ATTACKS CAN PLAY HAVOC</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-governor-s-mental-health-funding-is-wise-welcome/article_37e76a56-c91e-11e6-a9de-37c965b2bd7a.html>GOVERNOR'S MENTAL HEALTH FUNDING IS WISE, WELCOME</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-beach-should-conduct-disparity-study/article_fec614a2-9342-5668-8246-c0b49599edb1.html>BEACH SHOULD CONDUCT DISPARITY STUDY</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-some-good-news-about-juvenile-crime/article_497e0368-a6f9-5a19-a1a6-239fad2008f7.html>SOME GOOD NEWS ABOUT JUVENILE CRIME</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/opinion/editorials/editorial-goodlatte-caught-in-swamp-smackdown/article_1df5bf1e-d3a3-11e6-8527-17b9b96ad7d2.html>GOODLATTE CAUGHT IN SWAMP SMACKDOWN</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_019920ba-196d-5fee-acdd-17eab57f01a7.html>WITH TRANSGENDER BATHROOM BILL, BOB MARSHALL RIDES AGAIN</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-bay-clean-up-progress-earns-poor-marks/article_1e8a163f-1d34-51ee-97de-aa9e11699544.html>BAY CLEAN-UP PROGRESS EARNS POOR MARKS</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/diversity-in-the-teaching-ranks-matters/article_36b858f2-c950-11e6-8574-5728384f28d2.html>DIVERSITY IN THE TEACHING RANKS MATTERS</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-ominous-talk-on-trade/article_4faecd3d-5926-5904-ac52-8bc44cb04a5d.html>OMINOUS TALK ON TRADE</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-scanning-of-licenses-needs-limits/article_10508b96-cc41-11e6-bc1e-d70abb0c84e1.html>SCANNING OF LICENSES NEEDS LIMITS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_17233834-73c1-5522-bafb-ff64af125e50.html>VIRGINIA PLAYED A ROLE IN THE DECLINE OF THE DEATH PENALTY</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-germans-find-green-energy-is-complicated/article_498c7225-ccdb-5de1-bf5d-e0bb26440b6f.html>GERMANS FIND GREEN ENERGY IS COMPLICATED</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/cellphones-driving-a-deadly-mix/article_ed9e3f9c-d390-11e6-8d51-bb8837c28f0d.html>CELLPHONES, DRIVING A DEADLY MIX</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-foia-goal-1228-20161227-story.html>OUR FOIA, SIMPLIFIED</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-let-scientists-manage-menhaden-approach/article_e10092bf-c65d-51a3-8db7-4f71975d8aa6.html>LET SCIENTISTS MANAGE MENHADEN APPROACH</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-on-again-off-again-sentence-of-death/article_68f61921-4eb2-53b8-a227-90d2f3a02519.html>ON-AGAIN, OFF-AGAIN SENTENCE OF DEATH</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-bellamy-case-continues-to-sadden/article_68eb21a8-cc78-11e6-8c92-03ed4208f1d1.html>BELLAMY CASE CONTINUES TO SADDEN</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-culpeper-s-questionable-stand-on-mosque/article_bc638e40-1cdf-5c7b-a9c0-9e82cf19b575.html>CULPEPER'S QUESTIONABLE STAND ON MOSQUE</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-lawmakers-can-do-better-on-mental-health/article_3d54a409-7c2a-5bdc-a90a-327668140a08.html>LAWMAKERS CAN DO BETTER ON MENTAL HEALTH</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_8a7f758b-175f-5707-af1f-8c7b967c8970.html>WHAT SHOULD SCHOOLS DO ABOUT EXPLICIT BOOKS?</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-state-police-deserve-more-funding/article_92fafe06-cd4e-11e6-95c3-b7eaf654c9be.html>STATE POLICE DESERVE MORE FUNDING</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/put-limits-on-plate-reading-technology/article_b947a71c-cdfd-11e6-9a63-9b98f65e7b26.html>PUT LIMITS ON PLATE-READING TECHNOLOGY</a><br>
<a href=http://www.dailyprogress.com/starexponent/opinion/editorial-disablity-aid-poses-problem-in-virginia/article_e2c0e7db-0b24-5ecf-8178-36dab309da87.html>DISABLITY AID POSES PROBLEM IN VIRGINIA</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_69a1a5e3-494c-56f6-8ffb-a28ff95b5ff3.html>MORE SUNSHINE AT THE ASSEMBLY</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/state-needs-to-address-its-pay-gap/article_5b533ee2-ced8-11e6-a8e4-63c9cb92ecc5.html>STATE NEEDS TO ADDRESS ITS PAY GAP</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-want-to-save-the-coalfields-here-are-some-ideas/article_5891d485-9505-54b5-9157-dbad6d8139b7.html>WANT TO SAVE THE COALFIELDS? HERE ARE SOME IDEAS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_423fe6f3-092e-59f0-86c4-c4b04caf0e9f.html>WHAT MONEY WILL FIX IN MENTAL HEALTH, AND WHAT IT WON'T</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-jail-diversion-20170102-story.html>DON'T LOCK UP, REACH OUT</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-colleges-an-economic-idea-that-works/article_2ab94b04-7f00-552e-a072-68ce2ddd2736.html>COLLEGES: AN ECONOMIC IDEA THAT WORKS</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-how-to-fix-the-coalfields-part/article_cc334ee8-f816-5bae-8fca-7800a07eedcd.html>HOW TO FIX THE COALFIELDS, PART 2</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-medicaid-efficiencies-would-aid-virginians/article_1c15c910-2fc6-5f0b-9cb9-89cdbf74267e.html>MEDICAID EFFICIENCIES WOULD AID VIRGINIANS</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-ethics-0104-20170103-story.html>WATCHDOGS NEED TEETH</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-about-face-on-ethics-in-the-swamp/article_e3555517-eebd-59cb-9830-e38be9a2e167.html>ABOUT FACE ON ETHICS IN THE SWAMP</a><br>

<h2>Executive Branch</h2>
<a href=http://www.dailypress.com/news/politics/dp-nws-mcauliffe-education-bills-20170104-story.html>EDUCATION BILLS TARGET VIRTUAL LEARNING, STUDENT DEBT, LOOPHOLES IN VIRGINIA'S FINANCIAL AID SYSTEM</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-iud-budget-virginia-20170104-story.html>DEMOCRATS TRY AGAIN ON PROGRAM TO CURB ABORTIONS</a><br>
<a href=http://www.richmond.com/news/article_084ec33d-8f46-52b4-b8c1-84b67e0d04a5.html>MCAULIFFE TO SEEK STUDENT LOAN PROTECTIONS, EXPANDED ACCESS</a><br>
<a href=http://www.progress-index.com/news/20170104/new-package-includes-student-debt-virtual-education-assistance>NEW PACKAGE INCLUDES STUDENT DEBT, VIRTUAL EDUCATION ASSISTANCE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-bans-state-contracts-with-firms-engaged-in-anti-lbgt-discrimination/2017/01/05/5f701dc0-d35f-11e6-945a-76f69a399dd5_story.html?utm_term=.51a517eadaae>MCAULIFFE BANS STATE CONTRACTS WITH FIRMS ENGAGED IN ANTI-LGBT DISCRIMINATION</a><br>
<a href=http://www.dailyprogress.com/news/politics/state-contractors-ordered-to-abide-by-nondiscrimination-policies/article_987dab40-89db-51ad-a525-62fb2afbe47d.html>STATE CONTRACTORS ORDERED TO ABIDE BY NONDISCRIMINATION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_bdb5fde6-cd80-5ed8-95ee-96c9def3f748.html>MCAULIFFE SIGNS ANTI-BIAS ORDER</a><br>
<a href=http://pilotonline.com/news/government/virginia/virginia-governor-vows-to-veto--week-abortion-ban-bill/article_ac4ccec7-be3e-5dac-88ff-4331059081c8.html>VIRGINIA GOVERNOR VOWS TO VETO 20-WEEK ABORTION BAN BILL</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-proposes-criminal-justice-reforms/2017/01/03/4810ef3a-d1eb-11e6-9cb0-54ab630851e8_story.html?utm_term=.8ccc27a0c3fa>MCAULIFFE PROPOSES CRIMINAL JUSTICE REFORMS</a><br>
<a href=http://www.richmond.com/news/virginia/article_390e9595-bf77-56d1-ab5e-f51871cd4243.html>MCAULIFFE LOOKS TO ROLL BACK DRIVER'S LICENSE SUSPENSIONS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-mcauliffe-crime-legislation-20170103-story.html>MCAULIFFE: EASE UP ON SMALL THEFTS, NO MORE LICENSE SUSPENSIONS FOR UNPAID FINES</a><br>
<a href=http://www.dnronline.com/associated_press/virginia/new-governor-proposes-criminal-justice-reforms/article_6594281d-b67f-57cd-8704-0ab19918fb50.html>GOVERNOR PROPOSES CRIMINAL JUSTICE REFORMS</a><br>

<h2>From vpap.org</h2>
<a href=http://www.vpap.org/infographics/district-profile-state-senate-district-9/>INFOGRAPHIC: PROFILE OF 9TH STATE SENATE DISTRICT</a><br>
<a href=http://www.vpap.org/infographics/district-profile-house-district-85/>INFOGRAPHIC: PROFILE OF 85TH HOUSE DISTRICT</a><br>
<a href=http://www.vpap.org/updates/2407-top-vanews-stories-2016/>VANEWS: MOST-CLICKED STORIES OF 2016</a><br>
<a href=http://www.vpap.org/updates/2412-vpaps-top-visuals-2016/>THE YEAR'S TOP 10 DATA VISUALIZATIONS</a><br>

<h2>General Assembly</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/can-virginias-only-muslim-legislator-help-democrats-connect-with-trump-voters/2017/01/04/ea353eee-c622-11e6-bf4b-2c064d32a4bf_story.html?utm_term=.2a05a286b0b5>CAN VIRGINIA'S ONLY MUSLIM LEGISLATOR HELP DEMOCRATS CONNECT WITH TRUMP VOTERS?</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-lawmaker-proposes-a-bathroom-bill-to-restrict-public-bathroom-use-by-transgender-people/2017/01/04/a01580e2-d2a4-11e6-9cb0-54ab630851e8_story.html?utm_term=.63ce5f98d696>VIRGINIA LAWMAKER PROPOSES A 'BATHROOM BILL' TO RESTRICT PUBLIC BATHROOM USE BY TRANSGENDER PEOPLE</a><br>
<a href=http://www.richmond.com/news/virginia/article_215d4a0e-aaf9-580b-ad98-614548d6a70e.html>VIRGINIA LAWMAKER PROPOSES NORTH CAROLINA-STYLE BILL TO RESTRICT TRANSGENDER BATHROOM ACCESS</a><br>
<a href=http://www.heraldcourier.com/news/lawmakers-hear-from-public-on-mcauliffe-s-budget-proposals/article_8a35ab6c-e227-5742-a7ed-73fa2433720b.html>LAWMAKERS HEAR FROM PUBLIC ON MCAULIFFE'S BUDGET PROPOSALS</a><br>
<a href=http://www.insidenova.com/headlines/del-bob-marshall-introduces-transgender-bathroom-bill/article_8fb849cc-d2c3-11e6-a342-0b2dac3505fd.html>DEL. BOB MARSHALL INTRODUCES TRANSGENDER "BATHROOM BILL"</a><br>
<a href=http://www.swvatoday.com/news/article_91707b58-c3d8-11e6-bef3-d7902a66fc6f.html>WYTHE EIGHTH-GRADER APPOINTED GENERAL ASSEMBLY PAGE</a><br>
<a href=http://www.dailypress.com/news/gloucester-county/dp-nws-mid-physical-privacy-act-20170104-story.html>LAWMAKERS TO CONSIDER BATHROOM PRIVACY BILL</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-budget-hearing-20170104-story.html>BIG NEEDS, AND SOME RESULTS, ARE FOCUS OF BUDGET HEARING</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_bf6c3522-42c8-5f26-9c3e-f685d1cc8cea.html>DOZENS PLEAD WITH LAWMAKERS FOR SOCIAL SERVICES FUNDING</a><br>
<a href=http://www.roanoke.com/news/mcauliffe-on-proposed-bathroom-bill-we-will-not-tolerate-that/article_0bdab83a-2dc9-5104-9759-45cc18e3898f.html>MCAULIFFE ON PROPOSED 'BATHROOM BILL': 'WE WILL NOT TOLERATE THAT'</a><br>
<a href=http://www.winchesterstar.com/news/winchester/larock-files-bill-for-esas/article_af3cbba3-bfac-5ed2-a4ad-91daed31d84a.html>LAROCK AGAIN FILES SCHOOL CHOICE FUNDING BILL</a><br>
<a href=http://www.loudountimes.com/news/article/governor_vows_to_veto_larocks_20_week_abortion_ban_bill432>GOVERNOR VOWS TO VETO LAROCK'S 20-WEEK ABORTION BAN BILL</a><br>
<a href=http://rrecord.com/general-assembly-to-convene-wednesday/>GENERAL ASSEMBLY TO CONVENE WEDNESDAY</a><br>
<a href=http://www.vagazette.com/news/newsletter/dp-nws-evg-general-assembly-lobbyists-20161223-story.html>IN THE VIRGINIA GENERAL ASSEMBLY SESSION, A FOCUS ON THE BUDGET</a><br>
<a href=http://www.richmond.com/news/article_b1369ed5-5880-59a0-8b10-2b7d542eb59e.html>VIRGINIA LEGISLATION WOULD GIVE $15,000 TO WRONGFULLY IMPRISONED UPON RELEASE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-helsel-vmrc-20170105-story.html>DELEGATE MOVES TO ROLL BACK PENALTIES FOR COMMERCIAL FISHING VIOLATIONS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-evg-judge-openings-20161223-story.html>SEVERAL LAWYERS VYING FOR LOCAL JUDGESHIPS</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/bill-would-encourage-colleges-to-support-free-speech-rights/article_7ba46f26-183a-5cc8-a0ee-f39ccba2c4cf.html>BILL WOULD ENCOURAGE COLLEGES TO SUPPORT FREE SPEECH RIGHTS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_06f78d6f-03ad-572e-9c75-910dcc1c6fd4.html>HOUSE REPUBLICANS PITCH PLANS FOR ECONOMIC DEVELOPMENT, CUTTING REGULATION</a><br>
<a href=http://www.southwesttimes.com/2016/12/revised-request-heads-back-to-governor-legislators/>REVISED REQUEST HEADS BACK TO GOVERNOR, LEGISLATORS</a><br>
<a href=http://www.fauquier.com/news/del-marshall-proposes-bathroom-bill-restricting-access-to-birth-gender/article_1943f778-d2d2-11e6-aecf-1f5097366cdf.html>DEL. MARSHALL PROPOSES 'BATHROOM BILL' RESTRICTING ACCESS TO BIRTH GENDER</a><br>
<a href=http://www.insidenova.com/headlines/arlington-prosecutor-thinks-one-facet-of-va-drug-battle-is/article_3822dae0-c51e-11e6-acb0-b3ec93fef058.html>ARLINGTON PROSECUTOR THINKS ONE FACET OF VA. DRUG BATTLE IS TOO SEVERE</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/republicans-push-for-welfare-overhaul/article_31d765a0-cd7c-11e6-9a43-53487813ecbb.html>REPUBLICANS PUSH FOR WELFARE OVERHAUL</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-evg-legislative-streaming-virginia-20161223-story.html>VIRGINIA LEGISLATURE BEHIND OTHER STATES ON STREAMING</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/va-lawmaker-wants-porn-declared-a-public-health-hazard/2016/12/29/589a5854-cdeb-11e6-b8a2-8c2a61b0436f_story.html?utm_term=.1bbd38f57c7f>VA. LAWMAKER WANTS PORN DECLARED A PUBLIC HEALTH HAZARD</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/bill-aims-to-combat-distracted-driving/article_9b5f731a-cf10-11e6-8972-3327c9943fb5.html>BILL AIMS TO COMBAT DISTRACTED DRIVING</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/obenshain-s-charter-schools-bill-to-return/article_7b85046a-cf10-11e6-9ff2-43cb6729a3bf.html>OBENSHAIN'S CHARTER SCHOOLS BILL TO RETURN</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-shad-plank-1231-20161230-story.html>BILL PROPOSES FORMAL DEFINITION OF 'SEVERE MENTAL ILLNESS' FOR THE CODE OF VIRGINIA</a><br>
<a href=http://pilotonline.com/news/government/politics/local/del-daun-hester-to-run-for-norfolk-treasurer/article_549cfe3f-95fd-5f1c-b951-0a3b226ac57e.html>DEL. DAUN HESTER TO RUN FOR NORFOLK TREASURER</a><br>
<a href=http://www.godanriver.com/news/danville/stanley-pushing-pet-bills-in-general-assembly/article_2d5fe57a-cee3-11e6-b6f5-efdf360d8e4c.html>STANLEY PUSHING PET BILLS IN GENERAL ASSEMBLY</a><br>
<a href=https://www.washingtonpost.com/local/obituaries/charles-j-colgan-longest-serving-member-of-the-virginia-senate-dies-at-90/2017/01/03/cb94651a-cf68-11e6-a87f-b917067331bb_story.html?utm_term=.841d203ab729>CHARLES J. COLGAN, LONGEST-SERVING MEMBER OF THE VIRGINIA SENATE, DIES AT 90</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_13e0618c-6873-5f05-aa28-b5621776ee90.html>CHARLES J. COLGAN, VIRGINIA'S LONGEST-SERVING STATE SENATOR, DIES AT 90</a><br>
<a href=http://www.insidenova.com/headlines/sen-colgan-dies-at-age/article_f345a40a-d208-11e6-8fee-8f74dcd06e4a.html>SEN. COLGAN DIES AT AGE 90</a><br>
<a href=http://www.dailypress.com/news/crime/dp-nws-recusal-20170103-story.html>THREE CIRCUIT COURT JUDGES RECUSE THEMSELVES FROM LAWMAKER'S CASE</a><br>
<a href=http://www.fauquier.com/news/sen-charles-j-colgan-dies-at-age/article_d8d533ec-cf06-11e6-8aad-e775d3f398e6.html>SEN. CHARLES J. COLGAN DIES AT AGE 90</a><br>
<a href=http://www.insidenova.com/headlines/bill-would-give-localities-ability-to-snuff-out-smoking-in/article_4a15d418-d032-11e6-9600-ab3765769f95.html>BILL WOULD GIVE LOCALITIES ABILITY TO SNUFF OUT SMOKING IN THEIR PARKS</a><br>

<h2>Higher Education</h2>
<a href=http://www.swvatoday.com/news/washington_county/article_c7c64b72-ea4e-5a75-9095-8d4fe70bf8d3.html>FUNDRAISER EFFORT UNDERWAY TO SAVE DUCK POND</a><br>
<a href=http://pilotonline.com/news/local/education/higher-education/virginia-wesleyan-college-wants-more-students---it-s/article_57f66375-04e8-5d00-b82c-dc416fa22e0f.html>VIRGINIA WESLEYAN COLLEGE WANTS MORE STUDENTS - IT'S ALL PART OF A MASTER PLAN</a><br>

<h2>Local</h2>
<a href=http://www.shenvalleynow.com/news/article/agricultural_education_makes_comeback_in_warren_county>AGRICULTURAL EDUCATION MAKES COMEBACK IN WARREN COUNTY</a><br>
<a href=http://www.thenews-gazette.com/content/outgoing-council-member-suggests-changing-names-confederate-circle-rebel-ridge>OUTGOING COUNCIL MEMBER SUGGESTS CHANGING NAMES OF CONFEDERATE CIRCLE, REBEL RIDGE</a><br>
<a href=https://signin.verizon.com/sso/logout/logout.jsp?target=https://webmail.verizon.com/signin/Login.jsp?auth=t>MECKLENBURG COUNTY SCHOOL BOARD SUSPENDS SEASON, FIRES HEAD COACH</a><br>
<a href=http://www.fredericksburg.com/news/local/spotsylvania/spotsylvania-planners-endorse-proposal-that-would-allow-mosque-expansion/article_a766b275-20a6-55c3-b6db-f1bae8065530.html>SPOTSYLVANIA PLANNERS ENDORSE PROPOSAL THAT WOULD ALLOW MOSQUE EXPANSION</a><br>
<a href=http://pilotonline.com/news/government/local/what-to-do-with-farmland-in-southern-chesapeake-city-wants/article_eefcaa86-5767-5a60-8a1f-ad6e92ed0203.html>WHAT TO DO WITH FARMLAND IN SOUTHERN CHESAPEAKE? CITY WANTS YOUR HELP DECIDING</a><br>
<a href=http://pilotonline.com/news/government/local/don-t-worry-norfolk-your-treasurer-s-guilty-of-corruption/article_ad007cfe-5a08-545b-9d30-0b81b7b87ddd.html>DON'T WORRY, NORFOLK: YOUR TREASURER'S GUILTY OF CORRUPTION, BUT YOUR MONEY'S SAFE</a><br>
<a href=http://www.loudountimes.com/news/article/virginia_aclu_urges_loudoun_school_board_to_add_lgbtq_protection_to_its_pol>VIRGINIA ACLU URGES LOUDOUN SCHOOL BOARD TO ADD LGBTQ PROTECTION TO ITS POLICIES</a><br>
<a href=http://www.roanoke.com/news/local/as-politics-heats-up-in-warm-springs-critics-seek-to/article_4647afd6-1429-55d5-88be-3c4701f72cb5.html>AS POLITICS HEATS UP IN WARM SPRINGS, CRITICS SEEK TO REMOVE 3 BATH COUNTY SUPERVISORS</a><br>
<a href=http://www.chesterfieldobserver.com/news/2017-01-04/Real_Estate/After_policy_change_proffer_cases_rush_in.html>AFTER POLICY CHANGE, PROFFER CASES RUSH IN</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_acaeffc6-3928-501f-b843-f193989abb94.html>AS HE LEFT OFFICE, FORMER RICHMOND MAYOR JONES AUTHORIZED $166K IN SEVERANCE FOR APPOINTEES</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/petersburg/article_9e62e424-0885-5fea-86b3-5156e3c1e07b.html>AS PETERSBURG SCHOOLS IMPROVE, KENNETH PRITCHETT AGAIN NAMED SCHOOL BOARD CHAIRMAN</a><br>
<a href=http://www.richmond.com/news/local/hanover/article_bd42cf48-2ded-5618-8090-b732c3e13beb.html>HANOVER RESIDENTS CALL FOR HALT TO RESIDENTIAL DEVELOPMENT</a><br>
<a href=http://pilotonline.com/news/local/education/public-schools/emails-among-virginia-beach-schools-leaders-show-confusion-over-gay/article_42698bfa-9e4c-5094-bb52-03a0aa67daa6.html>SCHOOLS LEADERS' EMAILS SHOW CONFUSION OVER GAY-STRAIGHT ALLIANCE ASSEMBLY</a><br>
<a href=http://www.dailypress.com/news/isle-of-wight-county/dp-nws-iw-machinery-tools-tax-refund-20170105-story.html>ISLE OF WIGHT COUNTY REFUNDS TAXPAYERS $5.6 MILLION IN MACHINERY AND TOOLS TAXES</a><br>
<a href=http://www.dailyprogress.com/news/local/bellamy-resigns-ahs-teaching-position/article_4e20d9c6-cbc4-11e6-95d8-d39962baaa5c.html>CHARLOTTESVILLE COUNCILMAN TO RESIGN TEACHING JOB AFTER COMING UNDER FIRE FOR TWEETS</a><br>
<a href=http://pilotonline.com/news/local/crime/nsu-police-mistakes-led-to-false-charges-against-former-candidate/article_399004b0-6ced-5de4-962f-937582643a5f.html>NSU POLICE MISTAKES LED TO FALSE CHARGES AGAINST FORMER NORFOLK COUNCIL CANDIDATE, PROSECUTOR SAYS</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/article_1dbad489-d49d-5e17-aa61-38c5de7a4691.html>IN PETERSBURG, MEME MOCKS PROCESS AS EMBATTLED MAYOR SEEKS ANOTHER TERM</a><br>
<a href=http://www.sovanow.com/index.php?/news/article/decision_upheld_to_cancel_park_view_basketball_season/>DECISION UPHELD TO CANCEL PARK VIEW BASKETBALL SEASON</a><br>
<a href=http://www.insidenova.com/headlines/manassas-officials-face-subpoenas-in-trailer-park-legal-clash/article_8a32be84-cc6e-11e6-be74-478f0309d321.html>MANASSAS OFFICIALS FACE SUBPOENAS IN TRAILER PARK LEGAL CLASH</a><br>
<a href=http://pilotonline.com/news/local/crime/team-with-expert-knowledge-of-dui-laws-formed-to-prosecute/article_4758294f-d244-526b-b7ce-4b8a7a9461ed.html>PROSECUTOR FORMS SPECALIZED TEAM TO HANDLE DUI CASES</a><br>
<a href=http://www.dailypress.com/news/york-county/dp-nws-evg-sea-level-poquoson-20161223-story.html>POQUOSON'S ANSWER TO SEA LEVEL RISE? BUILDING HIGHER</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_01a5f800-7501-5638-9f4f-bd4162b79ba5.html>RICHMOND MAYOR-ELECT STONEY PLANS TWO DAYS OF INAUGURAL FESTIVITIES IN JANUARY</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/article_bf91ece8-ec62-566b-940d-fa44cea53fe4.html>CONSULTANTS: BILLING PRACTICE WORSENS PETERSBURG CASH FLOW WOES</a><br>
<a href=http://pilotonline.com/news/local/virginia-beach-city-councilwoman-says-she-lost-her-seat-because/article_cc849b00-a3f8-5ebe-8c23-d6b9db701bf7.html>VIRGINIA BEACH CITY COUNCILWOMAN SAYS SHE LOST HER SEAT BECAUSE OF STANCE ON LIGHT RAIL</a><br>
<a href=http://pilotonline.com/news/government/local/norfolk-sheriff-bob-mccabe-announces-retirement-months-after-saying-he/article_f7c71217-d8d0-5f10-8e63-0dc0fa4a382c.html>NORFOLK SHERIFF MCCABE ANNOUNCES RETIREMENT</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_e39e6a62-2edd-5cf6-8c36-1d537cfffcdc.html>RICHMOND'S ANNUAL PAYMENT TO REDSKINS DROPS TO $138,519</a><br>
<a href=http://www.nbc29.com/story/34157922/worries-grow-as-homicides-spike-in-virginias-capital-city>WORRIES GROW AS HOMICIDES SPIKE IN VIRGINIA'S CAPITAL CITY</a><br>
<a href=http://pilotonline.com/news/government/local/promising-transparency-and-a-new-day-in-portsmouth-john-rowe/article_1c19dac9-aeaf-57d9-8eaa-63db1d289b58.html>PROMISING TRANSPARENCY AND "A NEW DAY" IN PORTSMOUTH, JOHN ROWE IS SWORN IN AS MAYOR</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/murders-double-in-a-va-county-and-a-community-scrambles-for-answer/2016/12/29/a64d802c-c188-11e6-9578-0054287507db_story.html?utm_term=.fe3cff97b496>MURDERS DOUBLE IN A VA. COUNTY AND A COMMUNITY SCRAMBLES FOR ANSWERS</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/petersburg/article_e689920c-0f6d-5c60-ab02-859510f0f56b.html>CIVIC ACTIVISTS, ACLU CRITICIZE PETERSBURG'S MAYORAL SELECTION PROCESS</a><br>
<a href=http://www.progress-index.com/news/20170102/myers-seeks-second-term-as-petersburg-mayor>CONTROVERSIAL COUNCILOR 'UNSURE' ABOUT SUPPORT FROM COLLEAGUES</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_bc314e58-acdb-5c19-a522-d95c008fe546.html>LEVAR STONEY, RICHMOND'S YOUNGEST ELECTED MAYOR, TOOK OFFICE SUNDAY</a><br>
<a href=https://www.washingtonpost.com/local/social-issues/in-battle-over-proposed-prince-william-mosque-some-see-islamophobia/2017/01/01/2a3fe7b6-cedc-11e6-a87f-b917067331bb_story.html?utm_term=.f9b48eb870c1>IN BATTLE OVER PROPOSED PRINCE WILLIAM MOSQUE, SOME SEE ISLAMOPHOBIA</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_02695bbe-fa79-5132-87d1-8bd60a640799.html>RICHMOND SCHOOL WORKER URGES STONEY ON DAY ONE: 'JUST DO EVERYTHING YOU CAN'</a><br>
<a href=http://pilotonline.com/news/government/local/portsmouth-releases-the-hounds-to-scare-the-crap-out-of/article_c86bbdd2-9128-58c4-ac79-39829e329ee9.html>PORTSMOUTH RELEASES THE HOUNDS TO HERD GEESE AWAY FROM GOLF COURSE</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_e7c19972-98d3-5b95-beed-05e14bc6c599.html>NEW CITY COUNCIL PRESIDENT PROMISES TO 'FACE THE UGLIER PARTS OF OUR HISTORY'</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/petersburg/article_e52e9d81-2539-5b76-b23d-76283f7294ea.html>PETERSBURG COUNCIL ELECTS PARHAM AS MAYOR</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/democratic-progressives-seize-control-of-arlington-board-leadership/2017/01/03/c6f3067e-d1e3-11e6-a783-cd3fa950f2fd_story.html?utm_term=.8ad30cd0ab56>DEMOCRATIC PROGRESSIVES SEIZE CONTROL OF ARLINGTON BOARD LEADERSHIP</a><br>
<a href=http://pilotonline.com/news/government/local/portsmouth-council-gets-rid-of-rule-that-allowed-fines-against/article_4ec8e4ef-c99d-5101-b035-f7481c7acd72.html>PORTSMOUTH COUNCIL GETS RID OF RULE THAT ALLOWED $1,500 FINES AGAINST MEMBERS</a><br>
<a href=http://www.roanoke.com/news/local/roanoke/roanoke-council-hears-grim-budget-news-pushes-for-online-sales/article_2417e088-108e-5d7a-b525-da3b0748abee.html>ROANOKE COUNCIL HEARS GRIM BUDGET NEWS, PUSHES FOR ONLINE SALES TAX ACT</a><br>

<h2>Online News</h2>
<a href=http://wydaily.com/2016/12/08/from-drought-to-infestation-an-inside-look-at-the-lives-of-christmas-tree-farmers/>FROM DROUGHT TO INFESTATION, AN INSIDE LOOK AT THE LIVES OF CHRISTMAS TREE FARMERS</a><br>
<a href=http://www.politico.com/story/2017/01/trump-obama-virginia-governor-race-233255>TRUMP, OBAMA SET TO SHADOWBOX IN VIRGINIA GOVERNOR'S RACE</a><br>
<a href=http://www.economist.com/blogs/democracyinamerica/2016/12/suburbanising-south>VIRGINIA'S GOVERNOR RACE COULD BE A REFERENDUM ON DONALD TRUMP'S POLITICS</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-a-first-crack-at-defining-severe-mental-illness-in-the-code-of-virginia-20161228-post.html>A FIRST CRACK AT DEFINING SEVERE MENTAL ILLNESS IN THE CODE OF VIRGINIA</a><br>
<a href=http://www.virginiabusiness.com/news/article/the-big-reboot?utm_source=email&utm_medium=email&utm_campaign=daily>RAPIDLY SHIFTING INDUSTRY FORCES VIRGINIA TO SHAKE UP ITS IT SERVICES AGAIN</a><br>
<a href=http://potomaclocal.com/2016/12/30/senator-charles-j-colgan-in-hospice-care/>SENATOR CHARLES J. COLGAN IN HOSPICE CARE</a><br>
<a href=http://bristowbeat.com/news/progressives-form-prince-william-coalition-for-2017/>CANDIDATES FORM PRINCE WILLIAM PROGRESSIVE COALITION FOR 2017</a><br>
<a href=http://wydaily.com/2017/01/04/driven-out-unregulated-courts-set-own-terms-for-collecting-fines-and-fees-from-virginia-drivers/>UNREGULATED, COURTS SET OWN TERMS FOR COLLECTING FINES AND FEES FROM VIRGINIA DRIVERS</a><br>

<h2>Op-Ed</h2>
<a href=http://www.roanoke.com/opinion/commentary/stewart-standing-for-virginians-right-to-keep-and-bear-arms/article_b4667cff-abc5-5a9c-9dd8-8f35c9b8f778.html>STEWART: STANDING FOR VIRGINIANS' RIGHT TO KEEP AND BEAR ARMS</a><br>
<a href=http://www.roanoke.com/opinion/commentary/bailey-chapman-et-al-we-support-mary-baldwin-university-on/article_a1680ddd-d7ec-5acb-9d7c-bb31d82feea9.html>BAILEY-CHAPMAN: WE SUPPORT MARY BALDWIN UNIVERSITY</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/nate-balis-progress-on-juvenile-justice-in-virginia/article_2cf6acc8-7cc7-5f9f-830e-6f7250abbd45.html>BALIS: PROGRESS ON JUVENILE JUSTICE IN VIRGINIA</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_ee2e547b-437c-5f51-80c9-a69a7d9ab657.html>STEINHILBER: VIRGINIA'S LEADERSHIP IN FLOOD RESILIENCE</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/gordon-morse-why-northam-should-welcome-perriello/article_b771b906-05ab-56bc-9884-fd47da4a099e.html>MORSE: WHY NORTHAM SHOULD WELCOME PERRIELLO</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_cc119d04-0b18-5fc1-b4aa-d95a3167236b.html>HAGUE: VIRGINIANS' PRIVACY AND SECURITY AT RISK</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/aubrey-layne-trump-s-infrastructure-plan-is-no-magic-bullet/article_80f91c83-9581-5722-a3d5-d07adec1c852.html>LAYNE: TRUMP'S INFRASTRUCTURE PLAN IS NO MAGIC BULLET</a><br>
<a href=https://www.washingtonpost.com/opinions/metros-watchdogs-are-part-of-the-problem/2016/12/30/67b25fd4-cd10-11e6-a747-d03044780a02_story.html?utm_term=.2f94a0e1da82>SARGENT: METRO'S 'WATCHDOGS' ARE PART OF THE PROBLEM</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/brian-cannon-voters-should-pick-their-representatives/article_cc06efe1-00a2-5531-aeeb-0288a5d97a7d.html>CANNON: VOTERS SHOULD PICK THEIR REPRESENTATIVES</a><br>
<a href=http://www.roanoke.com/opinion/commentary/christopulos-virginia-s-blue-ridge-or-virginia-s-pipeline-alley/article_6eeb8b60-5d5c-5860-965c-bea37d94b4f0.html>CHRISTOPULOS: VIRGINIA'S BLUE RIDGE OR VIRGINIA'S PIPELINE ALLEY?</a><br>
<a href=http://www.roanoke.com/opinion/commentary/mutter-expect-no-major-changes-in-health-insurance-in/article_21b77b20-372b-52a7-8cd1-c1f41a2dfdb5.html>MUTTER: EXPECT NO MAJOR CHANGES IN HEALTH INSURANCE IN 2017</a><br>

<h2>State Elections</h2>
<a href=http://www.nvdaily.com/news/2017/01/vogel-accused-of-foul-play-on-campaign-trail/>VOGEL ACCUSED OF FOUL PLAY ON CAMPAIGN TRAIL</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/former-democratic-congressman-threatens-to-scramble-race-for-va-governor/2017/01/04/d0e9fa9e-d2e1-11e6-a783-cd3fa950f2fd_story.html?utm_term=.41e10493c478>FORMER DEMOCRATIC CONGRESSMAN THREATENS TO SCRAMBLE RACE FOR VA. GOVERNOR</a><br>
<a href=http://www.nytimes.com/2017/01/04/us/tom-perriello-virginia-governor.html?_r=0>UNEXPECTED CANDIDACY UPENDS VIRGINIA DEMOCRATS' PLANS FOR KEY GOVERNOR RACE</a><br>
<a href=http://www.richmond.com/news/virginia/article_8e430167-494b-5633-bd87-c5e2d1562c57.html>SOURCES: FORMER CONGRESSMAN TOM PERRIELLO TO RUN FOR GOVERNOR, SHAKING UP DEMOCRATIC FIELD</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia-beach-democrat-hauls-in-money-from-all-states-in/article_099f1ce3-303a-5b82-920b-9a12b1fe13b3.html>VIRGINIA BEACH DEMOCRAT HAULS IN MONEY FROM ALL 50 STATES IN BID TO TAKE HOUSE SEAT</a><br>
<a href=http://www.newsadvance.com/news/local/senate-candidates-weigh-in-on-issues-ahead-of-tuesday-s/article_c1d55a88-d2f7-11e6-917b-17a726622f66.html>SENATE 22 CANDIDATES WEIGH IN ON ISSUES AHEAD OF TUESDAY'S SPECIAL ELECTION</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-shakeup-in-the-governor-s-race-nyt-says-perriello-will-run-20170104-post.html>SHAKE-UP IN THE GOVERNOR'S RACE: ANOTHER DEMOCRAT EMERGES</a><br>
<a href=http://www.nbc29.com/story/34188317/former-congressman-making-surprise-run-for-virginia-governor>FORMER CONGRESSMAN MAKING SURPRISE RUN FOR VIRGINIA GOVERNOR</a><br>
<a href=http://www.richmond.com/news/virginia/article_2123a95d-db43-59c6-b3af-fc34b8edde66.html>AFTER 'DEVASTATING' 2016 ELECTION, MCCLELLAN PLANS NEXT POLITICAL CHAPTER</a><br>
<a href=http://www.loudountimes.com/news/article/democrat_announces_campaign_for_virginias_32nd_house_district_seat432>DEMOCRAT ANNOUNCES CAMPAIGN TO CHALLENGE DEL. TAG GREASON</a><br>
<a href=http://www.richmond.com/news/local/article_572bea37-c0c6-5468-ae15-92185add2c94.html>LIBERTARIAN RAPPER'S ANTHEM FOR VIRGINIA SENATE RUN: 'YOU CAN'T WIN IT IF YOU DON'T GET IN IT'</a><br>
<a href=http://bigstory.ap.org/article/64c3e9439a8d44a0a6ed6507f8441cb6/former-congressman-making-surprise-run-virginia-governor>FORMER CONGRESSMAN MAKING SURPRISE RUN FOR VIRGINIA GOVERNOR</a><br>
<a href=http://www.newsadvance.com/work_it_lynchburg/news/jobs-and-economy-on-minds-of-senate-candidates/article_7c60fe2a-cbc8-11e6-ae4b-ff2478a6b14f.html>JOBS AND ECONOMY ON MINDS OF SENATE 22 CANDIDATES</a><br>
<a href=http://www.richmond.com/news/virginia/article_7889a3a3-8061-527a-8a6e-c2728222a435.html>PERRIELLO LAUNCHES BID FOR GOVERNOR, SAYING HE'LL FIGHT FOR 'FIREWALL' AGAINST TRUMP</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/guess-whos-coming-to-the-primary-va-dems-get-unexpected-candidate/2017/01/05/a908e3e6-d363-11e6-945a-76f69a399dd5_story.html?utm_term=.15b0ec9070a0>A SURPRISE CANDIDATE BRINGS 2016 PRESIDENTIAL DYNAMICS TO VIRGINIA GOVERNOR'S RACE</a><br>
<a href=http://www.godanriver.com/news/danville/perriello-launches-gubernatorial-campaign-with-danville-stop/article_e1dfb2e6-d366-11e6-bf0f-0bbb45e7d1ff.html>PERRIELLO LAUNCHES GUBERNATORIAL CAMPAIGN WITH DANVILLE STOP</a><br>
<a href=http://www.dailyprogress.com/news/virginia_politics/perriello-makes-run-for-governor-official/article_4e7b2d46-d357-11e6-9db6-07e61ad0bc05.html>PERRIELLO MAKES RUN FOR GOVERNOR OFFICIAL</a><br>
<a href=http://www.fauquier.com/prince_william_times/transgender-journalist-challenges-bob-marshall-for-th-house-seat/article_d3522202-d287-11e6-b123-6b5b8a197d31.html>TRANSGENDER JOURNALIST CHALLENGES BOB MARSHALL FOR 13TH HOUSE SEAT</a><br>
<a href=http://www.newsadvance.com/news/local/hines-previously-registered-to-vote-outside-senate-district/article_c719138a-cc95-11e6-9cfc-f7245f27a9ca.html>HINES PREVIOUSLY REGISTERED TO VOTE OUTSIDE SENATE DISTRICT 22</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/a-fourth-republican-enters-the-race-for-virginia-governor/2016/12/28/1a526660-cc72-11e6-a87f-b917067331bb_story.html?utm_term=.84d11e984b67>A FOURTH REPUBLICAN ENTERS THE RACE FOR VIRGINIA GOVERNOR</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_1d6f41bc-efb2-5e6b-abf4-d188d3485ea7.html>BOURNE TOPS LIST OF POSSIBLE CONTENDERS FOR POSSIBLY OPEN RICHMOND-AREA HOUSE SEAT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/the-gop-race-for-lieutenant-governor-is-getting-ugly-in-virginia/2016/12/31/95c84ed0-cf84-11e6-a747-d03044780a02_story.html?utm_term=.a79da58f003d>THE GOP RACE FOR LIEUTENANT GOVERNOR IS GETTING UGLY IN VIRGINIA</a><br>
<a href=http://www.loudountimes.com/news/article/sen._jill_vogel_embroiled_in_email_scandal432>SEN. JILL VOGEL EMBROILED IN EMAIL SCANDAL</a><br>
<a href=http://www.winchesterstar.com/news/clarke/vogel-strongly-denies-connection-to-scandal/article_7cd28f30-4fe3-51fb-be6f-35b47ffd6ba8.html>VOGEL STRONGLY DENIES CONNECTION TO SCANDAL</a><br>
<a href=http://www.timesvirginian.com/news/article_e8acf0a6-d1f0-11e6-b642-f3d96c16ef89.html>PEAKE MAKES FINAL PUSH FOR VA STATE SENATE IN 22ND DISTRICT</a><br>

<h2>State Government</h2>
<a href=http://www.richmond.com/news/article_76c37487-9df6-51c2-bd14-0a116b222028.html>VIRGINIA ATTORNEY GENERAL AGAIN ASKS THAT EXONERATION BID IN 1977 RAPE CASE BE DENIED</a><br>
<a href=https://www.washingtonpost.com/news/true-crime/wp/2016/12/23/are-the-police-tracking-you-push-to-restrict-license-plate-readers-heads-to-va-supreme-court/?utm_term=.68f59290304e>PUSH TO RESTRICT LICENSE PLATE READERS HEADS TO VA. SUPREME COURT</a><br>
<a href=http://www.richmond.com/news/local/article_0aebf31b-5ad6-56b9-84bc-f859b9066046.html>PARENT-NOTIFICAITON PROPOSAL REKINDLES CENSORSHIP DEBATE</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/vdot-anticipated-to-allocate-billion-for-local-roads-this-year/article_5caaa535-078f-500f-94ea-7f9cf1977afb.html>VDOT ANTICIPATED TO ALLOCATE $1 BILLION FOR LOCAL ROADS THIS YEAR</a><br>
<a href=http://www.nbc29.com/story/34188347/permits-approved-for-2-new-solar-facilities>PERMITS APPROVED FOR 2 NEW SOLAR FACILITIES</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_40739cae-db83-5e2f-808a-04a4759693bc.html>LAWYERS FOR STATE OPPOSE ANY HALT TO EXECUTION OF RICKY GRAY</a><br>
<a href=http://www.richmond.com/news/virginia/article_d8d6479f-d325-5640-a831-5411a5a87b4c.html>VIRGINIA DEPARTMENT OF HEALTH PUSHES TO LEGALIZE SYRINGE SERVICES PROGRAMS</a><br>
<a href=http://www.richmond.com/news/local/article_998b8b69-5123-5d94-9bd0-302acdf849b0.html>NEW REPORTING RULES TO GIVE FULLER PICTURE OF CHILDHOOD LEAD EXPOSURE IN VA.</a><br>
<a href=http://pilotonline.com/news/government/local/investigation-into-hampton-roads-regional-jail-is-culmination-of-issues/article_9b8fb88a-3b90-5e02-8055-1687653a6304.html>INVESTIGATION INTO HAMPTON ROADS REGIONAL JAIL IS CULMINATION OF ISSUES KNOWN ABOUT FOR YEARS</a><br>
<a href=http://www.richmond.com/business/local/article_aa32fcf0-a194-546c-b4ae-306a6cbb0789.html>VDOT PARTNERING WITH WAZE TRAFFIC APP TO HELP DRIVERS AVOID BACKUPS</a><br>
<a href=http://pilotonline.com/news/local/caring-for-virginia-s-mentally-ill-inmates-an-expensive-problem/article_9b8fb88a-3b90-5e02-8055-1687653a6304.html>AN EXPENSIVE PROBLEM COMPLICATED BY A BITTER PARTISAN DEBATE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-evg-jail-diversion-20161224-story.html>DIVERSION FROM JAIL FOR MENTAL HEALTH STARTING EARLIER</a><br>
<a href=http://www.newsleader.com/story/news/local/health-care/2016/12/28/pharmacies-get-bad-marks-often-but-public-doesnt-know/94663568/>PHARMACIES GET BAD MARKS OFTEN, BUT PUBLIC DOESN'T KNOW</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-medicaid-specialty-drugs-20161229-story.html>SPECIALTY DRUG PRICES CONTINUE TO PRESSURE MEDICAID</a><br>
<a href=http://www.newsleader.com/story/news/local/health-care/2016/12/30/state-improving-transparency-after-investigative-reporting/95601664/>STATE IMPROVING TRANSPARENCY AFTER INVESTIGATIVE REPORTING</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/proposal-would-require-virginia-schools-to-notify-parents-of-sexually-explicit-literature/2016/12/31/be6ccc98-cea9-11e6-a87f-b917067331bb_story.html?utm_term=.32164d851e92>VA. POLICY WOULD GIVE PARENTS A SAY IN SCHOOL LITERATURE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-juvenile-justice-20161221-story.html>REPORT: INCREASE IN PROGRAMS FOR AT-RISK KIDS IS LEADING TO FEWER KIDS BEING LOCKED UP</a><br>
<a href=http://pilotonline.com/news/military/local/so-you-want-to-donate-to-a-charity-finding-a/article_c77d5433-9238-5c48-be2a-ea0327368f3e.html>SO YOU WANT TO DONATE TO A CHARITY? FINDING A RESPONSIBLE ONE IN VIRGINIA CAN BE DAUNTING</a><br>
<a href=http://www.roanoke.com/news/virginia/virginia-prisons-in-solitary-confinement-reduction-effort/article_ae5fc0b4-0028-517f-bb71-24c50578a309.html>VIRGINIA PRISONS IN SOLITARY CONFINEMENT REDUCTION EFFORT</a><br>
<a href=http://www.richmond.com/news/article_3d8ecc4a-3111-5c8a-96d6-f2469328f39c.html>HEARING ON CHALLENGE TO RICKY GRAY EXECUTION SET FOR TUESDAY</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/prince-george/article_6b2e0df0-fa97-560e-b6f8-414e8007a18c.html>JUDGE FOUND DEAD IN PRINCE GEORGE COURTHOUSE</a><br>
<a href=http://valawyersweekly.com/2016/12/30/judicial-guidance-panel-gets-new-member/>JUDICIAL GUIDANCE PANEL GETS NEW MEMBER</a><br>
<a href=http://www.richmond.com/news/local/chesterfield/article_09a08ef1-3af8-5d35-9aff-78540b074699.html>DECISION ON DELAYING RICKY GRAY'S JAN. 18 EXECUTION TO COME NO LATER THAN NEXT WEEK</a><br>
<a href=http://www.progress-index.com/news/20170103/virginia-says-lethal-injection-drugs-are-safe-execution-should-continue?rssfeed=true>VIRGINIA SAYS LETHAL INJECTION DRUGS ARE SAFE, EXECUTION SHOULD CONTINUE</a><br>
<a href=http://www.richmond.com/business/local/article_448097aa-0285-57db-b4af-7bb6c22810bd.html>AUTO DEALERS GROUP APPEALS DMV RULING ON TESLA STORE IN HENRICO</a><br>

<h2>The Friday Read</h2>
<a href=http://pilotonline.com/news/local/history/along-north-carolina-virginia-border-a-tiny-turn-in-the/article_6890c165-4aef-5b4c-93ec-70777170267b.html>ALONG NC-VIRGINIA BORDER, A TINY TURN IN THE MAP AND A HISTORY OF LIES AND CONTROVERSY</a><br>
<a href=http://www.nytimes.com/2016/12/28/magazine/afghanistan-soldier-ptsd-the-fighter.html?rref=collection%2Fsectioncollection%2Fmagazine&action=click&contentCollection=magazine&region=rank&module=package&version=highlights&contentPlacement=2&pgtype=sectionfron>THE FIGHTER</a><br>

<h2>Transportation</h2>
<a href=http://culpepertimes.com/2016/12/21/western-outer-loop-open/158933/>WESTERN OUTER LOOP OPEN</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/non-compete-agreement-in-one-virginia-tunnel-project-haunts-another/2016/12/24/7fa8940e-c889-11e6-bf4b-2c064d32a4bf_story.html?utm_term=.3ec8c4fadda1>NON-COMPETE AGREEMENT IN ONE VIRGINIA TUNNEL PROJECT HAUNTS ANOTHER</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_5a490c95-d713-533f-bdef-0e27095078e6.html>LAYNE PROMOTES PLANES, TRAINS AND AUTOMOBILES - AND ROCKETS, DRONES</a><br>
<a href=http://www.wsj.com/articles/states-wire-up-roads-as-cars-get-smarter-1483390782>STATES WIRE UP ROADS AS CARS GET SMARTER</a><br>

<h2>TV/Radio</h2>
<a href=http://www.wdbj7.com/content/news/Habeeb-proposes-legislation-to-address-felon-rights-restoration-in-Virginia-409590965.html>HABEEB PROPOSES LEGISLATION TO ADDRESS FELON RIGHTS RESTORATION IN VIRGINIA</a><br>
<a href=http://www.wdbj7.com/content/news/Candidates-for-Lynchburg-area-state-senate-seat-share-views-at-public-forum-409721075.html>CANDIDATES FOR LYNCHBURG-AREA STATE SENATE SEAT SHARE VIEWS AT PUBLIC FORUM</a><br>
<a href=http://wtop.com/virginia/2017/01/major-voting-changes-virginia-proposed/>VOTING CHANGES IN VIRGINIA PROPOSED IN ASSEMBLY</a><br>
<a href=http://wtop.com/sprawl-crawl/2016/12/va-driving-changes-horizon/>LAWMAKERS MULL A SERIES OF VIRGINIA DRIVING LAWS, TAXES IN SHORT JANUARY SESSION</a><br>
<a href=http://www.nbcwashington.com/news/local/Virginia-Lt-Governor-Promotes-Plan-to-Give-Women-Free-IUDs-409834305.html>VIRGINIA LT. GOVERNOR PROMOTES PLAN TO GIVE WOMEN FREE IUDS</a><br>
<a href=http://www.nbc29.com/story/34137219/hospital-leaders-proposing-plans-to-improve-virginias-health-system>HOSPITAL LEADERS PROPOSING PLANS TO IMPROVE VIRGINIA'S HEALTH SYSTEM</a><br>
<a href=http://wvtf.org/post/obama-commutes-drug-sentences-virginia-inmates-targeted#stream/0>AS OBAMA COMMUTES DRUG SENTENCES, VIRGINIA INMATES TARGETED</a><br>
<a href=http://www.wcyb.com/news/virginia-bill-to-limit-phone-and-gps-use-while-driving/236049258>VIRGINIA BILL TO LIMIT PHONE AND GPS USE WHILE DRIVING</a><br>
<a href=http://wvtf.org/post/special-elections-could-virginias-senate-flip#stream/0>TURNOUT A FACTOR IN STATE SENATE SPECIAL ELECTION</a><br>

<h2>Virginia Other</h2>
<a href=http://www.swvatoday.com/news/article_2f19bc22-b897-11e6-8842-337eafe2dd64.html>LOTTERY WINNER'S HOUSE BURNS IN ROCKY GAP</a><br>
<a href=http://www.shenvalleynow.com/news/article/warren_beatty_features_front_royal_in_new_film_rules_dont_apply>WARREN BEATTY FEATURES FRONT ROYAL IN NEW FILM, 'RULES DON'T APPLY'</a><br>
<a href=http://www.roanoke.com/news/local/franklin_county/state-feds-call-for-improved-pipeline-environmental-impact-statement/article_be89bea6-4a36-5734-8d54-cbb5d03a634e.html>STATE, FEDS CALL FOR IMPROVED PIPELINE ENVIRONMENTAL IMPACT STATEMENT</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/madison-service-dog-business-now-faces-in-fines/article_f1bb87dd-4564-51f9-979c-1a3bd7a4b0b3.html>MADISON SERVICE DOG BUSINESS NOW FACES $68,000 IN FINES</a><br>
<a href=http://pilotonline.com/news/local/environment/proposal-would-do-a-lot-to-clean-the-chesapeake-bay/article_6c38a67a-c66a-5ec8-baec-653ddefcd197.html>WOULD CHESAPEAKE BAY PROPOSAL LET OTHER POLLUTERS OFF THE HOOK?</a><br>
<a href=http://www.fredericksburg.com/news/local/king_george/report-addresses-some-local-concerns-about-fracking/article_e74b2cef-a59b-590a-a787-4842305b9f92.html>REPORT ADDRESSES SOME LOCAL CONCERNS ABOUT FRACKING</a><br>
<a href=http://www.richmond.com/news/virginia/article_73539b40-3b21-55ed-ba82-4291cd3796c5.html>VA. FIREARM SALES NEARLY DOUBLED DURING OBAMA PRESIDENCY FROM BUSH YEARS</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-cbf-state-of-bay-report-20170105-story.html>CHESAPEAKE BAY HEALTH SCORES C- IN NEW REPORT</a><br>
<a href=http://www.roanoke.com/news/crime/u-s-attorney-john-fishwick-to-resign-return-to-private/article_b0051880-2fb5-5a00-bb40-25f97701e63c.html>U.S. ATTORNEY JOHN FISHWICK TO RESIGN, RETURN TO PRIVATE PRACTICE</a><br>
<a href=https://www.washingtonpost.com/local/md-politics/a-light-at-the-end-of-the-tunnel-for-long-awaited-medical-marijuana-program/2016/12/26/ef390ce8-c309-11e6-9578-0054287507db_story.html?utm_term=.2f85d768d02c>A 'LIGHT AT THE END OF THE TUNNEL' FOR LONG-AWAITED MEDICAL MARIJUANA PROGRAM</a><br>
<a href=http://www.richmond.com/business/article_b406a13b-0259-56f1-add8-b8b3da1e1e28.html>BUCKINGHAM APPROVES COMPRESSOR STATION FOR DOMINION PIPELINE OVER OPPOSITION FROM RESIDENTS</a><br>
<a href=http://www.richmond.com/news/virginia/article_2c965eeb-8cdb-5060-992e-a21c13f8d632.html>REPORT: CHESAPEAKE BAY'S HEALTH IS IMPROVING, BUT WORK REMAINS</a><br>
<a href=http://www.fredericksburg.com/news/environment/chesapeake-bay-improving-but-lots-of-cleanup-still-needed/article_59dd515e-2cf7-58af-acf7-96111e5cb56a.html>CHESAPEAKE BAY IMPROVING, BUT LOTS OF CLEANUP STILL NEEDED</a><br>
<a href=http://www.nbc29.com/story/34191687/report-finds-improvements-in-chesapeake-bay-health>REPORT FINDS IMPROVEMENTS IN CHESAPEAKE BAY HEALTH</a><br>
<a href=http://www.nytimes.com/2017/01/05/business/energy-environment/koch-brothers-fossil-fuels-minorities.html?_r=1>SENSING GAINS AHEAD UNDER TRUMP, THE KOCHS COURT MINORITIES</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-evg-sea-level-newport-news-20161223-story.html>NEWPORT NEWS IS LOOKING AT FLOODING, SEES SEA LEVEL RISE AS REGIONAL ISSUE</a><br>
<a href=http://www.dailypress.com/news/gloucester-county/dp-nws-evg-sea-level-mathews-20161223-story.html>MATHEWS SHORELINE THREATENED WHILE OFFICIALS DEBATE PLANNING</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/01/05/waynesboro-project-aims-cleaner-south-river-chesapeake/96217752/>WAYNESBORO PROJECT AIMS FOR CLEANER SOUTH RIVER, CHESAPEAKE</a><br>
<a href=http://www.wvgazettemail.com/news-cops-and-courts/20161227/wv-supreme-court-to-have-female-majority-for-1st-time>WV SUPREME COURT TO HAVE FEMALE MAJORITY FOR 1ST TIME</a><br>
<a href=http://pilotonline.com/news/government/politics/before-trump-s-election-their-organization-was-dead-now-female/article_0b13167d-9dae-510b-a945-46c0a4bff0b5.html>TRUMP'S VICTORY GIVES NEW LIFE TO WOMEN'S GROUP</a><br>
<a href=http://www.richmond.com/news/virginia/ap/article_f07ba3ce-fb7d-5efb-bd40-bf5813360c59.html>LAW ALLOWS HUGE EXPANSION OF HISTORIC PETERSBURG NATIONAL BATTLEFIELD</a><br>
<a href=http://www.dailypress.com/news/gloucester-county/dp-nws-evg-sea-level-gloucester-20161223-story.html>GLOUCESTER FOCUSES ON PLANNING, NOT CAUSES, TO ADDRESS SEA LEVEL RISE</a><br>
<a href=http://www.richmond.com/business/article_8e98ba37-dd42-51df-859d-0ebf2fa252a0.html>STUDY: IMPACT OF PIPELINE 'MINIMIZED'</a><br>
<a href=http://pilotonline.com/news/government/local/virginia-beach-norfolk-want-the-state-to-create-a-new/article_933cb313-1f98-5941-8d7b-230133a5cbeb.html>VIRGINIA BEACH, NORFOLK WANT THE STATE TO CREATE A NEW POSITION TO DEAL WITH FLOODING</a><br>
<a href=http://www.dailypress.com/news/isle-of-wight-county/dp-nws-evg-sea-level-isleofwight-20161223-story.html>ISLE OF WIGHT WILL ADDRESS SEA LEVEL RISE IN NEXT COMPREHENSIVE COUNTY PLAN</a><br>
<a href=http://www.dailypress.com/news/york-county/dp-nws-evg-sea-level-york-20161223-story.html>YORK COUNTY PUSHES NATURAL MEASURES TO COMBAT WETLAND LOSS, EROSION</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-evg-sea-level-hampton-20161223-story.html>HAMPTON RESIDENTS HOPE FOR THE BEST AS CITY GRAPPLES WITH RISING TIDES</a><br>
<a href=http://www.richmond.com/business/local/article_5c1c70ab-1991-5177-b8ca-fdb8ac8605b4.html>REPORT SHOWS VA. DOES BETTER THAN EXPECTED ON HEALTH CARE-ASSOCIATED INFECTIONS</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/local/pipeline-clears-enviro-hurdle-but-opponents-vow-to-fight-on/article_f04b1ec8-cef8-11e6-8809-d300af24447e.html>PIPELINE CLEARS ENVIRO HURDLE, BUT OPPONENTS VOW TO FIGHT ON</a><br>
<a href=http://www.dailypress.com/news/williamsburg/dp-nws-evg-sea-level-james-city----sea-level-change-plans-in-james-city-county-20161223-story.html>JAMES CITY COUNTY LOOKS AHEAD ON SEA LEVEL RISE</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-evg-black-rail-bird-20161223-story.html>RECLUSIVE 'FEATHERED MOUSE' DISAPPEARING FROM VIRGINIA</a><br>
