<a href=http://pilotonline.com/news/local/columnist/kerry-dougherty/kerry-dougherty-checking-in-on-virginia-beach-promises/article_65e55cb9-38c8-57be-bb53-b9b8480b980a.html>DOUGHERTY: CHECKING IN ON VIRGINIA BEACH PROMISES</a><br>
<a href=http://www.politifact.com/virginia/statements/2016/nov/29/donald-trump/trumps-pants-fire-serious-voter-fraud-claim-virgin/>POLITIFACT: TRUMP'S CLAIM OF "SERIOUS VOTER FRAUD" IN VIRGINIA</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-maryland-will-reap-millions-from-virginians-with-opening/article_c9e1a2e1-c41c-50db-b429-318440ba9ffa.html>CHESLEY: MARYLAND WILL REAP MILLIONS FROM VIRGINIANS WITH OPENING OF MGM CASINO</a><br>
<a href=http://pilotonline.com/news/local/columnist/kerry-dougherty/kerry-dougherty-taking-aim-at-books-again/article_f13b2d92-3925-526b-9b26-1a244ffb843f.html>DOUGHERTY: TAKING AIM AT BOOKS. AGAIN.</a><br>
<a href=http://www.richmond.com/news/local/michael-paul-williams/article_33ff0e3e-53d3-557c-a8a8-37ceb49b3c93.html>WILLIAMS: CITY HALL CLEANUP CAN'T START SOON ENOUGH</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_92d767e9-f304-59f3-be2d-18a3adb7e09d.html>POLITIFACT: MCAULIFFE'S PROMISE ON ABORTION CLINIC REGULATIONS</a><br>
<a href=http://www.martinsvillebulletin.com/opinion/is-the-product-worth-the-price/article_b93606ce-b836-11e6-8732-c34d88bbfa58.html>CARLTON: IS THE PRODUCT WORTH THE PRICE?</a><br>
<a href=http://www.politifact.com/virginia/statements/2016/nov/28/don-beyer/don-beyer-wrongly-says-us-has-surpluses-its-trade-/>POLITIFACT: DON BEYER SAYS U.S. HAS SURPLUSES WITH ALL OF ITS TRADE AGREEMENT NATIONS</a><br>
<a href=http://www.politifact.com/virginia/statements/2016/nov/21/corey-stewart/corey-stewart-stretches-ed-gillespies-statements/>POLITIFACT: COREY STEWART SAYS ED GILLESPIE ONLY CRITICIZED DONALD TRUMP</a><br>
<a href=http://www.roanoke.com/news/dan_casey/casey-latest-nra-survey-is-full-of-malarkey/article_dd33c2eb-9e86-5e33-be5a-346614bcac5d.html>CASEY: LATEST NRA SURVEY IS FULL OF MALARKEY</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-grand-deal-for-state-is-less-so-for/article_f81c1d94-022a-5937-904b-2cc33c7f6751.html>CHESLEY: GRAND DEAL FOR STATE IS LESS SO FOR PORT CITY</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_d74a5cfc-0a27-5144-8fd5-72941f5740c6.html>SCHAPIRO: VIRGINIA REPUBLICANS GO BACK TO THE FUTURE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/kaine-pressures-senate-colleagues-trump-for-authorized-war-against-islamic-state/2016/11/30/1dfa6a08-b726-11e6-959c-172c82123976_story.html?utm_term=.9f80f10cb968>KAINE PRESSURES SENATE COLLEAGUES, TRUMP FOR AUTHORIZED WAR AGAINST ISLAMIC STATE</a><br>
<a href=http://www.dailypress.com/news/military/dp-nws-kaine-trump-military-20161130-story.html>KAINE: TRUMP SPENDING FREEZE INJECTS 'UNCERTAINTY' INTO MILITARY BUDGET</a><br>
<a href=http://pilotonline.com/news/government/nation/military-pay-raise-is-coming-but-there-s-less-certainty/article_0d770781-9fed-58e3-9e0d-0c8ce92d2bf8.html>MILITARY PAY RAISE IS COMING, BUT THERE'S LESS CERTAINTY ABOUT OTHER 2017 DEFENSE SPENDING</a><br>
<a href=http://pilotonline.com/news/government/nation/kaine-pushes-again-for-congressional-vote-on-war-against-islamic/article_ddbf3c40-9f7a-5494-9408-96c5ffa77ee0.html>KAINE PUSHES AGAIN FOR CONGRESSIONAL VOTE ON WAR AGAINST ISLAMIC STATE</a><br>
<a href=http://blogs.wsj.com/washwire/2016/11/30/mark-warner-rules-out-2020-white-house-run-window-is-probably-shut/>MARK WARNER RULES OUT 2020 WHITE HOUSE RUN</a><br>
<a href=http://www.dailypress.com/news/dp-nws-kaine-future-20161121-story.html>KAINE: AFTER ELECTION DAY, AND RAKING THE YARD, IT'S BACK TO WORK</a><br>
<a href=http://www.fredericksburg.com/news/local/brat-looks-forward-to-working-with-trump/article_270a5755-f0d4-53ce-861a-aa3658792fa8.html>BRAT LOOKS FORWARD TO WORKING WITH TRUMP</a><br>
<a href=http://www.roanoke.com/news/crime/roanoke/sit-in-at-goodlatte-s-office-leads-to-trespassing-fine/article_64430a61-d6c9-56f1-a367-daf315849e1e.html>SIT-IN AT GOODLATTE'S OFFICE LEADS TO TRESPASSING FINE FOR PROTESTERS</a><br>
<a href=http://pilotonline.com/news/local/environment/two-meetings-on-menhaden-will-put-a-big-spotlight-on/article_3e9670cf-f2e6-581d-a25f-fd718c79e2b1.html>TWO MEETINGS ON MENHADEN WILL PUT A BIG SPOTLIGHT ON A LITTLE FISH</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/farm-bureau-talks-likely-trump-impact/article_87d89512-b6b3-11e6-beb4-73f0b3996528.html>FARM BUREAU TALKS LIKELY TRUMP IMPACT</a><br>
<a href=https://www.washingtonpost.com/news/capital-business/wp/2016/11/25/virginias-labor-force-showing-new-signs-of-life/?utm_term=.765c3423b2a2>VIRGINIA'S LABOR FORCE SHOWING NEW SIGNS OF LIFE</a><br>
<a href=http://pilotonline.com/business/ports-rail/port-stakeholders-get-update-on-project-that-would-give-hampton/article_f73e0d49-d1de-5c69-8850-0d0cec8d92b8.html>PORT STAKEHOLDERS GET UPDATE ON PROJECT THAT WOULD GIVE HAMPTON ROADS DEEPEST WATER ON EAST COAST</a><br>
<a href=http://www.richmond.com/business/article_03497ed7-9bf3-599f-88c3-c1f39079d5dd.html>SOUTHSIDE CELEBRATES GROUNDBREAKING OF SECOND DOMINION NATURAL GAS PLANT</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_04897c71-29a0-5ce1-94a3-58b97b5012d6.html>CURBING REGIONAL POLITICS, BOOSTING WORKFORCE CALLED KEY TO COMBATING VIRGINIA'S DISPARITIES</a><br>
<a href=http://www.loudountimes.com/news/article/with_media_excluded_chinese_leaders_assess_loudoun423>CHINESE OFFICIALS ASSESS LOUDOUN FOR RURAL OPPORTUNITIES IN CLOSED, UNANNOUNCED TRIP</a><br>
<a href=http://www.loudountimes.com/news/article/trump_administration_the_topic_of_conversation_at_loudoun_chamber_of_commer>TRUMP ADMINISTRATION THE TOPIC OF CONVERSATION AT LOUDOUN CHAMBER OF COMMERCE FORUM</a><br>
<a href=http://www.nbc29.com/story/33851066/new-adp-facility-in-norfolk-will-eventually-employ-1800>NEW ADP FACILITY IN NORFOLK WILL EVENTUALLY EMPLOY 1,800</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginias-first-hemp-crop-in-decades-could-signal-new-opportunity/2016/11/26/5dac6458-b195-11e6-8616-52b15787add0_story.html>VIRGINIA'S FIRST HEMP CROP IN DECADES COULD SIGNAL NEW OPPORTUNITY</a><br>
<a href=http://www.roanoke.com/news/local/radford/radford-organization-gets-million-to-train-swva-workers/article_db9b07f9-6eb0-5806-86ff-e27cf8034c64.html>RADFORD ORGANIZATION GETS $6 MILLION TO TRAIN SWVA WORKERS</a><br>
<a href=https://www.washingtonpost.com/news/capital-business/wp/2016/11/25/virginias-labor-force-showing-new-signs-of-life/>VIRGINIA'S LABOR FORCE SHOWING NEW SIGNS OF LIFE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/auto-dealers-sound-alarm-as-tesla-pushes-for-second-virginia-store/2016/11/27/371cb280-b0e0-11e6-8616-52b15787add0_story.html>AUTO DEALERS SOUND ALARM AS TESLA PUSHES FOR SECOND VIRGINIA STORE</a><br>
<a href=http://pilotonline.com/news/local/it-s-been-a-struggle-all-year-bad-weather-hurt/article_39558ea9-4513-5b96-a124-d25ace6691e5.html>"IT'S BEEN A STRUGGLE ALL YEAR." BAD WEATHER HURT SUFFOLK'S COTTON CROP</a><br>
<a href=http://www.heraldcourier.com/news/alpha-natural-resources-announces-resolution-to-unaccounted-for-expenses-discovered/article_2176d9ec-b67b-11e6-a002-6b07f5bea450.html>DEAL RESOLVES ALPHA'S BANKRUPTCY CONCERNS</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-wegmans-transparency-1130-20161129-story.html>SHOPPING FOR TRANSPARENCY</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-a-life-saving-decision-for-opioid-overdoses/article_f2ac8588-bbb0-5abe-beaa-5693ebae889e.html>A LIFE-SAVING DECISION FOR OPIOID OVERDOSES</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_69a952d7-3bc1-5756-a3a6-97e6cfbf2439.html>PROSECUTOR MAKES RIGHT CALL ON JONES INVESTIGATION</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-here-s-the-radical-change-that-sam-rasoul-thinks/article_9033fefa-2f0f-5bd0-8c1d-a03cf66342f8.html>HERE'S THE 'RADICAL CHANGE' THAT SAM RASOUL THINKS DEMOCRATS NEED</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-did-kaine-feel-a-knee-jerk/article_6e8e6ab0-1be7-54f1-ba79-95076d69b11c.html>DID KAINE FEEL A KNEE JERK?</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/renewable-clean-power-in-the-future/article_aba0bb32-b73f-11e6-8489-1367f1ed15d9.html>RENEWABLE, CLEAN POWER IN THE FUTURE</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-cuba-is-an-economic-opportunity-for-virginia/article_b2f97198-3a76-582c-a9c3-eaf832970c0b.html>CUBA IS AN ECONOMIC OPPORTUNITY FOR VIRGINIA</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_9e25a5b5-0495-5bc5-929a-cbe875136cf2.html>SENATORS REQUEST FUNDING FOR CARRIERS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_f88a2eb1-adfa-5418-8430-558cb8d8edca.html>PETERSBURG NEEDS SUNSHINE TO RESTORE TRUST</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/opioid-crisis-in-virginia-is-real-deadly/article_ea0a9546-b807-11e6-be40-af9dde4a0d6e.html>OPIOID CRISIS IN VIRGINIA IS REAL, DEADLY</a><br>
<a href=https://www.washingtonpost.com/opinions/virginias-would-be-deporter-in-chief/2016/11/26/e1445a00-ac40-11e6-8b45-f8e493f06fcd_story.html?utm_term=.cfd92be99a76>VIRGINIA'S WOULD-BE DEPORTER IN CHIEF</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-do-pipeline-economics-add-up/article_90d915ba-8d0b-5467-aa01-dd9df8738dff.html>DO PIPELINE ECONOMICS ADD UP?</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edit-foia-airport-1127-20161126-story.html>TRIAL BALLOON FOR AIRPORT</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/state-development-agency-in-dire-need-of-reforms/article_617f2b00-b34e-11e6-bd23-bbb3832825ba.html>STATE DEVELOPMENT AGENCY IN DIRE NEED OF REFORMS</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-a-dark-sky-park-for-the-coalfields/article_b59eda3d-56be-52d1-aaa0-3bfd369cb0e8.html#.WDnMgpxMR0c.twitter>A DARK SKY PARK FOR THE COALFIELDS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_eeddc815-71d5-5601-9d10-758a5439c879.html>OPIOID EPIDEMIC REQUIRES COMPASSION</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-bay-sea-level-rise-top-va-environmental-list/article_3e4bd71a-b4ba-5d0a-846f-8ed6f4df0de7.html>BAY, SEA-LEVEL RISE TOP VA. ENVIRONMENTAL LIST</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_9db57cf6-2f35-511d-a1a3-98966b8285ea.html>MAYOR-ELECT STONEY GETS OFF TO FAST START</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_9515baf4-d717-5cc6-9865-d94fe66693e4.html>AN IMPORTANT FIRST AMENDMENT REMINDER</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-county-may-need-money-donations-too/article_2fb29aca-b4a3-11e6-9a7c-c7b3b9a72a46.html>COUNTY MAY NEED MONEY DONATIONS, TOO</a><br>
<a href=https://www.washingtonpost.com/opinions/relief-for-i-66-riders-at-last/2016/11/27/569fe62a-b038-11e6-840f-e3ebab6bcdd3_story.html?utm_term=.4c187529cdb9>RELIEF FOR I-66 RIDERS, AT LAST</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-nothing-zany-about-effects-of-melting-arctic/article_38b407ef-4efa-597b-a7eb-2e24461c178d.html>NOTHING ZANY ABOUT EFFECTS OF MELTING ARCTIC</a><br>
<a href=http://www.richmond.com/zzstyling/view-editorial/article_c2a89777-0912-575c-9392-32a992fbe568.html>HISTORY LIVES IN DEBATES OVER CONFEDERATES, JEFFERSON</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-refilling-the-ranks-of-the-state-police/article_bb634fcc-5bb5-5729-9f4b-2d9bccb9ffd0.html>REFILLING THE RANKS OF THE STATE POLICE</a><br>
<a href=http://www.dailyprogress.com/news/local/inappropriate-tweets-from-bellamy-cause-some-to-call-for-his/article_2c5a86fa-b514-11e6-88b1-878551ca38ab.html>'INAPPROPRIATE' TWEETS FROM BELLAMY CAUSE SOME TO CALL FOR HIS REMOVAL</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/virginia-to-metro-board-members-shut-up-and-let-gm-wiedefeld-do-the-talking/2016/11/30/aded6d62-b72c-11e6-959c-172c82123976_story.html?utm_term=.bece90f0cff0>MCAULIFFE TO METRO BOARD MEMBERS: SHUT UP AND LET GM WIEDEFELD DO THE TALKING</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-upbeat-about-working-with-trump-says-clinton-is-done-with-politics/2016/11/30/e2324986-b71c-11e6-b8df-600bd9d38a02_story.html?utm_term=.f7b5f89ecb77>MCAULIFFE UPBEAT ABOUT WORKING WITH TRUMP, SAYS CLINTON IS DONE WITH POLITICS</a><br>
<a href=http://www.roanoke.com/news/local/roanoke/lt-gov-ralph-northam-carilion-leaders-discuss-opioid-crisis/article_1e25540b-52eb-5db2-bed6-470e9a72df5b.html>LT. GOV RALPH NORTHAM, CARILION LEADERS DISCUSS OPIOID CRISIS</a><br>
<a href=http://www.newsadvance.com/work_it_lynchburg/news/workforce-pipeline-initiative-highlighted-in-roundtable-with-lt-gov-northam/article_81fb8eef-90dd-5ec1-8338-a13441c5a4db.html>WORKFORCE PIPELINE INITIATIVE HIGHLIGHTED IN ROUNDTABLE WITH LT. GOV. NORTHAM</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-says-virginia-economy-getting-stronger-budget-shortfall-shrinking/2016/11/28/407a0d16-b598-11e6-b8df-600bd9d38a02_story.html>MCAULIFFE SAYS VIRGINIA ECONOMY GETTING STRONGER, BUDGET SHORTFALL SHRINKING</a><br>
<a href=https://www.washingtonpost.com/local/mcauliffe-improving-virginia-economy-means-less-budget-cuts/2016/11/28/317b6cf4-b5a9-11e6-939c-91749443c5e5_story.html>MCAULIFFE: IMPROVING VIRGINIA ECONOMY MEANS LESS BUDGET CUTS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_7667b486-9e3c-5197-b53e-5c3551ee52ed.html>GOVERNOR, LEGISLATORS 'CAUTIOUSLY OPTIMISTIC' ABOUT STATE REVENUES</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_2489edf3-55a4-5c40-a507-38ca2258ed02.html>GOP LAWMAKER CALLS ON MCAULIFFE TO REMOVE EDUCATION APPOINTEE OVER RACIST, SEXIST TWITTER HISTORY</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-bellamy-tweets-20161129-story.html>MCAULIFFE 'HORRIFIED' BY BOARD OF ED APPOINTEE'S RACIST, SEXIST, OBSCENE TWEETS</a><br>
<a href=http://www.fredericksburg.com/news/local/virginia-s-black-voters-turned-out-in-lower-rates-this/article_f5cfc44f-3885-5421-b432-6b10dc140a6c.html>VIRGINIA'S BLACK VOTERS TURNED OUT IN LOWER RATES THIS YEAR</a><br>
<a href=http://www.politico.com/story/2016/11/trump-illegal-voting-clinton-231860>TRUMP ALLEGES 'SERIOUS VOTER FRAUD' IN VIRGINIA</a><br>
<a href=http://www.richmond.com/news/local/government-politics/article_0f87d838-4aaa-5e4f-b717-6a342a00b89c.html>STEVE BANNON TALKS RICHMOND ROOTS</a><br>
<a href=https://www.washingtonpost.com/politics/trump-pushes-conspiracy-theory-that-millions-voted-illegally-for-clinton/2016/11/27/d3a78170-b4cd-11e6-b8df-600bd9d38a02_story.html?hpid=hp_rhp-top-table-main_transition-658pm%3Ahomepage%2Fstory>TRUMP PUSHES CONSPIRACY THEORY THAT 'MILLIONS' VOTED ILLEGALLY FOR CLINTON</a><br>
<a href=http://www.richmond.com/news/article_1df2c174-b837-58fe-9527-72d871ff08af.html>TRUMP ASSAILS RECOUNT EFFORT, SAYS VIRGINIA HAD 'SERIOUS VOTER FRAUD'</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-trump-virginia-vote-20161128-story.html>TRUMP ALLEGES MASSIVE FRAUD IN VIRGINIA VOTE, BUT NO EVIDENCE SEEN</a><br>
<a href=http://www.richmond.com/news/virginia/article_cb023923-6ab5-5cef-a0c5-6a4e834403b4.html>TRUMP CLAIMS 'SERIOUS VOTER FRAUD' IN VIRGINIA, BUT STATE ALLY SAYS NO 'MASS SCALE' FRAUD REPORTED</a><br>
<a href=http://www.dailyprogress.com/news/education/county-school-board-discusses-education-priorities-with-delegates/article_88395c7b-be13-5110-95b7-8690bcc48263.html>COUNTY SCHOOL BOARD DISCUSSES EDUCATION PRIORITIES WITH DELEGATES</a><br>
<a href=http://www.insidenova.com/news/arlington/potential-change-to-electoral-college-allocation-worries-arlington-officials/article_569198d6-b6f5-11e6-9ccd-c7a2b812f685.html>POTENTIAL CHANGE TO ELECTORAL-COLLEGE ALLOCATION WORRIES ARLINGTON OFFICIALS</a><br>
<a href=http://www.loudountimes.com/news/article/loudoun_leaders_express_concern_over_proffer_law_regulating_airbnb274>LOUDOUN SUPERVISORS EXPRESS CONCERN OVER PROFFER LAW, AIRBNB</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-school-legislators-20161129-story.html>SURPRISES IN SCHOOL FOR AREA LEGISLATORS</a><br>
<a href=http://www.winchesterstar.com/news/clarke/larock-not-giving-up-on-abortion-bill/article_66c57a4a-a781-5e15-a1a9-5dcc89b6b117.html>LAROCK NOT GIVING UP ON ABORTION BILL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_4835cbb4-46ec-5840-90a4-9c39b7d2d822.html>SASLAW SAYS COAL JOBS ARE NOT COMING BACK; STANLEY SAYS MEDICAID EXPANSION IS DEAD</a><br>
<a href=http://www.insidenova.com/headlines/local-legislators-anticipate-a-rough-session-in-richmond/article_dfc53d6e-b7c8-11e6-9c96-5f3f30f75ed8.html>LOCAL LEGISLATORS ANTICIPATE A ROUGH 2017 SESSION IN RICHMOND</a><br>
<a href=http://www.winchesterstar.com/news/clarke/legislators-lay-out-plans-for-session-at-chamber-meeting/article_dd6b3db9-7998-5c6e-a6ae-e4134ab13320.html>LEGISLATORS LAY OUT PLANS FOR SESSION AT CHAMBER MEETING</a><br>
<a href=http://www.nbc29.com/story/33848303/legislative-leaders-say-virginia-state-police-pay-a-priority>LEGISLATIVE LEADERS SAY VIRGINIA STATE POLICE PAY A PRIORITY</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-campaign-funds-self-pay-20161029-story.html>SPECIAL INTERESTS SPEND MILLIONS TO PAY VIRGINIA LEGISLATORS' BILLS</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-evg-vsp-salaries-budget-20161125-story.html>VIRGINIA STATE POLICE, DEPUTIES, CITE DIRE STRAITS IN CALL FOR RAISES</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/politics/landes-hanger-to-study-trump-impact-on-obamacare/article_033487d4-b434-11e6-a59c-879945da888b.html>LANDES, HANGER TO STUDY TRUMP IMPACT ON OBAMACARE</a><br>
<a href=http://www.fredericksburg.com/news/local/state-lawmaker-from-spotsy-proposes-changes-to-electoral-college-system/article_3bc03c90-0b6d-56af-8e11-aabfae59660e.html>STATE LAWMAKER FROM SPOTSY PROPOSES CHANGES TO ELECTORAL COLLEGE SYSTEM</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-evg-vsp-salaries-budget-20161125-story.html>VIRGINIA STATE POLICE, DEPUTIES, CITE DIRE STRAITS IN CALL FOR RAISES</a><br>
<a href=http://valawyersweekly.com/2016/11/28/legislators-anoint-fairfax-judge-candidates/>LEGISLATORS ANOINT FAIRFAX JUDGE CANDIDATE</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/education/financial-woes-make-co-ed-unit-a-must-mbu-officials/article_e223dcb4-b769-11e6-93ac-7b715122ecca.html>FINANCIAL WOES MAKE CO-ED UNIT A MUST, MBU OFFICIALS SAY</a><br>
<a href=http://www.newsleader.com/story/news/local/2016/12/01/mary-baldwin-goes-coed-stay-viable/94724798/>MARY BALDWIN GOES COED TO STAY 'VIABLE'</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/local/mary-baldwin-alumnae-group-seeks-delay-in-co-ed-program/article_799afd04-b830-11e6-8be4-1b0d27338cd7.html>MARY BALDWIN ALUMNAE GROUP SEEKS DELAY IN CO-ED PROGRAM</a><br>
<a href=http://www.richmond.com/news/virginia/article_b6ff8740-d5cc-5a24-b68f-b0879feb3e22.html>MARY BALDWIN LEADERS DEFEND COED DECISION</a><br>
<a href=http://bigstory.ap.org/article/68b63c27ed9f4daeba21af61447d3431/after-trump-rift-liberty-university-students-find-unity>AFTER TRUMP RIFT AT LIBERTY UNIVERSITY, STUDENTS FIND UNITY</a><br>
<a href=http://www.nytimes.com/aponline/2016/11/26/us/politics/ap-us-falwell-trump.html?_r=1>FALWELL SAYS TRUMP OFFERED HIM EDUCATION SECRETARY JOB</a><br>
<a href=http://www.richmond.com/news/virginia/article_8e25d55a-3d7e-5473-bcf0-5998faa3d2dc.html>THE GREAT JEFFERSON DEBATE CONTINUES AT U.VA.</a><br>
<a href=http://www.richmond.com/sports/college/article_6b0d1759-7c3d-5626-a5a0-ff7776bc267b.html>LIBERTY UNIVERSITY HIRES FORMER BAYLOR ATHLETIC DIRECTOR WHO RESIGNED DURING SEXUAL ASSAULT SCANDAL</a><br>
<a href=http://www.newsleader.com/story/news/local/2016/11/28/male-students-live-mbu-campus-first-time/94547832/>UNDERGRAD MEN TO JOIN MARY BALDWIN STUDENT BODY</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/report-backs-emu-actions-on-ex-vp/article_cbd8c17a-b5ea-11e6-a225-57e34489fc7b.html>REPORT BACKS EMU ACTIONS ON EX-VP</a><br>
<a href=http://www.newsadvance.com/sports/liberty_university/former-baylor-ad-mccaw-hired-as-liberty-university-s-new/article_ff67dd3e-b5a7-11e6-adad-9fb3b49a296c.html>FORMER BAYLOR AD MCCAW HIRED AS LIBERTY UNIVERSITY'S NEW ATHLETICS DIRECTOR</a><br>
<a href=http://www.roanoke.com/news/education/higher_education/hollins-university-announces-next-president/article_d189ea66-65d9-5bf9-bf40-0fd8b9ffa3bd.html>NEW HOLLINS UNIVERSITY PRESIDENT READY TO ROLL UP HER SLEEVES AND GET TO WORK</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/alexandria-facing-enormous-challenges-in-infrastructure-needs-manager-warns/2016/11/30/ee704606-b6b0-11e6-a677-b608fbb3aaf6_story.html?utm_term=.1bb682f0e1c8>ALEXANDRIA FACING 'ENORMOUS CHALLENGES' IN INFRASTRUCTURE NEEDS, MANAGER WARNS</a><br>
<a href=http://www.richmond.com/news/local/chesterfield/article_77e6dc19-ed9a-5a97-b7ea-2ed3f4f6b943.html>CHESTERFIELD LEADERS HONE LONG-TERM VISION FOR GROWTH</a><br>
<a href=http://pilotonline.com/news/local/crime/chesapeake-eyes-docket-to-keep-mentally-ill-including-vets-from/article_b4794298-85ba-5caf-9adf-c23493c14929.html>CHESAPEAKE EYES DOCKET TO HELP MENTALLY ILL, INCLUDING VETS</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/katie-couric-seeks-dismissal-of-defamation-lawsuit-filed-by-virginia/article_7cadd762-b6c6-5d9e-afc9-4b9839423976.html>LOUDOUN SCHOOL BOARD DEBATES ADDING LGBTQ PROTECTION TO EMPLOYMENT POLICIES</a><br>
<a href=http://pilotonline.com/news/local/crime/norfolk-housing-authority-official-bought-light-fixture-to-appease-treasurer/article_e4ce2013-31b5-576e-8fb3-11ec3adbd88e.html>NORFOLK HOUSING AUTHORITY OFFICIAL BOUGHT LIGHT FIXTURE TO APPEASE TREASURER ANTHONY BURFOOT</a><br>
<a href=https://www.washingtonpost.com/local/prosecutor-no-charges-after-richmond-mayor-investigation/2016/11/30/01c5cae6-b706-11e6-939c-91749443c5e5_story.html?utm_term=.175d9afa6e80>PROSECUTOR: NO CHARGES AFTER RICHMOND MAYOR INVESTIGATION</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_1a66c924-10b7-5a69-852d-e2adf83ba689.html>PROSECUTOR: MAYOR'S CHURCH 'SMACKS OF CRONYISM,' BUT NO CHARGES FILED</a><br>
<a href=http://www.roanoke.com/news/local/roanoke/trash-train-a-two-time-no-show-after-word-of/article_fa42d3fe-37b0-58d3-b1a7-8cf9bbc951d9.html>TRASH TRAIN A TWO-TIME NO-SHOW AFTER WORD OF LANDFILL'S TRUCKING OPTION SURFACED</a><br>
<a href=http://www.heraldcourier.com/news/aep-presentation-kept-private-despite-concerns/article_78f73077-94ba-586b-a45e-7efcac3c7b9a.html>AEP PRESENTATION KEPT PRIVATE DESPITE CONCERNS</a><br>
<a href=http://www.chesterfieldobserver.com/news/2016-11-30/Front_Page/Could_county_get_relief_from_bay_cleanup_obligatio.html>COULD COUNTY GET 'RELIEF' FROM BAY CLEANUP OBLIGATIONS?</a><br>
<a href=http://www.delmarvanow.com/videos/news/local/virginia/2016/11/30/watch:-accomack-county-schools-temporarily-susends-classic-novels/94671850/>ACCOMACK COUNTY SCHOOLS TEMPORARILY SUSENDS CLASSIC NOVELS</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_fa9206ac-448a-5192-99ea-46b6f924616d.html>WITH NO GRAND PLANS ON THE HORIZON, RICHMOND MAYORAL CANDIDATES ENJOY RETURN TO PRIVATE LIFE</a><br>
<a href=http://pilotonline.com/news/local/crime/i-m-not-guilty-norfolk-treasurer-anthony-burfoot-takes-the/article_c5e3a63d-f278-5d9a-b390-101a26e18ba6.html>"I'M NOT GUILTY": NORFOLK TREASURER ANTHONY BURFOOT TAKES THE STAND</a><br>
<a href=http://www.delmarvanow.com/story/news/local/virginia/2016/12/01/book-controversy-mark-twain-harper-lee/94738318/>PARENT: 'TO KILL A MOCKINGBIRD' VALIDATES RACIST LANGUAGE</a><br>
<a href=http://pilotonline.com/news/government/local/he-paid-chesapeake-more-than-in-fines-for-posting-signs/article_b69ed6e6-06b6-51e3-8f93-4f556b47d1aa.html?sp-tk=D563FC4D947A1AEFCCE785D7DEAD1C16083BFE3F337BF6F772D05B6042FA7CC6AA4EB168F683AAC587E2D71430F9842062>HE PAID CHESAPEAKE MORE THAN $1,000 IN FINES FOR POSTING SIGNS. NOW THE CITY IS SUING HIM.</a><br>
<a href=http://pilotonline.com/news/government/local/you-ve-got-this-and-other-good-advice-from-the/article_19383da9-f3e0-54f7-aee7-7917c19d7cb6.html>"YOU'VE GOT THIS" AND OTHER GOOD ADVICE FROM THE NORFOLK HOUSING AUTHORITY</a><br>
<a href=https://www.washingtonpost.com/local/after-switching-parties-wolfe-still-wins-reelection-to-manassas-city-council/2016/11/25/792dd982-b18b-11e6-8616-52b15787add0_story.html>AFTER SWITCHING PARTIES, WOLFE STILL WINS REELECTION TO MANASSAS CITY COUNCIL</a><br>
<a href=http://pilotonline.com/news/government/local/lawsuit-by-norfolk-s-first-veteran-liaison-says-city-fired/article_65c40cec-8361-505e-acef-b9cec6b15052.html>LAWSUIT BY NORFOLK'S FIRST VETERAN LIAISON SAYS CITY FIRED HIM FOR RAISING ETHICAL CONCERNS</a><br>
<a href=http://pilotonline.com/news/government/local/bruce-smith-says-mayor-will-sessoms-fears-doing-disparity-study/article_523d4540-63e8-5476-ae43-1d0de8284813.html>BRUCE SMITH SAYS MAYOR WILL SESSOMS FEARS DOING DISPARITY STUDY ON CITY CONTRACTS</a><br>
<a href=http://www.dailyprogress.com/news/local/panel-keep-confederate-statues-in-the-city/article_e4d0a8d8-b5da-11e6-be64-c3b3f3952537.html>CHARLOTTESVILLE PANEL: KEEP CONFEDERATE STATUES IN THE CITY</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/article_b599beb5-2b64-522b-9368-892daa2c173a.html>ACLU SAYS PETERSBURG CITY COUNCIL ACTIONS VIOLATE "THE SPIRIT OF OPEN GOVERNMENT LAWS"</a><br>
<a href=http://www.progress-index.com/news/20161128/aclu-criticizes-petersburg-city-councils-meeting-practices>ACLU CRITICIZES PETERSBURG CITY COUNCIL'S MEETING PRACTICES</a><br>
<a href=http://www.newsadvance.com/news/local/former-nelson-sheriff-sentenced-for-role-in-recording-incident-of/article_d3d6c898-b57e-11e6-856c-6f4c371d432e.html>FORMER NELSON SHERIFF SENTENCED FOR ROLE IN RECORDING INCIDENT OF EX-RIVAL</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/residents-of-troubled-mobile-home-park-in-va-plea-for-help-from-manassas-council/2016/11/29/f411b4e2-b63c-11e6-b8df-600bd9d38a02_story.html>RESIDENTS OF TROUBLED MOBILE HOME PARK IN VA. PLEAD FOR HELP FROM MANASSAS COUNCIL</a><br>
<a href=http://www.insidenova.com/headlines/battle-over-arlington-towing-rules-could-end-up-in-richmond/article_1d84d5c6-b632-11e6-bda1-f77b3eb3eaf9.html>BATTLE OVER ARLINGTON TOWING RULES COULD END UP IN RICHMOND</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-roanoke-s-david-bowers-mulls-run-for-lt-governor-20161129-story.html>ROANOKE'S DAVID BOWERS MULLS RUN FOR LT. GOVERNOR</a><br>
<a href=http://wydaily.com/2016/11/29/for-jcc-registrar-trumps-allegation-of-virginia-voter-fraud-is-insult-to-dept-of-elections/>JCC REGISTRAR: TRUMP'S ALLEGATION OF VIRGINIA VOTER FRAUD IS INSULT TO DEPT. OF ELECTIONS</a><br>
<a href=http://www.virginiabusiness.com/news/article/a-steady-hand-at-the-helm>REINHART GUIDES TURNAROUND AT THE PORT OF VIRGINIA</a><br>
<a href=http://www.washingtontimes.com/news/2016/dec/1/huckleberry-finn-to-kill-a-mockingbird-pulled-from/>CLASSIC BOOKS PULLED FROM VA. SCHOOLS OVER N-WORD: REPORT</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-stanley-not-your-law-and-order-ag-candidate-20161201-post.html>STANLEY: NOT YOUR "LAW-AND-ORDER" AG CANDIDATE</a><br>
<a href=http://www.cavalierdaily.com/article/2016/11/wes-bellamy-charlottesville-twitter>HOMOPHOBIC, SEXIST, ANTI-WHITE LANGUAGE ABUNDANT IN CHARLOTTESVILLE VICE MAYOR'S TWEETS</a><br>
<a href=http://www.cavalierdaily.com/article/2016/11/four-republicans-one-democrat-declare-candidacy-for-governor>FOUR REPUBLICANS, ONE DEMOCRAT DECLARE CANDIDACY FOR GOVERNOR</a><br>
<a href=http://www.cavalierdaily.com/article/2016/11/student-protesters-storm-bov-meeting-with-demands>STUDENT PROTESTERS STORM BOV MEETING WITH DEMANDS</a><br>
<a href=https://www.publicintegrity.org/2016/11/21/20477/trumps-election-critical-climate-efforts-likely-fall-states>WITH TRUMP'S ELECTION, CRITICAL CLIMATE EFFORTS LIKELY FALL TO THE STATES</a><br>
<a href=https://www.washingtonpost.com/opinions/what-a-21st-century-safety-net-should-look-like/2016/11/29/3ac806d6-b5aa-11e6-959c-172c82123976_story.html?utm_term=.3d6f85297a19>WARNER: WHAT A 21ST-CENTURY SAFETY NET SHOULD LOOK LIKE</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_f16025da-5447-5dd3-9193-a511668bc154.html>KOCH: VIRGINIA'S ECONOMIC GROWTH LAGS NATION'S</a><br>
<a href=http://www.roanoke.com/opinion/commentary/thaler-not-all-votes-were-counted/article_e0b94de5-ea4a-5bf7-9c54-b45f4e8c4199.html>THALER: NOT ALL VOTES WERE COUNTED</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_5953fb7f-39ee-55bf-8866-4ca4a8071810.html>TOWN: POST-ELECTION, STRONG STATE LEADERSHIP ON THE ENVIRONMENT IS CRITICAL</a><br>
<a href=https://www.washingtonpost.com/opinions/i-havent-slept-in-my-room-since-the-election/2016/11/25/accd4b82-b006-11e6-8616-52b15787add0_story.html?utm_term=.24e7d5410c40>WARE: I HAVEN'T SLEPT IN MY ROOM SINCE THE ELECTION</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_5879f45d-32b5-503f-a530-b2a5cf622dc3.html>SENS. SUROVELL AND LUCAS: GAMING WILL SOON SHIFT $300 MILLION A YEAR FROM VIRGINIA TO MARYLAND</a><br>
<a href=http://www.roanoke.com/opinion/commentary/popovich-a-trump-administration-could-bring-real-relief-to-america/article_95ede221-3c5f-5e35-9846-a9c210e392ef.html>POPOVICH: A TRUMP ADMINISTRATION COULD BRING REAL RELIEF TO AMERICA'S COAL COMMUNITIES</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_6ad405ec-8dab-54a6-8d32-83d06052994b.html>SOUTHARD: THIS IS WHAT TRANSPORTATION SUCCESS LOOKS LIKE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_4c17f431-6c62-5ed3-8df9-1ca1cd875643.html>MCAULIFFE SETS JAN. 10 SPECIAL ELECTION FOR MCEACHIN, GARRETT, TAYLOR SEATS</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/sheriff-s-deputy-and-virginia-beach-teacher-running-in-jan/article_ca405778-2f43-5b18-89a0-09e48806ece4.html>SHERIFF'S DEPUTY, VIRGINIA BEACH TEACHER RUNNING IN JAN. 10 SPECIAL ELECTION</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/tipping-hat-to-trump-republican-reeves-kicks-off-bid-for-va-lieutenant-governor/2016/12/01/cb3e4a68/>TIPPING HAT TO TRUMP, REPUBLICAN REEVES KICKS OFF BID FOR VA. LIEUTENANT GOVERNOR</a><br>
<a href=http://www.newsadvance.com/news/local/two-democrats-vie-for-state-senate-district/article_66851c74-ebec-522f-8fa6-01e20ff1f742.html>TWO DEMOCRATS VIE FOR STATE SENATE DISTRICT 22</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_322cd898-6d49-58c3-8124-952e20c65be0.html>SEN. STANLEY GIVING 'SERIOUS CONSIDERATION' TO RUN FOR ATTORNEY GENERAL</a><br>
<a href=http://www.godanriver.com/news/state/stanley-may-seek-attorney-general-nomination/article_b84b799c-b822-11e6-868e-7b967cfec590.html>STANLEY MAY SEEK ATTORNEY GENERAL NOMINATION</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/politics/virginia-lieutenant-governor-northam-visits-staunton-to-boost-gubernatorial-bid/article_f14c01e2-b5db-11e6-80eb-4f82b5e686be.html>NORTHAM VISITS STAUNTON TO BOOST GUBERNATORIAL BID</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-calls-special-elections-to-replace-three-va-legislators-heading-to-congress/2016/11/29/2c963834-b67d-11e6-a677-b608fbb3aaf6_story.html?utm_term=.d3fe5e537ab3>MCAULIFFE CALLS SPECIAL ELECTIONS TO REPLACE THREE VA. LEGISLATORS HEADING TO CONGRESS</a><br>
<a href=http://www.newsadvance.com/news/local/election-to-replace-garrett-set-for-january/article_d39cacfe-b677-11e6-addf-ff56adc9c16a.html>ELECTION TO REPLACE GARRETT SET FOR JANUARY 10</a><br>
<a href=http://pilotonline.com/news/local/crime/for-january-execution-of-ricky-gray-virginia-plans-to-use/article_dd9cb8b4-f9ae-55d0-b234-93e3423f35be.html>FOR JANUARY EXECUTION, VIRGINIA PLANS TO USE DRUG INVOLVED IN 3 BOTCHED EXECUTIONS ELSEWHERE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/tesla-gets-green-light-for-second-virginia-store/2016/11/30/b9f7d4f6-b73d-11e6-959c-172c82123976_story.html>TESLA GETS GREEN LIGHT FOR SECOND VIRGINIA STORE</a><br>
<a href=http://www.richmond.com/news/virginia/article_1602f237-62a4-5869-a012-8fcc53cb358f.html>CHARLOTTESVILLE VICE MAYOR RESIGNS FROM VIRGINIA BOARD OF EDUCATION AMID TWITTER CONTROVERSY</a><br>
<a href=http://www.dailyprogress.com/news/local/bellamy-resigns-from-state-education-board-under-pressure-over-tweets/article_40d7a9d2-b744-11e6-9797-b363460e0964.html>BELLAMY RESIGNS FROM STATE EDUCATION BOARD UNDER PRESSURE OVER TWEETS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-bellamy-education-twitter-resign-20161130-story.html>STATE BOARD OF EDUCATION MEMBER RESIGNS OVER TWEETS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-tesla-virginia-store-20161130-story.html>TESLA WINS BATTLE IN FIGHT OVER DIRECT CAR SALES</a><br>
<a href=http://pilotonline.com/news/local/education/public-schools/virginia-board-of-education-member-resigns-over-racist-sexist-vulgar/article_92bebf4a-633b-5e40-b456-eade0d34db3a.html>VIRGINIA BOARD OF EDUCATION MEMBER RESIGNS OVER RACIST, SEXIST, VULGAR TWEETS</a><br>
<a href=http://www.richmond.com/business/local/article_4b716f5d-dbf2-5a6c-b200-f3a3550ff98a.html>TESLA IS ELIGIBLE TO OPERATE ITS OWN DEALERSHIP IN RICHMOND AREA, DMV COMMISSIONER RULES</a><br>
<a href=http://www.dnronline.com/news/local/bellamy-out-after-push/article_d04e73ea-b77e-11e6-b062-afdc6dcf9a14.html>BELLAMY OUT AFTER PUSH</a><br>
<a href=https://www.washingtonpost.com/news/education/wp/2016/12/01/virginia-board-of-education-member-resigns-after-vulgar-tweets-surface/>VIRGINIA BOARD OF EDUCATION MEMBER RESIGNS AFTER VULGAR TWEETS SURFACE</a><br>
<a href=http://www.newsadvance.com/news/local/state-plans-cvtc-patient-transfers-regardless-of-guardian-consent/article_23c4a1a0-b82b-11e6-8db3-ffadf8fe8aac.html>STATE PLANS CVTC PATIENT TRANSFERS REGARDLESS OF GUARDIAN CONSENT</a><br>
<a href=http://pilotonline.com/news/local/transportation/speed-limit-enforced-by-aircraft-no-more-because-of-budget/article_53009b81-a4a3-55ac-af91-a5654f0fe5f3.html>"SPEED LIMIT ENFORCED BY AIRCRAFT" NO MORE BECAUSE OF BUDGET WOES, BUT SIGNS REMAIN</a><br>
<a href=http://pilotonline.com/news/regional-jail-seeks-grant-to-help-improve-care-for-sick/article_917fb5a6-93e9-57a4-8210-c3134ece234c.html>REGIONAL JAIL SEEKS GRANT TO HELP IMPROVE CARE FOR SICK INMATES</a><br>
<a href=http://www.fredericksburg.com/news/local/fredericksburg/virginia-liquor-sales-hit-record-breaking-levels/article_ee5ee1a0-6877-5674-b729-a1d86aaa0611.html>VIRGINIA LIQUOR SALES HIT RECORD-BREAKING LEVELS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_21d17271-8b14-5d3f-9ae9-1fb34b42b5fa.html>EMBATTLED VEDP NAMES FORMER LOUISIANA ECONOMIC OFFICIAL AS CEO</a><br>
<a href=http://www.dailypress.com/news/education/dp-nws-education-notebook-1129-20161128-story.html>NEW STATEWIDE SCHOOL INFORMATION WEBSITE GOES LIVE</a><br>
<a href=http://pilotonline.com/news/new-state-economic-development-official-will-earn-percent-more-than/article_135b07c1-ee5e-548d-967a-b6f415aa46df.html>NEW STATE ECONOMIC DEVELOPMENT OFFICIAL WILL EARN $340,000, 11 PERCENT MORE THAN PREVIOUS CEO</a><br>
<a href=http://www.nola.com/news/baton-rouge/index.ssf/2016/11/lsu_foundation_vedp_moret_resi.html>BOBBY JINDAL'S ECONOMIC DEVELOPMENT CHIEF TAKING VIRGINIA POST</a><br>
<a href=http://www.roanoke.com/news/virginia/new-chief-named-for-virginia-economic-development-partnership/article_58652da7-2f9f-5042-8712-9b03e8b58761.html>NEW CHIEF NAMED FOR VIRGINIA ECONOMIC DEVELOPMENT PARTNERSHIP</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-layne-space-board-20161129-story.html>SECRETARY LAYNE TO LEAD VIRGINIA SPACE BOARD</a><br>
<a href=http://www.tennessean.com/story/news/environment/2016/11/30/first-person-account-gatlinburg-city-like-apocalyptic-wasteland/94698970/>FIRST-PERSON ACCOUNT INSIDE THE GATLINBURG FIRES: 'APOCALYPTIC WASTELAND'</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/metro-board-member-suggests-killing-silver-line-in-apparent-bid-to-pressure-va/2016/11/29/f342967c-b67c-11e6-a677-b608fbb3aaf6_story.html?utm_term=.4ca4a7322eed>METRO BOARD MEMBER SUGGESTS KILLING SILVER LINE IN APPARENT BID TO PRESSURE VA.</a><br>
<a href=http://www.roanoke.com/news/local/franklin_county/franklin-county-still-part-of-push-for-i--but/article_b75c423f-b985-5e71-85d4-a5dc8f63e573.html>FRANKLIN COUNTY STILL PART OF PUSH FOR I-73, BUT DELAYS ACTION ON SALES TAX INCREASE PROPOSAL</a><br>
<a href=http://www.chesterfieldobserver.com/news/2016-11-30/Front_Page/Clergy_ask_Board_of_Supervisors_for_transit_study.html>CLERGY ASK CHESTERFIELD BOARD OF SUPERVISORS FOR TRANSIT STUDY</a><br>
<a href=http://www.nbc29.com/story/33851111/congressman-metro-facing-leadership-crisis-due-to-board>CONGRESSMAN: METRO FACING 'LEADERSHIP CRISIS' DUE TO BOARD</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/md-and-vawont-meet-deadline-for-new-metro-safety-body-what-happens-now/2016/11/26/0f07ecd0-b025-11e6-be1c-8cec35b1ad25_story.html>MD. AND VA.WON'T MEET DEADLINE FOR NEW METRO SAFETY BODY</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/safetracks-latest-surge-starts-monday--the-last-maintenance-project-until-february/2016/11/26/86adce32-b000-11e6-be1c-8cec35b1ad25_story.html>11TH ROUND OF SAFETRACK PUTS SQUEEZE ON VA. RIDERS</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/qanda-with-transportation-authority-chair-on-northern-virginias-travel-woes/2016/11/26/e01ff1b2-aaa5-11e6-a31b-4b6397e625d0_story.html>Q&A WITH TRANSPORTATION AUTHORITY CHAIR ON NORTHERN VIRGINIA'S TRAVEL WOES</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-evg-airport-20161125-story.html>NEWPORT NEWS/WILLIAMSBURG AIRPORT STILL TRYING TO SELL AN UNDERSERVED MARKET</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/there-are-four-proposals-to-save-metro-which-could-prevail/2016/11/28/489fdf0e-b1b8-11e6-8616-52b15787add0_story.html>THERE ARE FOUR PROPOSALS TO SAVE METRO. WHICH MIGHT PREVAIL?</a><br>
<a href=http://wsls.com/2016/11/29/governor-mcauliffe-announces-new-grant-for-virginia-farmers/>GOVERNOR MCAULIFFE ANNOUNCES NEW GRANT FOR VIRGINIA FARMERS</a><br>
<a href=http://www.nbc29.com/story/33818501/virginia-lt-gov-northam-visits-drone-program-at-pvcc>VIRGINIA LT. GOV. NORTHAM VISITS DRONE PROGRAM AT PVCC</a><br>
<a href=http://wavy.com/2016/11/30/classic-novels-pulled-from-accomack-county-public-schools/>ACCOMACK COUNTY SCHOOLS TEMPORARILY PULL CLASSIC NOVELS AFTER COMPLAINT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/not-so-fast-alexandrias-confederate-symbols-will-stay-put-for-now/2016/11/30/9f7bd61a-b731-11e6-959c-172c82123976_story.html?utm_term=.607a163798b6>NOT SO FAST: ALEXANDRIA'S CONFEDERATE SYMBOLS WILL STAY PUT FOR NOW</a><br>
<a href=http://www.richmond.com/news/virginia/article_b8cd4a54-1762-551c-846d-f1fc1e9cd711.html>KATIE COURIC SEEKS DISMISSAL OF DEFAMATION LAWSUIT FILED BY VIRGINIA GUN-RIGHTS GROUP</a><br>
<a href=https://www.washingtonpost.com/local/officials-flood-damage-in-virginia-costliest-since-isabel/2016/11/30/390dddca-b735-11e6-939c-91749443c5e5_story.html?utm_term=.c4c0abe44821>OFFICIALS: FLOOD DAMAGE IN VIRGINIA COSTLIEST SINCE ISABEL</a><br>
<a href=http://www.wsj.com/articles/maryland-stands-down-in-400-year-old-fight-with-west-virginia-over-potomac-water-1480546894>MARYLAND STANDS DOWN IN 400-YEAR-OLD FIGHT WITH WEST VIRGINIA OVER POTOMAC WATER</a><br>
<a href=https://www.washingtonpost.com/news/local/wp/2016/12/01/environmental-group-offers-1000-reward-for-source-of-oily-substance-in-potomac-river/?utm_term=.0d60>WHAT CAUSED MYSTERIOUS SHEEN IN THE POTOMAC? IF YOU KNOW, ENVIRONMENTAL GROUP WILL GIVE YOU $1,000</a><br>
<a href=http://www.richmond.com/life/health/article_ba2b4596-d7ee-56a9-b2fa-5bb767a5fa74.html>'TIDAL WAVE OF HEP. C COMING,' HEALTH COMMISSIONER WARNS</a><br>
<a href=http://www.dailypress.com/news/military/dp-warner-hampton-va-cr-story.html>WITH CHANGES SWIRLING IN VETERANS HEALTH CARE, SENATORS PRESS FOR ACTION ON STALLED PROJECTS</a><br>
<a href=http://staging.hosted.ap.org/dynamic/stories/U/US_CLASSIC_BOOKS_COMPLAINT?SITE=AP&SECTION=HOME&TEMPLATE=DEFAULT&CTIME=2016-12-01-13-04-00>SCHOOL DISTRICT TEMPORARILY PULLS CLASSICS AFTER COMPLAINT</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/petersburg/article_31092fad-a062-55f0-8c0e-50a9a0d6d27e.html>CONGRESS EXPECTED TO APPROVE BILL TO EXPAND PETERSBURG NATIONAL BATTLEFIELD</a><br>
<a href=http://www.roanoke.com/business/as-pipeline-looms-historic-newport-braces-for-change/article_c5220468-6287-5c9d-9834-f31b4af74c89.html>AS PIPELINE LOOMS, HISTORIC NEWPORT BRACES FOR CHANGE</a><br>
<a href=http://www.winchesterstar.com/news/winchester/fatal-overdoses-in-virginia-not-limited-to-just-heroin/article_32571cfb-a467-543a-b950-37a3649a04fa.html>FATAL OVERDOSES IN VIRGINIA NOT LIMITED TO JUST HEROIN</a><br>
<a href=https://www.washingtonpost.com/local/virginia-news/peeling-back-historys-layers-exposing-stories-of-slavery/2016/11/27/dac89c6a-ac1b-11e6-a31b-4b6397e625d0_story.html>PEELING BACK HISTORY'S LAYERS, EXPOSING STORIES OF SLAVERY</a><br>
<a href=http://www.richmond.com/news/article_f1197c50-de01-561c-9345-f2f48627da1a.html>DEAL WILL PRESERVE ROUGHLY 900-ACRE MALVERN HILL FARM, SITE OF CIVIL WAR BATTLE</a><br>
<a href=http://www.newsadvance.com/news/local/mount-pleasant-wildfire-percent-contained-crews-plan-exit-strategy/article_8ae3e2cf-6687-5209-8d4c-8aed1c1cc984.html>MOUNT PLEASANT WILDFIRE 90 PERCENT CONTAINED; CREWS PLAN EXIT STRATEGY</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_79bf8810-29e8-5a3f-b1e1-81cd0143dae7.html>REROUTED PIPELINE SPARES DINWIDDIE GEM MINE AS PROPERTY RIGHTS BATTLE CONTINUES IN COURTS</a><br>
<a href=http://www.richmond.com/news/local/crime/article_5406ad54-c3fa-541a-8c22-d3fc7689eea1.html>BLACK LIVES MATTER PROTESTERS SENTENCED TO FIVE DAYS IN JAIL FOR BLOCKING RICHMOND INTERSTATE</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/suburbs-seeking-transit-look-for-ways-to-keep-residents-from-being-priced-out/2016/11/28/110d5b6c-b01d-11e6-840f-e3ebab6bcdd3_story.html>MARLYLAND SUBURBS SEEK TO KEEP TRANSIT-ORIENTED HOUSING AFFORDABLE</a><br>
