<h2>Columnists</h2>
<a href=http://www.dailypress.com/news/politics/dp-nws-beer-with-governor-20161210-story.html>FAIN: WHO SHOULD VIRGINIA HAVE A BEER WITH IN 2017?</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_3ce54b84-3875-5ce7-ac50-b66d2babc68f.html>SCHAPIRO: VIRGINIA'S GREAT TAX GIVEAWAY</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-dreaming-of-smooth-sailing-at-the-hrbt/article_33d4631f-a39d-5608-a4b6-39cf5836bd3d.html>CHESLEY: DREAMING OF SMOOTH SAILING AT THE HRBT</a><br>
<a href=http://www.politifact.com/virginia/promises/macker-meter/promise/1149/create-biotechnology-startup-loans/>POLITIFACT: MCAULIFFE PROMISE TO CREATE BIOTECHNOLOGY STARTUP LOANS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_f793b68f-8407-5733-b74a-60d995c72dfc.html>SCHAPIRO: PLAYING THE TRUMP CARD IN THE GOP PRIMARY</a><br>
<h2>Congress</h2>
<a href=http://www.fredericksburg.com/news/local/spotsylvania/sen-tim-kaine-visits-spotsy-after-vice-presidential-bid/article_5ef22739-92ca-51e4-98f0-c88b816ad0d2.html>SEN. TIM KAINE VISITS SPOTSY AFTER VICE PRESIDENTIAL BID</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-forbes-navy-secretary-20161209-story.html>SUPPORT GROWING FOR FORBES AS NAVY SECRETARY</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/south-hampton-roads-congressional-delegation-shifts-from-gop-to-democratic/article_fd57e410-e571-587d-9bd3-ed7cc9474d7a.html>SOUTH HAMPTON ROADS' CONGRESSIONAL DELEGATION SHIFTS FROM GOP TO DEMOCRATIC TILT</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-rep-scott-hosts-health-care-town-hall-20161212-story.html>REP. SCOTT HOSTS HEALTH CARE TOWN HALL</a><br>
<a href=http://www.styleweekly.com/richmond/representative-elect-donald-mceachin-says-hes-ready-to-wade-into-the-dc-swamp/Content?oid=2384478>DONALD MCEACHIN SAYS HE'S READY TO WADE INTO THE D.C. SWAMP</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/health-care-funding-an-infrastructure-bill-divide-virginia-members-of-congress/2016/12/13/e8196fca-c0c0-11e6-b527-949c5893595e_story.html?utm_term=.2c791a68714e>HEALTH CARE, FUNDING AN INFRASTRUCTURE BILL DIVIDE VIRGINIA MEMBERS OF CONGRESS</a><br>
<a href=http://www.loudountimes.com/news/article/kaine_examines_silver_line_progress_touts_projects_importance432>KAINE EXAMINES SILVER LINE PROGRESS, TOUTS PROJECT'S IMPORTANCE</a><br>
<a href=http://www.insidenova.com/headlines/n-va-congressional-delegation-ponders-new-era-of-donald-trump/article_1c56b504-c148-11e6-9cf7-93fb613e52d8.html>N.VA. CONGRESSIONAL DELEGATION PONDERS NEW ERA OF DONALD TRUMP</a><br>
<h2>Economy/Business</h2>
<a href=http://www.martinsvillebulletin.com/news/novatech-announcement-brings-jobs-to-henry-county/article_9a6422b0-c184-11e6-8955-cb83f08a2bf3.html>NOVATECH ANNOUNCEMENT BRINGS JOBS TO HENRY COUNTY</a><br>
<a href=http://www.roanoke.com/news/local/botetourt_county/with-canatal-steel-expansion-botetourt-jobs-boom-continues/article_0deaa065-adb1-5277-a5a8-f81f4b680d8c.html>WITH CANATAL STEEL EXPANSION, BOTETOURT JOBS BOOM CONTINUES</a><br>
<a href=http://pilotonline.com/news/local/environment/contractor-says-it-s-nearing-deal-to-sell-fuel-pellets/article_6dcd1a97-e0ea-523d-8efd-b714aadd4851.html>CONTRACTOR SAYS IT'S NEARING DEAL TO SELL FUEL PELLETS MADE FROM HAMPTON ROADS' GARBAGE</a><br>
<a href=http://www.wsj.com/articles/problems-at-nuclear-components-supplier-spark-global-reviews-1481625005>COVERUP AT FRENCH NUCLEAR SUPPLIER SPARKS GLOBAL REVIEW</a><br>
<a href=http://www.roanoke.com/ap/business/settlement-approved-for-coal-mines-owned-by-jim-justice/article_1f084e1a-c0b0-55ad-a107-b1bb7b38672d.html>SETTLEMENT APPROVED FOR COAL MINES OWNED BY JIM JUSTICE</a><br>
<a href=http://www.fauquier.com/news/contaminants-found-dominion-offers-to-connect-possum-point-residents-to/article_2f3b1a18-be49-11e6-8e86-a3ec8ba042e6.html>DOMINION OFFERS TO CONNECT POSSUM POINT RESIDENTS TO PUBLIC WATER LINE</a><br>
<a href=http://pilotonline.com/business/ports-rail/port-of-virginia-reports-that-november-was-its-second-busiest/article_8b63fdcb-dc30-5ecd-af87-e0abe3bdeb2a.html>PORT OF VIRGINIA REPORTS THAT NOVEMBER WAS ITS SECOND-BUSIEST MONTH ON RECORD</a><br>
<a href=http://www.dailypress.com/news/isle-of-wight-county/dp-nws-iw-notebook-1212-20161211-story.html>EXPO PLANNED FOR POTENTIAL ATLANTIC COAST PIPELINE SUBCONTRACTORS</a><br>
<a href=http://www.nbc29.com/story/34019154/dominion-to-pay-for-water-hookups-filters-after-tests>DOMINION TO PAY FOR WATER HOOKUPS, FILTERS AFTER TESTS</a><br>
<a href=http://www.richmond.com/business/local/article_a13c9891-bd34-5535-b7f0-5e6e05f868a9.html>MARYLAND REAPS BENEFITS OF VIRGINIA BAN ON CASINOS</a><br>
<a href=http://www.dailypress.com/business/dp-peets-coffee-suffolk-20161209-story.html>PEET'S COFFEE TO INVEST $58M IN SUFFOLK, CREATING 135 JOBS</a><br>
<a href=https://secure.solesolution.com/pages/login>REGION-BASED JOB CREATION EFFORT BEGINS</a><br>
<a href=http://www.richmond.com/news/virginia/article_27b52cab-1bb5-5ff1-9698-381342397b62.html>NEW MID-ATLANTIC REGIONAL BUSINESS ALLIANCE EMBRACES RICHMOND, CENTRAL VIRGINIA</a><br>
<a href=http://www.richmond.com/business/local/article_142d06f0-4b2b-5511-be68-ccf8a1c92b5f.html>BOEING TO MOVE DEFENSE EXECUTIVES TO ARLINGTON</a><br>
<a href=http://www.richmond.com/business/local/article_bdf202f4-4ae9-598f-bc0b-30c8fead914a.html>WITH FATE OF HEALTH LAW UNCERTAIN, OFFICIALS HIGHLIGHT COVERAGE IN VIRGINIA</a><br>
<a href=http://www.roanoke.com/business/news/pulaski_county/volvo-trucks-announces-layoffs-at-dublin-plant/article_643c906b-e96a-5957-beca-2a0dc33f8624.html>VOLVO TRUCKS ANNOUNCES 500 LAYOFFS AT DUBLIN PLANT</a><br>
<h2>Editorials</h2>
<a href=http://www.roanoke.com/opinion/editorials/editorial-the-berglund-center-s-roof-shines-a-light-on/article_f41beb21-e921-546f-92c8-184ca1ab347d.html>THE BERGLUND CENTER'S ROOF SHINES A LIGHT ON VIRGINIA'S SOLAR POLICY</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_d3d1b5f4-36f2-502b-bce7-b9fbf38c3e6f.html>REPUBLICAN FIELD FOR GOVERNOR THINS</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-an-opening-salvo/article_42d6b26b-4953-5c55-a7ba-06d2c2ce7080.html>AN OPENING SALVO</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-forbes-wittman-1215-20161214-story.html>TWO GOOD MEN FOR THE JOBS</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-cybersecurity-gets-a-bipartisan-push/article_6d90b9ff-92f6-55fe-8f72-8f2c792cd20d.html>CYBERSECURITY GETS A BIPARTISAN PUSH</a><br>
<a href=http://www.dailyprogress.com/opinion/editorials/opinion-editorial-tuition-fund-an-encouraging-development/article_b6d796fa-c17c-11e6-b291-3fd044f1c8cc.html>TUITION FUND AN ENCOURAGING DEVELOPMENT</a><br>
<a href=https://www.washingtonpost.com/opinions/in-virginia-county-bigwigs-cry-sewage-to-block-a-mosque/2016/12/15/48e63084-c23f-11e6-9578-0054287507db_story.html?utm_term=.ffee462da5f0>IN VIRGINIA, COUNTY BIGWIGS CRY 'SEWAGE' TO BLOCK A MOSQUE</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-thumbs-up-on-regional-transportation/article_62943b80-c243-11e6-a3ae-33032bfefe26.html>THUMBS UP ON REGIONAL TRANSPORTATION</a><br>
<a href=http://www.loudountimes.com/news/article/editorial_loudoun_school_systems_protectionism_must_end_wayde_byard543>LOUDOUN SCHOOL SYSTEM'S PROTECTIONISM MUST END</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-let-s-hope-virginia-politicians-don-t-mess-up/article_e26ffdf7-4afc-5273-904e-b170cb817d90.html>LET'S HOPE VIRGINIA POLITICIANS DON'T MESS UP OUR SPORTS TOURISM</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-how-wise-county-s-court-clerk-became-a-visionary/article_cb301257-2fbc-5ec4-a2c9-94e518dd5581.html?mode=jqm>HOW WISE COUNTY'S COURT CLERK BECAME A VISIONARY ECONOMIC DEVELOPER</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-tend-to-the-cities/article_503cc261-c1ab-5278-be28-8ea14b28ca39.html>TEND TO THE CITIES</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_d4c463ba-3bf8-526e-bbcb-6eab5882f94c.html>HOW TO REV UP VIRGINIA'S ECONOMY</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/cvtc-residents-families-must-be-top-priority/article_28417e46-be53-11e6-95e3-b3c5947a5518.html>CVTC RESIDENTS, FAMILIES MUST BE TOP PRIORITY</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_d30b7ef7-9ad7-5896-8ad7-510f08a7f75d.html>VIRGINIA IS LEGALIZING POT, SORT OF</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-an-economic-call-to-action/article_54bce39a-df19-5c0d-83e1-4e5ff61cc4b5.html>AN ECONOMIC CALL TO ACTION</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_81ff0e1e-5b71-572e-85b7-7e27531acc6f.html>VIRGINIA'S HAM-FISTED APPROACH TO DRIVER'S LICENSE SUSPENSION</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-bellamy-should-help-foster-unity/article_7c957732-c0b4-11e6-860d-436931506f96.html>BELLAMY SHOULD HELP FOSTER UNITY</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-making-sense-of-mcauliffe-s-proposal-to-restructure-the/article_e6643623-6162-5e3f-b897-ac3854b45236.html>MAKING SENSE OF MCAULIFFE'S PROPOSAL TO RESTRUCTURE VEDP</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-a-better-choice-for-student-discipline/article_64296484-cfd3-5796-8cb3-30dca5a37f0c.html>A BETTER CHOICE FOR STUDENT DISCIPLINE</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-there-s-no-end-to-burfoot-s/article_86f42d84-f2f4-5c77-8901-c8423c22bcd6.html>THERE'S NO END TO BURFOOT'S SELF-INTEREST</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_e1d94605-9f6e-5693-b907-d3b408710416.html>THE JUSTICE DEPARTMENT WEIGHS IN ON VIRGINIA JAIL, MOSQUE</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-whew-photo-id-law-upheld/article_e0fa2cee-2f08-5aaf-8172-3ed446392d31.html>WHEW! PHOTO ID LAW UPHELD</a><br>
<h2>Executive Branch</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-calls-for-big-investment-in-mental-health-care-and-addiction-treatment/2016/12/14/a1303a72-c240-11e6-9a51-cd56ea1c2bb7_story.html?utm_term=.f30e709b259c>MCAULIFFE CALLS FOR BIG INVESTMENT IN MENTAL HEALTH CARE AND ADDICTION TREATMENT</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_f8bb4f65-20d8-5347-a444-54042730419a.html>MCAULIFFE ANNOUNCES FUNDING, LEGISLATION TO BOOST MENTAL HEALTH SYSTEM, FIGHT OPIOID CRISIS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-mental-health-mcauliffe-20161214-story.html>MCAULIFFE CALLS FOR NEW MENTAL HEALTH MONEY; SESSION SHAPING UP WITH FOCUS ON SYSTEM REFORM</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_5744446a-91a5-5d5c-a645-74be90ab3eb7.html>MCAULIFFE DOUBLES DOWN ON PIPELINE SUPPORT, HINTS AT ECONOMIC PROSPECTS</a><br>
<a href=http://www.richmond.com/news/local/government-politics/article_293ceabc-2dad-5676-af6c-eb123205f79d.html>MCAULIFFE HOLDS HOLIDAY RECEPTION FOR FAMILIES OF DEPLOYED SERVICE MEMBERS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-wants-to-overhaul-virginias-economic-development-agency/2016/12/12/90f1f1b6-c086-11e6-897f-918837dae0ae_story.html?utm_term=.a98ed731276a>MCAULIFFE WANTS TO OVERHAUL VIRGINIA'S ECONOMIC DEVELOPMENT AGENCY</a><br>
<a href=http://pilotonline.com/news/government/virginia/gov-mcauliffe-wants-future-governors-to-have-more-control-over/article_40672852-f832-50bd-8661-15cf72c500d4.html>GOV. MCAULIFFE WANTS FUTURE GOVERNORS TO HAVE MORE CONTROL OVER ECONOMIC INCENTIVE AGENCY</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_559783a0-a8cd-5e8d-add5-d88e07734d9c.html>MCAULIFFE PROPOSES STRONGER OVERSIGHT FOR ECONOMIC DEVELOPMENT AFTER SCATHING REPORT</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-mcauliffe-vedp-20161212-story.html>MCAULIFFE CALLS FOR MORE EXECUTIVE BRANCH CONTROL OVER VIRGINIA BUSINESS GRANT PROGRAM</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-proposes-one-time-bonus-for-state-employees-and-teachers/2016/12/13/05fd49f2-c15d-11e6-9a51-cd56ea1c2bb7_story.html?utm_term=.d62d888cd223>MCAULIFFE PROPOSES ONE-TIME BONUS FOR STATE EMPLOYEES AND TEACHERS</a><br>
<a href=http://www.richmond.com/news/virginia/article_3539510f-2813-5029-abbd-bceb385da257.html>MCAULIFFE PROPOSES 1.5% BONUS FOR STATE WORKERS, TEACHERS AFTER CANCELED RAISES</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-state-employee-bonus-20161213-story.html>MCAULIFFE: NO RAISES, BUT BONUSES NEXT YEAR FOR STATE EMPLOYEES, TEACHERS</a><br>
<h2>Federal Elections</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-congressman-calls-for-delay-in-electoral-college-vote/2016/12/14/98022426-c21b-11e6-8422-eac61c0ef74d_story.html?utm_term=.cdc65b3158c0>VIRGINIA CONGRESSMAN CALLS FOR DELAY IN ELECTORAL COLLEGE VOTE</a><br>
<a href=http://www.winchesterstar.com/news/clarke/virginia-electors-talk-about-college-s-vote/article_1f97f482-5df3-52c6-ab41-7d6beae8bc7b.html>VIRGINIA ELECTORS TALK ABOUT COLLEGE'S VOTE</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/hampton-roads-members-of-electoral-college-voting-with-mixed-emotions/article_af9d337a-ac1d-57d3-ae7f-a5c5f502c505.html>HAMPTON ROADS MEMBERS OF ELECTORAL COLLEGE VOTING WITH MIXED EMOTIONS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/survey-obamas-approval-rating-hits-new-high-mark-in-virginia/2016/12/15/c7b6a010-c2bc-11e6-8422-eac61c0ef74d_story.html?utm_term=.8a2b0a392018>SURVEY: OBAMA'S APPROVAL RATING HITS NEW HIGH MARK IN VIRGINIA</a><br>
<h2>From vpap.org</h2>
<a href=http://www.vpap.org/visualizations/voter-registration-maps>VISUALIZATION: WHICH LEGISLATIVE DISTRICTS HAVE GAINED MOST VOTERS?</a><br>
<h2>General Assembly</h2>
<a href=http://www.godanriver.com/work_it_sova/news/gearing-up-for-general-assembly-legislators-address-business-leaders/article_c447921a-c18e-11e6-b0a4-bf44d61d5c85.html>GEARING UP FOR GENERAL ASSEMBLY, LEGISLATORS ADDRESS BUSINESS LEADERS</a><br>
<a href=http://www.tidewaternews.com/2016/12/15/judge-bars-media-from-morris-hearing/>JUDGE BARS MEDIA FROM MORRIS HEARING</a><br>
<a href=http://pilotonline.com/news/government/politics/new-state-lawmaker-from-hampton-roads-working-at-norfolk-sheriff/article_c755a614-e281-52b9-914b-4029c8d55118.html>NEW STATE LAWMAKER FROM HAMPTON ROADS WORKING AT NORFOLK SHERIFF'S OFFICE</a><br>
<a href=http://pilotonline.com/news/local/crime/judge-dismisses-of-felonies-against-state-del-rick-morris-in/article_dbb06a83-bfff-52aa-b816-df630c63ed53.html>JUDGE DISMISSES 6 OF 7 FELONIES AGAINST STATE DEL. RICK MORRIS IN DOMESTIC ABUSE CASE</a><br>
<a href=http://www.dailypress.com/news/isle-of-wight-county/dp-nws-iw-rick-morris-hearing-20161215-story.html>JUDGE BARS REPORTERS FROM CRIMINAL HEARING FOR STATE DEL. RICK MORRIS</a><br>
<a href=http://www.newsleader.com/story/news/local/2016/12/14/va-bill-would-prohibit-abortions-after-20-weeks/95420038/>VA. BILL WOULD PROHIBIT ABORTIONS AFTER 20 WEEKS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_1b3f8f72-ec10-5f86-9ef0-08e1ec9def9a.html>SPEAKER HOWELL'S COMMISSION WANTS TO RESTORE RAISE FOR STATE WORKERS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_69aeb512-0a3b-5dfa-bbd6-298dddc03a17.html>REPORT: CAP PROFITS FOR INSURANCE COMPANIES MANAGING MEDICAID</a><br>
<a href=http://www.insidenova.com/headlines/prince-william-supervisors-plan-to-fight-for-gas-tax-stability/article_62402cda-c0a8-11e6-894d-072bea3a349d.html>PRINCE WILLIAM SUPERVISORS PLAN TO FIGHT FOR GAS-TAX STABILITY, AIRBNB RENTAL CONTROL</a><br>
<a href=http://www.richmond.com/news/local/article_981bdc0e-b199-5cf3-936e-e3d3d0eb9acf.html>HOSPITAL ASSOCIATION TO PUSH FOR BETTER REGISTRY FOR MENTAL HEALTH BEDS, EASIER SCREENING</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/virginia-hospitals-seek-mental-health-reforms/article_5f6fb04a-6ffc-551c-9f66-a5d44532d6de.html>VIRGINIA HOSPITALS SEEK MENTAL HEALTH REFORMS</a><br>
<h2>Higher Education</h2>
<a href=http://www.heraldcourier.com/news/virginia-intermont-college-sold-during-auction-for-million/article_899c0dc6-c2e2-11e6-8e27-8f78f81df779.html>VIRGINIA INTERMONT COLLEGE SOLD DURING AUCTION FOR $3.3 MILLION</a><br>
<a href=https://www.washingtonpost.com/news/grade-point/wp/2016/12/15/gun-friendly-liberty-university-to-open-on-campus-shooting-range/?utm_term=.f75782cfa911>LIBERTY UNIVERSITY TO OPEN ON-CAMPUS SHOOTING RANGE</a><br>
<a href=http://www.richmond.com/news/article_7f15f736-c5f7-547c-92b2-dd6774029201.html>UNIVERSITY OF RICHMOND JOINS EFFORT TO RECRUIT LOW-INCOME STUDENTS</a><br>
<h2>Local</h2>
<a href=https://www.smithfieldtimes.com/index.php/news/all-news/1819-ancient-records-at-risk-2>ANCIENT RECORDS AT RISK</a><br>
<a href=http://pilotonline.com/news/government/local/virginia-beach-floats-idea-to-use-light-rail-money-to/article_badfe609-89c5-599a-8212-593a6c1cf7e9.html>VIRGINIA BEACH CONSIDERS USING LIGHT RAIL MONEY FOR $464 MILLION IN NEEDED STORMWATER PROJECTS</a><br>
<a href=http://pilotonline.com/news/government/local/footloose-city-chesapeake-tightens-rules-on-dancing-in-clubs-and/article_b74d454a-1775-59ea-8327-04a19a49d271.html>FOOTLOOSE CITY? CHESAPEAKE TIGHTENS RULES ON DANCING IN CLUBS AND BARS</a><br>
<a href=http://www.roanoke.com/news/local/montgomery_county/montgomery-county-leaders-talk-cigarette-tax-growing-broadband/article_34841e21-d117-564e-bde7-867cbab27ed8.html>MONTGOMERY COUNTY LEADERS TALK CIGARETTE TAX, GROWING BROADBAND</a><br>
<a href=http://pilotonline.com/news/local/education/public-schools/one-month-after-all-its-members-resigned-city-of-franklin/article_650d2d67-f537-5dbf-95fc-41e701165082.html>ONE MONTH AFTER ALL ITS MEMBERS RESIGNED, CITY OF FRANKLIN HAS A SCHOOL BOARD AGAIN</a><br>
<a href=http://www.progress-index.com/news/20161214/city-considers-sale-of-water-system>CITY CONSIDERS SALE OF WATER SYSTEM</a><br>
<a href=http://www.tidewaternews.com/2016/12/14/city-council-begins-rebuilding-school-board/>CITY COUNCIL BEGINS REBUILDING SCHOOL BOARD</a><br>
<a href=http://www.richmond.com/news/article_873ea08b-1505-5b7f-8cdc-319c11a227f5.html>PETERSBURG POLICE DEPARTMENT'S SOCIAL MEDIA POLICY HELD UNCONSTITUTIONAL</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/arlington-legalizes-airbnb-type-short-term-rentals-starting-at-years-end/2016/12/10/3dab40c0-bedd-11e6-91ee-1adddfe36cbe_story.html?utm_term=.569dc2cf76bd>ARLINGTON LEGALIZES AIRBNB-TYPE SHORT-TERM RENTALS, STARTING AT YEAR'S END</a><br>
<a href=https://www.washingtonpost.com/local/justice-dept-sues-virginia-county-over-denial-of-permit-to-build-mosque/2016/12/12/1bd614b2-c0d0-11e6-b527-949c5893595e_story.html>JUSTICE DEPT. SUES VIRGINIA COUNTY OVER DENIAL OF PERMIT TO BUILD MOSQUE</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/justice-department-sues-culpeper-over-denial-of-mosque-permit/article_62879c70-c0d3-11e6-9de9-cf0ae3abf96a.html>JUSTICE DEPARTMENT SUES CULPEPER OVER DENIAL OF MOSQUE PERMIT</a><br>
<a href=http://www.insidenova.com/news/arlington/arlington-short-term-stay-rules-something-of-a-work-in/article_e9be0af4-c069-11e6-8699-df603a17fa98.html>ARLINGTON SHORT-TERM-STAY RULES SOMETHING OF A WORK IN PROGRESS</a><br>
<a href=http://pilotonline.com/news/government/local/two-council-members-call-for-norfolk-treasurer-anthony-burfoot-to/article_ffc23f52-bf60-5650-92df-b18d4a413c07.html>TWO COUNCIL MEMBERS CALL FOR NORFOLK TREASURER ANTHONY BURFOOT TO RESIGN</a><br>
<a href=http://pilotonline.com/news/government/local/special-prosecutor-will-not-ask-judge-to-suspend-norfolk-treasurer/article_4697b5d3-5c5d-5a8c-9019-cfe9ac01bc68.html>SPECIAL PROSECUTOR WILL NOT ASK JUDGE TO SUSPEND NORFOLK TREASURER ANTHONY BURFOOT PENDING RECALL</a><br>
<a href=http://pilotonline.com/news/government/local/what-to-do-about-anthony-burfoot-norfolk-council-to-discuss/article_08d7d2a0-825b-5654-9cba-83bd40431542.html>NORFOLK CITY COUNCIL UNANIMOUSLY CALLS FOR TREASURER ANTHONY BURFOOT TO RESIGN BY THURSDAY</a><br>
<a href=http://www.richmond.com/news/local/hanover/article_40de3d4a-d155-5d8b-88b3-e35a1388bb70.html>HANOVER GROUP QUESTIONS SCHOOL BOARD ON 'CHARACTER EDUCATION PROGRAM'</a><br>
<a href=http://www.loudountimes.com/news/article/community_voices_opinions_about_lgbtq_protection_to_loudoun_county_school_b>COMMUNITY VOICES OPINIONS ABOUT LGBTQ PROTECTION TO LOUDOUN COUNTY SCHOOL BOARD</a><br>
<h2>Online News</h2>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-is-it-the-quiet-before-the-storm-or-just-kinda-quiet-del-yancey-wonders-20161215-post.html>IS IT THE QUIET BEFORE THE STORM, OR JUST KINDA QUIET, DEL YANCEY WONDERS</a><br>
<a href=http://potomaclocal.com/2016/12/09/hope-fades-for-vre-extension-to-gainesville-haymarket/>HOPE FADES FOR VRE EXTENSION TO GAINESVILLE, HAYMARKET</a><br>
<a href=http://southsidedaily.com/2016/12/13/5-questions-with-virginia-beach-house-district-85-candidates/>5 QUESTIONS WITH VIRGINIA BEACH HOUSE DISTRICT 85 CANDIDATES</a><br>
<a href=http://thebullelephant.com/trump-staff-corey-stewart-a-net-negative-to-the-effort-in-virginia/>TRUMP STAFF: COREY STEWART A "NET NEGATIVE" TO THE EFFORT IN VIRGINIA</a><br>
<h2>Op-Ed</h2>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_e0d624d2-77e2-53d6-9a0a-f5f6026c422d.html>MARTIRE: VIRGINIA NEEDS NATURAL GAS AS A BRIDGE TOWARD A CLEAN ENERGY FUTURE</a><br>
<a href=http://www.loudountimes.com/letters/article/del._john_bell_my_son_battles_opioid_addiction432>BELL: 'MY SON BATTLES OPIOID ADDICTION'</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/gordon-morse-virginia-in-search-of-leaders/article_5e05d164-9b2e-5bda-8a67-d75fc7ab2ba7.html>MORSE: VIRGINIA IN SEARCH OF LEADERS</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/jim-oliver-build-a-new-model-for-governance/article_dbe5f8a6-b015-54a2-b854-3a917be7e211.html>OLIVER: BUILD A NEW MODEL FOR GOVERNANCE</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_fef2adf9-5356-5389-b3eb-786ba81490cb.html>BURTON: HOW ENVIRONMENTAL STEWARDSHIP AND PIPELINE DEVELOPMENT CAN CO-EXIST IN VIRGINIA</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_7495f2a8-5a47-5670-a8e9-a6c5824031ba.html>KNAPP: WHAT HAPPENED WHEN THE WHOLE WORLD SHOWED UP AT MY HIGH SCHOOL IN HENRICO</a><br>
<a href=http://www.dailypress.com/news/opinion/dp-nws-oped-layne-1211-20161209-story.html>LAYNE: TO DRIVE SMART, BUILD SMARTER</a><br>
<a href=http://www.roanoke.com/opinion/commentary/mange-we-can-control-guns-without-government-action/article_50c69365-e21c-5ca7-b0b4-6216610d76b6.html>MANGE: WE CAN CONTROL GUNS WITHOUT GOVERNMENT ACTION</a><br>
<a href=http://www.roanoke.com/opinion/commentary/chambers-airbnb-facilitates-the-operation-of-illegal-unregulated-and-untaxed/article_cb41e845-ea86-533b-9460-7f010bf85066.html>CHAMBERS: AIRBNB FACILITATES THE OPERATION OF ILLEGAL, UNREGULATED AND UNTAXED HOTELS?</a><br>
<h2>State Elections</h2>
<a href=http://pilotonline.com/news/government/politics/virginia/new-poll-most-people-in-virginia-don-t-really-know/article_f3d12cc8-b894-5db9-8a18-7693ca7777b2.html>NEW POLL: MOST VIRGINIANS DON'T REALLY KNOW WHO'S RUNNING FOR GOVERNOR</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/poll-ed-gillespie-leads-gop-field-running-for-virginia-governor/2016/12/14/f862d78a-c1ed-11e6-8422-eac61c0ef74d_story.html?utm_term=.3279eeb7426e>POLL: ED GILLESPIE LEADS GOP FIELD RUNNING FOR VIRGINIA GOVERNOR</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_cfc23c30-37d7-5f68-878f-ee7cbaa185a5.html>POLL: GILLESPIE LEADS GOP FIELD, BUT TRAILS NORTHAM IN 2017 GOVERNOR'S RACE</a><br>
<a href=http://www.loudountimes.com/news/article/loudoun_residents_advocating_for_shifts_on_solar_policy432>FRANK WAGNER TOURS LOUDOUN SOLAR FARM</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/cantor-resurfaces-generates-buzz-about-potential-comeback/2016/12/14/c7fd4976-c22a-11e6-9578-0054287507db_story.html?utm_term=.d6037f81e026>CANTOR RESURFACES, GENERATES BUZZ ABOUT POTENTIAL COMEBACK</a><br>
<a href=http://fluvannareview.com/index.php?option=com_content&view=article&id=7637:political-use-of-school-bus-sparks-controversy&catid=34:headlines&Itemid=152>POLITICAL USE OF SCHOOL BUS SPARKS CONTROVERSY</a><br>
<a href=http://www.newsadvance.com/news/local/senate-special-election-candidates-cross-district-to-round-up-support/article_89a5eec4-c326-11e6-8b68-1fbeacff03ef.html>SENATE 22 SPECIAL ELECTION CANDIDATES CROSS DISTRICT TO ROUND UP SUPPORT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/fiorina-praises-trumps-brilliant-moves-ahead-of-visit-to-trump-tower/2016/12/10/40c5a5bc-bd60-11e6-ac85-094a21c44abc_story.html?utm_term=.2835078f6485>FIORINA PRAISES TRUMP, ENDORSES GILLESPIE</a><br>
<a href=https://www.washingtonpost.com/local/a-va-politician-is-giving-away-an-ar-15-rifle-in-second-amendment-statement/2016/12/10/f3de55a0-bf0d-11e6-91ee-1adddfe36cbe_story.html?utm_term=.b57c4b6063c2>A VA. POLITICIAN IS GIVING AWAY AN AR-15 RIFLE AS A SECOND AMENDMENT STATEMENT</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_53f291ec-e642-5a18-bbfd-ed1a715fd28b.html>AS TRUMP ERA DAWNS, 2017 VIRGINIA GOP HOPEFULS COURT SUPPORTERS AT GATHERING IN RICHMOND</a><br>
<h2>State Government</h2>
<a href=https://www.washingtonpost.com/local/public-safety/lawyers-for-virginia-death-row-inmate-sue-to-stop-lethal-injection/2016/12/14/064b39be-c234-11e6-9a51-cd56ea1c2bb7_story.html?utm_term=.51c355010597>LAWYERS FOR VIRGINIA DEATH-ROW INMATE SUE TO STOP LETHAL INJECTION</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/article_aa85afe1-b2bd-5c23-8d1b-0e3ec6856b61.html>RICKY GRAY FILES CHALLENGE TO VIRGINIA LETHAL INJECTION, SUGGESTS FIRING SQUAD</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/lawyers-for-virginia-death-row-inmate-sue-to-stop-lethal-injection/2016/12/14/064b39be-c234-11e6-9a51-cd56ea1c2bb7_story.html?utm_term=.826b833cfc57>LAWYERS FOR VIRGINIA DEATH-ROW INMATE SUE TO STOP LETHAL INJECTION</a><br>
<a href=http://pilotonline.com/lawyers-to-argue-that-ricky-gray-should-be-spared-death/article_4e73312e-3c30-5206-bb96-996e4dc22c04.html>LAWYERS SAY RICKY GRAY SHOULDN'T BE EXECUTED, CITING CHILDHOOD ABUSE</a><br>
<a href=http://www.richmond.com/news/local/chesterfield/article_685be2ad-d2b8-5c0f-8acb-21cbb5736973.html>GRANT MONEY HELPS PILOT PROJECTS FOR MENTALLY ILL IN CHESTERFIELD AND RICHMOND JAILS</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/at-fluvanna-correctional-center-for-women-horror-story-after-horror/article_9096368d-54ce-5018-beb7-bea8732e8965.html>AT FLUVANNA CORRECTIONAL CENTER FOR WOMEN, HORROR STORY AFTER HORROR STORY IN MEDICAL CARE</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-vims-epa-grant-20161208-story.html>VIMS, DEQ GET $1.1 MILLION FROM EPA FOR WETLANDS WORK</a><br>
<a href=http://www.roanoke.com/news/crime/details-of-sex-abuse-emerge-as-investigation-of-rockbridge-social/article_e6b06e20-c57f-56ea-a81a-3dca1d09baf1.html>DETAILS OF SEX ABUSE EMERGE AS INVESTIGATION OF ROCKBRIDGE SOCIAL SERVICES CONTINUES</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_a2725063-f19d-50a3-971e-ffa4c5d4f11d.html>NEW STUDY CRITICAL OF VIRGINIA LAW THAT SUSPENDS DRIVER'S LICENSES FOR DRUG OFFENSES</a><br>
<a href=http://www.richmond.com/news/local/chesterfield/article_e3f2605c-2e6d-5f03-be25-f384a63d5dcb.html>LOCALITIES BEGIN NAVIGATING NEW STATE PROFFER LAW</a><br>
<a href=http://www.roanoke.com/news/education/virginia-will-take-a-wait-and-see-approach-on-new/article_d9c473f8-1965-5925-bd14-61bc304e06fe.html>VIRGINIA WILL TAKE A WAIT-AND-SEE APPROACH ON NEW EDUCATION LAW</a><br>
<a href=http://herald-review.com/news/national/virginia-execution-drug-price-jumps--fold/article_d07b2bdd-66f1-53d7-a006-a3d2f840357b.html>VIRGINIA EXECUTION DRUG PRICE JUMPS 63-FOLD</a><br>
<a href=http://www.richmond.com/news/virginia/article_062fa3d4-3183-547e-8df1-a3701c15a706.html>DOJ OPENS INVESTIGATION INTO HAMPTON ROADS REGIONAL JAIL</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/justice-department-announces-investigation-into-the-hampton-roads-regional-jail/article_46659090-0022-5fe8-aecc-2e84a323cdea.html>JUSTICE DEPARTMENT ANNOUNCES INVESTIGATION INTO THE HAMPTON ROADS REGIONAL JAIL</a><br>
<a href=http://www.dailypress.com/news/crime/dp-nws-justice-jail-investigation-20161212-5-story.html>JUSTICE DEPARTMENT LAUNCHES INVESTIGATION OF HAMPTON ROADS REGIONAL JAIL</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/appeals-court-upholds-virginias-voter-id-law/2016/12/13/3888f46e-c150-11e6-9a51-cd56ea1c2bb7_story.html?utm_term=.87212c2225cf>APPEALS COURT UPHOLDS VIRGINIA'S VOTER-ID LAW</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_f0464d2f-fe15-5cbf-b6e3-21e759ae93ed.html>FEDERAL APPEALS COURT UPHOLDS VA. VOTER ID LAW</a><br>
<a href=http://www.richmond.com/news/virginia/article_f1fe8308-90d0-5994-b246-8c9262ae0540.html>DEPARTMENT OF CORRECTIONS SAYS VA. HAS LOW RECIDIVISM RATE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-voter-id-20161213-story.html>FEDERAL APPEALS COURT UPHOLDS VIRGINIA VOTER ID</a><br>
<a href=http://www.nbc29.com/story/34042135/federal-appeals-court-upholds-virginia-voter-id-law>FEDERAL APPEALS COURT UPHOLDS VIRGINIA VOTER ID LAW</a><br>
<h2>The Friday Read</h2>
<a href=http://pilotonline.com/news/local/crime/virginia-beach-detective-describes-chaotic-scene-at-unlicensed-day-care/article_9b734c44-5afd-505b-b086-06b55031fbfc.html>DETECTIVE DESCRIBES CHAOTIC SCENE AT UNLICENSED DAY CARE WHERE INFANT DIED</a><br>
<h2>Transportation</h2>
<a href=https://www.washingtonpost.com/news/dr-gridlock/wp/2016/12/13/tim-kaine-says-hes-optimistic-on-funding-from-congress-for-metro/?utm_term=.21bcda33f177>TIM KAINE SAYS HE'S 'OPTIMISTIC' ON FUNDING FROM CONGRESS FOR METRO</a><br>
<a href=http://pilotonline.com/inside-business/news/maritime-and-transportation/billions-around-the-corner-dozens-of-road-projects-get-green/article_45503a25-7d49-5d61-a549-283ffdc11baa.html>BILLIONS AROUND THE CORNER: DOZENS OF ROAD PROJECTS GET GREEN LIGHT</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-mcdonnell-460-tunnels-20161207-story.html>MCDONNELL: 460, DOWNTOWN/MIDTOWN WERE GOOD DEALS</a><br>
<a href=http://www.richmond.com/news/article_03f695bd-6efb-5948-b047-cfb8b2954432.html>ASHLAND WILLING TO BID ADIEU TO RAIL SERVICE TO PREVENT THIRD-TRACK ADDITION</a><br>
<h2>TV/Radio</h2>
<a href=http://wavy.com/2016/12/13/local-electoral-delegate-urges-all-to-vote-their-conscience/>LOCAL ELECTORAL DELEGATE URGES ALL TO 'VOTE THEIR CONSCIENCE'</a><br>
<a href=http://wvtf.org/post/vre-asks-20-million-more-each-year-general-assembly-plus-600-million-feds>VRE ASKS FOR $20 MILLION MORE EACH YEAR FROM GENERAL ASSEMBLY PLUS $400 MILLION FROM FEDS</a><br>
<a href=http://www.nbcwashington.com/news/local/Virginia-Nightclub-Threatened-After-Refusing-to-Host-Alt-Right-DeploraBall-406862255.html>VIRGINIA NIGHTCLUB THREATENED AFTER REFUSING TO HOST PRO-TRUMP 'DEPLORABALL'</a><br>
<a href=http://wavy.com/2016/12/16/aclu-warns-virginia-school-districts-to-protect-immigrant-students/>ACLU WARNS VIRGINIA SCHOOL DISTRICTS TO PROTECT IMMIGRANT STUDENTS</a><br>
<a href=http://wsls.com/2016/12/15/virginia-18-other-states-file-federal-antitrust-lawsuit-against-pharmaceutical-companies/>VIRGINIA, 18 OTHER STATES FILE FEDERAL ANTITRUST LAWSUIT AGAINST PHARMACEUTICAL COMPANIES</a><br>
<h2>Virginia Other</h2>
<a href=http://www.dailyprogress.com/news/local/uva-s-laycock-culpeper-mosque-lawsuit-full-of-smoking-guns/article_32218d04-c8da-5287-a6d1-007ec0e0e630.html>UVA LAW PROFESSOR: CULPEPER MOSQUE LAWSUIT 'FULL OF SMOKING GUNS'</a><br>
<a href=http://culpepertimes.com/2016/12/14/federal-civil-lawsuit-filed-against-culpeper-county/158866/>FEDERAL CIVIL LAWSUIT FILED AGAINST CULPEPER COUNTY</a><br>
<a href=http://www.easternshorepost.com/content/nandua-middle-makes-full-accreditation/>IT ALL COULD HAVE BEEN AVOIDED</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/dupont-agrees-to-50-million-deal-to-clean-up-mercury-pollution-from-va-plant/2016/12/15/6bfd7a8c-c2e9-11e6-8422-eac61c0ef74d_story.html>DUPONT AGREES TO $50 MILLION DEAL TO CLEAN UP MERCURY POLLUTION FROM VA. PLANT</a><br>
<a href=http://www.richmond.com/news/local/government-politics/article_5bd8b220-edc6-5f55-83ac-2fc84aea2115.html>DUPONT AGREES TO PAY $50M IN RECORD-SETTING SETTLEMENT FOR RIVER CONTAMINATION NEAR WAYNESBORO</a><br>
<a href=http://www.dnronline.com/associated_press/virginia/new-company-to-pay-million-over-mercury-dumped-in-shenandoah/article_bec88d05-5372-5b67-ac15-e03944cd259e.html>DUPONT TO PAY $50 MILLION OVER MERCURY DUMPED IN SHENANDOAH RIVER</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-noaa-deep-sea-corals-20161215-story.html>NOAA APPROVES MID-ATLANTIC DEEP-SEA CORAL CANYONS FOR PROTECTION</a><br>
<a href=http://www.godanriver.com/news/danville/local-kkk-group-well-established/article_2ad9fb08-be7e-11e6-a8c6-2b87f796a6e1.html>LOCAL KKK GROUP WELL ESTABLISHED</a><br>
<a href=http://www.roanoke.com/news/christmas-parade-rule-changes-draw-out-pro-confederate-flag-protestors/article_d512fc5b-f0f4-5ac8-a252-0741939ad1ad.html>CHRISTMAS PARADE RULE CHANGES DRAW OUT PRO-CONFEDERATE FLAG PROTESTORS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/dominion-will-pay-to-connect-homes-near-ash-ponds-to-public-water-system/2016/12/12/944731ac-c09d-11e6-afd9-f038f753dc29_story.html?utm_term=.74c17533d50b>DOMINION WILL PAY TO CONNECT HOMES NEAR ASH PONDS TO PUBLIC WATER SYSTEM</a><br>
<a href=https://www.washingtonpost.com/local/dc-politics/is-the-dc-mayor-losing-control-of-her-city/2016/12/11/0db36460-bd52-11e6-94ac-3d324840106c_story.html?utm_term=.57ed6032f1e2>IS THE D.C. MAYOR LOSING CONTROL OF HER CITY?</a><br>
<a href=http://www.newsadvance.com/nelson_county_times/news/potential-pipeline-jobs-draw-hundreds-to-augusta-county-expo/article_0c428ada-b789-5d8e-a20f-b8b0771e496f.html>POTENTIAL PIPELINE JOBS DRAW HUNDREDS TO AUGUSTA COUNTY EXPO</a><br>
