
<h2>Columnists</h2>
<a href=http://pilotonline.com/news/local/columnist/kerry-dougherty/kerry-dougherty-it-s-december-so-it-s-time-for/article_cd3b27b3-6fea-50b1-bdca-7cb694a82e88.html>DOUGHERTY: IT'S DECEMBER, SO IT'S TIME FOR ANOTHER DIVERSION IN VIRGINIA BEACH</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_fe44ebdd-b1ee-5376-95ce-df1c2d61dc39.html>SCHAPIRO: VIRGINIA'S LATEST BUDGET HEADACHE ROOTED IN LONG-IGNORED PROBLEM</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-hands-out-for-bribes-will-now-be-slapped/article_4001b662-647a-59df-bae1-e1e6dd13ff35.html>CHESLEY: HANDS OUT FOR BRIBES WILL NOW BE SLAPPED WITH HANDCUFFS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-beer-with-governor-20161210-story.html>FAIN: WHO SHOULD VIRGINIA HAVE A BEER WITH IN 2017?</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_3ce54b84-3875-5ce7-ac50-b66d2babc68f.html>SCHAPIRO: VIRGINIA'S GREAT TAX GIVEAWAY</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-dreaming-of-smooth-sailing-at-the-hrbt/article_33d4631f-a39d-5608-a4b6-39cf5836bd3d.html>CHESLEY: DREAMING OF SMOOTH SAILING AT THE HRBT</a><br>
<a href=http://www.politifact.com/virginia/promises/macker-meter/promise/1149/create-biotechnology-startup-loans/>POLITIFACT: MCAULIFFE PROMISE TO CREATE BIOTECHNOLOGY STARTUP LOANS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_f793b68f-8407-5733-b74a-60d995c72dfc.html>SCHAPIRO: PLAYING THE TRUMP CARD IN THE GOP PRIMARY</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/bart-hinkle/article_02155c28-a3e0-5db6-9cbc-9d50eceeb01c.html>HINKLE: TRUMP AND MCAULIFFE SHARE A LOT</a><br>

<h2>Congress</h2>
<a href=http://www.godanriver.com/news/danville/garrett-hopes-to-lead-push-for-business-growth-student-debt/article_57990108-bc0c-11e6-a4df-f36fadb2b347.html>GARRETT HOPES TO LEAD PUSH FOR BUSINESS GROWTH, STUDENT DEBT FIX</a><br>
<a href=http://www.fredericksburg.com/news/local/spotsylvania/sen-tim-kaine-visits-spotsy-after-vice-presidential-bid/article_5ef22739-92ca-51e4-98f0-c88b816ad0d2.html>SEN. TIM KAINE VISITS SPOTSY AFTER VICE PRESIDENTIAL BID</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/tiny-office-minority-party-and-little-power-no-matter-to-virginia-rep-elect/2016/12/07/86d644c6-bb30-11e6-91ee-1adddfe36cbe_story.html?utm_term=.3d483ad41ec1>TINY OFFICE, MINORITY PARTY AND LITTLE POWER? IT'S ALL TERRIFIC TO VA. REPRESENTATIVE-ELECT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-congressman-visits-trump-tower-in-search-of-navy-post/2016/12/08/56bfea5e-bcba-11e6-ac85-094a21c44abc_story.html?utm_term=.770f5382563c>VIRGINIA CONGRESSMAN VISITS TRUMP TOWER IN SEARCH OF NAVY POST</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/politics/kaine-goodlatte-recommend-fishburne-for-inaugural-parade/article_90fa7a8e-bdb1-11e6-9593-77d2f099bd87.html>KAINE, GOODLATTE RECOMMEND FISHBURNE FOR INAUGURAL PARADE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-forbes-navy-secretary-20161209-story.html>SUPPORT GROWING FOR FORBES AS NAVY SECRETARY</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/south-hampton-roads-congressional-delegation-shifts-from-gop-to-democratic/article_fd57e410-e571-587d-9bd3-ed7cc9474d7a.html>SOUTH HAMPTON ROADS' CONGRESSIONAL DELEGATION SHIFTS FROM GOP TO DEMOCRATIC TILT</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-rep-scott-hosts-health-care-town-hall-20161212-story.html>REP. SCOTT HOSTS HEALTH CARE TOWN HALL</a><br>
<a href=http://www.styleweekly.com/richmond/representative-elect-donald-mceachin-says-hes-ready-to-wade-into-the-dc-swamp/Content?oid=2384478>DONALD MCEACHIN SAYS HE'S READY TO WADE INTO THE D.C. SWAMP</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/health-care-funding-an-infrastructure-bill-divide-virginia-members-of-congress/2016/12/13/e8196fca-c0c0-11e6-b527-949c5893595e_story.html?utm_term=.2c791a68714e>HEALTH CARE, FUNDING AN INFRASTRUCTURE BILL DIVIDE VIRGINIA MEMBERS OF CONGRESS</a><br>
<a href=http://www.loudountimes.com/news/article/kaine_examines_silver_line_progress_touts_projects_importance432>KAINE EXAMINES SILVER LINE PROGRESS, TOUTS PROJECT'S IMPORTANCE</a><br>
<a href=http://www.insidenova.com/headlines/n-va-congressional-delegation-ponders-new-era-of-donald-trump/article_1c56b504-c148-11e6-9cf7-93fb613e52d8.html>N.VA. CONGRESSIONAL DELEGATION PONDERS NEW ERA OF DONALD TRUMP</a><br>

<h2>Economy/Business</h2>
<a href=http://www.martinsvillebulletin.com/news/novatech-announcement-brings-jobs-to-henry-county/article_9a6422b0-c184-11e6-8955-cb83f08a2bf3.html>NOVATECH ANNOUNCEMENT BRINGS JOBS TO HENRY COUNTY</a><br>
<a href=http://www.heraldcourier.com/news/energy-conference-speakers-future-of-coal-in-swva-still-uncertain/article_543d3791-c2b4-585b-9689-f70378879d9e.html>ENERGY CONFERENCE SPEAKERS: FUTURE OF COAL IN SWVA. STILL UNCERTAIN</a><br>
<a href=http://www.roanoke.com/news/local/botetourt_county/with-canatal-steel-expansion-botetourt-jobs-boom-continues/article_0deaa065-adb1-5277-a5a8-f81f4b680d8c.html>WITH CANATAL STEEL EXPANSION, BOTETOURT JOBS BOOM CONTINUES</a><br>
<a href=http://pilotonline.com/news/local/environment/contractor-says-it-s-nearing-deal-to-sell-fuel-pellets/article_6dcd1a97-e0ea-523d-8efd-b714aadd4851.html>CONTRACTOR SAYS IT'S NEARING DEAL TO SELL FUEL PELLETS MADE FROM HAMPTON ROADS' GARBAGE</a><br>
<a href=http://pilotonline.com/news/government/nation/federal-spending-bill-inches-towards-pay-raise-for-service-members/article_b02a80ec-f897-5c51-acc6-b765b2cc282f.html>FEDERAL SPENDING BILL INCHES TOWARDS PAY RAISE FOR SERVICE MEMBERS, BUT UNDERFUNDS AIRCRAFT CARRIER CONSTRUCTION</a><br>
<a href=http://www.wsj.com/articles/problems-at-nuclear-components-supplier-spark-global-reviews-1481625005>COVERUP AT FRENCH NUCLEAR SUPPLIER SPARKS GLOBAL REVIEW</a><br>
<a href=http://www.dailypress.com/news/military/dp-nws-budget-freeze-text-20161207-story.html>STOPGAP BUDGET BILL A MIXED BAG FOR NEWPORT NEWS SHIPYARD</a><br>
<a href=http://pilotonline.com/business/jobs/geico-looking-to-hire-more-than-people-in-virginia-beach/article_f6daa462-2651-5d7d-914f-2ac177b3fa33.html>GEICO LOOKING TO HIRE MORE THAN 500 PEOPLE IN VIRGINIA BEACH</a><br>
<a href=https://www.washingtonpost.com/news/digger/wp/2016/12/07/house-panel-approves-fbi-headquarters-with-focus-on-costs-metro-access/?utm_term=.640bd05a0e6f>HOUSE PANEL APPROVES FBI HEADQUARTERS WITH FOCUS ON COSTS, METRO ACCESS</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/economy/virginia-voters-say-infrastructure-a-positive-investment/article_a8ccea84-bce9-11e6-a03a-13a0f34b9973.html>VIRGINIA VOTERS SAY INFRASTRUCTURE A POSITIVE INVESTMENT</a><br>
<a href=http://www.roanoke.com/ap/business/settlement-approved-for-coal-mines-owned-by-jim-justice/article_1f084e1a-c0b0-55ad-a107-b1bb7b38672d.html>SETTLEMENT APPROVED FOR COAL MINES OWNED BY JIM JUSTICE</a><br>
<a href=http://www.loudountimes.com/news/article/verizon_sells_ashburn_data_centers_to_focus_on_mobile_content432>VERIZON SELLS ASHBURN DATA CENTERS TO FOCUS ON MOBILE CONTENT</a><br>
<a href=http://www.wsj.com/articles/coal-miner-wins-over-wall-street-by-turning-to-gas-fracking-1481115602>COAL COMEBACK? THIS MINING COMPANY ALREADY PIVOTED TO GAS</a><br>
<a href=http://www.dnronline.com/business/go-virginia-gets-regional/article_7eae47ee-be96-11e6-986a-236086925dcd.html>GO VIRGINIA GETS REGIONAL</a><br>
<a href=http://www.fauquier.com/news/contaminants-found-dominion-offers-to-connect-possum-point-residents-to/article_2f3b1a18-be49-11e6-8e86-a3ec8ba042e6.html>DOMINION OFFERS TO CONNECT POSSUM POINT RESIDENTS TO PUBLIC WATER LINE</a><br>
<a href=http://pilotonline.com/business/ports-rail/port-of-virginia-reports-that-november-was-its-second-busiest/article_8b63fdcb-dc30-5ecd-af87-e0abe3bdeb2a.html>PORT OF VIRGINIA REPORTS THAT NOVEMBER WAS ITS SECOND-BUSIEST MONTH ON RECORD</a><br>
<a href=http://www.dailypress.com/news/isle-of-wight-county/dp-nws-iw-notebook-1212-20161211-story.html>EXPO PLANNED FOR POTENTIAL ATLANTIC COAST PIPELINE SUBCONTRACTORS</a><br>
<a href=http://www.nbc29.com/story/34019154/dominion-to-pay-for-water-hookups-filters-after-tests>DOMINION TO PAY FOR WATER HOOKUPS, FILTERS AFTER TESTS</a><br>
<a href=http://www.richmond.com/business/local/article_a13c9891-bd34-5535-b7f0-5e6e05f868a9.html>MARYLAND REAPS BENEFITS OF VIRGINIA BAN ON CASINOS</a><br>
<a href=http://www.dailypress.com/business/dp-peets-coffee-suffolk-20161209-story.html>PEET'S COFFEE TO INVEST $58M IN SUFFOLK, CREATING 135 JOBS</a><br>
<a href=https://secure.solesolution.com/pages/login>REGION-BASED JOB CREATION EFFORT BEGINS</a><br>
<a href=http://www.richmond.com/news/virginia/article_27b52cab-1bb5-5ff1-9698-381342397b62.html>NEW MID-ATLANTIC REGIONAL BUSINESS ALLIANCE EMBRACES RICHMOND, CENTRAL VIRGINIA</a><br>
<a href=http://www.richmond.com/business/local/article_142d06f0-4b2b-5511-be68-ccf8a1c92b5f.html>BOEING TO MOVE DEFENSE EXECUTIVES TO ARLINGTON</a><br>
<a href=http://www.richmond.com/business/local/article_bdf202f4-4ae9-598f-bc0b-30c8fead914a.html>WITH FATE OF HEALTH LAW UNCERTAIN, OFFICIALS HIGHLIGHT COVERAGE IN VIRGINIA</a><br>
<a href=http://www.roanoke.com/business/news/pulaski_county/volvo-trucks-announces-layoffs-at-dublin-plant/article_643c906b-e96a-5957-beca-2a0dc33f8624.html>VOLVO TRUCKS ANNOUNCES 500 LAYOFFS AT DUBLIN PLANT</a><br>

<h2>Editorials</h2>
<a href=http://www.roanoke.com/opinion/editorials/editorial-the-berglund-center-s-roof-shines-a-light-on/article_f41beb21-e921-546f-92c8-184ca1ab347d.html>THE BERGLUND CENTER'S ROOF SHINES A LIGHT ON VIRGINIA'S SOLAR POLICY</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_d3d1b5f4-36f2-502b-bce7-b9fbf38c3e6f.html>REPUBLICAN FIELD FOR GOVERNOR THINS</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-an-opening-salvo/article_42d6b26b-4953-5c55-a7ba-06d2c2ce7080.html>AN OPENING SALVO</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-forbes-wittman-1215-20161214-story.html>TWO GOOD MEN FOR THE JOBS</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-why-virginia-has-a-slow-growth-economy/article_545bfaab-3f15-5c1f-a4f8-7c0adf5bd6ed.html>WHY VIRGINIA HAS A SLOW-GROWTH ECONOMY</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-cybersecurity-gets-a-bipartisan-push/article_6d90b9ff-92f6-55fe-8f72-8f2c792cd20d.html>CYBERSECURITY GETS A BIPARTISAN PUSH</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-scotus-redistricting-1208-20161207-story.html>MAPPING OUT VIRGINIA'S VOTES</a><br>
<a href=http://www.dailyprogress.com/opinion/editorials/opinion-editorial-tuition-fund-an-encouraging-development/article_b6d796fa-c17c-11e6-b291-3fd044f1c8cc.html>TUITION FUND AN ENCOURAGING DEVELOPMENT</a><br>
<a href=https://www.washingtonpost.com/opinions/in-virginia-county-bigwigs-cry-sewage-to-block-a-mosque/2016/12/15/48e63084-c23f-11e6-9578-0054287507db_story.html?utm_term=.ffee462da5f0>IN VIRGINIA, COUNTY BIGWIGS CRY 'SEWAGE' TO BLOCK A MOSQUE</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_ab69a46f-f5a9-5cbe-bf1b-4656fd0d5f20.html>VIRGINIA MAKES MINOR PROGRESS ON FREEDOM OF INFORMATION</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-thumbs-up-on-regional-transportation/article_62943b80-c243-11e6-a3ae-33032bfefe26.html>THUMBS UP ON REGIONAL TRANSPORTATION</a><br>
<a href=http://www.loudountimes.com/news/article/editorial_loudoun_school_systems_protectionism_must_end_wayde_byard543>LOUDOUN SCHOOL SYSTEM'S PROTECTIONISM MUST END</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-let-s-hope-virginia-politicians-don-t-mess-up/article_e26ffdf7-4afc-5273-904e-b170cb817d90.html>LET'S HOPE VIRGINIA POLITICIANS DON'T MESS UP OUR SPORTS TOURISM</a><br>
<a href=https://www.washingtonpost.com/opinions/liberty-university-shows-it-takes-sports-more-seriously-than-sexual-assault/2016/12/08/083b6906-bb36-11e6-91ee-1adddfe36cbe_story.html?utm_term=.93dbc3ec65f5>LIBERTY UNIVERSITY SHOWS IT TAKES SPORTS MORE SERIOUSLY THAN SEXUAL ASSAULT</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_094961d9-a839-554a-9339-22d47c172397.html>VIRGINIA REDISTRICTING CASE PRESENTS SUPREME COURT WITH A MIND-READING PROBLEM</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-congress-dereliction-of-duty/article_b9356266-e028-5f6f-a5e4-da3659db3089.html>CONGRESS' DERELICTION OF DUTY</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-roanoke-honors-linwood-holton/article_5f7834d5-30be-5254-9bc2-ca01ccbba4e8.html>ROANOKE HONORS LINWOOD HOLTON</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/caught-in-a-fiscal-and-ethical-bind/article_9e81cd36-bd86-11e6-81c5-531a4b33d602.html>CAUGHT IN A FISCAL AND ETHICAL BIND</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-how-wise-county-s-court-clerk-became-a-visionary/article_cb301257-2fbc-5ec4-a2c9-94e518dd5581.html?mode=jqm>HOW WISE COUNTY'S COURT CLERK BECAME A VISIONARY ECONOMIC DEVELOPER</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-tend-to-the-cities/article_503cc261-c1ab-5278-be28-8ea14b28ca39.html>TEND TO THE CITIES</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_d4c463ba-3bf8-526e-bbcb-6eab5882f94c.html>HOW TO REV UP VIRGINIA'S ECONOMY</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/cvtc-residents-families-must-be-top-priority/article_28417e46-be53-11e6-95e3-b3c5947a5518.html>CVTC RESIDENTS, FAMILIES MUST BE TOP PRIORITY</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_d30b7ef7-9ad7-5896-8ad7-510f08a7f75d.html>VIRGINIA IS LEGALIZING POT, SORT OF</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-an-economic-call-to-action/article_54bce39a-df19-5c0d-83e1-4e5ff61cc4b5.html>AN ECONOMIC CALL TO ACTION</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_81ff0e1e-5b71-572e-85b7-7e27531acc6f.html>VIRGINIA'S HAM-FISTED APPROACH TO DRIVER'S LICENSE SUSPENSION</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-bellamy-should-help-foster-unity/article_7c957732-c0b4-11e6-860d-436931506f96.html>BELLAMY SHOULD HELP FOSTER UNITY</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-making-sense-of-mcauliffe-s-proposal-to-restructure-the/article_e6643623-6162-5e3f-b897-ac3854b45236.html>MAKING SENSE OF MCAULIFFE'S PROPOSAL TO RESTRUCTURE VEDP</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-a-better-choice-for-student-discipline/article_64296484-cfd3-5796-8cb3-30dca5a37f0c.html>A BETTER CHOICE FOR STUDENT DISCIPLINE</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-there-s-no-end-to-burfoot-s/article_86f42d84-f2f4-5c77-8901-c8423c22bcd6.html>THERE'S NO END TO BURFOOT'S SELF-INTEREST</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_e1d94605-9f6e-5693-b907-d3b408710416.html>THE JUSTICE DEPARTMENT WEIGHS IN ON VIRGINIA JAIL, MOSQUE</a><br>
<a href=http://www.newsleader.com/story/opinion/editorials/2016/12/02/mbu-changes-step-long-term-survival/94822410/>MBU CHANGES IN STEP WITH LONG-TERM SURVIVAL</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-whew-photo-id-law-upheld/article_e0fa2cee-2f08-5aaf-8172-3ed446392d31.html>WHEW! PHOTO ID LAW UPHELD</a><br>
<a href=http://www.nytimes.com/2016/12/03/opinion/where-unfair-voting-practices-begin.html?_r=0>WHERE UNFAIR VOTING PRACTICES BEGIN</a><br>

<h2>Executive Branch</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-calls-for-big-investment-in-mental-health-care-and-addiction-treatment/2016/12/14/a1303a72-c240-11e6-9a51-cd56ea1c2bb7_story.html?utm_term=.f30e709b259c>MCAULIFFE CALLS FOR BIG INVESTMENT IN MENTAL HEALTH CARE AND ADDICTION TREATMENT</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_f8bb4f65-20d8-5347-a444-54042730419a.html>MCAULIFFE ANNOUNCES FUNDING, LEGISLATION TO BOOST MENTAL HEALTH SYSTEM, FIGHT OPIOID CRISIS</a><br>
<a href=https://www.washingtonpost.com/news/grade-point/wp/2016/12/06/thousands-of-virginians-may-be-eligible-for-student-loan-forgiveness-and-they-might-not-even-know-it/?utm_term=.8a387674755a>THOUSANDS OF VIRGINIANS MAY BE ELIGIBLE FOR STUDENT LOAN FORGIVENESS. AND THEY MIGHT NOT EVEN KNOW IT.</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-mental-health-mcauliffe-20161214-story.html>MCAULIFFE CALLS FOR NEW MENTAL HEALTH MONEY; SESSION SHAPING UP WITH FOCUS ON SYSTEM REFORM</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_5744446a-91a5-5d5c-a645-74be90ab3eb7.html>MCAULIFFE DOUBLES DOWN ON PIPELINE SUPPORT, HINTS AT ECONOMIC PROSPECTS</a><br>
<a href=http://pilotonline.com/news/local/crime/norfolk-four-have-asked-gov-terry-mcauliffe-to-declare-them/article_2d4b5589-4e83-590f-8c90-7e2122b968eb.html>'NORFOLK FOUR' HAVE ASKED GOV. TERRY MCAULIFFE TO DECLARE THEM INNOCENT</a><br>
<a href=http://www.richmond.com/news/local/government-politics/article_293ceabc-2dad-5676-af6c-eb123205f79d.html>MCAULIFFE HOLDS HOLIDAY RECEPTION FOR FAMILIES OF DEPLOYED SERVICE MEMBERS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-wants-to-overhaul-virginias-economic-development-agency/2016/12/12/90f1f1b6-c086-11e6-897f-918837dae0ae_story.html?utm_term=.a98ed731276a>MCAULIFFE WANTS TO OVERHAUL VIRGINIA'S ECONOMIC DEVELOPMENT AGENCY</a><br>
<a href=http://pilotonline.com/news/government/virginia/gov-mcauliffe-wants-future-governors-to-have-more-control-over/article_40672852-f832-50bd-8661-15cf72c500d4.html>GOV. MCAULIFFE WANTS FUTURE GOVERNORS TO HAVE MORE CONTROL OVER ECONOMIC INCENTIVE AGENCY</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_559783a0-a8cd-5e8d-add5-d88e07734d9c.html>MCAULIFFE PROPOSES STRONGER OVERSIGHT FOR ECONOMIC DEVELOPMENT AFTER SCATHING REPORT</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-mcauliffe-vedp-20161212-story.html>MCAULIFFE CALLS FOR MORE EXECUTIVE BRANCH CONTROL OVER VIRGINIA BUSINESS GRANT PROGRAM</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-proposes-one-time-bonus-for-state-employees-and-teachers/2016/12/13/05fd49f2-c15d-11e6-9a51-cd56ea1c2bb7_story.html?utm_term=.d62d888cd223>MCAULIFFE PROPOSES ONE-TIME BONUS FOR STATE EMPLOYEES AND TEACHERS</a><br>
<a href=http://www.richmond.com/news/virginia/article_3539510f-2813-5029-abbd-bceb385da257.html>MCAULIFFE PROPOSES 1.5% BONUS FOR STATE WORKERS, TEACHERS AFTER CANCELED RAISES</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-state-employee-bonus-20161213-story.html>MCAULIFFE: NO RAISES, BUT BONUSES NEXT YEAR FOR STATE EMPLOYEES, TEACHERS</a><br>

<h2>Federal Elections</h2>
<a href=http://www.insidenova.com/news/arlington/va-republicans-aim-to-salute-trump-at-inaugural-ball/article_7627e99c-bb1f-11e6-8f6f-eb1071eb7ed3.html>VA. REPUBLICANS AIM TO SALUTE TRUMP AT INAUGURAL BALL</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-congressman-calls-for-delay-in-electoral-college-vote/2016/12/14/98022426-c21b-11e6-8422-eac61c0ef74d_story.html?utm_term=.cdc65b3158c0>VIRGINIA CONGRESSMAN CALLS FOR DELAY IN ELECTORAL COLLEGE VOTE</a><br>
<a href=http://www.winchesterstar.com/news/clarke/virginia-electors-talk-about-college-s-vote/article_1f97f482-5df3-52c6-ab41-7d6beae8bc7b.html>VIRGINIA ELECTORS TALK ABOUT COLLEGE'S VOTE</a><br>
<a href=http://www.insidenova.com/news/election/fairfax-officials-upgrades-team-effort-led-to-smooth-election-day/article_566c707c-bcb0-11e6-b473-abd881721a9d.html>FAIRFAX OFFICIALS: UPGRADES, TEAM EFFORT LED TO SMOOTH ELECTION DAY</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/hampton-roads-members-of-electoral-college-voting-with-mixed-emotions/article_af9d337a-ac1d-57d3-ae7f-a5c5f502c505.html>HAMPTON ROADS MEMBERS OF ELECTORAL COLLEGE VOTING WITH MIXED EMOTIONS</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/randy-forbes-supporters-get-revenge-on-republican-who-helped-unseat/article_034c3966-622f-5e8d-8f05-69008ee1ed40.html>RANDY FORBES SUPPORTERS GET REVENGE ON REPUBLICAN WHO HELPED UNSEAT HIM</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/survey-obamas-approval-rating-hits-new-high-mark-in-virginia/2016/12/15/c7b6a010-c2bc-11e6-8422-eac61c0ef74d_story.html?utm_term=.8a2b0a392018>SURVEY: OBAMA'S APPROVAL RATING HITS NEW HIGH MARK IN VIRGINIA</a><br>
<a href=http://pilotonline.com/news/government/nation/rep-randy-forbes-visits-trump-tower-where-interviews-for-trump/article_1d080482-d00b-5a7b-ba0c-e52df95aee57.html>REP. RANDY FORBES VISITS TRUMP TOWER</a><br>

<h2>From vpap.org</h2>
<a href=http://www.vpap.org/visualizations/voter-registration-maps>VISUALIZATION: WHICH LEGISLATIVE DISTRICTS HAVE GAINED MOST VOTERS?</a><br>

<h2>General Assembly</h2>
<a href=http://www.heraldcourier.com/news/state-support-for-the-arts-a-matter-of-having-a/article_849b86d0-da0f-5b00-a3b5-495dc252af28.html>STATE SUPPORT FOR THE ARTS A MATTER OF HAVING A STORY WORTH TELLING</a><br>
<a href=http://www.godanriver.com/work_it_sova/news/gearing-up-for-general-assembly-legislators-address-business-leaders/article_c447921a-c18e-11e6-b0a4-bf44d61d5c85.html>GEARING UP FOR GENERAL ASSEMBLY, LEGISLATORS ADDRESS BUSINESS LEADERS</a><br>
<a href=http://www.roanoke.com/news/local/deeds-still-seeks-massive-overhaul-of-mental-health-system/article_627ec663-5298-5f83-93b9-05ff654bbb52.html>DEEDS STILL SEEKS MASSIVE OVERHAUL OF MENTAL HEALTH SYSTEM</a><br>
<a href=http://pilotonline.com/news/government/virginia/lawmakers-propose-process-for-jail-death-investigations-following-jamycheal-mitchell/article_db0388e5-9858-5769-8b95-987255f22398.html>LAWMAKERS PROPOSE PROCESS FOR JAIL DEATH INVESTIGATIONS FOLLOWING JAMYCHEAL MITCHELL CASE</a><br>
<a href=http://www.richmond.com/news/local/government-politics/article_54609316-740f-5321-855f-eefc60cc96e4.html>LAWMAKERS ASK FOR TWO-YEAR EXTENSION TO CONTINUE WORKING ON MENTAL HEALTH REFORMS</a><br>
<a href=http://www.dailypress.com/news/crime/dp-nws-norment-marijuana-request-20161206-story.html>SENATOR REQUESTS STATE STUDY ON MARIJUANA LAWS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-virginia-mental-legislation-2017-20161206-story.html>MENTAL HEALTH REFORMS QUEUED UP FOR 2017 ASSEMBLY</a><br>
<a href=http://www.newsadvance.com/work_it_lynchburg/news/general-assembly-priorities-on-the-menu-at-regional-business-breakfast/article_e8847948-bc04-11e6-9dca-9bb0685605be.html>GENERAL ASSEMBLY PRIORITIES ON THE MENU AT REGIONAL BUSINESS BREAKFAST</a><br>
<a href=http://www.tidewaternews.com/2016/12/15/judge-bars-media-from-morris-hearing/>JUDGE BARS MEDIA FROM MORRIS HEARING</a><br>
<a href=http://www.insidenova.com/health/health_arlington/resolution-on-marijuana-decriminalization-sent-back-for-revisions/article_7d80b346-bc77-11e6-b07e-f713a4287b3c.html>RESOLUTION ON MARIJUANA DECRIMINALIZATION SENT BACK FOR REVISIONS</a><br>
<a href=http://pilotonline.com/news/government/politics/new-state-lawmaker-from-hampton-roads-working-at-norfolk-sheriff/article_c755a614-e281-52b9-914b-4029c8d55118.html>NEW STATE LAWMAKER FROM HAMPTON ROADS WORKING AT NORFOLK SHERIFF'S OFFICE</a><br>
<a href=http://pilotonline.com/news/local/crime/judge-dismisses-of-felonies-against-state-del-rick-morris-in/article_dbb06a83-bfff-52aa-b816-df630c63ed53.html>JUDGE DISMISSES 6 OF 7 FELONIES AGAINST STATE DEL. RICK MORRIS IN DOMESTIC ABUSE CASE</a><br>
<a href=http://valawyersweekly.com/2016/12/07/r-e-s-p-e-c-t-find-out-what-it-means-to-me/>JUDGES FACE QUESTIONS ON DEMEANOR</a><br>
<a href=http://www.thecentralvirginian.com/disputed-bill-would-allow-ida-to-run-louisa-airport/>DISPUTED BILL WOULD ALLOW IDA TO RUN LOUISA'S AIRPORT</a><br>
<a href=http://www.dailypress.com/news/isle-of-wight-county/dp-nws-iw-rick-morris-hearing-20161215-story.html>JUDGE BARS REPORTERS FROM CRIMINAL HEARING FOR STATE DEL. RICK MORRIS</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/virginia-senate-leader-asks-for-study-on-decriminalizing-marijuana/article_7281c41d-2707-5ca7-ac82-0b5301ca8888.html>VIRGINIA SENATE LEADER FORMALLY REQUESTS STUDY ON DECRIMINALIZING MARIJUANA</a><br>
<a href=http://www.newsleader.com/story/news/local/2016/12/14/va-bill-would-prohibit-abortions-after-20-weeks/95420038/>VA. BILL WOULD PROHIBIT ABORTIONS AFTER 20 WEEKS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_149016c3-110d-5bb6-9761-eaad7122be61.html>LEGISLATORS SEEK LEADERSHIP ROLES ON MARTINSVILLE INSTITUTE'S BOARD</a><br>
<a href=http://www.godanriver.com/news/danville/lawmakers-gearing-up-for-session/article_77d32252-bd9f-11e6-9a43-8b1d3f0bb75d.html>LAWMAKERS GEARING UP FOR 2017 SESSION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_1b3f8f72-ec10-5f86-9ef0-08e1ec9def9a.html>SPEAKER HOWELL'S COMMISSION WANTS TO RESTORE RAISE FOR STATE WORKERS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_69aeb512-0a3b-5dfa-bbd6-298dddc03a17.html>REPORT: CAP PROFITS FOR INSURANCE COMPANIES MANAGING MEDICAID</a><br>
<a href=http://www.insidenova.com/headlines/prince-william-supervisors-plan-to-fight-for-gas-tax-stability/article_62402cda-c0a8-11e6-894d-072bea3a349d.html>PRINCE WILLIAM SUPERVISORS PLAN TO FIGHT FOR GAS-TAX STABILITY, AIRBNB RENTAL CONTROL</a><br>
<a href=http://www.richmond.com/news/local/article_981bdc0e-b199-5cf3-936e-e3d3d0eb9acf.html>HOSPITAL ASSOCIATION TO PUSH FOR BETTER REGISTRY FOR MENTAL HEALTH BEDS, EASIER SCREENING</a><br>
<a href=http://www.nytimes.com/2016/12/05/us/politics/supreme-court-redistricting-race.html?_r=0>JUSTICES WRESTLE WITH ROLE OF RACE IN REDISTRICTING</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/virginia-hospitals-seek-mental-health-reforms/article_5f6fb04a-6ffc-551c-9f66-a5d44532d6de.html>VIRGINIA HOSPITALS SEEK MENTAL HEALTH REFORMS</a><br>

<h2>Higher Education</h2>
<a href=http://www.heraldcourier.com/news/virginia-intermont-college-sold-during-auction-for-million/article_899c0dc6-c2e2-11e6-8e27-8f78f81df779.html>VIRGINIA INTERMONT COLLEGE SOLD DURING AUCTION FOR $3.3 MILLION</a><br>
<a href=https://www.washingtonpost.com/news/grade-point/wp/2016/12/15/gun-friendly-liberty-university-to-open-on-campus-shooting-range/?utm_term=.f75782cfa911>LIBERTY UNIVERSITY TO OPEN ON-CAMPUS SHOOTING RANGE</a><br>
<a href=http://www.richmond.com/news/article_b8ef7a2c-d5a9-5348-9fd5-0c2d30ecc65a.html>VMI SUPERINTENDENT DISPUTES COLORING BOOK COMPLAINTS</a><br>
<a href=https://www.washingtonpost.com/sports/colleges/liberty-universitys-new-ad-isnt-sure-why-god-led-him-here-neither-are-some-students/2016/12/07/afbb2ce2-bcc7-11e6-91ee-1adddfe36cbe_story.html?utm_term=.e5f3d726adb8>EX-BAYLOR AD ISN'T SURE WHY GOD LED HIM TO LIBERTY UNIVERSITY. NEITHER ARE SOME STUDENTS.</a><br>
<a href=http://freebeacon.com/culture/vmi-famed-military-academy-giving-cadets-coloring-books-stress/>VMI, FAMED MILITARY ACADEMY, GIVING CADETS COLORING BOOKS FOR STRESS</a><br>
<a href=http://www.dailyprogress.com/news/local/uva/uva-board-establishes-permanent-endowment-for-financial-aid/article_79f94ac0-05a1-5bdc-a50f-218cf0f852ab.html>UVA BOARD ESTABLISHES PERMANENT ENDOWMENT FOR FINANCIAL AID</a><br>
<a href=http://www.richmond.com/news/article_5596ec66-b2bf-55d3-8ae0-c89a01046f5e.html>VCU EMPLOYEES TO GET MERIT BONUSES UP TO $4,000</a><br>
<a href=http://www.richmond.com/news/article_7f15f736-c5f7-547c-92b2-dd6774029201.html>UNIVERSITY OF RICHMOND JOINS EFFORT TO RECRUIT LOW-INCOME STUDENTS</a><br>

<h2>Local</h2>
<a href=http://pilotonline.com/news/local/crime/i-have-a-right-to-earn-a-living-burfoot-defends/article_4860ae00-b0f1-546c-a1dd-6f61409946d4.html>'I HAVE A RIGHT TO EARN A LIVING.' BURFOOT DEFENDS HIS DEALS WITH DEVELOPERS</a><br>
<a href=http://pilotonline.com/news/local/education/public-schools/pushback-from-community-continues-after-virginia-beach-reschedules-gay-pride/article_d1a39751-7483-5eac-a4e3-fc0149a90b85.html>PUSHBACK CONTINUES AFTER VIRGINIA BEACH RESCHEDULES GAY-PRIDE ASSEMBLY</a><br>
<a href=https://www.smithfieldtimes.com/index.php/news/all-news/1819-ancient-records-at-risk-2>ANCIENT RECORDS AT RISK</a><br>
<a href=http://www.loudountimes.com/news/article/loudoun_supervisors_on_track_to_limiting_residential_near_dulles_airport364>LOUDOUN SUPERVISORS PLAN TO LIMIT RESIDENTIAL DEVELOPMENT AROUND DULLES AIRPORT</a><br>
<a href=http://pilotonline.com/news/government/local/virginia-beach-floats-idea-to-use-light-rail-money-to/article_badfe609-89c5-599a-8212-593a6c1cf7e9.html>VIRGINIA BEACH CONSIDERS USING LIGHT RAIL MONEY FOR $464 MILLION IN NEEDED STORMWATER PROJECTS</a><br>
<a href=http://pilotonline.com/news/government/local/footloose-city-chesapeake-tightens-rules-on-dancing-in-clubs-and/article_b74d454a-1775-59ea-8327-04a19a49d271.html>FOOTLOOSE CITY? CHESAPEAKE TIGHTENS RULES ON DANCING IN CLUBS AND BARS</a><br>
<a href=http://www.roanoke.com/news/local/montgomery_county/montgomery-county-leaders-talk-cigarette-tax-growing-broadband/article_34841e21-d117-564e-bde7-867cbab27ed8.html>MONTGOMERY COUNTY LEADERS TALK CIGARETTE TAX, GROWING BROADBAND</a><br>
<a href=http://pilotonline.com/news/local/education/public-schools/one-month-after-all-its-members-resigned-city-of-franklin/article_650d2d67-f537-5dbf-95fc-41e701165082.html>ONE MONTH AFTER ALL ITS MEMBERS RESIGNED, CITY OF FRANKLIN HAS A SCHOOL BOARD AGAIN</a><br>
<a href=http://www.delmarvanow.com/story/news/local/virginia/2016/12/05/accomack-to-kill-a-mockingbird-huckleberry-finn/95006260/>ACCOMACK SCHOOLS TO MEET ON 'TO KILL A MOCKINGBIRD' BAN</a><br>
<a href=http://www.c-ville.com/whos-racist-bellamy-kessler-speak-city-council/#.WEf62vkrLIU>WHO'S A RACIST? WES BELLAMY AND JASON KESSLER SPEAK OUT AT CITY COUNCIL</a><br>
<a href=http://www.progress-index.com/news/20161214/city-considers-sale-of-water-system>CITY CONSIDERS SALE OF WATER SYSTEM</a><br>
<a href=http://pilotonline.com/news/government/local/developer-that-wants-to-build-virginia-beach-arena-challenging-city/article_0b47aaef-bf7a-5952-ab24-a375d8b132ce.html>DEVELOPER THAT WANTS TO BUILD VIRGINIA BEACH ARENA CHALLENGING CITY COUNCIL VOTE THAT HALTED THE PROJECT</a><br>
<a href=http://www.tidewaternews.com/2016/12/14/city-council-begins-rebuilding-school-board/>CITY COUNCIL BEGINS REBUILDING SCHOOL BOARD</a><br>
<a href=http://pilotonline.com/news/local/crime/anthony-burfoot-s-self-described-best-friend-says-he-can/article_d852fa47-0edf-5ec9-bfad-f0932ea9f5b8.html>ANTHONY BURFOOT'S SELF-DESCRIBED "BEST FRIEND" SAYS HE CAN'T BE TRUSTED</a><br>
<a href=http://www.heraldcourier.com/news/brisol-virginia-losing-residents-while-bristol-tennessee-growing-according-to/article_ccae0232-3b48-55cd-9fe2-b4ba742f6da8.html>CENSUS: BRISTOL, VIRGINIA, LOSING RESIDENTS WHILE BRISTOL, TENNESSEE, GROWING</a><br>
<a href=http://www.richmond.com/news/article_873ea08b-1505-5b7f-8cdc-319c11a227f5.html>PETERSBURG POLICE DEPARTMENT'S SOCIAL MEDIA POLICY HELD UNCONSTITUTIONAL</a><br>
<a href=http://www.godanriver.com/news/danville/anti-kkk-protestors-march-in-danville/article_a72902c8-b9b3-11e6-8702-d37ad010db5a.html>ANTI-KKK PROTESTORS MARCH IN DANVILLE</a><br>
<a href=http://www.chesterfieldobserver.com/news/2016-12-07/Front_Page/Supervisors_wrestle_with_charter_politics.html>SUPERVISORS WRESTLE WITH CHARTER POLITICS</a><br>
<a href=http://www.easternshorepost.com/content/nandua-middle-makes-full-accreditation/>THE BOOKS ARE BACK</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/home-sharing-regulations-under-consideration-in-arlington/2016/12/08/b159bc42-bbed-11e6-94ac-3d324840106c_story.html?utm_term=.aea6d767c912>HOME-SHARING REGULATIONS UNDER CONSIDERATION IN ARLINGTON</a><br>
<a href=http://pilotonline.com/news/local/crime/prosecutors-defense-make-final-arguments-in-norfolk-treasurer-anthony-burfoot/article_0c72ebdf-fea1-505a-a858-8b2b11660c6d.html>PROSECUTORS, DEFENSE MAKE FINAL ARGUMENTS IN PUBLIC CORRUPTION TRIAL</a><br>
<a href=http://www.roanoke.com/news/local/blacksburg/blacksburg-planning-to-start-enforcing-airbnb-regulations-next-month/article_b0ce45bd-a5e8-5698-b89a-c6b430cc221e.html>BLACKSBURG PLANNING TO START ENFORCING AIRBNB REGULATIONS NEXT MONTH</a><br>
<a href=http://www.loudountimes.com/news/article/loudoun_supervisor_direct_staff_to_conduct_literature_search_on_altern432>LOUDOUN SUPERVISORS DIRECT STAFF TO EXAMINE ALTERNATIVES TO SYNTHETIC TURF</a><br>
<a href=http://richmondfreepress.com/news/2016/dec/09/mayor-jones-final-bow/>MAYOR JONES' FINAL BOW</a><br>
<a href=http://www.dailyprogress.com/news/local/bellamy-supporters-ask-school-board-to-give-him-a-second/article_77fe181d-f422-5b11-aa20-c7e5d8b27fd7.html>BELLAMY SUPPORTERS ASK SCHOOL BOARD TO GIVE HIM A SECOND CHANCE</a><br>
<a href=http://www.progress-index.com/news/20161208/city-succeeds-in-obtaining-loan>CITY SUCCEEDS IN OBTAINING LOAN</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_3fcdb4b4-c5c8-5a13-8d68-a9e5137db9fd.html>KIM GRAY IS MOVING TO CITY COUNCIL, BUT IN DENMARK SHE'S A CELEBRITY</a><br>
<a href=http://www.newsadvance.com/new_era_progress/news/amherst-county-public-schools-employees-to-receive-bonus/article_f91604d4-be6b-11e6-88ba-5f46922f70ff.html>AMHERST COUNTY PUBLIC SCHOOLS EMPLOYEES TO RECEIVE BONUS</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_08729f16-be6e-5a78-9943-63b6d84b704c.html>2016 RICHMOND MAYORAL RACE WAS MOST EXPENSIVE IN THE CITY'S HISTORY</a><br>
<a href=http://pilotonline.com/news/local/crime/norfolk-treasurer-anthony-burfoot-found-guilty-on-counts-in-federal/article_0c17960a-9c8d-571a-a01f-a8dfac2eafa2.html>NORFOLK TREASURER FOUND GUILTY ON 6 COUNTS IN FEDERAL PUBLIC CORRUPTION TRIAL</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/arlington-legalizes-airbnb-type-short-term-rentals-starting-at-years-end/2016/12/10/3dab40c0-bedd-11e6-91ee-1adddfe36cbe_story.html?utm_term=.569dc2cf76bd>ARLINGTON LEGALIZES AIRBNB-TYPE SHORT-TERM RENTALS, STARTING AT YEAR'S END</a><br>
<a href=https://www.washingtonpost.com/local/justice-dept-sues-virginia-county-over-denial-of-permit-to-build-mosque/2016/12/12/1bd614b2-c0d0-11e6-b527-949c5893595e_story.html>JUSTICE DEPT. SUES VIRGINIA COUNTY OVER DENIAL OF PERMIT TO BUILD MOSQUE</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/justice-department-sues-culpeper-over-denial-of-mosque-permit/article_62879c70-c0d3-11e6-9de9-cf0ae3abf96a.html>JUSTICE DEPARTMENT SUES CULPEPER OVER DENIAL OF MOSQUE PERMIT</a><br>
<a href=http://www.insidenova.com/news/arlington/arlington-short-term-stay-rules-something-of-a-work-in/article_e9be0af4-c069-11e6-8699-df603a17fa98.html>ARLINGTON SHORT-TERM-STAY RULES SOMETHING OF A WORK IN PROGRESS</a><br>
<a href=http://pilotonline.com/news/government/local/two-council-members-call-for-norfolk-treasurer-anthony-burfoot-to/article_ffc23f52-bf60-5650-92df-b18d4a413c07.html>TWO COUNCIL MEMBERS CALL FOR NORFOLK TREASURER ANTHONY BURFOOT TO RESIGN</a><br>
<a href=http://pilotonline.com/news/government/local/special-prosecutor-will-not-ask-judge-to-suspend-norfolk-treasurer/article_4697b5d3-5c5d-5a8c-9019-cfe9ac01bc68.html>SPECIAL PROSECUTOR WILL NOT ASK JUDGE TO SUSPEND NORFOLK TREASURER ANTHONY BURFOOT PENDING RECALL</a><br>
<a href=http://pilotonline.com/news/government/local/what-to-do-about-anthony-burfoot-norfolk-council-to-discuss/article_08d7d2a0-825b-5654-9cba-83bd40431542.html>NORFOLK CITY COUNCIL UNANIMOUSLY CALLS FOR TREASURER ANTHONY BURFOOT TO RESIGN BY THURSDAY</a><br>
<a href=http://www.richmond.com/news/local/hanover/article_40de3d4a-d155-5d8b-88b3-e35a1388bb70.html>HANOVER GROUP QUESTIONS SCHOOL BOARD ON 'CHARACTER EDUCATION PROGRAM'</a><br>
<a href=http://www.commonwealthtimes.org/2016/12/05/one-ages-team-millennials-helped-elect-rvas-youngest-mayor/>HOW A TEAM OF MILLENNIALS HELPED ELECT RVA'S YOUNGEST MAYOR</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/fairfax-approves-civilian-board-to-review-police-abuse-cases/2016/12/06/e73bc13e-bb52-11e6-94ac-3d324840106c_story.html?utm_term=.ec08b03d9a59>FAIRFAX SUPERVISORS APPROVE CIVILIAN BOARD TO REVIEW POLICE-ABUSE CASES</a><br>
<a href=http://pilotonline.com/news/local/transportation/virginia-beach-city-council-will-hear-plan-to-cut-off/article_7536359f-665a-564f-b735-11fc8182f3d0.html>VIRGINIA BEACH CITY COUNCIL WILL HEAR PLAN TO CUT OFF SECTION OF ATLANTIC AVENUE NEAR THE CAVALIER</a><br>
<a href=http://www.loudountimes.com/news/article/community_voices_opinions_about_lgbtq_protection_to_loudoun_county_school_b>COMMUNITY VOICES OPINIONS ABOUT LGBTQ PROTECTION TO LOUDOUN COUNTY SCHOOL BOARD</a><br>

<h2>Online News</h2>
<a href=http://www.fauquiernow.com/index.php/fauquier_news/article/fauquier-county-will-take-over-volunteer-fire-company-2016>COUNTY WILL TAKE OVER VOLUNTEER FIRE COMPANY</a><br>
<a href=http://cvilletomorrow.org/news/article/25716-planning-commission-approves-new-regs-for-farm/>PLANNING COMMISSION APPROVES NEW REGS FOR FARM WINERIES</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-is-it-the-quiet-before-the-storm-or-just-kinda-quiet-del-yancey-wonders-20161215-post.html>IS IT THE QUIET BEFORE THE STORM, OR JUST KINDA QUIET, DEL YANCEY WONDERS</a><br>
<a href=http://www.nj.com/politics/index.ssf/2016/12/christie_heading_south_for_virginia_gop_event.html>CHRISTIE HEADING SOUTH TO SPEAK AT VIRGINIA GOP GATHERING</a><br>
<a href=http://www.washingtonexaminer.com/terry-mcauliffe-says-his-pet-chicken-named-hillary-died-right-before-election/article/2609220>TERRY MCAULIFFE SAYS HIS PET CHICKEN NAMED HILLARY DIED RIGHT BEFORE ELECTION</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-gillespie-flooding-the-zone-in-2017-governor-s-race-20161209-post.html>GILLESPIE FLOODING THE ZONE IN 2017 GOVERNOR'S RACE</a><br>
<a href=http://thebullelephant.com/wittmans-exit-proves-to-be-gillespies-boon/>WITTMAN'S EXIT PROVES TO BE GILLESPIE'S BOON</a><br>
<a href=http://potomaclocal.com/2016/12/09/hope-fades-for-vre-extension-to-gainesville-haymarket/>HOPE FADES FOR VRE EXTENSION TO GAINESVILLE, HAYMARKET</a><br>
<a href=http://southsidedaily.com/2016/12/13/5-questions-with-virginia-beach-house-district-85-candidates/>5 QUESTIONS WITH VIRGINIA BEACH HOUSE DISTRICT 85 CANDIDATES</a><br>
<a href=http://thebullelephant.com/trump-staff-corey-stewart-a-net-negative-to-the-effort-in-virginia/>TRUMP STAFF: COREY STEWART A "NET NEGATIVE" TO THE EFFORT IN VIRGINIA</a><br>

<h2>Op-Ed</h2>
<a href=http://pilotonline.com/opinion/columnist/guest/grace-bonney-schools-erred-on-gay-pride-assembly/article_74eb11bd-4a02-50f0-b07d-b71723f5b190.html>BONNEY: SCHOOLS ERRED ON GAY PRIDE ASSEMBLY</a><br>
<a href=http://www.roanoke.com/opinion/commentary/barnes-why-aren-t-virginia-s-millennials-signing-up-for/article_16d95a3e-2b1c-505c-b51a-48e907fe8a1e.html>BARNES: WHY AREN'T VIRGINIA'S MILLENNIALS SIGNING UP FOR THE AFFORDABLE CARE ACT?</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_e0d624d2-77e2-53d6-9a0a-f5f6026c422d.html>MARTIRE: VIRGINIA NEEDS NATURAL GAS AS A BRIDGE TOWARD A CLEAN ENERGY FUTURE</a><br>
<a href=http://www.loudountimes.com/letters/article/del._john_bell_my_son_battles_opioid_addiction432>BELL: 'MY SON BATTLES OPIOID ADDICTION'</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_8bd9311c-969c-5786-a6ac-d22d67adf5c7.html>CANTOR: REBUILDING A RESPONSIVE VIRGINIA GOP</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/gordon-morse-virginia-in-search-of-leaders/article_5e05d164-9b2e-5bda-8a67-d75fc7ab2ba7.html>MORSE: VIRGINIA IN SEARCH OF LEADERS</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/jim-oliver-build-a-new-model-for-governance/article_dbe5f8a6-b015-54a2-b854-3a917be7e211.html>OLIVER: BUILD A NEW MODEL FOR GOVERNANCE</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_fef2adf9-5356-5389-b3eb-786ba81490cb.html>BURTON: HOW ENVIRONMENTAL STEWARDSHIP AND PIPELINE DEVELOPMENT CAN CO-EXIST IN VIRGINIA</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_7495f2a8-5a47-5670-a8e9-a6c5824031ba.html>KNAPP: WHAT HAPPENED WHEN THE WHOLE WORLD SHOWED UP AT MY HIGH SCHOOL IN HENRICO</a><br>
<a href=http://www.dailypress.com/news/opinion/dp-nws-oped-layne-1211-20161209-story.html>LAYNE: TO DRIVE SMART, BUILD SMARTER</a><br>
<a href=http://www.roanoke.com/opinion/commentary/mange-we-can-control-guns-without-government-action/article_50c69365-e21c-5ca7-b0b4-6216610d76b6.html>MANGE: WE CAN CONTROL GUNS WITHOUT GOVERNMENT ACTION</a><br>
<a href=http://www.roanoke.com/opinion/commentary/chambers-airbnb-facilitates-the-operation-of-illegal-unregulated-and-untaxed/article_cb41e845-ea86-533b-9460-7f010bf85066.html>CHAMBERS: AIRBNB FACILITATES THE OPERATION OF ILLEGAL, UNREGULATED AND UNTAXED HOTELS?</a><br>

<h2>State Elections</h2>
<a href=http://pilotonline.com/news/government/politics/virginia/new-poll-most-people-in-virginia-don-t-really-know/article_f3d12cc8-b894-5db9-8a18-7693ca7777b2.html>NEW POLL: MOST VIRGINIANS DON'T REALLY KNOW WHO'S RUNNING FOR GOVERNOR</a><br>
<a href=http://www.richmond.com/news/virginia/article_1f48acd6-ab43-57ab-8bc0-129c0b7f8952.html>MCCLELLAN WON'T FACE GOP OPPOSITION IN SPECIAL ELECTION FOR STATE SENATE SEAT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/poll-ed-gillespie-leads-gop-field-running-for-virginia-governor/2016/12/14/f862d78a-c1ed-11e6-8422-eac61c0ef74d_story.html?utm_term=.3279eeb7426e>POLL: ED GILLESPIE LEADS GOP FIELD RUNNING FOR VIRGINIA GOVERNOR</a><br>
<a href=http://www.winchesterstar.com/news/winchester/local-democrats-have-potential-candidates/article_1ee8ff7b-66a6-575b-b0ba-0f5a9ae55aad.html>LOCAL DEMOCRATS HAVE POTENTIAL CANDIDATES</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_cfc23c30-37d7-5f68-878f-ee7cbaa185a5.html>POLL: GILLESPIE LEADS GOP FIELD, BUT TRAILS NORTHAM IN 2017 GOVERNOR'S RACE</a><br>
<a href=http://www.loudountimes.com/news/article/loudoun_residents_advocating_for_shifts_on_solar_policy432>FRANK WAGNER TOURS LOUDOUN SOLAR FARM</a><br>
<a href=http://www.richmond.com/news/local/article_83506876-47bd-50ca-b69c-02855ad8057a.html>LIBERTARIAN ACTIVIST MAKES BALLOT IN RICHMOND-AREA STATE SENATE RACE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/cantor-resurfaces-generates-buzz-about-potential-comeback/2016/12/14/c7fd4976-c22a-11e6-9578-0054287507db_story.html?utm_term=.d6037f81e026>CANTOR RESURFACES, GENERATES BUZZ ABOUT POTENTIAL COMEBACK</a><br>
<a href=http://www.roanoke.com/news/politics/ed-gillespie-s-college-leaders-tour-stops-at-radford-vmi/article_a9d96780-853f-5f76-8341-871252f99062.html>ED GILLESPIE'S COLLEGE LEADERS' TOUR STOPS AT RADFORD, VMI</a><br>
<a href=http://fluvannareview.com/index.php?option=com_content&view=article&id=7637:political-use-of-school-bus-sparks-controversy&catid=34:headlines&Itemid=152>POLITICAL USE OF SCHOOL BUS SPARKS CONTROVERSY</a><br>
<a href=http://www.newsadvance.com/news/local/senate-special-election-candidates-cross-district-to-round-up-support/article_89a5eec4-c326-11e6-8b68-1fbeacff03ef.html>SENATE 22 SPECIAL ELECTION CANDIDATES CROSS DISTRICT TO ROUND UP SUPPORT</a><br>
<a href=http://www.roanoke.com/news/politics/appeals-court-skeptical-of-challenge-to-virginia-law-on-partisanship/article_8ff07660-8b01-5550-851d-5c0416c8cd72.html>APPEALS COURT SKEPTICAL OF CHALLENGE TO VIRGINIA LAW ON PARTISANSHIP IN LOCAL ELECTIONS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/the-gop-field-for-virginia-governor-just-got-smaller/2016/12/08/fa215bf4-bd52-11e6-ac85-094a21c44abc_story.html?utm_term=.bdb978a18989>THE GOP FIELD FOR VIRGINIA GOVERNOR JUST GOT SMALLER</a><br>
<a href=http://www.richmond.com/news/local/government-politics/article_602cf5b0-bd62-5c63-8c7f-9eecd4e04bb0.html>WITTMAN DROPS BID FOR GOVERNOR, CITING NEED FOR VIRGINIA PRESENCE ON MILITARY COMMITTEE</a><br>
<a href=http://www.loudountimes.com/news/article/sen._black_frank_wolf_endorse_gillespies_gubernatorial_bid543>SEN. BLACK, FRANK WOLF ENDORSE GILLESPIE'S GUBERNATORIAL BID</a><br>
<a href=http://pilotonline.com/news/government/politics/rep-rob-wittman-ends-his-bid-for-gop-nomination-for/article_6b759636-5a0a-5bb2-8e33-3eedcf5e1285.html>REP. ROB WITTMAN ENDS HIS BID FOR GOP NOMINATION FOR GOVERNOR OF VIRGINIA</a><br>
<a href=http://www.fredericksburg.com/news/election/wittman-gives-up-gubernatorial-run-will-stay-in-house/article_ac421055-4ceb-511c-9847-90f1ca733325.html>WITTMAN GIVES UP GUBERNATORIAL RUN, WILL STAY IN HOUSE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-wittman-governors-race-20161208-story.html>WITTMAN LEAVES GOVERNOR'S RACE</a><br>
<a href=http://pilotonline.com/news/government/politics/local/pilot-on-politics/emily-brewer-of-suffolk-announces-run-for-state-house-seat/article_012fbddf-ec21-50c5-a7ca-a32330b01250.html>EMILY BREWER OF SUFFOLK ANNOUNCES 2017 RUN FOR STATE HOUSE SEAT HELD BY RICK MORRIS</a><br>
<a href=http://www.roanoke.com/news/local/franklin_county/sen-stanley-named-board-chairman-for-nci-won-t-run/article_a86c583d-004a-55f2-8557-7cc88a8b92a1.html>SEN. STANLEY NAMED BOARD CHAIRMAN FOR NCI, WON'T RUN FOR ATTORNEY GENERAL</a><br>
<a href=http://www.insidenova.com/news/arlington/arlington-democrats-look-beyond-trump-victory-to-races/article_5c03ba76-be0a-11e6-8399-b3fddf6be1dc.html>ARLINGTON DEMOCRATS LOOK BEYOND TRUMP VICTORY TO 2017 RACES</a><br>
<a href=http://www.richmond.com/news/virginia/article_1f1ce04a-a644-5129-9ccf-6d26fe0856f6.html>VIRGINIA GOP WELCOMES MCDONNELL, CANTOR</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-bob-mcdonnell-interview-20161203-story.html>MCDONNELL: MY RESTORATION IS IN PROCESS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/fiorina-praises-trumps-brilliant-moves-ahead-of-visit-to-trump-tower/2016/12/10/40c5a5bc-bd60-11e6-ac85-094a21c44abc_story.html?utm_term=.2835078f6485>FIORINA PRAISES TRUMP, ENDORSES GILLESPIE</a><br>
<a href=https://www.washingtonpost.com/local/a-va-politician-is-giving-away-an-ar-15-rifle-in-second-amendment-statement/2016/12/10/f3de55a0-bf0d-11e6-91ee-1adddfe36cbe_story.html?utm_term=.b57c4b6063c2>A VA. POLITICIAN IS GIVING AWAY AN AR-15 RIFLE AS A SECOND AMENDMENT STATEMENT</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_53f291ec-e642-5a18-bbfd-ed1a715fd28b.html>AS TRUMP ERA DAWNS, 2017 VIRGINIA GOP HOPEFULS COURT SUPPORTERS AT GATHERING IN RICHMOND</a><br>

<h2>State Government</h2>
<a href=http://www.newsadvance.com/news/local/deq-presents-draft-study-to-reduce-e-coli-levels-in/article_286fdad4-bc32-11e6-bf98-1fe9097106de.html>DEQ PRESENTS DRAFT STUDY TO REDUCE E.COLI LEVELS IN AREA WATERWAYS</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/lawyers-for-virginia-death-row-inmate-sue-to-stop-lethal-injection/2016/12/14/064b39be-c234-11e6-9a51-cd56ea1c2bb7_story.html?utm_term=.51c355010597>LAWYERS FOR VIRGINIA DEATH-ROW INMATE SUE TO STOP LETHAL INJECTION</a><br>
<a href=http://www.roanoke.com/business/news/roanoke/state-hunts-for-contractor-to-build-roanoke-amtrak-platform/article_5aed1cc9-9e4a-5cdf-a03d-518ef1a2c891.html>STATE HUNTS FOR CONTRACTOR TO BUILD ROANOKE AMTRAK PLATFORM</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/article_aa85afe1-b2bd-5c23-8d1b-0e3ec6856b61.html>RICKY GRAY FILES CHALLENGE TO VIRGINIA LETHAL INJECTION, SUGGESTS FIRING SQUAD</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/lawyers-for-virginia-death-row-inmate-sue-to-stop-lethal-injection/2016/12/14/064b39be-c234-11e6-9a51-cd56ea1c2bb7_story.html?utm_term=.826b833cfc57>LAWYERS FOR VIRGINIA DEATH-ROW INMATE SUE TO STOP LETHAL INJECTION</a><br>
<a href=http://pilotonline.com/lawyers-to-argue-that-ricky-gray-should-be-spared-death/article_4e73312e-3c30-5206-bb96-996e4dc22c04.html>LAWYERS SAY RICKY GRAY SHOULDN'T BE EXECUTED, CITING CHILDHOOD ABUSE</a><br>
<a href=http://www.richmond.com/news/local/chesterfield/article_685be2ad-d2b8-5c0f-8acb-21cbb5736973.html>GRANT MONEY HELPS PILOT PROJECTS FOR MENTALLY ILL IN CHESTERFIELD AND RICHMOND JAILS</a><br>
<a href=http://www.richmond.com/news/virginia/ap/article_86733071-b3d3-58aa-8d5e-92456b484c2a.html>REPORT: STATE SALARIES IN VIRGINIA TO LAG PRIVATE SECTOR BY 27 PERCENT</a><br>
<a href=http://www.gazettejournal.net/index.php/news/news_article/county_state_officials_meet_on_mathews_drainage_issue>COUNTY, STATE OFFICIALS MEET ON MATHEWS DRAINAGE ISSUE</a><br>
<a href=http://pilotonline.com/news/local/if-all-goes-as-planned-a-vacant--acre-lot/article_d9495ac3-6d03-52f3-b55b-793cce809921.html>A VACANT 11-ACRE LOT IN DEEP CREEK EYED FOR SITE OF A NEW YOUTH PRISON</a><br>
<a href=http://www.richmond.com/business/local/article_57f6c5da-c65a-5fc7-a898-65e7dd419f43.html>LODGE IN GREENE COUNTY RECEIVES EXPANSION GRANT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginias-sagging-tax-collections-turn-upward-in-november/2016/12/09/216480de-be56-11e6-91ee-1adddfe36cbe_story.html?utm_term=.b82c328a310a>VIRGINIA'S SAGGING TAX COLLECTIONS TURN UPWARD IN NOVEMBER</a><br>
<a href=http://www.insidenova.com/news/arlington/favola-tapped-to-lead-va-commission-on-youth/article_67accbc0-bdff-11e6-94a5-f3d91b0e394d.html>FAVOLA TAPPED TO LEAD VA. COMMISSION ON YOUTH</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/at-fluvanna-correctional-center-for-women-horror-story-after-horror/article_9096368d-54ce-5018-beb7-bea8732e8965.html>AT FLUVANNA CORRECTIONAL CENTER FOR WOMEN, HORROR STORY AFTER HORROR STORY IN MEDICAL CARE</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-vims-epa-grant-20161208-story.html>VIMS, DEQ GET $1.1 MILLION FROM EPA FOR WETLANDS WORK</a><br>
<a href=http://www.roanoke.com/news/crime/details-of-sex-abuse-emerge-as-investigation-of-rockbridge-social/article_e6b06e20-c57f-56ea-a81a-3dca1d09baf1.html>DETAILS OF SEX ABUSE EMERGE AS INVESTIGATION OF ROCKBRIDGE SOCIAL SERVICES CONTINUES</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_a2725063-f19d-50a3-971e-ffa4c5d4f11d.html>NEW STUDY CRITICAL OF VIRGINIA LAW THAT SUSPENDS DRIVER'S LICENSES FOR DRUG OFFENSES</a><br>
<a href=http://www.richmond.com/news/local/chesterfield/article_e3f2605c-2e6d-5f03-be25-f384a63d5dcb.html>LOCALITIES BEGIN NAVIGATING NEW STATE PROFFER LAW</a><br>
<a href=http://www.roanoke.com/news/education/virginia-will-take-a-wait-and-see-approach-on-new/article_d9c473f8-1965-5925-bd14-61bc304e06fe.html>VIRGINIA WILL TAKE A WAIT-AND-SEE APPROACH ON NEW EDUCATION LAW</a><br>
<a href=http://herald-review.com/news/national/virginia-execution-drug-price-jumps--fold/article_d07b2bdd-66f1-53d7-a006-a3d2f840357b.html>VIRGINIA EXECUTION DRUG PRICE JUMPS 63-FOLD</a><br>
<a href=http://www.richmond.com/news/virginia/article_062fa3d4-3183-547e-8df1-a3701c15a706.html>DOJ OPENS INVESTIGATION INTO HAMPTON ROADS REGIONAL JAIL</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/justice-department-announces-investigation-into-the-hampton-roads-regional-jail/article_46659090-0022-5fe8-aecc-2e84a323cdea.html>JUSTICE DEPARTMENT ANNOUNCES INVESTIGATION INTO THE HAMPTON ROADS REGIONAL JAIL</a><br>
<a href=http://www.dailypress.com/news/crime/dp-nws-justice-jail-investigation-20161212-5-story.html>JUSTICE DEPARTMENT LAUNCHES INVESTIGATION OF HAMPTON ROADS REGIONAL JAIL</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/appeals-court-upholds-virginias-voter-id-law/2016/12/13/3888f46e-c150-11e6-9a51-cd56ea1c2bb7_story.html?utm_term=.87212c2225cf>APPEALS COURT UPHOLDS VIRGINIA'S VOTER-ID LAW</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_f0464d2f-fe15-5cbf-b6e3-21e759ae93ed.html>FEDERAL APPEALS COURT UPHOLDS VA. VOTER ID LAW</a><br>
<a href=http://www.richmond.com/news/virginia/article_f1fe8308-90d0-5994-b246-8c9262ae0540.html>DEPARTMENT OF CORRECTIONS SAYS VA. HAS LOW RECIDIVISM RATE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-voter-id-20161213-story.html>FEDERAL APPEALS COURT UPHOLDS VIRGINIA VOTER ID</a><br>
<a href=http://www.nbc29.com/story/34042135/federal-appeals-court-upholds-virginia-voter-id-law>FEDERAL APPEALS COURT UPHOLDS VIRGINIA VOTER ID LAW</a><br>

<h2>The Friday Read</h2>
<a href=http://pilotonline.com/news/local/crime/virginia-beach-detective-describes-chaotic-scene-at-unlicensed-day-care/article_9b734c44-5afd-505b-b086-06b55031fbfc.html>DETECTIVE DESCRIBES CHAOTIC SCENE AT UNLICENSED DAY CARE WHERE INFANT DIED</a><br>
<a href=https://www.washingtonpost.com/local/dc-politics/in-the-bible-belt-roanoke-has-become-a-hub-of-sorts-for-same-sex-marriage/2015/12/01/a45de020-8c75-11e5-ae1f-af46b7df8483_story.html?utm_term=.b6dc601fcaec>IN THE BIBLE BELT, ROANOKE HAS BECOME A HUB OF SORTS FOR SAME-SEX MARRIAGE</a><br>

<h2>Transportation</h2>
<a href=https://www.washingtonpost.com/news/dr-gridlock/wp/2016/12/13/tim-kaine-says-hes-optimistic-on-funding-from-congress-for-metro/?utm_term=.21bcda33f177>TIM KAINE SAYS HE'S 'OPTIMISTIC' ON FUNDING FROM CONGRESS FOR METRO</a><br>
<a href=http://www.richmond.com/news/article_3cfdaeaf-0bb7-58f3-bc83-95436ae6caf9.html>DRPT ASKS FOR MORE TIME TO STUDY HIGH-SPEED RAIL THROUGH ASHLAND AND HANOVER</a><br>
<a href=http://pilotonline.com/news/local/transportation/historic-day-for-hampton-roads-ctb-picks-hrbt-expansion-for/article_f711d1c5-3a5a-574b-b081-2ef0f6aff05a.html>"HISTORIC DAY FOR HAMPTON ROADS": CTB PICKS HRBT EXPANSION FOR NEXT WATER CROSSING</a><br>
<a href=http://pilotonline.com/inside-business/news/maritime-and-transportation/billions-around-the-corner-dozens-of-road-projects-get-green/article_45503a25-7d49-5d61-a549-283ffdc11baa.html>BILLIONS AROUND THE CORNER: DOZENS OF ROAD PROJECTS GET GREEN LIGHT</a><br>
<a href=http://www.dailypress.com/news/hampton/dp-nws-ctb-hrbt-1208----commonwealth-transportation-board-approves-the-widening-20161207-story.html>COMMONWEALTH TRANSPORTATION BOARD APPROVES PLAN TO WIDEN I-64 AT HRBT</a><br>
<a href=http://www.fredericksburg.com/news/transportation/high-speed-rail-coming-to-downtown/article_85035f7b-282c-59ec-8237-17a575a6a49c.html>HIGH-SPEED RAIL COMING TO DOWNTOWN?</a><br>
<a href=http://www.herald-progress.com/town-council-continues-fight-against-rail/>TOWN COUNCIL CONTINUES FIGHT AGAINST RAIL</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/without-major-upgrades-metros-power-system-will-not-be-able-to-handle-new-fleet-of-8-car-trains/2016/12/09/2c5e509e-be35-11e6-94ac-3d324840106c_story.html?utm_term=.b06dc72f79a3>WITHOUT UPGRADES, METRO'S POWER SYSTEM WILL NOT BE ABLE TO HANDLE NEW FLEET OF 8-CAR TRAINS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-mcdonnell-460-tunnels-20161207-story.html>MCDONNELL: 460, DOWNTOWN/MIDTOWN WERE GOOD DEALS</a><br>
<a href=http://www.richmond.com/news/article_03f695bd-6efb-5948-b047-cfb8b2954432.html>ASHLAND WILLING TO BID ADIEU TO RAIL SERVICE TO PREVENT THIRD-TRACK ADDITION</a><br>

<h2>TV/Radio</h2>
<a href=http://wvtf.org/post/new-report-suggests-slow-climb-economic-growth-virginia-following-recession#stream/0>NEW REPORT SUGGESTS SLOW CLIMB TO ECONOMIC GROWTH IN VIRGINIA FOLLOWING RECESSION</a><br>
<a href=http://wavy.com/2016/12/13/local-electoral-delegate-urges-all-to-vote-their-conscience/>LOCAL ELECTORAL DELEGATE URGES ALL TO 'VOTE THEIR CONSCIENCE'</a><br>
<a href=http://wvtf.org/post/vre-asks-20-million-more-each-year-general-assembly-plus-600-million-feds>VRE ASKS FOR $20 MILLION MORE EACH YEAR FROM GENERAL ASSEMBLY PLUS $400 MILLION FROM FEDS</a><br>
<a href=http://www.13newsnow.com/news/two-hampton-roads-men-among-four-indicted-for-gun-trafficking/365352904>TWO HAMPTON ROADS MEN AMONG FOUR INDICTED FOR GUN TRAFFICKING</a><br>
<a href=http://wtkr.com/2016/12/07/virginia-beach-school-bus-driver-were-exhausted-and-our-morale-is-low/>VIRGINIA BEACH SCHOOL BUS DRIVER: "WE'RE EXHAUSTED AND OUR MORALE IS LOW"</a><br>
<a href=http://www.nbcwashington.com/news/local/Virginia-Nightclub-Threatened-After-Refusing-to-Host-Alt-Right-DeploraBall-406862255.html>VIRGINIA NIGHTCLUB THREATENED AFTER REFUSING TO HOST PRO-TRUMP 'DEPLORABALL'</a><br>
<a href=http://wavy.com/2016/12/16/aclu-warns-virginia-school-districts-to-protect-immigrant-students/>ACLU WARNS VIRGINIA SCHOOL DISTRICTS TO PROTECT IMMIGRANT STUDENTS</a><br>
<a href=http://wsls.com/2016/12/15/virginia-18-other-states-file-federal-antitrust-lawsuit-against-pharmaceutical-companies/>VIRGINIA, 18 OTHER STATES FILE FEDERAL ANTITRUST LAWSUIT AGAINST PHARMACEUTICAL COMPANIES</a><br>
<a href=http://wvtf.org/post/virginia-crack-down-black-market-cigarette-trade-1#stream/0>VIRGINIA TO CRACK DOWN ON BLACK MARKET CIGARETTE TRADE</a><br>

<h2>Virginia Other</h2>
<a href=http://www.dailyprogress.com/news/local/uva-s-laycock-culpeper-mosque-lawsuit-full-of-smoking-guns/article_32218d04-c8da-5287-a6d1-007ec0e0e630.html>UVA LAW PROFESSOR: CULPEPER MOSQUE LAWSUIT 'FULL OF SMOKING GUNS'</a><br>
<a href=https://www.washingtonpost.com/news/local/wp/2016/12/06/epa-says-oil-plume-on-potomac-river-came-from-maryland-power-plant/?utm_term=.31cf649dba85>EPA SAYS OIL PLUME ON POTOMAC RIVER CAME FROM POWER PLANT IN MARYLAND</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-antares-launch--florida-20161206-story.html>VIRGINIA WON'T BE THE LAUNCH SITE FOR ORBITAL'S NEXT SPACE STATION MISSION</a><br>
<a href=http://culpepertimes.com/2016/12/14/federal-civil-lawsuit-filed-against-culpeper-county/158866/>FEDERAL CIVIL LAWSUIT FILED AGAINST CULPEPER COUNTY</a><br>
<a href=http://www.easternshorepost.com/content/nandua-middle-makes-full-accreditation/>IT ALL COULD HAVE BEEN AVOIDED</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/dupont-agrees-to-50-million-deal-to-clean-up-mercury-pollution-from-va-plant/2016/12/15/6bfd7a8c-c2e9-11e6-8422-eac61c0ef74d_story.html>DUPONT AGREES TO $50 MILLION DEAL TO CLEAN UP MERCURY POLLUTION FROM VA. PLANT</a><br>
<a href=http://www.richmond.com/news/virginia/article_a7b20db4-a33d-51bc-8ecc-95aa336ba12c.html>WESTMORELAND PLANNERS RECOMMEND STRICT REGULATION OF FRACKING</a><br>
<a href=http://www.richmond.com/life/health/article_5ef9447b-9532-53ee-99b9-a3c46e7bdb93.html>SHELTER TO HELP HUMAN-TRAFFICKING VICTIMS IN CENTRAL VA.</a><br>
<a href=http://www.delmarvanow.com/story/news/local/virginia/2016/12/06/accomack-reinstates-suspended-novels-immediately/95068474/>ACCOMACK COUNTY SCHOOL BOARD REINSTATES SUSPENDED NOVELS</a><br>
<a href=http://www.richmond.com/news/local/government-politics/article_5bd8b220-edc6-5f55-83ac-2fc84aea2115.html>DUPONT AGREES TO PAY $50M IN RECORD-SETTING SETTLEMENT FOR RIVER CONTAMINATION NEAR WAYNESBORO</a><br>
<a href=http://www.dnronline.com/associated_press/virginia/new-company-to-pay-million-over-mercury-dumped-in-shenandoah/article_bec88d05-5372-5b67-ac15-e03944cd259e.html>DUPONT TO PAY $50 MILLION OVER MERCURY DUMPED IN SHENANDOAH RIVER</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-noaa-deep-sea-corals-20161215-story.html>NOAA APPROVES MID-ATLANTIC DEEP-SEA CORAL CANYONS FOR PROTECTION</a><br>
<a href=http://www.richmond.com/news/local/crime/article_2a1c9278-811b-55b6-9297-0c657e55f9bb.html>N.Y. MAN AND RICHMOND-AREA ACCOMPLICE CHARGED IN VA. TO N.Y. GUN TRAFFICKING SCHEME</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/local/potential-pipeline-jobs-draw-hundreds-to-expo/article_dea1307a-bdb1-11e6-b09c-7b439efc9030.html>POTENTIAL PIPELINE JOBS DRAW HUNDREDS TO EXPO</a><br>
<a href=http://www.roanoke.com/news/local/roanoke/roanoke-honors-former-gov-holton-with-downtown-plaza/article_3ec1020a-ebbc-5acd-862f-6b11b344d231.html>ROANOKE HONORS FORMER GOV. HOLTON WITH DOWNTOWN PLAZA</a><br>
<a href=http://www.fredericksburg.com/news/environment/virginia-trying-to-preserve-its-working-waterfronts/article_cc56f6be-ae67-5e30-a1ae-e1e82e3af1e7.html>VIRGINIA TRYING TO PRESERVE ITS WORKING WATERFRONTS</a><br>
<a href=http://www.godanriver.com/news/danville/local-kkk-group-well-established/article_2ad9fb08-be7e-11e6-a8c6-2b87f796a6e1.html>LOCAL KKK GROUP WELL ESTABLISHED</a><br>
<a href=http://www.roanoke.com/news/christmas-parade-rule-changes-draw-out-pro-confederate-flag-protestors/article_d512fc5b-f0f4-5ac8-a252-0741939ad1ad.html>CHRISTMAS PARADE RULE CHANGES DRAW OUT PRO-CONFEDERATE FLAG PROTESTORS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/dominion-will-pay-to-connect-homes-near-ash-ponds-to-public-water-system/2016/12/12/944731ac-c09d-11e6-afd9-f038f753dc29_story.html?utm_term=.74c17533d50b>DOMINION WILL PAY TO CONNECT HOMES NEAR ASH PONDS TO PUBLIC WATER SYSTEM</a><br>
<a href=https://www.washingtonpost.com/local/dc-politics/is-the-dc-mayor-losing-control-of-her-city/2016/12/11/0db36460-bd52-11e6-94ac-3d324840106c_story.html?utm_term=.57ed6032f1e2>IS THE D.C. MAYOR LOSING CONTROL OF HER CITY?</a><br>
<a href=http://www.newsadvance.com/nelson_county_times/news/potential-pipeline-jobs-draw-hundreds-to-augusta-county-expo/article_0c428ada-b789-5d8e-a20f-b8b0771e496f.html>POTENTIAL PIPELINE JOBS DRAW HUNDREDS TO AUGUSTA COUNTY EXPO</a><br>
