
<h2>Columnists</h2>
<a href=http://www.richmond.com/news/local/michael-paul-williams/article_0b4cfbc6-8366-504e-a881-d2332e86a13d.html>WILLIAMS: A CHANCE TO ADDRESS A CENTURY OF NEGLECT</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/private-partner-on-i-66-deal-is-confident-commuters-will-like-hot-lanes/2017/01/07/8660012e-d0f9-11e6-945a-76f69a399dd5_story.html?utm_term=.a7a17a89450e>THOMSON: PRIVATE PARTNER ON I-66 DEAL IS CONFIDENT COMMUTERS WILL LIKE HOT LANES</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-what-the-chargers-move-should-teach-virginia/article_d99b09bd-97ee-5fea-9b7b-803425d98cc2.html>CHESLEY: WHAT THE CHARGERS' MOVE SHOULD TEACH VIRGINIA</a><br>
<a href=http://pilotonline.com/news/local/columnist/kerry-dougherty/kerry-dougherty-virginia-lawmakers-considering-bill-to-allow-hunters-to/article_24d823c9-48ff-5c7d-bdfd-07660afd9aa8.html>DOUGHERTY: VIRGINIA LAWMAKERS CONSIDERING BILL TO ALLOW HUNTERS TO WEAR PINK</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_cee49d88-2664-5cf3-9bfb-d2a51b38bc71.html>SCHAPIRO: REFERENDUM ON TRUMP, INSTEAD, BECOMES ONE ON VA. DEMOCRATS</a><br>
<a href=http://www.richmond.com/news/article_73a0bf1e-dbd5-57c8-89f7-517fdf3504d2.html>SCHAPIRO: NEW YEAR'S WISHES FOR VIRGINIA POLITICOS</a><br>
<a href=https://www.washingtonpost.com/local/a-smokescreen-for-bigotry-disguising-anti-muslim-bias-with-land-use-objections/2017/01/02/14040744-d129-11e6-a783-cd3fa950f2fd_story.html?utm_term=.524dd273470c>DVORAK: A SMOKESCREEN FOR BIGOTRY</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-burfoot-should-step-down/article_a1d5df74-97c8-52aa-9319-10c0a22da573.html>CHESLEY: BURFOOT SHOULD STEP DOWN</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_738b136b-a4d9-500d-815a-e22466e58007.html>SCHAPIRO: VA.'S GOODLATTE IS FIRST ETHICS CASUALTY OF NEW CONGRESS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_65521820-ef53-5044-9995-18997e65b112.html>SCHAPIRO: FOR KAINE, HEALTH CARE, CABINET FIGHTS ARE CAMPAIGN DO-OVER</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/bart-hinkle/article_9d5fe7a3-ac8c-505d-a5e7-0a0ecd2c2206.html>HINKLE: GOV. MCAULIFFE DOES GUN RIGHTS A FAVOR</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/bart-hinkle/article_87c40419-99d5-585d-a6a4-978813325873.html>HINKLE: BOB MARSHALL'S PROGRESSIVE WAR ON PORN</a><br>

<h2>Congress</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/meet-the-virginia-congressman-who-tried-to-gut-the-house-ethics-office/2017/01/04/ac848ea8-d205-11e6-945a-76f69a399dd5_story.html?utm_term=.68cc7b547a45>MEET THE VIRGINIA CONGRESSMAN WHO TRIED TO GUT THE HOUSE ETHICS OFFICE</a><br>
<a href=http://pilotonline.com/news/government/nation/rep-scott-taylor-of-virginia-beach-gets-post-on-clout/article_769a96e9-7208-54c3-999d-079c1f7200d4.html>REP. SCOTT TAYLOR, OF VIRGINIA BEACH, GETS POST ON CLOUT-HEAVY HOUSE APPROPRIATIONS COMMITTEE</a><br>
<a href=http://www.roanoke.com/news/politics/small-group-of-protesters-hopes-goodlatte-gets-the-message/article_455af9f3-9fe0-5bc2-a9d4-0dad6dde4816.html>SMALL GROUP OF PROTESTERS HOPES GOODLATTE GETS THE MESSAGE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/house-republicans-revive-obscure-rule-that-could-allow-them-to-slash-the-pay-of-individual-federal-workers-to-1/2017/01/04/4e80c990-d2b2-11e6-945a-76f69a399dd5_story.html?utm_term=.f5b3bbd8b672>HOUSE REPUBLICANS REVIVE OBSCURE RULE THAT TARGETS CIVIL SERVICE</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/brat-former-ethics-professor-weighs-in-on-ethics-debate/article_ab645802-4631-5348-bef9-0906fe543dff.html>BRAT, FORMER ETHICS PROFESSOR, WEIGHS IN ON ETHICS DEBATE</a><br>
<a href=http://www.loudountimes.com/news/article/comstock_introduces_bill_to_pave_way_for_over_the_counter_contraceptives432>COMSTOCK INTRODUCES BILL TO PAVE WAY FOR OVER-THE-COUNTER CONTRACEPTIVES</a><br>
<a href=http://www.dailypress.com/news/military/dp-nws-wittman-mceachin-20170112-story.html>WITTMAN, MCEACHIN TO GIVE VIRGINIA INFLUENCE TO ARMED SERVICES PANELS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-kaine-aca-20170105-story.html>KAINE BID TO SLOW OBAMACARE REPEAL FAILS</a><br>
<a href=http://www.richmond.com/news/national-world/government-politics/article_0a48a558-18f4-5789-95a8-4edc96cf96f1.html>SEN. TIM KAINE LEADS PUSH TO BLOCK QUICK REPEAL OF HEALTH CARE LAW</a><br>
<a href=https://www.washingtonpost.com/politics/tim-kaine-questions-judgment-of-trumps-pick-for-national-security-adviser/2017/01/05/2fbd8d18-d37a-11e6-9cb0-54ab630851e8_story.html?utm_term=.2d33b3977e77>TIM KAINE QUESTIONS JUDGMENT OF TRUMP'S PICK FOR NATIONAL SECURITY ADVISER</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-mcauliffe-asks-congress-to-go-slow-on-obamacare-repeal-20170105-post.html>MCAULIFFE ASKS CONGRESS TO GO SLOW ON OBAMACARE REPEAL</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/virginia-senators-oppose-measure-to-repeal-obamacare-say-it-will/article_2a1e3cf3-e7ca-5634-a8b3-9b518d52c81c.html>VIRGINIA SENATORS OPPOSE MEASURE TO REPEAL OBAMACARE, SAY IT WILL CREATE CHAOS</a><br>
<a href=http://www.insidenova.com/headlines/kaine-finds-woodbridge-allies-in-fight-against-obamacare-repeal/article_17d9c2b6-d811-11e6-a381-fbf372cebd78.html>KAINE FINDS WOODBRIDGE ALLIES IN FIGHT AGAINST OBAMACARE REPEAL</a><br>
<a href=http://pilotonline.com/news/government/politics/nation/tim-kaine-opposes-rex-tillerson-for-secretary-of-state-but/article_6b90cc15-c5d3-5e9d-a6d8-4e571723cb91.html>TIM KAINE OPPOSES REX TILLERSON FOR SECRETARY OF STATE, BUT IN FAVOR OF JAMES MATTIS AS DEFENSE SECRETARY</a><br>
<a href=http://www.dailyprogress.com/news/local/uva/kaine-shares-and-addresses-concerns-over-potential-health-care-law/article_710c81b1-28c9-5d63-9669-aebaabe0ec8d.html>KAINE SHARES AND ADDRESSES CONCERNS OVER POTENTIAL HEALTH CARE LAW REPEAL AT UVA</a><br>
<a href=http://pilotonline.com/news/government/politics/local/rep-bobby-scott-closing-richmond-office-now-that-it-s/article_abed88f2-11b0-508c-9d48-307af9a3ba6c.html>REP. BOBBY SCOTT CLOSING RICHMOND OFFICE NOW THAT IT'S NO LONGER PART OF HIS DISTRICT</a><br>
<a href=http://www.nvdaily.com/news/2017/01/watchdog-groups-criticize-goodlatte/>WATCHDOG GROUPS CRITICIZE GOODLATTE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/court-imposed-election-map-paved-way-for-new-virginia-congressmen/2017/01/02/286cd58e-cea5-11e6-a87f-b917067331bb_story.html?utm_term=.bf68490b91b4>COURT-IMPOSED ELECTION MAP PAVED WAY FOR NEW VIRGINIA CONGRESSMEN</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_1686e47a-4e1d-51bf-8581-412f79e9fc1e.html>MCEACHIN TAKES OFFICE TUESDAY AS RICHMOND'S CONGRESSMAN</a><br>
<a href=http://pilotonline.com/news/government/nation/kaine-and-warner-will-be-among-senators-publicly-vetting-trump/article_dac3f74b-6dbb-524b-90de-a35496004ebc.html>KAINE AND WARNER WILL BE AMONG SENATORS PUBLICLY VETTING TRUMP CABINET NOMINEES</a><br>
<a href=http://www.richmond.com/news/ap/article_90a8082f-1c29-5714-b674-7a59c1abc581.html>IN MOVE PUSHED BY VIRGINIA'S GOODLATTE, HOUSE GOP VOTES TO GUT INDEPENDENT ETHICS OFFICE</a><br>
<a href=http://pilotonline.com/news/government/nation/hampton-roads-lawmakers-reported-to-the-capitol-tuesday-here-s/article_95384799-91b7-518a-a3d2-0865e2ba396a.html>HAMPTON ROADS LAWMAKERS RETURN TO THE CAPITOL TUESDAY</a><br>
<a href=http://www.loudountimes.com/news/article/comstock_fights_off_criticism_for_holman_rule_vote432>COMSTOCK FIGHTS OFF CRITICISM FOR HOLMAN RULE VOTE</a><br>
<a href=http://www.newsadvance.com/news/local/constituent-criticism-trump-tweets-push-back-against-goodlatte-ethics-changes/article_e9b76ea2-d1de-11e6-8f12-f34959d9295c.html>CONSTITUENT CRITICISM, TRUMP TWEETS PUSH BACK AGAINST GOODLATTE ETHICS CHANGES</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/virginia_politics/goodlatte-amendment-on-ethics-panel-scuttled/article_d7881b4c-d214-11e6-b2c3-8f3f252bfd8f.html>GOODLATTE AMENDMENT ON ETHICS PANEL SCUTTLED</a><br>

<h2>Economy/Business</h2>
<a href=http://www.roanoke.com/business/news/virginia-hospitals-face-uncertainty-in-washington-and-richmond/article_2161d0e1-a964-5df3-b310-64cf86578aa1.html>VIRGINIA HOSPITALS FACE UNCERTAINTY IN WASHINGTON AND RICHMOND</a><br>
<a href=http://www.seattletimes.com/business/retail/greenpeace-amazons-path-to-green-cloud-computing-is-unclear/>GREENPEACE SEES HAZE IN AMAZON'S PATH TO GREEN CLOUD COMPUTING</a><br>
<a href=http://www.dailypress.com/news/isle-of-wight-county/dp-iw-solar-farm-20170111-story.html>DOMINION'S 100-ACRE SOLAR SITE POWERS UP IN ISLE OF WIGHT</a><br>
<a href=http://pilotonline.com/business/ports-rail/port-of-virginia-in-broke-its-annual-record-again-for/article_74c0650a-8da7-5b62-9429-9abbe9eccda3.html>PORT OF VIRGINIA IN 2016 BROKE ITS ANNUAL RECORD - AGAIN - FOR CONTAINER VOLUME</a><br>
<a href=http://www.roanoke.com/news/local/natural-bridge-hotel-pays-off-million-debt-as-attraction-recovers/article_dd67c454-915e-5b4f-b304-02b1158877a5.html>NATURAL BRIDGE HOTEL PAYS OFF $1 MILLION DEBT AS ATTRACTION RECOVERS FINANCIALLY</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-dominion-ras-20170112-story.html>DOMINION VIRGINIA POWER SETS PLAN FOR EMERGENCY BLACKOUTS</a><br>
<a href=http://www.dailypress.com/news/dp-nws-beryllium-standards-released-20170106-story.html>NEW EXPOSURE LIMITS ON TOXIC METAL INCLUDE SHIPYARDS</a><br>
<a href=http://www.richmond.com/article_82a420a1-943c-5b2a-91e1-372c824050c2.html>RTD ENDS PARTNERSHIP WITH POLITIFACT</a><br>
<a href=https://www.washingtonpost.com/news/digger/wp/2017/01/05/two-contractors-allege-getting-stiffed-for-work-on-trumps-d-c-hotel/?tid=sm_fb&utm_term=.e2ee5fc60a03>TWO CONTRACTORS ALLEGE GETTING STIFFED FOR WORK ON TRUMP'S D.C. HOTEL</a><br>
<a href=http://www.dailyprogress.com/news/local/ct-virginia-still-a-blank-slate-for-self-driving-car/article_e52df03a-d5fe-11e6-a486-e7fcb2b3773d.html>VIRGINIA STILL A BLANK SLATE FOR SELF-DRIVING CAR LAWS</a><br>
<a href=http://www.godanriver.com/work_it_sova/news/power-plant-moves-closer-to-reality-at-the-berry-hill/article_25f5097e-d6c6-11e6-8844-1bd353bd1cdc.html>POWER PLANT MOVES CLOSER TO REALITY AT THE BERRY HILL MEGA PARK</a><br>

<h2>Editorials</h2>
<a href=http://www.richmond.com/opinion/our-opinion/article_13347e29-c65d-5567-bacb-e787e35c2d4f.html>GOV. MCAULIFFE'S SENSIBLE REFORMS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_83c5e259-b73c-5da2-a08d-49abfe05d105.html>ETHICS PANEL UPROAR WAS A SILLY FIGHT OVER NOTHING</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-misstep-in-the-starting-gate/article_99a1b989-cb0f-5182-819d-bc844f5add60.html>MISSTEP IN THE STARTING GATE</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-good-riddance-to-portsmouth-gag-order/article_e108ffa7-a920-5054-b154-a477f240ea35.html>GOOD RIDDANCE TO PORTSMOUTH GAG ORDER</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-sea-level-0105-20170104-story.html>KEEPING HEADS ABOVE WATER</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-franklin-county-illustrates-one-key-problem-facing-virginia-s/article_c79b3fdf-86e6-5c84-a28b-40f0d79cc545.html>FRANKLIN COUNTY ILLUSTRATES ONE KEY PROBLEM FACING VIRGINIA'S ECONOMY</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-osha-beryllium-0112-20170111-story.html>EVERY BREATH WE TAKE</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-smackdown-in-the-swamp/article_135636b9-c62e-5968-9900-724d3bbefa62.html>SMACKDOWN IN THE SWAMP</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-political-attacks-can-play-havoc/article_07e6a98e-d2d3-11e6-9c1c-d3cf98f801a7.html>POLITICAL ATTACKS CAN PLAY HAVOC</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-candidates-shake-up-va-politics/article_f8f21ba4-d84d-11e6-abc5-5f4da357057b.html>CANDIDATES SHAKE UP VA. POLITICS</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-some-good-news-about-juvenile-crime/article_497e0368-a6f9-5a19-a1a6-239fad2008f7.html>SOME GOOD NEWS ABOUT JUVENILE CRIME</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/opinion/editorials/editorial-goodlatte-caught-in-swamp-smackdown/article_1df5bf1e-d3a3-11e6-8527-17b9b96ad7d2.html>GOODLATTE CAUGHT IN SWAMP SMACKDOWN</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_019920ba-196d-5fee-acdd-17eab57f01a7.html>WITH TRANSGENDER BATHROOM BILL, BOB MARSHALL RIDES AGAIN</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-bay-clean-up-progress-earns-poor-marks/article_1e8a163f-1d34-51ee-97de-aa9e11699544.html>BAY CLEAN-UP PROGRESS EARNS POOR MARKS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_285426dd-e11c-51d4-bc43-28be3d6a1b56.html>LAWMAKERS TRY TO BRING SENSE TO SCHOOL DISCIPLINE</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-the-most-anti-growth-bill-in-richmond/article_c32d4760-942d-5faf-95ea-b410f48544c1.html>THE MOST ANTI-GROWTH BILL IN RICHMOND</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-navy-federal/article_ff33e0ac-32fc-5795-b551-060e0b3e82ba.html>NAVY FEDERAL-- 'SLEDGEHAMMER,' BUT TO WHAT EFFECT?</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-it-s-no-accident-that-bay-is-improving/article_6a8ca860-6e7f-5a05-b71e-e80c02363df2.html>IT'S NO ACCIDENT THAT BAY IS IMPROVING</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/cellphones-driving-a-deadly-mix/article_ed9e3f9c-d390-11e6-8d51-bb8837c28f0d.html>CELLPHONES, DRIVING A DEADLY MIX</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/transparency-in-virginia-s-legislature/article_366d1b3c-d907-11e6-a622-bfcba543ed0e.html>TRANSPARENCY IN VIRGINIA'S LEGISLATURE</a><br>
<a href=https://www.washingtonpost.com/opinions/virginias-latest-attempt-to-marginalize-minorities/2017/01/06/4b832eb4-d3ab-11e6-9cb0-54ab630851e8_story.html?utm_term=.14406bdea514>VIRGINIA'S LATEST ATTEMPT TO MARGINALIZE MINORITIES</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/opinion/editorials/editorial-let-s-move-past-the-easy-slogans/article_56d842e4-d938-11e6-bc52-ffc121ed3e6a.html>LET'S MOVE PAST THE EASY SLOGANS</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-richmond-fiddles-as-disaster-looms-for-hampton/article_219eac46-0df9-5775-aa5a-8389692ecb93.html>RICHMOND FIDDLES AS DISASTER LOOMS FOR HAMPTON ROADS</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-advice-for-democrats/article_35f6b54d-326d-5f24-8aca-aae90b75a7d7.html>ADVICE FOR DEMOCRATS</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-two-questions-for-the-general-assembly/article_ef75a365-9e42-52f7-a70a-5f63f6a1dd09.html>TWO QUESTIONS FOR THE GENERAL ASSEMBLY</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/virginians-deserve-serious-talk-about-serious-issues/article_bf736e20-d44a-11e6-a34a-db9b58eb178b.html>VIRGINIANS DESERVE SERIOUS TALK ABOUT SERIOUS ISSUES</a><br>
<a href=http://www.newsleader.com/story/opinion/editorials/2017/01/07/goodlatte-gets-stuck-swamp/96244442/>GOODLATTE GETS STUCK IN THE SWAMP</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_efdea152-48b4-5980-8301-60111f1a122f.html>TOM PERRIELLO IS A CONVICTION POLITICIAN</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-reeves-is-right-to-go-after-dirty-tricksters/article_f96ec6d0-36ac-5270-9c9b-5ba92d33feba.html>REEVES IS RIGHT TO GO AFTER DIRTY TRICKSTERS</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-bob-marshall-s-name-game/article_43c7f9e7-a530-5b95-bfd6-05c12f108339.html>BOB MARSHALL'S NAME GAME</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_8acc75a9-4c68-5558-b39f-c4e3b8fddd2e.html>CHARLES COLGAN SET EXAMPLE FOR BOTH PARTIES</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-drug-costs-0108-20170107-story.html>PRESCRIBING TRANSPARENCY</a><br>
<a href=http://www.dailyprogress.com/starexponent/opinion/editorial-disablity-aid-poses-problem-in-virginia/article_e2c0e7db-0b24-5ecf-8178-36dab309da87.html>DISABLITY AID POSES PROBLEM IN VIRGINIA</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_cb447f06-500d-57ef-be53-7d947ca7e60d.html>THE ATLANTIC COAST PIPELINE GETS A GREEN LIGHT, AND RED HERRINGS</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-the-coming-heat/article_2bcf27fa-59e2-559e-bd55-93ae60f4c63b.html>THE COMING HEAT</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/set-aside-a-moment-to-vote-tuesday/article_95ea6860-d44f-11e6-8719-1b2950af1421.html>SET ASIDE A MOMENT TO VOTE TUESDAY</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_69a1a5e3-494c-56f6-8ffb-a28ff95b5ff3.html>MORE SUNSHINE AT THE ASSEMBLY</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/state-needs-to-address-its-pay-gap/article_5b533ee2-ced8-11e6-a8e4-63c9cb92ecc5.html>STATE NEEDS TO ADDRESS ITS PAY GAP</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-want-to-save-the-coalfields-here-are-some-ideas/article_5891d485-9505-54b5-9157-dbad6d8139b7.html>WANT TO SAVE THE COALFIELDS? HERE ARE SOME IDEAS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_8e833361-d784-5864-b89e-f1ed10ccd38f.html>STATE LAWMAKERS CAN MAKE PROGRESS DESPITE THE BUDGET</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-advice-for-the-candidates-for-governor/article_1eff83b3-f6bd-5138-80ab-03458c784e91.html>ADVICE FOR THE CANDIDATES FOR GOVERNOR</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_423fe6f3-092e-59f0-86c4-c4b04caf0e9f.html>WHAT MONEY WILL FIX IN MENTAL HEALTH, AND WHAT IT WON'T</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-be-a-force-for-openness-in-government/article_f820e743-743c-5640-b97b-4a5120eb975f.html>BE A FORCE FOR OPENNESS IN GOVERNMENT</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-jail-diversion-20170102-story.html>DON'T LOCK UP, REACH OUT</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-colleges-an-economic-idea-that-works/article_2ab94b04-7f00-552e-a072-68ce2ddd2736.html>COLLEGES: AN ECONOMIC IDEA THAT WORKS</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-elder-abuse-20170102-story.html>DON'T SUFFER IN SILENCE</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-deq-rubberstamps-k-g-landfill-expansion/article_d1e1e6b9-801c-5c17-b54d-f66db7638193.html>DEQ RUBBERSTAMPS K.G. LANDFILL EXPANSION</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-how-to-fix-the-coalfields-part/article_cc334ee8-f816-5bae-8fca-7800a07eedcd.html>HOW TO FIX THE COALFIELDS, PART 2</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-medicaid-efficiencies-would-aid-virginians/article_1c15c910-2fc6-5f0b-9cb9-89cdbf74267e.html>MEDICAID EFFICIENCIES WOULD AID VIRGINIANS</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-ethics-0104-20170103-story.html>WATCHDOGS NEED TEETH</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_bfb85adb-bccb-55ce-a398-97e18fd07ad8.html>A STEP FORWARD FOR YOUR RIGHT TO KNOW</a><br>
<a href=http://pilotonline.com/opinion/editorial/virginian-pilot-editorial-about-face-on-ethics-in-the-swamp/article_e3555517-eebd-59cb-9830-e38be9a2e167.html>ABOUT FACE ON ETHICS IN THE SWAMP</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-if-this-happened-in-the-urban-crescent-we-bet/article_d8030418-4fe5-5e7a-b512-d4d391c3bc29.html>IF THIS HAPPENED IN THE URBAN CRESCENT, WE BET VIRGINIA WOULD DO SOMETHING</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-assembly-begins-an-election-year-session/article_6aa7e21e-12ca-5c45-8818-e12204236ca6.html>ASSEMBLY BEGINS AN ELECTION-YEAR SESSION</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-general-assembly-0111-20170110-story.html>OPEN DOORS FOR THE PUBLIC</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-the-general-assembly-it-begins/article_12d17ff8-1ab1-5645-8b46-223521669026.html>THE 2017 GENERAL ASSEMBLY: IT BEGINS</a><br>

<h2>Executive Branch</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-legislative-session-begins-as-candidates-gear-up-for-big-election-year/2017/01/11/c74a7324-d778-11e6-b8b2-cb5164beba6b_story.html?utm_term=.3b0de3297d8e>IN STATE OF COMMONWEALTH ADDRESS, MCAULIFFE SOUNDS COOPERATIVE AND NOSTALGIC</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-puts-more-money-behind-effort-to-prosecute-sexual-assault/2017/01/11/f0435298-d816-11e6-9a36-1d296534b31e_story.html?utm_term=.033d8f680fe2>VIRGINIA PUTS MORE MONEY BEHIND EFFORT TO PROSECUTE SEXUAL ASSAULT</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_506ec68d-c279-505e-9e88-f21c2252adb6.html>ENTERING FINAL GENERAL ASSEMBLY SESSION, MCAULIFFE STRIKES COLLABORATIVE NOTE</a><br>
<a href=http://www.progress-index.com/news/20170111/mcauliffe-touts-record-warns-against-conservative-bills?rssfeed=true>MCAULIFFE TOUTS RECORD, WARNS AGAINST CONSERVATIVE BILLS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-mcauliffe-education-bills-20170104-story.html>EDUCATION BILLS TARGET VIRTUAL LEARNING, STUDENT DEBT, LOOPHOLES IN VIRGINIA'S FINANCIAL AID SYSTEM</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-iud-budget-virginia-20170104-story.html>DEMOCRATS TRY AGAIN ON PROGRAM TO CURB ABORTIONS</a><br>
<a href=http://www.insidenova.com/headlines/gov-mcauliffe-pushes-for-easier-voting/article_c04c672a-d832-11e6-beb3-d37ce3cb35de.html>GOV. MCAULIFFE PUSHES FOR EASIER VOTING</a><br>
<a href=http://www.richmond.com/news/article_084ec33d-8f46-52b4-b8c1-84b67e0d04a5.html>MCAULIFFE TO SEEK STUDENT LOAN PROTECTIONS, EXPANDED ACCESS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-mcauliffe-state-of-commonwealth-20170111-story.html>FORT MONROE DEAL, LOCAL NEWS IN MCAULIFFE'S STATE OF THE COMMONWEALTH ADDRESS</a><br>
<a href=http://www.winchesterstar.com/news/clarke/navy-federal-expansion-announced-in-state-of-the-commonwealth-speech/article_4cce706f-5773-5baf-bcad-228f23ea0c6b.html>NAVY FEDERAL EXPANSION ANNOUNCED IN STATE OF THE COMMONWEALTH SPEECH</a><br>
<a href=http://www.progress-index.com/news/20170104/new-package-includes-student-debt-virtual-education-assistance>NEW PACKAGE INCLUDES STUDENT DEBT, VIRTUAL EDUCATION ASSISTANCE</a><br>
<a href=http://www.bizjournals.com/washington/news/2017/01/11/navy-federal-to-invest-100m-in-virginia-add-more.html>NAVY FEDERAL TO INVEST $100M IN VIRGINIA, ADD MORE THAN 1,000 JOBS</a><br>
<a href=http://www.nbc29.com/story/34238821/2m-grant-to-help-clear-backlog-of-untested-rape-kits>$2M GRANT TO HELP CLEAR BACKLOG OF UNTESTED RAPE KITS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-bans-state-contracts-with-firms-engaged-in-anti-lbgt-discrimination/2017/01/05/5f701dc0-d35f-11e6-945a-76f69a399dd5_story.html?utm_term=.51a517eadaae>MCAULIFFE BANS STATE CONTRACTS WITH FIRMS ENGAGED IN ANTI-LGBT DISCRIMINATION</a><br>
<a href=http://www.dailyprogress.com/news/politics/state-contractors-ordered-to-abide-by-nondiscrimination-policies/article_987dab40-89db-51ad-a525-62fb2afbe47d.html>STATE CONTRACTORS ORDERED TO ABIDE BY NONDISCRIMINATION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_bdb5fde6-cd80-5ed8-95ee-96c9def3f748.html>MCAULIFFE SIGNS ANTI-BIAS ORDER</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/jobs-economic-development-would-cure-coalfields-school-funding-ills-gov/article_c9a79e6b-cb29-5a4d-841c-a80d3adb5d52.html>JOBS, ECONOMIC DEVELOPMENT WOULD CURE COALFIELDS' SCHOOL FUNDING ILLS, MCAULIFFE SAYS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-ag-calls-for-expanded-laws-to-fight-rise-in-hate-crimes/2017/01/13/141a33d4-d9bc-11e6-9a36-1d296534b31e_story.html?utm_term=.b754ab822793>VIRGINIA AG CALLS FOR EXPANDED LAWS TO FIGHT RISE IN HATE CRIMES</a><br>
<a href=http://www.insidenova.com/headlines/attorney-general-seeks-to-expand-hate-crime-definition/article_92596d86-d9e0-11e6-a01b-5b4fe550638c.html>ATTORNEY GENERAL SEEKS TO EXPAND HATE CRIME DEFINITION</a><br>
<a href=http://www.loudountimes.com/news/article/herring_legislators_interfaith_community_unveil_no_hate_va432>HERRING, LEGISLATORS, INTERFAITH COMMUNITY UNVEIL 'NO HATE VA'</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_d7586a35-8764-5501-8593-ba2f6a552816.html>HERRING, RELIGIOUS LEADERS PROMOTE LEGISLATION, WEBSITE TO COMBAT HATE CRIMES</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-enters-final-general-assembly-session-with-eye-on-legacy/2017/01/07/e57a97fe-d41f-11e6-945a-76f69a399dd5_story.html>MCAULIFFE ENTERS FINAL GENERAL ASSEMBLY SESSION WITH EYE ON LEGACY</a><br>
<a href=http://www.nbc29.com/story/34256515/electric-car-maker-greentech-lays-off-mississippi-workers>ELECTRIC CAR MAKER GREENTECH LAYS OFF MISSISSIPPI WORKERS</a><br>
<a href=http://pilotonline.com/news/government/virginia/virginia-governor-vows-to-veto--week-abortion-ban-bill/article_ac4ccec7-be3e-5dac-88ff-4331059081c8.html>VIRGINIA GOVERNOR VOWS TO VETO 20-WEEK ABORTION BAN BILL</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-proposes-criminal-justice-reforms/2017/01/03/4810ef3a-d1eb-11e6-9cb0-54ab630851e8_story.html?utm_term=.8ccc27a0c3fa>MCAULIFFE PROPOSES CRIMINAL JUSTICE REFORMS</a><br>
<a href=http://www.richmond.com/news/virginia/article_390e9595-bf77-56d1-ab5e-f51871cd4243.html>MCAULIFFE LOOKS TO ROLL BACK DRIVER'S LICENSE SUSPENSIONS</a><br>
<a href=http://www.richmond.com/news/virginia/article_f28c5c4c-cda3-5c78-91df-d1958971d14a.html>WITH GOVERNOR'S RACE IN FULL SWING, LAWMAKERS BEGIN FINAL SESSION OF MCAULIFFE ERA</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-mcauliffe-crime-legislation-20170103-story.html>MCAULIFFE: EASE UP ON SMALL THEFTS, NO MORE LICENSE SUSPENSIONS FOR UNPAID FINES</a><br>
<a href=http://www.dnronline.com/associated_press/virginia/new-governor-proposes-criminal-justice-reforms/article_6594281d-b67f-57cd-8704-0ab19918fb50.html>GOVERNOR PROPOSES CRIMINAL JUSTICE REFORMS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-mcauliffe-promises-to-lean-in-on-ethics-voting-bills-20170110-story.html>MCAULIFFE PROMISES TO "LEAN IN" ON ETHICS, VOTING BILLS</a><br>
<a href=http://www.richmond.com/news/virginia/article_a9e80990-3ab6-5030-9a04-67f5c0da2fe3.html>HAZEL: WORKFORCE TRAINING NEEDED TO COMBAT ADDICTION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_c10dceb8-8549-55cb-9af8-a7c36f9a086c.html>MCAULIFFE REPLACES PAROLE BOARD CHAIRWOMAN IN EFFORT TO SPEED REFORMS</a><br>

<h2>Federal Elections</h2>
<a href=http://www.dnronline.com/news/harrisonburg/it-s-a-very-big-moment/article_9fb860ba-d493-11e6-b296-276e52f73464.html>VALLEY TRUMP SUPPORTERS GEAR UP FOR JAN. 20 INAUGURATION</a><br>
<a href=http://www.chicagotribune.com/news/sns-wp-trump-navy-0767183a-d9cd-11e6-b8b2-cb5164beba6b-20170113-story.html>TRUMP LIKELY TO PICK ASIA-BASED FINANCIER FOR NAVY SECRETARY</a><br>

<h2>From vpap.org</h2>
<a href=http://www.vpap.org/infographics/district-profile-state-senate-district-9/>INFOGRAPHIC: PROFILE OF 9TH STATE SENATE DISTRICT</a><br>
<a href=http://www.vpap.org/infographics/district-profile-house-district-85/>INFOGRAPHIC: PROFILE OF 85TH HOUSE DISTRICT</a><br>
<a href=http://www.vpap.org/updates/2412-vpaps-top-visuals-2016/>THE YEAR'S TOP 10 DATA VISUALIZATIONS</a><br>

<h2>General Assembly</h2>
<a href=http://www.insidenova.com/lifestyles/sen-charles-colgan-remembered-as-a-virginia-gentleman/article_506ff9b4-d78b-11e6-891f-371e1c51906b.html>SEN. CHARLES COLGAN REMEMBERED AS A 'VIRGINIA GENTLEMAN'</a><br>
<a href=http://www.winchesterstar.com/news/clarke/taxes-budget-drive-local-lawmakers-as-general-assembly-session-begins/article_ecbdbf5e-56a4-5c85-a38c-0c4587e4c939.html>TAXES, BUDGET DRIVE LOCAL LAWMAKERS AS GENERAL ASSEMBLY SESSION BEGINS</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/lawmakers-look-to-fix-budget-shortfall/article_c9b3def4-d7b7-11e6-be3a-af15056d95a9.html>LAWMAKERS LOOK TO FIX BUDGET SHORTFALL</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/can-virginias-only-muslim-legislator-help-democrats-connect-with-trump-voters/2017/01/04/ea353eee-c622-11e6-bf4b-2c064d32a4bf_story.html?utm_term=.2a05a286b0b5>CAN VIRGINIA'S ONLY MUSLIM LEGISLATOR HELP DEMOCRATS CONNECT WITH TRUMP VOTERS?</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-lawmaker-proposes-a-bathroom-bill-to-restrict-public-bathroom-use-by-transgender-people/2017/01/04/a01580e2-d2a4-11e6-9cb0-54ab630851e8_story.html?utm_term=.63ce5f98d696>VIRGINIA LAWMAKER PROPOSES A 'BATHROOM BILL' TO RESTRICT PUBLIC BATHROOM USE BY TRANSGENDER PEOPLE</a><br>
<a href=http://www.insidenova.com/news/fairfax/local-state-senators-to-focus-on-firearms-family-voting-during/article_f11ee7b4-d6a3-11e6-a221-4fa15be869f5.html>LOCAL STATE SENATORS TO FOCUS ON FIREARMS, FAMILY, VOTING DURING SESSION</a><br>
<a href=http://www.richmond.com/news/virginia/article_215d4a0e-aaf9-580b-ad98-614548d6a70e.html>VIRGINIA LAWMAKER PROPOSES NORTH CAROLINA-STYLE BILL TO RESTRICT TRANSGENDER BATHROOM ACCESS</a><br>
<a href=http://www.heraldcourier.com/news/lawmakers-hear-from-public-on-mcauliffe-s-budget-proposals/article_8a35ab6c-e227-5742-a7ed-73fa2433720b.html>LAWMAKERS HEAR FROM PUBLIC ON MCAULIFFE'S BUDGET PROPOSALS</a><br>
<a href=http://www.insidenova.com/headlines/del-bob-marshall-introduces-transgender-bathroom-bill/article_8fb849cc-d2c3-11e6-a342-0b2dac3505fd.html>DEL. BOB MARSHALL INTRODUCES TRANSGENDER "BATHROOM BILL"</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_8493e5f3-6ebf-5838-878d-e95bf2f3e347.html>SENATE REPUBLICANS WANT TO SHIFT MONEY FROM PROPOSED NEW INITIATIVES TO STATE POLICE</a><br>
<a href=http://www.dailypress.com/news/gloucester-county/dp-nws-mid-physical-privacy-act-20170104-story.html>LAWMAKERS TO CONSIDER BATHROOM PRIVACY BILL</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-budget-hearing-20170104-story.html>BIG NEEDS, AND SOME RESULTS, ARE FOCUS OF BUDGET HEARING</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_bf6c3522-42c8-5f26-9c3e-f685d1cc8cea.html>DOZENS PLEAD WITH LAWMAKERS FOR SOCIAL SERVICES FUNDING</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-first-day-session-20170111-story.html>VIRGINIA'S 2017 LEGISLATIVE SESSION UNDERWAY</a><br>
<a href=http://www.roanoke.com/news/mcauliffe-on-proposed-bathroom-bill-we-will-not-tolerate-that/article_0bdab83a-2dc9-5104-9759-45cc18e3898f.html>MCAULIFFE ON PROPOSED 'BATHROOM BILL': 'WE WILL NOT TOLERATE THAT'</a><br>
<a href=http://www.winchesterstar.com/news/winchester/larock-files-bill-for-esas/article_af3cbba3-bfac-5ed2-a4ad-91daed31d84a.html>LAROCK AGAIN FILES SCHOOL CHOICE FUNDING BILL</a><br>
<a href=http://www.loudountimes.com/news/article/governor_vows_to_veto_larocks_20_week_abortion_ban_bill432>GOVERNOR VOWS TO VETO LAROCK'S 20-WEEK ABORTION BAN BILL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_afa7c38e-bbef-564a-86e8-9e7251c9d27b.html>BILL WOULD END VIRGINIA UTILITIES' RATE FREEZE WHEN CLEAN POWER PLAN DIES</a><br>
<a href=http://pilotonline.com/news/government/virginia/sights-and-sounds-from-first-day-of-general-assembly/article_67f9e434-5202-523d-86a8-10a82ec3e581.html>SIGHTS AND SOUNDS FROM DAY 1 OF THE 2017 VIRGINIA GENERAL ASSEMBLY</a><br>
<a href=http://www.newsadvance.com/news/local/peake-may-not-be-sworn-in-until-next-week-due/article_7cee77cc-d87b-11e6-beb4-dfad36ba4f0c.html>PEAKE MAY NOT BE SWORN IN UNTIL NEXT WEEK DUE TO STATE SENATE TRADITION, PHOTO ID LAW</a><br>
<a href=http://rrecord.com/general-assembly-to-convene-wednesday/>GENERAL ASSEMBLY TO CONVENE WEDNESDAY</a><br>
<a href=http://www.loudountribune.com/virginia-legislators-face-1-billion-budget-shortfall/>VIRGINIA LEGISLATORS FACE $1 BILLION BUDGET SHORTFALL</a><br>
<a href=http://www.nvdaily.com/news/2017/01/general-assembly-session-opens-new-members-welcomed/>GENERAL ASSEMBLY SESSION OPENS, NEW MEMBERS WELCOMED</a><br>
<a href=https://secure.solesolution.com/pages/login>LOCAL LAWMAKERS TARGET JOB CREATION, INVESTMENTS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/va-lawmaker-presses-fellow-republicans-on-transgender-bathroom-bill/2017/01/12/a3c22dee-d8e9-11e6-9f9f-5cdb4b7f8dd7_story.html>VA. LAWMAKER PRESSES FELLOW REPUBLICANS ON TRANSGENDER 'BATHROOM BILL'</a><br>
<a href=http://www.richmond.com/news/local/education/chesterfield/article_355af0fb-b3f9-54d4-bdb7-014d948fe8de.html>BILLS BEFORE GENERAL ASSEMBLY WOULD PUT NEW LIMITS ON SCHOOL SUSPENSIONS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/potomac-river-sewage-puts-alexandria-in-crosshairs/2017/01/12/08365bac-d8f3-11e6-9f9f-5cdb4b7f8dd7_story.html>POTOMAC RIVER SEWAGE PUTS ALEXANDRIA IN CROSSHAIRS</a><br>
<a href=http://www.richmond.com/news/virginia/article_3ec773d7-2bad-51c6-a93c-757c7f151960.html>CONSERVATIVES PRESSURE GOP LAWMAKERS TO PASS VIRGINIA TRANSGENDER BATHROOM BILL</a><br>
<a href=http://www.insidenova.com/headlines/del-bob-marshall-defends-bathroom-privacy-bill/article_6c7a8dec-d919-11e6-989d-13d256dcca6c.html>DEL. BOB MARSHALL DEFENDS BATHROOM PRIVACY BILL</a><br>
<a href=http://www.newsadvance.com/news/local/lynchburg-area-residents-join-delegate-to-promote-bathroom-bill/article_ccff93d2-d901-11e6-a6be-f798980805b0.html>LYNCHBURG-AREA RESIDENTS JOIN DELEGATE TO PROMOTE "BATHROOM BILL"</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-helsel-vmrc-20170105-story.html>DELEGATE MOVES TO ROLL BACK PENALTIES FOR COMMERCIAL FISHING VIOLATIONS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-bathroom-bill-backers-urge-gop-support-20170112-story.html>BATHROOM BILL BACKERS URGE GOP SUPPORT</a><br>
<a href=https://www.washingtonpost.com/local/bill-exempts-some-fracking-chemicals-from-records-requests/2017/01/12/852a18a2-d910-11e6-a0e6-d502d6751bc8_story.html?utm_term=.0c3e0f8c88f8>BILL EXEMPTS SOME FRACKING CHEMICALS FROM RECORDS REQUESTS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_06f78d6f-03ad-572e-9c75-910dcc1c6fd4.html>HOUSE REPUBLICANS PITCH PLANS FOR ECONOMIC DEVELOPMENT, CUTTING REGULATION</a><br>
<a href=http://www.richmond.com/news/virginia/article_d932576b-5bdd-5052-a4a6-1c21bb7d085f.html>OPIOID EPIDEMIC HITS 'INNOCENT BYSTANDERS'</a><br>
<a href=http://www.richmond.com/entertainment/article_a3ec2291-c0d1-528e-906a-789da8e05102.html>STUCK WITH A PAPERLESS TICKET TO A GAME OR SHOW? ALBO BILL WOULD MAKE IT EASIER TO SELL IN VA.</a><br>
<a href=http://www.roanoke.com/news/local-leaders-fear-proposed-bill-could-derail-roanoke-valley-municipal/article_84b426b2-500b-518a-b48e-f6139441d2eb.html>LOCAL LEADERS FEAR PROPOSED BILL COULD DERAIL ROANOKE VALLEY MUNICIPAL BROADBAND</a><br>
<a href=http://www.newsadvance.com/news/local/peake-to-be-sworn-in-friday-morning/article_ec9535bc-d924-11e6-aedf-f7900e3aa58c.html>PEAKE TO BE SWORN IN FRIDAY MORNING</a><br>
<a href=http://www.fauquier.com/news/del-marshall-proposes-bathroom-bill-restricting-access-to-birth-gender/article_1943f778-d2d2-11e6-aecf-1f5097366cdf.html>DEL. MARSHALL PROPOSES 'BATHROOM BILL' RESTRICTING ACCESS TO BIRTH GENDER</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/richmond-notebook-along-with-spring-weather-comity-in-the-virginia-capitol-building/2017/01/12/af896610-d8fd-11e6-9f9f-5cdb4b7f8dd7_story.html?utm_term=.a849582847d5>ALONG WITH SPRING WEATHER, COMITY IN THE VIRGINIA CAPITOL BUILDING</a><br>
<a href=http://www.winchesterstar.com/news/winchester/lawmakers-winchester-city-council-talk-legislative-issues/article_4d5e6cdf-9c60-5a79-8648-8e233fbccfdf.html>LAWMAKERS, WINCHESTER CITY COUNCIL TALK LEGISLATIVE ISSUES</a><br>
<a href=http://www.fairfaxconnection.com/news/2017/jan/12/senators-alexandria-clean-your-act-2020-or-lose-st/>SENATORS TO ALEXANDRIA: CLEAN UP YOUR ACT BY 2020 OR LOSE STATE FUNDING</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-session-preview-20170107-story.html>SESSION STARTS WEDNESDAY: HERE'S A RUNDOWN</a><br>
<a href=http://www.dailypress.com/news/isle-of-wight-county/dp-nws-iw-prelegislative-breakfast-20170105-story.html>ISLE OF WIGHT GENERAL ASSEMBLY DELEGATION PREVIEWS 2017 SESSION</a><br>
<a href=http://theenterprise.net/leaders-weigh-governors-agenda/>LEADERS WEIGH IN ON INCREASING THRESHOLD FOR FELONY LARCENY</a><br>
<a href=http://pilotonline.com/news/government/virginia/virginia-lawmaker-wants-to-let-school-boards-pick-employees-to/article_3a804334-8277-5c8a-b22c-d6cfa44d5831.html>VIRGINIA LAWMAKER WANTS TO LET SCHOOL BOARDS PICK EMPLOYEES TO CARRY CONCEALED GUNS</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/virginia-lawmakers-considering-bill-to-allow-delivery-robots-on-sidewalks/article_ab1bc93a-9e1b-5112-a56a-c2ea0b90edb6.html>VIRGINIA LAWMAKERS CONSIDERING BILL TO ALLOW DELIVERY ROBOTS ON SIDEWALKS</a><br>
<a href=http://www.richmond.com/news/virginia/article_296ea3f4-bdf1-57e7-b624-b22a842bdeb4.html>ADVOCACY GROUP TO PROVIDE VIDEO STREAMING OF VIRGINIA GENERAL ASSEMBLY COMMITTEES</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_7da4e22e-62cf-506e-89a7-7f6531afd1cb.html>MARSHALL BILL SEEKS TO BLOCK MCAULIFFE'S ANTI-BIAS ORDER IN STATE CONTRACTING</a><br>
<a href=http://www.dailyprogress.com/news/politics/dittmar-to-join-toscano-as-chief-of-staff/article_e8377904-d9be-11e6-b8d0-630ffb56e24c.html>DITTMAR TO JOIN TOSCANO AS CHIEF OF STAFF</a><br>
<a href=http://www.insidenova.com/headlines/house-panel-shoots-down-ban-on-guns-in-libraries/article_f4b63f6c-d9b9-11e6-9770-97a63fa66ea6.html>HOUSE PANEL SHOOTS DOWN BAN ON GUNS IN LIBRARIES</a><br>
<a href=http://www.dailypress.com/news/politics/dpn-nws-phil-hamilton-prison-20170113-story.html>FAMILY: FORMER NEWPORT NEWS DELEGATE BEATEN, ISOLATED FOR WEEKS IN PRISON</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-shad-plank-0114-20170113-story.html>HAMPTON DELEGATE JOINS RULES COMMITTEE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_f2786699-5c2a-5531-93ad-d9c86d532151.html>STATE WORKER COMPENSATION KEY ISSUE IN UPCOMING SESSION</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-police-drivers-ed-20170113-story.html>BILL WOULD TEACH POLICE, DRIVER INTERACTIONS AT SCHOOL</a><br>
<a href=http://www.richmond.com/news/local/education/article_dc82c670-223f-52b4-8483-9ab8d760075a.html>FOR HIGHER ED OFFICIALS, GENERAL ASSEMBLY SESSION OFFERS FEW DOLLARS TO CHASE</a><br>
<a href=http://www.richmond.com/life/health/article_b72c367d-7b3c-5099-917d-776aeb059b90.html>NEW, OLD HEALTH CARE ISSUES TO BE TAKEN UP BY LAWMAKERS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_872d56f7-8989-573d-80ad-d5371692b9b6.html>MENTAL HEALTH BILLS DRAFTED AFTER JAMYCHEAL MITCHELL'S DEATH PASS FIRST HURDLE</a><br>
<a href=http://www.richmond.com/business/article_9760f417-f9bb-5932-9735-b52dd5e1b488.html>MINIMUM WAGE, SALES TAX, EDUCATION AMONG LEGISLATIVE PRIORITIES FOR BUSINESS GROUPS</a><br>
<a href=http://www.richmond.com/life/health/article_d0e22821-0f10-5e5a-9392-3937b72e065d.html>GENERAL ASSEMBLY GROUP PASSES COPN REFORM PRINCIPLES</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/state-house-bill-would-allow-recall-of-elected-officials/article_944168d4-134e-514f-bbdd-60874d559c13.html>STATE HOUSE BILL WOULD ALLOW RECALL OF ELECTED OFFICIALS</a><br>
<a href=http://www.fredericksburg.com/news/crime_courts/bar-association-nominates-danieli-for-fredericksburg-area-judgeship/article_817b5335-9092-5b2f-bb83-e9d87bd8f38d.html>BAR ASSOCIATION NOMINATES DANIELI FOR FREDERICKSBURG AREA JUDGESHIP</a><br>
<a href=http://www.fredericksburg.com/news/va_md_dc/lawmaker-wants-electric-rates-reviewed-in-virginia/article_9a24a84f-c6f2-53ad-981f-6a74be28d979.html>LAWMAKER WANTS ELECTRIC RATES REVIEWED IN VIRGINIA</a><br>
<a href=http://www.newsadvance.com/news/local/peake-gets-sworn-in-as-state-senator-for-nd-district/article_762c666b-070f-5242-b8db-d43c304e58c6.html>PEAKE GETS SWORN IN AS STATE SENATOR FOR 22ND DISTRICT</a><br>
<a href=http://www.newsadvance.com/news/local/work-group-including-area-legislators-ok-guidelines-to-aid-with/article_82b8ff84-d9ec-11e6-80ea-f72532dc94f7.html>WORK GROUP INCLUDING AREA LEGISLATORS OK GUIDELINES TO AID WITH COPN REFORM</a><br>
<a href=http://valawyersweekly.com/2017/01/13/candidates-interviewed-for-judicial-vacancies/>CANDIDATES INTERVIEWED FOR JUDICIAL VACANCIES</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/bill-aims-to-combat-distracted-driving/article_9b5f731a-cf10-11e6-8972-3327c9943fb5.html>BILL AIMS TO COMBAT DISTRACTED DRIVING</a><br>
<a href=http://www.nvdaily.com/news/2017/01/anti-abortion-group-wants-day-of-mourning/>ANTI-ABORTION GROUP WANTS DAY OF MOURNING</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/obenshain-s-charter-schools-bill-to-return/article_7b85046a-cf10-11e6-9ff2-43cb6729a3bf.html>OBENSHAIN'S CHARTER SCHOOLS BILL TO RETURN</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_687093a2-fd73-50bc-9387-828bd9ac351f.html>REQUIEM BEGINS FOR UNLAMENTED GENERAL ASSEMBLY BUILDING</a><br>
<a href=http://www.heraldcourier.com/news/va-lawmakers-to-focus-on-budget-economy-energy/article_e29ba4f3-3e21-5ea7-80e5-3144d3afbe3a.html>VA. LAWMAKERS TO FOCUS ON BUDGET, ECONOMY, ENERGY</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/lawmakers-to-weigh-enhancing-jail-oversight-boosting-mental-health-treatment/article_192cd3ae-ccc3-52f3-bc57-f3b43fce87ff.html>LAWMAKERS TO WEIGH ENHANCING JAIL OVERSIGHT, BOOSTING MENTAL HEALTH TREATMENT OF INMATES</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-shad-plank-1231-20161230-story.html>BILL PROPOSES FORMAL DEFINITION OF 'SEVERE MENTAL ILLNESS' FOR THE CODE OF VIRGINIA</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/local-lawmaker-proposes-legislation-to-make-proof-of-citizenship-a/article_45f85513-79a3-546f-b0a5-0aa5a82505fc.html>LOCAL LAWMAKER PROPOSES LEGISLATION TO MAKE PROOF OF CITIZENSHIP A VOTING REQUIREMENT</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/rush-of-bills-filed-as-general-assembly-opens-this-week/article_de9500c5-6616-5bde-acc8-d0d6c4def42e.html>RUSH OF BILLS FILED AS GENERAL ASSEMBLY OPENS THIS WEEK</a><br>
<a href=http://www.dailyprogress.com/news/education/higher-ed-institutions-eyeing-general-assembly-action-on-funding-speech/article_320f8754-1bdd-5d8e-ade1-a7e85ca56e42.html>HIGHER-ED INSTITUTIONS EYEING GENERAL ASSEMBLY ACTION ON FUNDING, SPEECH</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-oyster-helsel-0107-20170106-story.html>HELSEL: UNFAIR TO KEEP WATERMEN FROM WORKING AFTER VIOLATIONS</a><br>
<a href=http://pilotonline.com/news/government/politics/local/del-daun-hester-to-run-for-norfolk-treasurer/article_549cfe3f-95fd-5f1c-b951-0a3b226ac57e.html>DEL. DAUN HESTER TO RUN FOR NORFOLK TREASURER</a><br>
<a href=http://wydaily.com/2017/01/09/local-delegation-discusses-issues-facing-region-priorities-for-general-assembly/>LOCAL DELEGATION DISCUSSES ISSUES FACING REGION, PRIORITIES FOR GENERAL ASSEMBLY</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/state/area-state-legislators-say-budget-could-dominate-general-assembly/article_9a54e172-d531-11e6-a10b-13e78760f342.html>AREA STATE LEGISLATORS SAY BUDGET COULD DOMINATE GENERAL ASSEMBLY</a><br>
<a href=http://www.richmond.com/news/local/article_06cea26e-bfb0-596c-9c29-3507ee3522fe.html>MENTAL HEALTH SUBCOMMITTEE HOPES TO ADDRESS WIDESPREAD SYSTEMIC PROBLEMS</a><br>
<a href=http://www.richmond.com/news/article_e7fd924f-11d1-5b1e-8622-5d45214ab718.html>TRANSPORTATION SECRETARY EXPECTS DEBATE ON METRO BILL</a><br>
<a href=http://www.richmond.com/news/local/education/article_0e978643-c995-5989-bae6-6fe950966d0c.html>EDUCATION OFFICIALS SEEK TO HOLD ONTO K-12 GAINS MADE LAST YEAR</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_5a63083f-2b3e-52b8-8152-07d76143f6e1.html>MORE SOLAR OPTIONS COULD EMERGE FROM GENERAL ASSEMBLY SESSION</a><br>
<a href=http://www.godanriver.com/news/danville/stanley-pushing-pet-bills-in-general-assembly/article_2d5fe57a-cee3-11e6-b6f5-efdf360d8e4c.html>STANLEY PUSHING PET BILLS IN GENERAL ASSEMBLY</a><br>
<a href=http://www.richmond.com/news/local/henrico/article_f67a58a7-e663-572c-95c8-e038fe6467d3.html>NO SANCTIONS FOR STATE SENATOR WHO VIOLATED PRIVACY LAWS</a><br>
<a href=http://pilotonline.com/news/local/environment/playing-by-his-rules-subcommittee-delegate-thinks-menhaden-study-has/article_9624b7d9-1f70-5e03-9e00-624f3c65c736.html>DELEGATE SEEKS FRIENDLIER PATH FOR MENHADEN STUDY</a><br>
<a href=http://www.richmond.com/news/article_1255d061-bf7c-5984-8c38-ab516b63e132.html>VIRGINIA DEMOCRATIC DELEGATES TO SEEK NEW STUDENT LOAN AUTHORITY</a><br>
<a href=http://www.roanoke.com/business/news/sen-john-edwards-proposes-new-intermodal-center-study/article_fe5f8a30-9116-51b8-97f4-429730f1a991.html>SEN. JOHN EDWARDS PROPOSES NEW INTERMODAL CENTER STUDY</a><br>
<a href=http://www.fredericksburg.com/news/local/stafford/cole-introduces-bill-to-mitigate-stafford-well-problems/article_d1ac97bf-a350-5939-97d8-f90bf4eae44c.html>COLE INTRODUCES BILL TO MITIGATE STAFFORD WELL PROBLEMS</a><br>
<a href=https://www.washingtonpost.com/local/obituaries/charles-j-colgan-longest-serving-member-of-the-virginia-senate-dies-at-90/2017/01/03/cb94651a-cf68-11e6-a87f-b917067331bb_story.html?utm_term=.841d203ab729>CHARLES J. COLGAN, LONGEST-SERVING MEMBER OF THE VIRGINIA SENATE, DIES AT 90</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_13e0618c-6873-5f05-aa28-b5621776ee90.html>CHARLES J. COLGAN, VIRGINIA'S LONGEST-SERVING STATE SENATOR, DIES AT 90</a><br>
<a href=http://valawyersweekly.com/2017/01/09/four-judicial-candidates-to-be-interviewed/>FOUR JUDICIAL CANDIDATES TO BE INTERVIEWED</a><br>
<a href=http://www.insidenova.com/headlines/sen-colgan-dies-at-age/article_f345a40a-d208-11e6-8fee-8f74dcd06e4a.html>SEN. COLGAN DIES AT AGE 90</a><br>
<a href=http://www.loudountimes.com/news/article/virginia_lawmakers_return_this_week_for_new_session4321>VIRGINIA LAWMAKERS RETURN THIS WEEK FOR NEW SESSION</a><br>
<a href=http://www.dailypress.com/news/crime/dp-nws-recusal-20170103-story.html>THREE CIRCUIT COURT JUDGES RECUSE THEMSELVES FROM LAWMAKER'S CASE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-kids-crime-20170110-story.html>A FRESHMAN DELEGATE HAS A SCHOOL DISCIPLINE REFORM IDEA</a><br>
<a href=http://pilotonline.com/news/government/virginia/virginia-lawmaker-wants-to-tighten-rules-on-how-schools-can/article_2ace7abb-40fc-580e-9545-cccc96733a1f.html>VIRGINIA LAWMAKER WANTS TO TIGHTEN RULES ON HOW SCHOOLS CAN DISCIPLINE STUDENTS</a><br>
<a href=http://www.fauquier.com/news/sen-charles-j-colgan-dies-at-age/article_d8d533ec-cf06-11e6-8aad-e775d3f398e6.html>SEN. CHARLES J. COLGAN DIES AT AGE 90</a><br>
<a href=http://www.insidenova.com/headlines/bill-would-give-localities-ability-to-snuff-out-smoking-in/article_4a15d418-d032-11e6-9600-ab3765769f95.html>BILL WOULD GIVE LOCALITIES ABILITY TO SNUFF OUT SMOKING IN THEIR PARKS</a><br>

<h2>Higher Education</h2>
<a href=http://www.richmond.com/news/article_1a4cef0d-208f-5420-8411-ef3c950d53ab.html>DESPITE LOSSES, OVERALL ENROLLMENT AT PUBLIC VA. FOUR-YEAR SCHOOLS SHOWS SLIGHT GAINS</a><br>
<a href=http://pilotonline.com/news/local/education/higher-education/she-was-called-white-devil-at-norfolk-state-lawsuit-says/article_338782b5-b7b3-5e5f-a4d8-f367d63ac060.html>SHE WAS CALLED "WHITE DEVIL" AT NORFOLK STATE, LAWSUIT SAYS. THEN SHE COMPLAINED AND GOT FIRED.</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/local/mary-baldwin-to-start-meetings-with-alumnae-on-coed-change/article_f3ce2306-d5f1-11e6-adad-4b9d5c78d1d4.html>MARY BALDWIN TO START MEETINGS WITH ALUMNAE ON COED CHANGE MONDAY</a><br>
<a href=http://www.richmond.com/news/article_9a88a3b0-cf1d-523a-9ac9-e6b9bcfd07d2.html>VCU LAUNCHES NEW ROUND OF MCV CONSTRUCTION</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/education/mbu-s-fox-faces-critics-over-co-ed-plan/article_41ac2d1c-d6dc-11e6-a8e1-bf16f469579f.html>MBU'S FOX FACES CRITICS OVER CO-ED PLAN</a><br>

<h2>Local</h2>
<a href=http://pilotonline.com/news/government/local/what-happens-to-most-of-the-money-chesapeake-collects-from/article_903f19c3-b0c3-5975-b18d-fe96e780d561.html>MOST OF THE MONEY CHESAPEAKE COLLECTS FROM DEVELOPERS IS NEVER SPENT</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_d2c1e764-00a7-54b6-ac8a-619a4fd311de.html>DOUG WILDER'S LONGTIME ASSISTANT CONVICTED OF EMBEZZLING $16K FROM 2004 MAYORAL CAMPAIGN</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/in-alexandria-a-limit-on-free-speech-at-council-meetings/2017/01/11/d94e87a8-d81e-11e6-9f9f-5cdb4b7f8dd7_story.html?utm_term=.cc168a96d0b9>IN ALEXANDRIA, A DISPUTE OVER FREE SPEECH. AT COUNCIL MEETINGS.</a><br>
<a href=http://www.loudountimes.com/news/article/loudoun_school_board_fails_to_add_lgbtq_protections_to_its_employment_polic>LOUDOUN SCHOOL BOARD VOTES AGAINST ADDING LGBTQ PROTECTIONS TO EMPLOYMENT POLICY</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-nn-board-appts-closed-meeting-20170111-story.html>NEWPORT NEWS CITY COUNCIL MAY HAVE VIOLATED OPEN-MEETINGS LAW</a><br>
<a href=http://www.fredericksburg.com/news/local/spotsylvania/spotsylvania-planners-endorse-proposal-that-would-allow-mosque-expansion/article_a766b275-20a6-55c3-b6db-f1bae8065530.html>SPOTSYLVANIA PLANNERS ENDORSE PROPOSAL THAT WOULD ALLOW MOSQUE EXPANSION</a><br>
<a href=http://www.fredericksburg.com/business/local_business/fredericksburg-council-waiting-for-legislative-update-on-proffers/article_6e6f8338-9d89-541d-8ad6-a345abc40b72.html>FREDERICKSBURG COUNCIL WAITING FOR LEGISLATIVE UPDATE ON PROFFERS</a><br>
<a href=http://www.chesterfieldobserver.com/news/2017-01-04/Real_Estate/After_policy_change_proffer_cases_rush_in.html>AFTER POLICY CHANGE, PROFFER CASES RUSH IN</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_acaeffc6-3928-501f-b843-f193989abb94.html>AS HE LEFT OFFICE, FORMER RICHMOND MAYOR JONES AUTHORIZED $166K IN SEVERANCE FOR APPOINTEES</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/petersburg/article_9e62e424-0885-5fea-86b3-5156e3c1e07b.html>AS PETERSBURG SCHOOLS IMPROVE, KENNETH PRITCHETT AGAIN NAMED SCHOOL BOARD CHAIRMAN</a><br>
<a href=http://www.richmond.com/news/local/hanover/article_bd42cf48-2ded-5618-8090-b732c3e13beb.html>HANOVER RESIDENTS CALL FOR HALT TO RESIDENTIAL DEVELOPMENT</a><br>
<a href=https://www.washingtonpost.com/local/education/fairfax-superintendent-proposes-teacher-pay-raises-in-28-billion-budget/2017/01/12/43cf55dc-d8e0-11e6-9f9f-5cdb4b7f8dd7_story.html?utm_term=.d73beccb3d16>FAIRFAX SUPERINTENDENT PROPOSES TEACHER PAY RAISES IN $2.8 BILLION BUDGET</a><br>
<a href=http://www.roanoke.com/news/local/anti-racism-pro-confederate-groups-plan-dueling-parades-in-lexington/article_b3381f4e-ee2c-5df5-9a66-1547338693bf.html>ANTI-RACISM, PRO-CONFEDERATE GROUPS PLAN DUELING PARADES IN LEXINGTON</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-nn-vick-investigation-dropped-20170112-story.html>SPECIAL PROSECUTOR CLEARS NEWPORT NEWS VICE MAYOR TINA VICK OF CONFLICT-OF-INTEREST ACCUSATIONS</a><br>
<a href=http://www.dailypress.com/news/isle-of-wight-county/dp-nws-iw-machinery-tools-tax-refund-20170105-story.html>ISLE OF WIGHT COUNTY REFUNDS TAXPAYERS $5.6 MILLION IN MACHINERY AND TOOLS TAXES</a><br>
<a href=http://pilotonline.com/news/local/crime/nsu-police-mistakes-led-to-false-charges-against-former-candidate/article_399004b0-6ced-5de4-962f-937582643a5f.html>NSU POLICE MISTAKES LED TO FALSE CHARGES AGAINST FORMER NORFOLK COUNCIL CANDIDATE, PROSECUTOR SAYS</a><br>
<a href=http://pilotonline.com/news/local/crime/attorney-for-anthony-burfoot-asks-court-to-throw-out-public/article_c81240af-b63e-58e8-96aa-9b3b491222c1.html>ANTHONY BURFOOT'S ATTORNEY ASKS FOR A NEW TRIAL, SAYS JURORS RUSHED TO JUDGMENT</a><br>
<a href=https://www.washingtonpost.com/local/education/teen-arrested-for-allegedly-stealing-65-cent-milk-at-school-will-not-face-charges/2017/01/12/9d3fef08-d8f1-11e6-b8b2-cb5164beba6b_story.html?postshare=4421484253427353&tid=ss_tw&utm_term=.964b5a9d9351>TEEN ARRESTED FOR ALLEGEDLY STEALING 65-CENT MILK AT SCHOOL WILL NOT FACE CHARGES</a><br>
<a href=http://www.sovanow.com/index.php?/news/article/decision_upheld_to_cancel_park_view_basketball_season/>DECISION UPHELD TO CANCEL PARK VIEW BASKETBALL SEASON</a><br>
<a href=http://www.therecorderonline.com/news/2017-01-12/Top_News/Court_hears_arguments_in_supervisor_removal_case.html>COURT HEARS ARGUMENTS IN SUPERVISOR REMOVAL CASE</a><br>
<a href=http://www.richmond.com/news/local/henrico/article_10fb16c9-0daf-50ab-acf0-40a5f8bb3853.html>HENRICO COULD PAY MORE THAN $580K TO SETTLE LAWSUIT OVER FIRE CAPTAINS' OVERTIME PAY</a><br>
<a href=http://pilotonline.com/news/government/local/virginia-beach-considers-a-watered-down-version-of-a-disparity/article_fd9673fc-65b9-5961-8cae-9ca709503acf.html>VIRGINIA BEACH CONSIDERS A WATERED DOWN VERSION OF A DISPARITY STUDY</a><br>
<a href=http://richmondfreepress.com/news/2017/jan/06/new-city-council-president-challenges-colleagues-a/>NEW CITY COUNCIL PRESIDENT CHALLENGES COLLEAGUES TO ADDRESS POVERTY, RACISM</a><br>
<a href=http://pilotonline.com/news/government/local/judge-to-consider-suspending-norfolk-treasurer-anthony-burfoot-in-march/article_bceb614e-4f63-5ed2-8a74-a3cc4497d196.html>JUDGE TO CONSIDER SUSPENDING NORFOLK TREASURER ANTHONY BURFOOT IN MARCH</a><br>
<a href=http://pilotonline.com/news/local/weather/do-i-have-to-shovel-my-sidewalk-for-most-of/article_2d99011b-4165-5af3-befb-659c4e6b4058.html>DO I HAVE TO SHOVEL MY SIDEWALK? FOR MOST OF HAMPTON ROADS, CITY CODE SAYS YES.</a><br>
<a href=http://pilotonline.com/news/government/local/norfolk-sheriff-bob-mccabe-announces-retirement-months-after-saying-he/article_f7c71217-d8d0-5f10-8e63-0dc0fa4a382c.html>NORFOLK SHERIFF MCCABE ANNOUNCES RETIREMENT</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_e39e6a62-2edd-5cf6-8c36-1d537cfffcdc.html>RICHMOND'S ANNUAL PAYMENT TO REDSKINS DROPS TO $138,519</a><br>
<a href=http://www.nbc29.com/story/34157922/worries-grow-as-homicides-spike-in-virginias-capital-city>WORRIES GROW AS HOMICIDES SPIKE IN VIRGINIA'S CAPITAL CITY</a><br>
<a href=http://pilotonline.com/news/government/local/promising-transparency-and-a-new-day-in-portsmouth-john-rowe/article_1c19dac9-aeaf-57d9-8eaa-63db1d289b58.html>PROMISING TRANSPARENCY AND "A NEW DAY" IN PORTSMOUTH, JOHN ROWE IS SWORN IN AS MAYOR</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/murders-double-in-a-va-county-and-a-community-scrambles-for-answer/2016/12/29/a64d802c-c188-11e6-9578-0054287507db_story.html?utm_term=.fe3cff97b496>MURDERS DOUBLE IN A VA. COUNTY AND A COMMUNITY SCRAMBLES FOR ANSWERS</a><br>
<a href=http://www.roanoke.com/news/local/blacksburg/other-localities-taking-slower-approach-with-airbnb-say-blacksburg-is/article_4c18d84e-7d3b-5c8a-b81e-acbca4ec04bc.html>OTHER LOCALITIES TAKING SLOWER APPROACH WITH AIRBNB, SAY BLACKSBURG IS DIFFERENT</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/petersburg/article_e689920c-0f6d-5c60-ab02-859510f0f56b.html>CIVIC ACTIVISTS, ACLU CRITICIZE PETERSBURG'S MAYORAL SELECTION PROCESS</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_18f6e597-cab7-5d63-82f3-e08bea12a251.html>STONEY SAYS HE LACKS AUTHORITY TO RESCIND SEVERANCE PAYMENTS TO JONES APPOINTEES</a><br>
<a href=http://www.progress-index.com/news/20170102/myers-seeks-second-term-as-petersburg-mayor>CONTROVERSIAL COUNCILOR 'UNSURE' ABOUT SUPPORT FROM COLLEAGUES</a><br>
<a href=http://www.nvdaily.com/news/2017/01/for-monday-county-lacks-money-for-firefighter-training-academy/>COUNTY LACKS MONEY FOR FIREFIGHTER TRAINING ACADEMY</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_bc314e58-acdb-5c19-a522-d95c008fe546.html>LEVAR STONEY, RICHMOND'S YOUNGEST ELECTED MAYOR, TOOK OFFICE SUNDAY</a><br>
<a href=https://www.washingtonpost.com/local/social-issues/in-battle-over-proposed-prince-william-mosque-some-see-islamophobia/2017/01/01/2a3fe7b6-cedc-11e6-a87f-b917067331bb_story.html?utm_term=.f9b48eb870c1>IN BATTLE OVER PROPOSED PRINCE WILLIAM MOSQUE, SOME SEE ISLAMOPHOBIA</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_5b8d26a8-b68d-5330-9fcb-6f3108d10862.html>MAYOR STONEY RAISES AT LEAST $45K FOR HIS INAUGURAL FESTIVITIES</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_02695bbe-fa79-5132-87d1-8bd60a640799.html>RICHMOND SCHOOL WORKER URGES STONEY ON DAY ONE: 'JUST DO EVERYTHING YOU CAN'</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/petersburg/article_af4ed75e-19e6-5ee9-9e36-57f73cdd5dcd.html>FORMER RICHMOND MAYORAL CANDIDATE JACK BERRY TO SERVE AS INTERIM PETERSBURG OFFICIAL</a><br>
<a href=http://pilotonline.com/news/government/local/portsmouth-releases-the-hounds-to-scare-the-crap-out-of/article_c86bbdd2-9128-58c4-ac79-39829e329ee9.html>PORTSMOUTH RELEASES THE HOUNDS TO HERD GEESE AWAY FROM GOLF COURSE</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_e7c19972-98d3-5b95-beed-05e14bc6c599.html>NEW CITY COUNCIL PRESIDENT PROMISES TO 'FACE THE UGLIER PARTS OF OUR HISTORY'</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/petersburg/article_e52e9d81-2539-5b76-b23d-76283f7294ea.html>PETERSBURG COUNCIL ELECTS PARHAM AS MAYOR</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/democratic-progressives-seize-control-of-arlington-board-leadership/2017/01/03/c6f3067e-d1e3-11e6-a783-cd3fa950f2fd_story.html?utm_term=.8ad30cd0ab56>DEMOCRATIC PROGRESSIVES SEIZE CONTROL OF ARLINGTON BOARD LEADERSHIP</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/petersburg/article_5b045b78-72ec-593d-815f-d4c75de493fa.html>AS PETERSBURG BUDGET TUMULT PERSISTS, PLANS AFOOT TO RESTORE SOME PAY CUTS</a><br>
<a href=http://pilotonline.com/news/government/local/portsmouth-council-gets-rid-of-rule-that-allowed-fines-against/article_4ec8e4ef-c99d-5101-b035-f7481c7acd72.html>PORTSMOUTH COUNCIL GETS RID OF RULE THAT ALLOWED $1,500 FINES AGAINST MEMBERS</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_a3a25e46-5b1c-5806-a2cb-35a98fc8beff.html>RICHMOND CITY COUNCIL DEBATES WHETHER REOPENING PRESS GALLERY CONSTITUTES SECURITY THREAT</a><br>
<a href=http://www.roanoke.com/news/local/roanoke/roanoke-council-hears-grim-budget-news-pushes-for-online-sales/article_2417e088-108e-5d7a-b525-da3b0748abee.html>ROANOKE COUNCIL HEARS GRIM BUDGET NEWS, PUSHES FOR ONLINE SALES TAX ACT</a><br>
<a href=http://www.roanoke.com/news/virginia/lawyers-argue-case-to-remove-bath-county-supervisors/article_da8809e7-ed05-50db-8a4e-c8e5780e1f5f.html>LAWYERS ARGUE CASE TO REMOVE 3 BATH COUNTY SUPERVISORS</a><br>

<h2>Online News</h2>
<a href=https://www.bloomberg.com/news/features/2017-01-10/can-west-virginia-s-new-governor-save-coal-country>CAN WEST VIRGINIA'S NEW GOVERNOR SAVE COAL COUNTRY?</a><br>
<a href=http://richmondmagazine.com/news/field-notes/bills-to-watch-2017/>10 BILLS TO WATCH</a><br>
<a href=http://www.politico.com/story/2017/01/trump-obama-virginia-governor-race-233255>TRUMP, OBAMA SET TO SHADOWBOX IN VIRGINIA GOVERNOR'S RACE</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-historic-black-graves-35k-to-watch-in-the-budget-20170112-post.html>HISTORIC BLACK GRAVES: $35K TO WATCH IN THE BUDGET</a><br>
<a href=http://wydaily.com/2017/01/12/colonial-williamsburg-quietly-lays-off-dozens-of-employees-in-reorganization-effort/>COLONIAL WILLIAMSBURG QUIETLY LAYS OFF DOZENS OF EMPLOYEES IN REORGANIZATION EFFORT</a><br>
<a href=http://valawyersweekly.com/2017/01/12/morrissey-faces-new-bar-charges/>MORRISSEY FACES NEW BAR CHARGES</a><br>
<a href=http://www.washingtontimes.com/news/2017/jan/13/immigration-roils-virginia-governors-race/>IMMIGRATION ROILS VIRGINIA GOVERNOR'S RACE</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-va-peninsula-house-senate-tag-team-launch-first-joint-efforts-20170113-story.html>VA PENINSULA HOUSE-SENATE TAG TEAM LAUNCH FIRST JOINT EFFORTS</a><br>
<a href=http://potomaclocal.com/2017/01/13/virginia-wont-consider-widening-i-95-blames-express-lanes/>VIRGINIA WON'T CONSIDER WIDENING I-95, BLAMES EXPRESS LANES</a><br>
<a href=http://potomaclocal.com/2016/12/30/senator-charles-j-colgan-in-hospice-care/>SENATOR CHARLES J. COLGAN IN HOSPICE CARE</a><br>
<a href=http://bristowbeat.com/news/progressives-form-prince-william-coalition-for-2017/>CANDIDATES FORM PRINCE WILLIAM PROGRESSIVE COALITION FOR 2017</a><br>
<a href=http://www.washingtontimes.com/news/2017/jan/7/donald-trump-gets-commemorate-fare-card-cover-afte/>DONALD TRUMP GETS COMMEMORATIVE FARE CARD COVER AFTER METRO TICKET FOUL-UP</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-an-early-signal-of-national-interest-in-va-s-gubernatorial-race-20170109-story.html>AN EARLY SIGNAL OF NATIONAL INTEREST IN VA'S GUBERNATORIAL RACE</a><br>
<a href=http://www.fauquiernow.com/index.php/fauquier_news/article/fauquier-county-to-spend-1-million-to-extinguish-42-lots-2017>COUNTY TO SPEND $1 MILLION TO EXTINGUISH 42 LOTS</a><br>
<a href=http://wydaily.com/2017/01/04/driven-out-unregulated-courts-set-own-terms-for-collecting-fines-and-fees-from-virginia-drivers/>UNREGULATED, COURTS SET OWN TERMS FOR COLLECTING FINES AND FEES FROM VIRGINIA DRIVERS</a><br>

<h2>Op-Ed</h2>
<a href=http://www.roanoke.com/opinion/commentary/stewart-standing-for-virginians-right-to-keep-and-bear-arms/article_b4667cff-abc5-5a9c-9dd8-8f35c9b8f778.html>STEWART: STANDING FOR VIRGINIANS' RIGHT TO KEEP AND BEAR ARMS</a><br>
<a href=http://www.roanoke.com/opinion/commentary/haas-northam-stands-for-safety/article_854087d0-8632-5485-a387-c8b516d6ee7a.html>HAAS: NORTHAM STANDS FOR SAFETY</a><br>
<a href=http://www.roanoke.com/opinion/commentary/larock-saving-lives-of-vulnerable-people/article_c953af70-422a-514a-a4a3-3530e0148410.html>LAROCK: SAVING LIVES OF VULNERABLE PEOPLE</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/gordon-morse-why-northam-should-welcome-perriello/article_b771b906-05ab-56bc-9884-fd47da4a099e.html>MORSE: WHY NORTHAM SHOULD WELCOME PERRIELLO</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_35a90a05-0321-592a-92da-1ef5dadc8228.html>SUROVELL AND FREUND: REASONS VA. SHOULD DECRIMINALIZE ADULTERY</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_4e8300c9-7b27-54f7-a2e2-42436f81c92f.html>MITCHELL AND WRIGHT: PRESERVING THE LAND, PROTECTING THE FUTURE</a><br>
<a href=https://www.washingtonpost.com/opinions/the-chesapeake-watersheds-countryside-is-being-replaced-by-mallside/2017/01/06/0c87ffa6-a141-11e6-8d63-3e0a660f1f04_story.html?utm_term=.da83e3d077f7>WENNERSTEN: THE CHESAPEAKE WATERSHED'S COUNTRYSIDE IS BEING REPLACED BY 'MALLSIDE'</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/dorothy-mcauliffe-and-jean-case-hunger-doesn-t-take-a/article_f20fda46-c820-590e-9b46-7d2d20106da7.html>DOROTHY MCAULIFFE AND JEAN CASE: HUNGER DOESN'T TAKE A HOLIDAY, AND NEITHER CAN WE</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/bryan-plumlee-the-lynnhaven-oyster-is-a-pearl/article_c9657cb6-9e65-51ad-8ada-965ab71c731e.html>PLUMLEE: THE LYNNHAVEN OYSTER IS A PEARL</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/kenny-alexander-end-the-archaic-practice-of-gerrymandering/article_a06f84da-edac-5de5-b46a-e340ad30b01b.html>ALEXANDER: END THE ARCHAIC PRACTICE OF GERRYMANDERING</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_cc4348e6-561b-568b-98ad-02b2accec0dd.html>KOOPMAN: ON HOMESHARING, RICHMOND MUST IGNORE ARLINGTON'S BAD EXAMPLE</a><br>
<a href=https://www.washingtonpost.com/opinions/metros-watchdogs-are-part-of-the-problem/2016/12/30/67b25fd4-cd10-11e6-a747-d03044780a02_story.html?utm_term=.2f94a0e1da82>SARGENT: METRO'S 'WATCHDOGS' ARE PART OF THE PROBLEM</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/brian-cannon-voters-should-pick-their-representatives/article_cc06efe1-00a2-5531-aeeb-0288a5d97a7d.html>CANNON: VOTERS SHOULD PICK THEIR REPRESENTATIVES</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_9fae5363-9b74-58cb-86bb-e946945a4cab.html>FOOTE: CUT RED TAPE TO GROW VIRGINIA'S ECONOMY</a><br>
<a href=http://www.roanoke.com/opinion/commentary/christopulos-virginia-s-blue-ridge-or-virginia-s-pipeline-alley/article_6eeb8b60-5d5c-5860-965c-bea37d94b4f0.html>CHRISTOPULOS: VIRGINIA'S BLUE RIDGE OR VIRGINIA'S PIPELINE ALLEY?</a><br>
<a href=http://www.roanoke.com/opinion/commentary/mutter-expect-no-major-changes-in-health-insurance-in/article_21b77b20-372b-52a7-8cd1-c1f41a2dfdb5.html>MUTTER: EXPECT NO MAJOR CHANGES IN HEALTH INSURANCE IN 2017</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_9e9b2469-1e39-588b-b3da-2ab66cd81959.html>PREIS: THE FOLLY OF BATHROOM BILLS</a><br>

<h2>State Elections</h2>
<a href=http://www.nvdaily.com/news/2017/01/vogel-accused-of-foul-play-on-campaign-trail/>VOGEL ACCUSED OF FOUL PLAY ON CAMPAIGN TRAIL</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/former-democratic-congressman-threatens-to-scramble-race-for-va-governor/2017/01/04/d0e9fa9e-d2e1-11e6-a783-cd3fa950f2fd_story.html?utm_term=.41e10493c478>FORMER DEMOCRATIC CONGRESSMAN THREATENS TO SCRAMBLE RACE FOR VA. GOVERNOR</a><br>
<a href=http://www.nytimes.com/2017/01/04/us/tom-perriello-virginia-governor.html?_r=0>UNEXPECTED CANDIDACY UPENDS VIRGINIA DEMOCRATS' PLANS FOR KEY GOVERNOR RACE</a><br>
<a href=http://www.richmond.com/news/virginia/article_8e430167-494b-5633-bd87-c5e2d1562c57.html>SOURCES: FORMER CONGRESSMAN TOM PERRIELLO TO RUN FOR GOVERNOR, SHAKING UP DEMOCRATIC FIELD</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/va-candidate-for-governor-gives-away-ar-15-rifle-in-hopes-of-boosting-his-chances/2017/01/11/cc95886e-d764-11e6-b8b2-cb5164beba6b_story.html?utm_term=.10c183061ae5>VA. CANDIDATE FOR GOVERNOR GIVES AWAY AR-15 RIFLE IN HOPES OF BOOSTING HIS CHANCES</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia-beach-democrat-hauls-in-money-from-all-states-in/article_099f1ce3-303a-5b82-920b-9a12b1fe13b3.html>VIRGINIA BEACH DEMOCRAT HAULS IN MONEY FROM ALL 50 STATES IN BID TO TAKE HOUSE SEAT</a><br>
<a href=http://www.newsadvance.com/news/local/senate-candidates-weigh-in-on-issues-ahead-of-tuesday-s/article_c1d55a88-d2f7-11e6-917b-17a726622f66.html>SENATE 22 CANDIDATES WEIGH IN ON ISSUES AHEAD OF TUESDAY'S SPECIAL ELECTION</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-shakeup-in-the-governor-s-race-nyt-says-perriello-will-run-20170104-post.html>SHAKE-UP IN THE GOVERNOR'S RACE: ANOTHER DEMOCRAT EMERGES</a><br>
<a href=http://www.insidenova.com/headlines/corey-stewart-awards-raffled-ar--rifle-underscores-stance-on/article_7254767a-d841-11e6-8627-4b2bf9562641.html>COREY STEWART AWARDS RAFFLED AR-15 RIFLE, UNDERSCORES STANCE ON CARRYING GUNS</a><br>
<a href=http://www.richmond.com/news/virginia/article_c4c8528f-6308-5421-8c96-6067dbc70f95.html>RICHMOND SCHOOL BOARD MEMBER ANNOUNCES RUN FOR RICHMOND-AREA HOUSE OF DELEGATES SEAT</a><br>
<a href=http://www.nbc29.com/story/34188317/former-congressman-making-surprise-run-for-virginia-governor>FORMER CONGRESSMAN MAKING SURPRISE RUN FOR VIRGINIA GOVERNOR</a><br>
<a href=http://www.winchesterstar.com/news/frederick/collins-plans-run-for-second-term/article_f4864dc2-1808-5c40-94d7-ef2f45c100d6.html>COLLINS PLANS RUN FOR SECOND TERM</a><br>
<a href=http://www.loudountimes.com/news/article/democrat_announces_campaign_for_virginias_32nd_house_district_seat432>DEMOCRAT ANNOUNCES CAMPAIGN TO CHALLENGE DEL. TAG GREASON</a><br>
<a href=http://bigstory.ap.org/article/64c3e9439a8d44a0a6ed6507f8441cb6/former-congressman-making-surprise-run-virginia-governor>FORMER CONGRESSMAN MAKING SURPRISE RUN FOR VIRGINIA GOVERNOR</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_bbe2991b-a814-5aac-a8c4-81ed56f3bfbc.html>GLENN DAVIS STAYS OUT OF REEVES-VOGEL TUSSLE IN LIEUTENANT GOVERNOR'S RACE</a><br>
<a href=http://www.richmond.com/news/virginia/article_7889a3a3-8061-527a-8a6e-c2728222a435.html>PERRIELLO LAUNCHES BID FOR GOVERNOR, SAYING HE'LL FIGHT FOR 'FIREWALL' AGAINST TRUMP</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/guess-whos-coming-to-the-primary-va-dems-get-unexpected-candidate/2017/01/05/a908e3e6-d363-11e6-945a-76f69a399dd5_story.html?utm_term=.15b0ec9070a0>A SURPRISE CANDIDATE BRINGS 2016 PRESIDENTIAL DYNAMICS TO VIRGINIA GOVERNOR'S RACE</a><br>
<a href=http://www.godanriver.com/news/danville/perriello-launches-gubernatorial-campaign-with-danville-stop/article_e1dfb2e6-d366-11e6-bf0f-0bbb45e7d1ff.html>PERRIELLO LAUNCHES GUBERNATORIAL CAMPAIGN WITH DANVILLE STOP</a><br>
<a href=http://www.dailyprogress.com/news/virginia_politics/perriello-makes-run-for-governor-official/article_4e7b2d46-d357-11e6-9db6-07e61ad0bc05.html>PERRIELLO MAKES RUN FOR GOVERNOR OFFICIAL</a><br>
<a href=http://www.fauquier.com/prince_william_times/transgender-journalist-challenges-bob-marshall-for-th-house-seat/article_d3522202-d287-11e6-b123-6b5b8a197d31.html>TRANSGENDER JOURNALIST CHALLENGES BOB MARSHALL FOR 13TH HOUSE SEAT</a><br>
<a href=http://www.latimes.com/politics/la-na-pol-investigation-comey-clinton-20170112-story.html>JUSTICE DEPARTMENT'S INTERNAL WATCHDOG TO INVESTIGATE FBI'S HANDLING OF CLINTON EMAIL INQUIRY</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/northern-virginia-rep-gerald-e-connolly-withholds-endorsement-for-governor/2017/01/07/40ecf970-d488-11e6-945a-76f69a399dd5_story.html?utm_term=.9efae64ae92e>REP. GERALD E. CONNOLLY WITHHOLDS ENDORSEMENT FOR GOVERNOR</a><br>
<a href=http://www.newsadvance.com/news/local/peake-head-start-in-campaign-will-lead-to-victory/article_a6011d0e-d4ee-5de2-bea4-7ae77e4e83be.html>PEAKE: HEAD START IN CAMPAIGN WILL LEAD TO VICTORY</a><br>
<a href=http://www.newsadvance.com/news/local/washington-you-gotta-meet-people-where-they-are/article_304180a9-1bb1-5b19-96d6-5c88ff604d01.html>WASHINGTON: 'YOU GOTTA MEET PEOPLE WHERE THEY ARE'</a><br>
<a href=http://www.fredericksburg.com/news/local/stafford/del-mark-dudenhefer-will-not-seek-re-election-to-virginia/article_311f84c8-bc85-5d48-a859-f894b60ba1a4.html>DEL. MARK DUDENHEFER WILL NOT SEEK RE-ELECTION TO VIRGINIA HOUSE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/gop-del-dudenhefer-wont-seek-reelection-in-purple-virginia-district/2017/01/06/c8d28890-d448-11e6-945a-76f69a399dd5_story.html?utm_term=.5cf3045151f1>GOP DEL. DUDENHEFER WON'T SEEK REELECTION IN PURPLE VIRGINIA DISTRICT</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_df7064c3-7622-561c-8f90-9b2a820671fc.html>VOGEL SAYS REEVES TRIED TO FORCE HER OUT OF LIEUTENANT GOVERNOR'S RACE; HE DENIES IT</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_5b72eaca-896c-5a35-a6f4-c9d265fd847c.html>RGA GIVES STATE RECORD $5 MILLION DONATION TO PAC FOR GOVERNOR'S RACE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/once-a-rated-by-nra-va-gubernatorial-candidate-calls-group-nut-job-extremists/2017/01/13/c2a0da04-d9bf-11e6-b8b2-cb5164beba6b_story.html?utm_term=.4c189630faa4>GUBERNATORIAL CANDIDATE WHO ONCE HAD NRA SUPPORT NOW CALLS IT A 'NUT JOB' GROUP</a><br>
<a href=http://pilotonline.com/news/government/politics/local/pilot-on-politics/virginia-beach-sheriff-s-deputy-cox-high-teacher-vying-for/article_85e63fc0-ae64-56ec-b196-e84a403cf44c.html>SHERIFF'S DEPUTY, COX HIGH TEACHER VYING FOR SCOTT TAYLOR'S HOUSE OF DELEGATES SEAT</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/lt-gov-ralph-northam-welcomes-competition-in-democratic-gubernatorial-primary/article_40940c2b-5317-5333-a84f-daf5437091aa.html?sp-tk=111647674099FA0DF62B6D658C0AFF5DC0E8E697771FB92CD47A10D8ED7A342E>LT. GOV. RALPH NORTHAM WELCOMES COMPETITION IN DEMOCRATIC GUBERNATORIAL PRIMARY</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/former-biden-chief-of-staff-files-to-run-for-va-lieutenant-governor/2017/01/06/2c75ae7e-d451-11e6-a783-cd3fa950f2fd_story.html?utm_term=.b5946408d8f6>FORMER BIDEN CHIEF OF STAFF FILES TO RUN FOR VA. LIEUTENANT GOVERNOR</a><br>
<a href=http://www.insidenova.com/headlines/mark-dudenhefer-bows-out-of-race-for-another-term/article_b106544c-d422-11e6-a9a7-0b7ec6cdca70.html>MARK DUDENHEFER BOWS OUT OF RACE FOR ANOTHER TERM</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/the-gop-race-for-lieutenant-governor-is-getting-ugly-in-virginia/2016/12/31/95c84ed0-cf84-11e6-a747-d03044780a02_story.html?utm_term=.a79da58f003d>THE GOP RACE FOR LIEUTENANT GOVERNOR IS GETTING UGLY IN VIRGINIA</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_c0a6f7d6-8582-5928-b9a0-09f294f115c7.html>ABSENTEE VOTING EXTENDED TO 2 P.M. MONDAY IN SPECIAL ELECTION FOR MCEACHIN'S SEAT</a><br>
<a href=https://www.washingtonpost.com/local/control-of-virginia-senate-up-for-grabs-in-special-election/2017/01/07/83471c72-d4f8-11e6-9651-54a0154cf5b3_story.html?utm_term=.90bde5aac2ea>CONTROL OF VIRGINIA SENATE UP FOR GRABS IN SPECIAL ELECTION</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/contender-for-va-governor-vows-to-bring-blunt-force-trauma-to-rigged-system/2017/01/09/ff680138-d6bd-11e6-9f9f-5cdb4b7f8dd7_story.html?utm_term=.d5f2b1c3b632>CONTENDER FOR VA. GOVERNOR VOWS TO BRING 'BLUNT FORCE TRAUMA' TO RIGGED SYSTEM</a><br>
<a href=http://www.richmond.com/news/virginia/article_273441f3-065b-5672-861c-2a2294b65664.html>DISTILLERY OWNER TO RUN FOR GOVERNOR OFFICIAL, SAYS SYSTEM NEEDS 'BLUNT FORCE TRAUMA'</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_255b9f0f-28f6-5b65-a3be-176f9477bd0e.html>SPECIAL ELECTIONS TODAY TO FILL LEGISLATIVE SEATS OF REPS. MCEACHIN, GARRETT, TAYLOR</a><br>
<a href=http://www.newsadvance.com/townnews/politics/denver-riggleman-makes-bid-for-governor-official/article_b5fd334c-d6bd-11e6-ac73-3beb6a426d0c.html>DENVER RIGGLEMAN MAKES BID FOR GOVERNOR OFFICIAL</a><br>
<a href=http://www.nbc29.com/story/34222186/voters-to-pick-state-senators-delegate-in-special-election>VOTERS TO PICK STATE SENATORS, DELEGATE IN SPECIAL ELECTION</a><br>
<a href=http://valawyersweekly.com/2017/01/05/lawsuit-helped-expose-mudslinger-senator-says/>LAWSUIT HELPED EXPOSE MUDSLINGER, SENATOR SAYS</a><br>
<a href=http://www.loudountimes.com/news/article/sen._jill_vogel_embroiled_in_email_scandal432>SEN. JILL VOGEL EMBROILED IN EMAIL SCANDAL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_f3c8cf75-bdc1-5e92-ba7a-bee3aa4b1028.html>MCCLELLAN WINS SENATE ELECTION, BUT GOP APPEARS POISED TO KEEP CONTROL OF CHAMBER</a><br>
<a href=http://www.winchesterstar.com/news/clarke/vogel-strongly-denies-connection-to-scandal/article_7cd28f30-4fe3-51fb-be6f-35b47ffd6ba8.html>VOGEL STRONGLY DENIES CONNECTION TO SCANDAL</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/republican-holcomb-wins-special-election-to-fill-scott-taylor-s/article_662a0f4a-6779-5478-a869-869cffe4e0cb.html>REPUBLICAN HOLCOMB WINS SPECIAL ELECTION TO FILL SCOTT TAYLOR'S HOUSE OF DELEGATES SEAT</a><br>
<a href=http://www.timesvirginian.com/news/article_e8acf0a6-d1f0-11e6-b642-f3d96c16ef89.html>PEAKE MAKES FINAL PUSH FOR VA STATE SENATE IN 22ND DISTRICT</a><br>
<a href=http://www.newsadvance.com/news/local/peake-wins-nd-senate-district-in-special-election/article_4c9e6f94-d7a1-11e6-86e8-676e46bb814f.html>PEAKE WINS 22ND SENATE DISTRICT IN SPECIAL ELECTION</a><br>
<a href=http://www.newsadvance.com/news/local/lynchburg-voters-face-ballot-shortage-at-the-polls/article_40649905-d302-597b-bf68-31ade9e5f400.html>VOTERS REPORT PROBLEMS AFTER BALLOT SHORTAGE IN LYNCHBURG DURING SPECIAL ELECTION</a><br>

<h2>State Government</h2>
<a href=http://www.martinsvillebulletin.com/news/tobacco-commission-gives-extension-to-medical-school/article_9aa30f4c-d7ce-11e6-947c-1ff7d0075a51.html>TOBACCO COMMISSION GIVES EXTENSION TO MEDICAL SCHOOL</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/whats-in-a-name-for-virginias-statehouse-the-honor-of-a-complex-history/2017/01/11/0a51b32c-d840-11e6-9a36-1d296534b31e_story.html?utm_term=.c295f800ba43>WHAT'S IN A NAME? FOR VIRGINIA'S STATEHOUSE, THE HONOR OF A COMPLEX HISTORY</a><br>
<a href=http://www.roanoke.com/news/local/state-local-agencies-respond-to-wrongful-death-lawsuit-filed-by/article_3b9dc790-93fe-587d-a65d-7664ead629b4.html>STATE, LOCAL AGENCIES RESPOND TO WRONGFUL DEATH LAWSUIT FILED BY SEN. CREIGH DEEDS</a><br>
<a href=http://www.richmond.com/news/article_76c37487-9df6-51c2-bd14-0a116b222028.html>VIRGINIA ATTORNEY GENERAL AGAIN ASKS THAT EXONERATION BID IN 1977 RAPE CASE BE DENIED</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/vdot-anticipated-to-allocate-billion-for-local-roads-this-year/article_5caaa535-078f-500f-94ea-7f9cf1977afb.html>VDOT ANTICIPATED TO ALLOCATE $1 BILLION FOR LOCAL ROADS THIS YEAR</a><br>
<a href=http://www.nbc29.com/story/34188347/permits-approved-for-2-new-solar-facilities>PERMITS APPROVED FOR 2 NEW SOLAR FACILITIES</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_746eb656-80d9-5832-9a90-00892d12d2eb.html>UPDATED LANDMARK DESIGNATION FOR VIRGINIA CAPITOL LEAVES BEHIND 'CAPITOL OF THE CONFEDERACY'</a><br>
<a href=http://pilotonline.com/news/government/virginia/dozens-urge-virginia-gov-terry-mcauliffe-to-spare-life-of/article_a0b3d31e-6de7-51b5-935a-bd7ec6dfa4ef.html>DOZENS URGE VIRGINIA GOV. TERRY MCAULIFFE TO SPARE LIFE OF CONVICTED KILLER RICKY GRAY</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_7a02d298-42e6-5415-b064-43eed7dd97d5.html>JLARC APPROVES RESOLUTION TO STUDY STATE EMPLOYEE COMPENSATION</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/proposal-would-require-virginia-schools-to-notify-parents-of-sexually-explicit-literature/2016/12/31/be6ccc98-cea9-11e6-a87f-b917067331bb_story.html?utm_term=.32164d851e92>VA. POLICY WOULD GIVE PARENTS A SAY IN SCHOOL LITERATURE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-juvenile-justice-20161221-story.html>REPORT: INCREASE IN PROGRAMS FOR AT-RISK KIDS IS LEADING TO FEWER KIDS BEING LOCKED UP</a><br>
<a href=http://pilotonline.com/news/military/local/so-you-want-to-donate-to-a-charity-finding-a/article_c77d5433-9238-5c48-be2a-ea0327368f3e.html>SO YOU WANT TO DONATE TO A CHARITY? FINDING A RESPONSIBLE ONE IN VIRGINIA CAN BE DAUNTING</a><br>
<a href=http://www.roanoke.com/news/virginia/coalfields-schools-in-dire-financial-straits-as-families-funding-leave/article_6bc2cd5e-d53d-11e6-bd72-df313d8e2e61.html>COALFIELDS SCHOOLS IN DIRE FINANCIAL STRAITS AS FAMILIES LEAVE, AND STATE FUNDING WITH THEM</a><br>
<a href=http://www.roanoke.com/news/virginia/virginia-prisons-in-solitary-confinement-reduction-effort/article_ae5fc0b4-0028-517f-bb71-24c50578a309.html>VIRGINIA PRISONS IN SOLITARY CONFINEMENT REDUCTION EFFORT</a><br>
<a href=http://www.richmond.com/news/article_3d8ecc4a-3111-5c8a-96d6-f2469328f39c.html>HEARING ON CHALLENGE TO RICKY GRAY EXECUTION SET FOR TUESDAY</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_732bbd71-fa93-5493-bfe6-daeb60e30c20.html>VIRGINIA LOOKING FOR MEDICAID SAVINGS, BUT FEARING CUTS FROM REPEAL OF HEALTH LAW</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/prince-george/article_6b2e0df0-fa97-560e-b6f8-414e8007a18c.html>JUDGE FOUND DEAD IN PRINCE GEORGE COURTHOUSE</a><br>
<a href=http://valawyersweekly.com/2016/12/30/judicial-guidance-panel-gets-new-member/>JUDICIAL GUIDANCE PANEL GETS NEW MEMBER</a><br>
<a href=http://www.newsadvance.com/news/local/cvtc-injunction-filed-families-try-to-slow-transfers-from-madison/article_056d22e4-d6db-11e6-9fef-87d575722e0e.html>CVTC INJUNCTION FILED; FAMILIES TRY TO SLOW TRANSFERS FROM MADISON HEIGHTS FACILITY</a><br>
<a href=http://www.richmond.com/news/local/chesterfield/article_09a08ef1-3af8-5d35-9aff-78540b074699.html>DECISION ON DELAYING RICKY GRAY'S JAN. 18 EXECUTION TO COME NO LATER THAN NEXT WEEK</a><br>
<a href=http://valawyersweekly.com/2017/01/09/five-vie-for-comp-commission-seat/>FIVE VIE FOR COMP COMMISSION SEAT</a><br>
<a href=http://www.progress-index.com/news/20170103/virginia-says-lethal-injection-drugs-are-safe-execution-should-continue?rssfeed=true>VIRGINIA SAYS LETHAL INJECTION DRUGS ARE SAFE, EXECUTION SHOULD CONTINUE</a><br>
<a href=http://www.richmond.com/business/local/article_448097aa-0285-57db-b4af-7bb6c22810bd.html>AUTO DEALERS GROUP APPEALS DMV RULING ON TESLA STORE IN HENRICO</a><br>

<h2>The Friday Read</h2>
<a href=http://www.heraldcourier.com/news/virginia-man-spends-to-deliver-pennies-to-lebanon-dmv/article_7ce44fc2-ea36-5638-9358-25bc5d01a5dd.html>MAN SPENDS $1,000 TO DELIVER 300,000 PENNIES TO LEBANON DMV</a><br>
<a href=http://pilotonline.com/news/local/history/along-north-carolina-virginia-border-a-tiny-turn-in-the/article_6890c165-4aef-5b4c-93ec-70777170267b.html>ALONG NC-VIRGINIA BORDER, A TINY TURN IN THE MAP AND A HISTORY OF LIES AND CONTROVERSY</a><br>

<h2>Transportation</h2>
<a href=http://pilotonline.com/news/government/virginia/is-hampton-roads-mega-regional-airport-a-fantasy-legislative-study/article_4763fed1-7738-5efc-8e77-9a187da8626b.html>IS HAMPTON ROADS MEGA-REGIONAL AIRPORT A FANTASY? LEGISLATIVE STUDY WOULD FIND OUT</a><br>
<a href=http://www.martinsvillebulletin.com/news/city-agrees-to-extend-i--lobbying-contract/article_a18169ca-d85b-11e6-a87b-c3e8c30cb560.html>CITY AGREES TO EXTEND I-73 LOBBYING CONTRACT</a><br>
<a href=http://www.fairfaxtimes.com/articles/transportation-funding-changes-bring-in-the-green/article_e0d6142e-d9da-11e6-9eb3-6ba8fc1345c3.html>TRANSPORTATION FUNDING CHANGES BRING IN THE GREEN</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/virginia-resolution-urges-governor-to-open-talks-on-rewriting-metro-compact/2017/01/09/ef5a718e-d688-11e6-9f9f-5cdb4b7f8dd7_story.html?utm_term=.3d75806dcb0f>FOLLOWING CONCESSION, VA. AND MD. LEGISLATURES EXPECTED TO OKAY METRO SAFETY BODY</a><br>
<a href=http://www.wsj.com/articles/states-wire-up-roads-as-cars-get-smarter-1483390782>STATES WIRE UP ROADS AS CARS GET SMARTER</a><br>

<h2>TV/Radio</h2>
<a href=http://www.wdbj7.com/content/news/Habeeb-proposes-legislation-to-address-felon-rights-restoration-in-Virginia-409590965.html>HABEEB PROPOSES LEGISLATION TO ADDRESS FELON RIGHTS RESTORATION IN VIRGINIA</a><br>
<a href=http://wavy.com/2017/01/10/virginia-legislative-session-begins-wednesday/>VIRGINIA LEGISLATIVE SESSION BEGINS WEDNESDAY</a><br>
<a href=http://www.nbc12.com/story/34230387/governor-wants-to-repeal-photo-id-law-expand-absentee-voting>GOVERNOR WANTS TO REPEAL PHOTO ID LAW, EXPAND ABSENTEE VOTING</a><br>
<a href=http://www.wdbj7.com/content/news/Candidates-for-Lynchburg-area-state-senate-seat-share-views-at-public-forum-409721075.html>CANDIDATES FOR LYNCHBURG-AREA STATE SENATE SEAT SHARE VIEWS AT PUBLIC FORUM</a><br>
<a href=http://wtop.com/virginia/2017/01/major-voting-changes-virginia-proposed/>VOTING CHANGES IN VIRGINIA PROPOSED IN ASSEMBLY</a><br>
<a href=http://wtop.com/virginia/2017/01/mcauliffe-wont-attend-trump-inauguration/>MCAULIFFE WON'T ATTEND TRUMP INAUGURATION</a><br>
<a href=http://www.nbcwashington.com/news/local/Virginia-Lt-Governor-Promotes-Plan-to-Give-Women-Free-IUDs-409834305.html>VIRGINIA LT. GOVERNOR PROMOTES PLAN TO GIVE WOMEN FREE IUDS</a><br>
<a href=http://www.nbcwashington.com/news/local/McDonnell-Visits-State-Capitol-for-First-Time-Since-Corruption-Case-Dropped-410446915.html>MCDONNELL VISITS STATE CAPITOL FOR FIRST TIME SINCE CORRUPTION CASE DROPPED</a><br>
<a href=http://wjhl.com/2017/01/13/ftc-ramps-up-mshawellmont-hospital-merger-opposition-in-virginia/>FTC RAMPS UP MSHA/WELLMONT HOSPITAL MERGER OPPOSITION IN VIRGINIA</a><br>

<h2>Virginia Other</h2>
<a href=http://www.richmond.com/news/virginia/article_73539b40-3b21-55ed-ba82-4291cd3796c5.html>VA. FIREARM SALES NEARLY DOUBLED DURING OBAMA PRESIDENCY FROM BUSH YEARS</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-cbf-state-of-bay-report-20170105-story.html>CHESAPEAKE BAY HEALTH SCORES C- IN NEW REPORT</a><br>
<a href=http://www.richmond.com/business/article_b406a13b-0259-56f1-add8-b8b3da1e1e28.html>BUCKINGHAM APPROVES COMPRESSOR STATION FOR DOMINION PIPELINE OVER OPPOSITION FROM RESIDENTS</a><br>
<a href=http://www.richmond.com/news/virginia/article_2c965eeb-8cdb-5060-992e-a21c13f8d632.html>REPORT: CHESAPEAKE BAY'S HEALTH IS IMPROVING, BUT WORK REMAINS</a><br>
<a href=http://www.richmond.com/news/virginia/article_10a83881-c597-55fe-b6f4-d9bc86f95bfa.html>PIPELINE COMPANY FILES REVISED REQUEST TO CROSS 10 CONSERVATION EASEMENTS</a><br>
<a href=http://www.fredericksburg.com/news/environment/chesapeake-bay-improving-but-lots-of-cleanup-still-needed/article_59dd515e-2cf7-58af-acf7-96111e5cb56a.html>CHESAPEAKE BAY IMPROVING, BUT LOTS OF CLEANUP STILL NEEDED</a><br>
<a href=http://www.winchesterstar.com/news/clarke/opioid-epidemic-fighters-aim-for-proactive-strategy/article_69ad418a-ac83-5364-9c96-bc1289c7c2de.html>OPIOID EPIDEMIC FIGHTERS AIM FOR PROACTIVE STRATEGY</a><br>
<a href=http://www.nbc29.com/story/34191687/report-finds-improvements-in-chesapeake-bay-health>REPORT FINDS IMPROVEMENTS IN CHESAPEAKE BAY HEALTH</a><br>
<a href=http://www.nytimes.com/2017/01/05/business/energy-environment/koch-brothers-fossil-fuels-minorities.html?_r=1>SENSING GAINS AHEAD UNDER TRUMP, THE KOCHS COURT MINORITIES</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/01/05/waynesboro-project-aims-cleaner-south-river-chesapeake/96217752/>WAYNESBORO PROJECT AIMS FOR CLEANER SOUTH RIVER, CHESAPEAKE</a><br>
<a href=http://pilotonline.com/news/local/environment/milestone-in-chesapeake-bay-cleanup-comes-as-advocates-fear-a/article_3bea316e-1fb7-5cbd-95e7-bbae67a39ef0.html>ADVOCATES OF CHESAPEAKE BAY CLEANUP FEAR A STALL UNDER TRUMP ADMINISTRATION</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-seismic-test-boem-20170106-story.html>BOEM DENIES AIRGUN SEISMIC SURVEYS IN ATLANTIC FROM VIRGINIA TO FLORIDA</a><br>
<a href=http://www.richmond.com/news/local/government-politics/article_aba31435-6816-5257-9a52-4d2926bb70fd.html>DOUG WILDER FILES BAR COMPLAINT AGAINST JOE MORRISSEY OVER REPRESENTATION IN NATIONAL SLAVERY MUSEUM</a><br>
<a href=http://pilotonline.com/news/local/environment/plans-for-seismic-tests-off-virginia-coast-rejected-by-federal/article_3c52a259-9bd2-593c-ac3a-97b57a01be62.html>PLANS FOR SEISMIC TESTS OFF VIRGINIA COAST REJECTED BY FEDERAL OFFICIALS</a><br>
<a href=http://www.richmond.com/business/article_8e98ba37-dd42-51df-859d-0ebf2fa252a0.html>STUDY: IMPACT OF PIPELINE 'MINIMIZED'</a><br>
<a href=http://www.dailyprogress.com/news/local/article-analyzes-how-population-changes-will-challenge-virginia-localities/article_7e68a7e0-4d61-529a-ba1a-cff034a77d7e.html>ARTICLE ANALYZES HOW POPULATION CHANGES WILL CHALLENGE VIRGINIA LOCALITIES</a><br>
<a href=http://pilotonline.com/news/government/local/virginia-beach-norfolk-want-the-state-to-create-a-new/article_933cb313-1f98-5941-8d7b-230133a5cbeb.html>VIRGINIA BEACH, NORFOLK WANT THE STATE TO CREATE A NEW POSITION TO DEAL WITH FLOODING</a><br>
<a href=http://www.dailypress.com/news/isle-of-wight-county/dp-nws-evg-sea-level-isleofwight-20161223-story.html>ISLE OF WIGHT WILL ADDRESS SEA LEVEL RISE IN NEXT COMPREHENSIVE COUNTY PLAN</a><br>
<a href=http://www.dailypress.com/news/york-county/dp-nws-evg-sea-level-york-20161223-story.html>YORK COUNTY PUSHES NATURAL MEASURES TO COMBAT WETLAND LOSS, EROSION</a><br>
<a href=http://www.richmond.com/life/health/article_98b0316f-948c-5878-a5db-3904e15e8059.html>VA CREATES NEW RULE FOR NURSE PRACTITIONERS</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-evg-sea-level-hampton-20161223-story.html>HAMPTON RESIDENTS HOPE FOR THE BEST AS CITY GRAPPLES WITH RISING TIDES</a><br>
<a href=http://pilotonline.com/news/local/environment/report-finds-increasing-vulnerability-for-millions-of-tons-of-coal/article_c5ee496f-d735-545a-a0f8-35d2af5303de.html>REPORT FINDS INCREASING VULNERABILITY FOR MILLIONS OF TONS OF COAL ASH STORED IN CHESAPEAKE</a><br>
<a href=http://www.richmond.com/business/local/article_5c1c70ab-1991-5177-b8ca-fdb8ac8605b4.html>REPORT SHOWS VA. DOES BETTER THAN EXPECTED ON HEALTH CARE-ASSOCIATED INFECTIONS</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/local/pipeline-clears-enviro-hurdle-but-opponents-vow-to-fight-on/article_f04b1ec8-cef8-11e6-8809-d300af24447e.html>PIPELINE CLEARS ENVIRO HURDLE, BUT OPPONENTS VOW TO FIGHT ON</a><br>
<a href=http://www.nytimes.com/aponline/2017/01/09/us/ap-us-legislative-redistricting.html?_r=1>N CAROLINA VOTERS ASK SUPREME COURT FOR NO DELAYS ON MAPS</a><br>
<a href=http://www.dailypress.com/news/williamsburg/dp-nws-evg-sea-level-james-city----sea-level-change-plans-in-james-city-county-20161223-story.html>JAMES CITY COUNTY LOOKS AHEAD ON SEA LEVEL RISE</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-evg-black-rail-bird-20161223-story.html>RECLUSIVE 'FEATHERED MOUSE' DISAPPEARING FROM VIRGINIA</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/local/public-comment-curbed-at-dupont-meeting/article_b1b2eed0-d7a3-11e6-9fa0-c717ee4f0201.html>PUBLIC COMMENT CURBED AT DUPONT MEETING</a><br>
