
<h2>Columnists</h2>
<a href=https://www.washingtonpost.com/opinions/the-northam-gillespie-election-is-once-in-a-lifetime/2017/11/05/383680a4-c0d6-11e7-97d9-bdab5a0ab381_story.html?hpid=hp_no-name_opinion-card-f%3Ahomepage%2Fstory>DIONNE: THE NORTHAM-GILLESPIE ELECTION IS ONCE IN A LIFETIME</a><br>
<a href=>BROOKS: THE EXISTING DEMOCRATIC MAJORITY</a><br>
<a href=>CUNNINGHAM: MEDICAID WON BIGLY IN TUESDAY'S ELECTIONS</a><br>
<a href=>DVORAK: VOTERS REPUDIATE NOT JUST TRUMP BUT THE WHITE-SUPREMACIST HATRED SEEN IN CHARLOTTESVILLE</a><br>
<a href=http://www.richmond.com/news/local/michael-paul-williams/williams-environmental-impact-of-rail-project-on-shockoe-slave-heritage/article_3ed7c8dc-343e-52fd-aa5c-42f10f686d4d.html>WILLIAMS: ENVIRONMENTAL IMPACT OF RAIL PROJECT ON SHOCKOE SLAVE HERITAGE IS CONCERNING</a><br>
<a href=http://www.richmond.com/news/virginia/jeff-schapiro-analysis-virginia-is-a-darker-shade-of-blue/article_6d4be1fe-75ad-57f0-948e-cd5fe3a0ba2e.html>SCHAPIRO: VIRGINIA IS A DARKER SHADE OF BLUE</a><br>
<a href=https://www.washingtonpost.com/opinions/trump-was-on-the-ballot-in-virginia--and-lost/2017/11/07/cb5bf2c8-c429-11e7-84bc-5e285c7f4512_story.html?utm_term=.61d10667929a>MILBANK: TRUMP WAS ON THE BALLOT IN VIRGINIA. HE LOST.</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/schapiro-va-elections---the-show-that-never-ends/article_80cb0611-5a36-5c57-8766-ec40d3f25fe3.html>SCHAPIRO: VA. ELECTIONS - THE SHOW THAT NEVER ENDS</a><br>
<a href=https://pilotonline.com/news/local/columnist/kerry-dougherty/think-political-campaigns-for-governor-are-gruesome-imagine-if-the/article_db8bb581-57ae-5e75-88d4-95e982fca258.html>DOUGHERTY: THINK POLITICAL CAMPAIGNS FOR GOVERNOR ARE GRUESOME? IMAGINE IF THE OFFICE WERE POWERFUL.</a><br>
<a href=https://www.washingtonpost.com/blogs/right-turn/wp/2017/11/07/virginia-shows-that-anti-trump-republicans-and-democrats-still-have-a-pulse/?utm_term=.73d30d33a4ba>VIRGINIA SHOWS THAT ANTI-TRUMP REPUBLICANS AND DEMOCRATS STILL HAVE A PULSE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/schapiro-leftovers-from-the-feast-that-was-va-election/article_4c057737-8589-50a1-87c0-1356d7faa2ca.html>SCHAPIRO: LEFTOVERS FROM THE FEAST THAT WAS VA. ELECTION '17</a><br>

<h2>Economy/Business</h2>
<a href=>PORT OF VIRGINIA'S VISION OF 55-FOOT-DEEP CHANNELS TAKES ANOTHER STEP FORWARD</a><br>
<a href=https://pilotonline.com/business/jobs/resin-company-to-expand-in-chesapeake-with-a-little-help/article_88a5a997-6afc-5801-9fac-9d77594ff2ce.html>RESIN COMPANY TO EXPAND IN CHESAPEAKE, WITH A LITTLE HELP FROM RICHMOND</a><br>

<h2>Editorials</h2>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-grim/article_b8693039-6432-5bb2-a8b3-327636082e61.html>'GRIM'</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-blue-tsunami/article_a22572ec-1116-5522-9307-91abb2d1c3a0.html>BLUE 'TSUNAMI'  NORTHAM WINS, BUT HOUSE BIG STORY</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/opinion/editorials/editorial-fear-mongering-at-its-contemptible-worst/article_ce72419a-c1b5-11e7-bc96-1bda951ae197.html>FEAR-MONGERING AT ITS CONTEMPTIBLE WORST</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-a-toothless---but-harmless---charter/article_ead67be2-e9ef-520d-a678-5ba65bf1574a.html>A TOOTHLESS - BUT HARMLESS - CHARTER CHANGE FOR RICHMOND</a><br>
<a href=>MAYOR STONEY HAS A BOLD NEW PLAN FOR DOWNTOWN RICHMOND. WILL IT WORK?</a><br>
<a href=>VOTES SHOW SOME CHANGE, SOME STATUS QUO</a><br>
<a href=http://www.roanoke.com/opinion/editorials/elections-what-were-virginia-s-most-consequential-elections/article_4815bbf0-d587-5799-9776-b9b5f917ed8f.html>WHAT WERE VIRGINIA'S MOST CONSEQUENTIAL ELECTIONS?</a><br>
<a href=>THE UNLIKELY INFLUENCE OF BOB GOODLATTE</a><br>
<a href=>VIRGINIA'S PENSION PLAN STILL SHORT $20.7 BILLION</a><br>
<a href=>NEGATIVE CAMPAIGN ADS WENT TOO FAR</a><br>
<a href=>WITH A LOUD STATEMENT, LOUDOUN REBUKES THE UGLY RHETORIC OF POLITICS</a><br>
<a href=>LONG NIGHT-- PROTRACTED GOP SLIDE INEVITABLE ...</a><br>
<a href=https://pilotonline.com/opinion/editorial/editorial-as-flooding-risk-grows-a-need-for-action/article_0dd46419-3ab2-5ac8-a2b3-33faf91ee758.html>AS FLOODING RISK GROWS, A NEED FOR ACTION</a><br>
<a href=>VIRGINIA IS FOR HATERS</a><br>
<a href=https://pilotonline.com/opinion/editorial/editorial-it-s-your-duty-to-vote-weather-or-not/article_66b92d6b-dd74-5ea8-89dd-60d3cf535104.html>IT'S YOUR DUTY TO VOTE, WEATHER OR NOT</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-citizen-kane-and-today-s-election/article_6dc7797e-e11a-5008-8671-7d10a3c36132.html>CITIZEN KANE AND TODAY'S ELECTION</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-a-huge-night-for-virginia-democrats/article_7a3c83df-215d-56bb-9eb2-8fb0e62a76bf.html>A HUGE NIGHT FOR VIRGINIA DEMOCRATS</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/opinion/editorials/editorial-the-middle-ground-on-guns/article_f17cc272-c346-11e7-9a37-ef9f16fc8a5b.html>THE MIDDLE GROUND ON GUNS</a><br>
<a href=https://pilotonline.com/opinion/editorial/editorial-virginia-voters-turn-to-northam/article_f37b7c48-95c4-51b6-8a89-486ef7056a58.html>VIRGINIA VOTERS TURN TO NORTHAM</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-this-was-a-vote-against-trump/article_43b1cff5-3a4f-5556-8a37-417a795c79f1.html>THIS WAS A VOTE AGAINST TRUMP</a><br>
<a href=https://www.washingtonpost.com/opinions/ralph-northams-victory-in-virginia/2017/11/07/7b7e3a14-c3e7-11e7-84bc-5e285c7f4512_story.html?utm_term=.ae6b9b3b5510>A TRIUMPH OF DECENCY OVER DREAD</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-virginia-college-financing-plan-must-be-using-the-new/article_da2cb776-7b2d-5293-a614-10c4db628f68.html>VIRGINIA COLLEGE FINANCING PLAN MUST BE USING THE NEW MATH</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-tuesday-s-watershed-election-will-set-a-new-course/article_3b7e1c0d-db30-573e-a015-1043149f70f5.html>TUESDAY'S WATERSHED ELECTION WILL SET A NEW COURSE FOR THE COMMONWEALTH</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-reform-pot-laws-to-allow-medical-use/article_d23875b4-743b-54f7-b330-e8aa6a63009e.html>REFORM POT LAWS TO ALLOW MEDICAL USE</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-what-s-next-for-virginia/article_cfb9802a-d2a6-5edb-9bd0-c43fef78d2cf.html>WHAT'S NEXT FOR VIRGINIA?</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/jailhouse-deaths-must-be-a-priority/article_7f77353e-c401-11e7-8cea-3bcb06386fbe.html>JAILHOUSE DEATHS MUST BE A PRIORITY</a><br>
<a href=http://www.dailypress.com/news/opinion/dp-edt-election-portmorten-1109-story.html>NUANCE IN A PURPLE STATE</a><br>

<h2>Federal Elections</h2>
<a href=>DELEGATE CLINE ANNOUNCES BID TO SUCCEED RETIRING GOODLATTE</a><br>
<a href=>SECOND REPUBLICAN ANNOUNCES FOR GOODLATTE'S SEAT</a><br>
<a href=>CLINE PLANS TO RUN FOR GOODLATTE'S SEAT</a><br>
<a href=>GOODLATTE NOT SEEKING REELECTION</a><br>
<a href=>VIRGINIA REPUBLICAN WHO LEADS HOUSE JUDICIARY COMMITTEE TO RETIRE</a><br>
<a href=>GOODLATTE OF VIRGINIA IS RETIRING FROM CONGRESS AFTER 13 TERMS</a><br>
<a href=>AFTER NEARLY A QUARTER CENTURY IN D.C., REP. GOODLATTE WILL NOT SEEK RE-ELECTION</a><br>
<a href=>CYNTHIA DUNBAR, BEN CLINE TO SEEK REPUBLICAN NOD FOR 6TH DISTRICT SEAT</a><br>
<a href=>DEMOCRATS EAGER FOR CHANCE TO CHALLENGE COMSTOCK</a><br>
<a href=>TWO TO SEEK GOP NOD FOR GOODLATTE'S SEAT</a><br>
<a href=>GOODLATTE TO RETIRE</a><br>
<a href=>GOODLATTE 'A TIRELESS ADVOCATE'</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/after-virginia-blowout-comstocks-road-to-reelection-grows-steeper/2017/11/08/58a8d2fe-c448-11e7-84bc-5e285c7f4512_story.html?utm_term=.e57f83b1189e>AFTER VIRGINIA BLOWOUT, COMSTOCK'S ROAD TO REELECTION GROWS STEEPER</a><br>
<a href=https://www.washingtonpost.com/politics/canary-in-the-coal-mine-republicans-fear-democratic-wins-mean-more-losses-to-come/2017/11/08/15130b64-c4b0-11e7-84bc-5e285c7f4512_story.html?utm_term=.7c364196df87>'CANARY IN THE COAL MINE': REPUBLICANS FEAR DEMOCRATIC WINS MEAN MORE LOSSES TO COME</a><br>

<h2>From vpap.org</h2>
<a href=>VISUALIZATION: GOVERNOR'S RESULTS BY HOUSE DISTRICTS</a><br>
<a href=>VISUALIZATION: THE POLARIZATION OF VIRGINIA</a><br>
<a href=>VISUALIZATION: GUBERNATORIAL RESULTS BY AGE, RACE, INCOME AND EDUCATION</a><br>
<a href=https://www.vpap.org/updates/2789-how-competitive-are-local-races/>HOW COMPETITIVE ARE RACES FOR LOCAL OFFICE?</a><br>
<a href=https://www.vpap.org/electionresults/statewide/>RESULTS, ANALYSIS OF STATEWIDE RACES</a><br>
<a href=https://www.vpap.org/visuals/visual/governors-race-candidate-performance-congressional-districts/>VISUALIZATION: GILLESPIE-NORTHAM BY CONGRESSIONAL DISTRICT</a><br>
<a href=https://www.vpap.org/visuals/visual/change-party-performance/>VISUALIZATION: CHANGE IN PARTY PERFORMANCE, 2017 V. 2013</a><br>
<a href=https://www.vpap.org/visuals/vamaps/number-of-voters-2017-general/>MAP: SIZING LOCALITIES BY VOTES CAST</a><br>

<h2>General Assembly</h2>
<a href=http://www.winchesterstar.com/news/clarke/new-general-assembly-makeup-unclear-but-change-is-certain/article_a90efeac-f090-5ea2-96e1-af74476467dd.html>NEW GENERAL ASSEMBLY MAKEUP UNCLEAR, BUT CHANGE IS CERTAIN</a><br>
<a href=>DEMOCRAT CONCEDES VIRGINIA HOUSE RACE; THREE OTHERS WILL DECIDE IF GOP HOLDS MAJORITY</a><br>
<a href=>ROCKY HOLCOMB IS PURSUING AN UNLIKELY RECOUNT. HE SAYS CHERYL TURPIN RAN A "RACE-BAITING" CAMPAIGN.</a><br>
<a href=>RAZOR-THIN MARGINS AND RECOUNTS IN HAMPTON ROADS AND ELSEWHERE MAY SHIFT CONTROL OF STATE HOUSE</a><br>
<a href=>DEMOCRAT LARRY BARNETT CONCEDES TO DEL. ROXANN ROBINSON IN SURPRISINGLY CLOSE RACE FOR CHESTERFIELD HOUSE DISTRICT</a><br>
<a href=>VOGEL SEES BIG ROLE IN THE SENATE AFTER A PIVOTAL ELECTION</a><br>
<a href=>VIRGINIA'S ELECTORAL CHANGES BOOST MEDICAID EXPANSION ODDS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/democrats-poised-to-make-significant-gains-in-virginia-legislature/2017/11/07/9c2f4d24-c401-11e7-aae0-cb18a8c29c65_story.html?utm_term=.91d45214024a>DEMOCRATS POISED TO MAKE SIGNIFICANT GAINS IN VIRGINIA LEGISLATURE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/democrats-erase--seat-gop-advantage-in-house-recounts-likely/article_8699339d-e241-579a-984b-c86c5111588a.html>DEMOCRATS ERASE 32-SEAT GOP ADVANTAGE IN HOUSE; RECOUNTS LIKELY TO DETERMINE CONTROL</a><br>
<a href=https://www.vpap.org/electionresults/house/>COMPLETE LIST OF HOUSE RESULTS, WITH MAPS, CHARTS</a><br>
<a href=https://www.nytimes.com/aponline/2017/11/07/us/ap-us-virginia-election-house-of-delegates.html>VIRGINIA DEMOCRATS MAKE HUGE GAINS, COULD TAKE OVER HOUSE</a><br>
<a href=https://pilotonline.com/news/government/politics/virginia/control-of-the-house-of-delegates-may-come-down-to/article_15639907-5849-53e0-9c53-72a4367ec96d.html>CONTROL OF THE HOUSE OF DELEGATES MAY COME DOWN TO A DOZEN VOTES IN NEWPORT NEWS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/potential-chaos-ahead-as-control-of-virginia-house-of-delegates-hangs-in-balance/2017/11/08/bef75346-c448-11e7-84bc-5e285c7f4512_story.html?utm_term=.7e84af37c027>POTENTIAL CHAOS AHEAD AS CONTROL OF VIRGINIA HOUSE OF DELEGATES HANGS IN BALANCE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/gop-regains-slight-edge-in-house-of-delegates-pending-recounts/article_4ae038c4-aff9-5eeb-bf73-e571f9f363ba.html>GOP REGAINS SLIGHT EDGE IN HOUSE OF DELEGATES, PENDING RECOUNTS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/women-minorities-lgbtq-people---and-a-democratic-socialist/article_cd5950f7-bed8-52cc-a119-5553d7c15f3c.html>WOMEN, MINORITIES, LGBTQ PEOPLE - AND A DEMOCRATIC SOCIALIST - WILL CHANGE THE FACE OF VIRGINIA'S HOUSE</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/politics/valley-gop-anxiously-awaits-house-results/article_6ef843da-c4ea-11e7-99d3-77df2d4dae88.html>VALLEY GOP ANXIOUSLY AWAITS HOUSE RESULTS</a><br>
<a href=https://pilotonline.com/news/government/politics/new-faces-to-bring-new-diversity-to-virginia-lawmakers/article_b33d17f8-b5ce-55a7-8562-c8a1cfbdcb5b.html>NEW FACES TO BRING NEW DIVERSITY TO VIRGINIA LAWMAKERS</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-politics-recount-94-yancey-simonds-20171108-story.html>IT'S 12 - NO, 13 - FOR YANCEY AS VOTE CERTIFICATION BEGINS</a><br>

<h2>Higher Education</h2>
<a href=http://www.roanoke.com/news/education/higher_education/ferrum-college-names-new-president/article_e0d3cfff-19f4-5479-beb0-9dbbf3dcbd4e.html>FERRUM COLLEGE NAMES NEW PRESIDENT</a><br>
<a href=https://www.washingtonpost.com/local/education/students-protest-virginia-tech-instructor-in-debate-over-white-supremacy/2017/11/05/b92e05a2-c17a-11e7-97d9-bdab5a0ab381_story.html>STUDENTS PROTEST VIRGINIA TECH INSTRUCTOR IN DEBATE OVER WHITE SUPREMACY</a><br>
<a href=>DOMINION ENERGY DONATES $45K TO SW VA. COMMUNITY COLLEGES</a><br>

<h2>Local</h2>
<a href=http://www.tidewaternews.com/2017/11/07/courthouse-referendum-defeated-by-voters/>COURTHOUSE REFERENDUM DEFEATED BY VOTERS</a><br>
<a href=https://www.washingtonpost.com/local/education/millions-in-school-bonds-on-ballots-in-northern-virginia/2017/11/05/97e9da3a-c0ab-11e7-97d9-bdab5a0ab381_story.html?utm_term=.975678d4f074>MILLIONS IN SCHOOL BONDS ON BALLOTS IN NORTHERN VIRGINIA</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/re-entry-services-staff-morale-among-priorities-for-four-candidates/article_7dca5205-b9b6-56ef-95ad-5c621909ef41.html>RE-ENTRY SERVICES, STAFF MORALE AMONG PRIORITIES FOR FOUR CANDIDATES IN RICHMOND SHERIFFS RACE</a><br>
<a href=>RICHMOND MAYOR STONEY ANNOUNCES MAJOR DOWNTOWN REDEVELOPMENT PLAN CENTERED ON NEW COLISEUM</a><br>
<a href=https://pilotonline.com/news/local/education/public-schools/after-appeals-more-local-schools-are-partially-accredited-one-norfolk/article_d2d2ccef-4e63-5aac-b13d-ee6dfdb7c07b.html>AFTER APPEALS, 11 MORE LOCAL SCHOOLS ARE PARTIALLY ACCREDITED</a><br>
<a href=https://pilotonline.com/news/government/local/for-portsmouth-s-homeless-outreach-officers-each-day-is-a/article_e3b2850a-3f9e-5153-a99d-ac78c757fdd3.html>FOR PORTSMOUTH'S HOMELESS-OUTREACH OFFICERS, EACH DAY IS A BATTLE AGAINST POVERTY</a><br>
<a href=https://pilotonline.com/news/government/local/should-local-officeholders-have-term-limits-this-chesapeake-group-wants/article_fc844250-a0c7-5d19-ac9a-e42b43c1aaae.html>SHOULD LOCAL OFFICEHOLDERS HAVE TERM LIMITS? THIS CHESAPEAKE GROUP WANTS VOTERS TO CONSIDER IT.</a><br>
<a href=http://www.richmond.com/news/local/community-members-urge-richmond-school-board-to-take-action-on/article_2d1675e1-acba-5d96-9513-541b8769321a.html>COMMUNITY MEMBERS URGE RICHMOND SCHOOL BOARD TO TAKE ACTION ON FACILITIES PROBLEMS</a><br>
<a href=https://pilotonline.com/business/consumer/how-to-regulate-airbnb-type-rentals-norfolk-wants-to-hear/article_4a88b7e1-a69a-5998-8d36-5d5241e1a50d.html>HOW TO REGULATE AIRBNB-TYPE RENTALS? NORFOLK WANTS TO HEAR FROM RESIDENTS AND BUSINESSES.</a><br>
<a href=http://www.roanoke.com/news/politics/montgomery_county/montgomery-school-board-candidate-partin-acknowledges-she-didn-t-graduate/article_a307cea3-959c-565c-9892-cffb91508c4f.html>MONTGOMERY SCHOOL BOARD CANDIDATE PARTIN ACKNOWLEDGES SHE DIDN'T GRADUATE NRCC</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/arlington-county-democrats-continue-to-dominate-regions-politics/2017/11/07/4ea3f576-c309-11e7-84bc-5e285c7f4512_story.html?utm_term=.6b622c238ad1>ARLINGTON COUNTY DEMOCRATS CONTINUE TO DOMINATE REGION'S POLITICS</a><br>
<a href=http://www.richmond.com/news/election-coverage/richmond-voters-pass-referendum-to-fix-city-s-school-facilities/article_68f086fd-3402-57c2-be8c-00757f25a9a1.html>RICHMOND VOTERS PASS REFERENDUM TO FIX CITY'S SCHOOL FACILITIES</a><br>
<a href=http://www.richmond.com/news/election-coverage/independents-democrats-win-slew-of-races-in-petersburg-hopewell-colonial/article_ffb85edf-4373-5c61-87f4-e82dce78548e.html>INDEPENDENTS, DEMOCRATS WIN SLEW OF RACES IN PETERSBURG, HOPEWELL, COLONIAL HEIGHTS</a><br>
<a href=http://www.richmond.com/news/election-coverage/irving-wins-richmond-sheriff-s-race-armstead-wins-treasurer-herring/article_44b039fc-f65f-58c0-8657-141d66764192.html>IRVING WINS RICHMOND SHERIFF'S RACE; ARMSTEAD WINS TREASURER; HERRING REELECTED AS COMMONWEALTH'S ATTORNEY</a><br>
<a href=http://www.richmond.com/news/election-coverage/in-chesterfield-democrat-defeats-republican-incumbent-in-race-for-commissioner/article_c8e202b0-2310-5fba-8129-bb2603a0b03c.html>IN CHESTERFIELD, DEMOCRAT DEFEATS REPUBLICAN INCUMBENT IN RACE FOR COMMISSIONER OF THE REVENUE</a><br>
<a href=http://www.richmond.com/news/election-coverage/challengers-topple-incumbents-in-louisa-county-board-of-supervisors-races/article_fbf38542-01ab-51c0-ae73-6da5dc39fed1.html>CHALLENGERS TOPPLE INCUMBENTS IN LOUISA COUNTY BOARD OF SUPERVISORS RACES</a><br>
<a href=http://www.richmond.com/news/election-coverage/democratic-victory-seen-as-new-era-for-henrico/article_89f0e264-f2c0-5c3e-9ed1-91738ff922f6.html>DEMOCRATIC VICTORY SEEN AS 'NEW ERA' FOR HENRICO</a><br>
<a href=https://pilotonline.com/news/government/local/virginia-beach-council-voted-to-end-contract-with-arena-developer/article_32c3c1c2-e254-553c-aca6-69e73483e797.html>VIRGINIA BEACH COUNCIL VOTED TO END CONTRACT WITH ARENA DEVELOPER. COMPANY SAYS IT MET ITS DEADLINE.</a><br>
<a href=https://pilotonline.com/news/government/politics/local/democrat-joe-baron-wins-norfolk-sheriff-s-race/article_6df9257d-abec-5240-a267-41a95eb29a03.html>DEMOCRAT JOE BARON WINS NORFOLK SHERIFF'S RACE</a><br>
<a href=https://pilotonline.com/news/government/politics/local/democrat-daun-hester-wins-norfolk-treasurer-race/article_b4393163-0122-56fd-a83d-5b3cceb9d6bf.html>DEMOCRAT DAUN HESTER WINS NORFOLK TREASURER RACE</a><br>
<a href=https://pilotonline.com/news/government/politics/local/portsmouth-councilman-paige-cherry-wins-treasurer-race/article_b5679dad-65ea-57d9-a066-2c81d8ebd955.html>PORTSMOUTH COUNCILMAN PAIGE CHERRY WINS TREASURER RACE</a><br>
<a href=https://pilotonline.com/news/government/politics/local/michael-moore-ousts-longtime-portsmouth-sheriff-bill-watson/article_0430346d-ba52-57d0-8a94-e2711a3a6d9f.html>MICHAEL MOORE OUSTS LONGTIME PORTSMOUTH SHERIFF BILL WATSON</a><br>
<a href=https://pilotonline.com/news/government/politics/local/stephanie-morales-re-elected-portsmouth-commonwealth-s-attorney/article_657389ad-a61c-5fcb-b628-a4fad3dd6ef8.html>STEPHANIE MORALES RE-ELECTED PORTSMOUTH COMMONWEALTH'S ATTORNEY</a><br>
<a href=https://pilotonline.com/news/government/politics/local/krasnoff-wins-chesapeake-clerk-of-the-circuit-court-post/article_5d45f324-c57a-5dc6-b3ea-98dddc4d2137.html>KRASNOFF WINS CHESAPEAKE CLERK OF THE CIRCUIT COURT POST</a><br>
<a href=https://pilotonline.com/news/government/politics/local/virginia-beach-sheriff-ken-stolle-easily-wins-third-term/article_869f3383-d147-5674-8634-3bcdad6bfe84.html>VIRGINIA BEACH SHERIFF KEN STOLLE EASILY WINS THIRD TERM</a><br>
<a href=http://www.newsadvance.com/nelson_county_times/news/update-candidates-in-good-spirits-anti-pipeline-sentiment-prevalent-at/article_23714dd5-3980-5dca-b680-82739663ea1c.html>CANDIDATES IN GOOD SPIRITS; ANTI-PIPELINE SENTIMENT PREVALENT AT THE POLLS</a><br>
<a href=http://www.dailyprogress.com/news/local/several-incumbents-fall-in-central-virginia/article_09a91748-c440-11e7-9a7a-1b3b7fd177b1.html>SEVERAL INCUMBENTS FALL IN CENTRAL VIRGINIA MUNICIPAL ELECTIONS</a><br>
<a href=http://www.progress-index.com/news/20171107/local-races-produce-few-surprises>LOCAL RACES PRODUCE A FEW SURPRISES</a><br>
<a href=http://www.martinsvillebulletin.com/news/incumbents-win-in-martinsville-elections/article_b753f5ab-53b1-541e-a7db-5d1c31062722.html>INCUMBENTS WIN IN MARTINSVILLE ELECTIONS</a><br>
<a href=http://www.nvdaily.com/news/local-news/2017/11/gop-holds-ground-in-region/>GOP HOLDS GROUND IN REGION</a><br>
<a href=http://www.vagazette.com/news/va-vg-election-statewide-1108-story.html>HISTORIC TRIANGLE REMAINS RIGHT-LEANING REGION IN STATEWIDE RACES</a><br>
<a href=http://www.delmarvanow.com/story/news/local/virginia/2017/11/07/accomack-elected-school-board-referendum-passes/842746001/>ACCOMACK ELECTED SCHOOL BOARD REFERENDUM GETS RESOUNDING 'YES' FROM VOTERS</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/politics/pyles-ousted-from-augusta-county-supervisors-after-years/article_27593b48-c430-11e7-a704-43390d24442e.html>PYLES OUSTED FROM AUGUSTA COUNTY SUPERVISORS AFTER 22 YEARS</a><br>
<a href=http://www.dailyprogress.com/news/local/independent-walker-takes-most-votes-in-council-election-breaks-up/article_30d1f7ca-c433-11e7-97ed-7790cb8b524b.html>INDEPENDENT WALKER TAKES MOST VOTES IN COUNCIL ELECTION, BREAKS UP DEMOCRATIC TICKET</a><br>
<a href=https://pilotonline.com/news/government/local/so-your-mayor-was-just-elected-clerk-of-the-circuit/article_c7058c75-53b3-536b-a4f7-725511fef28d.html>SO YOUR MAYOR WAS JUST ELECTED CLERK OF THE CIRCUIT COURT. WHAT HAPPENS NEXT IN CHESAPEAKE?</a><br>
<a href=http://www.roanoke.com/news/local/roanoke-county-urges-federal-leaders-to-protect-historic-tax-credit/article_cbfee5dd-9489-537f-b96b-fb148d88b8d4.html>ROANOKE COUNTY URGES FEDERAL LEADERS TO PROTECT HISTORIC TAX CREDIT PROGRAM</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/11/08/proposed-tax-reform-could-negatively-affect-staunton/840224001/>CONGRESSIONAL PLAN WOULD KILL TAX CREDITS THAT HAVE DRIVEN STAUNTON'S REBIRTH</a><br>

<h2>Online News</h2>
<a href=https://www.huffingtonpost.com/entry/democrats-back-virginia-house-of-delegates_us_5a024a75e4b092053058c616>HOW DEMOCRATS WON BIG IN THE VIRGINIA HOUSE - AND WHY IT MATTERS</a><br>
<a href=https://www.washingtontimes.com/news/2017/nov/5/ed-gillespie-ralph-northam-virginia-centrists-reac/>VIRGINIA GOVERNOR CANDIDATES REACH OUT FROM CENTER IN POLITICALLY POLARIZED STATE</a><br>
<a href=https://www.politico.com/story/2017/11/06/virginia-governor-gillespie-trump-northam-244572>GILLESPIE SHUNS TRUMP IN BIGGEST RACE OF 2017</a><br>
<a href=https://fivethirtyeight.com/features/the-virginia-governors-race-might-not-be-predictive-but-it-could-really-matter/>THE VIRGINIA GOVERNOR'S RACE MIGHT NOT BE PREDICTIVE, BUT IT COULD REALLY MATTER</a><br>
<a href=http://www.cavalierdaily.com/article/2017/11/dnc-chair-tom-perez-and-us-sen-mark-warner-visit-u-va-ahead-of-election-day>DNC CHAIR TOM PEREZ AND U.S. SEN. MARK WARNER VISIT U.VA. AHEAD OF ELECTION DAY</a><br>
<a href=http://thehill.com/homenews/358724-virginias-governor-race-what-to-watch-for>VIRGINIA'S GOVERNOR RACE: WHAT TO WATCH FOR</a><br>
<a href=http://www.washingtonexaminer.com/ed-gillespie-cribs-from-trumps-culture-war-in-virginia-and-reshapes-2018-midterms/article/2639697>ED GILLESPIE CRIBS FROM TRUMP'S CULTURE WAR IN VIRGINIA, AND RESHAPES 2018 MIDTERMS</a><br>
<a href=http://www.commonwealthtimes.org/2017/11/05/millennials-make-one-third-eligible-voters-virginia-ahead-statewide-elections/>MILLENNIALS MAKE UP ONE-THIRD OF ELIGIBLE VOTERS IN VIRGINIA AHEAD OF STATEWIDE ELECTIONS</a><br>
<a href=>WHAT'S NEXT FOR FEMALE DELEGATE-ELECTS WHO CHALLENGED THE STATUS QUO</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/rick-gates-charged-in-mueller-probe-granted-permission-to-vote-in-virginia-election/2017/11/06/a1b71c24-c35a-11e7-afe9-4f60b5a6c4a0_story.html>RICK GATES, CHARGED IN MUELLER PROBE, GRANTED PERMISSION TO VOTE IN VIRGINIA ELECTION</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/what-does-virginias-lieutenant-governor-even-do-a-guide-to-figuring-out-this-race/2017/11/06/83be3444-bf10-11e7-959c-fe2b598d8c00_story.html>WHAT DOES VIRGINIA'S LIEUTENANT GOVERNOR EVEN DO? A GUIDE TO FIGURING OUT THIS RACE</a><br>
<a href=>LATINO VICTORY FUND, PILLORIED FOR TRUCK AD, SAYS NORTHAM WIN IS VINDICATION</a><br>
<a href=https://www.washingtontimes.com/news/2017/nov/6/ed-gillespie-donald-trump-world-apart-on-virginia-/>ON EVE OF VIRGINIA ELECTIONS, GILLESPIE AND TRUMP ARE WORLDS APART</a><br>
<a href=https://www.politico.com/story/2017/11/06/trump-praises-gillespie-virigina-gubernatorial-race-244613>TRUMP TWEETS PRAISE OF GILLESPIE ON EVE OF VIRGINIA RACE</a><br>
<a href=https://wydaily.com/2017/11/07/voter-turnout-to-be-major-factor-in-2017-election-nws/>VOTER TURNOUT COULD BE MAJOR FACTOR IN VIRGINIA'S 2017 ELECTION</a><br>
<a href=http://www.fauquiernow.com/index.php/fauquier_news/article/fauquier-four-candidates-competing-for-88th-district-seat-2017>FOUR CANDIDATES COMPETING FOR 88TH DISTRICT SEAT</a><br>
<a href=http://thehill.com/homenews/campaign/359055-a-must-win-for-dems-in-virginia>A MUST-WIN FOR DEMS IN VIRGINIA</a><br>
<a href=https://www.washingtonpost.com/news/politics/wp/2017/11/06/the-many-reasons-that-democrats-are-worried-about-the-virginia-gubernatorial-race/?utm_term=.57e1d1e46676>THE MANY REASONS THAT DEMOCRATS ARE WORRIED ABOUT THE VIRGINIA GUBERNATORIAL RACE</a><br>
<a href=https://www.politico.com/magazine/story/2017/11/06/virginia-election-2017-state-legislature-house-delegates-northam-gillespie-215791>FOR DEMOCRATS, VIRGINIA'S ELECTIONS ARE A PETRI DISH</a><br>
<a href=https://www.politico.com/story/2017/11/07/virginia-new-jersey-governor-elections-244627>5 THINGS TO WATCH IN THE VIRGINIA AND NEW JERSEY GOVERNORS RACES</a><br>
<a href=https://www.washingtontimes.com/news/2017/nov/7/tim-kaine-ralph-northams-win-transforms-virginia-r/>TIM KAINE: VIRGINIA FULLY TRANSFORMED TO BLUE STATE WITH NORTHAM'S WIN</a><br>
<a href=https://www.washingtontimes.com/news/2017/nov/7/donald-trump-opponents-swarm-virginia-election-sit/>ANTI-TRUMP VOTERS SWARM VIRGINIA POLLS TO SEND MESSAGE TO PRESIDENT</a><br>
<a href=https://www.washingtontimes.com/news/2017/nov/7/corey-stewart-ralph-northam-win-virginia-not-rejec/>COREY STEWART: VIRGINIA ELECTIONS RESULTS SHOULDN'T BE READ AS REJECTION OF TRUMP</a><br>
<a href=https://www.politico.com/story/2017/11/07/northam-democrats-governor-victory-244679>SCENES FROM DEMOCRATS' CATHARSIS IN VIRGINIA</a><br>
<a href=http://www.fauquiernow.com/index.php/fauquier_news/article/fauquier-republicans-continue-their-dominance-in-fauquier-2017>REPUBLICANS CONTINUE THEIR DOMINANCE IN FAUQUIER</a><br>
<a href=http://wvtf.org/post/flood-proofing-virginias-military-bases-could-be-very-expensive-venture>FLOOD-PROOFING VIRGINIA'S MILITARY BASES COULD BE A VERY EXPENSIVE VENTURE</a><br>
<a href=http://thehill.com/blogs/blog-briefing-room/news/359306-falwell-after-gillespie-loss-dc-should-annex-northern-virginia>FALWELL AFTER GILLESPIE LOSS: 'DC SHOULD ANNEX' NORTHERN VIRGINIA</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/corey-stewart-election-not-a-repudiation-of-trump-state-gop-chair-should-resign/2017/11/08/fcb73cd0-c4c2-11e7-afe9-4f60b5a6c4a0_story.html?utm_term=.004e18fda52c>COREY STEWART: ELECTION NOT A REPUDIATION OF TRUMP, STATE GOP CHAIR SHOULD RESIGN</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/meet-danica-roem-virginias-first-transgender-elected-official/2017/11/08/18bd9250-c444-11e7-aae0-cb18a8c29c65_story.html?utm_term=.ee617a764bd9>MEET DANICA ROEM, VIRGINIA'S FIRST TRANSGENDER ELECTED OFFICIAL</a><br>
<a href=https://www.washingtontimes.com/news/2017/nov/8/terry-mcauliffes-run-for-president-in-2020-rumored/>MCAULIFFE MUM ON RUMORS ABOUT 2020 PRESIDENTIAL BID</a><br>
<a href=https://www.washingtontimes.com/news/2017/nov/8/virginia-democrats-attribute-state-wins-to-targete/>VIRGINIA DEMOCRATS ATTRIBUTE STATE WINS TO TARGETED VOTER ENTHUSIASM</a><br>
<a href=https://wydaily.com/2017/11/08/blue-wave-made-election-tighter-in-red-places-even-in-james-city-county-nws/>BLUE 'WAVE' MADE 2017 ELECTION TIGHTER IN RED PLACES, EVEN IN JAMES CITY COUNTY</a><br>
<a href=http://potomaclocal.com/2017/11/08/massive-motivation-how-democrats-swept-the-local-races/>MASSIVE MOTIVATION: HOW DEMOCRATS SWEPT THE LOCAL RACES</a><br>
<a href=http://bristowbeat.com/community/indivisible-nova-wests-efforts-turn-brentsville-blue/>INDIVISIBLE NOVA WEST'S EFFORTS TO TURN BRENTSVILLE BLUE</a><br>
<a href=https://www.huffingtonpost.com/entry/conservative-media-virginia_us_5a03162ce4b04e96f0c6e926>CONSERVATIVE MEDIA THROW VIRGINIA GOP CANDIDATE UNDER THE BUS AFTER ELECTION LOSS</a><br>
<a href=http://www.alexandrianews.org/2017/11/alexandria-voter-turnout-contributes-to-virginia-dems-landslide/>ALEXANDRIA VOTER TURNOUT CONTRIBUTES TO VIRGINIA DEMS LANDSLIDE</a><br>
<a href=https://www.politico.com/story/2017/11/08/virginia-election-results-2017-conservative-media-response-244701>CONSERVATIVE MEDIA: WHAT VIRGINIA RESULTS?</a><br>

<h2>Op-Ed</h2>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/dyanna-jaye-column-as-mcauliffe-heads-to-germany-his-climate/article_eff7cde4-6d1a-5484-a40f-3f389d6da443.html>JAYE: MCAULIFFE CLIMATE LEGACY IS MARRED BY A PIPELINE PROMISE</a><br>
<a href=http://www.roanoke.com/opinion/commentary/rozell-a-last-look-at-virginia-s-gubernatorial-election/article_f48c5a1e-c668-5c29-9302-a0b12c50c0ee.html>ROZELL: A LAST LOOK AT VIRGINIA'S GUBERNATORIAL ELECTION</a><br>
<a href=>RUBIN: 15 TAKEAWAYS FROM THE VIRGINIA ELECTION</a><br>
