
<h2>Columnists</h2>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/schapiro-on-redistricting-reform-gop-closes-in-for-the-kill/article_9fb119cc-8d33-506b-a98e-9b1576bfa50e.html>SCHAPIRO: ON REDISTRICTING REFORM, GOP CLOSES IN FOR THE KILL</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/bart-hinkle/a-barton-hinkle-column---is-it-religious-liberty/article_59a02f32-cd72-5b62-8d31-b0cb960e1e0d.html>HINKLE: IS IT RELIGIOUS LIBERTY OR DISCRIMINATION? YES.</a><br>
<a href=http://pilotonline.com/sports/columnist/harry-minium/minium-mccauliffe-should-sign-the-tim-tebow-bill/article_1467ada7-aaee-59b3-a2ea-a2cc5f944aca.html>MINIUM: MCAULIFFE SHOULD SIGN THE TEBOW BILL</a><br>
<a href=http://pilotonline.com/news/government/politics/around-capital-square-crossover-week-has-come-and-gone-but/article_594e6d7d-6dbd-5bad-a982-99e344606e21.html>PASCALE: AROUND CAPITAL SQUARE: CROSSOVER WEEK HAS COME AND GONE, BUT DO WE REALLY NEED IT?</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-candidate-deserves-blowback-for-crack/article_73800f60-bb9b-5f20-8052-e73b32dd64ce.html>CHESLEY: CANDIDATE DESERVES BLOWBACK FOR 9/11 CRACK</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_935874ad-aa2a-56d2-909c-ee43d3b2e734.html>SCHAPIRO: WHEN YOU'RE EXPLAINING IN POLITICS, YOU'RE LOSING</a><br>
<a href=http://www.fredericksburg.com/news/local/columns/donnie-johnston-virginia-should-hit-the-brakes-on-proposed-dawdling/article_9e51cc39-f6fb-5b70-bb61-60f89dc6e009.html>JOHNSTON: VIRGINIA SHOULD HIT THE BRAKES ON PROPOSED DAWDLING LAW</a><br>

<h2>Congress</h2>
<a href=http://pilotonline.com/news/government/nation/sen-warner-to-vote-against-scott-pruitt-as-epa-chief/article_f658011e-340d-5b30-9a99-7b1e1e9256e4.html>SEN. WARNER TO VOTE AGAINST SCOTT PRUITT AS EPA CHIEF</a><br>
<a href=http://thehill.com/homenews/house/319184-gop-rep-points-to-decent-amount-of-voter-fraud-in-virginia>GOP REP POINTS TO 'DECENT AMOUNT OF VOTER FRAUD' IN VIRGINIA</a><br>
<a href=http://www.nvdaily.com/news/2017/02/goodlatte-invites-some-to-lunch-protesters-gather-outside-ask-for-town-hall/>GOODLATTE INVITES SOME TO LUNCH: PROTESTERS GATHER OUTSIDE ASK FOR TOWN HALL</a><br>
<a href=http://www.roanoke.com/news/politics/constituents-press-goodlatte-garrett-for-town-hall-meetings/article_5dd9c752-9a9c-5bfe-bc62-554d89f5a4c8.html>CONSTITUENTS PRESS GOODLATTE, GARRETT FOR TOWN HALL MEETINGS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/mceachin-scott-seek-answers-in-death-of-va-grandfather-who/article_e8555e9e-c46b-5798-a7d0-9e2f5caa0590.html>MCEACHIN, SCOTT SEEK ANSWERS IN DEATH OF MAN SHOT WHILE PLAYING POKEMON GO</a><br>
<a href=http://www.dailyprogress.com/news/politics/garrett-s-facebook-live-town-hall-does-little-to-quell/article_c281087e-f318-11e6-8193-2b72557ebd0d.html>GARRETT'S FACEBOOK LIVE TOWN HALL DOES LITTLE TO QUELL CONSTITUENT CONCERNS</a><br>
<a href=http://www.dailyprogress.com/news/politics/garrett-s-first-bill-would-rename-charlottesville-s-federal-courthouse/article_0862083e-f3b4-11e6-9e9d-27392cc64c90.html>GARRETT'S FIRST BILL WOULD RENAME CHARLOTTESVILLE'S FEDERAL COURTHOUSE AFTER SCALIA</a><br>
<a href=http://www.dailyprogress.com/news/politics/brat-backs-off-up-in-my-grill-comment-in-facebook/article_6eff80b8-f3e0-11e6-9cfa-bf6ce8e80b22.html>BRAT BACKS OFF 'UP IN MY GRILL' COMMENT IN FACEBOOK TOWN HALL</a><br>
<a href=http://www.loudountimes.com/news/article/constituents_call_on_comstock_to_hold_town_hall_in_person>CONSTITUENTS CALL ON REP. COMSTOCK TO HOLD TOWN HALL IN PERSON</a><br>
<a href=http://www.insidenova.com/news/arlington/beyer-tapped-for-leadership-slot-on-house-committee/article_2e7a2cbe-f43f-11e6-baf8-c794b13adccb.html>BEYER TAPPED FOR LEADERSHIP SLOT ON HOUSE COMMITTEE</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-kaine-pruitt-senate-20170216-story.html>KAINE CITES SEA LEVEL RISE IN HAMPTON ROADS IN OPPOSING PRUITT FOR EPA HEAD</a><br>
<a href=http://www.roanoke.com/news/politics/rep-bob-goodlatte-declines-invite-to-people-s-town-hall/article_ed681b0a-0e0e-5221-b0c2-c4e196abaef2.html>REP. BOB GOODLATTE DECLINES INVITE TO 'PEOPLE'S TOWN HALL' IN VINTON NEXT WEEK</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/activists-plan-to-hold-town-hall-in-rep-comstocks-northern-virginia-district--with-or-without-her/2017/02/11/32306748-efb1-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.75fe28fe0cd2>ACTIVISTS PLAN TO HOLD TOWN HALL IN REP. COMSTOCK'S NORTHERN VIRGINIA DISTRICT - WITH OR WITHOUT HER</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-kaine-scott-aca-20170217-story.html>WORRIES ERUPT AT NEWPORT NEWS FORUM HELD BY TIM KAINE AND BOBBY SCOTT</a><br>
<a href=https://www.washingtonpost.com/local/ex-navy-seal-from-virginia-aims-to-make-mark-in-congress/2017/02/12/9ba4e092-f131-11e6-9fb1-2d8f3fc9c0ed_story.html?utm_term=.88cbe56afc49>EX-NAVY SEAL FROM VIRGINIA AIMS TO MAKE MARK IN CONGRESS</a><br>
<a href=http://pilotonline.com/news/government/nation/at-town-hall-meeting-kaine-and-scott-face-anxious-citizens/article_aecce553-8077-5ea8-9870-2df5dc296292.html>AT TOWN HALL MEETING, KAINE AND SCOTT FACE ANXIOUS CITIZENS WORRIED ABOUT PRESIDENT TRUMP</a><br>
<a href=http://www.winchesterstar.com/news/clarke/officials-question-immigration-enforcement/article_b45b98f8-0f5d-563a-918e-af363aa14e58.html>OFFICIALS QUESTION IMMIGRATION ENFORCEMENT</a><br>
<a href=http://www.winchesterstar.com/news/clarke/groups-protest-head-to-head-outside-comstock-s-office/article_ded3fada-4673-5801-9ad5-73f94e5185fa.html>GROUPS PROTEST HEAD-TO-HEAD OUTSIDE COMSTOCK'S OFFICE</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-va-sen-warner-pushes-ice-for-information-on-raids-20170217-post.html>VA SEN WARNER PUSHES ICE FOR INFORMATION ON RAIDS</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/kaine-joins-voices-questioning-ice-operation-outside-nova-shelter/article_c5784fe9-6224-5232-8536-dc4c8e5adff1.html>KAINE JOINS VOICES QUESTIONING ICE OPERATION OUTSIDE NOVA SHELTER</a><br>
<a href=http://www.nvdaily.com/news/2017/02/protesters-demand-comstock-town-hall/>PROTESTERS DEMAND COMSTOCK TOWN HALL</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/02/17/goodlatte-responds-town-hall-outcry/98058798/>GOODLATTE RESPONDS TO TOWN HALL OUTCRY</a><br>

<h2>Economy/Business</h2>
<a href=http://pilotonline.com/business/ports-rail/port-launches-first-of-two-big-expansion-projects/article_f5967582-d0c6-57f9-9c1b-6d480a9fc492.html>PORT LAUNCHES FIRST OF TWO BIG EXPANSION PROJECT</a><br>
<a href=http://www.godanriver.com/work_it_sova/news/numerous-violations-found-in-august-death-at-goodyear/article_edb3644a-f248-11e6-83ec-c71b46b54884.html>NUMEROUS VIOLATIONS FOUND IN AUGUST DEATH AT GOODYEAR</a><br>
<a href=https://www.washingtonpost.com/news/business/wp/2017/02/14/this-beloved-grocery-chain-is-the-latest-company-to-face-trump-related-boycotts/?utm_term=.e051786ff133>BELOVED GROCERY CHAIN IS THE LATEST COMPANY TO FACE TRUMP-RELATED BOYCOTTS</a><br>
<a href=http://pilotonline.com/business/defense-shipyards/newport-news-shipbuilding-president-on--ship-navy-little-bit/article_afdb14c0-8a5c-5caf-a86f-f094eb80b775.html>NEWPORT NEWS SHIPBUILDING PRESIDENT ON 350-SHIP NAVY: 'LITTLE BIT OF A WAIT-AND-SEE'</a><br>
<a href=https://www.wsj.com/articles/one-of-governments-largest-landlords-pays-millions-each-year-to-trump-company-1487241001>ONE OF GOVERNMENT'S LARGEST LANDLORDS PAYS MILLIONS EACH YEAR TO TRUMP COMPANY</a><br>
<a href=http://www.dailypress.com/business/dp-hii-2016-year-end-story.html>2016 PROFITS JUMP 42 PERCENT FOR HUNTINGTON INGALLS; SHIPYARD TO HIRE 3,000 THIS YEAR</a><br>
<a href=http://pilotonline.com/news/military/mayport-naval-station-in-florida-will-be-home-for-triton/article_f68bee6d-5f0e-52f8-adcf-74c2a2ece497.html>MAYPORT NAVAL STATION IN FLORIDA WILL BE HOME FOR TRITON DRONES</a><br>
<a href=http://pilotonline.com/business/defense-shipyards/huntington-ingalls-reports-percent-profit-gain-for-th-quarter/article_0e7edee8-8dcd-5094-80f7-7be27c5c8c33.html>HUNTINGTON INGALLS REPORTS 294 PERCENT PROFIT GAIN FOR 4TH-QUARTER 2016</a><br>
<a href=http://www.roanoke.com/business/news/roanoke/freightcar-america-to-lay-off-in-roanoke-state-officials-told/article_f4d58397-62fa-5302-8d1d-32d687066917.html>FREIGHTCAR AMERICA TO LAY OFF 168 IN ROANOKE, STATE OFFICIALS TOLD</a><br>
<a href=http://www.richmond.com/business/local/owens-minor-to-occupy-four-floors-in-riverfront-plaza-bringing/article_551b7b8f-5f81-5137-a81d-5b3c9d57c3b8.html>OWENS & MINOR TO OCCUPY FOUR FLOORS IN RIVERFRONT PLAZA, BRINGING 500 JOBS TO DOWNTOWN RICHMOND</a><br>
<a href=http://www.delmarvanow.com/story/news/2017/02/15/navys-triton-drone-program-bypasses-wallops/97976322/>NAVY'S TRITON DRONE PROGRAM BYPASSES WALLOPS</a><br>
<a href=http://www.insidenova.com/headlines/is-booming-tysons-defying-normal-laws-of-economics/article_5769d1d2-f503-11e6-bc49-0bbf4b141199.html>IS BOOMING TYSONS DEFYING NORMAL LAWS OF ECONOMICS?</a><br>
<a href=http://www.suffolknewsherald.com/2017/02/11/ports-experience-huge-growth/>PORTS EXPERIENCE HUGE GROWTH</a><br>
<a href=https://www.washingtonpost.com/local/dc-region-braces-for-shock-from-trump-effect-on-spending-federal-workforce/2017/02/12/5d32309c-e963-11e6-80c2-30e57e57e05d_story.html?utm_term=.ef3e2202c6b9>D.C. REGION BRACES FOR SHOCK FROM TRUMP EFFECT ON SPENDING, FEDERAL WORKFORCE</a><br>
<a href=http://pilotonline.com/business/ports-rail/hampton-roads-coal-exports-fell-for-the-rd-year-in/article_41165cf7-3f66-50ef-be0a-5eebd1ec818a.html>HAMPTON ROADS COAL EXPORTS FELL FOR THE 3RD YEAR IN A ROW</a><br>

<h2>Editorials</h2>
<a href=http://pilotonline.com/opinion/editorial/editorial-d-c-s-strange-love-for-coal/article_5b8d3d71-695d-5749-91f1-0f6964f4b7dd.html>D.C.'S STRANGE LOVE FOR COAL</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial---it-s-called-freedom-of-speech-maybe/article_f2b56a0e-5833-5993-9156-ad502374a46c.html>IT'S CALLED FREEDOM OF SPEECH. MAYBE YOU'VE HEARD OF IT?</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial---buy-a-boat-with-campaign-funds-sure/article_51487e40-5613-5c11-bf65-fca13781f8c5.html>BUY A BOAT WITH CAMPAIGN FUNDS? SURE THING, SAYS GENERAL ASSEMBLY</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-the-latest-death-of-redistricting-reform/article_db4d52bf-23c2-5ba0-926f-ac95086ac0ff.html>THE LATEST DEATH OF REDISTRICTING REFORM</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-our-new-demographic-realities/article_4db8d2b5-64e3-50fc-9a42-d7e701733c9b.html>OUR NEW DEMOGRAPHIC REALITIES</a><br>
<a href=https://www.washingtonpost.com/opinions/a-chance-for-charter-schools-to-finally-break-through-in-virginia/2017/02/14/82e6539e-efd6-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.f2b4242991db>A CHANCE FOR CHARTER SCHOOLS TO FINALLY BREAK THROUGH IN VIRGINIA</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial---for-republican-gubernatorial-candidates-it-s-already/article_ece81120-e6b6-54a2-98f6-5fca61ef2add.html>FOR REPUBLICAN GUBERNATORIAL CANDIDATES, IT'S ALREADY DEFCON 1</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-protontherapy-0216-20170215-story.html>REFINE MEDICAL EFFICACY FOCUS</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-does-geography-matter-anymore/article_5fc749d1-305e-5fe6-be71-20c769f2f394.html>DOES GEOGRAPHY MATTER ANYMORE?</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-no-richmond-shouldn-t-be-a-sanctuary-city/article_c872770e-818b-5487-ab41-7efeae66bd98.html>NO, RICHMOND SHOULDN'T BE A "SANCTUARY CITY"</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-warner-offering-calm-in-eye-of-the-storm/article_16e197d4-4cd7-58e2-a4d7-3ff099f0b320.html>WARNER OFFERING CALM IN EYE OF THE STORM</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-some-historical-markers-we-need/article_aaa6f86e-2fb3-5297-97ae-e97bde1bcab0.html>SOME HISTORICAL MARKERS WE NEED</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/money-for-a-seminar-or-mental-care/article_e2475d44-f493-11e6-8f5b-8313bf61e711.html>MONEY FOR A SEMINAR OR MENTAL CARE?</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-protecting-transportation-funds-in-va/article_b3ee6f0a-f48e-11e6-b562-7f2f44ade14a.html>PROTECTING TRANSPORTATION FUNDS IN VA.</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-in-credits-a-great-value/article_0f290338-a69c-534d-b427-ae5ce02da588.html>IN CREDITS, A GREAT VALUE</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-senate-should-reject-bill-limiting-broadband/article_909021a3-26db-5c2b-8a86-bc647485f217.html>SENATE SHOULD REJECT BILL LIMITING BROADBAND</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/state-s-governor-race-could-mirror/article_1ca8f936-efd3-11e6-a743-ffaa8f0c5ef8.html>STATE'S 2017 GOVERNOR RACE COULD MIRROR 2016</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-but-is-he-taking-a-trumpian-path/article_094fb50f-3f12-523f-bd6a-593b8509091f.html>BUT IS HE TAKING A TRUMPIAN PATH?</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_a486dba9-5ffa-538c-9cfc-6a4ec68f21c7.html>VIRGINIA REPUBLICANS FACED A TEST IN TRUMP'S IMMIGRATION ORDER. MOST OF THEM FLUNKED.</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-perriello-s-quest/article_045b2201-2f84-5581-bdec-099d5d5bd84e.html>PERRIELLO'S QUEST</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-perriello-s-political-showmanship/article_a345a2b3-bf00-5621-9082-5235905432e4.html>PERRIELLO'S POLITICAL SHOWMANSHIP</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_191b480f-ad24-501a-a701-2781ff947d58.html>ONE WORD EXPLAINS THE SLIDE IN COLLEGE ENROLLMENT: DUH</a><br>

<h2>Executive Branch</h2>
<a href=http://www.richmond.com/news/virginia/government-politics/federal-judge-grants-virginia-s-bid-for-preliminary-injunction-further/article_d9dc1beb-9dbd-51de-9542-9642dcb5eb84.html>FEDERAL JUDGE SIDES WITH VIRGINIA, RULES AGAINST TRUMP TRAVEL BAN</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/judge-in-virginia-grants-preliminary-injunction-against-travel-ban/2017/02/13/a6164bfe-f255-11e6-a9b0-ecee7ce475fc_story.html?utm_term=.929fc397130b>FEDERAL JUDGE IN VIRGINIA ISSUES STRONG REBUKE OF TRUMP TRAVEL BAN</a><br>
<a href=http://www.newsadvance.com/news/national/wire/judge-grants-injunction-against-trump-travel-ban-in-virginia/article_21511955-0533-5720-8c2c-219be05e266e.html>JUDGE GRANTS INJUNCTION AGAINST TRUMP TRAVEL BAN IN VIRGINIA</a><br>
<a href=https://www.wsj.com/articles/trump-travel-ban-likely-unconstitutional-federal-judge-in-virginia-finds-1487040572>TRUMP TRAVEL BAN LIKELY UNCONSTITUTIONAL, FEDERAL JUDGE IN VIRGINIA FINDS</a><br>
<a href=http://www.styleweekly.com/richmond/mcauliffe-works-to-keep-spirits-up-in-virginias-growing-distillery-industry/Content?oid=2401804>MCAULIFFE WORKS TO KEEP SPIRITS UP IN VIRGINIA'S GROWING DISTILLERY INDUSTRY</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/why-virginia-matters-in-the-travel-ban-fight/2017/02/14/27cfff3c-f2ec-11e6-b9c9-e83fce42fb61_story.html?utm_term=.ca2b82e4f724>WHY VIRGINIA MATTERS IN THE TRAVEL BAN FIGHT</a><br>
<a href=https://www.wsj.com/articles/virginia-judges-immigration-ruling-increases-pressure-on-white-house-1487118889>VIRGINIA JUDGE'S IMMIGRATION RULING INCREASES PRESSURE ON WHITE HOUSE</a><br>
<a href=http://www.roanoke.com/news/virginia/mcauliffe-voices-concern-after-ice-agents-arrest-men-leaving-virginia/article_0f6d7a46-a84a-5e04-8f93-407f0b79f955.html>MCAULIFFE VOICES CONCERN AFTER ICE AGENTS ARREST MEN LEAVING VIRGINIA CHURCH SHELTER</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/mcauliffe-warner-push-u-s-for-answers-on-immigration-enforcement/article_e1f7b8a6-d974-5956-923a-f7184ccc61de.html>MCAULIFFE, WARNER PUSH U.S. FOR ANSWERS ON IMMIGRATION ENFORCEMENT</a><br>
<a href=http://pilotonline.com/news/government/virginia/governor-appoints-interim-inspector-general-after-last-one-forced-out/article_762895bb-cba0-5fe5-aa8f-e4d4302b8419.html>GOVERNOR APPOINTS INTERIM INSPECTOR GENERAL AFTER LAST ONE FORCED OUT BY GENERAL ASSEMBLY</a><br>
<a href=https://www.washingtonpost.com/local/education/va-governor-appoints-anne-holton-to-education-board/2017/02/17/7130d942-f546-11e6-8d72-263470bf0401_story.html?utm_term=.1e73fb43622c>VA. GOVERNOR APPOINTS ANNE HOLTON TO EDUCATION BOARD</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-seeks-minor-changes-in-budget-worries-about-impact-of-trump/2017/02/17/8e7dc640-f523-11e6-a9b0-ecee7ce475fc_story.html?utm_term=.6752481b4ade>MCAULIFFE SEEKS MINOR CHANGES IN BUDGET, WORRIES ABOUT IMPACT OF TRUMP</a><br>
<a href=http://pilotonline.com/news/government/virginia/mcauliffe-moves-to-restore-mental-health-jail-funding-in-budget/article_d5497753-7e94-58a0-85c2-5b815bf6c6c8.html>MCAULIFFE MOVES TO RESTORE MENTAL HEALTH, JAIL FUNDING IN BUDGET NEGOTIATIONS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-jamestown-yorktown-budget-20170217-story.html>MCAULIFFE: LESS JAMESTOWN/YORKTOWN COMMEMORATION, MORE MENTAL HEALTH FUNDING</a><br>
<a href=http://www.dnronline.com/news/mcauliffe-gives-tech-talk-governor-says-virginia-could-be-cyber/article_4f609660-f012-11e6-9e0f-dbc1c5dfe4b8.html>MCAULIFFE GIVES TECH TALK</a><br>
<a href=http://www.roanoke.com/news/education/mcauliffe-names-anne-holton-to-state-board-of-education/article_27df0e8e-e8cb-5a91-bdac-3f80c835d2f9.html>MCAULIFFE NAMES ANNE HOLTON TO STATE BOARD OF EDUCATION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/mcauliffe-pushes-legislators-to-restore-funding-for-mentally-ill-in/article_664f09e4-da24-552f-9a82-e4920a5a223e.html>MCAULIFFE PUSHES LEGISLATORS TO RESTORE FUNDING FOR MENTALLY ILL IN JAILS, ELECTION SYSTEM</a><br>
<a href=http://www.insidenova.com/headlines/mcauliffe-seeks-funding-for-mental-health-screenings-in-jails/article_63f13086-f557-11e6-bc3c-6f35d5757217.html>MCAULIFFE SEEKS FUNDING FOR MENTAL HEALTH SCREENINGS IN JAILS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_6f8bdd1d-bde8-54a9-8157-fddd06986da8.html>MCAULIFFE: SPEND $5M ON MENTAL HEALTH, NOT ON WELL-HEELED COMMEMORATION</a><br>

<h2>Federal Elections</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/kaine-has-big-lead-in-2018-senate-race-early-polling-shows/2017/02/17/0ab08564-f537-11e6-a9b0-ecee7ce475fc_story.html?utm_term=.5123154e8650>KAINE HAS BIG LEAD IN 2018 SENATE RACE, EARLY POLLING SHOWS</a><br>

<h2>From vpap.org</h2>
<a href=http://www.vpap.org/visualizations/house-subcommittee-party-representation>VISUALIZATION: PARTISAN MAKEUP OF HOUSE SUBCOMMITTEES</a><br>

<h2>General Assembly</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/illegal-immigrants-would-do-overtime-in-va-jails-under-bill-to-boost-deportations/2017/02/13/8afd0c6a-f217-11e6-a9b0-ecee7ce475fc_story.html>ILLEGAL IMMIGRANTS WOULD DO OVERTIME IN VA. JAILS UNDER BILL TO BOOST DEPORTATIONS</a><br>
<a href=http://pilotonline.com/news/government/politics/sen-lucas-bill-to-aid-port-cities-dies-in-committee/article_728e83dd-ff52-5512-8140-e071201b2dd4.html>SEN. LUCAS BILL TO AID PORT CITIES DIES IN COMMITTEE</a><br>
<a href=http://www.dailypress.com/news/york-county/dp-nws-ypq-poquoson-city-council-0213-20170213-story.html>POQUOSON COUNCIL VOICES SUPPORT FOR WATERMEN LEGISLATION</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-redistricting-reform-virginia-20170213-story.html>REDISTRICTING REFORM GROUP BLASTS 'POLITBURO-STYLE' ELECTIONS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-dominion-nuclear-freeze-20170213-story.html>DOMINION BILL MOVES, BUT A POPULIST WIND BLOWS AGAINST ENERGY BEHEMOTH</a><br>
<a href=http://www.dolphnsix.com/news/2788658/proton-therapy-bill-heads-senate-floor>PROTON THERAPY BILL HEADS TO SENATE FLOOR</a><br>
<a href=http://pilotonline.com/news/government/virginia/virginia-senate-approval-sends-tebow-bill-to-mcauliffe/article_50b6db6b-ea81-50ff-81ca-93d1d3b36247.html>VIRGINIA SENATE APPROVAL SENDS 'TEBOW BILL' TO MCAULIFFE</a><br>
<a href=http://pilotonline.com/news/government/virginia/is-it-gerrymandering---or-democratic-clustering/article_66a5119a-4412-5fb2-9123-020891b75d28.html>IS IT GERRYMANDERING - OR DEMOCRATIC CLUSTERING?</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/reshaped-broadband-bill-heads-to-senate/article_3b00fa32-87df-56f8-a2ae-3324ec46fbcd.html>RESHAPED BROADBAND BILL HEADS TO SENATE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/virginia-redistricting-advocates-mount-last-gasp-effort-as-house-takes/article_eabc9b99-6a20-593a-8448-593fbc69b73d.html>VIRGINIA REDISTRICTING ADVOCATES MOUNT LAST-GASP EFFORT AS HOUSE TAKES UP SENATE PROPOSALS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/policy-on-long-term-contraceptives-excluded-from-state-budget-proposals/article_64d359e3-4bff-5fa5-9077-001772f05118.html>POLICY ON LONG-TERM CONTRACEPTIVES EXCLUDED FROM STATE BUDGET PROPOSALS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/house-wants-state-control-over-bank-street-when-general-assembly/article_6164b6ed-25b1-564d-8c59-57037c909055.html>HOUSE WANTS STATE CONTROL OVER BANK STREET WHEN GENERAL ASSEMBLY MOVES DOWN CAPITOL HILL</a><br>
<a href=http://www.dnronline.com/news/local/budget-cuts-threaten-coyote-abatement-program/article_85745a08-f273-11e6-bfc7-136c5c25cb41.html>BUDGET CUTS THREATEN COYOTE ABATEMENT PROGRAM</a><br>
<a href=http://www.loudountimes.com/news/article/republicans_divided_on_vogel_led_redistricting_reform432>REPUBLICANS DIVIDED ON VOGEL-LED REDISTRICTING REFORM</a><br>
<a href=http://www.newsadvance.com/work_it_lynchburg/news/what-s-left-of-byron-s-broadband-measure-moves-forward/article_d19ab25e-f252-11e6-a9d6-83bb81cad464.html>WHAT'S LEFT OF BYRON'S BROADBAND MEASURE MOVES FORWARD IN SENATE</a><br>
<a href=http://pilotonline.com/news/government/virginia/in-response-to-newport-news-airport-loan-bill-tightens-airport/article_13f21ed4-4f82-5c25-ae19-b5124cb0afa6.html>IN RESPONSE TO NEWPORT NEWS AIRPORT LOAN, BILL TIGHTENS AIRPORT SPENDING OF STATE FUNDS</a><br>
<a href=http://www.richmond.com/news/virginia/virginia-house-debates-whether-civil-war-era-guns-can-keep/article_b638d3ff-069b-53b4-b97c-548c9b7318f4.html>BILL AIMS TO ALLOW NONVIOLENT FELONS TO OWN CIVIL WAR-ERA GUNS</a><br>
<a href=http://www.richmond.com/news/virginia/dominion-underground-line-bill-appalachian-bill-bypassing-local-zoning-clear/article_eb5460f0-f0d3-5832-823c-d13505851fe7.html>DOMINION UNDERGROUND LINE BILL, APPALACHIAN BILL BYPASSING LOCAL ZONING, CLEAR COMMITTEE</a><br>
<a href=http://www.newsadvance.com/news/local/general-assembly-kills-redistricting-reform-efforts/article_c9484274-f2c0-11e6-bfd2-2b8d634d979d.html>GENERAL ASSEMBLY KILLS REDISTRICTING REFORM EFFORTS</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-nn-council-feb-20170214-story.html>SPIRITO, BOUREY DEFEND PEOPLE EXPRESS LOAN TO NEWPORT NEWS CITY COUNCIL</a><br>
<a href=http://www.dailypress.com/news/politics/dp-house-panel-oks-tighter-rules-for-airports-prompted-by-people-express-deal-20170214-story.html>HOUSE PANEL OKS TIGHTER RULES FOR AIRPORTS, PROMPTED BY PEOPLE EXPRESS DEAL</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-group-homes-bill-20170214-story.html>NORMENT GROUP HOME BILL FADES AWAY</a><br>
<a href=http://www.richmond.com/news/one-senator-sees-conflict-as-bills-addressing-higher-ed-cost/article_7d39e038-badb-5688-bd85-d07043a31f5d.html>ONE SENATOR SEES CONFLICT AS BILLS ADDRESSING HIGHER-ED COST ARE THWARTED</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/compromise-reached-on-battle-between-local-and-state-investment-pools/article_5df99ed8-7ebd-50b0-871b-b3dc22d50e96.html>COMPROMISE REACHED ON BATTLE BETWEEN LOCAL AND STATE INVESTMENT POOLS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/virginia-redistricting-reform-efforts-dead-for-the-year-as-house/article_29711020-7228-5448-bfeb-f2b383d58ab7.html>VIRGINIA REDISTRICTING REFORM EFFORTS DEAD FOR THE YEAR</a><br>
<a href=http://www.winchesterstar.com/news/clarke/subcommittee-votes-to-kill-three-bills-meant-to-end-gerrymandering/article_86429b05-7efe-5cfe-8cdf-1a5175eecb92.html>SUBCOMMITTEE VOTES TO KILL THREE BILLS MEANT TO END GERRYMANDERING</a><br>
<a href=http://pilotonline.com/inside-business/news/entertainment/virginia-s-motion-picture-production-tax-credit-extended-years/article_aee26050-09ca-511f-a276-0c2712bbf8cf.html>VIRGINIA'S MOTION PICTURE PRODUCTION TAX CREDIT EXTENDED 3 YEARS</a><br>
<a href=http://www.insidenova.com/headlines/house-panel-rejects-redistricting-reform-bills/article_c38a5e36-f2ec-11e6-991f-639d2a291103.html>HOUSE PANEL REJECTS REDISTRICTING REFORM BILLS</a><br>
<a href=http://www.richmond.com/news/local/education/va-senate-bill-would-let-school-officials-work-with-students/article_a1db28e4-c4df-57df-ac9a-87df98a77ca0.html>VA. SENATE BILL WOULD LET SCHOOL OFFICIALS WORK WITH STUDENTS' INSULIN PUMPS</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/bill-passes-senate-house-to-mandate-lesson-on-consent-in/article_de93fc75-e45f-5b2d-838b-b9ea79f6cf22.html>BILL PASSES SENATE, HOUSE TO MANDATE LESSON ON CONSENT IN HIGH-SCHOOL SEX ED CLASSES</a><br>
<a href=http://pilotonline.com/news/government/virginia/transparency-bill-mandating-cities-school-boards-to-put-check-registry/article_9eb6ae95-27e5-5428-a531-c0788de40bc1.html>TRANSPARENCY BILL MANDATING CITIES, SCHOOL BOARDS TO PUT CHECK REGISTRY ONLINE DIES IN COMMITTEE</a><br>
<a href=http://pilotonline.com/news/government/virginia/lawmaker-wants-history-of-formerly-enslaved-african-americans-in-virginia/article_8fa3d830-7383-5664-811d-e14d77f028b2.html>LAWMAKER WORKS TO PROMOTE HISTORY OF FORMERLY ENSLAVED AFRICAN AMERICANS</a><br>
<a href=http://www.insidenova.com/headlines/general-assembly-passes-bill-to-prevent-identity-theft/article_50f075ea-f3dc-11e6-b5fb-23b87136bf43.html>GENERAL ASSEMBLY PASSES BILL TO PREVENT IDENTITY THEFT</a><br>
<a href=http://pilotonline.com/news/government/virginia/coal-ash-cleanup-bill-passes-committee-with-amendments/article_528dc510-9ef0-5fb7-a49d-7817e8ed3f8f.html>COAL ASH CLEANUP BILL PASSES COMMITTEE WITH AMENDMENTS</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-harward-wrongful-conviction-20170216-story.html>BILL TO PAY $1.55M TO MAN WRONGFULLY CONVICTED IN NEWPORT NEWS HOMICIDE ON WAY TO PASSAGE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-marijuana-notebook-20170215-story.html>SMALL COMMITTEE SHOOTS DOWN MEDICAL MARIJUANA OIL EXPANSION</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-crime-justice-reform-bills-20170215-story.html>HOUSE KILLS CRIMINAL JUSTICE REFORMS</a><br>
<a href=http://www.richmond.com/news/virginia-house-of-delegates-committee-defangs-coal-ash-bill/article_891271b3-e2c4-58b0-8db3-078ea8dd5c7a.html>VIRGINIA HOUSE OF DELEGATES COMMITTEE DEFANGS COAL ASH BILL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/va-legislators-want-to-squeeze-more-revenue-from-abc-cash/article_934fccc5-b002-5f5a-954c-9c2650e5e31f.html>VA. LEGISLATORS WANT TO SQUEEZE MORE REVENUE FROM ABC CASH COW</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/lobbyists-for-local-governments-and-schools-help-kill-sturtevant-s/article_819e59e0-a5ab-5611-ab70-07fc81ec3679.html>LOBBYISTS FOR LOCAL GOVERNMENTS AND SCHOOLS HELP KILL STURTEVANT'S TRANSPARENCY BILL</a><br>
<a href=http://www.richmond.com/news/virginia/legislation-to-raise-virginia-s-grand-larceny-threshold-from-to/article_2b63fe28-6f26-5618-a8d9-c3c67a6728b2.html>LEGISLATION TO RAISE VIRGINIA'S GRAND LARCENY THRESHOLD FROM $200 TO $500 DIES IN HOUSE PANEL</a><br>
<a href=http://www.insidenova.com/headlines/virginia-schools-still-can-t-start-before-labor-day-without/article_631638d2-f3bd-11e6-ab68-7fec231a294d.html>VIRGINIA SCHOOLS STILL CAN'T START BEFORE LABOR DAY WITHOUT WAIVER</a><br>
<a href=http://www.alexandriagazette.com/news/2017/feb/16/era-of-the-iron-fist/>DEMOCRATS COMPLAIN ABOUT GOP HEAVY-HANDEDNESS, BUT WERE THEY ANY BETTER?</a><br>
<a href=http://valawyersweekly.com/2017/02/15/lawmakers-still-grappling-with-ethics-law/>LAWMAKERS STILL GRAPPLING WITH ETHICS LAW</a><br>
<a href=http://valawyersweekly.com/2017/02/15/lawyers-right-to-withdraw-wins-favor-at-assembly/>LAWYERS' RIGHT TO WITHDRAW WINS FAVOR AT ASSEMBLY</a><br>
<a href=http://www.dailyprogress.com/orangenews/news/county-continues-broadband-bill-battle/article_386817c4-f217-11e6-b63e-2f4287c14fa7.html>COUNTY CONTINUES BROADBAND BILL BATTLE</a><br>
<a href=http://www.chesterfieldobserver.com/news/2017-02-15/Front_Page/GOPs_Chase_takes_aim_at_Dominion.html>GOP'S CHASE TAKES AIM AT DOMINION</a><br>
<a href=http://www.gazettejournal.net/index.php/news/news_article/general_assembly>GENERAL ASSEMBLY</a><br>
<a href=http://www.richmond.com/news/local/education/bill-cutting-suspension-length-fails-in-house-of-delegates/article_a982ca17-d6d5-502c-a887-2786b4f2808a.html>BILL CUTTING SUSPENSION LENGTH FAILS IN HOUSE OF DELEGATES</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-norment-conflicts-20170216-story.html>IN THE VIRGINIA SENATE, AN AIRING OF GRIEVANCES ON CONFLICTS OF INTEREST</a><br>
<a href=http://www.richmond.com/news/norment-counters-allegation-of-w-m-conflict-calls-senator-petulant/article_fb29a0be-21da-5d17-8329-4e48fe6a6b1e.html>NORMENT COUNTERS ALLEGATION OF W&M CONFLICT, CALLS SENATOR 'PETULANT CHILD'</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/house-panel-struggles-with-helping-mentally-ill-in-jails-and/article_250179b1-80cc-58ec-a36c-064bb411e5dc.html>HOUSE PANEL STRUGGLES WITH HELPING MENTALLY ILL IN JAILS AND HOW TO PAY FOR IT</a><br>
<a href=http://wtkr.com/2017/02/16/virginia-general-assembly-passes-bill-to-allow-sale-of-151-proof-liquor/>VIRGINIA GENERAL ASSEMBLY PASSES BILL TO ALLOW SALE OF 151-PROOF LIQUOR</a><br>
<a href=http://www.insidenova.com/headlines/virginia-legislators-designate-suicide-prevention-week/article_c31fef8c-f49b-11e6-8d5d-27587ebc1ae7.html>VIRGINIA LEGISLATORS DESIGNATE SUICIDE PREVENTION WEEK</a><br>
<a href=http://www.newsadvance.com/news/local/peake-s-provisional-ballot-bill-dead-in-house-subcommittee/article_0ceb83ea-f4a3-11e6-9854-df0587549890.html>PEAKE'S PROVISIONAL BALLOT BILL DEAD IN HOUSE SUBCOMMITTEE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/historic-black-cemeteries-seeking-the-same-support-virginia-gives-confederates/2017/02/11/888b8ec0-de67-11e6-acdf-14da832ae861_story.html?utm_term=.dabf43af844d>HISTORIC BLACK CEMETERIES SEEKING THE SAME SUPPORT VIRGINIA GIVES CONFEDERATES</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-helsel-watermen-20170217-story.html>HELSEL BLASTS GOVERNOR, VMRC OVER WATERMEN BILL</a><br>
<a href=http://www.newsadvance.com/news/local/in-wake-of-former-virginia-gov-bob-mcdonnell-scandal-legislators/article_707c5ade-7857-5138-899f-0bca4baea713.html>IN WAKE OF FORMER VIRGINIA GOV. BOB MCDONNELL SCANDAL LEGISLATORS WORK TO FIRM UP ETHICS LAW</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-shad-plank-0218-20170217-story.html>FELON VOTING RIGHTS AMENDMENT DIES IN COMMITTEE</a><br>
<a href=http://www.newsadvance.com/news/local/two-plans-could-help-schools-cover-costs-despite-declining-enrollment/article_e32c6c81-2b60-540c-bdaa-535892c291a5.html>TWO PLANS COULD HELP SCHOOLS COVER COSTS DESPITE DECLINING ENROLLMENT</a><br>
<a href=http://www.insidenova.com/headlines/snakehead-infiltrates-virginia-waters-and-legislation/article_fd89b006-f066-11e6-9340-c3f78271b460.html>SNAKEHEAD INFILTRATES VIRGINIA WATERS AND LEGISLATION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/house-republicans-stop-sen-norment-s-felon-voting-rights-proposal/article_15be611a-0cb0-5a4f-9d14-9b6fffdd40f6.html>HOUSE REPUBLICANS STOP SEN. NORMENT'S FELON VOTING RIGHTS PROPOSAL</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/delegate-s-bill-would-repeal-nepotism-rule-for-school-hires/article_8f6f6052-d577-5ca8-8173-b63bfeca03e6.html>DELEGATE'S BILL WOULD REPEAL NEPOTISM RULE FOR SCHOOL HIRES</a><br>
<a href=http://www.nvdaily.com/news/2017/02/del-collins-takes-heat-in-town-hall-meeting/>DEL. COLLINS TAKES HEAT IN TOWN HALL MEETING</a><br>
<a href=http://www.richmond.com/business/local/virginia-lawmakers-poised-to-approve-legislation-to-give-localities-more/article_9fd4a0bf-d31a-5574-8e32-32315187882c.html>VIRGINIA LAWMAKERS POISED TO APPROVE LEGISLATION TO GIVE LOCALITIES MORE AUTHORITY TO REGULATE AIRBNB</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_4da66226-cd77-528f-8d4b-cc0465ddcc2c.html>BILLS OVER CHILD CARE PROVIDER BACKGROUND CHECKS DRAW IRE FROM VA. RELIGIOUS GROUPS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-stormwater-middle-peninsula-20170212-story.html>STORMWATER BANKS PITCHED TO ADDRESS POLLUTION, FLOODING AND DEVELOPMENT ON MIDDLE PENINSULA</a><br>
<a href=http://www.insidenova.com/headlines/bluegrass-program-picked-as-virginia-s-official-tv-series/article_9185ea72-efa9-11e6-a016-33a1a8b661c9.html>BLUEGRASS PROGRAM PICKED AS VIRGINIA'S OFFICIAL TV SERIES</a><br>
<a href=http://pilotonline.com/news/government/virginia/bill-that-would-ve-brought-more-revenue-for-hampton-roads/article_583598f5-66ec-5f5e-ad9b-49b98f6ab67b.html>BILL THAT WOULD'VE BROUGHT MORE REVENUE FOR HAMPTON ROADS TRANSPORTATION PROJECTS DIES</a><br>
<a href=http://www.richmond.com/news/coal-ash-bill-clears-house-subcommittee-though-not-unscathed/article_840f3094-a01c-5e7e-ace4-12c13a5d7374.html>COAL ASH BILL CLEARS HOUSE SUBCOMMITTEE, THOUGH NOT UNSCATHED</a><br>
<a href=http://www.richmond.com/news/local/education/va-senate-committee-approves-suspension-reform-legislation/article_b6cd4fdf-3139-59c6-983f-d9d99fc12aba.html>VA. SENATE COMMITTEE APPROVES SUSPENSION REFORM LEGISLATION</a><br>

<h2>Local</h2>
<a href=http://www.roanoke.com/news/local/new-lawsuit-hints-at-foreclosure-of-buena-vista-city-hall/article_984216e8-1e22-5cfb-b7a1-7436e9005c18.html>NEW LAWSUIT HINTS AT FORECLOSURE OF BUENA VISTA CITY HALL OVER GOLF COURSE DEBT</a><br>
<a href=http://pilotonline.com/news/government/local/for-the-first-time-ever-norfolk-council-decides-to-write/article_519dd0ad-8375-5961-86e4-07318031e474.html>FOR THE FIRST TIME EVER, NORFOLK COUNCIL DECIDES TO WRITE DOWN ITS RULES</a><br>
<a href=http://pilotonline.com/news/government/local/it-won-t-be-so-easy-to-avoid-jury-duty/article_644feb7d-f597-51f9-b296-8bd0bc374bf8.html>BEWARE, JURY DUTY DODGERS: IT WON'T BE SO EASY TO IGNORE A SUMMONS IN NORFOLK ANYMORE</a><br>
<a href=http://pilotonline.com/news/government/local/in-midst-of-fbi-investigation-norfolk-sheriff-s-office-s/article_9d49524b-13f6-5042-8382-d25adcfebb0a.html>IN MIDST OF FBI PROBE, NORFOLK SHERIFF'S OFFICE'S MEDICAL PROVIDER WORKS WITHOUT A CONTRACT</a><br>
<a href=http://pilotonline.com/news/government/local/portsmouth-council-decides-to-hold-hearing-to-weigh-firing-members/article_6657bf99-6e0b-5110-9f24-45e0fd02cf31.html>PORTSMOUTH TO WEIGH FIRING MEMBERS OF HOUSING AUTHORITY BOARD</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/richmond-mayor-stoney-hires-vcu-s-wilder-school-for-promised/article_0db4f415-f28d-5910-ab46-ee84e596cc77.html>STONEY HIRES VCU'S WILDER SCHOOL FOR PROMISED COMPREHENSIVE REVIEW OF CITY HALL</a><br>
<a href=http://www.dailyprogress.com/news/local/aclu-joins-u-s-in-lawsuit-against-culpeper-over-denied/article_9e4695ca-f2f8-11e6-9ec6-6b2859e3a2f1.html>ACLU JOINS U.S. IN LAWSUIT AGAINST CULPEPER OVER DENIED MOSQUE PERMIT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginias-largest-county-again-trims-budget-requests-as-revenues-stay-tepid/2017/02/14/0197bc9a-f2c1-11e6-b9c9-e83fce42fb61_story.html?utm_term=.d7d302e870e6>VIRGNIA'S LARGEST COUNTY AGAIN TRIMS BUDGET REQUESTS AS REVENUES STAY TEPID</a><br>
<a href=http://www.insidenova.com/news/business/fairfax/fairfax-tax-bills-would-go-up-an-average-of-in/article_8c1832ac-f2dd-11e6-a025-b320f451cef6.html>FAIRFAX TAX BILLS WOULD GO UP AN AVERAGE OF $40 IN BUDGET PROPOSAL</a><br>
<a href=http://www.richmond.com/news/local/hanover/hanover-planners-vote-to-keep-montpelier-rural/article_4ae3601c-1415-50e5-8ea5-4e49fd7a245d.html>HANOVER PLANNERS VOTE TO KEEP MONTPELIER RURAL</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/petersburg/suit-to-remove-petersburg-mayor-vice-mayor-withdrawn/article_e5dbb9cc-a02a-55a0-aca1-81d6331e99c0.html>SUIT TO REMOVE PETERSBURG MAYOR, VICE MAYOR WITHDRAWN</a><br>
<a href=http://pilotonline.com/news/government/politics/local/despite-promising-transparency-norfolk-council-talks-about-city-manager-search/article_c70cbece-80d3-5d0f-b788-edfb77d7da29.html>DESPITE PROMISING TRANSPARENCY, NORFOLK COUNCIL TALKS ABOUT CITY MANAGER SEARCH BEHIND CLOSED DOORS</a><br>
<a href=http://www.insidenova.com/headlines/prince-william-clerk-of-circuit-court-michele-mcquigg-dies/article_3d7f0b82-f4bf-11e6-becd-a70935f152ee.html>PRINCE WILLIAM CLERK OF CIRCUIT COURT MICHELE MCQUIGG DIES</a><br>
<a href=http://pilotonline.com/news/local/crime/judge-suspends-norfolk-treasurer-anthony-burfoot-citing-crimes-of-dishonesty/article_ea67fc9c-158e-5e7b-b63b-974ddbfdab4b.html>JUDGE SUSPENDS NORFOLK TREASURER ANTHONY BURFOOT, CITING "CRIMES OF DISHONESTY"</a><br>
<a href=https://www.washingtonpost.com/opinions/fairfax-county-falls-behind-in-addressing-the-climate-crisis/2017/02/17/47fe3198-f2c9-11e6-a9b0-ecee7ce475fc_story.html>FAIRFAX COUNTY FALLS BEHIND IN ADDRESSING THE CLIMATE CRISIS</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/how-richmond-mayor-levar-stoney-hopes-to-avoid-a-school/article_a5716bcf-810e-552c-9988-123b8618f486.html>RICHMOND MAYOR HOPES TO AVOID SHOWDOWN OVER SCHOOLS' BUDGET</a><br>
<a href=http://pilotonline.com/news/government/local/feds-probing-ex-norfolk-sheriff-bob-mccabe-s-ties-to/article_e2f7fe21-c1d3-56c6-a748-0fc4490e7a17.html>WHAT IS COMPANY AT CENTER OF NORFOLK JAIL INVESTIGATION?</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/petersburg/former-petersburg-city-attorney-charged-with-making-a-false-statement/article_93e68f57-fd57-595b-ba89-e053216d052a.html>FORMER PETERSBURG CITY ATTORNEY CHARGED WITH MAKING A FALSE STATEMENT TO POLICE</a><br>
<a href=http://pilotonline.com/news/government/local/amid-city-council-s-push-for-an-ouster-portsmouth-housing/article_1f6646bb-070b-5ea1-a776-5cc030db2940.html>AMID CITY COUNCIL'S PUSH FOR AN OUSTER, PORTSMOUTH HOUSING AUTHORITY BOARD WEIGHS ETHICS PLEDGE</a><br>
<a href=http://pilotonline.com/news/government/local/judge-punishes-nearly-of-norfolk-s-jury-duty-no-shows/article_184b83a2-c232-5518-b810-397f290c0984.html>JUDGE PUNISHES NEARLY 200 OF NORFOLK'S JURY DUTY NO-SHOWS WITH A LECTURE - AND JURY DUTY</a><br>
<a href=http://www.roanoke.com/news/crime/election-fraud-charges-dropped-against-bath-county-supervisor/article_a05af1f9-a7b0-5713-abae-a8f4c4cad2bd.html>ELECTION FRAUD CHARGES DROPPED AGAINST BATH COUNTY SUPERVISOR</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/arlington-says-no-thanks-to-georgetown-rosslyn-gondola/2017/02/11/cb7bc1ee-efda-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.94f1ccc40db1>ARLINGTON SAYS 'NO THANKS' TO GEORGETOWN-ROSSLYN GONDOLA</a><br>
<a href=http://pilotonline.com/news/government/local/norfolk-sheriff-joe-baron-requests-state-audit-of-office-after/article_d85ec10f-e913-57a5-aa2d-e7e226b3eb08.html>NORFOLK SHERIFF REQUESTS STATE AUDIT OF HIS OFFICE AFTER FEDERAL INVESTIGATION IS REVEALED</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/activists-calling-on-richmond-to-become-sanctuary-city-want-mayor/article_f349c04f-0634-5770-ba35-ffa63a2e244a.html>ACTIVISTS CALLING ON RICHMOND TO BECOME 'SANCTUARY CITY' WANT MAYOR'S DIRECTIVE TO GO FURTHER</a><br>

<h2>Online News</h2>
<a href=http://www.cavalierdaily.com/article/2017/02/proposed-campus-free-speech-law-progresses-through-general-assembly>PROPOSED CAMPUS FREE SPEECH LAW PROGRESSES THROUGH GENERAL ASSEMBLY</a><br>
<a href=http://potomaclocal.com/2017/02/14/dudenhefer-seeks-to-reclaim-stafford-board-of-supervisors-seat/>DUDENHEFER SEEKS TO RECLAIM STAFFORD BOARD OF SUPERVISORS SEAT</a><br>
<a href=http://southsidedaily.com/2017/02/15/virginia-beach-sheriff-studies-impact-of-jail-programs-on-inmate-rehabiltation/>VIRGINIA BEACH SHERIFF STUDIES IMPACT OF JAIL PROGRAMS ON INMATE REHABILITATION</a><br>
<a href=http://potomaclocal.com/2017/02/14/protesters-take-message-to-stewart-nohate/>PROTESTERS TAKE MESSAGE TO STEWART: #NOHATE</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-ward-s-driver-s-ed-bill-on-police-interactions-heads-to-governor-20170216-post.html>WARD'S DRIVER'S ED BILL ON POLICE INTERACTIONS HEADS TO GOVERNOR</a><br>

<h2>Op-Ed</h2>
<a href=http://www.richmond.com/opinion/their-opinion/common-cause-s-dale-eisman-why-do-virginia-lawmakers-want/article_2636fbef-b652-510f-930b-6d857a17ffdc.html>EISMAN: WHY DO VIRGINIA LAWMAKERS WANT TO MAKE OUR ELECTIONS HACKABLE?</a><br>
<a href=http://www.roanoke.com/opinion/commentary/pillion-hydro-projects-would-create-jobs-and-energy-in-southwest/article_5dd1565f-a1c4-55af-a4ef-9ed250e18455.html>PILLION: HYDRO PROJECTS WOULD CREATE JOBS AND ENERGY IN SOUTHWEST VIRGINIA</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/chap-petersen-column-it-s-not-too-late-to-save/article_9855b78f-22c8-5012-940e-c2a4f8034852.html>PETERSEN: IT'S NOT TOO LATE TO SAVE A BILLION DOLLARS FOR THE PEOPLE OF VIRGINIA</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/james-boyd-healing-the-hurt-in-hampton-roads/article_67d6cb12-3152-5837-b20c-c7f7e7415c67.html>BOYD: HEALING THE HURT IN HAMPTON ROADS</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/jason-snead-column-legal-loophole-virginia-ag-uses-forfeiture-funds/article_1ca8d268-ef4f-5596-8856-ed75fe1b99b5.html>SNEAD: VIRGINIA AG USES FORFEITURE FUNDS TO COVER STAFF SALARIES</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/siobhan-dunnavant-column-passport-credits-will-ensure-fewer-higher-ed/article_7e993f90-6e96-5cf1-8c6a-e361ae44ae72.html>DUNNAVANT: PASSPORT CREDITS WILL ENSURE FEWER HIGHER-ED HOOPS TO JUMP THROUGH</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/david-ramadan-column-senators-you-can-control-college-costs/article_3db9c7f7-3525-5638-af50-0b60a50cf26c.html>RAMADAN: SENATORS, YOU CAN CONTROL COLLEGE COSTS</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/leonard-ruchelman-burfoot-and-governance-in-norfolk/article_aa169f31-9447-5d21-9921-9b0e1110c65e.html>RUCHELMAN: BURFOOT AND GOVERNANCE IN NORFOLK</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/greg-junemann-help-wanted-senators-needed/article_40e01a87-df8e-54b5-ab61-7d123377f65f.html>JUNEMANN: HELP WANTED. SENATORS NEEDED</a><br>
<a href=https://www.washingtonpost.com/opinions/how-one-small-virginia-town-embraces-immigration--and-is-better-off-for-it/2017/02/10/4c3ff190-ecbd-11e6-9662-6eedf1627882_story.html?utm_term=.da7bc271eddc>PERRINE: HOW ONE SMALL VIRGINIA TOWN EMBRACES IMMIGRATION - AND IS BETTER OFF FOR IT</a><br>
<a href=http://www.richmond.com/article_84d1b316-e876-55c6-a0ab-88873bf4786c.html>LEPRELL AND TYREE: CONSERVATION EFFORTS SUPPORT HEALTHIER FARMS, CLEANER WATER</a><br>

<h2>State Elections</h2>
<a href=http://www.insidenova.com/headlines/democrat-sara-townsend-tries-another-run-in-the-st-district/article_93cc641c-f23f-11e6-b92c-6bf3aeba9811.html>DEMOCRAT SARA TOWNSEND TRIES ANOTHER RUN IN THE 31ST DISTRICT</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/va-lt-gov-northam-calls-for-decriminalizing-small-amounts-of/article_8188f74c-84c7-579e-b482-db537aa35dad.html>VA. LT. GOV. NORTHAM CALLS FOR DECRIMINALIZING SMALL AMOUNTS OF MARIJUANA</a><br>
<a href=http://www.nbc29.com/story/34491856/northam-blasts-republicans-over-iud-funding>NORTHAM BLASTS REPUBLICANS OVER IUD FUNDING</a><br>
<a href=http://www.fredericksburg.com/news/local/stafford/democrat-jennifer-carroll-enters-race-for-second-district-seat/article_ad3322ab-4b1f-5d93-abc4-8a47600dab1e.html>DEMOCRAT JENNIFER CARROLL ENTERS RACE FOR SECOND DISTRICT SEAT</a><br>
<a href=http://www.fauquier.com/news/catlett-middle-school-teacher-running-for-house-of-delegates/article_169b518a-f2c9-11e6-b517-3f80d8919e04.html>CATLETT MIDDLE SCHOOL TEACHER RUNNING FOR HOUSE OF DELEGATES</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-gop-governor-debate-20170215-story.html>FIRST BIG GOP GUBERNATORIAL DEBATE SATURDAY</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/va-gubernatorial-candidate-perriello-apologizes-for-comparing-trump-s-win/article_a40ec07e-28d7-5c1d-8d7b-57e4409dbd1b.html>PERRIELLO APOLOGIZES FOR COMPARING TRUMP'S WIN TO 9/11</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/in-va-governors-race-democrats-are-locked-in-primary-battle-to-be-the-most-progressive/2017/02/15/84b56096-e98e-11e6-80c2-30e57e57e05d_story.html?utm_term=.5a84bc1bcad2>IN VA. GOVERNOR'S RACE, DEMOCRATS ARE LOCKED IN PRIMARY BATTLE TO BE THE MOST PROGRESSIVE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-ap-virginia-new-jersey-governor-races-story.html>THOUGHT YOU WERE DONE WITH ANGRY ELECTIONS? WELCOME TO THE VIRGINIA, N.J. RACES FOR GOVERNOR</a><br>
<a href=http://www.therecorderonline.com/news/2017-02-16/Top_News/Charges_against_Hall_not_prosecuted.html>CHARGES AGAINST HALL NOT PROSECUTED</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/poll-democrats-lead-republicans-in-va-governor-race-but-primary-is-wide-open/2017/02/16/47854d12-f46a-11e6-a9b0-ecee7ce475fc_story.html>POLL: DEMOCRATS LEAD REPUBLICANS IN VA. GOVERNOR RACE, BUT PRIMARY IS WIDE OPEN</a><br>
<a href=http://www.richmond.com/news/virginia/in-charlottesville-gop-candidate-for-governor-corey-stewart-allies-with/article_211e1dbc-c324-5664-94d1-186aa24bb5d0.html>STEWART ALLIES WITH ALT-RIGHT-INSPIRED BLOGGER</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/perriello-tied-with-northam-in-quinnipiac-poll-either-leads-all/article_99b93262-dda6-5a9d-a6dd-d3845dcef5fb.html>PERRIELLO TIED WITH NORTHAM IN QUINNIPIAC POLL; EITHER LEADS ALL FOUR REPUBLICANS FOR GOVERNOR</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/im-not-scared-to-be-bold-perriello-defends-progressivism-in-first-big-campaign-rally/2017/02/11/3becf1fa-efa9-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.b829393dc1e6>'I'M NOT SCARED TO BE BOLD' PERRIELLO DEFENDS PROGRESSIVISM IN FIRST BIG CAMPAIGN RALLY</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/protesters-mob-provocative-va-governor-candidate-defending-confederate-statue/2017/02/11/400facda-efdd-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.a319f2a5ac7b>PROTESTERS MOB PROVOCATIVE VA. GOVERNOR CANDIDATE AS HE DEFENDS CONFEDERATE STATUE</a><br>
<a href=http://www.roanoke.com/news/hurst-will-seek-democratic-nomination-in-th-house-district-race/article_20d04fde-af28-5b86-bb18-4870330af8c6.html>HURST WILL SEEK DEMOCRATIC NOMINATION IN 12TH HOUSE DISTRICT RACE</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/democrat-tom-perriello-calls-for-years-of-free-community-college/article_ecd010ef-d13d-51f5-ab4d-a9a9d03534a0.html>DEMOCRAT TOM PERRIELLO CALLS FOR 2 YEARS OF FREE COMMUNITY COLLEGE FOR VIRGINIANS</a><br>
<a href=https://www.washingtonpost.com/local/roanoke-news-anchor-boyfriend-of-slain-tv-reporter-will-run-as-democrat-for-virginia-house-of-delegates/2017/02/12/6ddadfd0-f15a-11e6-8d72-263470bf0401_story.html?utm_term=.f447b8392abd>ROANOKE NEWS ANCHOR, BOYFRIEND OF SLAIN TV REPORTER, PLANS TO RUN FOR VA. HOUSE</a><br>
<a href=http://www.dailypress.com/news/isle-of-wight-county/dp-nws-iw-notebook-0213-20170212-story.html>SUFFOLK RESIDENT, DOMESTIC VIOLENCE SHELTER ADVOCATE, TO RUN AGAINST MORRIS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/northam-criticizes-fellow-doctor-for-inaccurate-comments-about-contraception/2017/02/13/fc37d4b4-f22b-11e6-a9b0-ecee7ce475fc_story.html?utm_term=.22ae98affeaf>NORTHAM CRITICIZES FELLOW DOCTOR FOR "INACCURATE" COMMENTS ABOUT CONTRACEPTION</a><br>

<h2>State Government</h2>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-people-express-loan-agreement--20170213-story.html>PEOPLE EXPRESS LOAN DOCUMENTS HEIGHTEN STATE CONCERNS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/state-revenues-surge-in-january-but-not-in-time-to/article_34e38b93-7d82-525a-bf3d-30e56f01cdb2.html>STATE REVENUES SURGE IN JANUARY, BUT NOT IN TIME TO AID BUDGET</a><br>
<a href=https://www.washingtonpost.com/local/security-problems-found-in-virginia-tax-department/2017/02/15/23cf2584-f364-11e6-9fb1-2d8f3fc9c0ed_story.html?utm_term=.98997000fe6c>SECURITY PROBLEMS FOUND IN VIRGINIA TAX DEPARTMENT</a><br>
<a href=http://pilotonline.com/news/local/crime/hampton-roads-regional-jail-makes-offer-for-new-superintendent-after/article_ce8b7c9a-7938-5847-b111-e4e58dd42c61.html>HAMPTON ROADS REGIONAL JAIL MAKES OFFER FOR NEW SUPERINTENDENT AFTER SCANDAL OVER INMATE DEATHS</a><br>
<a href=http://www.dailypress.com/news/crime/dp-nws-regional-jail-selection-20170215-story.html>SOUTH CAROLINA JAILER CHOSEN TO LEAD EMBATTLED HAMPTON ROADS REGIONAL JAIL</a><br>
<a href=http://rrecord.com/crowded-oyster-grounds-causing-safety-concerns/>CROWDED OYSTER GROUNDS CAUSING SAFETY CONCERNS</a><br>
<a href=http://www.godanriver.com/work_it_sova/news/virginia-economic-development-leader-visits-dan-river-region/article_c37db316-f4a4-11e6-9117-2b8b0dfb37fa.html>VIRGINIA ECONOMIC DEVELOPMENT LEADER VISITS DAN RIVER REGION</a><br>

<h2>The Friday Read</h2>
<a href=http://www.richmond.com/business/local/trump-wines-sold-out-at-richmond-area-wegmans-stores-mostly/article_19d02f15-20ab-57ad-9205-862f3bc4a99b.html>BOYCOTT CREATES A RUN ON TRUMP WINES</a><br>

<h2>Transportation</h2>
<a href=http://www.richmond.com/news/federal-government-withholding-transit-funding-over-formation-of-metro-safety/article_57bf3520-e98b-583a-b7dd-151dcce914ae.html>FEDERAL GOVERNMENT WITHHOLDING TRANSIT FUNDING OVER FORMATION OF METRO SAFETY COMMISSION</a><br>
<a href=http://www.mcclatchydc.com/news/politics-government/national-politics/article132811939.html>LAWMAKERS DENOUNCE FEDS' DECISION TO WITHHOLD TRANSIT FUNDS</a><br>
<a href=http://www.loudountimes.com/news/article/annual_metro_numbers_are_in_and_they_arent_pretty745>NEW METRO ESTIMATES ARE IN, AND THEY AREN'T PRETTY</a><br>
<a href=http://www.roanoke.com/news/local/montgomery_county/smart-road-expansion-gets-cold-reception-from-residents/article_8bb72c12-6e8a-5c42-a786-11afc5bdfd55.html>SMART ROAD EXPANSION GETS COLD RECEPTION FROM RESIDENTS</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/congressional-delegation-moves-to-hasten-launch-of-metro-safety-commission/2017/02/15/7b4c33b4-f3c9-11e6-b9c9-e83fce42fb61_story.html?utm_term=.0feffcaa6ad4>CONGRESSIONAL DELEGATION MOVES TO HASTEN LAUNCH OF METRO SAFETY COMMISSION</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/congressional-delegation-moves-to-hasten-launch-of-metro-safety-commission/2017/02/15/7b4c33b4-f3c9-11e6-b9c9-e83fce42fb61_story.html?utm_term=.14a003d78c6e>CONGRESSIONAL DELEGATION MOVES TO HASTEN LAUNCH OF METRO SAFETY COMMISSION</a><br>
<a href=http://richmondfreepress.com/news/2017/feb/17/advocates-charge-transit-plan-ignores-needs-regula/>ADVOCATES CHARGE TRANSIT PLAN IGNORES NEEDS OF REGULAR RIDERS</a><br>

<h2>TV/Radio</h2>
<a href=http://wvtf.org/post/red-tape-reduction-and-welfare-reform-flame-out-richmond-despite-being-republican-priorities>RED-TAPE REDUCTION AND WELFARE REFORM FLAME OUT IN RICHMOND</a><br>
<a href=http://wvtf.org/post/new-vedp-chief-promises-remember-southwest-virginia>NEW VEDP CHIEF PROMISES TO REMEMBER SWVA</a><br>
<a href=http://wavy.com/2017/02/14/work-beginning-soon-on-storm-damage-reduction-project-in-norfolk/>WORK BEGINNING SOON ON STORM DAMAGE REDUCTION PROJECT IN NORFOLK</a><br>
<a href=http://ideastations.org/radio/news/assembly-legalizes-purchase-cannabidiol-oils-epilepsy>ASSEMBLY LEGALIZES PURCHASE OF CANNABIDIOL OILS FOR EPILEPSY</a><br>
<a href=http://wtvr.com/2017/02/15/new-regulations-approved-for-virginia-assisted-living-facilities/>NEW REGULATIONS APPROVED FOR VIRGINIA ASSISTED LIVING FACILITIES</a><br>
<a href=http://www.13newsnow.com/news/military/virginia-loses-bid-for-navy-drones-to-florida/408725527>VIRGINIA LOSES NAVY DRONES BID TO FLORIDA</a><br>
<a href=http://ideastations.org/radio/news/ticket-resale-bills-pass-both-houses>TICKET RESALE BILLS PASS BOTH HOUSES</a><br>
<a href=http://wtkr.com/2017/02/17/trump-wine-sales-double-in-virginia/>STATE ABC: SALES OF TRUMP WINE DOUBLED IN 2016</a><br>
<a href=http://www.newsplex.com/content/news/Lieutenant-Governor-Northam-campaigns-in-Charlottesville-413554763.html>LIEUTENANT GOVERNOR NORTHAM CAMPAIGNS IN CHARLOTTESVILLE</a><br>

<h2>Virginia Other</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/dominion-plan-to-bury-coal-ash-near-potomac-river-faces-renewed-opposition/2017/02/13/323468aa-ed56-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.9b0878b40127>DOMINION PLAN TO BURY COAL ASH NEAR POTOMAC RIVER FACES RENEWED OPPOSITION</a><br>
<a href=http://www.richmond.com/news/keith-harward-lashes-out-at-field-of-dentistry-that-helped/article_345585cb-8eb5-5a5d-ac21-8c8099484ccd.html>KEITH HARWARD LASHES OUT AT FIELD OF DENTISTRY THAT HELPED WRONGLY CONVICT HIM</a><br>
<a href=http://pilotonline.com/news/local/virginia-s-population-is-growing-at-its-slowest-rate-in/article_8e17f21e-2180-5c14-beae-80ce3a8b97c9.html>VIRGINIA'S POPULATION IS GROWING AT ITS SLOWEST RATE IN NEARLY 100 YEARS</a><br>
<a href=http://www.richmond.com/plaintiffs-in-landmark-gay-marriage-lawsuit-visit-va-capitol-for/article_f7855cbb-3209-5e6e-8cee-fd150e421005.html>PLAINTIFFS IN LANDMARK GAY MARRIAGE LAWSUIT VISIT VA. CAPITOL FOR ANNIVERSARY OF RULING</a><br>
<a href=http://pilotonline.com/news/local/environment/protesters-advocates-speak-out-on-atlantic-coast-pipeline-at-federal/article_fe161fcf-1c9c-5747-b37f-3761bde7c6bd.html>PROTESTERS, ADVOCATES SPEAK OUT ON ATLANTIC COAST PIPELINE AT FEDERAL HEARING IN SUFFOLK</a><br>
<a href=http://www.roanoke.com/business/news/pipeline-easement-agreements-stir-questions-strong-feelings/article_92fe9bfd-6a32-5780-99cd-512c11a42340.html>PIPELINE EASEMENT AGREEMENTS STIR QUESTIONS, STRONG FEELINGS</a><br>
<a href=https://www.washingtonpost.com/local/4th-circuit-ruling-affirms-virginia-uranium-mining-ban/2017/02/17/d835cc18-f557-11e6-9fb1-2d8f3fc9c0ed_story.html?utm_term=.12637643abb1>4TH CIRCUIT RULING AFFIRMS VIRGINIA URANIUM MINING BAN</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/president-trump-s-early-job-approval-under-water-in-virginia/article_9e02fe16-4cca-50ff-9808-e62da1035d18.html>PRESIDENT TRUMP'S EARLY JOB APPROVAL UNDER WATER IN VIRGINIA</a><br>
<a href=https://www.washingtonpost.com/news/education/wp/2017/02/12/why-laverne-cox-told-you-to-google-gavin-grimm/?utm_term=.a558b02c5b10>WHY LAVERNE COX TOLD YOU TO GOOGLE 'GAVIN GRIMM'</a><br>
