
<h2>Columnists</h2>
<a href=http://www.dailypress.com/news/politics/dp-nws-shad-plank-0225-20170224-story.html>FAIN: WAS THAT VOTE A TIE OR A BAIT-AND-SWITCH?</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-guv-winning-pr-battle-on-mental-health-funding/article_04e17601-79ef-5283-8983-05e1d02d2215.html>CHESLEY: GUV WINNING PR BATTLE ON MENTAL HEALTH FUNDING</a><br>
<a href=http://pilotonline.com/news/local/columnist/kerry-dougherty/kerry-dougherty-kill-the-light-rail-tax-now/article_7357334d-c6c9-51fb-8d68-1f9a98ae907d.html>DOUGHERTY: KILL THE LIGHT RAIL TAX. NOW</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/schapiro-on-school-funding-lawmakers-created-problem-they-thought-they/article_4e0711f0-8c50-5243-9280-c7d9c81ebb04.html>SCHAPIRO: ON SCHOOL FUNDING, LAWMAKERS CREATED PROBLEM THEY THOUGHT THEY SOLVED</a><br>
<a href=http://www.richmond.com/life/bill-lohmann/lohmann-is-it-time-to-legalize-homemade-booze/article_34a7ffdc-5305-57fc-9b07-33dc1fbab4f6.html>LOHMANN: IS IT TIME TO LEGALIZE HOMEMADE BOOZE?</a><br>
<a href=http://www.richmond.com/news/local/michael-paul-williams/williams-tell-the-story-behind-richmond-s-confederate-monuments/article_b525af4d-2b54-508f-9d29-27fd06dedd75.html>WILLIAMS: TELL THE STORY BEHIND RICHMOND'S CONFEDERATE MONUMENTS</a><br>
<a href=http://www.roanoke.com/news/dan_casey/casey-left-lane-laggards-may-lose-under-new-virginia-law/article_1b3c903e-b2e2-5aee-b3e2-e6162c0c6ee3.html>CASEY: LEFT-LANE LAGGARDS MAY LOSE UNDER NEW VIRGINIA LAW</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-school-supply-store-an-indicator-of-where-state/article_7ef2c330-e69b-57cc-bea1-5d061fad6d63.html>CHESLEY: SCHOOL SUPPLY STORE AN INDICATOR OF WHERE STATE COMES UP SHORT</a><br>

<h2>Congress</h2>
<a href=http://www.newsleader.com/story/news/local/2017/03/01/goodlatte-blocks-russia-records-request/98575556/>GOODLATTE BLOCKS RUSSIA RECORDS REQUEST</a><br>
<a href=http://www.c-ville.com/howdy-constituents-congressmans-tweets-office-location-annoy/#.WLjax_nyvIU>HOWDY, CONSTITUENTS: CONGRESSMAN'S TWEETS, OFFICE LOCATION ANNOY SOME</a><br>
<a href=http://www.dailyprogress.com/news/politics/garrett-plans-two-in-person-town-halls-one-in-charlottesville/article_3ed46f6c-face-11e6-b346-2bf5e60a95f5.html>REP. GARRETT SCHEDULES TOWN HALL MEETING FOR MONETA IN MAY</a><br>
<a href=http://www.newsadvance.com/news/local/garrett-to-hold-two-in-person-town-halls-in-coming/article_0400078e-faf1-11e6-a26d-cb286eab5929.html>GARRETT TO HOLD TWO IN-PERSON TOWN HALLS IN COMING MONTHS</a><br>
<a href=https://www.washingtonpost.com/local/dc-politics/rep-comstock-skips-a-town-hall-in-her-northern-virginia-district/2017/02/24/411309a2-faae-11e6-be05-1a3817ac21a5_story.html?utm_term=.3f3db0f67f4b>REP. COMSTOCK SKIPS A TOWN HALL IN HER NORTHERN VIRGINIA DISTRICT</a><br>
<a href=http://www.loudountimes.com/news/article/bill_introduced_by_barbara_comstock_to_encourage_women_in_science432>TRUMP SIGNS COMSTOCK-BACKED BILL TO ENCOURAGE WOMEN IN SCIENCE</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/03/02/inside-goodlatte-telephone-town-hall/98641820/>INSIDE A GOODLATTE 'TELEPHONE TOWN HALL'</a><br>
<a href=http://www.nvdaily.com/news/2017/02/constituents-hold-town-hall-minus-comstock/>CONSTITUENTS HOLD TOWN HALL MINUS COMSTOCK</a><br>
<a href=https://www.nytimes.com/aponline/2017/03/02/us/ap-us-immigration-arrests-virginia.html?_r=1>DEMOCRATS STILL LOOKING FOR ANSWERS ON IMMIGRATION ARRESTS</a><br>
<a href=http://www.heraldcourier.com/news/conference-call-addresses-miner-health-and-pension-concerns/article_ad6f6644-e4bd-538f-91e2-1221d641f424.html>CONFERENCE CALL ADDRESSES MINER HEALTH AND PENSION CONCERNS</a><br>
<a href=http://www.sovanow.com/index.php?/news/article/marijuana_reform_bill_sponsored_by_garrett/>MARIJUANA REFORM BILL SPONSORED BY GARRETT</a><br>
<a href=http://www.loudountimes.com/news/article/10th_district_town_hall_goes_on_without_rep._comstock432>10TH DISTRICT TOWN HALL GOES ON WITHOUT REP. COMSTOCK</a><br>
<a href=http://pilotonline.com/news/government/nation/rep-taylor-not-swayed-by-anti-trump-attacks-at-forums/article_4eebd23a-ff31-5785-be6f-5affd413279f.html>REP. TAYLOR NOT SWAYED BY ANTI-TRUMP ATTACKS AT FORUMS</a><br>
<a href=http://hosted.ap.org/dynamic/stories/V/VA_CHESAPEAKE_BAY_TRUMP_LETTER_PAOL-?SITE=VADAR&SECTION=HOME&TEMPLATE=DEFAULT>US REPS ASK TRUMP TO BACK CHESAPEAKE BAY CLEANUP EFFORT</a><br>
<a href=http://www.dailyprogress.com/news/local/garrett-less-town-hall-attracts-standing-room-only-crowd/article_c4c4dbde-fc8b-11e6-88b6-13f39cd668c1.html>GARRETT-LESS TOWN HALL ATTRACTS STANDING-ROOM-ONLY CROWD</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-bay-budget-request-20170227-story.html>HAMPTON ROADS CONGRESSMEN SEEK $73 MILLION FOR CHESAPEAKE BAY CLEANUP</a><br>
<a href=http://www.dailyprogress.com/news/local/garrett-bill-would-remove-marijuana-from-federal-controlled-substance-list/article_fda07e58-fd54-11e6-9f5a-374870babb50.html>GARRETT INTRODUCES BILL TO DECRIMINALIZE MARIJUANA FEDERALLY</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/warner-to-trump-ice-raid-outside-shelter-hurts-virginia-families/article_596b77fc-f360-53bb-88ff-6e2bfceed654.html>WARNER TO TRUMP: ICE RAID OUTSIDE SHELTER HURTS VIRGINIA FAMILIES</a><br>
<a href=http://pilotonline.com/news/government/nation/kaine-is-new-co-chairman-of-senate-s-military-families/article_f8fdd020-ede4-50c6-ad78-9fafe13f5e3d.html>KAINE IS NEW CO-CHAIRMAN OF SENATE'S MILITARY FAMILIES CAUCUS</a><br>
<a href=http://pilotonline.com/news/government/nation/sen-kaine-agrees-with-trump-s-military-spending-but-not/article_26dd1cec-2866-547d-a9af-6d36c6dea9f9.html>SEN. KAINE AGREES WITH TRUMP'S MILITARY SPENDING, BUT NOT AT THE EXPENSE OF THE EPA AND FOREIGN AID</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/virginia-delegation-reacts-to-trump-address-before-joint-session-of/article_63c39963-4f6e-5b78-b2c3-bacd422b1c10.html>VIRGINIA DELEGATION REACTS TO TRUMP ADDRESS BEFORE JOINT SESSION OF CONGRESS</a><br>
<a href=http://www.newsadvance.com/news/local/garrett-s-charlottesville-town-hall-to-be-limited-to-attendees/article_94ae9408-fede-11e6-b2f4-536891521271.html>GARRETT'S CHARLOTTESVILLE TOWN HALL TO BE LIMITED TO 135 ATTENDEES</a><br>

<h2>Economy/Business</h2>
<a href=http://www.heraldcourier.com/news/govirginia-may-boost-state-and-local-economy/article_f222628d-272d-5854-80f7-40a230a5ac44.html>GOVIRGINIA MAY BOOST STATE AND LOCAL ECONOMY</a><br>
<a href=http://www.nbc29.com/story/34645004/trump-to-push-pentagon-upgrade-aboard-us-aircraft-carrier>TRUMP TO PUSH PENTAGON UPGRADE ABOARD US AIRCRAFT CARRIER</a><br>
<a href=http://www.bizjournals.com/washington/news/2017/03/02/trump-doubles-down-on-massive-navy-expansion.html>TRUMP DOUBLES DOWN ON MASSIVE NAVY EXPANSION</a><br>
<a href=http://pilotonline.com/inside-business/news/commercial-real-estate/hampton-roads-ranked-th-among-possible-nba-expansion-locations/article_ec8bdd7f-11ae-5fda-a9a6-c0ea6aae4e47.html>HAMPTON ROADS RANKED 4TH AMONG POSSIBLE NBA EXPANSION LOCATIONS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/two-virginia-republican-congressmen-join-trump-in-newport-news/2017/03/02/620fcc7c-fecc-11e6-8f41-ea6ed597e4ca_story.html?utm_term=.274d804235dd>TWO VIRGINIA REPUBLICAN CONGRESSMEN JOIN TRUMP IN NEWPORT NEWS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/aboard-aircraft-carrier-in-newport-news-trump-calls-for-great/article_d28526c1-5830-5547-b54d-405a46c3bc02.html>ABOARD AIRCRAFT CARRIER IN NEWPORT NEWS, TRUMP CALLS FOR 'GREAT REBUILDING' OF AMERICAN MILITARY</a><br>
<a href=http://www.dailypress.com/news/military/shipbuilding/dp-nws-trump-shipyard-main-20170302-story.html>PUSHING A LARGER FLEET, TRUMP FINDS HOME ON CARRIER FORD</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-nn-trump-visit-reaction-20170302-story.html>PRESIDENT TRUMP'S NEWPORT NEWS VISIT: PROTEST ON THE STREET, ENTHUSIASM ON THE SHIP</a><br>
<a href=http://pilotonline.com/news/military/local/president-trump-promises--carrier-navy-to-sailors-and-shipbuilders/article_d095f10a-f531-59fe-9de6-2cced0f995ff.html>PRESIDENT TRUMP PROMISES 12-CARRIER NAVY TO SAILORS AND SHIPBUILDERS IN NEWPORT NEWS</a><br>
<a href=https://www.nytimes.com/2017/03/02/business/trump-pentagon-budget.html?_r=1>MILITARY EXPECTS MORE SHOPPING MONEY, IF NOT ALL TRUMP SEEKS</a><br>
<a href=https://www.wsj.com/articles/shipbuilder-huntington-ingalls-seizes-trumps-challenge-to-deliver-on-price-1488492851>SHIPBUILDER HUNTINGTON INGALLS SEIZES TRUMP'S CHALLENGE TO DELIVER ON PRICE</a><br>
<a href=http://www.dailyprogress.com/news/business/ct-local-hemp-importer-waiting-for-rule-change-to-expand/article_710642d2-fb08-11e6-877f-ab5016901533.html>LOCAL HEMP IMPORTER WAITING FOR RULE CHANGE TO EXPAND BUSINESS</a><br>
<a href=http://hosted.ap.org/dynamic/stories/V/VA_HIRING_FREEZE_HAMPTON_ROADS_VAOL-?SITE=VADAR&SECTION=HOME&TEMPLATE=DEFAULT>ECONOMISTS SAY FEDERAL HIRING FREEZE MAY HURT REGION</a><br>
<a href=http://pilotonline.com/business/defense-shipyards/president-trump-coming-to-newport-news-shipbuilding-on-thursday/article_11b8997d-18ad-5442-a331-e768d1697110.html>PRESIDENT TRUMP COMING TO NEWPORT NEWS SHIPBUILDING ON THURSDAY</a><br>
<a href=http://www.dailypress.com/news/military/dp-trump-shipyard-story.html>PRESIDENT TRUMP TO VISIT NEWPORT NEWS SHIPYARD THURSDAY</a><br>
<a href=http://www.nbc29.com/story/34616267/georgia-virginia-ports-seek-approval-of-partner-agreement>GEORGIA, VIRGINIA PORTS SEEK APPROVAL OF PARTNER AGREEMENT</a><br>
<a href=http://www.roanoke.com/news/local/botetourt_county/plans-rev-up-for--job-auto-parts-factory-in/article_94aaea0e-3cf4-5df4-a9f5-0d7db5c7b5d2.html>PLANS REV UP FOR 350-JOB AUTO PARTS FACTORY IN BOTETOURT COUNTY</a><br>
<a href=http://www.roanoke.com/business/news/botetourt_county/munters-million-expansion-in-buena-vista-adds-equipment-jobs/article_88cc251c-66fe-5a32-be0e-98cc60699ab3.html>MUNTERS' $2.5 MILLION EXPANSION IN BUENA VISTA ADDS EQUIPMENT, JOBS</a><br>
<a href=http://pilotonline.com/news/government/nation/trump-comes-to-hampton-roads-with-many-lingering-questions-about/article_0e73788b-0abd-5478-8c51-a496563f4b31.html>TRUMP COMES TO HAMPTON ROADS WITH MANY LINGERING QUESTIONS ABOUT HIS DEFENSE BUILDUP</a><br>
<a href=http://www.dailypress.com/news/dp-nws-trump-shipyard-advance-20170301-story.html>SHIPYARD STOCK RIDING HIGH AS PRESIDENT TRUMP PAYS A VISIT</a><br>
<a href=http://pilotonline.com/news/local/crime/feds-say-navy-contractor-stole-million-but-u-s-government/article_f0e96b82-c45c-5577-b9f9-6a2cc5ffdfbc.html>FEDS SAY NAVY CONTRACTOR STOLE $13 MILLION, BUT U.S. GOVERNMENT STILL WORKS WITH IT</a><br>

<h2>Editorials</h2>
<a href=https://www.washingtonpost.com/opinions/a-virginia-lawmaker-rolls-out-the-unwelcome-mat/2017/03/01/e1adb0e4-fad9-11e6-bf01-d47f8cf9b643_story.html?utm_term=.d52a29c26761>A VIRGINIA LAWMAKER ROLLS OUT THE UNWELCOME MAT</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-a-chance-to-make-virginia-less-ridiculous/article_d50295aa-854e-53d2-a7f4-507afd3c672f.html>A CHANCE TO MAKE VIRGINIA LESS RIDICULOUS</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-va-presses-fight-against-addiction/article_95bbd14c-1465-5013-abb2-fbdb96e07e72.html>VA. PRESSES FIGHT AGAINST ADDICTION</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-keep-your-gun-close/article_7987f35a-93e1-5824-8fff-84148376b3ab.html>KEEP YOUR GUN CLOSE</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-town-halls/article_d2d86f49-f757-5de9-807f-4cf023de5632.html>COMSTOCK OWES IT TO FOLKS TO APPEAR</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-losses-yet-hopes-on-redistricting/article_c432a0ca-feca-11e6-a156-1bef30efabbe.html>LOSSES, YET HOPES, ON REDISTRICTING</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-thank-you-mr-speaker/article_dc97057b-3d92-52ca-8b00-de16e950a065.html>THANK YOU, MR. SPEAKER</a><br>
<a href=http://www.dailyprogress.com/starexponent/opinion/editorial-celebrate-the-legislature-yes-but-at-what-cost/article_42655fa7-507c-59db-a388-541c7ff532b3.html>CELEBRATE THE LEGISLATURE? YES, BUT AT WHAT COST?</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-coming-up-short-again-on-mental-health/article_ed00530f-fed7-5722-8446-80b2c3d616e9.html>COMING UP SHORT AGAIN ON MENTAL HEALTH</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/congressional-town-halls-we-just-want-to-be-heard/article_af658de4-fad6-11e6-a1ec-0b663e062f44.html>CONGRESSIONAL TOWN HALLS: WE JUST WANT TO BE HEARD</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/editorial-political-correctness-and-more-absurdities/article_0613bab0-fbd3-11e6-a2d4-9be9d7b05986.html>POLITICAL CORRECTNESS ... AND MORE ABSURDITIES</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-the-conscience-of-the-house-continues-to-speak-out/article_31ae145a-c8c2-5f74-82ac-1de9340264e1.html>THE CONSCIENCE OF THE HOUSE CONTINUES TO SPEAK OUT</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-porn-veto-bait-and-big-spending-were-the-hallmarks/article_f47379ec-6081-5b00-b9e3-849bb09451eb.html>PORN, VETO BAIT AND BIG SPENDING WERE THE HALLMARKS OF THIS YEAR'S ASSEMBLY</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-a-speaker-of-consequence-and-wit/article_90a57634-8f55-51ff-b82c-9402f5d9a080.html>A SPEAKER OF CONSEQUENCE AND WIT</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-uva-s-rotunda-rises-as-america-s-greatest-building/article_d5f37768-2db2-5eb7-830c-a144b0563a6c.html>UVA'S ROTUNDA RISES AS AMERICA'S GREATEST BUILDING</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-state-s-race-could-mirror/article_1c40fe86-eae6-554e-9737-d5211c832aab.html>STATE'S 2017 RACE COULD MIRROR 2016</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-is-pumped-storage-next-big-energy-story/article_d5f4f118-bcb6-501e-b6f1-9cc7fc1b2855.html>IS PUMPED STORAGE NEXT BIG ENERGY STORY?</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-why-shouldn-t-richmond-micromanage-tuition/article_23df0ef3-8f40-5c2f-9e4c-0b3292be79f8.html>WHY SHOULDN'T RICHMOND MICROMANAGE TUITION?</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-slow-drivers-keep-right-or-else/article_2d6410ac-3513-5fab-8f73-f2da02ba562b.html>SLOW DRIVERS KEEP RIGHT, OR ELSE</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-president-trump-0302-20170301-story.html>DEAR MR. PRESIDENT</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-give-the-general-assembly-credit-for-some-futuristic-thinking/article_debe2b15-d2aa-5442-8585-f4c0363f8c86.html>GIVE THE GENERAL ASSEMBLY CREDIT FOR SOME FUTURISTIC THINKING</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-too-long-a-silence-on-mitchell-s-death/article_a8e426c0-d13e-5717-a572-dd3ee492fea5.html>TOO LONG A SILENCE ON MITCHELL'S DEATH</a><br>
<a href=https://www.washingtonpost.com/opinions/a-virginia-lawmaker-rolls-out-the-unwelcome-mat/2017/03/01/e1adb0e4-fad9-11e6-bf01-d47f8cf9b643_story.html?utm_term=.4f3f1bc4c563>A VIRGINIA LAWMAKER ROLLS OUT THE UNWELCOME MAT</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-virginia-colleges-meet-the-chamber-of-commerce/article_8c1a004c-5873-5adf-943f-58ecceea8f3b.html>VIRGINIA COLLEGES, MEET THE CHAMBER OF COMMERCE</a><br>

<h2>Executive Branch</h2>
<a href=http://www.richmond.com/news/general-assembly-passes-legislation-similar-to-beloved-bill-governor-plans/article_b296c7e1-b011-5a31-adb7-1552753a9d78.html>MCAULIFFE VOWS TO VETO BILL ON NOTIFICATION OF SEXUALLY EXPLICIT CONTENT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/republicans-shrug-off-governors-offer-to-seek-nonpartisan-redistricting/2017/03/02/1c4f93d4-ff6c-11e6-8f41-ea6ed597e4ca_story.html?utm_term=.3d7ef7de4df5>REPUBLICANS SHRUG OFF GOVERNOR'S OFFER TO SEEK NONPARTISAN REDISTRICTING</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-redistricting-suit-20170302-story.html>GOP: DESPITE COURT RULING, CURRENT HOUSE MAP GOOD FOR NOVEMBER</a><br>
<a href=http://pilotonline.com/news/local/education/public-schools/immigration-agents-barred-from-schools-or-gaining-access-to-student/article_0c55fcdb-02a1-5408-a1db-b16630222b5d.html>GOV: ICE NEEDS WARRANT TO ENTER VA. SCHOOLS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/mcauliffe-urges-gop-to-let-independent-panel-redraw-house-districts/article_d011230c-3feb-5787-b5e9-d0052890fc3a.html>MCAULIFFE URGES GOP TO LET INDEPENDENT PANEL REDRAW 11 HOUSE DISTRICTS</a><br>
<a href=http://wtvr.com/2017/02/25/mcauliffe-vetoes-bill-to-disclose-refugee-records/>MCAULIFFE VETOES BILL TO DISCLOSE REFUGEE RECORDS</a><br>
<a href=http://www.fredericksburg.com/news/va_md_dc/governor-asks-gop-to-stop-defending-disputed-house-districts/article_fbb23a6a-5804-5a69-aedc-48076ad81871.html>GOVERNOR ASKS GOP TO STOP DEFENDING DISPUTED HOUSE DISTRICTS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-says-trump-administration-promises-no-random-immigration-arrests/2017/02/26/5d6a2722-fc5a-11e6-8f41-ea6ed597e4ca_story.html>MCAULIFFE SAYS TRUMP ADMINISTRATION PROMISES NO RANDOM IMMIGRATION ARRESTS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-governor-lives-it-up-on-the-national-stage-hedges-bets-on-his-future/2017/02/27/c8cffe7e-fd04-11e6-99b4-9e613afeb09f_story.html?utm_term=.c2ce1d9c763e>VIRGINIA GOVERNOR LIVES IT UP ON THE NATIONAL STAGE AND HEDGES BETS ON HIS FUTURE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/alexandria-officials-to-seek-mcauliffe-intervention-over-deadline-on-fixing-sewers/2017/02/28/a213bc10-fe1e-11e6-99b4-9e613afeb09f_story.html?utm_term=.6b1c2126e113>ALEXANDRIA OFFICIALS TO SEEK MCAULIFFE INTERVENTION OVER DEADLINE ON FIXING SEWERS</a><br>
<a href=http://pilotonline.com/sports/outdoors/virginia-saltwater-fishing-tournament-survives-another-legislative-attempt-to-kill/article_0225e239-29e8-5842-8e78-1c9e2d6e5c8e.html>VIRGINIA SALTWATER FISHING TOURNAMENT SURVIVES ANOTHER LEGISLATIVE ATTEMPT TO KILL IT</a><br>
<a href=http://www.richmond.com/news/local/education/mcauliffe-administration-issues-guidance-to-public-schools-in-wake-of/article_7552cd85-d4fe-5101-8483-4fd0152132d0.html>MCAULIFFE ADMINISTRATION ISSUES GUIDANCE TO PUBLIC SCHOOLS IN WAKE OF TRUMP IMMIGRATION ACTIONS</a><br>

<h2>Federal Elections</h2>
<a href=http://pilotonline.com/news/government/politics/virginia/carly-fiorina-reminds-audience-at-regent-she-can-throw-a/article_81f06fb3-3ff0-5455-bff4-071594a25b7b.html>FIORINA REMINDS REGENT AUDIENCE SHE CAN "THROW A PUNCH," BUT STILL UNDECIDED ABOUT SENATE RUN</a><br>

<h2>From vpap.org</h2>
<a href=http://www.vpap.org/visualizations/surge-in-house-democratic-challengers-2017>VISUALIZATION: DEMOCRATS DOUBLE UP TO CHALLENGE GOP INCUMBENTS</a><br>

<h2>General Assembly</h2>
<a href=http://www.newsadvance.com/work_it_lynchburg/news/new-legislation-to-allow-distillers-to-sell-products-at-in/article_06aed64c-fee6-11e6-be9c-db90ce460238.html>NEW LEGISLATION TO ALLOW DISTILLERS TO SELL PRODUCTS AT IN-STATE FESTIVALS, EVENTS</a><br>
<a href=http://www.chesterfieldobserver.com/news/2017-03-01/Front_Page/Del_Kirk_Cox_next_speaker_of_the_House.html>DEL. KIRK COX, NEXT SPEAKER OF THE HOUSE?</a><br>
<a href=http://www.chesterfieldobserver.com/news/2017-03-01/Front_Page/Sen_Chase_asks_governor_for_help_with_coal_ash.html>SEN. CHASE ASKS GOVERNOR FOR HELP WITH COAL ASH</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-legislature-lastish-day-20170224-story.html>SOME DRIVERS LICENSE SUSPENSION CHANGES APPROVED ON ASSEMBLY'S SECOND-TO-LAST DAY</a><br>
<a href=http://www.dailypress.com/news/crime/dp-nws-new-judges-20170224-story.html>NEW JUDGES PICKED FOR NEWPORT NEWS, HAMPTON</a><br>
<a href=https://www.washingtonpost.com/local/education/bill-at-va-governors-desk-would-spur-charters-in-districts-with-struggling-schools/2017/03/02/e15f1a68-fde2-11e6-8f41-ea6ed597e4ca_story.html?utm_term=.80b008056a56>VA. LEGISLATORS SEND GOVERNOR BILL TO ENCOURAGE CHARTERS IN DISTRICTS WITH STRUGGLING SCHOOLS</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/salem-delegate-habeeb-brings-his-sharp-wit-to-the-fore/article_930edb58-c3ab-5315-a1c6-419154c2a136.html>SALEM DELEGATE HABEEB BRINGS HIS SHARP WIT TO THE FORE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/deal-reached-on-state-economic-development-reform/article_aca4e52f-9801-590d-8b90-8ed398fb7828.html>DEAL REACHED ON STATE ECONOMIC DEVELOPMENT REFORM</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/virginia-house-honors-hunting-dogs-and-mcauliffe-s-dead-chicken/article_4a571724-174b-5289-821b-83667ec4bd39.html>VIRGINIA HOUSE HONORS HUNTING DOGS AND MCAULIFFE'S DEAD CHICKEN IN 'SENSITIVITY CAUCUS' AWARDS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/state-braces-for-potential-federal-threats-to-health-funding/article_a72319e4-8077-52f1-a845-bd347317853e.html>STATE BRACES FOR POTENTIAL FEDERAL THREATS TO HEALTH FUNDING</a><br>
<a href=http://www.dailypress.com/news/isle-of-wight-county/dp-nws-iw-post-legislative-breakfast-20170302-story.html>ISLE OF WIGHT LAWMAKERS, ADMINISTRATOR SHARE LEGISLATIVE HIGHLIGHTS</a><br>
<a href=http://www.winchesterstar.com/news/clarke/general-assembly-ends-session/article_02a98ede-2feb-5bff-b7b9-1b64c5e712d6.html>GENERAL ASSEMBLY SESSION TO END</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/is-pink-the-new-orange-in-nod-to-women-hunters-va-passes-bill-to-let-hunters-wear-hot-pink/2017/03/02/cc9e6b52-fea4-11e6-8ebe-6e0dbe4f2bca_story.html?utm_term=.d63176df98a2>IS PINK THE NEW ORANGE? IN NOD TO WOMEN, VA. PASSES BILL TO LET HUNTERS WEAR HOT PINK</a><br>
<a href=http://www.loudountimes.com/news/article/lawmakers_say_new_state_budget_is_bad_news_for_loudoun_county_judiciary432>LAWMAKERS SAY NEW STATE BUDGET IS BAD NEWS FOR LOUDOUN COUNTY JUDICIARY</a><br>
<a href=http://pilotonline.com/news/local/environment/some-law-breaking-virginia-watermen-would-benefit-under-bill-that/article_f40f2429-a13b-5c3a-9772-b40bea911da8.html>SOME LAW-BREAKING VIRGINIA WATERMEN WOULD BENEFIT UNDER BILL THAT CLEARED LEGISLATURE</a><br>
<a href=http://www.nbc29.com/story/34600350/bills-easing-drivers-license-suspensions-pass>BILLS EASING DRIVER'S LICENSE SUSPENSIONS PASS</a><br>
<a href=http://www.nbc29.com/story/34601585/assembly-passes-bill-to-help-dyslexic-students>ASSEMBLY PASSES BILL TO HELP DYSLEXIC STUDENTS</a><br>
<a href=http://www.nbc29.com/story/34601043/groups-laud-virginia-for-outlawing-female-circumcision>GROUPS LAUD VIRGINIA FOR OUTLAWING FEMALE CIRCUMCISION</a><br>
<a href=http://valawyersweekly.com/2017/02/24/assembly-taps-judges-at-sessions-close/>ASSEMBLY TAPS JUDGES AT SESSION'S CLOSE</a><br>
<a href=http://www.newsadvance.com/news/local/area-legislators-not-among-those-seeking-transparency-tech-in-new/article_582280e6-ffae-11e6-953c-f39d2e298a45.html>AREA LEGISLATORS NOT AMONG THOSE SEEKING TRANSPARENCY TECH IN NEW BUILDING</a><br>
<a href=http://www.martinsvillebulletin.com/news/new-state-laws-meant-to-address-southside-drug-problem/article_e9014d46-fb43-11e6-bd5b-6f0ee0005800.html>NEW STATE LAWS MEANT TO ADDRESS SOUTHSIDE DRUG PROBLEM</a><br>
<a href=http://www.insidenova.com/headlines/new-virginia-laws-to-fight-heroin-and-opioid-abuse/article_e98489e8-facd-11e6-a510-b3925cfea32f.html>4 NEW VIRGINIA LAWS TO FIGHT HEROIN AND OPIOID ABUSE</a><br>
<a href=http://www.winchesterstar.com/news/clarke/lawmakers-reflect-on-general-assembly-legislation/article_3db40692-669e-5b2b-84ee-bc612e350403.html>LAWMAKERS REFLECT ON GENERAL ASSEMBLY LEGISLATION</a><br>
<a href=http://www.heraldcourier.com/news/virginia-lawmakers-wrap-up-session-focused-on-budget/article_2b000aaa-fbaa-11e6-b46e-336a5054b760.html>VIRGINIA LAWMAKERS WRAP UP SESSION FOCUSED ON BUDGET</a><br>
<a href=http://www.heraldcourier.com/news/bills-easing-driver-s-license-suspensions-pass/article_f4b2f7a0-fba9-11e6-8fda-0fe5f13be75c.html>BILLS EASING DRIVER'S LICENSE SUSPENSIONS PASS</a><br>
<a href=http://www.nvdaily.com/news/2017/03/most-house-bills-die-on-unrecorded-votes/>MOST HOUSE BILLS DIE ON UNRECORDED VOTES</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/va-legislature-gavels-out-after-passing-budget-plan-that-closes-12b-hole/2017/02/25/2b14544c-fab0-11e6-be05-1a3817ac21a5_story.html?utm_term=.af800a139a7e>VIRGINIA LEGISLATURE GAVELS OUT AFTER PASSING BUDGET THAT CLOSES $1.2 BILLION HOLE</a><br>
<a href=http://www.newsadvance.com/news/local/house-of-delegates-fails-to-override-veto-of-planned-parenthood/article_dacbe242-9f37-5471-a780-56dd78a1ce48.html>HOUSE OF DELEGATES FAILS TO OVERRIDE VETO OF PLANNED PARENTHOOD BILL</a><br>
<a href=http://pilotonline.com/news/nation-world/virginia/state-employees-to-get-pay-raises-in-new-budget/article_719a01b6-879f-5deb-a899-30db13ce1f5d.html>STATE EMPLOYEES TO GET PAY RAISES IN NEW BUDGET</a><br>
<a href=http://www.swvatoday.com/news/richlands_clinch_valley/article_18ae6c7a-fac9-11e6-b933-db33a44ffd12.html>REGIONAL MARKETING GROUP IN STATE BUDGET</a><br>
<a href=http://www.insidenova.com/headlines/airbnb-style-rentals-may-face-increased-regulation-in-virginia/article_b6fe8f26-fb6a-11e6-9846-5762e61ecbde.html>AIRBNB-STYLE RENTALS MAY FACE INCREASED REGULATION IN VIRGINIA</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-last-day-session-20170225-story.html>JAIL DEATH INVESTIGATIONS REFORM, DAY-CARE FINGERPRINT COMPROMISE PASS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/reasons-the-va-general-assembly-session-mattered---beyond/article_5d848595-1876-5923-912b-41965ae24213.html>25 REASONS THE VA. GENERAL ASSEMBLY SESSION MATTERED</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/va-legislature-approves-billion-budget-concludes--day-session/article_a66febcf-f971-54a7-bc11-1639ff3e920e.html>VIRGINIA LEGISLATURE APPROVES $107 BILLION BUDGET</a><br>
<a href=http://www.richmond.com/news/virginia/in-last-minute-negotiations-lawmakers-give-board-of-corrections-authority/article_a84998f1-4426-5aa3-831c-0c97f76d56c5.html>LAWMAKERS GIVE BOARD OF CORRECTIONS AUTHORITY TO INVESTIGATE VA. JAIL DEATHS</a><br>
<a href=http://www.progress-index.com/news/20170225/kirk-cox-becomes-first-house-speaker-from-colonial-heights>KIRK COX BECOMES FIRST HOUSE SPEAKER FROM COLONIAL HEIGHTS</a><br>
<a href=http://www.heraldcourier.com/news/virginia-legislative-session-ends-in-hope-for-coalfields/article_070d891b-a57f-5ac4-a742-efeee8f2b950.html>VIRGINIA LEGISLATIVE SESSION ENDS IN HOPE FOR COALFIELDS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-session-rundown-sunday-20170225-story.html>VIRGINIA GENERAL ASSEMBLY SESSION WRAP: A LOOK AT WHAT HAPPENED</a><br>
<a href=http://pilotonline.com/news/government/virginia/how-did-the-virginia-general-assembly-change-your-life-let/article_345be5df-2466-5f91-9437-2b7e713b63bb.html>HOW DID THE 2017 VIRGINIA GENERAL ASSEMBLY CHANGE YOUR LIFE? LET US COUNT THE WAYS</a><br>
<a href=http://www.insidenova.com/headlines/left-lane-dawdlers-bill-moves-forward-with-lower-fine-in/article_bc4c265c-fc2b-11e6-823f-1f7a18ad9f75.html>LEFT-LANE DAWDLERS BILL MOVES FORWARD WITH LOWER FINE IN VIRGINIA GENERAL ASSEMBLY</a><br>
<a href=http://richmondfreepress.com/news/2017/feb/24/righting-grave-wrongs/>RIGHTING GRAVE WRONGS</a><br>
<a href=http://www.yourgv.com/news/state/edmunds-tapped-house-sportsman-s-caucus-chair/article_6e089b80-fc6a-11e6-bcaf-4726972a5be3.html>EDMUNDS TAPPED HOUSE SPORTSMAN'S CAUCUS CHAIR</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/majority-of-va-lawmakers-request-video-of-committee-hearings/article_fe8235b1-099d-5e20-b8ba-18b06e46e3f8.html>MAJORITY OF VA. LAWMAKERS REQUEST VIDEO OF COMMITTEE HEARINGS</a><br>
<a href=https://secure.solesolution.com/pages/login>STATE BUDGET OFFERS MIXED BAG FOR LOCALS</a><br>
<a href=https://secure.solesolution.com/pages/login>OPIOID BILLS AMONG 2017 SUCCESSES</a><br>
<a href=http://www.godanriver.com/news/state/danville-area-lawmakers-praise-budget-deal-in-richmond/article_d9218bf8-fd59-11e6-83dd-6783435b4b47.html>DANVILLE-AREA LAWMAKERS PRAISE BUDGET DEAL IN RICHMOND</a><br>
<a href=http://www.martinsvillebulletin.com/news/cuts-planned-as-museum-feels-state-budget-s-impact/article_d8076ea8-fd4b-11e6-a4fa-a3f9fe4d7424.html>CUTS PLANNED AS MUSEUM FEELS STATE BUDGET'S IMPACT</a><br>
<a href=http://www.tidewaternews.com/2017/02/27/attorney-former-iw-supervisor-named-judge/>ATTORNEY, FORMER IW SUPERVISOR NAMED JUDGE</a><br>
<a href=http://www.vagazette.com/news/vanews-mullin-and-mason-to-host-post-general-assembly-town-hall-20170227-story.html>MULLIN AND MASON TO HOST POST GENERAL ASSEMBLY TOWN HALL</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/state/area-legislators-say-state-budget-addresses-critical-raises-state-police/article_b138f24c-fd55-11e6-a78e-73f88c29ceed.html>AREA LEGISLATORS SAY STATE BUDGET ADDRESSES CRITICAL RAISES, STATE POLICE PAY</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/richmond-judge-rules-anti-gerrymandering-lawsuit-can-move-forward/article_baf1e24a-030d-5fc6-82c6-4bf541c9ab59.html>RICHMOND JUDGE RULES ANTI-GERRYMANDERING LAWSUIT CAN MOVE FORWARD</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/house-pages-debate-whether-to-remove-statue-of-segregationist-harry/article_68a35e70-87d4-5753-b96d-22b662be34d0.html>HOUSE PAGES DEBATE WHETHER TO REMOVE STATUE OF SEGREGATIONIST HARRY BYRD</a><br>
<a href=http://www.winchesterstar.com/news/clarke/legislators-share-status-of-key-bills-from-session/article_ae03c0d6-8f63-58a4-bbe4-087e35dcf11e.html>LEGISLATORS SHARE STATUS OF KEY BILLS FROM SESSION</a><br>
<a href=http://www.loudountimes.com/news/article/dyslexia_bill_promoted_by_loudoun_mothers_passes_into_law432>GENERAL ASSEMBLY APPROVES DYSLEXIA BILL PROMOTED BY LOUDOUN MOTHERS</a><br>
<a href=http://www.richmond.com/news/virginia/u-s-supreme-court-orders-reexamination-of-virginia-general-assembly/article_1e33e1b7-6b65-5f35-a7ce-0fde991a5daf.html>U.S. SUPREME COURT ORDERS REEXAMINATION OF GENERAL ASSEMBLY RACIAL GERRYMANDERING CASE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-u-s-supreme-court-overrules-decision-upholding-house-of-delegates-redistricting-20170301-story.html>U.S. SUPREME COURT OVERRULES DECISION UPHOLDING HOUSE OF DELEGATES REDISTRICTING</a><br>
<a href=https://www.washingtonpost.com/politics/courts_law/supreme-court-says-virginia-redistricting-must-be-reexamined-for-racial-bias/2017/03/01/3bde8b66-fe99-11e6-99b4-9e613afeb09f_story.html?utm_term=.37a137c729fd>SUPREME COURT SAYS VIRGINIA REDISTRICTING MUST BE REEXAMINED FOR RACIAL BIAS</a><br>

<h2>Higher Education</h2>
<a href=http://pilotonline.com/news/local/education/higher-education/we-need-to-be-able-to-get-our-fair-share/article_ac783b78-a323-5a25-913b-4b52a28ff099.html>HAMPTON ROADS HBCU PRESIDENTS REFLECT ON MEETING WITH PRESIDENT TRUMP</a><br>
<a href=http://www.newsadvance.com/news/local/update-lynchburg-college-now-university-of-lynchburg-looks-to-attract/article_c4d0f7f4-fae0-11e6-9e3e-1bbc96dbf5ce.html>LYNCHBURG COLLEGE (NOW UNIVERSITY OF LYNCHBURG) LOOKS TO ATTRACT MORE STUDENTS</a><br>
<a href=http://www.richmond.com/news/virginia-universities-tally-up-cost-of-unfunded-federal-mandates/article_48e13210-95aa-52f8-a264-e4ef0bc2c28f.html>VIRGINIA UNIVERSITIES TALLY UP COST OF UNFUNDED FEDERAL MANDATES</a><br>
<a href=http://www.richmond.com/news/lynchburg-college-will-change-name-to-reflect-its-university-status/article_89259350-8e77-5be3-9cee-a30a46762a63.html>LYNCHBURG COLLEGE WILL CHANGE NAME TO REFLECT ITS UNIVERSITY STATUS</a><br>
<a href=http://www.dailypress.com/news/education/dp-nws-harvey-trump-hbcus-20170301-story.html>HU'S HARVEY MAKES WHITE HOUSE VISIT, PITCHES PRIORITIES FOR HBCUS</a><br>

<h2>Local</h2>
<a href=http://www.roanoke.com/news/local/montgomery_county/montgomery-county-board-passes-pro-immigrant-resolution/article_082c169a-a992-538d-a706-4fbce43f8d20.html>MONTGOMERY COUNTY BOARD PASSES PRO-IMMIGRANT RESOLUTION</a><br>
<a href=https://secure.solesolution.com/pages/login>DICKENSON COUNTY SCHOOL ENROLLMENT DROP CONTINUES</a><br>
<a href=https://www.washingtonpost.com/local/in-arlington-the-chance-to-own-a-pet-lion-or-crocodile-may-soon-disappear/2017/02/24/12836c8c-faa7-11e6-bf01-d47f8cf9b643_story.html?utm_term=.cbe6b3b3a9ab>IN ARLINGTON, THE OPPORTUNITY TO OWN A PET LION OR CROCODILE MAY SOON BE CAGED</a><br>
<a href=http://pilotonline.com/news/local/education/public-schools/teaching-positions-may-be-eliminated-from-norfolk-schools-budget-because/article_9591cf2e-db03-53fc-8ba3-adec4e199479.html>34 TEACHING POSITIONS MAY BE ELIMINATED FROM NORFOLK SCHOOLS' BUDGET BECAUSE OF SHRINKING ENROLLMENT</a><br>
<a href=http://www.roanoke.com/news/local/roanoke/roanoke-mayor-urges-federal-leaders-to-include-broadband-in-infrastructure/article_66c66db6-2a37-562f-aa69-ba144edef94f.html>ROANOKE MAYOR URGES FEDERAL LEADERS TO INCLUDE BROADBAND IN INFRASTRUCTURE PLAN</a><br>
<a href=http://www.roanoke.com/news/local/christiansburg/christiansburg-trip-canceled-amidst-constitutional-concerns/article_b8089c74-ddf2-5aa5-8efb-5bae06601048.html>CHRISTIANSBURG TRIP CANCELED AMIDST CONSTITUTIONAL CONCERNS</a><br>
<a href=http://www.richmond.com/news/local/henrico/as-more-people-die-of-overdoses-henrico-arms-itself-with/article_fb9c3dc4-eb68-5be7-b582-aa34f3be7d57.html>HENRICO ARMS ITSELF WITH INJECTION THAT HELPS CURB OPIOID ADDICTION</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/jail-making--part-film-series-to-help-inmates-prepare/article_b7a28877-0173-5caf-b657-fd81add3da16.html>JAIL MAKING 17-PART FILM SERIES TO HELP INMATES PREPARE FOR RELEASE</a><br>
<a href=http://pilotonline.com/news/government/politics/local/democrats-rules-mean-you-probably-won-t-get-to-pick/article_4cd68603-5bda-5731-b531-777090edbfbd.html>DEMOCRATS' RULES MEAN YOU PROBABLY WON'T GET TO PICK NORFOLK'S NEXT TREASURER OR SHERIFF</a><br>
<a href=http://www.richmond.com/news/local/henrico/henrico-gop-to-hold-primary-for-open-brookland-seat-field/article_63eec21c-2a36-536a-9ad5-74f594dc8009.html>HENRICO GOP TO HOLD PRIMARY FOR OPEN BROOKLAND SEAT, FIELD OF CANDIDATES BEGINS TO FORM</a><br>
<a href=http://pilotonline.com/news/government/local/former-virginia-beach-caseworker-won-t-face-charges-after-auditor/article_81ce97d5-6b4d-5087-a581-2e2c91160b8a.html>EX-VIRGINIA BEACH CASEWORKER WON'T FACE CHARGES AFTER AUDITOR FOUND SHE TOOK $50K FROM DISABLED CLIENTS</a><br>
<a href=https://www.washingtonpost.com/local/display-of-court-records-highlights-a-century-of-segregation-in-loudoun-county/2017/02/24/ef0ba0b0-f9d1-11e6-be05-1a3817ac21a5_story.html?utm_term=.240e6c490fa1>DISPLAY OF COURT RECORDS HIGHLIGHTS A CENTURY OF SEGREGATION IN LOUDOUN COUNTY</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/fairfax-names-9-to-police-civilian-review-panel-established-to-look-at-abuse-cases/2017/02/28/6a536718-fe04-11e6-99b4-9e613afeb09f_story.html>FAIRFAX NAMES 9 TO POLICE CIVILIAN REVIEW PANEL ESTABLISHED TO LOOK AT ABUSE CASES</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/richmond-mayor-s-pac-surveys-residents-on-possible-tax-increase/article_6e825916-d425-5f45-b76b-9da1cea017ac.html>STONEY'S PAC SURVEYS RESIDENTS ON POSSIBLE TAX INCREASE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/fairfax-county-advertises-no-change-in-property-tax-rate-for-next-year/2017/02/28/72d3066c-fdd9-11e6-8ebe-6e0dbe4f2bca_story.html?utm_term=.8708c172ca85>FAIRFAX COUNTY ADVERTISES NO CHANGE IN PROPERTY TAX RATE FOR NEXT YEAR</a><br>
<a href=http://pilotonline.com/news/government/local/portsmouth-council-fires-commissioners-on-city-s-housing-authority-board/article_fc1799dd-4b31-52d4-83dd-32db5592ba1e.html>PORTSMOUTH COUNCIL FIRES 3 COMMISSIONERS ON CITY'S HOUSING AUTHORITY BOARD</a><br>
<a href=http://www.roanoke.com/news/education/roanoke-school-board-to-create-spending-policy-after-reserve-fund/article_68cf2828-29b8-5a6d-b361-d4ee7fb2c3bb.html>ROANOKE SCHOOL BOARD TO CREATE SPENDING POLICY AFTER RESERVE FUND DWINDLES</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/at-least-four-democrats-to-seek-nomination-for-arlington-county-board-seat/2017/03/01/a1fd4238-feae-11e6-8ebe-6e0dbe4f2bca_story.html>AT LEAST 4 DEMOCRATS TO SEEK TO REPLACE JAY FISETTE ON ARLINGTON COUNTY BOARD</a><br>
<a href=http://pilotonline.com/news/local/crime/for-first-time-norfolk-bans-hiring-discrimination-based-on-sexual/article_c813ca31-b541-5e39-81f6-28ceb8d297fd.html>FOR FIRST TIME, NORFOLK BANS HIRING DISCRIMINATION BASED ON SEXUAL ORIENTATION, GENDER IDENTITY</a><br>
<a href=http://www.heraldcourier.com/news/council-members-take-umbrage-at-social-media-criticism/article_3e48231d-54b3-5374-8404-8e17f6793895.html>COUNCIL MEMBERS TAKE UMBRAGE AT SOCIAL MEDIA CRITICISM</a><br>

<h2>Online News</h2>
<a href=http://www.cvilletomorrow.org/news/article/26508-albemarle-to-pursue-broadband-authority/>ALBEMARLE TO PURSUE CREATION OF BROADBAND AUTHORITY</a><br>
<a href=http://www.washingtontimes.com/news/2017/mar/2/transgender-bathroom-case-to-be-heard-by-virginias/>VIRGINIA SUPREME COURT HEARS TRANSGENDER BATHROOM CASE</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-racing-for-the-right-to-be-the-d-who-challenges-r-house-of-delegates-stalwarts-20170224-post.html>RACING FOR THE RIGHT TO BE THE D WHO CHALLENGES R HOUSE STALWARTS</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-democrat-wade-seeks-to-challenge-del-helsel-20170224-story.html>DEMOCRAT WADE SEEKS TO CHALLENGE DEL. HELSEL</a><br>
<a href=http://potomaclocal.com/2017/02/24/mcquigg-remembered-as-tireless-prince-william-county-servant/>MCQUIGG REMEMBERED AS TIRELESS PRINCE WILLIAM COUNTY SERVANT</a><br>
<a href=http://www.fauquiernow.com/index.php/fauquier_news/article/fauquier-says-farewell-to-judge-h-dudley-payne-jr-2017>FAUQUIER SAYS FAREWELL TO JUDGE DUDLEY PAYNE JR.</a><br>
<a href=http://www.washingtontimes.com/news/2017/feb/27/terry-mcauliffe-john-kelly-dhs-secretary-assured-m/>DHS CHIEF ASSURES VIRGINIA GOVERNOR THAT ONLY ILLEGALS IN 'CRIMINAL ENTERPRISES' WILL BE DEPORTED</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-democratic-challenger-emerges-in-94th-house-of-delegates-district-20170227-story.html>DEMOCRATIC CHALLENGER EMERGES IN 94TH HOUSE OF DELEGATES DISTRICT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/gingrich-calls-on-gop-to-thwart-newly-engaged-dems-by-backing-gillespie-in-va/2017/02/28/82f20db0-fdcd-11e6-8ebe-6e0dbe4f2bca_story.html?utm_term=.87d5dcffc8ec>GINGRICH URGES GOP TO THWART NEWLY ENGAGED DEMOCRATS BY BACKING GILLESPIE IN VA.</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-an-unexpected-poli-sci-lesson-at-hu-from-va-lt-gov-hopeful-fairfax-20170228-post.html>AN UNEXPECTED POLI-SCI LESSON AT HU FROM VA. LT. GOV HOPEFUL FAIRFAX</a><br>
<a href=http://wydaily.com/2017/02/28/del-mullin-kicks-off-re-election-campaign-for-the-93rd/>DEL. MULLIN KICKS OFF RE-ELECTION CAMPAIGN FOR THE 93RD</a><br>
<a href=http://www.cavalierdaily.com/article/2017/03/general-assembly-passes-anti-sanctuary-cities-bill>GENERAL ASSEMBLY PASSES ANTI-SANCTUARY CITIES BILL</a><br>
<a href=http://www.cavalierdaily.com/article/2017/03/kellen-squire-announces-candidacy-for-house-of-delegates>KELLEN SQUIRE ANNOUNCES CANDIDACY FOR HOUSE OF DELEGATES</a><br>
<a href=https://bearingdrift.com/2017/02/26/attorney-general-candidates-john-adams-chuck-smith-answer-questions/>ATTORNEY GENERAL CANDIDATES JOHN ADAMS AND CHUCK SMITH ANSWER QUESTIONS</a><br>
<a href=http://richmondbizsense.com/2017/03/01/legislative-session-leaves-distillers-in-good-spirits/?utm_source=BizSense+Backup&utm_campaign=6e5b383ed3-EMAIL_CAMPAIGN_2017_02_28&utm_medium=email&utm_term=0_916386f49f-6e5b383ed3-148082089>LEGISLATIVE SESSION LEAVES DISTILLERS IN GOOD SPIRITS</a><br>
<a href=http://www.scotusblog.com/2017/03/opinion-analysis-court-sends-majority-minority-districts-back-another-look-virginia-gerrymandering-case/>COURT SENDS MAJORITY-MINORITY DISTRICTS BACK FOR ANOTHER LOOK IN VA. GERRYMANDERING CASE</a><br>
<a href=http://www.washingtontimes.com/news/2017/mar/1/noncitizens-lurking-on-virginia-voter-rolls/>THOUSANDS OF NONCITIZENS LURKING ON VIRGINIA'S VOTER ROLLS</a><br>
<a href=http://www.politico.com/story/2017/03/gavin-grimm-transgender-rights-supreme-court-235581>PARTIES IN TRANSGENDER STUDENT RIGHTS BATTLE ASK SCOTUS TO MOVE FORWARD</a><br>

<h2>Op-Ed</h2>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/evan-draim-column-to-those-trying-to-erase-history-remember/article_81a07b2b-0f91-5a70-b268-bc185b61ccf1.html>DRAIM: TO THOSE TRYING TO ERASE HISTORY, REMEMBER: YOU'RE NEXT</a><br>
<a href=http://www.roanoke.com/opinion/commentary/pattisall-medical-marijuana-could-be-a-cash-crop-for-coalfields/article_cea0c794-2ddb-5bd1-abe3-24fccd67f736.html>PATTISALL: MEDICAL MARIJUANA COULD BE A CASH CROP FOR COALFIELDS</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/michael-allen-congressman-should-lead-on-climate-change/article_64473302-e4fc-5607-bd41-cfe15820e653.html>ALLEN: CONGRESSMAN SHOULD LEAD ON CLIMATE CHANGE</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/stephanie-meeks-save-america-s-founding-river/article_0f2f0293-fa69-5ef6-8c89-778fafb40549.html>MEEKS: SAVE AMERICA'S FOUNDING RIVER</a><br>
<a href=https://www.washingtonpost.com/opinions/charlottesville-was-right-to-want-to-remove-a-robert-e-lee-statue/2017/02/24/59568d26-efc4-11e6-9973-c5efb7ccfb0d_story.html?utm_term=.716f79ed2ed7>HENNESSEY: CHARLOTTESVILLE WAS RIGHT TO WANT TO REMOVE A ROBERT E. LEE STATUE</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/eric-cantor-column-mcauliffe-can-improve-education-for-underserved-kids/article_639ac35b-1b3f-54fe-ba72-52c291522c77.html>CANTOR: MCAULIFFE CAN IMPROVE EDUCATION FOR UNDERSERVED KIDS</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/james-a-bacon-inova-s-plan-to-help-people-enjoy/article_ff43fae1-9613-5fd1-9e93-98cc87abad88.html>BACON: INOVA'S PLAN TO HELP PEOPLE ENJOY BETTER HEALTH AT LOWER COST</a><br>

<h2>State Elections</h2>
<a href=http://www.roanoke.com/news/politics/general_assembly/democrats-pick-primaries-for-th-th-house-district-races/article_b05fd0dc-a5b4-57cc-988b-216607099e4f.html>DEMOCRATS PICK PRIMARIES FOR 8TH, 17TH HOUSE DISTRICT RACES</a><br>
<a href=http://www.tidewaternews.com/2017/03/01/delegate-wont-seek-reelection/>DELEGATE WON'T SEEK REELECTION</a><br>
<a href=http://www.suffolknewsherald.com/2017/03/01/morris-wont-seek-re-election/>MORRIS WON'T SEEK RE-ELECTION</a><br>
<a href=http://www.fauquier.com/news/update-delegate-candidate-convicted-in-of-threatening-to-kill-the/article_7d70ebfc-fcf8-11e6-85c3-3f56ae07e258.html>DELEGATE CANDIDATE CONVICTED IN 2009 OF THREATENING TO KILL THE PRESIDENT</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/in-virginia-governor-s-race-frank-wagner-s-website-is/article_8d670c41-85b7-52cf-8bc2-02386a5a6a9d.html>IN VIRGINIA GOVERNOR'S RACE, FRANK WAGNER'S WEBSITE IS AT ODDS WITH FACTS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/lg-candidate-reeves-wants-lawyers-to-question-vogel-neighbors-supporters/article_0356e21c-a505-5c4f-9518-273a9ce822a1.html>LG CANDIDATE REEVES WANTS LAWYERS TO QUESTION VOGEL NEIGHBORS, SUPPORTERS ABOUT EMAIL ALLEGING AFFAIR</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/gov-hopeful-stumps-in-city/article_6ba7d01c-fb12-11e6-971f-7bdeefc6250f.html>GOV. HOPEFUL STUMPS IN CITY</a><br>
<a href=http://www.fredericksburg.com/news/local/fredericksburg/pastor-seeks-democratic-nomination-for-th-district-house-of-delegates/article_83b07702-74b5-58b9-bbee-1d86f613ea9b.html>PASTOR SEEKS DEMOCRATIC NOMINATION FOR 28TH DISTRICT HOUSE OF DELEGATES SEAT</a><br>
<a href=http://www.newsadvance.com/work_it_lynchburg/news/perriello-calls-for-workforce-training-redistricting-reform-at-roundtable/article_bfb0eea4-fafa-11e6-8d52-97bc59344257.html>PERRIELLO CALLS FOR WORKFORCE TRAINING, REDISTRICTING REFORM AT ROUNDTABLE</a><br>
<a href=http://www.loudountimes.com/news/article/second_female_democrat_plans_to_challenge_del._larock_in_33rd_house736>SECOND DEMOCRAT WANTS TO CHALLENGE DEL. LAROCK IN 33RD HOUSE DISTRICT</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/politics/billing-himself-as-jobs-candidate-wagner-brings-gop-campaign-to/article_a1ed0090-fbc4-11e6-b9b9-33a0255a8ae2.html>BILLING HIMSELF AS JOBS CANDIDATE, WAGNER BRINGS GOP CAMPAIGN TO VALLEY</a><br>
<a href=https://www.nytimes.com/2017/02/26/us/virginia-governor-trump-northam-perriello.html?_r=1>PRIMARY FOR VIRGINIA GOVERNOR TESTS POWER OF AN ANTI-TRUMP CAMPAIGN</a><br>
<a href=http://www.winchesterstar.com/news/frederick_county/frederick-republicans-gather-for-annual-reagan-lincoln-dinner/article_be1ee372-7209-535c-a1cd-05ea12ad6ba9.html>FREDERICK REPUBLICANS GATHER FOR ANNUAL REAGAN-LINCOLN DINNER</a><br>
<a href=http://www.fauquier.com/news/libertarians-disavow-st-district-delegate-candidate-s-anti-feminist-views/article_7d70ebfc-fcf8-11e6-85c3-3f56ae07e258.html>LIBERTARIANS DISAVOW 31ST DISTRICT DELEGATE CANDIDATE'S 'ANTI-FEMINIST' VIEWS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/legislative-session-over-northam-back-on-va-campaign-trail-in-governors-race/2017/02/27/b2f57890-fd0e-11e6-99b4-9e613afeb09f_story.html?utm_term=.fa3d4d50b833>LEGISLATIVE SESSION OVER, NORTHAM BACK ON VA. CAMPAIGN TRAIL IN GOVERNOR'S RACE</a><br>
<a href=http://www.heraldcourier.com/news/trump-supporters-opponents-congregate-for-abingdon-rally/article_8217177e-790f-5483-8713-d78a3dee2592.html>TRUMP SUPPORTERS, OPPONENTS CONGREGATE FOR ABINGDON RALLY</a><br>
<a href=http://www.dnronline.com/news/elections/del-landes-running-for-re-election/article_8e9ebfdc-fd6e-11e6-9260-2f5123ac5ccc.html>DEL. LANDES RUNNING FOR RE-ELECTION</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/suit-seeks-to-nix-incumbent-protection-act/article_0e37d750-fd70-11e6-a9eb-27d62a81a87d.html>SUIT SEEKS TO NIX 'INCUMBENT PROTECTION ACT'</a><br>
<a href=http://www.loudountimes.com/news/article/fighting_talk_from_northam_as_he_starts_virginia_values_tour_in_leesburg>NORTHAM IN LOUDOUN COUNTY: 'IT'S GOOD TO BE BACK ON THE CAMPAIGN TRAIL'</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/02/27/landes-run-re-election/98500682/>LANDES TO RUN FOR RE-ELECTION</a><br>
<a href=http://www.progress-index.com/news/20170228/lt-governor-ralph-northam-gets-tour-of-pocahontas-island-old-towne?rssfeed=true>LT. GOVERNOR RALPH NORTHAM GETS TOUR OF POCAHONTAS ISLAND, OLDE TOWN</a><br>
<a href=http://www.dailyprogress.com/news/politics/landes-seeks-new-term-could-face-old-foe-in-th/article_fde7296a-fe04-11e6-b073-c39f59c80b75.html>LANDES SEEKS NEW TERM, COULD FACE OLD FOE IN 25TH DISTRICT</a><br>
<a href=http://www.insidenova.com/headlines/ralph-northam-outlines-vision-for-community-colleges-apprenticeships-during-gubernatorial/article_b773ed34-fd5e-11e6-9ac4-4775fc8d73e2.html>NORTHAM OUTLINES VISION FOR COMMUNITY COLLEGES, APPRENTICESHIPS DURING CAMPAIGN STOP</a><br>
<a href=http://www.fredericksburg.com/news/local/fredericksburg/ralph-northam-democratic-candidate-for-governor-holds-meet-and-greet/article_10024ebd-5738-5059-8aa3-db1e83663db1.html>RALPH NORTHAM, DEMOCRATIC CANDIDATE FOR GOVERNOR, HOLDS MEET-AND-GREET AT J. BRIAN'S TAPROOM</a><br>
<a href=http://www.fredericksburg.com/news/local/lieutenant-governor-candidate-bryce-reeves-of-spotsy-submits-signatures-to/article_729242db-bc41-5e4e-b696-f0e226f815f6.html>LT. GOVERNOR CANDIDATE BRYCE REEVES SUBMITS SIGNATURES TO QUALIFY FOR GOP PRIMARY BALLOT</a><br>
<a href=http://www.fauquier.com/news/davis-pushes-business-agenda-in-lieutenant-governor-bid/article_30018db6-fe03-11e6-bebc-4b0c2f696dc7.html>DAVIS PUSHES BUSINESS AGENDA IN LIEUTENANT GOVERNOR BID</a><br>
<a href=http://pilotonline.com/news/government/virginia/del-rick-morris-won-t-seek-re-election-wants-to/article_0631319b-de07-565e-a007-ad86b422b99f.html>DEL. RICK MORRIS, WHO FACES FELONY ABUSE CHARGES, WON'T SEEK RE-ELECTION TO DEDICATE MORE TIME TO FAMILY</a><br>
<a href=http://www.richmond.com/news/virginia/del-rick-morris-facing-domestic-abuse-charges-says-he-won/article_519629a4-11de-5eeb-b179-5309e60625eb.html>DEL. RICK MORRIS, FACING DOMESTIC ABUSE CHARGES, SAYS HE WON'T SEEK RE-ELECTION</a><br>
<a href=http://www.dailypress.com/news/isle-of-wight-county/dp-del-morris-won-t-seek-re-election-20170301-story.html>ISLE OF WIGHT DEL. MORRIS WON'T SEEK RE-ELECTION</a><br>

<h2>State Government</h2>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/disability-groups-unite-to-push-for-closure-of-two-training/article_bfeb3584-bea4-5e55-a7dd-1558b48f7985.html>DISABILITY GROUPS UNITE TO PUSH FOR CLOSURE OF TWO TRAINING CENTERS IN VIRGINIA</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/security-study-reshapes-state-plan-for-temporary-control-of-bank/article_277cbb97-2ac5-5423-83b2-34dddc93eb64.html>SECURITY STUDY RESHAPES STATE PLAN FOR TEMPORARY CONTROL OF BANK STREET</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/parents-private-schools-wary-of-shifting-special-education-funds-in/article_92f9b528-c460-5cb5-8a7d-49a2ea226d9a.html>PARENTS, PRIVATE SCHOOLS WARY OF SHIFTING SPECIAL EDUCATION FUNDS IN VIRGINIA</a><br>
<a href=http://www.dailyprogress.com/news/business/plans-for-virginia-s-first-commercial-wind-farm-ok-d/article_33850d80-ffa9-11e6-b572-33b43477049c.html>STATE DEQ OKS PLANS FOR VIRGINIA'S FIRST COMMERCIAL WIND FARM</a><br>
<a href=http://www.newsadvance.com/news/local/judge-nixes-attempt-by-vedp-to-change-lawyers-in-lindenburg/article_551518b3-383c-59fb-9299-1a789eafcc77.html>JUDGE NIXES ATTEMPT BY VEDP TO CHANGE LAWYERS IN LINDENBURG CASE</a><br>
<a href=http://www.richmond.com/news/virginia-agency-says-it-will-not-exempt-information-on-fracking/article_22aebd7e-67f2-583f-bf95-a51c6de5d770.html>VIRGINIA AGENCY SAYS IT WILL NOT EXEMPT INFORMATION ON FRACKING FLUID FROM DISCLOSURE</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/he-once-sought-asylum-in-the-united-states-now-he-has-been-named-a-judge/2017/02/27/275b0b90-fad1-11e6-9845-576c69081518_story.html?utm_term=.9fdb2b949c07>HE ONCE SOUGHT ASYLUM IN THE UNITED STATES. NOW, HE'S BEEN NAMED A JUDGE.</a><br>
<a href=http://pilotonline.com/news/government/virginia/facing-millions-in-federal-penalties-virginia-expands-background-checks-on/article_ba856de6-f330-512b-b8e6-df493adeec7b.html>FACING MILLIONS IN FEDERAL PENALTIES, VIRGINIA EXPANDS BACKGROUND CHECKS ON CHILD CARE PROVIDERS</a><br>
<a href=http://pilotonline.com/news/nation-world/virginia/georgia-virginia-ports-seek-approval-of-partner-agreement/article_e7b3f46d-fd7f-50c4-940e-5ed0bb08d219.html>GEORGIA, VIRGINIA PORTS SEEK APPROVAL OF PARTNER AGREEMENT</a><br>
<a href=http://www.fredericksburg.com/business/local_business/go-virginia-regional-council-named/article_ea9ddcaa-e200-53b0-8bd4-ade4d1da7647.html>GO VIRGINIA REGIONAL COUNCIL NAMED</a><br>

<h2>The Friday Read</h2>
<a href=http://pilotonline.com/news/local/environment/some-virginia-s-barrier-islands-are-shrinking-by-the-day/article_db707859-b6a4-5cf3-8d8e-9c8d45c70ebf.html>SOME VIRGINIA'S BARRIER ISLANDS ARE SHRINKING BY THE DAY: "YOU CAN JUST FEEL IT"</a><br>

<h2>Transportation</h2>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/metro-needs-800-million-in-loans-and-grant-by-september-or-faces-a-real-problem/2017/02/23/f6b236ec-f9ec-11e6-9845-576c69081518_story.html?hpid=hp_local-news_metro-730pm%3Ahomepage%2Fstory&utm_term=>METRO NEEDS $800 MILLION IN LOANS AND GRANT BY SEPTEMBER OR FACES 'A REAL PROBLEM'</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-bourey-resigns-from-airport-commission-20170302-story.html>AIRPORT EXECUTIVE DIRECTOR PLACED ON ADMINISTRATIVE LEAVE</a><br>
<a href=http://pilotonline.com/news/local/transportation/how-safe-is-the-chesapeake-bay-bridge-tunnel-questions-arise/article_210d1733-4c05-5c45-94fa-7e8c1c7215a6.html>HOW SAFE IS THE CHESAPEAKE BAY BRIDGE-TUNNEL? QUESTIONS ARISE AFTER DRIVER'S DEATH.</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-airport-special-meeting-20170227-story.html>STATE BROADENING AIRPORT LOAN INVESTIGATION</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/02/27/valley-airports-commercial-airline-put-notice/98487930/>VALLEY AIRPORT'S COMMERCIAL AIRLINE PUT ON NOTICE</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/influential-business-group-says-metro-needs-an-emergency-control-board-now/2017/02/28/0df41566-fdec-11e6-8ebe-6e0dbe4f2bca_story.html?utm_term=.56565dba631e>INFLUENTIAL BUSINESS GROUP SAYS METRO NEEDS AN EMERGENCY CONTROL BOARD NOW</a><br>
<a href=http://www.insidenova.com/headlines/governor-approves-i--express-lanes-deal-with-transurban/article_adaf5ef6-fe0c-11e6-a2d4-d3285797f32a.html>GOVERNOR APPROVES I-395 EXPRESS LANES DEAL WITH TRANSURBAN</a><br>

<h2>TV/Radio</h2>
<a href=http://wvtf.org/post/number-virginia-responses-trumps-first-congressional-address#stream/0>A NUMBER OF VIRGINIA RESPONSES TO TRUMP'S FIRST CONGRESSIONAL ADDRESS</a><br>
<a href=http://www.wusa9.com/news/local/virginia-group-unexpectedly-shares-name-with-new-trump-agency/417083444>VIRGINIA GROUP UNEXPECTEDLY SHARES NAME WITH NEW TRUMP AGENCY</a><br>
<a href=http://www.foxnews.com/us/2017/03/01/coal-mining-begins-seeing-revival-as-trump-gives-industry-hope.html>COAL MINING BEGINS SEEING REVIVAL AS TRUMP GIVES INDUSTRY HOPE</a><br>
<a href=http://www.nbcwashington.com/news/local/Virginia-Sexual-Consent-Education-Bill-415272303.html>SEXUAL CONSENT EDUCATION MAY BE ADDED TO VIRGINIA HIGH SCHOOL LESSONS</a><br>
<a href=http://wvtf.org/post/among-disagreements-tackling-opioid-abuse-source-comprise-virginias-lawmakers#stream/0>TACKLING OPIOID ABUSE IS A SOURCE OF COMPRISE FOR VIRGINIA'S LAWMAKERS</a><br>
<a href=http://wvtf.org/post/confusion-suspicion-keep-watermen-supporting-potomac-river-marine-sanctuary#stream/0>CONFUSION, SUSPICION KEEP WATERMEN FROM SUPPORTING A POTOMAC RIVER MARINE SANCTUARY</a><br>
<a href=http://wavy.com/2017/02/26/virginia-democratic-gubernatorial-candidate-stops-in-hampton/>VIRGINIA DEMOCRATIC GUBERNATORIAL CANDIDATE STOPS IN HAMPTON</a><br>
<a href=http://wvtf.org/post/virginia-senators-look-make-statement-state-union-guests#stream/0>VIRGINIA SENATORS LOOK TO MAKE STATEMENT WITH STATE OF THE UNION GUESTS</a><br>

<h2>Virginia Other</h2>
<a href=http://www.gazettejournal.net/index.php/news/news_article/unclear_how_new_guidance_from_president_trump_will_affect_grimm_case>UNCLEAR HOW NEW GUIDANCE FROM PRESIDENT TRUMP WILL AFFECT GRIMM CASE</a><br>
<a href=http://www.therecorderonline.com/news/2017-03-02/Top_News/Wall_Street_intent_on_planned_pipeline.html>WALL STREET INTENT ON PLANNED PIPELINE</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-bay-budget-slashed-20170302-story.html>TRUMP WOULD CUT CHESAPEAKE BAY CLEANUP FROM $73M A YEAR TO $5M</a><br>
<a href=http://www.fredericksburg.com/news/environment/as-area-localities-consider-fracking-regulations-another-county-bans-the/article_88b5a398-3917-508c-b68f-e83ac10c40f8.html>AS AREA LOCALITIES CONSIDER FRACKING REGULATIONS, ANOTHER COUNTY BANS THE PROCESS</a><br>
<a href=http://pilotonline.com/news/local/environment/chesapeake-bay-cleanup-progress-endangered-by-white-house-proposal-advocates/article_0f894eec-6891-5f93-bcb8-532f3aab52c7.html>CHESAPEAKE BAY CLEANUP PROGRESS ENDANGERED BY WHITE HOUSE PROPOSAL, ADVOCATES SAY</a><br>
<a href=https://www.washingtonpost.com/news/energy-environment/wp/2017/03/01/white-house-proposes-cutting-epa-staff-by-one-fifth-eliminating-key-programs/?utm_term=.43eb72d12533>WHITE HOUSE EYES PLAN TO CUT EPA STAFF BY ONE-FIFTH, ELIMINATING KEY PROGRAMS</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/02/24/crowds-swell-pipeline-discussion-staunton/98355370/>CROWDS SWELL FOR PIPELINE DISCUSSION IN STAUNTON</a><br>
<a href=http://www.roanoke.com/business/news/chairman-s-parting-recommendations-to-ferc-embraced-by-pipeline-opponents/article_4ddea4ca-75f9-572c-91da-0a8fda65bbf5.html>CHAIRMAN'S PARTING RECOMMENDATIONS TO FERC EMBRACED BY PIPELINE OPPONENTS</a><br>
<a href=http://www.fredericksburg.com/news/environment/virginia-maryland-watermen-wary-of-potomac-river-mallows-bay-marine/article_3be987cb-ca86-5099-a608-7aac26dc3044.html>VIRGINIA, MARYLAND WATERMEN WARY OF POTOMAC RIVER-MALLOWS BAY MARINE SANCTUARY</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/state/staunton-city-council-reinforces-pipeline-opposition/article_e9f7b7da-fe0e-11e6-b11a-a71cdeef73b1.html>STAUNTON CITY COUNCIL REINFORCES PIPELINE OPPOSITION</a><br>
<a href=http://www.dailypress.com/news/gloucester-county/dp-nws-mid-grimm-letters-scotus-20170301-story.html>GLOUCESTER SCHOOL BOARD ASKS U.S. SUPREME COURT FOR DELAY IN TRANSGENDER CASE</a><br>
<a href=http://www.newsplex.com/content/news/School-board-asks-for-delay-in-transgender-bathroom-case-415130173.html>SCHOOL BOARD ASKS FOR DELAY IN TRANSGENDER BATHROOM CASE</a><br>
<a href=http://www.richmond.com/news/national-world/ap/school-board-supreme-court-should-delay-gloucester-teenager-s-transgender/article_0301230c-6898-5040-b7b7-9fe12d70bf79.html>GLOUCESTER SCHOOL BOARD: SUPREME COURT SHOULD DELAY TRANSGENDER TEENAGER'S CASE</a><br>
<a href=https://www.washingtonpost.com/local/dc-politics/dc-statehood-stalled-in-congress-as-lawmakers-try-to-chip-away-at-city-autonomy/2017/03/01/b51ae9f4-feba-11e6-8f41-ea6ed597e4ca_story.html?utm_term=.93b33a8a2b35>TO DREAM THE IMPOSSIBLE DREAM: D.C. OFFICIALS FILE BILL, PETITION FOR STATEHOOD</a><br>
