
<h2>Columnists</h2>
<a href=http://www.richmond.com/news/local/michael-paul-williams/article_a337077c-d936-5731-b0cd-b75a8dc3324f.html>WILLIAMS: POLICE OFFICERS SHOULD NOT BE SHIELDED FROM IDENTIFICATION</a><br>
<a href=http://pilotonline.com/news/local/columnist/kerry-dougherty/kerry-dougherty-virginia-beach-s-light-rail-bill-is-long/article_3a9849e4-5de5-5853-8adb-2def10ceabed.html>DOUGHERTY: VIRGINIA BEACH'S LIGHT-RAIL BILL IS LONG OVERDUE, AND IT'S TIME TO PAY UP</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_bf221721-6a17-573d-8131-a5bf189ca2f9.html>SCHAPIRO: INSTEAD OF A HANDOUT FROM VA., LOCALITIES GET THE BACK OF THE HAND</a><br>
<a href=http://m.richmond.com/opinion/our-opinion/bart-hinkle/article_f7d46404-41dc-5770-8a4f-738d8c2bf9ad.html?mode=jqm>HINKLE: ONE SMALL STEP TO IMPROVE HEALTH CARE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_f57a7f70-ce03-5fb4-90c2-e5b0bb78aae4.html>SCHAPIRO: LINE SEPARATING VA., NATIONAL POLITICS KEEPS BLURRING</a><br>

<h2>Congress</h2>
<a href=http://www.newsadvance.com/nelson_county_times/news/garrett-addresses-nchs-seniors/article_a42674b9-1915-582f-9cd8-7fd375e13252.html>GARRETT ADDRESSES NCHS SENIORS</a><br>
<a href=http://www.thenews-gazette.com/content/goodlatte-praises-pick-supreme-court>GOODLATTE PRAISES PICK FOR SUPREME COURT</a><br>
<a href=http://www.dailypress.com/dp-nws-hampton-va-leases-20170125-story.html>SENATORS TRY AGAIN ON HAMPTON ROADS VET CARE CENTER</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/national-democrats-laying-plans-to-challenge-rep-scott-taylor-s/article_465473ed-77b0-54cd-a84e-3420c09e4755.html>SCOTT TAYLOR JUST GOT TO CONGRESS, BUT DEMOCRATS ARE ALREADY WORKING AGAINST HIS RE-ELECTION</a><br>
<a href=http://www.richmond.com/news/article_8c4be3a5-b2f3-5856-b5e0-3e48741bd0ed.html>VIRGINIA COAL COUNTRY GETS ITS WISH WITH DEATH OF STREAM PROTECTION RULE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/sen-tim-kaine-customs-and-border-patrol-says-green-card-holders-are-subject-to-executive-order/2017/01/30/b9036cfa-e716-11e6-bd32-c239fa363f48_story.html?utm_term=.56cd67ba9ee0>SEN. TIM KAINE: CUSTOMS AND BORDER PROTECTION SAYS GREEN CARD HOLDERS ARE SUBJECT TO EXECUTIVE ORDER</a><br>
<a href=http://www.richmond.com/news/virginia/article_b5124648-cdcc-560c-878e-19a19a354f46.html>REP. DAVE BRAT: 'THE WOMEN ARE IN MY GRILL NO MATTER WHERE I GO'</a><br>
<a href=http://www.newsadvance.com/news/local/garrett-goodlatte-support-trump-s-immigration-order/article_6ad99738-e75d-11e6-b3aa-f7818ae1230c.html>GARRETT, GOODLATTE SUPPORT TRUMP'S IMMIGRATION ORDER</a><br>
<a href=http://www.loudountimes.com/news/article/in_loudoun_kaine_calls_trumps_order_a_religious_test_comstock_constituents>KAINE CALLS TRUMP'S ORDER 'A RELIGIOUS TEST,' COMSTOCK'S CONSTITUENTS CALL ON HER TO ACT</a><br>
<a href=http://www.roanoke.com/business/news/kaine-talks-with-students-about-health-care-s-uncertain-future/article_bb51216e-ca4c-561f-9ea8-af6570fc6004.html>KAINE TALKS WITH STUDENTS ABOUT HEALTH CARE'S UNCERTAIN FUTURE</a><br>
<a href=http://pilotonline.com/news/government/nation/hampton-roads-congressional-delegation-split-on-trump-refugee-ban/article_f14846b3-4bed-50fa-9626-1209aee91a44.html>HAMPTON ROADS CONGRESSIONAL DELEGATION SPLIT ON TRUMP REFUGEE BAN</a><br>
<a href=http://www.dailyprogress.com/news/politics/demonstrators-voice-health-care-concerns-at-garrett-s-office/article_a9a96c8a-26a6-59e3-a06d-40b0f89eb638.html>DEMONSTRATORS VOICE HEALTH CARE CONCERNS AT GARRETT'S OFFICE</a><br>
<a href=http://fluvannareview.com/index.php?option=com_content&view=article&id=7704:garrett-courts-young-fluvanna-voters&catid=34:headlines&Itemid=152>GARRETT COURTS YOUNG FLUVANNA VOTERS</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/01/31/goodlatte-staff-proudly-help-draft-trumps-travel-ban/97304312/>GOODLATTE STAFF 'PROUDLY' HELPED DRAFT TRUMP'S TRAVEL BAN</a><br>
<a href=http://www.richmond.com/article_c180e7fc-2282-5d5f-b4e0-fda56fc76316.html>REP. DAVE BRAT ANSWERS CONSTITUENTS' QUESTIONS ON FACEBOOK LIVE</a><br>
<a href=http://www.loudountimes.com/news/article/lawmakers_urge_trump_to_exempt_veterans_department_of_veterans_affairs_from>WARNER, KAINE URGE TRUMP TO EXEMPT DEPARTMENT OF VETERANS AFFAIRS FROM HIRING FREEZE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_0a900045-42e5-57b2-bbb6-38b8264dce05.html>VIRGINIA SEN. MARK WARNER TO OPPOSE SESSIONS FOR ATTORNEY GENERAL</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/brat-talks-immigration-healthcare-education-in-facebook-town-hall-meeting/article_9ed30b17-6228-577f-8010-77ef127e2f58.html>BRAT TALKS IMMIGRATION, HEALTHCARE, EDUCATION IN FACEBOOK TOWN HALL MEETING</a><br>

<h2>Economy/Business</h2>
<a href=http://www.suffolknewsherald.com/2017/01/23/company-nixes-30m-project/>AMID UNCERTAINTY ABOUT TAX CREDITS, COMPANY NIXES $30M PROJECT</a><br>
<a href=http://www.dailypress.com/news/military/dp-nws-shipyard-union-talks-20170131-story.html>PROGRESS CITED IN NINE-YEAR UNION BID AT NEWPORT NEWS SHIPYARD</a><br>
<a href=http://www.dailypress.com/news/military/dp-nws-trump-subs-20170127-story.html>TRUMP WANTS MORE SUBMARINES, BUT SEEKS A BETTER DEAL</a><br>
<a href=http://pilotonline.com/inside-business/news/agriculture/virginia-ranks-ninth-in-u-s-in-local-food-sales/article_9c66c8fb-e88a-5492-a978-212ee4bdcfa3.html>VIRGINIA RANKS NINTH IN U.S. IN LOCAL FOOD SALES</a><br>
<a href=http://www.roanoke.com/ap/national/feds-say-justice-coal-companies-owe-million-in-fines/article_01add385-e7b9-5267-874a-2da0a8b2d4c4.html>FEDS SAY JUSTICE COAL COMPANIES OWE $4.6 MILLION IN FINES</a><br>
<a href=http://www.newsadvance.com/work_it_lynchburg/news/dominion-says-aid-program-has-helped-thousands/article_a6b611a4-8797-58dd-b64f-092c99836660.html>DOMINION SAYS AID PROGRAM HAS HELPED THOUSANDS</a><br>
<a href=http://www.dailyprogress.com/news/business/gig-economy-offers-new-workforce-world/article_85572bec-328f-529b-9ff2-a8ea3c30da4e.html>'GIG ECONOMY' OFFERS NEW WORKFORCE WORLD</a><br>
<a href=http://pilotonline.com/business/defense-shipyards/effect-of-trump-s-job-freeze-in-hampton-roads-is/article_cfa78aab-149f-5a7c-8413-bc4fd34b429a.html>EFFECT OF TRUMP'S JOB FREEZE IN HAMPTON ROADS IS UNCERTAIN</a><br>
<a href=http://www.roanoke.com/business/news/roanoke/steel-dynamics-to-invest-million-to-boost-production-at-roanoke/article_282d94cc-9c55-5d94-a63d-082bff41ffa3.html>STEEL DYNAMICS TO INVEST $28 MILLION TO BOOST PRODUCTION AT ROANOKE MINI-MILL</a><br>
<a href=https://www.washingtonpost.com/business/capitalbusiness/the-washington-economy-shows-signs-of-weaning-itself-from-federal-dependence/2017/01/29/7c082b6e-e49c-11e6-a453-19ec4b3d09ba_story.html?utm_term=.d22c628588eb>THE WASHINGTON ECONOMY SHOWS SIGNS OF WEANING ITSELF FROM FEDERAL DEPENDENCE</a><br>
<a href=http://www.richmond.com/news/virginia/article_cc8f1dd7-1aa8-5a95-a289-53fc50ca8b14.html>DRUG COMPANY TO HELP IMPROVE VIRGINIA'S PRESCRIPTION DRUG MONITORING SYSTEM</a><br>
<a href=http://www.winchesterstar.com/news/clarke/grant-s-pharma-donor-concerns-local-drug-fight-officials/article_6f1c07a3-9022-5483-b1e2-ece7fc65bf30.html>GRANT'S PHARMA DONOR CONCERNS LOCAL DRUG FIGHT OFFICIALS</a><br>

<h2>Editorials</h2>
<a href=http://www.loudountimes.com/news/article/editorial_theres_nothing_cynical_about_the_first_amendment._express_it432>THERE'S NOTHING CYNICAL ABOUT THE FIRST AMENDMENT. EXPRESS IT.</a><br>
<a href=http://pilotonline.com/opinion/documentary-gerryrigged-makes-a-case/article_a2b5662c-bb2d-5670-99d7-9dcc02faed72.html>DOCUMENTARY "GERRYRIGGED" MAKES A CASE</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-airport-0128-20170127-story.html>WHEN NESTS ARE FEATHERED</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-rasoul-reminds-virginia-of-founders-legacy-on-religious-freedom/article_9a9aa57d-cb54-5c5f-a7f9-236912f3b265.html>RASOUL REMINDS VIRGINIA OF FOUNDERS' LEGACY ON RELIGIOUS FREEDOM</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-will-virginia-reform-redistricting/article_07031ae4-d4ed-57c5-bcd4-aa64cccc79d7.html>WILL VIRGINIA REFORM REDISTRICTING?</a><br>
<a href=http://www.richmond.com/opinion/article_fce1b768-b98f-5142-a90a-7c081a29f3f8.html>VIRGINIA LEGISLATORS ARE ALL FOR SWITCHBLADES. MEDICAL MARIJUANA? NOT SO MUCH.</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/redistricting-reform-returns-power-to-the-people/article_d199e5d2-e4d7-11e6-9900-677911b232f9.html>REDISTRICTING REFORM RETURNS POWER TO THE PEOPLE</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_1f077f30-d88e-5415-a8d4-e173cf8077d3.html>GOP IS EITHER IN STRONG SHAPE OR IS DESPERATE</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-focus-on-fracking-safety-not-secrecy/article_fa3544c3-f42a-5fc2-9c25-4354e95d1b57.html>FOCUS ON FRACKING SAFETY, NOT SECRECY</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-regional-success-suffers-as-cities-compete/article_c37d51ac-bf56-5869-8583-9821bd7a5238.html>REGIONAL SUCCESS SUFFERS AS CITIES COMPETE</a><br>
<a href=https://www.washingtonpost.com/opinions/one-step-forward-for-the-mentally-ill-in-virginia/2017/02/02/920ee9d0-e8c4-11e6-80c2-30e57e57e05d_story.html?utm_term=.1f8a9f40b80e>ONE STEP FORWARD FOR THE MENTALLY ILL IN VIRGINIA</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_a43e8886-344c-5eb5-a87c-ed4488e31f6b.html>DOES VIRGINIA REALLY NEED PROTECTION FROM DRUNKEN SEGWAY DRIVERS?</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-how-democrats-are-missing-an-opportunity-and-other-matters/article_6b048b43-cbc1-50fb-be8a-e8b84ab02542.html>HOW DEMOCRATS ARE MISSING AN OPPORTUNITY, AND OTHER MATTERS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_5697b1d3-3e40-5d20-a5be-8969f17b3353.html>WARNER, NOT TRUMP, FOLLOWS IKE'S EXAMPLE</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/two-virginias-but-don-t-alter-the-electoral-college/article_3e17d664-4495-5cdf-b1a6-1151f89bfbcc.html>'TWO VIRGINIAS' BUT DON'T ALTER THE ELECTORAL COLLEGE</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_36345bad-bd0c-54ce-88f3-e565dfbd95d5.html>VIRGINIA HOUSE NOW HAS A STRANGLE-THE-DOGS CAUCUS</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-who-we-d-like-to-see-on-the-regional/article_2c54bf3f-1ebb-5afa-a8b5-eeea2e926f1f.html>WHO WE'D LIKE TO SEE ON THE REGIONAL 'GO VIRGINIA' BOARD</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-infrastructure-0131-20170130-story.html>THE PRICE OF PROGRESS</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-expanded-foia-council-would-give-openness-greater-voice/article_45849f36-9837-514e-833f-ed62a56eb52d.html>EXPANDED FOIA COUNCIL WOULD GIVE OPENNESS GREATER VOICE</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/opinion/editorials/editorial-numbers-that-matter/article_ba92bd7e-e751-11e6-ba23-d3b6f49d05d9.html>NUMBERS THAT MATTER</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-immigration-0201--20170131-story.html>NO GUARANTEE OF SANCTUARY</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_40fb2b88-dacd-5ee5-a239-3e916eb50f7b.html>ELECTORAL COLLEGE WILL NOT SELECT U.VA.'S NEW PRESIDENT</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-virginia-state-parks-have-earned-support/article_80f588f5-a5bf-539b-996b-138b9aefe0c4.html>VIRGINIA STATE PARKS HAVE EARNED SUPPORT</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-fast-track-broadband-bill-to-dust-bin/article_c1a122bf-805c-5031-ac2f-cb017ea4c7e8.html>FAST-TRACK BROADBAND BILL TO DUST BIN</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-fixing-the-coalfields/article_da4ee94c-051c-5610-9386-5281bbd9f4fe.html>FIXING THE COALFIELDS</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-trailer-park-dilemma-reveals-housing-gap/article_ce182d14-9223-553a-8e3e-d45f48f4fdf4.html>TRAILER PARK DILEMMA REVEALS HOUSING GAP</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/the-face-of-retailing-is-morphing/article_8b28ddfe-e40c-11e6-93a5-47d79930a071.html>THE FACE OF RETAILING IS MORPHING</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-airport-money-0202-20170201-story.html>TAXPAYER-FUNDED SAFETY NET FOR PEOPLE EXPRESS WILL LEAD TO CLOSER SCRUTINY FOR AIRPORT COMMISSION</a><br>

<h2>Executive Branch</h2>
<a href=http://www.bizjournals.com/washington/news/2017/02/01/mcauliffe-trump-travel-ban-has-chilling-effect-on.html>MCAULIFFE: TRUMP TRAVEL BAN HAS 'CHILLING EFFECT' ON BUSINESS, SAYS STATE LOST TWO COMPANIES</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_5a62399b-2032-56b0-8ee2-56754d90a966.html>VA. SEEKS ANSWERS ON WHETHER CUSTOMS OFFICIALS AT DULLES COMPLIED WITH COURT ORDER ON DETAINEES</a><br>
<a href=http://www.collegiatetimes.com/news/gov-terry-mcauliffe-not-the-america-i-know/article_bfc1eb66-e8dd-11e6-99ed-b3421e7dd800.html>GOV. TERRY MCAULIFFE: 'NOT THE AMERICA I KNOW'</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/va-demands-more-details-on-travel-ban-detentions-at-dulles-international-airport/2017/02/01/f10aef32-e8de-11e6-80c2-30e57e57e05d_story.html?utm_term=.fb05db74d021>VA. DEMANDS MORE DETAILS ON TRAVEL BAN DETENTIONS AT DULLES INTERNATIONAL AIRPORT</a><br>
<a href=http://www.insidenova.com/news/business/mcauliffe-visits-reston-based-street-shares-announces-new-veteran-jobs/article_9fa844ae-e989-11e6-bcab-6744ff249829.html>MCAULIFFE VISITS RESTON-BASED STREET SHARES, ANNOUNCES NEW VETERAN JOBS GOAL</a><br>
<a href=http://www.dailypress.com/news/hampton/dp-nws-mcauliffe-rep-scott-joined-hampton-residents-for-obamacare-signup-20170128-story.html>MCAULIFFE, REP. SCOTT JOIN HAMPTON RESIDENTS FOR OBAMACARE SIGNUP</a><br>
<a href=http://www.insidenova.com/news/arlington/governor-touts-va-success-but-fears-headwinds/article_5fcc66fa-e937-11e6-995a-978336d57cb7.html>GOVERNOR TOUTS VA. SUCCESS BUT FEARS HEADWINDS</a><br>
<a href=http://www.insidenova.com/headlines/mcauliffe-boasts-virginia-employment-records/article_1370c63c-e4c0-11e6-8b3d-879420636a16.html>MCAULIFFE BOASTS VIRGINIA EMPLOYMENT RECORDS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_42716b59-91b2-549f-b9be-9f9f0bd604ce.html?referer_url=/news/virginia/government-politics/article_42716b59-91b2-549f-b9be-9f9f0bd604ce.html>U.S. WANTS COURT TO PUT ON HOLD LAWSUIT OVER DETAINEES AT DULLES</a><br>
<a href=http://valawyersweekly.com/2017/02/02/agreement-reached-between-government-brothers-on-travel-ban/>AGREEMENT REACHED BETWEEN GOVERNMENT, BROTHERS ON TRAVEL BAN</a><br>
<a href=http://pilotonline.com/news/government/virginia/virginia-ag-says-state-will-take-legal-action-against-president/article_2d767fae-05ae-5afb-8eca-df0b144b1241.html>VIRGINIA JOINS FEDERAL LAWSUIT CHALLENGING PRESIDENT TRUMP'S EXECUTIVE ORDER ON IMMIGRATION</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-herring-virginia-immigration-lawsuit-20170131-story.html>AG HERRING: VIRGINIA TO JOIN LAWSUIT CHALLENGING IMMIGRATION ORDER</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/state-of-virginia-intervenes-on-behalf-of-yemeni-brothers-fighting-trump-ban/2017/01/31/fc68456a-e7fc-11e6-b82f-687d6e6a3e7c_story.html?utm_term=.4341214649e1>VIRGINIA ENTERS FEDERAL COURT FIGHT AGAINST TRUMP TRAVEL BAN</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_69ee9d1a-48b5-5893-8f69-3000ab81f6fc.html>VIRGINIA BRINGS LEGAL CHALLENGE TO TRUMP'S ORDER ON REFUGEES</a><br>
<a href=http://www.richmond.com/news/virginia/article_cc314cb3-1e88-5777-a059-dfbea128e376.html>MCAULIFFE: GENERAL ASSEMBLY BUDGET PLAN FOR RAISES COULD 'HURT' TEACHERS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/richmond-notebook-rapt-silence-then-applause-for-a-lawmaker-with-a-critique-of-mcauliffes-cuba-outreach/2017/02/01/89112b34-e8d0-11e6-b82f-687d6e6a3e7c_story.html?utm_term=.d05980e71f6e>RAPT SILENCE, THEN APPLAUSE FOR A LAWMAKER WITH A CRITIQUE OF MCAULIFFE'S CUBA OUTREACH</a><br>
<a href=https://www.washingtonpost.com/business/capitalbusiness/nestle-to-move-us-headquarters-to-arlington-bringing-750-jobs-to-the-region/2017/02/01/0ff6ec34-e40c-11e6-a547-5fb9411d332c_story.html?utm_term=.a6ecfd506935>NESTLE TO MOVE U.S. HEADQUARTERS TO ARLINGTON, BRINGING 750 JOBS</a><br>

<h2>From vpap.org</h2>
<a href=http://www.vpap.org/visualizations/senate-committee-party-representation>VISUALIZATION: PARTY MAKEUP OF SENATE COMMITTEES</a><br>

<h2>General Assembly</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/va-senate-votes-to-expand-use-of-marijuana-oil-to-treat-more-illnesses/2017/01/26/e6ad11be-e3fc-11e6-ba11-63c4b4fb5a63_story.html?utm_term=.47db2c96242b>VA. SENATE VOTES TO EXPAND USE OF MARIJUANA OIL TO TREAT MORE ILLNESSES</a><br>
<a href=http://www.chesterfieldobserver.com/news/2017-01-25/Front_Page/Sen_Chase_seeks_to_change_how_state_allocates_Elec.html>SEN. CHASE SEEKS TO CHANGE HOW STATE ALLOCATES ELECTORAL COLLEGE VOTES</a><br>
<a href=http://www.richmond.com/news/local/education/districts/article_398230c4-a5f3-5c8a-9b0e-f9135598e7e1.html>VA. HOUSE COMMITTEE ADVANCES BILLS THAT WOULD REDUCE SUSPENSION AND EXPULSIONS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_665294d6-81f3-5d1b-88aa-b3be6191ae7f.html>VIRGINIA HOUSE PANEL DEFEATS BILL TO SHIELD OVERDOSE VICTIMS FROM PROSECUTION</a><br>
<a href=http://www.richmond.com/news/virginia/article_831ce0eb-1636-5200-9f61-2c6b68561af3.html>SENATE COMMITTEE TOSSES OUT HATE CRIME BILL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_c3121ae9-b3bb-5f26-89b6-ca7aba966ade.html>VA. HOUSE PROPOSAL SETS UP BATTLE WITH GOVERNOR OVER ECONOMIC DEVELOPMENT PROGRAM</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_690b2b6c-8fa3-5de7-874f-deefeb28f0a3.html>DREAMERS TAKE HOPES, FEARS TO LAWMAKERS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_401c35e8-f436-5263-bc4e-d0e0974ed0c2.html>PROPOSED CHANGES IN VA. TAX POLICY LINKED TO STATE BUDGET</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_6e6e1aa7-9600-5aa2-9376-866fd1cb27da.html>BILL WOULD MAKE IT ILLEGAL FOR POLICE CHIEFS TO IDENTIFY OFFICERS WHO SHOOT CITIZENS</a><br>
<a href=http://www.insidenova.com/news/politics/proposed-bills-would-make-presidential-candidates-release-tax-returns/article_916cbdc8-e4c2-11e6-ac5b-b7cfd419a157.html>PROPOSED BILLS WOULD MAKE PRESIDENTIAL CANDIDATES RELEASE TAX RETURNS</a><br>
<a href=http://www.richmond.com/news/article_ef02c23b-ffa6-5911-9b7f-8bf59816c361.html>DOMINION-BACKED BILL ON BURYING POWER LINES SAILS THROUGH SENATE COMMITTEE</a><br>
<a href=http://pilotonline.com/news/government/virginia/roam-town-center-with-beer-in-hand-bill-would-allow/article_55840a77-e08c-5956-97e3-532cb3545ab2.html>ROAM TOWN CENTER WITH BEER IN HAND? BILL WOULD ALLOW IT, BUT DEVELOPMENT HAS QUESTIONS</a><br>
<a href=http://pilotonline.com/news/government/virginia/bills-to-change-how-virginia-s-electoral-college-votes-are/article_b56c8011-aa25-5117-9262-2e38313a7180.html>BILLS TO CHANGE HOW VIRGINIA'S ELECTORAL COLLEGE VOTES ARE DISTRIBUTED FAIL</a><br>
<a href=http://www.cvilletomorrow.org/news/article/26190-bill-would-restrict-local-control-over-some-wirele/>BILL WOULD RESTRICT LOCAL CONTROL OVER SOME WIRELESS EQUIPMENT</a><br>
<a href=http://www.dailyprogress.com/news/politics/grahams-call-for-expanded-dna-testing/article_19dd1330-1010-5b27-8739-92877fbbefa3.html>GRAHAMS CALL FOR EXPANDED DNA TESTING</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/lawmakers-reject-del-chris-head-s-bill-requiring-free-speech/article_8446a86c-9460-5699-a0d8-5272d71ad548.html>LAWMAKERS REJECT DEL. CHRIS HEAD'S BILL REQUIRING FREE SPEECH PUSH AT PRIVATE COLLEGES</a><br>
<a href=http://www.fredericksburg.com/news/crime_courts/house-approves-fine-for-virginia-s-left-lane-dawdlers/article_a4a1a500-8251-5175-b268-ea5147f82152.html>HOUSE APPROVES FINE FOR VIRGINIA'S LEFT-LANE DAWDLERS</a><br>
<a href=http://www.fredericksburg.com/news/va_md_dc/rally-calls-for-state-help-for-brain-injuries/article_c89bb3fc-7e78-5637-a2ea-d118b604d908.html>RALLY CALLS FOR STATE HELP FOR BRAIN INJURIES</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/va-bills-would-end-license-suspension-for-marijuana-possession/article_a604e8d2-e4b3-11e6-a529-b354f9111fb5.html>VA. BILLS WOULD END LICENSE SUSPENSION FOR MARIJUANA POSSESSION</a><br>
<a href=http://www.heraldcourier.com/news/swva-delegation-unhappy-with-vceda-will-replace-five-board-members/article_6f081da8-b003-5871-bd06-e22fb890a48f.html>SWVA. DELEGATION UNHAPPY WITH VCEDA, WILL REPLACE FIVE BOARD MEMBERS</a><br>
<a href=http://www.dailyprogress.com/news/local/county-monitoring-budget-amendment-that-could-spell-the-end-of/article_5b500e14-05b1-5951-96f6-c22c9049aab3.html>COUNTY MONITORING BUDGET AMENDMENT THAT COULD SPELL THE END OF REVENUE-SHARING AGREEMENT</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-virginia-ticketmaster-20170127-story.html>VIRGINIA HOUSE ROCKS OUT OVER TICKETMASTER BILL</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-morris-discovery-rules-20170127-story.html>MORRIS, AWAITING TRIAL, SEEKS CHANGE TO COURT RULES</a><br>
<a href=http://www.carolineprogress.com/board-sends-resolution-to-general-assembly-to-kill-broadband-bill/>BOARD SENDS RESOLUTION TO GENERAL ASSEMBLY TO KILL BROADBAND BILL</a><br>
<a href=http://www.thecentralvirginian.com/broadband-internet-bill-raises-louisa-officials-ire/>BROADBAND INTERNET BILL RAISES LOUISA OFFICIALS' IRE</a><br>
<a href=http://www.smithmountaineagle.com/news/article_e2cdfab0-e4bd-11e6-822f-174b3ad645a0.html>STATE DELEGATION SEEKS NEW STUDIES TO PREVENT TOXIC ZEBRA MUSSEL INFESTATIONS</a><br>
<a href=http://www.richmond.com/news/article_127395de-07cc-5d6c-8cba-36c5a6e2643e.html>PARENTS: SPEND MENTAL HEALTH FUNDS ON PROGRAMS, NOT CONSULTANTS</a><br>
<a href=http://www.richmond.com/news/virginia/article_d5997981-e6fd-5cab-be15-91dc96445b10.html>GOP LAWMAKER DROPS EFFORT TO CHANGE VIRGINIA'S WINNER-TAKE-ALL ELECTORAL SYSTEM</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/existential-debate-of-lawmaking-if-its-doomed-anyway-why-take-it-up/2017/02/02/ae9ba600-e979-11e6-bf6f-301b6b443624_story.html?utm_term=.698058439ee1>EXISTENTIAL DEBATE OF LAWMAKING: IF IT'S DOOMED ANYWAY, WHY TAKE IT UP?</a><br>
<a href=http://www.richmond.com/news/local/education/districts/article_f97b9525-3740-580c-bc8f-20f7c70e98a3.html>VA. SENATE ADVANCES SCHOOL SUSPENSION BILL</a><br>
<a href=http://www.newsadvance.com/news/local/three-bills-arise-from-lynchburg-ballot-shortage-registrars-to-retain/article_0e065eb6-e9af-11e6-84ca-b313ba4e130d.html>THREE BILLS ARISE FROM LYNCHBURG BALLOT SHORTAGE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-welfare-reform-virginia-20170128-story.html>GOP CALLS FOR BENEFIT CUTS, FRAUD MEASURES, IN WELFARE REFORM</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/metalhead-va-legislator-wants-to-cut-ticketmasters-control-of-resale-market/2017/01/28/a2df78d8-e4b4-11e6-a547-5fb9411d332c_story.html?utm_term=.7a1f8105b7f4>METALHEAD VA. LEGISLATOR WANTS TO CUT TICKETMASTER'S CONTROL OF ITS TICKETS ON RESALE MARKET</a><br>
<a href=http://www.loudountimes.com/news/article/loudoun_county_state_lawmakers_agree_porn_is_dangerous543>LOUDOUN COUNTY STATE LAWMAKERS AGREE: PORN IS BAD FOR YOU</a><br>
<a href=http://www.newsadvance.com/news/local/virginia-redistricting-reformers-lobby-for-a-permanent-fix/article_468d9a1f-0720-5248-b323-0e870daad921.html>VIRGINIA REDISTRICTING REFORMERS LOBBY FOR A PERMANENT FIX</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-airbnb-norment-bill-20170202-story.html>NORMENT'S AIRBNB BILL HEADS TO SENATE FLOOR</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-legis-notebook-0203-20170202-story.html>AFTER FOUR-YEAR EFFORT, PROTON THERAPY BILL MOVES TO HOUSE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-police-shooting-names-20170202-story.html>BILL: KEEP POLICE NAMES SECRET DURING SHOOTING INVESTIGATIONS</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/of-bills-hoped-to-address-airbnb-regulations-in-virginia-made/article_892ff404-3252-54ff-a937-455504ad2ec2.html>ONE AIRBNB BILL SURVIVES SENATE COMMITTEE</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/revised-broadband-bill-passes-committee-heads-to-full-house/article_a5e6af5e-2047-56ab-83e1-eae08fc940fa.html>REVISED BROADBAND BILL PASSES COMMITTEE HEADS TO FULL HOUSE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-house-passes-bill-protecting-groups-that-refuse-same-sex-marriage/2017/02/02/0d0dd8b6-e97a-11e6-bf6f-301b6b443624_story.html?utm_term=.8774ad49b245>VIRGINIA HOUSE PASSES BILL PROTECTING GROUPS THAT REFUSE TO PERFORM SAME-SEX MARRIAGE</a><br>
<a href=http://www.tidewaternews.com/2017/01/27/childs-parents-ask-that-prosecution-cease-against-morris/>CHILD'S PARENTS ASK THAT PROSECUTION CEASE AGAINST MORRIS</a><br>
<a href=http://www.richmond.com/news/virginia/article_3c2e5f3a-9c22-55c1-a886-9da6e7ead5e7.html>GOP LAWMAKER SAYS COMMITTEE WON'T TAKE UP ABORTION BILLS THAT HAVE 'NO CHANCE'</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_e64e9292-5a5f-53e7-8547-c7cc961400dd.html>WHO WILL INVESTIGATE DEATHS IN VIRGINIA JAILS? THE ANSWER IS FAR FROM CERTAIN.</a><br>
<a href=http://www.richmond.com/business/article_ff841948-c6e2-5760-b32c-a582c388edf6.html>BILL THAT WOULD REQUIRE MORE INFORMATION ON COAL-ASH CLOSURE PLANS CLEARS VA. SENATE COMMITTEE</a><br>
<a href=http://www.richmond.com/news/virginia/article_83653880-a4f0-5558-8e90-87d5e04dc69a.html>VIRGINIA HOUSE AGAIN MOVES TO PROTECT OPPONENTS OF GAY MARRIAGE</a><br>
<a href=http://www.richmond.com/news/virginia/article_87907d63-b516-561c-836d-74faed23a927.html>HOUSE COMMITTEE ADVANCES BILL CRIMINALIZING QUICK ID OF POLICE OFFICERS INVOLVED IN SHOOTINGS</a><br>
<a href=http://www.richmond.com/business/article_2abc8185-fcef-54dc-b7a0-30771d20f4bf.html>DOMINION-BACKED BILL ON BURYING LINES BREEZES THROUGH SENATE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/va-senate-votes-to-expand-use-of-marijuana-oil-to-treat-more-illnesses/2017/01/26/e6ad11be-e3fc-11e6-ba11-63c4b4fb5a63_story.html?utm_term=.2ebd12c49113>VA. SENATE VOTES TO EXPAND USE OF MARIJUANA OIL TO TREAT MORE ILLNESSES</a><br>
<a href=http://www.richmond.com/news/virginia/article_3fb3d325-9662-5e22-a55d-f023500563ab.html>SEN. AMANDA CHASE RAISES TRANSPARENCY CONCERNS OVER IMPROMPTU COMMITTEE HEARING</a><br>
<a href=http://www.richmond.com/news/virginia/article_a9fa240a-6fdc-5d0e-bce6-e9b92c3c6837.html>VIRGINIA LAWMAKERS SAY PORN IS BAD</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/politics/tax-revenue-options-need-reform-hanger-says/article_459c4bde-e684-11e6-9dc3-cb2f0af5eb69.html>TAX, REVENUE OPTIONS NEED REFORM, HANGER SAYS</a><br>
<a href=http://www.fredericksburg.com/news/va_md_dc/virginia-senate-panel-shoots-down-constitutional-carry-bill/article_887d1a01-59f3-52c2-997a-a12151704da4.html>VIRGINIA SENATE PANEL SHOOTS DOWN 'CONSTITUTIONAL CARRY' BILL</a><br>
<a href=http://pilotonline.com/news/government/local/virginia-lawmakers-voting-on-airbnb-bill-to-fine-homeowners-if/article_510e839d-9ba1-5d62-8dcf-fa002dde90af.amp.html>VIRGINIA LAWMAKERS CONSIDERING AIRBNB BILL TO FINE HOMEOWNERS $10,000 IF ILLEGALLY RENTING</a><br>
<a href=http://www.fredericksburg.com/news/va_md_dc/lawmakers-defeat-ban-on-campaign-funds-for-personal-use/article_4cc7ce73-f524-52e3-93d9-bbc4aeae2aea.html>LAWMAKERS DEFEAT BAN ON CAMPAIGN FUNDS FOR PERSONAL USE</a><br>
<a href=http://www.fredericksburg.com/news/va_md_dc/senate-oks-bill-allowing-warrantless-inspections-of-farms/article_f93faaa8-83a5-5ada-8949-03231a7ffdb1.html>SENATE OKS BILL ALLOWING WARRANTLESS INSPECTIONS OF FARMS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_c4302172-9cb4-5093-874c-b776cb2a4452.html>AFTER BITTER FIGHT OVER FELON VOTING, GENERAL ASSEMBLY FINDS LITTLE CONSENSUS ON REFORM</a><br>
<a href=http://www.heraldcourier.com/news/vceda-budget-amendment-could-transfer-funds-to-lenowisco/article_247d8c5f-2395-5ab1-b3be-e2bcd3d4ec41.html>VCEDA BUDGET AMENDMENT COULD TRANSFER FUNDS TO LENOWISCO</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-house-passes-bill-protecting-groups-that-refuse-same-sex-marriage/2017/02/02/0d0dd8b6-e97a-11e6-bf6f-301b6b443624_story.html?utm_term=.e673d7b01af7>VIRGINIA HOUSE PASSES BILL PROTECTING GROUPS THAT REFUSE TO PERFORM SAME-SEX MARRIAGE</a><br>
<a href=http://www.richmond.com/news/virginia/article_9ecbb554-9ab3-572d-8023-f5b51356c346.html>HOUSE PANEL KILLS REDISTRICTING, FELON VOTING REFORMS IN EARLY-MORNING BLOCK VOTE</a><br>
<a href=http://pilotonline.com/news/government/virginia/general-assembly-bill-would-allow-revenge-porn-victims-to-sue/article_0f1dfef7-82b9-56c9-9cf3-2557775ad1b1.html>GENERAL ASSEMBLY BILL WOULD ALLOW "REVENGE PORN" VICTIMS TO SUE PERPETRATORS IN CIVIL COURT</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/del-joseph-yost-pushes-for-mental-health-training-for-college/article_80aaaf31-c8bb-5630-87b6-1456cf6f5390.html>DEL. JOSEPH YOST PUSHES FOR MENTAL HEALTH TRAINING FOR COLLEGE RESIDENT ADVISERS</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/del-sam-rasoul-virginia-s-only-muslim-legislator-speaks-out/article_1f62178c-3c85-5000-9808-111f0e34e60a.html>DEL. SAM RASOUL, VIRGINIA'S ONLY MUSLIM LEGISLATOR, SPEAKS OUT AGAINST EXECUTIVE ORDER</a><br>
<a href=http://www.newsadvance.com/news/local/with-single-vote-house-subcommittee-kills-more-than-proposed-va/article_e366e4fa-e706-11e6-b145-d73eb1907ec5.html>WITH SINGLE VOTE, HOUSE SUBCOMMITTEE KILLS MORE THAN 20 PROPOSED VA. CONSTITUTIONAL AMENDMENTS</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/01/30/new-legislation-could-allow-alcohol-cigar-shops/97245682/>NEW LEGISLATION COULD ALLOW ALCOHOL IN CIGAR SHOPS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-legis-notebook-0131-20170130-story.html>MEDICAL MARIJUANA BILLS GO DOWN IN HOUSE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-redistricting-bills-killed-20170130-story.html>REDISTRICTING REFORM, SLEW OF CONSTITUTIONAL AMENDMENTS, GO DOWN ON A SINGLE 4-3 VOTE</a><br>
<a href=http://pilotonline.com/news/government/virginia/redistricting-reform-civil-rights-restoration-among--plus-constitutional-amendments/article_20b28ae0-1994-5137-b6f0-f559db1a0cda.html>REDISTRICTING REFORM, CIVIL RIGHTS RESTORATION AMONG 20-PLUS AMENDMENTS KILLED BY SUBCOMMITTEE</a><br>
<a href=http://www.richmond.com/news/local/government-politics/article_7d4cf720-3ea5-594f-b355-cbbc5d67abea.html>DELEGATE WANTS VA. STUDENTS TO KNOW HOW TO DEAL WITH POLICE WHEN PULLED OVER</a><br>
<a href=http://www.richmond.com/news/virginia/article_f43fad17-88dd-5488-915f-c1a7d76de385.html>HOUSE PASSES BILL TO LEGALIZE SWITCHBLADES IN VIRGINIA FOR WORK AND RECREATIONAL USE</a><br>
<a href=http://www.richmond.com/news/virginia/article_5b5979ee-5743-53f4-bf67-93e5a5a668bc.html>VIRGINIA FOLLOWS ON POLITICS OF IMMIGRATION ORDER</a><br>
<a href=http://www.richmond.com/news/virginia/article_9601c38a-2d66-5d83-86be-935bb72c5555.html>TREASURERS RAISE CONCERN OVER BID TO INCLUDE LOCAL INVESTMENT GROUP IN VA. LAW</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_b858606a-e7d9-54e8-9c72-e5d2dc09f720.html>FRACKING CHEMICAL RECIPES COULD BE KEPT SECRET IN VIRGINIA UNDER BILL PASSED BY HOUSE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/richmond-notebook-madison-jefferson-and-trumps-travel-ban/2017/01/30/499956d0-e726-11e6-bf6f-301b6b443624_story.html?utm_term=.d016a4d62f1c>MADISON, JEFFERSON AND TRUMP'S TRAVEL BAN</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/voting-rights-reform-for-felons-dies-in-general-assembly-subcommittee/article_afe2ae5a-e78b-5eb1-8f92-c798d111efb6.html>VOTING RIGHTS REFORM FOR FELONS DIES IN GENERAL ASSEMBLY SUBCOMMITTEE</a><br>
<a href=http://www.roanoke.com/news/local/botetourt_county/delegate-wants-to-help-botetourt-schools-add-mechatronics-program/article_25ee0acb-2e9e-5ca3-82c0-cedf60f133ab.html>DELEGATE WANTS TO HELP BOTETOURT SCHOOLS ADD MECHATRONICS PROGRAM</a><br>
<a href=http://www.dnronline.com/news/crime/del-bell-pushes-for-tebow-bill-again/article_f2f92c74-e766-11e6-97f1-b334b901743b.html>DEL. BELL PUSHES FOR TEBOW BILL AGAIN</a><br>
<a href=http://www.fredericksburg.com/panel-amends-dangerous-dog-description/article_0151024b-ec12-5bee-86f7-a47d5375ed7a.html>PANEL AMENDS 'DANGEROUS DOG' DESCRIPTION</a><br>
<a href=http://valawyersweekly.com/2017/01/30/legislators-find-common-ground-on-court-collections-reform/>LEGISLATORS FIND COMMON GROUND ON COURT COLLECTIONS REFORM</a><br>
<a href=http://www.richmond.com/news/local/education/districts/article_c3a9689c-faaa-59ca-bccd-a1c148d66d60.html>HOUSE BILL CALLS FOR DYSLEXIA POINT PERSON IN SCHOOL DISTRICTS</a><br>
<a href=http://pilotonline.com/news/government/virginia/sen-lucas-makes-play-for-state-funds-to-address-lost/article_26a4e6cf-1f39-55b4-825e-0ae3b88554af.html>SEN. LUCAS MAKES PLAY FOR STATE FUNDS TO ADDRESS LOST TAX REVENUE FROM PORT DEAL</a><br>
<a href=http://www.richmond.com/news/local/education/districts/article_57f65081-f884-517c-9847-42e3b69a9037.html>VA. HOUSE BILL TO PUT MORE NURSES IN SCHOOLS FAILS</a><br>
<a href=http://www.richmond.com/news/article_4757a817-57be-5f3d-8311-8cf84d1fd21b.html>SANCTUARY CITIES COULD FACE LAWSUITS FOR IMMIGRANT CRIMES UNDER GOP BILL</a><br>
<a href=http://www.richmond.com/news/virginia/article_5ec61010-983f-54c6-b31a-47b811ed8370.html>AFTER FINE-TUNING, LEGISLATION TO REIN IN HUNTING DOGS IN VIRGINIA CLEARS FIRST HURDLE</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/ripple-in-richmond-on-marijuana-reform-traced-to-norfolk-where/article_bb412765-35f2-53d5-be31-8a92e6392d2b.html>ACTIVISTS IN NORFOLK PUSH FOR EASING MARIJUANA LAWS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-norment-group-home-20170131-story.html>SEN. NORMENT'S GROUP HOMES BILL MOVES FORWARD</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/virginia-lawmakers-propose-coalfields-schools-funding-boost/article_fea0f5f0-fc73-5ed0-bf41-d706db005b62.html>VIRGINIA LAWMAKERS PROPOSE COALFIELDS SCHOOLS FUNDING BOOST</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_a0a051c5-9201-5411-a915-1647cff61bc4.html>STATE SENATE PANEL KILLS BILL TO CAP AND PHASE OUT HISTORIC REHAB TAX CREDITS</a><br>
<a href=http://valawyersweekly.com/2017/01/25/move-to-decriminalize-adultery-fails/>MOVE TO DECRIMINALIZE ADULTERY FAILS</a><br>
<a href=http://www.newsadvance.com/news/local/senate-committee-advances-bill-to-keep-cvtc-open-until-mid/article_f5964e58-5810-5d7b-9cf1-d3a82f5b668f.html>SENATE COMMITTEE ADVANCES BILL TO KEEP CVTC OPEN UNTIL MID-2029</a><br>
<a href=http://www.heraldcourier.com/news/opioid-addiction-bills-pass-virginia-house/article_627742d5-9a95-5f01-9abf-bcf05755c758.html>OPIOID ADDICTION BILLS PASS VIRGINIA HOUSE</a><br>
<a href=http://www.dailyprogress.com/orangenews/news/bill-could-halt-local-broadband-initiative/article_3884b9a4-e19d-11e6-b5e1-3fa945071643.html>BILL COULD HALT LOCAL BROADBAND INITIATIVE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_ba77b7b3-8f2f-5ab9-9e70-99a4e684bae8.html>BILL RESTRICTING GROUP HOMES PASSES SENATE PANEL DESPITE OPPOSITION</a><br>
<a href=http://www.kenbridgevictoriadispatch.com/2017/01/25/legislation-could-affect-dog-hunting/>LEGISLATION COULD AFFECT DOG HUNTING</a><br>
<a href=http://www.swvatoday.com/news/washington_county/article_618d0ff8-1bf9-5f75-a2ef-17d1a31128b1.html>BUDGET AMENDMENTS WOULD AID RURAL SCHOOLS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_c6889d1a-f2d9-5141-9644-76b77fd8a4d1.html>VA. HOUSE UNVEILS PLANS TO HELP SMALL SCHOOL DIVISIONS COPE WITH FALLING ENROLLMENT, FUNDING</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_74aa6130-11a0-5c0e-9c31-e31459016866.html>DISABILITY GROUPS PROTEST 11,000-PERSON WAITING LIST FOR SERVICES IN VA.</a><br>
<a href=http://www.dailyprogress.com/news/politics/panel-oks-bill-to-defund-planned-parenthood/article_95a35c8a-e819-11e6-87af-1bd700032a3c.html>PANEL OKS BILL TO DEFUND PLANNED PARENTHOOD</a><br>
<a href=http://www.insidenova.com/headlines/democrats-call-for-vote-on-redistricting-reforms/article_c4cc8bb6-e874-11e6-a91a-ef18293924f4.html>DEMOCRATS CALL FOR VOTE ON REDISTRICTING REFORMS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_25c2f652-388b-57e3-9ac7-0abeb8ccbf95.html>SUBCOMMITTEE ENDORSES NEW RETIREMENT OPTION FOR VA. PUBLIC EMPLOYEES</a><br>
<a href=http://www.newsadvance.com/news/local/cline-bill-to-require-recorded-votes-dies-on-an-unrecorded/article_8ff003cc-e424-11e6-a1fb-83e6f6e431b8.html>CLINE BILL TO REQUIRE RECORDED VOTES DIES ON AN UNRECORDED VOTE " AGAIN</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/bill-could-lead-to-suspension-of-norfolk-treasurer-anthony-burfoot/article_d6cd4550-e8a3-55fe-8ca8-64fcd1aeeb6c.html>BILL COULD LEAD TO SUSPENSION OF NORFOLK TREASURER ANTHONY BURFOOT, FUTURE CONVICTED OFFICIALS</a><br>
<a href=http://pilotonline.com/news/government/virginia/porn-isn-t-a-public-health-hazard-but-it-s/article_9f1a1e35-488a-5b4a-a9c0-00d21ac08e38.html>PORN ISN'T A "PUBLIC HEALTH HAZARD," BUT IT'S A PROBLEM, VIRGINIA LAWMAKERS SAY</a><br>
<a href=http://www.insidenova.com/headlines/bills-would-end-license-suspension-for-marijuana-possession/article_39be0a30-e41a-11e6-a7c7-fb030ef577c4.html>BILLS WOULD END LICENSE SUSPENSION FOR MARIJUANA POSSESSION</a><br>
<a href=http://pilotonline.com/sports/outdoors/hound-hunting-bill-passes-committee-and-advances-to-the-full/article_6886f9f1-7288-540f-892b-6cf01c802655.html>HOUND HUNTING BILL PASSES COMMITTEE AND ADVANCES TO THE FULL HOUSE OF DELEGATES</a><br>
<a href=http://www.newsadvance.com/news/local/del-kathy-byron-introduces-substitute-bill-to-house-committee/article_17798b89-14f3-5104-83f1-2bfe57cb4f8a.html>DEL. KATHY BYRON INTRODUCES SUBSTITUTE BILL TO HOUSE COMMITTEE</a><br>
<a href=http://pilotonline.com/news/government/virginia/legislature-looks-at-several-coastal-flooding-hurricane-preparedness-bills-but/article_fa3a21da-265b-521d-8871-fb15817de389.html>VIRGINIA'S LEGISLATURE LOOKS AT COASTAL FLOODING, HURRICANE PREPAREDNESS BILLS, BUT MONEY IS AN ISSUE</a><br>
<a href=http://www.heraldcourier.com/news/newly-proposed-bill-won-t-affect-power-project-in-washington/article_1cdfe991-1fd7-5465-9eef-24eb81ea2aa3.html>NEWLY PROPOSED BILL WON'T AFFECT POWER PROJECT IN WASHINGTON COUNTY</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-watermen-helsel-20170126-story.html>STATE DELEGATE'S WATERMEN BILLS ADVANCE, FALL, AT LEGISLATURE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-thc-oil-senate-20170126-story.html>MEDICAL THC OIL BILL CLEARS VA. SENATE</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/why-one-of-virginia-s-most-powerful-conservatives-is-now/article_bb412765-35f2-53d5-be31-8a92e6392d2b.html>WHY ONE OF VIRGINIA'S MOST POWERFUL CONSERVATIVES IS NOW IN FAVOR OF MARIJUANA DECRIMINALIZATION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_21ad2ae3-6d2c-51d2-8c4b-a3faa7f7b3ee.html>REPUBLICAN WELFARE REFORM BILL ADVANCES; CRITIC CALLS IT 'MEAN SPIRITED'</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_251eb235-f7e0-5d8a-b5e2-d1684c779c50.html>'RELIGIOUS FREEDOM' BILL PASSES HOUSE COMMITTEE OVER OBJECTIONS FROM LGBT ADVOCATES</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/politics/bell-s-hate-crimes-bill-scuttled/article_bde65be8-e8dc-11e6-b9d5-83e40b7d44ae.html>BELL'S HATE CRIMES BILL SCUTTLED</a><br>
<a href=http://www.newsadvance.com/news/local/legislation-could-shift-authority-from-administration-to-lawmakers-to-close/article_ead50a04-e8e2-11e6-844a-2bfbb871ec85.html>LEGISLATION COULD SHIFT AUTHORITY FROM ADMINISTRATION TO LAWMAKERS TO CLOSE CVTC</a><br>
<a href=http://www.insidenova.com/headlines/legislator-wants-george-washington-s-whiskey-declared-state-spirit/article_643ddfa8-e891-11e6-86e8-ffea148602a1.html>LEGISLATOR WANTS GEORGE WASHINGTON'S WHISKEY DECLARED 'STATE SPIRIT'</a><br>
<a href=http://www.insidenova.com/news/arlington/tax-hearing-legislation-passes-state-senate-heads-to-house-of/article_a172ab74-e878-11e6-893f-7b67400fa872.html>TAX-HEARING LEGISLATION PASSES STATE SENATE, HEADS TO HOUSE OF DELEGATES</a><br>
<a href=http://www.fredericksburg.com/news/local/caroline/caroline-county-officials-fear-bill-in-house-of-delegates-will/article_796423f7-7aad-53d0-8c81-196d183b0160.html>CAROLINE COUNTY OFFICIALS FEAR BILL IN HOUSE OF DELEGATES WILL AFFECT COUNTY'S BROADBAND AUTHORITY</a><br>
<a href=http://www.insidenova.com/news/arlington/favola-measure-in-support-of-seniors-passes-state-senate/article_14d7ccee-e878-11e6-a2bf-cb4ec5cc3764.html>FAVOLA MEASURE IN SUPPORT OF SENIORS PASSES STATE SENATE</a><br>
<a href=http://www.insidenova.com/news/arlington/pro-arlington-towing-measure-defeated-in-house-of-delegates/article_5d75ad54-e878-11e6-bfa3-13a1429bb4cd.html>PRO-ARLINGTON TOWING MEASURE DEFEATED IN HOUSE OF DELEGATES</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_0a95620a-3274-542d-b18a-d2c0e60e288b.html?referer_url=/news/virginia/government-politics/article_0a95620a-3274-542d-b18a-d2c0e60e288b.html&referer_url=/news/virginia/government-politics/art>VIRGINIA HOUSE PASSES BILL TO REQUIRE PROOF OF CITIZENSHIP TO VOTE IN STATE, LOCAL ELECTIONS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-school-discipline-20170201-story.html>SCHOOL SUSPENSION CAPS MOVE FORWARD AT LEGISLATURE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-house-approves-religious-liberty-bill/2017/02/01/550fc618-e8b9-11e6-903d-9b11ed7d8d2a_story.html?utm_term=.333691775cdd>VIRGINIA HOUSE APPROVES BILL SUPPORTS SAY PROTECTS RELIGIOUS LIBERTY</a><br>
<a href=http://www.nbc29.com/story/34356387/virginia-senate-votes-to-increase-larceny-threshold>VIRGINIA SENATE VOTES TO INCREASE LARCENY THRESHOLD</a><br>
<a href=http://www.nbc29.com/story/34356224/virginia-senate-oks-bill-expanding-marijuana-oil-uses>VIRGINIA SENATE OKS BILL EXPANDING MARIJUANA OIL USES</a><br>

<h2>Higher Education</h2>
<a href=http://www.richmond.com/news/article_4f5c1bca-6902-58fb-a7c7-506f34bdad28.html>MBU TELLS ALUMNAE GROUP 'BOLDLY BALDWIN' TO CHANGE NAME</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/education/trademark-tiff-latest-in-prickly-relationship-between-mbu-alumnae/article_ddb1cef2-e9aa-11e6-bd22-a33ba663a946.html>TRADEMARK TIFF LATEST IN PRICKLY RELATIONSHIP BETWEEN MBU, ALUMNAE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_a72e764e-91e5-57a8-a269-10ebcb04bbd9.html>STATE LAWMAKERS INTERVENE IN FIGHT OVER MARTINSVILLE INSTITUTE</a><br>
<a href=http://www.roanoke.com/news/local/trump-s-order-clouds-futures-of-virginia-tech-students-faculty/article_70f9cafc-8d58-5859-a5a8-a08a4b63f270.html>TRUMP'S ORDER CLOUDS FUTURES OF VIRGINIA TECH STUDENTS, FACULTY</a><br>
<a href=http://www.richmond.com/news/virginia/article_0267669d-20b2-5ae8-92cc-93381bf32392.html>VIRGINIA UNIVERSITIES SEE CHILLING CONSEQUENCE TO TRAVEL RESTRICTIONS</a><br>
<a href=http://www.heraldcourier.com/news/local-colleges-navigate-trump-order/article_9dfafd09-82b5-5fe8-9484-011ff35c5397.html>LOCAL COLLEGES NAVIGATE TRUMP ORDER</a><br>
<a href=http://pilotonline.com/news/local/education/higher-education/about-students-faculty-member-at-old-dominion-university-affected-by/article_e330d439-30c6-55f9-a8a8-5a1fe9e0e77d.html>ABOUT 50 STUDENTS, 1 FACULTY MEMBER AT OLD DOMINION UNIVERSITY AFFECTED BY TRUMP'S IMMIGRATION BAN</a><br>
<a href=http://www.dailyprogress.com/news/local/uva-eyes-health-care-cost-cutting/article_28698c22-e763-11e6-95cf-ffe1ac9095e6.html>UVA EYES HEALTH CARE COST-CUTTING</a><br>
<a href=http://www.newsadvance.com/news/local/liberty-university-s-jerry-falwell-jr-to-lead-two-of/article_753725fc-e801-11e6-96d1-8f0a8c0244c7.html>LIBERTY UNIVERSITY'S JERRY FALWELL JR. TO LEAD TWO OF TRUMP'S HIGHER ED TASK FORCES</a><br>
<a href=http://www.chathamstartribune.com/news/article_f5408334-e3f5-11e6-a5c9-8b9851f176f6.html>GOVERNOR MCAULIFFE ANNOUNCES DCC'S DESIGNATION AS A CENTER OF EXCELLENCE IN CYBER DEFENSE</a><br>
<a href=http://www.newsadvance.com/news/local/local-colleges-issue-guidance-to-students-in-response-to-immigration/article_7da63d18-e81a-11e6-9b87-8fd83096c026.html>LOCAL COLLEGES ISSUE GUIDANCE TO STUDENTS IN RESPONSE TO IMMIGRATION EXECUTIVE ORDER</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/justice-ginsburg-makes-her-first-visit-to-the-military-institute-she-remade/2017/02/01/4ae42b70-e89b-11e6-b82f-687d6e6a3e7c_story.html?utm_term=.fa865b139364>JUSTICE GINSBURG MAKES HER FIRST VISIT TO THE MILITARY INSTITUTE SHE REMADE</a><br>
<a href=http://www.godanriver.com/news/danville/dcc-earns-designation-as-national-center-of-excellence-in-cyber/article_a87b16ca-e3ed-11e6-9177-bba3f09f98fa.html>DCC EARNS DESIGNATION AS NATIONAL CENTER OF EXCELLENCE IN CYBER DEFENSE</a><br>
<a href=http://www.roanoke.com/news/education/higher_education/virginia_tech/virginia-tech-releases-public-events-for-weekend-marking--year/article_0e56118c-87f3-5e6e-b163-788be596a587.html>VIRGINIA TECH RELEASES PUBLIC EVENTS FOR WEEKEND MARKING 10-YEAR ANNIVERSARY OF SHOOTING</a><br>
<a href=http://www.martinsvillebulletin.com/news/changes-coming-for-new-college-institute/article_f93a048a-e439-11e6-9266-bf0a8b33ef51.html>CHANGES COMING FOR NEW COLLEGE INSTITUTE</a><br>
<a href=https://www.apnews.com/eeb3d3a92d8d42e490689c7ddcc4fe9f>RUTH BADER GINSBURG GINSBURG VISITS VIRGINIA SCHOOL SHE HELPED OPEN TO WOMEN</a><br>

<h2>Local</h2>
<a href=http://pilotonline.com/news/government/local/virginia-beach-s-low-crime-rate-on-par-with-what/article_918dc5b0-2ff2-5ca6-ab73-930031e6d6b2.html>VIRGINIA BEACH'S LOW CRIME RATE ON PAR WITH WHAT IT WAS IN THE MID-1960S, POLICE CHIEF SAYS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/rising-pension-costs-a-growing-problem-in-budget-weary-fairfax-county/2017/01/27/16eed500-e368-11e6-a453-19ec4b3d09ba_story.html>RISING PENSION COSTS A GROWING PROBLEM IN BUDGET-WEARY FAIRFAX COUNTY</a><br>
<a href=http://pilotonline.com/news/government/local/portsmouth-councilman-bill-moody-dropping-lawsuit-over-fine/article_b2ef732e-251a-599e-8d15-6c138cbd42c8.html>PORTSMOUTH COUNCILMAN BILL MOODY DROPPING LAWSUIT OVER FINE</a><br>
<a href=http://pilotonline.com/news/government/local/to-claim-racism-over-oceanfront-development-contracts-is-just-patently/article_4e421cc8-5f67-56ce-876a-e3ccb84cc9eb.html>DEVELOPER: TO CLAIM RACISM OVER OCEANFRONT CONTRACTS IS "JUST PATENTLY WRONG</a><br>
<a href=http://www.swvatoday.com/news/floyd/article_ade7ca3c-e49b-11e6-b672-1395dff83966.html>FLOYD COUNTY SUPERVISORS CONSIDERING REGULATIONS FOR FESTIVALS</a><br>
<a href=http://fluvannareview.com/index.php?option=com_content&view=article&id=7709:treasurer&catid=81>COUNTY TREASURER CHARGED WITH MISDEMEANOR</a><br>
<a href=http://pilotonline.com/news/government/local/portsmouth-council-members-heading-out-of-town-to-get-a/article_77aafab2-36a9-5d2c-9233-90a119a9b8dd.html>PORTSMOUTH COUNCIL MEMBERS HEADING OUT OF TOWN TO GET A BETTER VIEW OF THE CITY</a><br>
<a href=http://www.fredericksburg.com/news/local/stafford/stafford-sign-ordinance-could-impact-political-campaigns/article_c5dd47a9-aae9-5ca8-80d2-8f714ee0318c.html>STAFFORD SIGN ORDINANCE COULD IMPACT POLITICAL CAMPAIGNS</a><br>
<a href=http://pilotonline.com/news/government/local/judge-moves-up-hearing-on-possible-suspension-of-norfolk-treasurer/article_b6d8ca08-e402-5e76-98b6-a974c5dbc596.html>JUDGE MOVES UP HEARING ON POSSIBLE SUSPENSION OF NORFOLK TREASURER ANTHONY BURFOOT</a><br>
<a href=http://www.progress-index.com/news/20170128/tri-cities-have-benefited-from-epa-funds-that-could-be-at-risk>TRI-CITIES HAVE BENEFITED FROM EPA FUNDS THAT COULD BE AT RISK</a><br>
<a href=http://pilotonline.com/news/government/local/push-to-allow-backyard-hens-in-virginia-beach-heats-up/article_fa4636a2-d4c2-5328-9548-0ba83e8b0d25.html>PUSH TO ALLOW BACKYARD HENS IN VIRGINIA BEACH HEATS UP</a><br>
<a href=http://www.richmond.com/news/local/henrico/article_70504ac2-8286-5b5b-99d4-12a8875c1bdd.html>HENRICO COUNTY BOARD OF SUPERVISORS CHAIRMAN DIES</a><br>
<a href=http://pilotonline.com/news/government/local/can-t-find-a-home-you-can-afford-in-virginia/article_7aad406a-b422-5cc0-b49d-99750e9db29b.html>CAN'T FIND A HOME YOU CAN AFFORD IN VIRGINIA BEACH? CITY COUNCIL DISCUSSES HOW TO HELP</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_aa67fb53-276f-5363-bf94-2d95a9741484.html>COUNCIL MEMBERS, MAYOR RIDE GRTC, HEAR CONCERNS ABOUT SOUTH SIDE BUS SERVICE</a><br>
<a href=http://pilotonline.com/news/government/local/chesapeake-s-longtime-commissioner-of-the-revenue-to-retire-this/article_7abb8efb-daca-5dee-925f-c8346a9ce655.html>CHESAPEAKE'S LONGTIME COMMISSIONER OF THE REVENUE TO RETIRE THIS YEAR</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_e079fdb7-c3b7-5b49-82ba-4177f9d89401.html>RICHMOND CITY COUNCIL AUTHORIZED $77,000 IN SEVERANCE FOR THREE FORMER COUNCIL AIDES</a><br>
<a href=http://www.richmond.com/news/article_549c99f4-5794-520d-b585-3f1a78cc53f4.html>RICHMOND SHERIFF WOODY TO BE PENALIZED FOR FAILING TO SAVE VIDEO IN JAIL DEATH CASE</a><br>
<a href=http://www.dailyprogress.com/news/politics/signer-declares-city-a-capital-of-resistance-against-trump/article_12108161-fccd-53bb-89e4-b7d5dc8494e0.html>SIGNER DECLARES CITY A 'CAPITAL OF RESISTANCE' AGAINST TRUMP</a><br>
<a href=https://www.washingtonpost.com/local/alexandria-moves-to-close-spite-garage-loophole/2017/01/25/5e0c1ef8-e326-11e6-a453-19ec4b3d09ba_story.html?utm_term=.bb96c50914b2>ALEXANDRIA TO CLOSE 'SPITE GARAGE' LOOPHOLE</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/01/31/waynesboro-stunned-south-river-restoration-plan/97279692/>WAYNESBORO 'STUNNED' BY SOUTH RIVER RESTORATION PLAN</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_9e3e571b-83a3-5e3f-aa5b-c926d7fb64d3.html>RICHMOND ADMINISTRATORS SAY CITY ATTORNEY NEVER WARNED THEM JONES' END OF TERM BONUSES VIOLATED STATE LAW</a><br>
<a href=http://www.loudountimes.com/news/article/supervisors_stress_need_to_fund_metro_look_at_future_housing_needs_at748>SUPERVISORS STRESS NEED TO FUND METRO, LOOK AT FUTURE HOUSING NEEDS AT CHAMBER BREAKFAST</a><br>
<a href=http://www.insidenova.com/news/business/fairfax/vienna-officials-mull-conundrum-how-to-maintain-housing-affordability/article_e8ea5d6a-e3e3-11e6-a986-33e6ec2351f7.html>VIENNA OFFICIALS MULL CONUNDRUM: HOW TO MAINTAIN HOUSING AFFORDABILITY?</a><br>
<a href=http://richmondfreepress.com/news/2017/jan/26/more-payouts/>3 CITY COUNCIL AIDES RECEIVE $97,000 TOTAL IN SEVERANCE, VACATION PAY</a><br>

<h2>Online News</h2>
<a href=http://www.alexandriagazette.com/news/2017/feb/01/angry-birds/>ANGRY BIRDS ON THE ROAD: LAWMAKERS WANT TO CRACK DOWN ON SCREEN TIME</a><br>
<a href=http://southsidedaily.com/2017/01/27/gov-mcauliffe-tells-norfolk-academys-300th-anniversary-class-to-think-big/>GOV. MCAULIFFE TELLS NORFOLK ACADEMY'S 300TH ANNIVERSARY CLASS TO THINK BIG</a><br>
<a href=http://www.cardplayer.com/poker-news/21270-virginia-poker-bill-moving-quickly-through-senate>VIRGINIA POKER BILL MOVING QUICKLY THROUGH SENATE</a><br>
<a href=http://www.blueridgeoutdoors.com/go-outside/outside-party-lines/>OUTSIDE PARTY LINES</a><br>
<a href=http://www.politico.com/story/2017/02/democrats-bob-goodlatte-staffers-trump-234571>DEMOCRATS PRESS GOODLATTE ON STAFFERS' SECRET WORK FOR TRUMP</a><br>
<a href=http://www.fauquiernow.com/index.php/fauquier_news/article/fauquier-bill-to-limit-dominions-political-contributions-dies-2017>BILL TO LIMIT DOMINION'S POLITICAL CONTRIBUTIONS DIES</a><br>
<a href=http://www.politico.com/story/2017/01/kaine-casts-trump-officials-as-holocaust-deniers-234332>KAINE CASTS TRUMP OFFICIALS AS HOLOCAUST DENIERS</a><br>
<a href=https://www.news.virginia.edu/content/virginias-population-growth-slow-still-ahead-national-rate-0>VIRGINIA'S POPULATION GROWTH SLOW, BUT STILL AHEAD OF NATIONAL RATE</a><br>
<a href=https://www.washingtonian.com/2017/01/31/tom-perriello-running-governor-of-virginia-trump-changed-everything/>PERRIELLO SAYS HE CAN REACH TRUMP VOTERS, TOO.</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/va-govs-race-perriello-is-running-against-trump/2017/01/31/e2c323f6-e7dd-11e6-b82f-687d6e6a3e7c_story.html?utm_term=.59da2ac4a985>VA GOV'S RACE: PERRIELLO IS RUNNING AGAINST TRUMP</a><br>

<h2>Op-Ed</h2>
<a href=http://www.roanoke.com/opinion/commentary/rasoul-marching-forward-we-keep-control/article_ba0030e2-73c9-5009-a8a1-0bf48be81461.html>RASOUL: MARCHING FORWARD, WE KEEP CONTROL</a><br>
<a href=https://www.washingtonpost.com/opinions/ken-cuccinelli-mcauliffe-takes-a-page-out-of-the-conservative-playbook/2017/01/27/47f05dd0-dcca-11e6-acdf-14da832ae861_story.html?utm_term=.ab74f881702c>CUCCINELLI: MCAULIFFE TAKES A PAGE OUT OF THE CONSERVATIVE PLAYBOOK</a><br>
<a href=http://www.roanoke.com/opinion/commentary/slemp-legislation-part-of-a-shared-focus-to-prevent-and/article_9d4715ab-b1a2-5fa0-9c7c-4d978d86ecb3.html>SLEMP: LEGISLATION PART OF A SHARED FOCUS TO PREVENT AND REDUCE OPIOID ABUSE</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/james-koch-college-costs-are-out-of-control/article_8b3abdf8-070b-588c-b9d4-76cd1b0adda8.html>KOCH: COLLEGE COSTS ARE OUT OF CONTROL</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_aa40fc4f-c263-5b09-b256-50ad2ff41cd1.html>CALFEE: MAKING HIGHER EDUCATION MORE AFFORDABLE</a><br>
<a href=http://www.richmond.com/article_197bbed0-f982-5e72-84cf-646dcb8d3313.html>ROMER: PIPELINE WILL BRING OPPORTUNITIES FOR VIRGINIA COMPANIES</a><br>
<a href=http://www.fredericksburg.com/opinion/columns/column-protecting-nation-s-electrical-grid-from-cyber-attack/article_91f969f1-0010-5143-9ef3-1f1300e6e038.html>HUNT AND HAUENSCHILD: PROTECTING NATION'S ELECTRICAL GRID FROM CYBER ATTACK</a><br>
<a href=http://www.roanoke.com/opinion/commentary/crawford-money-talks/article_851d4204-70c5-5aaf-8029-208773cc3e70.html>CRAWFORD: MONEY TALKS</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_8e52605d-7fa5-5cf5-9312-7e0d4161736a.html>MILLER: CHOICE TO HAVE ABORTION WAS A HUMANE DECISION</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_c91eae8c-6913-5d05-930e-0059521d806e.html>HORIN: MENTORING YOUTH IS KEY TO REVIVING RURAL VIRGINIA</a><br>
<a href=http://www.roanoke.com/opinion/commentary/schatz-municipal-broadband-is-wasteful/article_ba20b096-51a6-5965-99d6-e5ebcfc77afe.html>SCHATZ: MUNICIPAL BROADBAND IS WASTEFUL</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_8fac6cad-9532-5d04-9524-cd44f27eba4f.html>MASCAGNI: PROTECTING FREE EXPRESSION FOR VIRGINIANS: IT'S COMMON SENSE</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_fca91ab6-d6ce-554d-97f1-d958d7e3bd3e.html>MARCUS: VIRGINIA SHOULD ADOPT ANTI-SEMITISM LEGISLATION</a><br>
<a href=http://www.roanoke.com/opinion/commentary/hamlar-new-economy-demands-municipal-broadband/article_242e37b1-347b-5f05-8df2-8507a402dcb9.html>HAMLAR: NEW ECONOMY DEMANDS MUNICIPAL BROADBAND</a><br>

<h2>State Elections</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/one-republican-running-for-va-governor-attacks-another-on-abortion/2017/01/27/7c501f56-e4cd-11e6-a453-19ec4b3d09ba_story.html>ONE REPUBLICAN RUNNING FOR VA. GOVERNOR ATTACKS ANOTHER ON ABORTION</a><br>
<a href=http://www.insidenova.com/news/arlington/del-lopez-picks-up-republican-challenger/article_64afc3d2-e488-11e6-8d22-0f3aff304207.html>DEL. LOPEZ PICKS UP REPUBLICAN CHALLENGER</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/defamation-lawyer-turns-up-heat-on-va-state-senator-over-anonymous-emails/2017/02/01/6ccd7e2a-e879-11e6-bf6f-301b6b443624_story.html?utm_term=.669543209499>DEFAMATION LAWYER TURNS UP HEAT ON VA. STATE SENATOR OVER ANONYMOUS EMAILS</a><br>
<a href=http://www.fairfaxtimes.com/articles/virginia-gubernatorial-candidate-visits-falls-church/article_3084d0ce-e4d9-11e6-89d2-7b409925e298.html>VIRGINIA GUBERNATORIAL CANDIDATE VISITS FALLS CHURCH</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_5b5abcfe-8b61-504b-a2ea-7217bf9c5d50.html>TWO MORE CANDIDATES RUNNING FOR MCCLELLAN'S FORMER HOUSE SEAT</a><br>
<a href=https://www.washingtonpost.com/local/?utm_term=.0eb7ad957265>NORTHAM FACES THE UNEXPECTED IN PATH TO DEMOCRATIC NOMINATION</a><br>
<a href=http://www.loudountimes.com/news/article/trumps_attack_tactics_emerge_in_virginia_gubernatorial_race432>TRUMP'S ATTACK TACTICS EMERGE IN VIRGINIA GUBERNATORIAL RACE</a><br>
<a href=http://www.dailyprogress.com/news/politics/top-va-dems-blast-trump-order-on-refugees-two-gop/article_0f4ff6e8-e5bc-11e6-b956-a31d40ca70f4.html>TOP VA. DEMS BLAST TRUMP ORDER ON REFUGEES; TWO GOP GOVERNOR HOPEFULS BACK MOVE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/poll-northam-gillespie-ahead-in-va-governor-primaries-most-voters-undecided/2017/02/02/3d2eb772-e957-11e6-80c2-30e57e57e05d_story.html?utm_term=.49148e84c4e4>POLL: NORTHAM, GILLESPIE AHEAD IN VA. GOVERNOR PRIMARIES BUT MOST VOTERS UNDECIDED</a><br>
<a href=http://www.insidenova.com/headlines/northern-virginia-is-the-prize-in-the-governor-s-race/article_eb5f0e1a-e4ab-11e6-ade4-2b9b4a5c5c7a.html>NORTHERN VIRGINIA IS THE PRIZE IN THE GOVERNOR'S RACE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_cdeb36bb-4e0c-51ca-8887-a2d880f654a2.html>GILLESPIE, NORTHAM ARE THEIR PARTIES' FRONT-RUNNERS FOR GOVERNOR IN CNU POLL</a><br>
<a href=http://www.suffolknewsherald.com/2017/01/28/brewer-to-run-for-house-seat/>BREWER TO RUN FOR HOUSE SEAT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/trumps-travel-ban-provides-political-gold-for-virginia-democrats/2017/01/29/28a50024-e658-11e6-b82f-687d6e6a3e7c_story.html?utm_term=.b494af03c99e>TRUMP'S TRAVEL BAN PROVIDES POLITICAL MOMENT FOR VIRGINIA DEMOCRATS</a><br>
<a href=http://www.richmond.com/news/virginia/article_dc265f29-bcd5-5f15-87bb-77c658e8f778.html>GILLESPIE BACKS 'TEMPORARY PAUSE' ON REFUGEES; URGES ACCOMMODATION FOR GREEN CARDS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/riggleman-contender-for-va-governor-takes-on-utility-giant-dominion/2017/01/31/fb6b93ce-e7cf-11e6-80c2-30e57e57e05d_story.html?utm_term=.43163005c4dd>RIGGLEMAN, A CONTENDER FOR VIRGINIA GOVERNOR, TAKES ON UTILITY GIANT DOMINION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_450db4cf-06f5-57d9-9b85-d59367ac3d6d.html>DENVER RIGGLEMAN, GOP HOPEFUL FOR GOVERNOR, BACKS TRUMP'S POLICY ON REFUGEES, FAULTS ROLLOUT</a><br>
<a href=http://www.loudountimes.com/news/article/south_riding_republican_announces_campaign_for_87th_house_district_seat432>SOUTH RIDING REPUBLICAN ANNOUNCES CAMPAIGN FOR 87TH HOUSE DISTRICT SEAT</a><br>
<a href=http://www.richmond.com/news/local/article_723276f1-0e0a-50ce-bb55-0b3281344651.html>CANDIDATES TO SUCCEED MCCLELLAN SAY THEY'D STAND OUT IN HOUSE OF DELEGATES</a><br>

<h2>State Government</h2>
<a href=http://www.fauquier.com/news/scc-approves-dominion-virginia-power-solar-plant-in-remington/article_47335ad4-e907-11e6-a67d-97145bb07af9.html>SCC APPROVES DOMINION VIRGINIA POWER SOLAR PLANT IN REMINGTON</a><br>
<a href=http://www.dailypress.com/news/dp-nws-airport-foia-ruling-20170127-story.html>HAMPTON MAN'S FOIA LAWSUIT LED TO REVELATION ABOUT AIRPORT-BACKED LOAN</a><br>
<a href=http://fluvannareview.com/index.php?option=com_content&view=article&id=7714:group-speaks-out-about-gerrymandering&catid=34:headlines&Itemid=152>GROUP SPEAKS OUT ABOUT GERRYMANDERING</a><br>
<a href=http://www.richmond.com/news/local/chesterfield/article_37ef959c-97e9-5cf2-aad7-117b212dcc7d.html>STATE POLICE PAY COULD SURGE TO TOP OF REGION, LEAVING RICHMOND AT BOTTOM</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/article_0057d9af-960e-57b3-a953-bda41999f1ae.html>IN FIRST SIX MONTHS, VOLUNTARY GUN-SHOW BACKGROUND CHECKS YIELD A SINGLE ARREST</a><br>
<a href=http://www.richmond.com/article_d9e98fdf-3065-5b30-acd7-6d07272b410f.html>VIRGINIANS SUBJECT TO FAMILY ABUSE PROTECTIVE ORDERS SURRENDER 28 GUNS</a><br>
<a href=http://www.fredericksburg.com/news/local/report-outlines-economic-value-of-virginia-state-parks/article_bea34974-dcd0-5152-8d93-225f9600052c.html>REPORT OUTLINES ECONOMIC VALUE OF VIRGINIA STATE PARKS</a><br>
<a href=http://www.richmond.com/news/virginia/article_45dbc0ca-7a43-5b5c-9fa2-7b20342be154.html>IN VIRGINIA, FEMALE SENATE CLERK PAID LESS THAN HER MALE COUNTERPART IN HOUSE</a><br>
<a href=http://www.richmond.com/news/article_7dcde8f7-b388-5e4d-bd4d-9fbd1065428b.html>$33,000 RAISED TOWARD COST OF STATE DNA DATABASE EXPANSION STUDY</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-airport-commission-special-meeting-newport-news-story.html>AIRPORT COMMISSION SAYS IT DID NOT VIOLATE POLICY ON USING STATE FUNDING; VA.'S TOP TRANSPORTATION OFFICIAL DISAGREES</a><br>
<a href=http://pilotonline.com/business/peninsula-airport-officials-state-still-at-odds-over-use-of/article_79594ea4-6588-590c-91bf-7360e07525b9.html>PENINSULA AIRPORT CONTINUES TO DEFEND USE OF STATE FUNDS TO PAY OFF FAILED AIRLINE'S DEBT</a><br>
<a href=http://www.newsadvance.com/news/local/cvtc-director-to-transfer-within-department-of-behavioral-health-and/article_be67d314-e812-11e6-91de-c7581e3966a6.html>CVTC DIRECTOR TO TRANSFER WITHIN DEPARTMENT OF BEHAVIORAL HEALTH AND DEVELOPMENTAL SERVICES</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_8ed03dc4-593b-5f65-84b7-7ba74652aaa9.html>STATE BOARD OF EDUCATION REJECTS PROPOSAL TO REQUIRE NOTIFYING PARENTS ABOUT EXPLICIT MATERIALS</a><br>

<h2>The Friday Read</h2>
<a href=https://www.washingtonpost.com/local/education/teachable-moment-teens-behind-racist-graffiti-sentenced-to-visit-holocaust-museum-read-books-by-black-authors/2017/02/01/3b61e48c-e8cb-11e6-b82f-687d6e6a3e7c_story.html?utm_term=.98d2ebde3f05>TEENS BEHIND RACIST GRAFFITI SENTENCED TO VISIT HOLOCAUST MUSEUM, READ BOOKS BY BLACK AND JEWISH AUTHORS</a><br>
<a href=https://www.wsj.com/articles/go-ahead-write-a-check-for-your-coffee-ive-got-all-day-1485277398>GO AHEAD, WRITE A CHECK FOR YOUR COFFEE, I'VE GOT ALL DAY</a><br>

<h2>Transportation</h2>
<a href=http://pilotonline.com/news/local/transportation/state-cuts-funding-to-newport-news-airport-after-reports-it/article_a908838e-b968-5abf-ad7b-86c499af1af8.html>STATE CUTS FUNDING TO NEWPORT NEWS AIRPORT</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-newport-news-airport-loan-debt-20170128-story.html>STATE CUTS FUNDING TO AIRPORT IN RESPONSE TO PEOPLE EXPRESS LOAN</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-airport-people-express-misuse-funds-20170128-story.html>PEOPLE EXPRESS BILLS MOUNT HIGHER</a><br>
<a href=http://pilotonline.com/business/new-barge-connecting-port-and-richmond-terminal-to-debut/article_efcf1c9a-da02-5889-a732-964ab1e77c24.html>MEET THE RICHMOND EXPRESS, A NEW BARGE EXPECTED TO PLAY A KEY ROLE IN PORT EXPANSION</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-people-express-state-board-20170129-story.html>STATE OFFICIALS SAY LOAN GUARANTEE FOR PEOPLE EXPRESS VIOLATED 30-YEAR-OLD POLICY</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-elite-airways-delays-start-of-service-20170130-story.html>ELITE AIRWAYS DELAYS START OF SERVICE AT NEWPORT NEWS/WILLIAMSBURG AIRPORT</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-virginia-airline-funding-newport-news-nnwi-20170130-story.html>NEWPORT NEWS AIRPORT LOAN PAYMENT MAY LEAD TO STATEWIDE FUNDING CHANGE</a><br>
<a href=http://pilotonline.com/news/government/local/virginia-beach-will-likely-have-to-repay-state-million-for/article_fa1017cf-e6f4-5cc8-9f5e-69327520c101.html>VIRGINIA BEACH WILL LIKELY HAVE TO REPAY STATE $20 MILLION FOR LIGHT RAIL PROPERTY, CITY MANAGER SAYS</a><br>
<a href=https://www.washingtonpost.com/local/va-gop-lawmakers-threaten-to-derail-metro-safety-body--but-maybe-only-temporarily/2017/01/26/de3cb794-e3cc-11e6-a453-19ec4b3d09ba_story.html?utm_term=.423bd0f0987d>VIRGINIA GOP LAWMAKERS THREATEN TO DERAIL METRO SAFETY BODY " BUT MAYBE ONLY TEMPORARILY</a><br>

<h2>TV/Radio</h2>
<a href=http://www.newsplex.com/content/news/Tom-Perriello-campaigns-at-UVA-Law-School-412483823.html>TOM PERRIELLO CAMPAIGNS AT UVA LAW SCHOOL</a><br>
<a href=http://www.nbcwashington.com/news/local/Voter-Fraud-in-DC-Maryland-or-Virginia-What-Officials-Say-411789975.html>VOTER FRAUD IN DC, MARYLAND OR VIRGINIA? WHAT ELECTION OFFICIALS SAY</a><br>
<a href=http://wvtf.org/post/suprise-twist-virginia-lawmakers-revive-bill-consent-sex-ed-0#stream/0>IN SUPRISE TWIST, VIRGINIA LAWMAKERS REVIVE BILL ON 'CONSENT' IN SEX ED</a><br>
<a href=http://www.nbc12.com/story/34404118/virginia-faith-leaders-angry-over-failed-controversial-bathroom-bill>VIRGINIA FAITH LEADERS ANGRY OVER FAILED CONTROVERSIAL BATHROOM BILL</a><br>
<a href=http://wamu.org/story/17/02/01/virginia-activists-take-baby-steps-pushing-reform-marijuana-laws/>IN VIRGINIA, IT'S BABY STEPS IN THE FIGHT TO CHANGE MARIJUANA LAWS</a><br>
<a href=http://ideastations.org/radio/news/activists-call-constitutional-convention>ACTIVISTS CALL FOR CONSTITUTIONAL CONVENTION</a><br>
<a href=http://wavy.com/2017/01/27/governor-discusses-virginia-beachs-20-million-light-rail-bill/>GOVERNOR DISCUSSES VIRGINIA BEACH'S $20 MILLION LIGHT RAIL BILL</a><br>
<a href=http://www.nbcwashington.com/news/local/We-Are-Compiling-at-List-Pro-Trump-Group-Threatens-Boycott-of-Virginia-Knitting-Shop-412013155.html>PRO-TRUMP GROUP THREATENS BOYCOTT OF VIRGINIA KNITTING SHOP</a><br>
<a href=http://ideastations.org/radio/news/republicans-present-green-energy-bills>REPUBLICANS PRESENT GREEN ENERGY BILLS</a><br>
<a href=http://wtvr.com/2017/02/02/virginia-police-department-looking-for-clarification-about-juvenile-gun-rights/>VIRGINIA POLICE DEPARTMENT LOOKING FOR CLARIFICATION ABOUT 'LOOPHOLE' IN JUVENILE GUN RIGHTS</a><br>
<a href=http://wtkr.com/2017/02/02/bill-to-defund-planned-parenthood-clinics-in-virginia-advances/>BILL TO DEFUND PLANNED PARENTHOOD CLINICS IN VIRGINIA ADVANCES</a><br>
<a href=http://wvtf.org/post/mcauliffe-demands-answers-federal-officials-immigration-ban#stream/0>MCAULIFFE DEMANDS ANSWERS FROM FEDERAL OFFICIALS ON IMMIGRATION BAN</a><br>
<a href=http://www.wdbj7.com/content/news/Delivery-robots-closer-to-being-allowed-on-Virginia-sidewalks-as-bill-passes-senate-412353693.html>DELIVERY ROBOTS CLOSER TO BEING ALLOWED ON VIRGINIA SIDEWALKS AS BILL PASSES SENATE</a><br>
<a href=http://wavy.com/2017/01/31/virginia-krogers-to-offer-naloxone-without-prescription/>VIRGINIA KROGERS TO OFFER NALOXONE WITHOUT PRESCRIPTION</a><br>
<a href=http://www.nbc12.com/story/34359128/mcauliffe-boasts-virginia-employment-records>MCAULIFFE BOASTS VIRGINIA EMPLOYMENT RECORDS</a><br>
<a href=http://www.nbcwashington.com/investigations/Virginia-School-Districts-Ordered-to-Check-Licensing-of-Teachers-Accused-of-Sexual-Misconduct-411905605.html>VIRGINIA SCHOOL DISTRICTS URGED TO CHECK LICENSING OF TEACHERS ACCUSED OF MISCONDUCT</a><br>

<h2>Virginia Other</h2>
<a href=http://pilotonline.com/news/local/health/emergency-rooms-are-shouldering-a-growing-load-of-substance-abuse/article_ae9f6c71-c9b3-555a-8641-fab96233c192.html>HOSPITAL ERS ARE SHOULDERING A GROWING LOAD OF SUBSTANCE ABUSE, MENTAL HEALTH</a><br>
<a href=https://www.washingtonpost.com/local/md-politics/black-md-lawmakers-push-bills-to-diversify-medical-marijuana-industry/2017/01/27/c63d4f1e-e4a3-11e6-ba11-63c4b4fb5a63_story.html?utm_term=.8af693e15c02>BLACK MD. LAWMAKERS PUSH BILLS TO DIVERSIFY MEDICAL MARIJUANA INDUSTRY</a><br>
<a href=http://www.roanoke.com/business/news/pipeline-s-impacts-on-appalachian-trail-raise-concerns/article_c536b260-ea3a-55d7-b11e-9e037d2ab252.html>PIPELINE'S IMPACTS ON APPALACHIAN TRAIL RAISE CONCERNS</a><br>
<a href=http://www.godanriver.com/news/danville/study-dan-river-farms-and-crops-are-untainted-by-coal/article_5df93abb-9742-56b8-8482-eb959a35135c.html>STUDY: DAN RIVER FARMS AND CROPS ARE UNTAINTED BY COAL ASH</a><br>
<a href=http://www.godanriver.com/news/danville/city-installs-system-for-detection-of-upstream-dan-river-contamination/article_aa129dc4-e4dc-11e6-820c-3f0eb4bce5e0.html>CITY INSTALLS SYSTEM FOR DETECTION OF UPSTREAM DAN RIVER CONTAMINATION</a><br>
<a href=http://www.heraldcourier.com/news/pomrenke-receives-reduced-sentence/article_104e4785-ea5c-554a-920f-11a2d65318bd.html>POMRENKE RECEIVES REDUCED SENTENCE</a><br>
<a href=http://www.bizjournals.com/washington/news/2017/01/27/heres-what-local-leaders-think-of-idea-for-a.html>HERE'S WHAT LOCAL LEADERS THINK OF IDEA FOR A TOURIST TOWER IN ROSSLYN</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/state/unions-tout-gas-pipeline-for-american-jobs-but-south-korean/article_c2511cec-e754-11e6-99e7-bbc1ada1bd71.html>UNIONS RALLY AT CAPITOL TO TOUT PIPELINE</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-salt-marsh-vims-20170124-story.html>VIMS SALT MARSH STUDY FINDS BARRIER ISLAND MIGRATION A THREAT</a><br>
<a href=http://www.roanoke.com/business/news/franklin_county/ferc-delays-release-date-for-final-environmental-statement-for-mountain/article_32e5fb8a-7126-5ba4-9114-9068e0b7d1d2.html>FERC DELAYS RELEASE DATE FOR FINAL ENVIRONMENTAL STATEMENT FOR MOUNTAIN VALLEY PIPELINE</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/state/report-says-trump-has-atlantic-coast-pipeline-among-infrastructure-priorities/article_f5859130-e423-11e6-a921-07f0ed949b38.html>REPORT SAYS TRUMP HAS ATLANTIC COAST PIPELINE AMONG INFRASTRUCTURE PRIORITIES</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/article_09ca3aeb-2336-5eb3-bc2a-db9beeeb25ea.html>MOTION TO DISMISS HEARD IN VIRGINIA CITIZENS DEFENSE LEAGUE SUIT AGAINST KATIE COURIC</a><br>
<a href=http://www.richmond.com/news/virginia/article_e526ea21-8024-5eea-a737-3e9abe23f37f.html>REMOVAL OF LEE STATUE FROM CHARLOTTESVILLE PARK NOW LOOKS LIKELY</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-chesapeake-bay-program-report-20170201-story.html>'BAY BAROMETER' SHOWS VIRGINIA ON TRACK TO MEET 2017 BAY CLEANUP GOALS, BUT MORE WORK AHEAD</a><br>
