
<h2>Columnists</h2>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/schapiro-on-redistricting-reform-gop-closes-in-for-the-kill/article_9fb119cc-8d33-506b-a98e-9b1576bfa50e.html>SCHAPIRO: ON REDISTRICTING REFORM, GOP CLOSES IN FOR THE KILL</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/bart-hinkle/a-barton-hinkle-column---is-it-religious-liberty/article_59a02f32-cd72-5b62-8d31-b0cb960e1e0d.html>HINKLE: IS IT RELIGIOUS LIBERTY OR DISCRIMINATION? YES.</a><br>
<a href=http://pilotonline.com/sports/columnist/harry-minium/minium-mccauliffe-should-sign-the-tim-tebow-bill/article_1467ada7-aaee-59b3-a2ea-a2cc5f944aca.html>MINIUM: MCAULIFFE SHOULD SIGN THE TEBOW BILL</a><br>
<a href=http://pilotonline.com/news/government/politics/around-capital-square-crossover-week-has-come-and-gone-but/article_594e6d7d-6dbd-5bad-a982-99e344606e21.html>PASCALE: AROUND CAPITAL SQUARE: CROSSOVER WEEK HAS COME AND GONE, BUT DO WE REALLY NEED IT?</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-candidate-deserves-blowback-for-crack/article_73800f60-bb9b-5f20-8052-e73b32dd64ce.html>CHESLEY: CANDIDATE DESERVES BLOWBACK FOR 9/11 CRACK</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_935874ad-aa2a-56d2-909c-ee43d3b2e734.html>SCHAPIRO: WHEN YOU'RE EXPLAINING IN POLITICS, YOU'RE LOSING</a><br>
<a href=http://www.fredericksburg.com/news/local/columns/donnie-johnston-virginia-should-hit-the-brakes-on-proposed-dawdling/article_9e51cc39-f6fb-5b70-bb61-60f89dc6e009.html>JOHNSTON: VIRGINIA SHOULD HIT THE BRAKES ON PROPOSED DAWDLING LAW</a><br>

<h2>Congress</h2>
<a href=http://pilotonline.com/news/government/nation/sen-warner-to-vote-against-scott-pruitt-as-epa-chief/article_f658011e-340d-5b30-9a99-7b1e1e9256e4.html>SEN. WARNER TO VOTE AGAINST SCOTT PRUITT AS EPA CHIEF</a><br>
<a href=http://thehill.com/homenews/house/319184-gop-rep-points-to-decent-amount-of-voter-fraud-in-virginia>GOP REP POINTS TO 'DECENT AMOUNT OF VOTER FRAUD' IN VIRGINIA</a><br>
<a href=http://www.nvdaily.com/news/2017/02/goodlatte-invites-some-to-lunch-protesters-gather-outside-ask-for-town-hall/>GOODLATTE INVITES SOME TO LUNCH: PROTESTERS GATHER OUTSIDE ASK FOR TOWN HALL</a><br>
<a href=http://www.roanoke.com/news/politics/constituents-press-goodlatte-garrett-for-town-hall-meetings/article_5dd9c752-9a9c-5bfe-bc62-554d89f5a4c8.html>CONSTITUENTS PRESS GOODLATTE, GARRETT FOR TOWN HALL MEETINGS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/mceachin-scott-seek-answers-in-death-of-va-grandfather-who/article_e8555e9e-c46b-5798-a7d0-9e2f5caa0590.html>MCEACHIN, SCOTT SEEK ANSWERS IN DEATH OF MAN SHOT WHILE PLAYING POKEMON GO</a><br>
<a href=http://www.dailyprogress.com/news/politics/garrett-s-facebook-live-town-hall-does-little-to-quell/article_c281087e-f318-11e6-8193-2b72557ebd0d.html>GARRETT'S FACEBOOK LIVE TOWN HALL DOES LITTLE TO QUELL CONSTITUENT CONCERNS</a><br>
<a href=http://www.dailyprogress.com/news/politics/garrett-s-first-bill-would-rename-charlottesville-s-federal-courthouse/article_0862083e-f3b4-11e6-9e9d-27392cc64c90.html>GARRETT'S FIRST BILL WOULD RENAME CHARLOTTESVILLE'S FEDERAL COURTHOUSE AFTER SCALIA</a><br>
<a href=http://www.dailyprogress.com/news/politics/brat-backs-off-up-in-my-grill-comment-in-facebook/article_6eff80b8-f3e0-11e6-9cfa-bf6ce8e80b22.html>BRAT BACKS OFF 'UP IN MY GRILL' COMMENT IN FACEBOOK TOWN HALL</a><br>
<a href=http://www.loudountimes.com/news/article/constituents_call_on_comstock_to_hold_town_hall_in_person>CONSTITUENTS CALL ON REP. COMSTOCK TO HOLD TOWN HALL IN PERSON</a><br>
<a href=http://www.insidenova.com/news/arlington/beyer-tapped-for-leadership-slot-on-house-committee/article_2e7a2cbe-f43f-11e6-baf8-c794b13adccb.html>BEYER TAPPED FOR LEADERSHIP SLOT ON HOUSE COMMITTEE</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-kaine-pruitt-senate-20170216-story.html>KAINE CITES SEA LEVEL RISE IN HAMPTON ROADS IN OPPOSING PRUITT FOR EPA HEAD</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/yes-and-no-kaine-warner-on-trump-cabinet-nominees/article_d3e0de16-7891-5e0a-b8f0-d33d24ea681c.html>YES AND NO: KAINE, WARNER ON TRUMP CABINET NOMINEES</a><br>
<a href=http://pilotonline.com/news/government/nation/rep-taylor-hosting-public-forums-this-month/article_e2f7ff3d-f2c6-5608-8d5a-9ce732d898f6.html>REP. TAYLOR HOSTING 3 PUBLIC FORUMS THIS MONTH</a><br>
<a href=http://www.roanoke.com/news/politics/rep-bob-goodlatte-declines-invite-to-people-s-town-hall/article_ed681b0a-0e0e-5221-b0c2-c4e196abaef2.html>REP. BOB GOODLATTE DECLINES INVITE TO 'PEOPLE'S TOWN HALL' IN VINTON NEXT WEEK</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/02/09/no-goodlatte-public-meeting-here-years/97650038/>NO GOODLATTE PUBLIC MEETING HERE IN YEARS</a><br>
<a href=http://www.southwesttimes.com/2017/02/protesters-gather-outside-morgan-griffiths-office/>PROTESTERS GATHER OUTSIDE MORGAN GRIFFITH'S OFFICE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/activists-plan-to-hold-town-hall-in-rep-comstocks-northern-virginia-district--with-or-without-her/2017/02/11/32306748-efb1-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.75fe28fe0cd2>ACTIVISTS PLAN TO HOLD TOWN HALL IN REP. COMSTOCK'S NORTHERN VIRGINIA DISTRICT " WITH OR WITHOUT HER</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-kaine-scott-aca-20170217-story.html>WORRIES ERUPT AT NEWPORT NEWS FORUM HELD BY TIM KAINE AND BOBBY SCOTT</a><br>
<a href=https://www.washingtonpost.com/local/ex-navy-seal-from-virginia-aims-to-make-mark-in-congress/2017/02/12/9ba4e092-f131-11e6-9fb1-2d8f3fc9c0ed_story.html?utm_term=.88cbe56afc49>EX-NAVY SEAL FROM VIRGINIA AIMS TO MAKE MARK IN CONGRESS</a><br>
<a href=http://pilotonline.com/news/government/nation/at-town-hall-meeting-kaine-and-scott-face-anxious-citizens/article_aecce553-8077-5ea8-9870-2df5dc296292.html>AT TOWN HALL MEETING, KAINE AND SCOTT FACE ANXIOUS CITIZENS WORRIED ABOUT PRESIDENT TRUMP</a><br>
<a href=http://www.winchesterstar.com/news/clarke/officials-question-immigration-enforcement/article_b45b98f8-0f5d-563a-918e-af363aa14e58.html>OFFICIALS QUESTION IMMIGRATION ENFORCEMENT</a><br>
<a href=http://www.winchesterstar.com/news/clarke/groups-protest-head-to-head-outside-comstock-s-office/article_ded3fada-4673-5801-9ad5-73f94e5185fa.html>GROUPS PROTEST HEAD-TO-HEAD OUTSIDE COMSTOCK'S OFFICE</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-va-sen-warner-pushes-ice-for-information-on-raids-20170217-post.html>VA SEN WARNER PUSHES ICE FOR INFORMATION ON RAIDS</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/kaine-joins-voices-questioning-ice-operation-outside-nova-shelter/article_c5784fe9-6224-5232-8536-dc4c8e5adff1.html>KAINE JOINS VOICES QUESTIONING ICE OPERATION OUTSIDE NOVA SHELTER</a><br>
<a href=http://www.nvdaily.com/news/2017/02/protesters-demand-comstock-town-hall/>PROTESTERS DEMAND COMSTOCK TOWN HALL</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/02/17/goodlatte-responds-town-hall-outcry/98058798/>GOODLATTE RESPONDS TO TOWN HALL OUTCRY</a><br>

<h2>Economy/Business</h2>
<a href=http://pilotonline.com/business/ports-rail/port-launches-first-of-two-big-expansion-projects/article_f5967582-d0c6-57f9-9c1b-6d480a9fc492.html>PORT LAUNCHES FIRST OF TWO BIG EXPANSION PROJECT</a><br>
<a href=http://www.godanriver.com/work_it_sova/news/numerous-violations-found-in-august-death-at-goodyear/article_edb3644a-f248-11e6-83ec-c71b46b54884.html>NUMEROUS VIOLATIONS FOUND IN AUGUST DEATH AT GOODYEAR</a><br>
<a href=https://www.washingtonpost.com/news/business/wp/2017/02/14/this-beloved-grocery-chain-is-the-latest-company-to-face-trump-related-boycotts/?utm_term=.e051786ff133>BELOVED GROCERY CHAIN IS THE LATEST COMPANY TO FACE TRUMP-RELATED BOYCOTTS</a><br>
<a href=http://pilotonline.com/business/defense-shipyards/newport-news-shipbuilding-president-on--ship-navy-little-bit/article_afdb14c0-8a5c-5caf-a86f-f094eb80b775.html>NEWPORT NEWS SHIPBUILDING PRESIDENT ON 350-SHIP NAVY: 'LITTLE BIT OF A WAIT-AND-SEE'</a><br>
<a href=https://www.wsj.com/articles/one-of-governments-largest-landlords-pays-millions-each-year-to-trump-company-1487241001>ONE OF GOVERNMENT'S LARGEST LANDLORDS PAYS MILLIONS EACH YEAR TO TRUMP COMPANY</a><br>
<a href=http://www.dailypress.com/business/dp-hii-2016-year-end-story.html>2016 PROFITS JUMP 42 PERCENT FOR HUNTINGTON INGALLS; SHIPYARD TO HIRE 3,000 THIS YEAR</a><br>
<a href=http://pilotonline.com/news/military/mayport-naval-station-in-florida-will-be-home-for-triton/article_f68bee6d-5f0e-52f8-adcf-74c2a2ece497.html>MAYPORT NAVAL STATION IN FLORIDA WILL BE HOME FOR TRITON DRONES</a><br>
<a href=http://pilotonline.com/business/defense-shipyards/huntington-ingalls-reports-percent-profit-gain-for-th-quarter/article_0e7edee8-8dcd-5094-80f7-7be27c5c8c33.html>HUNTINGTON INGALLS REPORTS 294 PERCENT PROFIT GAIN FOR 4TH-QUARTER 2016</a><br>
<a href=http://www.roanoke.com/business/news/roanoke/freightcar-america-to-lay-off-in-roanoke-state-officials-told/article_f4d58397-62fa-5302-8d1d-32d687066917.html>FREIGHTCAR AMERICA TO LAY OFF 168 IN ROANOKE, STATE OFFICIALS TOLD</a><br>
<a href=http://www.roanoke.com/business/goodyear-to-pay-million-fine-after-worker-deaths/article_28aef03a-3763-5529-a490-8c8d97d29876.html>GOODYEAR TO PAY $1.75 MILLION FINE AFTER WORKER DEATHS</a><br>
<a href=http://www.godanriver.com/news/danville/million-settlement-reached-after-fatal-accidents-at-danville-goodyear-plant/article_0055cf3a-efaa-11e6-a844-b303d2f867ed.html>$1.75 MILLION SETTLEMENT REACHED AFTER FATAL ACCIDENTS AT DANVILLE GOODYEAR PLANT</a><br>
<a href=http://www.richmond.com/business/local/owens-minor-to-occupy-four-floors-in-riverfront-plaza-bringing/article_551b7b8f-5f81-5137-a81d-5b3c9d57c3b8.html>OWENS & MINOR TO OCCUPY FOUR FLOORS IN RIVERFRONT PLAZA, BRINGING 500 JOBS TO DOWNTOWN RICHMOND</a><br>
<a href=http://www.delmarvanow.com/story/news/2017/02/15/navys-triton-drone-program-bypasses-wallops/97976322/>NAVY'S TRITON DRONE PROGRAM BYPASSES WALLOPS</a><br>
<a href=https://secure.solesolution.com/pages/login>ODP BALKS AT ROLE IN SOLAR PROJECT</a><br>
<a href=http://www.insidenova.com/headlines/is-booming-tysons-defying-normal-laws-of-economics/article_5769d1d2-f503-11e6-bc49-0bbf4b141199.html>IS BOOMING TYSONS DEFYING NORMAL LAWS OF ECONOMICS?</a><br>
<a href=http://www.suffolknewsherald.com/2017/02/11/ports-experience-huge-growth/>PORTS EXPERIENCE HUGE GROWTH</a><br>
<a href=https://www.washingtonpost.com/local/dc-region-braces-for-shock-from-trump-effect-on-spending-federal-workforce/2017/02/12/5d32309c-e963-11e6-80c2-30e57e57e05d_story.html?utm_term=.ef3e2202c6b9>D.C. REGION BRACES FOR SHOCK FROM TRUMP EFFECT ON SPENDING, FEDERAL WORKFORCE</a><br>
<a href=http://pilotonline.com/business/ports-rail/hampton-roads-coal-exports-fell-for-the-rd-year-in/article_41165cf7-3f66-50ef-be0a-5eebd1ec818a.html>HAMPTON ROADS COAL EXPORTS FELL FOR THE 3RD YEAR IN A ROW</a><br>

<h2>Editorials</h2>
<a href=http://pilotonline.com/opinion/editorial/editorial-d-c-s-strange-love-for-coal/article_5b8d3d71-695d-5749-91f1-0f6964f4b7dd.html>D.C.'S STRANGE LOVE FOR COAL</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial---it-s-called-freedom-of-speech-maybe/article_f2b56a0e-5833-5993-9156-ad502374a46c.html>IT'S CALLED FREEDOM OF SPEECH. MAYBE YOU'VE HEARD OF IT?</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial---buy-a-boat-with-campaign-funds-sure/article_51487e40-5613-5c11-bf65-fca13781f8c5.html>BUY A BOAT WITH CAMPAIGN FUNDS? SURE THING, SAYS GENERAL ASSEMBLY</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-the-latest-death-of-redistricting-reform/article_db4d52bf-23c2-5ba0-926f-ac95086ac0ff.html>THE LATEST DEATH OF REDISTRICTING REFORM</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-our-new-demographic-realities/article_4db8d2b5-64e3-50fc-9a42-d7e701733c9b.html>OUR NEW DEMOGRAPHIC REALITIES</a><br>
<a href=https://www.washingtonpost.com/opinions/a-chance-for-charter-schools-to-finally-break-through-in-virginia/2017/02/14/82e6539e-efd6-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.f2b4242991db>A CHANCE FOR CHARTER SCHOOLS TO FINALLY BREAK THROUGH IN VIRGINIA</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial---for-republican-gubernatorial-candidates-it-s-already/article_ece81120-e6b6-54a2-98f6-5fca61ef2add.html>FOR REPUBLICAN GUBERNATORIAL CANDIDATES, IT'S ALREADY DEFCON 1</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-protontherapy-0216-20170215-story.html>REFINE MEDICAL EFFICACY FOCUS</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-does-geography-matter-anymore/article_5fc749d1-305e-5fe6-be71-20c769f2f394.html>DOES GEOGRAPHY MATTER ANYMORE?</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-no-richmond-shouldn-t-be-a-sanctuary-city/article_c872770e-818b-5487-ab41-7efeae66bd98.html>NO, RICHMOND SHOULDN'T BE A "SANCTUARY CITY"</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-warner-offering-calm-in-eye-of-the-storm/article_16e197d4-4cd7-58e2-a4d7-3ff099f0b320.html>WARNER OFFERING CALM IN EYE OF THE STORM</a><br>
<a href=https://www.washingtonpost.com/opinions/the-grand-old-party-of-disenfranchisement/2017/02/10/56e8e262-ef12-11e6-9662-6eedf1627882_story.html?utm_term=.0529f30e27f7>THE GRAND OLD PARTY OF DISENFRANCHISEMENT</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-some-historical-markers-we-need/article_aaa6f86e-2fb3-5297-97ae-e97bde1bcab0.html>SOME HISTORICAL MARKERS WE NEED</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-why-can-t-democrats-win-the-general-assembly/article_9168f8c2-0468-5c14-b1e5-a15c25d3322e.html>WHY CAN'T DEMOCRATS WIN THE GENERAL ASSEMBLY?</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-doubly-bad/article_ea549d67-0007-5511-8dd0-cb4c75143e9b.html>DOUBLY BAD</a><br>
<a href=http://www.dnronline.com/opinion/the-race-moves-left-perriello-turns-to-sanders-staff/article_8ac05996-eef2-11e6-8c32-df6e441f5e37.html>THE RACE MOVES LEFT " PERRIELLO TURNS TO SANDERS' STAFF</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/money-for-a-seminar-or-mental-care/article_e2475d44-f493-11e6-8f5b-8313bf61e711.html>MONEY FOR A SEMINAR OR MENTAL CARE?</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-protecting-transportation-funds-in-va/article_b3ee6f0a-f48e-11e6-b562-7f2f44ade14a.html>PROTECTING TRANSPORTATION FUNDS IN VA.</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-in-credits-a-great-value/article_0f290338-a69c-534d-b427-ae5ce02da588.html>IN CREDITS, A GREAT VALUE</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-senate-should-reject-bill-limiting-broadband/article_909021a3-26db-5c2b-8a86-bc647485f217.html>SENATE SHOULD REJECT BILL LIMITING BROADBAND</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/state-s-governor-race-could-mirror/article_1ca8f936-efd3-11e6-a743-ffaa8f0c5ef8.html>STATE'S 2017 GOVERNOR RACE COULD MIRROR 2016</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-but-is-he-taking-a-trumpian-path/article_094fb50f-3f12-523f-bd6a-593b8509091f.html>BUT IS HE TAKING A TRUMPIAN PATH?</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_a486dba9-5ffa-538c-9cfc-6a4ec68f21c7.html>VIRGINIA REPUBLICANS FACED A TEST IN TRUMP'S IMMIGRATION ORDER. MOST OF THEM FLUNKED.</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-perriello-s-quest/article_045b2201-2f84-5581-bdec-099d5d5bd84e.html>PERRIELLO'S QUEST</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-perriello-s-political-showmanship/article_a345a2b3-bf00-5621-9082-5235905432e4.html>PERRIELLO'S POLITICAL SHOWMANSHIP</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_191b480f-ad24-501a-a701-2781ff947d58.html>ONE WORD EXPLAINS THE SLIDE IN COLLEGE ENROLLMENT: DUH</a><br>

<h2>Executive Branch</h2>
<a href=http://www.richmond.com/news/virginia/government-politics/federal-judge-grants-virginia-s-bid-for-preliminary-injunction-further/article_d9dc1beb-9dbd-51de-9542-9642dcb5eb84.html>FEDERAL JUDGE SIDES WITH VIRGINIA, RULES AGAINST TRUMP TRAVEL BAN</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/judge-in-virginia-grants-preliminary-injunction-against-travel-ban/2017/02/13/a6164bfe-f255-11e6-a9b0-ecee7ce475fc_story.html?utm_term=.929fc397130b>FEDERAL JUDGE IN VIRGINIA ISSUES STRONG REBUKE OF TRUMP TRAVEL BAN</a><br>
<a href=http://www.newsadvance.com/news/national/wire/judge-grants-injunction-against-trump-travel-ban-in-virginia/article_21511955-0533-5720-8c2c-219be05e266e.html>JUDGE GRANTS INJUNCTION AGAINST TRUMP TRAVEL BAN IN VIRGINIA</a><br>
<a href=https://www.wsj.com/articles/trump-travel-ban-likely-unconstitutional-federal-judge-in-virginia-finds-1487040572>TRUMP TRAVEL BAN LIKELY UNCONSTITUTIONAL, FEDERAL JUDGE IN VIRGINIA FINDS</a><br>
<a href=http://www.styleweekly.com/richmond/mcauliffe-works-to-keep-spirits-up-in-virginias-growing-distillery-industry/Content?oid=2401804>MCAULIFFE WORKS TO KEEP SPIRITS UP IN VIRGINIA'S GROWING DISTILLERY INDUSTRY</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/why-virginia-matters-in-the-travel-ban-fight/2017/02/14/27cfff3c-f2ec-11e6-b9c9-e83fce42fb61_story.html?utm_term=.ca2b82e4f724>WHY VIRGINIA MATTERS IN THE TRAVEL BAN FIGHT</a><br>
<a href=https://www.wsj.com/articles/virginia-judges-immigration-ruling-increases-pressure-on-white-house-1487118889>VIRGINIA JUDGE'S IMMIGRATION RULING INCREASES PRESSURE ON WHITE HOUSE</a><br>
<a href=http://www.roanoke.com/news/virginia/mcauliffe-voices-concern-after-ice-agents-arrest-men-leaving-virginia/article_0f6d7a46-a84a-5e04-8f93-407f0b79f955.html>MCAULIFFE VOICES CONCERN AFTER ICE AGENTS ARREST MEN LEAVING VIRGINIA CHURCH SHELTER</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/mcauliffe-warner-push-u-s-for-answers-on-immigration-enforcement/article_e1f7b8a6-d974-5956-923a-f7184ccc61de.html>MCAULIFFE, WARNER PUSH U.S. FOR ANSWERS ON IMMIGRATION ENFORCEMENT</a><br>
<a href=http://pilotonline.com/news/government/virginia/governor-appoints-interim-inspector-general-after-last-one-forced-out/article_762895bb-cba0-5fe5-aa8f-e4d4302b8419.html>GOVERNOR APPOINTS INTERIM INSPECTOR GENERAL AFTER LAST ONE FORCED OUT BY GENERAL ASSEMBLY</a><br>
<a href=https://www.washingtonpost.com/local/education/va-governor-appoints-anne-holton-to-education-board/2017/02/17/7130d942-f546-11e6-8d72-263470bf0401_story.html?utm_term=.1e73fb43622c>VA. GOVERNOR APPOINTS ANNE HOLTON TO EDUCATION BOARD</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-seeks-minor-changes-in-budget-worries-about-impact-of-trump/2017/02/17/8e7dc640-f523-11e6-a9b0-ecee7ce475fc_story.html?utm_term=.6752481b4ade>MCAULIFFE SEEKS MINOR CHANGES IN BUDGET, WORRIES ABOUT IMPACT OF TRUMP</a><br>
<a href=http://pilotonline.com/news/government/virginia/mcauliffe-moves-to-restore-mental-health-jail-funding-in-budget/article_d5497753-7e94-58a0-85c2-5b815bf6c6c8.html>MCAULIFFE MOVES TO RESTORE MENTAL HEALTH, JAIL FUNDING IN BUDGET NEGOTIATIONS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-jamestown-yorktown-budget-20170217-story.html>MCAULIFFE: LESS JAMESTOWN/YORKTOWN COMMEMORATION, MORE MENTAL HEALTH FUNDING</a><br>
<a href=http://www.dnronline.com/news/mcauliffe-gives-tech-talk-governor-says-virginia-could-be-cyber/article_4f609660-f012-11e6-9e0f-dbc1c5dfe4b8.html>MCAULIFFE GIVES TECH TALK</a><br>
<a href=http://www.roanoke.com/news/education/mcauliffe-names-anne-holton-to-state-board-of-education/article_27df0e8e-e8cb-5a91-bdac-3f80c835d2f9.html>MCAULIFFE NAMES ANNE HOLTON TO STATE BOARD OF EDUCATION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/mcauliffe-pushes-legislators-to-restore-funding-for-mentally-ill-in/article_664f09e4-da24-552f-9a82-e4920a5a223e.html>MCAULIFFE PUSHES LEGISLATORS TO RESTORE FUNDING FOR MENTALLY ILL IN JAILS, ELECTION SYSTEM</a><br>
<a href=http://www.insidenova.com/headlines/mcauliffe-seeks-funding-for-mental-health-screenings-in-jails/article_63f13086-f557-11e6-bc3c-6f35d5757217.html>MCAULIFFE SEEKS FUNDING FOR MENTAL HEALTH SCREENINGS IN JAILS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_6f8bdd1d-bde8-54a9-8157-fddd06986da8.html>MCAULIFFE: SPEND $5M ON MENTAL HEALTH, NOT ON WELL-HEELED COMMEMORATION</a><br>

<h2>Federal Elections</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/kaine-has-big-lead-in-2018-senate-race-early-polling-shows/2017/02/17/0ab08564-f537-11e6-a9b0-ecee7ce475fc_story.html?utm_term=.5123154e8650>KAINE HAS BIG LEAD IN 2018 SENATE RACE, EARLY POLLING SHOWS</a><br>

<h2>From vpap.org</h2>
<a href=http://www.vpap.org/visualizations/house-subcommittee-party-representation>VISUALIZATION: PARTISAN MAKEUP OF HOUSE SUBCOMMITTEES</a><br>

<h2>General Assembly</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/illegal-immigrants-would-do-overtime-in-va-jails-under-bill-to-boost-deportations/2017/02/13/8afd0c6a-f217-11e6-a9b0-ecee7ce475fc_story.html>ILLEGAL IMMIGRANTS WOULD DO OVERTIME IN VA. JAILS UNDER BILL TO BOOST DEPORTATIONS</a><br>
<a href=http://pilotonline.com/news/government/politics/sen-lucas-bill-to-aid-port-cities-dies-in-committee/article_728e83dd-ff52-5512-8140-e071201b2dd4.html>SEN. LUCAS BILL TO AID PORT CITIES DIES IN COMMITTEE</a><br>
<a href=http://www.dailypress.com/news/york-county/dp-nws-ypq-poquoson-city-council-0213-20170213-story.html>POQUOSON COUNCIL VOICES SUPPORT FOR WATERMEN LEGISLATION</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-redistricting-reform-virginia-20170213-story.html>REDISTRICTING REFORM GROUP BLASTS 'POLITBURO-STYLE' ELECTIONS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-dominion-nuclear-freeze-20170213-story.html>DOMINION BILL MOVES, BUT A POPULIST WIND BLOWS AGAINST ENERGY BEHEMOTH</a><br>
<a href=http://www.dolphnsix.com/news/2788658/proton-therapy-bill-heads-senate-floor>PROTON THERAPY BILL HEADS TO SENATE FLOOR</a><br>
<a href=http://pilotonline.com/news/government/virginia/virginia-senate-approval-sends-tebow-bill-to-mcauliffe/article_50b6db6b-ea81-50ff-81ca-93d1d3b36247.html>VIRGINIA SENATE APPROVAL SENDS 'TEBOW BILL' TO MCAULIFFE</a><br>
<a href=http://pilotonline.com/news/government/virginia/is-it-gerrymandering---or-democratic-clustering/article_66a5119a-4412-5fb2-9123-020891b75d28.html>IS IT GERRYMANDERING - OR DEMOCRATIC CLUSTERING?</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/reshaped-broadband-bill-heads-to-senate/article_3b00fa32-87df-56f8-a2ae-3324ec46fbcd.html>RESHAPED BROADBAND BILL HEADS TO SENATE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/virginia-redistricting-advocates-mount-last-gasp-effort-as-house-takes/article_eabc9b99-6a20-593a-8448-593fbc69b73d.html>VIRGINIA REDISTRICTING ADVOCATES MOUNT LAST-GASP EFFORT AS HOUSE TAKES UP SENATE PROPOSALS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/policy-on-long-term-contraceptives-excluded-from-state-budget-proposals/article_64d359e3-4bff-5fa5-9077-001772f05118.html>POLICY ON LONG-TERM CONTRACEPTIVES EXCLUDED FROM STATE BUDGET PROPOSALS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/house-wants-state-control-over-bank-street-when-general-assembly/article_6164b6ed-25b1-564d-8c59-57037c909055.html>HOUSE WANTS STATE CONTROL OVER BANK STREET WHEN GENERAL ASSEMBLY MOVES DOWN CAPITOL HILL</a><br>
<a href=http://www.dnronline.com/news/local/budget-cuts-threaten-coyote-abatement-program/article_85745a08-f273-11e6-bfc7-136c5c25cb41.html>BUDGET CUTS THREATEN COYOTE ABATEMENT PROGRAM</a><br>
<a href=http://www.loudountimes.com/news/article/republicans_divided_on_vogel_led_redistricting_reform432>REPUBLICANS DIVIDED ON VOGEL-LED REDISTRICTING REFORM</a><br>
<a href=http://www.newsadvance.com/work_it_lynchburg/news/what-s-left-of-byron-s-broadband-measure-moves-forward/article_d19ab25e-f252-11e6-a9d6-83bb81cad464.html>WHAT'S LEFT OF BYRON'S BROADBAND MEASURE MOVES FORWARD IN SENATE</a><br>
<a href=http://pilotonline.com/news/government/virginia/in-response-to-newport-news-airport-loan-bill-tightens-airport/article_13f21ed4-4f82-5c25-ae19-b5124cb0afa6.html>IN RESPONSE TO NEWPORT NEWS AIRPORT LOAN, BILL TIGHTENS AIRPORT SPENDING OF STATE FUNDS</a><br>
<a href=http://www.richmond.com/news/virginia/virginia-house-debates-whether-civil-war-era-guns-can-keep/article_b638d3ff-069b-53b4-b97c-548c9b7318f4.html>BILL AIMS TO ALLOW NONVIOLENT FELONS TO OWN CIVIL WAR-ERA GUNS</a><br>
<a href=http://www.richmond.com/news/virginia/dominion-underground-line-bill-appalachian-bill-bypassing-local-zoning-clear/article_eb5460f0-f0d3-5832-823c-d13505851fe7.html>DOMINION UNDERGROUND LINE BILL, APPALACHIAN BILL BYPASSING LOCAL ZONING, CLEAR COMMITTEE</a><br>
<a href=http://www.newsadvance.com/news/local/general-assembly-kills-redistricting-reform-efforts/article_c9484274-f2c0-11e6-bfd2-2b8d634d979d.html>GENERAL ASSEMBLY KILLS REDISTRICTING REFORM EFFORTS</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-nn-council-feb-20170214-story.html>SPIRITO, BOUREY DEFEND PEOPLE EXPRESS LOAN TO NEWPORT NEWS CITY COUNCIL</a><br>
<a href=http://www.dailypress.com/news/politics/dp-house-panel-oks-tighter-rules-for-airports-prompted-by-people-express-deal-20170214-story.html>HOUSE PANEL OKS TIGHTER RULES FOR AIRPORTS, PROMPTED BY PEOPLE EXPRESS DEAL</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-group-homes-bill-20170214-story.html>NORMENT GROUP HOME BILL FADES AWAY</a><br>
<a href=http://www.richmond.com/news/one-senator-sees-conflict-as-bills-addressing-higher-ed-cost/article_7d39e038-badb-5688-bd85-d07043a31f5d.html>ONE SENATOR SEES CONFLICT AS BILLS ADDRESSING HIGHER-ED COST ARE THWARTED</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/compromise-reached-on-battle-between-local-and-state-investment-pools/article_5df99ed8-7ebd-50b0-871b-b3dc22d50e96.html>COMPROMISE REACHED ON BATTLE BETWEEN LOCAL AND STATE INVESTMENT POOLS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/virginia-redistricting-reform-efforts-dead-for-the-year-as-house/article_29711020-7228-5448-bfeb-f2b383d58ab7.html>VIRGINIA REDISTRICTING REFORM EFFORTS DEAD FOR THE YEAR</a><br>
<a href=http://www.winchesterstar.com/news/clarke/subcommittee-votes-to-kill-three-bills-meant-to-end-gerrymandering/article_86429b05-7efe-5cfe-8cdf-1a5175eecb92.html>SUBCOMMITTEE VOTES TO KILL THREE BILLS MEANT TO END GERRYMANDERING</a><br>
<a href=http://pilotonline.com/inside-business/news/entertainment/virginia-s-motion-picture-production-tax-credit-extended-years/article_aee26050-09ca-511f-a276-0c2712bbf8cf.html>VIRGINIA'S MOTION PICTURE PRODUCTION TAX CREDIT EXTENDED 3 YEARS</a><br>
<a href=http://www.insidenova.com/headlines/house-panel-rejects-redistricting-reform-bills/article_c38a5e36-f2ec-11e6-991f-639d2a291103.html>HOUSE PANEL REJECTS REDISTRICTING REFORM BILLS</a><br>
<a href=http://www.richmond.com/news/local/education/va-senate-bill-would-let-school-officials-work-with-students/article_a1db28e4-c4df-57df-ac9a-87df98a77ca0.html>VA. SENATE BILL WOULD LET SCHOOL OFFICIALS WORK WITH STUDENTS' INSULIN PUMPS</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/bill-passes-senate-house-to-mandate-lesson-on-consent-in/article_de93fc75-e45f-5b2d-838b-b9ea79f6cf22.html>BILL PASSES SENATE, HOUSE TO MANDATE LESSON ON CONSENT IN HIGH-SCHOOL SEX ED CLASSES</a><br>
<a href=http://pilotonline.com/news/government/virginia/transparency-bill-mandating-cities-school-boards-to-put-check-registry/article_9eb6ae95-27e5-5428-a531-c0788de40bc1.html>TRANSPARENCY BILL MANDATING CITIES, SCHOOL BOARDS TO PUT CHECK REGISTRY ONLINE DIES IN COMMITTEE</a><br>
<a href=http://pilotonline.com/news/government/virginia/lawmaker-wants-history-of-formerly-enslaved-african-americans-in-virginia/article_8fa3d830-7383-5664-811d-e14d77f028b2.html>LAWMAKER WORKS TO PROMOTE HISTORY OF FORMERLY ENSLAVED AFRICAN AMERICANS</a><br>
<a href=http://www.insidenova.com/headlines/general-assembly-passes-bill-to-prevent-identity-theft/article_50f075ea-f3dc-11e6-b5fb-23b87136bf43.html>GENERAL ASSEMBLY PASSES BILL TO PREVENT IDENTITY THEFT</a><br>
<a href=http://pilotonline.com/news/government/virginia/coal-ash-cleanup-bill-passes-committee-with-amendments/article_528dc510-9ef0-5fb7-a49d-7817e8ed3f8f.html>COAL ASH CLEANUP BILL PASSES COMMITTEE WITH AMENDMENTS</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-harward-wrongful-conviction-20170216-story.html>BILL TO PAY $1.55M TO MAN WRONGFULLY CONVICTED IN NEWPORT NEWS HOMICIDE ON WAY TO PASSAGE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-marijuana-notebook-20170215-story.html>SMALL COMMITTEE SHOOTS DOWN MEDICAL MARIJUANA OIL EXPANSION</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-crime-justice-reform-bills-20170215-story.html>HOUSE KILLS CRIMINAL JUSTICE REFORMS</a><br>
<a href=http://www.richmond.com/news/virginia-house-of-delegates-committee-defangs-coal-ash-bill/article_891271b3-e2c4-58b0-8db3-078ea8dd5c7a.html>VIRGINIA HOUSE OF DELEGATES COMMITTEE DEFANGS COAL ASH BILL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/va-legislators-want-to-squeeze-more-revenue-from-abc-cash/article_934fccc5-b002-5f5a-954c-9c2650e5e31f.html>VA. LEGISLATORS WANT TO SQUEEZE MORE REVENUE FROM ABC CASH COW</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/lobbyists-for-local-governments-and-schools-help-kill-sturtevant-s/article_819e59e0-a5ab-5611-ab70-07fc81ec3679.html>LOBBYISTS FOR LOCAL GOVERNMENTS AND SCHOOLS HELP KILL STURTEVANT'S TRANSPARENCY BILL</a><br>
<a href=http://www.richmond.com/news/virginia/legislation-to-raise-virginia-s-grand-larceny-threshold-from-to/article_2b63fe28-6f26-5618-a8d9-c3c67a6728b2.html>LEGISLATION TO RAISE VIRGINIA'S GRAND LARCENY THRESHOLD FROM $200 TO $500 DIES IN HOUSE PANEL</a><br>
<a href=http://www.insidenova.com/headlines/virginia-schools-still-can-t-start-before-labor-day-without/article_631638d2-f3bd-11e6-ab68-7fec231a294d.html>VIRGINIA SCHOOLS STILL CAN'T START BEFORE LABOR DAY WITHOUT WAIVER</a><br>
<a href=http://www.alexandriagazette.com/news/2017/feb/16/era-of-the-iron-fist/>DEMOCRATS COMPLAIN ABOUT GOP HEAVY-HANDEDNESS, BUT WERE THEY ANY BETTER?</a><br>
<a href=http://valawyersweekly.com/2017/02/15/lawmakers-still-grappling-with-ethics-law/>LAWMAKERS STILL GRAPPLING WITH ETHICS LAW</a><br>
<a href=http://valawyersweekly.com/2017/02/15/lawyers-right-to-withdraw-wins-favor-at-assembly/>LAWYERS' RIGHT TO WITHDRAW WINS FAVOR AT ASSEMBLY</a><br>
<a href=http://www.dailyprogress.com/orangenews/news/county-continues-broadband-bill-battle/article_386817c4-f217-11e6-b63e-2f4287c14fa7.html>COUNTY CONTINUES BROADBAND BILL BATTLE</a><br>
<a href=http://www.chesterfieldobserver.com/news/2017-02-15/Front_Page/GOPs_Chase_takes_aim_at_Dominion.html>GOP'S CHASE TAKES AIM AT DOMINION</a><br>
<a href=http://www.gazettejournal.net/index.php/news/news_article/general_assembly>GENERAL ASSEMBLY</a><br>
<a href=http://www.richmond.com/news/local/education/bill-cutting-suspension-length-fails-in-house-of-delegates/article_a982ca17-d6d5-502c-a887-2786b4f2808a.html>BILL CUTTING SUSPENSION LENGTH FAILS IN HOUSE OF DELEGATES</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-norment-conflicts-20170216-story.html>IN THE VIRGINIA SENATE, AN AIRING OF GRIEVANCES ON CONFLICTS OF INTEREST</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_5aca9a43-b082-5e36-902b-e151f15bdd3a.html>GENERAL ASSEMBLY OUSTS STATE INSPECTOR GENERAL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_ae17171d-7f22-5a9c-98c2-0c0b3c883df1.html>VIRGINIA LAWMAKERS WEIGH LEGISLATION PROTECTING CRITICAL YELP REVIEWS, POLITICAL SPEECH</a><br>
<a href=http://pilotonline.com/news/government/virginia/virginia-senate-agrees-to-not-reappoint-state-inspector-general-over/article_680ea897-b178-51db-86e3-45382e99a0c6.html>SENATE AGREES TO NOT REAPPOINT STATE INSPECTOR GENERAL OVER JAMYCHEAL MITCHELL INVESTIGATION</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-shad-plank-0211-20170210-story.html>TOUTED RED TAPE REDUCTION BILL WITHERS ON THE VINE</a><br>
<a href=http://www.richmond.com/news/norment-counters-allegation-of-w-m-conflict-calls-senator-petulant/article_fb29a0be-21da-5d17-8329-4e48fe6a6b1e.html>NORMENT COUNTERS ALLEGATION OF W&M CONFLICT, CALLS SENATOR 'PETULANT CHILD'</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_91a6a700-01b5-5b4e-9e9e-136e3b35e136.html>SENATE DEFEATS BILL TO LET JUDGES ORDER ONLINE PUBLICATION OF LEGAL NOTICES</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/house-panel-struggles-with-helping-mentally-ill-in-jails-and/article_250179b1-80cc-58ec-a36c-064bb411e5dc.html>HOUSE PANEL STRUGGLES WITH HELPING MENTALLY ILL IN JAILS AND HOW TO PAY FOR IT</a><br>
<a href=http://www.richmond.com/news/article_a5349c9b-00ad-534f-b6a8-a91a9368adf4.html>WHAT DOES FREE SPEECH ON CAMPUS MEAN?</a><br>
<a href=http://www.winchesterstar.com/news/clarke/budget-cuts-could-affect-farmers-fight-with-coyotes/article_593016d3-1195-52a3-a2b5-5f22fb03cece.html>BUDGET CUTS COULD AFFECT FARMERS' FIGHT WITH COYOTES</a><br>
<a href=http://wtkr.com/2017/02/16/virginia-general-assembly-passes-bill-to-allow-sale-of-151-proof-liquor/>VIRGINIA GENERAL ASSEMBLY PASSES BILL TO ALLOW SALE OF 151-PROOF LIQUOR</a><br>
<a href=http://www.insidenova.com/headlines/virginia-legislators-designate-suicide-prevention-week/article_c31fef8c-f49b-11e6-8d5d-27587ebc1ae7.html>VIRGINIA LEGISLATORS DESIGNATE SUICIDE PREVENTION WEEK</a><br>
<a href=http://www.insidenova.com/headlines/general-assembly-bill-to-clear-up-language-has-some-worried/article_9f5a3d8a-efcf-11e6-b51d-df02fde786fa.html>BILL TO CLEAR UP LANGUAGE HAS SOME WORRIED THAT AN AMENDMENT WOULD BENEFIT DOMINION</a><br>
<a href=http://www.newsadvance.com/news/local/alternate-budgets-support-different-training-centers-in-virginia/article_65e3357c-efe1-11e6-984c-efee21b6213e.html>ALTERNATE BUDGETS SUPPORT DIFFERENT TRAINING CENTERS IN VIRGINIA</a><br>
<a href=http://www.newsadvance.com/news/local/peake-s-provisional-ballot-bill-dead-in-house-subcommittee/article_0ceb83ea-f4a3-11e6-9854-df0587549890.html>PEAKE'S PROVISIONAL BALLOT BILL DEAD IN HOUSE SUBCOMMITTEE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/historic-black-cemeteries-seeking-the-same-support-virginia-gives-confederates/2017/02/11/888b8ec0-de67-11e6-acdf-14da832ae861_story.html?utm_term=.dabf43af844d>HISTORIC BLACK CEMETERIES SEEKING THE SAME SUPPORT VIRGINIA GIVES CONFEDERATES</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-helsel-watermen-20170217-story.html>HELSEL BLASTS GOVERNOR, VMRC OVER WATERMEN BILL</a><br>
<a href=http://www.newsadvance.com/news/local/in-wake-of-former-virginia-gov-bob-mcdonnell-scandal-legislators/article_707c5ade-7857-5138-899f-0bca4baea713.html>IN WAKE OF FORMER VIRGINIA GOV. BOB MCDONNELL SCANDAL LEGISLATORS WORK TO FIRM UP ETHICS LAW</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-shad-plank-0218-20170217-story.html>FELON VOTING RIGHTS AMENDMENT DIES IN COMMITTEE</a><br>
<a href=http://www.newsadvance.com/news/local/two-plans-could-help-schools-cover-costs-despite-declining-enrollment/article_e32c6c81-2b60-540c-bdaa-535892c291a5.html>TWO PLANS COULD HELP SCHOOLS COVER COSTS DESPITE DECLINING ENROLLMENT</a><br>
<a href=http://www.insidenova.com/headlines/snakehead-infiltrates-virginia-waters-and-legislation/article_fd89b006-f066-11e6-9340-c3f78271b460.html>SNAKEHEAD INFILTRATES VIRGINIA WATERS AND LEGISLATION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/house-republicans-stop-sen-norment-s-felon-voting-rights-proposal/article_15be611a-0cb0-5a4f-9d14-9b6fffdd40f6.html>HOUSE REPUBLICANS STOP SEN. NORMENT'S FELON VOTING RIGHTS PROPOSAL</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/delegate-s-bill-would-repeal-nepotism-rule-for-school-hires/article_8f6f6052-d577-5ca8-8173-b63bfeca03e6.html>DELEGATE'S BILL WOULD REPEAL NEPOTISM RULE FOR SCHOOL HIRES</a><br>
<a href=http://www.nvdaily.com/news/2017/02/del-collins-takes-heat-in-town-hall-meeting/>DEL. COLLINS TAKES HEAT IN TOWN HALL MEETING</a><br>
<a href=http://www.richmond.com/business/local/virginia-lawmakers-poised-to-approve-legislation-to-give-localities-more/article_9fd4a0bf-d31a-5574-8e32-32315187882c.html>VIRGINIA LAWMAKERS POISED TO APPROVE LEGISLATION TO GIVE LOCALITIES MORE AUTHORITY TO REGULATE AIRBNB</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_4da66226-cd77-528f-8d4b-cc0465ddcc2c.html>BILLS OVER CHILD CARE PROVIDER BACKGROUND CHECKS DRAW IRE FROM VA. RELIGIOUS GROUPS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-stormwater-middle-peninsula-20170212-story.html>STORMWATER BANKS PITCHED TO ADDRESS POLLUTION, FLOODING AND DEVELOPMENT ON MIDDLE PENINSULA</a><br>
<a href=http://www.insidenova.com/headlines/bluegrass-program-picked-as-virginia-s-official-tv-series/article_9185ea72-efa9-11e6-a016-33a1a8b661c9.html>BLUEGRASS PROGRAM PICKED AS VIRGINIA'S OFFICIAL TV SERIES</a><br>
<a href=http://pilotonline.com/news/government/virginia/bill-that-would-ve-brought-more-revenue-for-hampton-roads/article_583598f5-66ec-5f5e-ad9b-49b98f6ab67b.html>BILL THAT WOULD'VE BROUGHT MORE REVENUE FOR HAMPTON ROADS TRANSPORTATION PROJECTS DIES</a><br>
<a href=http://www.richmond.com/news/coal-ash-bill-clears-house-subcommittee-though-not-unscathed/article_840f3094-a01c-5e7e-ace4-12c13a5d7374.html>COAL ASH BILL CLEARS HOUSE SUBCOMMITTEE, THOUGH NOT UNSCATHED</a><br>
<a href=http://www.richmond.com/news/local/education/va-senate-committee-approves-suspension-reform-legislation/article_b6cd4fdf-3139-59c6-983f-d9d99fc12aba.html>VA. SENATE COMMITTEE APPROVES SUSPENSION REFORM LEGISLATION</a><br>

<h2>Local</h2>
<a href=http://www.roanoke.com/news/local/new-lawsuit-hints-at-foreclosure-of-buena-vista-city-hall/article_984216e8-1e22-5cfb-b7a1-7436e9005c18.html>NEW LAWSUIT HINTS AT FORECLOSURE OF BUENA VISTA CITY HALL OVER GOLF COURSE DEBT</a><br>
<a href=http://pilotonline.com/news/government/local/for-the-first-time-ever-norfolk-council-decides-to-write/article_519dd0ad-8375-5961-86e4-07318031e474.html>FOR THE FIRST TIME EVER, NORFOLK COUNCIL DECIDES TO WRITE DOWN ITS RULES</a><br>
<a href=http://pilotonline.com/news/government/local/it-won-t-be-so-easy-to-avoid-jury-duty/article_644feb7d-f597-51f9-b296-8bd0bc374bf8.html>BEWARE, JURY DUTY DODGERS: IT WON'T BE SO EASY TO IGNORE A SUMMONS IN NORFOLK ANYMORE</a><br>
<a href=http://pilotonline.com/news/government/local/in-midst-of-fbi-investigation-norfolk-sheriff-s-office-s/article_9d49524b-13f6-5042-8382-d25adcfebb0a.html>IN MIDST OF FBI PROBE, NORFOLK SHERIFF'S OFFICE'S MEDICAL PROVIDER WORKS WITHOUT A CONTRACT</a><br>
<a href=http://pilotonline.com/news/government/local/portsmouth-council-decides-to-hold-hearing-to-weigh-firing-members/article_6657bf99-6e0b-5110-9f24-45e0fd02cf31.html>PORTSMOUTH TO WEIGH FIRING MEMBERS OF HOUSING AUTHORITY BOARD</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/richmond-mayor-stoney-hires-vcu-s-wilder-school-for-promised/article_0db4f415-f28d-5910-ab46-ee84e596cc77.html>STONEY HIRES VCU'S WILDER SCHOOL FOR PROMISED COMPREHENSIVE REVIEW OF CITY HALL</a><br>
<a href=http://www.dailyprogress.com/news/local/aclu-joins-u-s-in-lawsuit-against-culpeper-over-denied/article_9e4695ca-f2f8-11e6-9ec6-6b2859e3a2f1.html>ACLU JOINS U.S. IN LAWSUIT AGAINST CULPEPER OVER DENIED MOSQUE PERMIT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginias-largest-county-again-trims-budget-requests-as-revenues-stay-tepid/2017/02/14/0197bc9a-f2c1-11e6-b9c9-e83fce42fb61_story.html?utm_term=.d7d302e870e6>VIRGNIA'S LARGEST COUNTY AGAIN TRIMS BUDGET REQUESTS AS REVENUES STAY TEPID</a><br>
<a href=http://www.insidenova.com/news/business/fairfax/fairfax-tax-bills-would-go-up-an-average-of-in/article_8c1832ac-f2dd-11e6-a025-b320f451cef6.html>FAIRFAX TAX BILLS WOULD GO UP AN AVERAGE OF $40 IN BUDGET PROPOSAL</a><br>
<a href=http://www.richmond.com/news/local/hanover/hanover-planners-vote-to-keep-montpelier-rural/article_4ae3601c-1415-50e5-8ea5-4e49fd7a245d.html>HANOVER PLANNERS VOTE TO KEEP MONTPELIER RURAL</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/petersburg/suit-to-remove-petersburg-mayor-vice-mayor-withdrawn/article_e5dbb9cc-a02a-55a0-aca1-81d6331e99c0.html>SUIT TO REMOVE PETERSBURG MAYOR, VICE MAYOR WITHDRAWN</a><br>
<a href=http://pilotonline.com/news/government/politics/local/despite-promising-transparency-norfolk-council-talks-about-city-manager-search/article_c70cbece-80d3-5d0f-b788-edfb77d7da29.html>DESPITE PROMISING TRANSPARENCY, NORFOLK COUNCIL TALKS ABOUT CITY MANAGER SEARCH BEHIND CLOSED DOORS</a><br>
<a href=https://www.washingtonpost.com/local/education/students-at-virginia-high-schools-plan-walkout-friday-in-support-of-immigrants/2017/02/10/27ed1072-efae-11e6-9973-c5efb7ccfb0d_story.html?utm_term=.7aa8b6247454>HUNDREDS OF VIRGINIA HIGH SCHOOL STUDENTS WALK OUT IN SUPPORT OF IMMIGRANTS</a><br>
<a href=http://www.insidenova.com/headlines/prince-william-clerk-of-circuit-court-michele-mcquigg-dies/article_3d7f0b82-f4bf-11e6-becd-a70935f152ee.html>PRINCE WILLIAM CLERK OF CIRCUIT COURT MICHELE MCQUIGG DIES</a><br>
<a href=http://pilotonline.com/news/local/crime/norfolk-jail-s-medical-contractor-listed-in-fbi-subpoenas-gave/article_26ca752e-fce6-595a-8cc1-6dc0ed85dc50.html>JAIL'S MEDICAL CONTRACTOR GAVE EX-SHERIFF BOB MCCABE CAMPAIGN MONEY</a><br>
<a href=http://pilotonline.com/news/local/a-virginia-beach-dentist-sued-the-city-over-a-relocation/article_6d90826e-cacc-5d3f-92ba-8d185b9aa86f.html>VIRGINIA BEACH DENTIST WINS RELOCATION BATTLE AGAINST CITY</a><br>
<a href=http://pilotonline.com/news/local/crime/fired-employee-says-he-had-raised-concern-about-tax-collection/article_8b15c65b-fea9-5963-8e01-6e270ea9a3d9.html>EMPLOYEE SAYS HE WAS FIRED AFTER RAISING CONCERN ABOUT BURFOOT'S TAX-COLLECTION POLICY</a><br>
<a href=http://richmondfreepress.com/news/2017/feb/10/giving-sanctuary/>GIVING SANCTUARY?</a><br>
