
<h2>Columnists</h2>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_e0b40b66-ad08-5252-b3b1-b667c6d18148.html>SCHAPIRO: VA. CAMPAIGN AS CULTURE CLASH</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-stop-believing-you-can-multitask-behind-the-wheel/article_72a96f5d-001f-5360-8efd-9461da85ba9a.html>CHESLEY: STOP BELIEVING YOU CAN MULTITASK BEHIND THE WHEEL</a><br>
<a href=http://pilotonline.com/news/local/columnist/kerry-dougherty/kerry-dougherty-the-governor-s-latest-mistake/article_417bec22-f59f-5e91-af1d-ab3245a37dce.html>DOUGHERTY: THE GOVERNOR'S LATEST MISTAKE</a><br>
<a href=http://pilotonline.com/news/local/columnist/kerry-dougherty/kerry-dougherty-peninsula-airport-s-justification-for-financial-gamble-isn/article_75ac79fe-821a-522c-8ee6-5c050de49cb0.html>DOUGHERTY: PENINSULA AIRPORT'S JUSTIFICATION FOR FINANCIAL GAMBLE ISN'T GOING TO FLY</a><br>

<h2>Congress</h2>
<a href=http://pilotonline.com/news/government/nation/sens-warner-and-kaine-vote-against-devos/article_1dcb2723-9b27-5843-adfa-b1353de32565.html>SENS. WARNER AND KAINE VOTE AGAINST DEVOS</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/legislation-eyes-easing-day-care-deed-restrictions/article_0e822c02-edb6-11e6-9a73-4b33a20c09ae.html>LEGISLATION EYES EASING DEED RESTRICTIONS ON LOCAL DAY CARE</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-reps-wittman-scott-taylor-connolly-and-beyer-join-to-seek-recognition-of-virginia-tribes-20170207-story.html>REPS WITTMAN, SCOTT, TAYLOR, CONNOLLY AND BEYER JOIN TO SEEK RECOGNITION OF VIRGINIA TRIBES</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-kaine-speaks-of-virginia-school-highlights-and-low-points-in-opposing-devos-20170207-story.html>KAINE SPEAKS OF VIRGINIA -- SCHOOL HIGHLIGHTS AND LOW POINTS -- IN OPPOSING DEVOS</a><br>
<a href=http://www.dailyprogress.com/news/virginia_politics/protesters-call-on-rep-garrett-to-oppose-trump-administration/article_a65bb990-ed6f-11e6-af26-33cd01e5e228.html>PROTESTERS CALL ON REP. GARRETT TO OPPOSE TRUMP ADMINISTRATION</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-va-s-warner-kaine-propose-two-year-budgeting-20170208-story.html>VA'S WARNER, KAINE PROPOSE TWO YEAR BUDGETING</a><br>
<a href=http://www.chesterfieldobserver.com/news/2017-02-08/Front_Page/Congressman_faces_growing_dissent_in_7th.html>CONGRESSMAN FACES GROWING DISSENT IN 7TH</a><br>
<a href=http://www.winchesterstar.com/news/clarke_county/comstock-quiet-on-details-of-health-care-repeal/article_32941790-9fb5-5469-8e1d-f38323040a89.html>COMSTOCK QUIET ON DETAILS OF HEALTH CARE REPEAL</a><br>
<a href=http://www.loudountimes.com/news/article/kaine_notes_loudoun_county_residents_in_his_defense_of_obamacare432>KAINE HIGHLIGHTS TWO LOUDOUN COUNTY RESIDENTS IN HIS DEFENSE OF OBAMACARE</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/yes-and-no-kaine-warner-on-trump-cabinet-nominees/article_d3e0de16-7891-5e0a-b8f0-d33d24ea681c.html>YES AND NO: KAINE, WARNER ON TRUMP CABINET NOMINEES</a><br>
<a href=http://pilotonline.com/news/government/nation/rep-taylor-hosting-public-forums-this-month/article_e2f7ff3d-f2c6-5608-8d5a-9ce732d898f6.html>REP. TAYLOR HOSTING 3 PUBLIC FORUMS THIS MONTH</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/02/09/no-goodlatte-public-meeting-here-years/97650038/>NO GOODLATTE PUBLIC MEETING HERE IN YEARS</a><br>
<a href=http://www.southwesttimes.com/2017/02/protesters-gather-outside-morgan-griffiths-office/>PROTESTERS GATHER OUTSIDE MORGAN GRIFFITH'S OFFICE</a><br>

<h2>Economy/Business</h2>
<a href=http://www.richmond.com/business/local/article_244869b6-6901-5a8a-8856-c33d56a984b9.html>SURVEY INDICATES VIRGINIANS SUPPORT TESLA'S RIGHT TO OPEN DEALERSHIPS</a><br>
<a href=http://www.dailypress.com/business/ports/dp-nws-port-of-virginia-tpp-20170203-story.html>WILL WITHDRAWING FROM PACIFIC TRADE DEAL HURT VIRGINIA PORT TRAFFIC?</a><br>
<a href=http://www.loudountimes.com/news/article/facebook_hiring_a_construction_manager_for_ashburn_project432>FACEBOOK HIRING A CONSTRUCTION MANAGER FOR ASHBURN PROJECT</a><br>
<a href=http://pilotonline.com/business/ports-rail/port-of-virginia-had-a-great-year-but/article_c073dbc8-2f0e-5197-a661-4e2f4caf322d.html>PORT OF VIRGINIA HAD A GREAT YEAR, BUT ...</a><br>
<a href=https://www.washingtonpost.com/express/wp/2017/02/09/maryland-and-d-c-politicians-might-have-helped-virginia-land-the-redskins-next-stadium/?utm_term=.c8b92cf715b4>MARYLAND AND D.C. POLITICIANS MIGHT HAVE HELPED VIRGINIA LAND THE REDSKINS' NEXT STADIUM</a><br>
<a href=http://www.roanoke.com/news/local/roanoke_county/roanoke-county-firm-lands-major-contract-to-automate-cranes-for/article_d04e6e77-986c-562a-b834-51e23465f512.html>ROANOKE COUNTY FIRM LANDS MAJOR CONTRACT TO AUTOMATE CRANES FOR VIRGINIA PORTS</a><br>
<a href=http://www.roanoke.com/business/goodyear-to-pay-million-fine-after-worker-deaths/article_28aef03a-3763-5529-a490-8c8d97d29876.html>GOODYEAR TO PAY $1.75 MILLION FINE AFTER WORKER DEATHS</a><br>
<a href=http://www.godanriver.com/news/danville/million-settlement-reached-after-fatal-accidents-at-danville-goodyear-plant/article_0055cf3a-efaa-11e6-a844-b303d2f867ed.html>$1.75 MILLION SETTLEMENT REACHED AFTER FATAL ACCIDENTS AT DANVILLE GOODYEAR PLANT</a><br>
<a href=https://secure.solesolution.com/pages/login>ODP BALKS AT ROLE IN SOLAR PROJECT</a><br>

<h2>Editorials</h2>
<a href=http://www.richmond.com/opinion/our-opinion/article_29c73537-b697-57a2-8ab2-1df50b0733b9.html>GILLESPIE - FAITH AND POLITICS</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-sweet-briar-s-comeback-continues/article_bb6cab5b-27cb-560e-a901-32d1457b492b.html>SWEET BRIAR'S COMEBACK CONTINUES</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-what-will-city-do-with-lee-statue/article_b110540e-ee00-11e6-aebc-572e0eb9b60e.html>WHAT WILL CITY DO WITH LEE STATUE?</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-wise-county-judge-throws-legal-curveball-at-mcauliffe-s/article_1d001a71-fdd1-534c-a539-ce7f2b70d432.html>WISE COUNTY JUDGE THROWS LEGAL CURVEBALL AT MCAULIFFE'S RIGHTS RESTORATIONS</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/in-the-best-interests-of-all-at-cvtc/article_782346d8-ed88-11e6-8146-eff008cf23d7.html>IN THE BEST INTERESTS OF ALL AT CVTC</a><br>
<a href=http://www.richmond.com/opinion/your-opinion/letters-to-the-editor/article_d1792d91-7945-5b18-81b7-7c6ee9198f2e.html>THE CHESAPEAKE BEGINS TO COME BACK</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-air-bnb-0209-20170208-story.html>SOMETHING TO SLEEP ON</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-in-richmond-taking-aim-at-the-press/article_62f04898-83c1-5d53-ade6-14ad5bb02e3e.html>IN RICHMOND, TAKING AIM AT THE PRESS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_41c9afc9-44c5-5c72-a539-df0051cfa821.html>AN ELECTED OFFICIAL STINKS ON ICE. SHOULD VOTERS BE ABLE TO FIRE HIM?</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/opinion/editorials/editorial-gop-bill-raises-hope-in-the-coalfields/article_8cb22920-e9af-11e6-84cf-1f02f1a4bd06.html>GOP BILL RAISES HOPE IN THE COALFIELDS</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/sweet-briar-shoots-for-the-moon/article_d49c0056-ee43-11e6-89a6-5f3b6f0094d2.html>SWEET BRIAR SHOOTS FOR THE MOON</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-why-aren-t-politicians-talking-about-tuition-increases/article_f135b60a-e7af-5968-bd2b-c1791187aba2.html>WHY AREN'T POLITICIANS TALKING ABOUT TUITION INCREASES?</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-punish-virginia-s-left-lane-laggards/article_d95ad313-8a24-5c62-a3cd-408f6140d8bc.html>PUNISH VIRGINIA'S LEFT-LANE LAGGARDS</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-still-too-few-answers-in-mitchell-death/article_bce95bf2-23b8-5597-9ee8-49fe268f6ec7.html>STILL TOO FEW ANSWERS IN MITCHELL DEATH</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-macker-s-choice/article_aa95d8e9-12f7-5123-96a1-f8f6cb00c77f.html>MACKER'S CHOICE</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/dollars-for-patients-not-consultants/article_37b95c2e-e98a-11e6-b310-d31f250b3bd8.html>DOLLARS FOR PATIENTS, NOT CONSULTANTS</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-taxes-for-education/article_a1905c5f-8b8a-592c-9cad-4052a339a2c9.html>TAXES FOR EDUCATION</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-airport-transparency-0205-20170204-story.html>STOP TAKING US FOR A RIDE</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_17ee3729-e7ea-557d-b351-e4f5bfd56d8e.html>VIRGINIA'S VERSION OF STEVE BANNON IS AT IT AGAIN</a><br>
<a href=https://www.washingtonpost.com/opinions/the-grand-old-party-of-disenfranchisement/2017/02/10/56e8e262-ef12-11e6-9662-6eedf1627882_story.html?utm_term=.0529f30e27f7>THE GRAND OLD PARTY OF DISENFRANCHISEMENT</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/a-futile-attempt-at-legislative-transparency/article_04c7c3d2-ea57-11e6-a225-f3c586a72a61.html>A FUTILE ATTEMPT AT LEGISLATIVE TRANSPARENCY</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-avoiding-richmond-s-interference/article_67dccc30-eb9a-11e6-8987-6f129e04ccde.html>AVOIDING RICHMOND'S INTERFERENCE</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-why-can-t-democrats-win-the-general-assembly/article_9168f8c2-0468-5c14-b1e5-a15c25d3322e.html>WHY CAN'T DEMOCRATS WIN THE GENERAL ASSEMBLY?</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-doubly-bad/article_ea549d67-0007-5511-8dd0-cb4c75143e9b.html>DOUBLY BAD</a><br>
<a href=http://www.dnronline.com/opinion/the-race-moves-left-perriello-turns-to-sanders-staff/article_8ac05996-eef2-11e6-8c32-df6e441f5e37.html>THE RACE MOVES LEFT " PERRIELLO TURNS TO SANDERS' STAFF</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-in-broadband-fight-internet-haves-ignore-the-internet-have/article_887eb10e-eda7-5276-ba1b-596e42fe289f.html>IN BROADBAND FIGHT, INTERNET HAVES IGNORE THE INTERNET HAVE-NOTS</a><br>
<a href=http://www.newsleader.com/story/opinion/editorials/2017/02/03/mary-baldwin-endowment-not-answer/97460372/>ENDOWMENT NICE, BUT NOT THE ANSWER</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-virginia-house-gop-erects-new-voting-barrier/article_7f4f4963-4f7c-5bb3-822f-e36075a2c58a.html>VIRGINIA HOUSE GOP ERECTS NEW VOTING BARRIER</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_ac82d49d-c941-5753-aea0-e7058d1b3ce0.html>HOW MUCH HAVE VIRGINIA TUITIONS GONE UP? FAR MORE THAN THEY SHOULD HAVE</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-view-poised-to-pounce-until-perriello-entered-fray/article_72419878-ddff-5534-a2fa-97cfbe474496.html>POISED TO POUNCE ... UNTIL PERRIELLO ENTERED FRAY</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-overdue-raises-for-the-state-s-officers/article_606fa551-818c-5a79-97a0-b05c453b2dd8.html>OVERDUE RAISES FOR THE STATE'S OFFICERS</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/byron-bill-hinders-broadband/article_6ca2ce18-ecad-11e6-8675-27a04489ba9c.html>BYRON BILL HINDERS BROADBAND</a><br>

<h2>Executive Branch</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/gop-legislature-moves-to-wrest-regulatory-power-from-va-governor/2017/02/07/368dac82-ecc4-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.170d92bbd2ef>GOP LEGISLATURE MOVES TO WREST REGULATORY POWER FROM VA. GOVERNOR</a><br>
<a href=http://www.richmond.com/news/virginia/article_25bcdaeb-351c-59db-a632-8f832d1607f4.html>HOUSE TAKES FIRST STEP TOWARD EMPOWERING GENERAL ASSEMBLY TO OVERRULE STATE REGULATIONS</a><br>
<a href=http://www.bizjournals.com/washington/news/2017/02/09/mcauliffeiomaxis-3-8-million-expansion-could.html>MCAULIFFE: IOMAXIS' $3.8 MILLION EXPANSION COULD CREATE 555 JOBS IN FAIRFAX COUNTY</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/virginia-can-join-challenge-to-donald-trump-s-travel-ban/article_3bbb8fa4-8011-50aa-bdb2-5b231ac91e12.html>VIRGINIA CAN JOIN CHALLENGE TO DONALD TRUMP'S TRAVEL BAN, JUDGE RULES</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/va-mosque-sees-outpouring-of-support-as-state-fights-trump-travel-ban/2017/02/03/65e661d6-ea21-11e6-80c2-30e57e57e05d_story.html?utm_term=.f2b5054deeb0>VA. MOSQUE SEES OUTPOURING OF SUPPORT AS STATE FIGHTS TRUMP TRAVEL BAN</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/gov-terry-mcauliffe-turns-today/article_99bea2cd-0e42-552d-b0b2-0ecf90be9ab8.html>GOV. TERRY MCAULIFFE TURNS 60</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-backs-scrapping-deal-that-protects-dominion-from-rate-review/2017/02/09/e0c768ea-eefa-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.33760d0f9298>MCAULIFFE BACKS SCRAPPING DEAL THAT PROTECTS DOMINION FROM RATE REVIEW</a><br>
<a href=http://www.loudountimes.com/news/article/mcauliffe_expresses_confidence_in_courts_overturning_trumps_executive836>MCAULIFFE SAYS HE'S CONFIDENT COURTS WILL OVERTURN TRUMP'S EXECUTIVE ORDER</a><br>
<a href=http://www.loudountimes.com/news/article/mcaullife_announces_nonstop_delhi_to_dulles_flights_says_virginia_welcome_t>MCAULIFFE ANNOUNCES NONSTOP FLIGHTS BETWEEN DULLES AND INDIA, SAYS VIRGINIA WELCOMES EVERYONE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_42716b59-91b2-549f-b9be-9f9f0bd604ce.html>U.S. WANTS COURT TO PUT ON HOLD LAWSUIT OVER DETAINEES AT DULLES</a><br>
<a href=http://www.richmond.com/news/virginia/article_7c8597d2-001c-5a36-9912-77646b5e45a4.html>MCAULIFFE ANNOUNCES SUPPORT FOR UTILITY RATE FREEZE BILL, WEEKS AFTER IT DIED</a><br>
<a href=https://secure.solesolution.com/pages/login>JUDGE DENIES FELON GUN PETITIONS</a><br>

<h2>Federal Elections</h2>
<a href=https://www.washingtonpost.com/local/virginia-politics/carly-fiorina-confirms-it-she-is-considering-challenging-sen-tim-kaine/2017/02/08/116c84d0-ee42-11e6-9662-6eedf1627882_story.html?utm_term=.45882ecb8926>CARLY FIORINA CONFIRMS IT: SHE IS CONSIDERING CHALLENGING SEN. TIM KAINE</a><br>

<h2>From vpap.org</h2>
<a href=http://www.vpap.org/infographics/issues-generating-more-bills-2017/>VISUALIZATION: WHAT ISSUES GENERATED MORE BILLS IN 2017</a><br>

<h2>General Assembly</h2>
<a href=http://www.nbc29.com/story/34437415/bill-exempts-some-fracking-chemicals-from-records-requests>BILL EXEMPTS SOME FRACKING CHEMICALS FROM RECORDS REQUESTS</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/it-s-halftime-at-the-general-assembly-here-re-the/article_5cd0037b-337f-5af9-8ace-5fc3f280f4a8.html>HALFTIME: HERE ARE THE BILLS THAT HAVE PASSED AND FAILED SO FAR</a><br>
<a href=http://pilotonline.com/news/nation-world/virginia/lawmakers-reach-midpoint-of-legislative-session/article_2dcd161c-9d1c-5f7e-8c88-6e954dc28451.html>LAWMAKERS REACH MIDPOINT OF 2017 LEGISLATIVE SESSION</a><br>
<a href=http://pilotonline.com/news/government/virginia/hampton-roads-stands-to-benefit-from-proposed-house-of-delegates/article_c35af78a-c192-5ab3-a2ba-2feed0548007.html>HAMPTON ROADS STANDS TO BENEFIT FROM PROPOSED HOUSE OF DELEGATES BUDGET</a><br>
<a href=http://www.richmond.com/news/local/education/article_cf9ec3a9-61b8-5b0f-899d-0d62ea343b8f.html>VIRGINIA SENATE APPROVES SUSPENSION REFORM</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/virginia-house-passes-pared-back-broadband-bill/article_a2e918d2-74c2-50c6-9574-822087d30cff.html>VIRGINIA HOUSE PASSES PARED BACK BROADBAND BILL</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/roanoke-s-bid-for-an-elmwood-park-smoking-ban-squeaks/article_bc94d4e6-06f6-5694-8f68-3ffcec7ab24a.html>ROANOKE'S BID FOR AN ELMWOOD PARK SMOKING BAN SQUEAKS OUT OF SENATE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_b2d344d8-4ff8-52d6-aea3-639039c2095c.html>VA. SENATE PASSES BILL TO PROTECT RELIGIOUS OPPONENTS OF GAY MARRIAGE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_78b477f0-3e58-5d6c-a732-e0748af8f05a.html>HOUSE APPROVES MCQUINN BILLS ON SLAVE HISTORY, AFRICAN-AMERICAN CEMETERIES</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_beab1406-2f06-5570-beff-4d0841936b38.html>CAUSTIC DEBATE UNFOLDS IN VA. SENATE AS GOP MOVES TO SLOW DOWN FELON VOTING RESTORATION</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-ga-sidebar-people-express-20170207-story.html>GENERAL ASSEMBLY MOVES AIRPORT REFORMS IN RESPONSE TO PEOPLE EXPRESS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-ga-crossover-day-20170207-story.html>COAL ASH, AIRBNB, OUTDOOR DRINKING MOVE ON BUSY LEGISLATIVE DAY</a><br>
<a href=http://www.loudountimes.com/news/article/va._house_votes_to_defund_planned_parenthood432>VA. HOUSE VOTES TO DEFUND PLANNED PARENTHOOD</a><br>
<a href=http://www.nvdaily.com/news/2017/02/bill-shifts-power-to-create-sanitary-districts/>BILL SHIFTS POWER TO CREATE SANITARY DISTRICTS</a><br>
<a href=http://pilotonline.com/news/government/virginia/switchblades-will-be-legal-again-if-governor-signs-bill-that/article_86ac2148-d3a5-5e9b-8133-2bfd1265e5ec.html>SWITCHBLADES WILL BE LEGAL AGAIN IF GOVERNOR SIGNS BILL THAT LANDED ON HIS DESK WEDNESDAY</a><br>
<a href=http://pilotonline.com/news/corrections/governor-outraged-at-republican-led-house-for-blocking-inspector-general/article_f50128c7-8580-59b4-998a-bbf18968a2f1.html>GOVERNOR OUTRAGED AT REPUBLICAN-LED HOUSE FOR BLOCKING INSPECTOR GENERAL APPOINTMENT</a><br>
<a href=http://pilotonline.com/news/government/virginia/bill-to-keep-hunting-dogs-off-unwanted-property-shot-down/article_3ffb363d-40c9-5873-9f4c-4d2749970791.html>BILL TO KEEP HUNTING DOGS OFF UNWANTED PROPERTY SHOT DOWN BY THE SLIMMEST OF MARGINS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-house-gop-moves-to-block-inspector-general-s-employment-20170208-story.html>HOUSE GOP MOVES TO BLOCK INSPECTOR GENERAL'S EMPLOYMENT</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-hamilton-transfer-20170208-story.html>PHIL HAMILTON TRANSFERRED TO PENNSYLVANIA</a><br>
<a href=http://www.fredericksburg.com/news/va_md_dc/virginia-lawmakers-take-aim-at-bamboo-snakeheads/article_dfb05c64-0541-546a-aed9-6993a946a85b.html>VIRGINIA LAWMAKERS TAKE AIM AT BAMBOO, SNAKEHEADS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_3721b25b-b3f3-5da3-9aeb-cbdf2cc6984f.html>ELECTION SYSTEM PRIORITY FOR SENATE REPUBLICANS IN FALL, BUT NOT IN BUDGET</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_afd43442-a17e-5020-8633-0cb997cc40d7.html>HOUSE REPUBLICANS VOTE TO FIRE VIRGINIA'S TOP WATCHDOG OVER HANDLING OF MITCHELL CASE</a><br>
<a href=http://pilotonline.com/news/nation-world/virginia/house-gop-moves-to-block-inspector-general-s-employment/article_648195b7-5161-57d4-aee6-a8868d3b481d.html>VIRGINIA GOP MOVES TO FIRE WATCHDOG OVER INMATE DEATH CASE</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/local-legislators-still-have-array-of-bills-alive-and-pending/article_99ca62a9-337a-58f6-b815-4b007f01f995.html>LOCAL LEGISLATORS STILL HAVE ARRAY OF BILLS ALIVE AND PENDING</a><br>
<a href=http://www.roanoke.com/news/politics/byron-introduces-bill-on-affordable-care-act/article_93283e8b-c884-5df9-bfe0-df9a34d36686.html>BYRON INTRODUCES BILL ON AFFORDABLE CARE ACT</a><br>
<a href=http://www.newsadvance.com/nelson_county_times/news/broadband-bill-advances-nelson-official-voices-opposition/article_c4d37761-0f26-5f17-98fd-f88364939a76.html>BROADBAND BILL ADVANCES, NELSON OFFICIAL VOICES OPPOSITION</a><br>
<a href=http://www.fauquier.com/news/business/coal-ash-bill-clears-senate-but-faces-challenges-in-the/article_f182731c-eecf-11e6-a625-57b28d5e4d78.html>COAL ASH BILL CLEARS SENATE, BUT FACES CHALLENGES IN THE STATE HOUSE</a><br>
<a href=http://www.thecentralvirginian.com/broadband-bill-gets-work-over/>BROADBAND BILL GETS WORK-OVER</a><br>
<a href=http://www.thenews-gazette.com/content/house-passes-broadband-bill-despite-cities-opposition>HOUSE PASSES BROADBAND BILL, DESPITE CITIES' OPPOSITION</a><br>
<a href=http://www.kenbridgevictoriadispatch.com/2017/02/08/dog-bill-defeated-by-one-vote/>DOG BILL DEFEATED BY ONE VOTE</a><br>
<a href=http://www.kenbridgevictoriadispatch.com/2017/02/08/lottery-for-localities-initiative-stalls-2/>'LOTTERY FOR LOCALITIES' INITIATIVE STALLS</a><br>
<a href=http://pilotonline.com/news/government/virginia/bill-aimed-at-investigating-deaths-mental-health-screenings-in-jail/article_5f508440-3059-5c7e-af3a-39074e954c17.html>BILL AIMED AT INVESTIGATING DEATHS, MENTAL HEALTH SCREENINGS IN VIRGINIA JAIL FAILS BECAUSE THERE'S NO MONEY</a><br>
<a href=http://www.sovanow.com/index.php?/news/article/dog_hunting_bill_suffers_defeat_in_the_house/>DOG HUNTING BILL DEFEATED IN HOUSE OF DELEGATES</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-legislature-moves-forward-with-budget-haggles-over-state-pay-raises/2017/02/09/08160e46-eed9-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.222a05821d98>VIRGINIA LEGISLATURE MOVES FORWARD WITH BUDGETS, HAGGLES OVER STATE PAY RAISES</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-veris-budget-20170209-story.html>AFTER COMPLAINTS ABOUT VA. VOTER REGISTRATION, CUTS FOR ELECTION SOFTWARE UPGRADES</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_516d81af-5c64-5220-a76f-1c2afd7b421b.html>DEL. FARISS' TALL TALE OF RABBIT HUNT BRINGS DOWN THE HOUSE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-ga-cell-antenna-20170209-story.html>REVISED CELL TOWER BILL CLEARS KEY HURDLE</a><br>
<a href=http://www.insidenova.com/headlines/bill-lets-domestic-violence-victims-carry-concealed-guns/article_2b8ca006-ea60-11e6-8d71-93dd9ce56caa.html>BILL LETS DOMESTIC VIOLENCE VICTIMS CARRY CONCEALED GUNS</a><br>
<a href=http://www.insidenova.com/headlines/bill-would-require-proof-of-citizenship-to-register-to-vote/article_0605063a-ea55-11e6-8b43-db7f548128f1.html>BILL WOULD REQUIRE PROOF OF CITIZENSHIP TO REGISTER TO VOTE</a><br>
<a href=http://www.insidenova.com/news/arlington/legislation-aimed-at-helping-small-businesses-passes-house-of-delegates/article_a27f940a-ea26-11e6-bb8f-4b65ce9a098c.html>LEGISLATION AIMED AT HELPING SMALL BUSINESSES PASSES HOUSE OF DELEGATES</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-norment-child-pornography-20170203-story.html>SENATE KILLS NORMENT CHILD PORNOGRAPHY BILL AFTER QUESTIONS OVER EFFECT, ACCUSATION OVER MOTIVE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-legis-notebook0204-20170203-story.html>WIRELESS INDUSTRY V. LOCAL GOVERNMENT</a><br>
<a href=http://pilotonline.com/news/government/virginia/bill-aims-to-create-economic-development-incentives-for-new-working/article_68437bf9-6d23-5ed6-9439-eb60b5616fb7.html>BILL AIMS TO CREATE ECONOMIC DEVELOPMENT INCENTIVES FOR NEW "WORKING WATERFRONTS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-shad-plank-0204-20170203-story.html>CNU POLL FINDS SOME GAPS BETWEEN VIRGINIA VOTERS AND STATE LAWMAKERS</a><br>
<a href=http://pilotonline.com/sports/outdoors/kill-the-virginia-saltwater-fishing-tournament-no-way-says-the/article_84d28e05-c3b6-5ea4-a624-a9e59be6e2ee.html>KILL THE VIRGINIA SALTWATER FISHING TOURNAMENT? NO WAY, SAYS THE HOUSE OF DELEGATES.</a><br>
<a href=http://www.roanoke.com/news/politics/del-ben-cline-s-bill-to-redirect-abortion-funds-moves/article_47143a5c-9525-53d9-845a-77857039c890.html>DEL. BEN CLINE'S BILL TO REDIRECT ABORTION FUNDS MOVES TO FULL SENATE</a><br>
<a href=http://pilotonline.com/news/government/politics/coal-ash-revaluation-recycling-bill-that-could-affect-chesapeake-energy/article_58c61410-a4b2-5b3b-b302-3f5ba6f26549.html>COAL ASH REVALUATION, RECYCLING BILL THAT COULD AFFECT CHESAPEAKE ENERGY SITE PASSES SENATE PANEL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_c6a3d9bb-ada1-529c-9069-eabb3f269a9e.html>BUDGET MOVES TO BATTLE BETWEEN HOUSE AND SENATE OVER REVENUES, SPENDING PRIORITIES</a><br>
<a href=http://www.richmond.com/news/article_eb5f79e5-642e-59af-9f87-d739e80efee9.html>JAMES RIVER GROUP SAYS TESTS CONFIRM COAL ASH POLLUTION</a><br>
<a href=http://www.richmond.com/article_4d3d06dc-3dca-5f81-92bb-45e005c2604b.html>LAWMAKERS DEBATE PAY DISCREPANCY BETWEEN HOUSE AND SENATE CLERKS</a><br>
<a href=http://wtvr.com/2017/02/03/audience-boos-as-panel-rebuffs-legislation-to-take-politics-out-of-redistricting/>AUDIENCE BOOS AS PANEL REBUFFS LEGISLATION TO TAKE POLITICS OUT OF REDISTRICTING</a><br>
<a href=http://www.winchesterstar.com/news/winchester/nine-opioid-bills-pass-in-legislation/article_e5e59d90-e110-546a-b11f-b62f7768d226.html>NINE OPIOID BILLS PASS IN LEGISLATION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_8eb60e52-bcb8-5600-93f8-20c649edf3e6.html>SEN. JENNIFER MCCLELLAN, WORKING FOR VERIZON ON WIRELESS INFRASTRUCTURE BILL, RECUSES HERSELF FROM VOTE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_85fa7fe2-f7ca-5837-9670-f297d8111f5d.html>SENATE COMMITTEE PASSES ITS VERSION OF VEDP REFORM THAT SEEKS TO PROTECT CURRENT BOARD</a><br>
<a href=http://richmondfreepress.com/news/2017/feb/03/budget-dispute-may-slow-plans-redevelop-boulevard/>BUDGET DISPUTE MAY SLOW PLANS TO REDEVELOP BOULEVARD</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/primaries-remain-open/article_bae8b18e-ef44-11e6-ae26-83a0115ce5d6.html>PRIMARIES REMAIN OPEN</a><br>
<a href=http://www.dailyprogress.com/news/local/landes-withdraws-proposal-that-could-have-ended-revenue-sharing-agreement/article_7eba9a02-ea25-11e6-b828-47c405b73236.html>LANDES WITHDRAWS PROPOSAL THAT COULD HAVE ENDED REVENUE-SHARING AGREEMENT</a><br>
<a href=http://www.insidenova.com/headlines/senate-oks-bill-to-expand-concealed-handgun-permits/article_234003de-ef1a-11e6-8cba-0b0d2de9e561.html>SENATE OKS BILL TO EXPAND CONCEALED HANDGUN PERMITS</a><br>
<a href=http://www.insidenova.com/headlines/women-may-be-able-to-buy-a-year-s-worth/article_9d48ac52-ea66-11e6-b04d-13e168e40d09.html>WOMEN MAY BE ABLE TO BUY A YEAR'S WORTH OF BIRTH CONTROL</a><br>
<a href=http://www.tidewaternews.com/2017/02/03/dog-hunters-landowners-argue-over-bill/>DOG HUNTERS, LANDOWNERS ARGUE OVER BILL</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-adoption-leave-jones-20170203-story.html>VIRGINIA ADOPTION LEAVE BILL PLUCKS THE HEART STRINGS</a><br>
<a href=http://www.loudountimes.com/news/article/va._senate_oks_sen._blacks_bill_to_outlaw_female_circumcision432>VA. SENATE OKS SEN. BLACK'S BILL TO OUTLAW FEMALE CIRCUMCISION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_5aca9a43-b082-5e36-902b-e151f15bdd3a.html>GENERAL ASSEMBLY OUSTS STATE INSPECTOR GENERAL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_ae17171d-7f22-5a9c-98c2-0c0b3c883df1.html>VIRGINIA LAWMAKERS WEIGH LEGISLATION PROTECTING CRITICAL YELP REVIEWS, POLITICAL SPEECH</a><br>
<a href=http://www.richmond.com/news/virginia/article_8cb0c6fa-62d8-54c1-a28b-4d3f8b235346.html>SESSION SO FAR A 'MIXED BAG' ON RENEWABLE ENERGY</a><br>
<a href=http://www.richmond.com/news/virginia/article_3d4ab4cd-fd2f-55af-9759-ef3fc766f392.html>WITH ELECTIONS AHEAD, VIRGINIA REPUBLICANS LOOK TO WIDEN GENERAL ASSEMBLY'S POWER</a><br>
<a href=http://www.richmond.com/news/virginia/article_490c012e-86de-5b6e-94da-3afe15a0858a.html>NAACP: VIRGINIA LAWMAKER WILL STRIKE BILL PROHIBITING QUICK ID OF POLICE OFFICERS AFTER SHOOTINGS</a><br>
<a href=http://pilotonline.com/news/government/virginia/virginia-senate-agrees-to-not-reappoint-state-inspector-general-over/article_680ea897-b178-51db-86e3-45382e99a0c6.html>SENATE AGREES TO NOT REAPPOINT STATE INSPECTOR GENERAL OVER JAMYCHEAL MITCHELL INVESTIGATION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_28207228-582b-5004-b6f8-5f2e11ea680c.html>VA. HOUSE, SENATE BUDGETS WOULD BOOST PAY FOR PUBLIC EMPLOYEES</a><br>
<a href=http://www.newsadvance.com/news/local/lynchburg-wants-its-cut-of-sharing-economy/article_149ee1df-a08c-56a3-8494-af1f4098a98c.html>LYNCHBURG WANTS ITS CUT OF SHARING ECONOMY</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-shad-plank-0211-20170210-story.html>TOUTED RED TAPE REDUCTION BILL WITHERS ON THE VINE</a><br>
<a href=http://patch.com/virginia/ashburn/invasive-bamboo-chopping-block-virginia-legislature>INVASIVE BAMBOO ON CHOPPING BLOCK IN VIRGINIA LEGISLATURE</a><br>
<a href=http://www.loudountribune.com/wexton-minchew-differ-on-education-social-issues/>WEXTON, MINCHEW DIFFER ON EDUCATION, SOCIAL ISSUES</a><br>
<a href=http://www.insidenova.com/headlines/senate-clears-a-path-for-robots-to-deliver/article_c4adcfbe-ea68-11e6-9226-db92cf7e1ebe.html>SENATE CLEARS A PATH FOR ROBOTS TO DELIVER</a><br>
<a href=http://www.insidenova.com/headlines/amendment-would-help-surviving-spouses-of-disabled-vets/article_3ddf132e-eb0a-11e6-89a4-6be033d29047.html>AMENDMENT WOULD HELP SURVIVING SPOUSES OF DISABLED VETS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_91a6a700-01b5-5b4e-9e9e-136e3b35e136.html>SENATE DEFEATS BILL TO LET JUDGES ORDER ONLINE PUBLICATION OF LEGAL NOTICES</a><br>
<a href=http://www.sovanow.com/index.php?/news/article/dog_roaming_bill_advances_in_general_assembly/>DOG ROAMING BILL ADVANCES IN GENERAL ASSEMBLY</a><br>
<a href=http://www.richmond.com/news/article_a5349c9b-00ad-534f-b6a8-a91a9368adf4.html>WHAT DOES FREE SPEECH ON CAMPUS MEAN?</a><br>
<a href=http://pilotonline.com/news/government/virginia/potential-showdown-on-teacher-pay-looming/article_ff4c5cb9-6b91-565a-93bf-a20f8b91c4f1.html>POTENTIAL SHOWDOWN ON TEACHER PAY LOOMING</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/va-senate-spending-plan-slashes-500000-from-the-attorney-generals-budget-as-payback-for-big-raises/2017/02/05/e79ce1ac-e99d-11e6-bf6f-301b6b443624_story.html>VA. SENATE SLASHES $500,000 FROM ATTORNEY GENERAL'S BUDGET AS PAYBACK FOR BIG RAISES</a><br>
<a href=http://www.winchesterstar.com/news/clarke/budget-cuts-could-affect-farmers-fight-with-coyotes/article_593016d3-1195-52a3-a2b5-5f22fb03cece.html>BUDGET CUTS COULD AFFECT FARMERS' FIGHT WITH COYOTES</a><br>
<a href=http://www.insidenova.com/headlines/general-assembly-bill-to-clear-up-language-has-some-worried/article_9f5a3d8a-efcf-11e6-b51d-df02fde786fa.html>BILL TO CLEAR UP LANGUAGE HAS SOME WORRIED THAT AN AMENDMENT WOULD BENEFIT DOMINION</a><br>
<a href=http://www.newsadvance.com/news/local/alternate-budgets-support-different-training-centers-in-virginia/article_65e3357c-efe1-11e6-984c-efee21b6213e.html>ALTERNATE BUDGETS SUPPORT DIFFERENT TRAINING CENTERS IN VIRGINIA</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_6f52ea4e-eeaf-596c-88f4-e8dbdf4cfe8b.html>VIRGINIA SENATE, HOUSE BUDGETS DIVERGE ON PAY FOR TEACHERS, FACULTY, CAPITOL POLICE</a><br>
<a href=http://www.swvatoday.com/news/article_21e2aa22-ea57-11e6-8d18-1fbaaf45e9d9.html>LEGISLATORS SNUFF OUT WYTHE'S TOBACCO TAX PLANS</a><br>
<a href=http://www.richmond.com/life/health/article_0b78da7c-df31-5df2-ab9c-cea2ee672bde.html>VA. COULD LOSE $20 MILLION IN PUBLIC HEALTH FUNDS WITH ACA REPEAL</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/va-bill-creating-metro-safety-body-clears-critical-hurdle-but-require-talks-on-rewriting-compact/2017/02/02/1b08a44e-e986-11e6-80c2-30e57e57e05d_story.html?utm_term=.97fee1c71e85>VA. BILL CREATING METRO SAFETY BODY CLEARS CRITICAL HURDLE, BUT REQUIRES TALKS ON REWRITING COMPACT</a><br>
<a href=http://www.richmond.com/article_0d5e4e75-cc79-5607-bcb4-a6a81179ac71.html>FOIA BILL'S FRACKING AMENDMENT NOT ENOUGH FOR OPPONENTS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_51acd880-60b5-5924-a56e-3dad86f4f09a.html>CAPITOL POLICE UNDERMANNED IN FACE OF RECORD CROWDS, LOOMING CHANGE</a><br>
<a href=http://www.insidenova.com/headlines/those-nabbed-with-marijuana-may-get-slight-break-keeping-licenses/article_5b4826d0-ec6d-11e6-9eb0-b33d96e7d4ff.html>THOSE NABBED WITH MARIJUANA MAY GET SLIGHT BREAK: KEEPING LICENSES</a><br>
<a href=http://www.insidenova.com/news/arlington/legislation-would-give-localities-more-leeway-on-tax-hearings/article_24d6188c-ec6d-11e6-abae-4717f1431f73.html>LEGISLATION WOULD GIVE LOCALITIES MORE LEEWAY ON TAX HEARINGS</a><br>
<a href=http://www.insidenova.com/news/arlington/bill-requiring-presidential-wannabes-to-reveal-tax-information-is-nixed/article_a197e756-ec6d-11e6-b52f-1722800215a9.html>BILL REQUIRING PRESIDENTIAL WANNABES TO REVEAL TAX INFORMATION IS NIXED</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-pre-crossover-20170206-story.html>LONG LEGISLATIVE DAY, BUT STATUS QUO REMAINS ON CONTROVERSIAL BILLS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-welfare-reform-20170206-story.html>GOP WELFARE REFORMS SPUTTER IN HOUSE</a><br>
<a href=http://pilotonline.com/news/nation-world/virginia/bill-would-allow-victims-to-sue-virginia-sanctuary-cities/article_a3fda818-cbe6-5f1c-bfbc-652f5fc58a72.html>BILL WOULD ALLOW VICTIMS TO SUE VIRGINIA SANCTUARY CITIES</a><br>
<a href=http://pilotonline.com/news/government/virginia/rural-lawmakers-help-defeat-dog-hunting-bill/article_6133a89b-1a09-53fe-95cb-8081653f1f29.html>RURAL LAWMAKERS HELP DEFEAT DOG HUNTING BILL</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/house-budget-proposes-new-dollars-for-catawba-hospital/article_0b9dae11-6a9c-5400-a11a-9849dabaab93.html>HOUSE BUDGET PROPOSES NEW DOLLARS FOR CATAWBA HOSPITAL</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/inland-port-study-proposal-shelved-for-this-general-assembly-session/article_28af481e-7728-5964-bacd-868eb410ded5.html>INLAND PORT STUDY PROPOSAL SHELVED FOR THIS GENERAL ASSEMBLY SESSION</a><br>
<a href=http://www.richmond.com/news/local/education/districts/article_2b0bab3a-5782-5601-856d-9cc6dd30e32b.html>BILLS TO CURB LENGTHS OF SUSPENSIONS CLEAR HOUSE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_abed7cbc-12e5-5fe3-ae78-a02c82f03f70.html>VA. HOUSE DEFEATS SPEAKER HOWELL'S BILL TO FINE OWNERS OF STRAYING HUNTING DOGS</a><br>
<a href=http://www.richmond.com/news/virginia/article_7a534d3d-2f07-5882-bf6b-213d6266567b.html>VA. HOUSE BACKS BILL REQUIRING PARENTS BE NOTIFIED OF SEXUALLY EXPLICIT MATERIALS</a><br>
<a href=https://secure.solesolution.com/pages/login>JOB STRATEGY CHANGE MOVES FORWARD</a><br>
<a href=http://www.nbc29.com/story/34439459/pink-is-the-new-orange-for-female-hunters>PINK IS THE NEW ORANGE FOR FEMALE HUNTERS</a><br>

<h2>Higher Education</h2>
<a href=http://www.richmond.com/news/article_f3c7d716-6e63-5ef1-892b-6702dcb6165c.html?referer_url=/news/article_f3c7d716-6e63-5ef1-892b-6702dcb6165c.html>HOUSE PANEL STICKS WITH PLAN TO REQUIRE UNIVERSITY LEADERS TO LIVE IN VIRGINIA</a><br>
<a href=http://www.newsadvance.com/news/local/private-college-memo-could-be-falwell-task-force-playbook/article_3f5606d0-ea6b-11e6-b510-7b520e4f488a.html>PRIVATE COLLEGE MEMO COULD BE FALWELL TASK FORCE PLAYBOOK</a><br>
<a href=http://www.martinsvillebulletin.com/news/forward-thinking-nci-considers-alternatives-for-the-future/article_22c726bd-8f1f-52ce-8f8d-161239931bd1.html>NCI CONSIDERS ALTERNATIVES FOR THE FUTURE</a><br>
<a href=http://www.richmond.com/news/article_da2475d6-f27e-50d5-b283-e2dfbea62a33.html>VIRGINIA COLLEGE ENROLLMENT DECLINE RAISES PERPLEXING QUESTION</a><br>
<a href=http://www.richmond.com/news/virginia/article_e2ded4db-bd6a-5264-b393-9b89a61215a1.html>SWEET BRIAR SELECTS FORMER U.VA. DEAN MEREDITH WOO AS NEW PRESIDENT</a><br>
<a href=http://www.roanoke.com/news/education/higher_education/former-uva-dean-meredith-woo-to-be-sweet-briar-college/article_566c24ca-defa-567c-a694-2d44eb909b0a.html>FORMER UVA DEAN MEREDITH WOO TO BE SWEET BRIAR COLLEGE'S 13TH PRESIDENT</a><br>
<a href=https://www.washingtonpost.com/news/grade-point/wp/2017/02/06/sweet-briars-new-president-comes-via-korea-japan-london-and-u-va/?utm_term=.dd8a710d074b>SWEET BRIAR'S NEW PRESIDENT COMES VIA KOREA, JAPAN, LONDON AND U-VA.</a><br>

<h2>Local</h2>
<a href=http://www.dailyprogress.com/starexponent/news/greene-sheriff-sues-board-over-position-dispute/article_d6f75714-ecd2-11e6-ab67-3f58af6fa3b0.html>GREENE SHERIFF SUES BOARD OVER POSITION DISPUTE</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/petersburg/article_1a3439ac-bcea-55b3-b90f-fb2a98d435fa.html>ACTING CITY MANAGER OKS SALE OF PETERSBURG GENERALS BASEBALL FRANCHISE FOR $100K</a><br>
<a href=http://www.richmond.com/news/virginia/article_8716e536-f163-5fc8-b375-c63d5ea91617.html>CHARLOTTESVILLE PARKS TO BE REDESIGNED, RENAMED ALONG WITH LEE STATUE REMOVAL</a><br>
<a href=http://pilotonline.com/news/government/local/chesapeake-code-doesn-t-define-farmers-markets-complicating-their-approval/article_36db639a-a12e-50fd-9b61-7d0f79e2d369.html>CHESAPEAKE CODE DOESN'T DEFINE FARMERS MARKETS, COMPLICATING THEIR APPROVAL</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/federal-judge-temporarily-blocks-release-of-officers-name-in-fatal-police-shooting/2017/02/08/fe6a1fe4-ee11-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.80f59e039d0a>FEDERAL JUDGE TEMPORARILY BLOCKS RELEASE OF OFFICER'S NAME IN FATAL POLICE SHOOTING</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_29510ec2-1907-5af0-ae0f-1577c8744204.html>RICHMOND MAYOR'S RESPONSE TO TRUMP IMMIGRATION ORDER INFLAMES CONSERVATIVES</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/va-city-rocked-by-former-mayors-felony-drug-charge-elects-new-leader/2017/02/08/4a0779d2-ee0e-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.0c2cf3530141>VA. CITY ROCKED BY FORMER MAYOR'S FELONY DRUG CHARGE ELECTS NEW LEADER</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/tri-cities/petersburg/article_b34c8cde-c760-5e0a-9ce8-2fc5cb935f8f.html>PETERSBURG CITY COUNCIL VOTES TO HIRE ATTORNEY TO DEFEND MAYOR, COUNCILMAN</a><br>
<a href=http://pilotonline.com/news/government/local/portsmouth-mayor-john-rowe-negotiating-bill-for-benefits-state-says/article_03604e48-ab96-5d83-8fee-4e6a869b9937.html>PORTSMOUTH MAYOR JOHN ROWE NEGOTIATING BILL FOR BENEFITS STATE SAYS HE SHOULDN'T HAVE GOTTEN</a><br>
<a href=http://pilotonline.com/news/government/local/mark-whitaker-skips-portsmouth-council-retreat-in-protest-of-mayor/article_13d60732-720d-583a-b1a1-8b02eb034e63.html>COUNCILMAN MARK WHITAKER SKIPS PORTSMOUTH COUNCIL RETREAT IN PROTEST OF MAYOR, RACIAL INJUSTICE</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_bc2819bd-7e2e-5f22-af54-5140245aa5a4.html>RICHMOND MAYOR PARTS WAYS WITH JONES-ERA OFFICIALS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/with-former-mayor-facing-a-felony-drug-charge-fairfax-city-voters-head-to-polls/2017/02/02/8949ed90-e8a6-11e6-b82f-687d6e6a3e7c_story.html?utm_term=.01c45738c5e0>WITH FORMER MAYOR FACING A FELONY DRUG CHARGE, FAIRFAX CITY VOTERS HEAD TO POLLS</a><br>
<a href=http://pilotonline.com/news/government/local/how-does-a-bill-become-a-law-in-norfolk-it/article_541546d3-54d5-530f-a02b-edc7c3ed553c.html>HOW DOES A BILL BECOME A LAW? IN NORFOLK, IT WOULD TAKE AN OPERA NOT A SONG TO EXPLAIN.</a><br>
<a href=http://www.dailypress.com/news/southside/dp-nws-former-hrrj-head-under-fed-investigation-0210-20170209-story.html>NORFOLK SHERIFF UNDER CRIMINAL INVESTIGATION</a><br>
<a href=http://pilotonline.com/news/local/crime/criminal-investigation-of-ex-norfolk-sheriff-bob-mccabe-scrutinizes-jail/article_32f8fa57-699a-5428-a024-acd154204d07.html>CRIMINAL INVESTIGATION OF EX-NORFOLK SHERIFF BOB MCCABE SCRUTINIZES JAIL CONTRACTS</a><br>
<a href=http://www.richmond.com/news/local/education/districts/article_91d3a9a1-1bbb-5a45-bf45-381df65a0758.html>SMITHFIELD FOODS DONATES $3 MILLION TO ISLE OF WIGHT SCHOOLS</a><br>
<a href=http://www.richmond.com/news/article_a755053d-3d9f-565e-b8c4-0f03c4953e2f.html>CULPEPER COUNTY FILES MOTION TO DISMISS FEDERAL MOSQUE LAWSUIT</a><br>
<a href=https://www.washingtonpost.com/local/education/students-at-virginia-high-schools-plan-walkout-friday-in-support-of-immigrants/2017/02/10/27ed1072-efae-11e6-9973-c5efb7ccfb0d_story.html?utm_term=.7aa8b6247454>HUNDREDS OF VIRGINIA HIGH SCHOOL STUDENTS WALK OUT IN SUPPORT OF IMMIGRANTS</a><br>
<a href=http://pilotonline.com/news/local/crime/norfolk-jail-s-medical-contractor-listed-in-fbi-subpoenas-gave/article_26ca752e-fce6-595a-8cc1-6dc0ed85dc50.html>JAIL'S MEDICAL CONTRACTOR GAVE EX-SHERIFF BOB MCCABE CAMPAIGN MONEY</a><br>
<a href=http://pilotonline.com/news/local/a-virginia-beach-dentist-sued-the-city-over-a-relocation/article_6d90826e-cacc-5d3f-92ba-8d185b9aa86f.html>VIRGINIA BEACH DENTIST WINS RELOCATION BATTLE AGAINST CITY</a><br>
<a href=http://pilotonline.com/news/local/crime/fired-employee-says-he-had-raised-concern-about-tax-collection/article_8b15c65b-fea9-5963-8e01-6e270ea9a3d9.html>EMPLOYEE SAYS HE WAS FIRED AFTER RAISING CONCERN ABOUT BURFOOT'S TAX-COLLECTION POLICY</a><br>
<a href=http://www.godanriver.com/news/danville/helicopters-over-danville-part-of-routine-patrols-police-say/article_caa75d28-eb43-11e6-9c51-5f165cdd5ec5.html>HELICOPTERS OVER DANVILLE PART OF ROUTINE PATROLS, POLICE SAY</a><br>
<a href=http://richmondfreepress.com/news/2017/feb/10/giving-sanctuary/>GIVING SANCTUARY?</a><br>
<a href=http://pilotonline.com/news/government/local/amid-whitaker-s-protest-portsmouth-council-retreat-yields-brainstorming-trust/article_d91d743b-befa-5036-a1de-2618fbe0afe0.html>PORTSMOUTH COUNCIL RETREAT YIELDS BRAINSTORMING, TRUST-BUILDING</a><br>
<a href=http://pilotonline.com/news/government/local/we-finally-may-have-something-developers-pitch-ideas-for-building/article_e379d6ef-2552-5b1e-a6a1-9efb8c3ba4f8.html>3 DEVELOPERS PITCH IDEAS FOR BUILDING ON OLD DOME SITE IN VIRGINIA BEACH</a><br>
<a href=http://www.dailyprogress.com/news/local/charlottesville-city-council-votes-to-remove-statue-from-lee-park/article_2c4844ca-ece3-11e6-a7bc-b7d28027df28.html>CHARLOTTESVILLE CITY COUNCIL VOTES TO REMOVE STATUE FROM LEE PARK</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_7aecbe3e-b3ec-582a-ab72-7fa5dd06d03c.html>STONEY PROMISES INCLUSION, BUT AVOIDS TAGGING RICHMOND WITH 'SANCTUARY' LABEL</a><br>

<h2>McDonnell Case</h2>
<a href=http://pilotonline.com/news/local/with-conviction-overthrown-former-gov-mcdonnell-working-again-as-an/article_65406541-a6de-5837-aa88-539827cf7c90.html>WITH CONVICTION OVERTHROWN, FORMER GOV. MCDONNELL WORKING AGAIN AS AN ATTORNEY IN VIRGINIA BEACH</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_1a309040-e9f0-5ec4-9aca-6a40e6a48817.html>MCDONNELL'S DEFENSE FUND TOOK IN $20K IN LAST QUARTER OF 2016</a><br>

<h2>Online News</h2>
<a href=http://www.cavalierdaily.com/article/2017/02/delegate-revises-controversial-financial-aid-bill>DELEGATE REVISES CONTROVERSIAL FINANCIAL AID BILL</a><br>
<a href=http://southsidedaily.com/2017/02/08/two-virginia-house-bills-address-state-human-trafficking-needs/>TWO VIRGINIA HOUSE BILLS ADDRESS STATE HUMAN TRAFFICKING NEEDS</a><br>
<a href=http://www.virginiabusiness.com/news/article/the-go-to-guy?utm_source=email&utm_medium=email&utm_campaign=daily>HAYMORE -- THE GO-TO GUY</a><br>
<a href=http://southsidedaily.com/2017/02/10/virginia-beach-woman-aims-to-press-paws-on-puppy-mills/>VIRGINIA BEACH WOMAN IS BACKING PUPPIES, CONSUMERS WITH SENATE BILL</a><br>
<a href=http://www.virginiabusiness.com/news/article/tennessee-veterinary-school-crosses-state-lines?utm_source=email&utm_medium=email&utm_campaign=daily>TENNESSEE VETERINARY SCHOOL CROSSES STATE LINES</a><br>
<a href=http://www.washingtontimes.com/news/2017/feb/3/mark-warner-lot-smoke-possible-contacts-between-do/>MARK WARNER: 'LOT OF SMOKE' ON POSSIBLE CONTACTS BETWEEN TRUMP ASSOCIATES AND RUSSIA</a><br>
<a href=http://www.fauquiernow.com/index.php/fauquier_news/article/fauquier-environmentally-minded-firms-might-get-tax-breaks-2017>ENVIRONMENTALLY-MINDED FIRMS MIGHT GET TAX BREAKS</a><br>
<a href=http://www.washingtonexaminer.com/virginias-mcauliffe-promises-then-rejects-ronald-reagan-day/article/2614017>VIRGINIA'S MCAULIFFE PROMISES, THEN REJECTS, 'RONALD REAGAN DAY'</a><br>

<h2>Op-Ed</h2>
<a href=http://pilotonline.com/opinion/columnist/guest/bill-desteph-chap-peterson-virginia-must-do-better-on-college/article_e185616b-6c8e-56ec-8dc4-e73a26e17333.html>DESTEPH & PETERSEN: VIRGINIA MUST DO BETTER ON COLLEGE AFFORDABILITY</a><br>
<a href=https://www.washingtonpost.com/opinions/a-virginia-school-boards-unconscionable-stance-on-child-abuse/2017/02/03/ce331ebe-df59-11e6-918c-99ede3c8cafa_story.html?utm_term=.7f0ec6b099b0>COLE: A VIRGINIA SCHOOL BOARD'S UNCONSCIONABLE STANCE ON CHILD ABUSE</a><br>
<a href=https://www.washingtonpost.com/opinions/legislators-rewrite-virginias-history-overstating-its-christian-heritage/2017/02/10/8afda076-e8ad-11e6-bf6f-301b6b443624_story.html?utm_term=.13b88b69fcf6>LEGISLATORS REWRITE VIRGINIA'S HISTORY, OVERSTATING ITS 'CHRISTIAN HERITAGE'</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_1a243ef0-2334-5bac-9e3f-b4636a61d1a4.html>BRAUNLICH: A CHARTER SCHOOL PROPOSAL THAT CAN TURN AROUND FAILING SCHOOL DISTRICTS</a><br>

<h2>State Elections</h2>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_d560722d-3bad-543b-94a4-8e6ba600578d.html>BOURNE WINS LANDSLIDE VICTORY IN SPECIAL ELECTION FOR RICHMOND-AREA HOUSE SEAT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/sanders-alum-to-lead-tom-perriellos-campaign-for-virginia-governor/2017/02/07/d3892150-ed4c-11e6-9973-c5efb7ccfb0d_story.html?utm_term=.6dfaa9b3a220>SANDERS ALUM TO LEAD TOM PERRIELLO'S CAMPAIGN FOR VIRGINIA GOVERNOR</a><br>
<a href=http://www.roanoke.com/news/virginia/gubernatorial-candidate-denver-riggleman-makes-stop-in-roanoke/article_fc561b57-4818-5e0a-b7ac-fe20adb211be.html>GUBERNATORIAL CANDIDATE DENVER RIGGLEMAN MAKES STOP IN ROANOKE</a><br>
<a href=http://www.insidenova.com/headlines/corey-stewart-wants-federal-info-on-arrested-undocumented-immigrants/article_b57a1718-ed7a-11e6-a45f-5742a343c893.html>COREY STEWART WANTS FEDERAL INFO ON ARRESTED UNDOCUMENTED IMMIGRANTS</a><br>
<a href=http://wjla.com/news/local/virginia-voters-select-fairfax-city-mayor-house-delegate>VIRGINIA VOTERS SELECT FAIRFAX CITY MAYOR, HOUSE DELEGATE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/perriello-comes-out-against-pipeline-and-in-a-shift-offshore-drilling/2017/02/08/034c4cea-ee34-11e6-9662-6eedf1627882_story.html>PERRIELLO COMES OUT AGAINST PIPELINE, AND IN A SHIFT, SAYS HE IS SKEPTICAL OF OFFSHORE DRILLING</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_09e40267-8bc4-5a1c-ad39-281efbb3a840.html>IN BREAK WITH MCAULIFFE, PERRIELLO ANNOUNCES OPPOSITION TO VIRGINIA PIPELINE PROJECTS</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/democrat-to-challenge-del-greg-habeeb-in-th-district/article_4fbb0389-3ff9-5b8d-bdd0-bc47948c33c5.html>DEMOCRAT TO CHALLENGE DEL. GREG HABEEB</a><br>
<a href=http://www.newsadvance.com/news/local/gillespie-calls-for-cutting-regulations-growing-small-businesses-at-roundtable/article_7f2500e6-ef29-11e6-a104-fbad8c9eb7a8.html>GILLESPIE CALLS FOR CUTTING REGULATIONS, GROWING SMALL BUSINESSES AT ROUNDTABLE</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/politics/gillespie-campaigns-with-kentucky-governor-in-staunton/article_03136f72-ef30-11e6-ade0-1bf389cdab60.html>GILLESPIE CAMPAIGNS WITH KENTUCKY GOVERNOR IN STAUNTON</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_68b9b317-08a7-5624-9cc7-883be70cbdf6.html>'DARK MONEY' ATTACK ON VOGEL APPEARS ONLINE; WHO'S BEHIND IT REMAINS SECRET</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/gubernatorial-hopeful-perriello-swings-by-city/article_7c85550c-ea92-11e6-b4c9-636efe59175c.html>GUBERNATORIAL HOPEFUL PERRIELLO SWINGS BY CITY</a><br>
<a href=http://www.richmond.com/news/virginia/article_74d3a434-687b-5efd-9797-139cbbf0f566.html>CHRIS HURST, ANCHOR WHOSE GIRLFRIEND WAS KILLED ON AIR, LEAVES WDBJ TO RUN FOR OFFICE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/gillespie-at-liberty-u-my-setbacks-were-part-of-gods-plan/2017/02/06/6a6c570c-ec82-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.12a2d7662e5b>ED GILLESPIE AT LIBERTY UNIVERSITY: MY SETBACKS WERE PART OF GOD'S PLAN</a><br>
<a href=http://www.richmond.com/news/local/article_b5fccc8a-e77e-5b99-97ea-911759a61225.html>WITH SESSION NEAR MIDPOINT, SPECIAL ELECTION TUESDAY WILL FILL RICHMOND-AREA HOUSE SEAT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/democrat-tom-perriello-says-he-raised-11-million-a-month-into-va-governor-campaign/2017/02/06/4c0accac-ec79-11e6-9662-6eedf1627882_story.html>DEMOCRAT TOM PERRIELLO SAYS HE RAISED $1.1 MILLION A MONTH INTO VA. GUBERNATORIAL CAMPAIGN</a><br>
<a href=http://www.loudountimes.com/news/article/fairfax_republican_launches_campaign_for_34th_house_district432>FAIRFAX REPUBLICAN LAUNCHES CAMPAIGN FOR 34TH HOUSE DISTRICT</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_8cf7b091-c470-5b0c-a893-4a7a0f68a774.html>AT LIBERTY, GILLESPIE TELLS STUDENTS HOW FAITH HELPED HIM REBOUND FROM SETBACKS</a><br>
<a href=http://www.fredericksburg.com/news/local/stafford/republican-laquan-austion-announces-house-of-delegates-bid/article_7c1b7fca-f530-5282-9ea6-a1d398ba233d.html>REPUBLICAN LAQUAN AUSTION ANNOUNCES HOUSE OF DELEGATES BID</a><br>

<h2>State Government</h2>
<a href=http://www.nvdaily.com/news/2017/02/conceal-carry-permits-spiked-in-2016/>CONCEAL CARRY PERMITS SPIKED IN 2016</a><br>
<a href=http://www.heraldcourier.com/news/documentary-filmed-in-red-onion-prison-debuts-on-hbo/article_c4ce00f2-eda3-11e6-9158-7b9039a87dc9.html>DOCUMENTARY FILMED IN RED ONION PRISON DEBUTS ON HBO</a><br>
<a href=https://www.washingtonpost.com/local/education/a-majority-of-virginians-say-public-schools-are-underfunded-survey-shows/2017/02/08/6b911cc0-ee2c-11e6-b4ff-ac2cf509efe5_story.html>A MAJORITY OF VIRGINIANS SAY PUBLIC SCHOOLS ARE UNDERFUNDED, SURVEY SHOWS</a><br>
<a href=http://valawyersweekly.com/2017/02/08/jirc-urges-censure-of-judges-for-courthouse-advocacy/>JIRC URGES CENSURE OF JUDGES FOR COURTHOUSE ADVOCACY</a><br>
<a href=http://valawyersweekly.com/2017/02/08/judge-blocks-felon-gun-permits/>JUDGE BLOCKS FELON GUN PERMITS</a><br>
<a href=http://rrecord.com/oyster-sanctuary-rule-being-aired-in-legislature-lancaster-courtroom/>OYSTER SANCTUARY RULE BEING AIRED IN LEGISLATURE, LANCASTER COURTROOM</a><br>
<a href=http://rrecord.com/scc-denies-motion-in-tower-battle/>SCC DENIES MOTION IN TOWER BATTLE</a><br>
<a href=http://www.richmond.com/news/local/crime/article_15646cf5-95c2-5fc7-98c5-bc916dd2b6df.html>CORRECTIONS OFFICER, INMATES CHARGED WITH ATTEMPTED MURDER OF INMATE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-inspector-general-may-lose-job-over-inmate-death-probe/2017/02/09/acd6e4e2-eee7-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.cb45cf9c2a2c>VIRGINIA INSPECTOR GENERAL MAY LOSE JOB OVER INMATE DEATH PROBE</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/politics/retired-judges-in-hot-water-over-outspoken-views-on-referendum/article_103983de-ef31-11e6-8547-c3dc579e29d4.html>RETIRED JUDGES IN HOT WATER OVER OUTSPOKEN VIEWS ON REFERENDUM</a><br>
<a href=http://www.richmond.com/news/local/crime/article_3d0f771c-ec00-5e08-bc14-880bb971b5e8.html>OFFICER GETS 3 MONTHS IN FATAL SHOOTING</a><br>
<a href=http://www.richmond.com/life/health/article_e265ccf9-3b70-573c-9c26-67cb4130ab48.html>WITH SEX ASSAULT EVIDENCE KITS READY TO BE TESTED, VIRGINIA TO REACH OUT TO SURVIVORS</a><br>
<a href=http://www.heraldcourier.com/news/virginia-delays-wellmont-merger/article_14d994ba-ecf7-11e6-ad76-0f2512d4b94d.html>VIRGINIA DELAYS WELLMONT MERGER</a><br>
<a href=http://www.swvatoday.com/news/richlands_clinch_valley/article_cbabacf4-ecb2-11e6-a490-6f9470286f6e.html>STATE'S ECONOMIC DEVELOPMENT LEADER VISITS REGION</a><br>

<h2>The Friday Read</h2>
<a href=https://www.wsj.com/articles/a-lesson-learned-the-hard-way-not-every-clean-late-model-sedan-is-an-uber-1486657077>STARTLED MOTORISTS TO MIXED-UP UBER USERS: GET OUT OF MY CAR!</a><br>

<h2>Transportation</h2>
<a href=http://www.dailypress.com/news/politics/dp-nws-ga-people-express-20170206-story.html>PENINSULA AIRPORT COMMISSION: $1,300 TO SEE PEOPLE EXPRESS RECORDS</a><br>
<a href=https://www.washingtonpost.com/news/dr-gridlock/wp/2017/02/09/dc-md-va-get-temporary-reprieve-from-deadline-to-create-metro-safety-agency/?utm_term=.20e332c6cea2>D.C., MARYLAND AND VIRGINIA GET TEMPORARY REPRIEVE FROM DEADLINE TO CREATE METRO SAFETY AGENCY</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/feds-to-withhold-millions-of-dollars-until-creation-of-metro-safety-commission/2017/02/10/6824ec0e-efc3-11e6-9973-c5efb7ccfb0d_story.html?utm_term=.e804e2eda1ff>U. S. WITHHOLDS MILLIONS OF DOLLARS UNTIL METRO SAFETY COMMISSION IS CREATED</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/use-of-private-contractors-at-metro-grows-amid-union-concerns/2017/02/04/1d1b2778-e7ee-11e6-bf6f-301b6b443624_story.html?utm_term=.eb948af34958>USE OF PRIVATE CONTRACTORS AT METRO GROWS AMID UNION CONCERNS</a><br>
<a href=http://www.loudountimes.com/news/article/what_will_metro_really_cost_if_county_officials_know_they_arent_saying987>WHAT WILL METRO REALLY COST LOUDOUN? IF COUNTY OFFICIALS KNOW, THEY AREN'T SAYING</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/will-paul-j-wiedefeld-be-the-man-who-saves-metro/2017/02/05/6b47289a-c177-11e6-8422-eac61c0ef74d_story.html?utm_term=.ffb5c8b4b8d7>AFTER A YEAR, METRO CHIEF PAUL J. WIEDEFELD STILL FACES UPHILL CLIMB</a><br>
<a href=http://www.vagazette.com/news/dp-nws-people-express-jcc-concern-20170210-story.html>JAMES CITY FREEZING AIR SERVICE FUND PAYMENTS, YORK MAY FOLLOW</a><br>

<h2>TV/Radio</h2>
<a href=http://wvtf.org/post/lawmakers-move-toward-keeping-rape-kits-longer#stream/0>LAWMAKERS MOVE TOWARD KEEPING RAPE KITS LONGER</a><br>
<a href=http://wtvr.com/2017/02/07/carly-fiorina-on-virginia-senate-run-im-certainly-looking-at-that-opportunity/>CARLY FIORINA ON VIRGINIA SENATE RUN: 'I'M CERTAINLY LOOKING AT THAT OPPORTUNITY'</a><br>
<a href=http://wvtf.org/post/lawmaker-insists-non-partisan-redistricting-not-dead#stream/0>LAWMAKER INSISTS NON-PARTISAN REDISTRICTING IS NOT DEAD</a><br>
<a href=http://wvtf.org/post/lawmakers-tackle-budget-woes-how-will-it-impact-future#stream/0>LAWMAKERS TACKLE BUDGET WOES, BUT HOW WILL IT IMPACT THE FUTURE?</a><br>
<a href=http://wvtf.org/post/state-republicans-look-limit-governors-power>STATE REPUBLICANS LOOK TO LIMIT GOVERNOR'S POWER</a><br>
<a href=http://www.nbc29.com/story/34476409/candidate-perriello-weighs-in-on-charlottesville-statue-controversy>CANDIDATE PERRIELLO WEIGHS IN ON CHARLOTTESVILLE STATUE CONTROVERSY</a><br>
<a href=http://abcnews.go.com/Politics/virginia-adds-challenge-trump-immigration-order-asks-federal/story?id=45410953>VIRGINIA ADDS ANOTHER CHALLENGE TO TRUMP IMMIGRATION ORDER</a><br>
<a href=http://wavy.com/2017/02/10/virginia-challenges-president-trumps-travel-ban-in-federal-district-court/>VIRGINIA CHALLENGES PRESIDENT TRUMP'S TRAVEL BAN IN FEDERAL DISTRICT COURT</a><br>
<a href=http://wtvr.com/2017/02/06/after-wrongful-imprisonment-of-33-years-virginia-man-will-get-1-6-million/>AFTER WRONGFUL IMPRISONMENT OF 33 YEARS, VIRGINIA MAN WILL GET $1.6 MILLION</a><br>

<h2>Virginia Other</h2>
<a href=http://www.vagazette.com/news/dp-tidewaterbiz-dominion-20170131-story.html>DOMINION SURRY-SKIFFES CREEK TRANSMISSION LINE STILL IN LIMBO</a><br>
<a href=http://www.dailypress.com/health/dp-nws-obamacare-virginia-signups-final-2016-0208-20170207-story.html>MORE VIRGINIANS SIGNED UP FOR OBAMACARE IN 2016</a><br>
<a href=https://www.washingtonpost.com/local/a-virginia-city-votes-to-remove-a-confederate-statue-but-doing-so-may-prove-difficult/2017/02/08/519042da-ee3e-11e6-b4ff-ac2cf509efe5_story.html?utm_term=.556fa67dd566>A VIRGINIA CITY VOTES TO REMOVE A CONFEDERATE STATUE, BUT DOING SO MAY PROVE DIFFICULT</a><br>
<a href=http://www.dailyprogress.com/news/local/two-candidates-for-governor-lash-out-at-decision-to-move/article_0a84c720-ee67-11e6-b7e1-936ba7e1199f.html>TWO CANDIDATES FOR GOVERNOR LASH OUT AT DECISION TO MOVE LEE STATUE</a><br>
<a href=http://www.progress-index.com/news/20170208/confederate-flag-gets-supersized?rssfeed=true>CONFEDERATE FLAG GETS SUPERSIZED</a><br>
<a href=http://www.therecorderonline.com/news/2017-02-09/Top_News/Pipeline_opponents_urged_to_fight_on.html>PIPELINE OPPONENTS URGED TO FIGHT ON</a><br>
<a href=https://www.washingtonpost.com/local/education/supreme-court-scheduled-to-hear-transgender-bathroom-case-in-march/2017/02/03/cac96b08-ea52-11e6-b82f-687d6e6a3e7c_story.html?utm_term=.b53e98eb6fb0>SUPREME COURT SCHEDULED TO HEAR TRANSGENDER BATHROOM CASE IN MARCH</a><br>
<a href=http://www.richmond.com/news/article_95dd521b-c230-54ba-8322-ee53f67c193d.html>MORRISSEY FILES LAWSUIT AGAINST WILDER ALLEGING UNPAID LEGAL BILLS, RETALIATORY BAR COMPLAINT</a><br>
<a href=http://www.dailypress.com/news/gloucester-county/dp-nws-mid-grimm-oral-argument-date-20170203-story.html>ORAL ARGUMENTS IN GAVIN GRIMM TRANSGENDER CASE SET FOR MARCH 28</a><br>
<a href=http://www.richmond.com/business/article_8ac2f328-de5b-54c1-8a35-18e91193b217.html>OPPONENTS URGE OUTDOOR BOARD TO REJECT EASEMENT REQUEST FOR DOMINION'S ATLANTIC COAST PIPELINE</a><br>
<a href=http://pilotonline.com/news/local/education/supreme-court-sets-date-to-hear-case-over-gloucester-transgender/article_12569e49-fb4f-53d7-b202-28fbcac94faa.html>SUPREME COURT SETS DATE TO HEAR CASE OVER GLOUCESTER TRANSGENDER TEEN'S USE OF BATHROOM</a><br>
<a href=http://pilotonline.com/sports/virginia-sports-hall-of-fame-votes-to-leave-portsmouth-for/article_cca3ba42-9591-51ee-9642-7d198a75b3aa.html>VIRGINIA SPORTS HALL OF FAME VOTES TO LEAVE PORTSMOUTH FOR VIRGINIA BEACH</a><br>
<a href=http://pilotonline.com/news/government/politics/local/hampton-roads-trump-supporters-quietly-enjoying-washington-s-upheaval/article_9f91c7dd-2cc4-5c07-918b-e439eebf4a81.html>HAMPTON ROADS' TRUMP SUPPORTERS QUIETLY ENJOYING WASHINGTON'S UPHEAVAL</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/poll-virginians-want-drivers-to-only-use-hands-free-cellphones/article_171a8206-68e1-52da-bb05-27de52928aa3.html>POLL: VIRGINIANS WANT DRIVERS TO ONLY USE HANDS-FREE CELLPHONES, DECRIMINALIZE MARIJUANA</a><br>
<a href=http://www.newsadvance.com/news/local/atlantic-coast-pipeline-granted-access-to-survey-nelson-properties/article_0b85d020-f1f6-5707-9f79-0022176f7bbe.html>PIPELINE COMPANY GRANTED ACCESS TO SURVEY 29 NELSON PROPERTIES</a><br>
