
<h2>Columnists</h2>
<a href=http://pilotonline.com/news/local/columnist/kerry-dougherty/kerry-dougherty-college-honchos-have-only-themselves-to-blame/article_f49ddef0-dd7a-5bbd-a76d-88e48f0daada.html>DOUGHERTY: COLLEGE HONCHOS HAVE ONLY THEMSELVES TO BLAME</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/bart-hinkle/article_234fde48-7b6c-564a-824e-d5787fa850b2.html>HINKLE: GOVERNORS DON'T TRANSFORM ECONOMIES, FOR GOOD OR ILL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_efb06d84-5e47-5dcf-b1cc-b335f8a2b20c.html>SCHAPIRO: HOUSE REDISTRICTING DECISION - THE GORILLA IN THE ROOM</a><br>
<a href=http://pilotonline.com/news/local/columnist/kerry-dougherty/kerry-dougherty-the-sour-grapes-flee-capitol-hill/article_e47f4031-e9f3-5e94-9246-9a961f6066c8.html>DOUGHERTY: THE SOUR GRAPES FLEE CAPITOL HILL</a><br>
<a href=http://pilotonline.com/news/local/environment/big-problem-big-data-groundbreaking-apps-aim-to-put-eastern/article_ea08d5ee-9b9b-57b6-9dd3-aec0784353a0.html>MAYFIELD: GROUNDBREAKING APPS AIM TO PUT EASTERN SHORE A STEP AHEAD OF SEA LEVEL RISE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_187a8c6c-4369-5563-a811-0eefc700f0c9.html>SCHAPIRO: LONG BEFORE REJECTING TRUMP'S VERSION, VA. GAVE POPULISM A TRY</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-rectifying-the-way-we-treat-mentally-ill-inmates/article_f37a2b84-1b9c-5ae9-9b4e-a097c5fe7aa4.html>CHESLEY: RECTIFYING THE WAY WE TREAT MENTALLY ILL INMATES</a><br>

<h2>Congress</h2>
<a href=http://www.insidenova.com/news/fairfax/rep-connolly-to-again-seek-televising-of-supreme-court-proceedings/article_b33751de-dca2-11e6-b5f4-d724970cd575.html>REP. CONNOLLY TO AGAIN SEEK TELEVISING OF SUPREME COURT PROCEEDINGS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/northern-virginia-rep-gerry-connolly-to-skip-trump-inaugural/2017/01/18/9fc02ec2-dd84-11e6-ad42-f3375f271c9c_story.html?utm_term=.2da8fa76f8df>NORTHERN VIRGINIA REP. GERALD E. CONNOLLY TO SKIP TRUMP INAUGURAL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_735c5b5b-8efa-5da6-a828-e336dbfba7e0.html>VA. DEMOCRATIC REPS. MCEACHIN, CONNOLLY, BEYER BOYCOTTING TRUMP'S INAUGURATION</a><br>
<a href=http://www.loudountimes.com/news/article/obamacare_advocates_rally_at_rep._comstocks_district_office_in_sterling>OBAMACARE ADVOCATES RALLY AT REP. COMSTOCK'S DISTRICT OFFICE IN STERLING</a><br>
<a href=http://www.insidenova.com/headlines/rep-gerry-connolly-announces-he-will-not-attend-inauguration/article_1748dcf0-dd94-11e6-9f1a-0f135a6851ed.html>REP. GERRY CONNOLLY ANNOUNCES HE WILL NOT ATTEND INAUGURATION</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-scott-crime-20170118-story.html>VIRGINIA REP. SCOTT TO TRY AGAIN ON CRIME REFORM</a><br>
<a href=http://www.progress-index.com/news/20170117/mceachin-conflicted-about-inauguration>MCEACHIN 'CONFLICTED' ABOUT INAUGURATION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_8cb764da-0061-52c8-9616-b24afc18e6d2.html>KAINE SAYS HE OPPOSES PRICE FOR HEALTH SECRETARY, BACKS HALEY FOR U.N. AMBASSADOR</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/2-us-lawmakers-want-to-fix-metro-but-their-bills-will-probably-face-major-hurdles/2017/01/14/d85eb21c-d90b-11e6-b8b2-cb5164beba6b_story.html>2 U.S. LAWMAKERS WANT TO FIX METRO BY REWRITING ITS GOVERNING CHARTER</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-va-congressman-scott-will-attend-inauguration-20170119-story.html>VA. CONGRESSMAN SCOTT WILL ATTEND INAUGURATION</a><br>
<a href=http://pilotonline.com/news/government/nation/democrat-bobby-scott-on-trump-administration-you-can-disagree-without/article_cc514dd5-a505-53cd-b3c6-d123f90e0ce9.html>DEMOCRAT BOBBY SCOTT ON TRUMP ADMINISTRATION: "YOU CAN DISAGREE WITHOUT BEING DISAGREEABLE"</a><br>
<a href=http://www.richmond.com/news/national-world/government-politics/trump-first-100-days/article_7f3391db-d004-559f-b89f-8d28279d6dca.html>LIBERAL VIRGINIA CONGRESSMAN, TRUMP VA. CAMPAIGN CHAIRMAN FIND COMMON GROUND AT INAUGURAL</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/democratic-congressman-from-virginia-will-not-attend-inauguration/2017/01/16/b7e8e650-dc54-11e6-acdf-14da832ae861_story.html?utm_term=.acc9900ccd06>DEMOCRATIC CONGRESSMAN FROM VIRGINIA WILL NOT ATTEND INAUGURATION</a><br>

<h2>Economy/Business</h2>
<a href=http://www.roanoke.com/business/news/carilion-s-agee-takes-role-in-shaping-replacement-to-obamacare/article_cc896ac6-e031-5d0c-9e77-010739de0c60.html>CARILION'S AGEE TAKES ROLE IN SHAPING REPLACEMENT TO OBAMACARE</a><br>
<a href=http://www.bizjournals.com/washington/news/2017/01/18/general-dynamics-huntington-ingalls-readying-for.html>GENERAL DYNAMICS, HUNTINGTON INGALLS READYING FOR MASSIVE NAVY BUILDUP</a><br>
<a href=http://www.gazettejournal.net/index.php/news/news_article/solar_facility_proposed_for_gloucester>SOLAR FACILITY PROPOSED FOR GLOUCESTER</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-ga-dominion-nuclear-20170119-story.html>HOUSE PANEL SAYS DOMINION CAN CHARGE CUSTOMERS FOR NUKE UPGRADES</a><br>
<a href=http://www.richmond.com/business/article_8d56a5d6-ad47-5564-8a26-9771f6d1705c.html>REPORT: NO SAFETY ISSUES THAT WOULD PREVENT LICENSE FOR NORTH ANNA REACTOR</a><br>
<a href=http://www.roanoke.com/news/virginia/study-impact-of-virginia-s-wine-industry-grew-percent-from/article_60f6c443-5a65-53f8-b906-2e8d54016be1.html>STUDY: IMPACT OF VIRGINIA'S WINE INDUSTRY GREW 83 PERCENT FROM 2010 TO 2015</a><br>
<a href=http://www.roanoke.com/business/news/appalachian-seeks-proposals-for-large-scale-solar-power-generation/article_6b845d61-3a9c-5f69-9eb5-17a1b3a88e79.html>APPALACHIAN SEEKS PROPOSALS FOR LARGE-SCALE SOLAR POWER GENERATION</a><br>
<a href=http://www.roanoke.com/business/news/pulaski_county/in-turnabout-volvo-cancels-worker-layoffs-at-pulaski-county-plant/article_70e92012-b015-51d9-b80b-c3f1eabf053b.html>IN TURNABOUT, VOLVO CANCELS WORKER LAYOFFS AT PULASKI COUNTY PLANT</a><br>
<a href=http://valawyersweekly.com/2017/01/19/appeals-court-affirms-conviction-of-coal-ceo/>APPEALS COURT AFFIRMS CONVICTION OF COAL CEO</a><br>
<a href=http://pilotonline.com/news/military/local/seal-team-six-is-back-on-tv-but-show-didn/article_f401599d-8357-5807-8aac-fd1dacdf335d.html>SEAL TEAM SIX IS BACK ON TV, BUT SHOW DIDN'T FILM IN VIRGINIA BEACH</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/conservative-former-state-ag-files-brief-challenging-dominion-power-rates/2017/01/20/715d9c94-df24-11e6-ad42-f3375f271c9c_story.html?utm_term=.87a04a3841be>CUCCINELLI FILES BRIEF CHALLENGING DOMINION POWER RATES</a><br>
<a href=http://www.roanoke.com/news/local/radford-arsenal-project-receives-million-contract/article_91e5f83a-a482-5aa9-b634-0f38a7181b11.html>RADFORD ARSENAL PROJECT RECEIVES $177.8 MILLION CONTRACT</a><br>
<a href=http://www.nytimes.com/aponline/2017/01/16/us/politics/ap-us-supreme-court-offensive-trademarks.html?_r=1>FREE SPEECH CLASH: JUSTICES CONSIDERING OFFENSIVE TRADEMARKS</a><br>
<a href=http://www.godanriver.com/news/danville/august-death-probe-may-bring-additional-fines-citations-against-goodyear/article_ecae8e6e-daa4-11e6-9b84-6b2353d29ff0.html>AUGUST DEATH PROBE MAY BRING ADDITIONAL FINES, CITATIONS AGAINST GOODYEAR</a><br>
<a href=http://www.southwesttimes.com/2017/01/volvo-cancels-layoffs-500-jobs-saved/>VOLVO CANCELS LAYOFFS; 500 JOBS SAVED</a><br>
<a href=http://www.richmond.com/news/virginia/article_d101b3dd-b924-5f5c-9e61-0ffe308c2bea.html>IN TURNABOUT, VOLVO CANCELS WORKER LAYOFFS AT VIRGINIA PLANT</a><br>

<h2>Editorials</h2>
<a href=http://www.roanoke.com/opinion/editorials/editorial-why-can-t-democrats-win-the-the-general-assembly/article_9168f8c2-0468-5c14-b1e5-a15c25d3322e.html>WHY CAN'T DEMOCRATS WIN THE THE GENERAL ASSEMBLY?</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-virginia-s-racial-struggles-hit-the-silver-screen/article_57fefacd-9596-5406-8ffa-513056b4951c.html>VIRGINIA'S RACIAL STRUGGLES HIT THE SILVER SCREEN</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-removing-the-blot-of-corruption-legally/article_f469c016-d243-52f1-a6f7-d36a129bb439.html>REMOVING THE BLOT OF CORRUPTION, LEGALLY</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_c68a13a2-eaf6-5534-aa90-1231ab448316.html>THE VIRGINIA EDUCATION ASSOCIATION'S MESSAGE DISCIPLINE</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_32178c0d-9dc4-5373-810e-b2f1994c8f83.html>TIM KAINE MAKES RIGHT CALL ON CABINET PICKS</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-hamilton-prisons-0119-20170118-story.html>A NATION BEHIND BARS</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-bring-accountability-to-jail-investigations/article_174d2d59-4cf8-5cee-8860-3197f1954ea5.html>BRING ACCOUNTABILITY TO JAIL INVESTIGATIONS</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-enforcement-by-camera-gains-traction/article_324efba2-dcfd-11e6-b941-0b2eea42e733.html>ENFORCEMENT BY CAMERA GAINS TRACTION</a><br>
<a href=http://www.loudountimes.com/news/article/editorial_for_1_billion_citizens_should_expect_accountability432>FOR $1 BILLION, CITIZENS SHOULD EXPECT ACCOUNTABILITY FROM LOUDOUN COUNTY PUBLIC SCHOOLS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_e0af9bf5-c443-53bd-8797-4bb185268299.html>ECONOMIC DEVELOPMENT TURNS PARTISAN</a><br>
