
<h2>Columnists</h2>
<a href=http://pilotonline.com/news/local/columnist/kerry-dougherty/kerry-dougherty-college-honchos-have-only-themselves-to-blame/article_f49ddef0-dd7a-5bbd-a76d-88e48f0daada.html>DOUGHERTY: COLLEGE HONCHOS HAVE ONLY THEMSELVES TO BLAME</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/bart-hinkle/article_234fde48-7b6c-564a-824e-d5787fa850b2.html>HINKLE: GOVERNORS DON'T TRANSFORM ECONOMIES, FOR GOOD OR ILL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_efb06d84-5e47-5dcf-b1cc-b335f8a2b20c.html>SCHAPIRO: HOUSE REDISTRICTING DECISION - THE GORILLA IN THE ROOM</a><br>
<a href=http://pilotonline.com/news/local/columnist/kerry-dougherty/kerry-dougherty-the-sour-grapes-flee-capitol-hill/article_e47f4031-e9f3-5e94-9246-9a961f6066c8.html>DOUGHERTY: THE SOUR GRAPES FLEE CAPITOL HILL</a><br>
<a href=http://pilotonline.com/news/local/environment/big-problem-big-data-groundbreaking-apps-aim-to-put-eastern/article_ea08d5ee-9b9b-57b6-9dd3-aec0784353a0.html>MAYFIELD: GROUNDBREAKING APPS AIM TO PUT EASTERN SHORE A STEP AHEAD OF SEA LEVEL RISE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/article_187a8c6c-4369-5563-a811-0eefc700f0c9.html>SCHAPIRO: LONG BEFORE REJECTING TRUMP'S VERSION, VA. GAVE POPULISM A TRY</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-rectifying-the-way-we-treat-mentally-ill-inmates/article_f37a2b84-1b9c-5ae9-9b4e-a097c5fe7aa4.html>CHESLEY: RECTIFYING THE WAY WE TREAT MENTALLY ILL INMATES</a><br>

<h2>Congress</h2>
<a href=http://www.insidenova.com/news/fairfax/rep-connolly-to-again-seek-televising-of-supreme-court-proceedings/article_b33751de-dca2-11e6-b5f4-d724970cd575.html>REP. CONNOLLY TO AGAIN SEEK TELEVISING OF SUPREME COURT PROCEEDINGS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/northern-virginia-rep-gerry-connolly-to-skip-trump-inaugural/2017/01/18/9fc02ec2-dd84-11e6-ad42-f3375f271c9c_story.html?utm_term=.2da8fa76f8df>NORTHERN VIRGINIA REP. GERALD E. CONNOLLY TO SKIP TRUMP INAUGURAL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_735c5b5b-8efa-5da6-a828-e336dbfba7e0.html>VA. DEMOCRATIC REPS. MCEACHIN, CONNOLLY, BEYER BOYCOTTING TRUMP'S INAUGURATION</a><br>
<a href=http://www.loudountimes.com/news/article/obamacare_advocates_rally_at_rep._comstocks_district_office_in_sterling>OBAMACARE ADVOCATES RALLY AT REP. COMSTOCK'S DISTRICT OFFICE IN STERLING</a><br>
<a href=http://www.insidenova.com/headlines/rep-gerry-connolly-announces-he-will-not-attend-inauguration/article_1748dcf0-dd94-11e6-9f1a-0f135a6851ed.html>REP. GERRY CONNOLLY ANNOUNCES HE WILL NOT ATTEND INAUGURATION</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-scott-crime-20170118-story.html>VIRGINIA REP. SCOTT TO TRY AGAIN ON CRIME REFORM</a><br>
<a href=http://www.progress-index.com/news/20170117/mceachin-conflicted-about-inauguration>MCEACHIN 'CONFLICTED' ABOUT INAUGURATION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_8cb764da-0061-52c8-9616-b24afc18e6d2.html>KAINE SAYS HE OPPOSES PRICE FOR HEALTH SECRETARY, BACKS HALEY FOR U.N. AMBASSADOR</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/2-us-lawmakers-want-to-fix-metro-but-their-bills-will-probably-face-major-hurdles/2017/01/14/d85eb21c-d90b-11e6-b8b2-cb5164beba6b_story.html>2 U.S. LAWMAKERS WANT TO FIX METRO BY REWRITING ITS GOVERNING CHARTER</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-va-congressman-scott-will-attend-inauguration-20170119-story.html>VA. CONGRESSMAN SCOTT WILL ATTEND INAUGURATION</a><br>
<a href=http://pilotonline.com/news/government/nation/democrat-bobby-scott-on-trump-administration-you-can-disagree-without/article_cc514dd5-a505-53cd-b3c6-d123f90e0ce9.html>DEMOCRAT BOBBY SCOTT ON TRUMP ADMINISTRATION: "YOU CAN DISAGREE WITHOUT BEING DISAGREEABLE"</a><br>
<a href=http://www.richmond.com/news/national-world/government-politics/trump-first-100-days/article_7f3391db-d004-559f-b89f-8d28279d6dca.html>LIBERAL VIRGINIA CONGRESSMAN, TRUMP VA. CAMPAIGN CHAIRMAN FIND COMMON GROUND AT INAUGURAL</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/democratic-congressman-from-virginia-will-not-attend-inauguration/2017/01/16/b7e8e650-dc54-11e6-acdf-14da832ae861_story.html?utm_term=.acc9900ccd06>DEMOCRATIC CONGRESSMAN FROM VIRGINIA WILL NOT ATTEND INAUGURATION</a><br>

<h2>Economy/Business</h2>
<a href=http://www.roanoke.com/business/news/carilion-s-agee-takes-role-in-shaping-replacement-to-obamacare/article_cc896ac6-e031-5d0c-9e77-010739de0c60.html>CARILION'S AGEE TAKES ROLE IN SHAPING REPLACEMENT TO OBAMACARE</a><br>
<a href=http://www.bizjournals.com/washington/news/2017/01/18/general-dynamics-huntington-ingalls-readying-for.html>GENERAL DYNAMICS, HUNTINGTON INGALLS READYING FOR MASSIVE NAVY BUILDUP</a><br>
<a href=http://www.gazettejournal.net/index.php/news/news_article/solar_facility_proposed_for_gloucester>SOLAR FACILITY PROPOSED FOR GLOUCESTER</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-ga-dominion-nuclear-20170119-story.html>HOUSE PANEL SAYS DOMINION CAN CHARGE CUSTOMERS FOR NUKE UPGRADES</a><br>
<a href=http://www.richmond.com/business/article_8d56a5d6-ad47-5564-8a26-9771f6d1705c.html>REPORT: NO SAFETY ISSUES THAT WOULD PREVENT LICENSE FOR NORTH ANNA REACTOR</a><br>
<a href=http://www.roanoke.com/news/virginia/study-impact-of-virginia-s-wine-industry-grew-percent-from/article_60f6c443-5a65-53f8-b906-2e8d54016be1.html>STUDY: IMPACT OF VIRGINIA'S WINE INDUSTRY GREW 83 PERCENT FROM 2010 TO 2015</a><br>
<a href=http://www.roanoke.com/business/news/appalachian-seeks-proposals-for-large-scale-solar-power-generation/article_6b845d61-3a9c-5f69-9eb5-17a1b3a88e79.html>APPALACHIAN SEEKS PROPOSALS FOR LARGE-SCALE SOLAR POWER GENERATION</a><br>
<a href=http://www.roanoke.com/business/news/pulaski_county/in-turnabout-volvo-cancels-worker-layoffs-at-pulaski-county-plant/article_70e92012-b015-51d9-b80b-c3f1eabf053b.html>IN TURNABOUT, VOLVO CANCELS WORKER LAYOFFS AT PULASKI COUNTY PLANT</a><br>
<a href=http://valawyersweekly.com/2017/01/19/appeals-court-affirms-conviction-of-coal-ceo/>APPEALS COURT AFFIRMS CONVICTION OF COAL CEO</a><br>
<a href=http://pilotonline.com/news/military/local/seal-team-six-is-back-on-tv-but-show-didn/article_f401599d-8357-5807-8aac-fd1dacdf335d.html>SEAL TEAM SIX IS BACK ON TV, BUT SHOW DIDN'T FILM IN VIRGINIA BEACH</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/conservative-former-state-ag-files-brief-challenging-dominion-power-rates/2017/01/20/715d9c94-df24-11e6-ad42-f3375f271c9c_story.html?utm_term=.87a04a3841be>CUCCINELLI FILES BRIEF CHALLENGING DOMINION POWER RATES</a><br>
<a href=http://www.roanoke.com/news/local/radford-arsenal-project-receives-million-contract/article_91e5f83a-a482-5aa9-b634-0f38a7181b11.html>RADFORD ARSENAL PROJECT RECEIVES $177.8 MILLION CONTRACT</a><br>
<a href=http://www.nytimes.com/aponline/2017/01/16/us/politics/ap-us-supreme-court-offensive-trademarks.html?_r=1>FREE SPEECH CLASH: JUSTICES CONSIDERING OFFENSIVE TRADEMARKS</a><br>
<a href=http://www.godanriver.com/news/danville/august-death-probe-may-bring-additional-fines-citations-against-goodyear/article_ecae8e6e-daa4-11e6-9b84-6b2353d29ff0.html>AUGUST DEATH PROBE MAY BRING ADDITIONAL FINES, CITATIONS AGAINST GOODYEAR</a><br>
<a href=http://www.southwesttimes.com/2017/01/volvo-cancels-layoffs-500-jobs-saved/>VOLVO CANCELS LAYOFFS; 500 JOBS SAVED</a><br>
<a href=http://www.richmond.com/news/virginia/article_d101b3dd-b924-5f5c-9e61-0ffe308c2bea.html>IN TURNABOUT, VOLVO CANCELS WORKER LAYOFFS AT VIRGINIA PLANT</a><br>

<h2>Editorials</h2>
<a href=http://www.roanoke.com/opinion/editorials/editorial-why-can-t-democrats-win-the-the-general-assembly/article_9168f8c2-0468-5c14-b1e5-a15c25d3322e.html>WHY CAN'T DEMOCRATS WIN THE THE GENERAL ASSEMBLY?</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-virginia-s-racial-struggles-hit-the-silver-screen/article_57fefacd-9596-5406-8ffa-513056b4951c.html>VIRGINIA'S RACIAL STRUGGLES HIT THE SILVER SCREEN</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-removing-the-blot-of-corruption-legally/article_f469c016-d243-52f1-a6f7-d36a129bb439.html>REMOVING THE BLOT OF CORRUPTION, LEGALLY</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_c68a13a2-eaf6-5534-aa90-1231ab448316.html>THE VIRGINIA EDUCATION ASSOCIATION'S MESSAGE DISCIPLINE</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_32178c0d-9dc4-5373-810e-b2f1994c8f83.html>TIM KAINE MAKES RIGHT CALL ON CABINET PICKS</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-hamilton-prisons-0119-20170118-story.html>A NATION BEHIND BARS</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-bring-accountability-to-jail-investigations/article_174d2d59-4cf8-5cee-8860-3197f1954ea5.html>BRING ACCOUNTABILITY TO JAIL INVESTIGATIONS</a><br>
<a href=http://www.dailyprogress.com/opinion/opinion-editorial-enforcement-by-camera-gains-traction/article_324efba2-dcfd-11e6-b941-0b2eea42e733.html>ENFORCEMENT BY CAMERA GAINS TRACTION</a><br>
<a href=http://www.loudountimes.com/news/article/editorial_for_1_billion_citizens_should_expect_accountability432>FOR $1 BILLION, CITIZENS SHOULD EXPECT ACCOUNTABILITY FROM LOUDOUN COUNTY PUBLIC SCHOOLS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_e0af9bf5-c443-53bd-8797-4bb185268299.html>ECONOMIC DEVELOPMENT TURNS PARTISAN</a><br>
<a href=http://www.dnronline.com/opinion/about-that-fund-what-s-ahead-for-u-va/article_3a2bdfe0-dd9b-11e6-bd1b-ff30a808150e.html>ABOUT THAT FUND " WHAT'S AHEAD FOR U.VA.</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_0b14dbd4-9a06-5021-834e-ec320f16dde5.html>DOMINION POWER LINE DEBATE PITS BLACKOUTS AGAINST A VIEW</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-holton-s-long-lasting-lesson-about-roanoke/article_4cfefffb-d436-5ac2-8c7b-2507afe99c18.html>HOLTON'S LONG-LASTING LESSON ABOUT ROANOKE</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-nws-edt-mlkday-editorial-0116-20170114-story.html>STILL REACHING FOR THE PRIZE</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-foia-0115-20170114-story.html>WE'RE ALL IN THIS TOGETHER</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/article_1980e8d1-602f-5bfe-b4fe-d88ee173e79c.html>WHAT ACCOUNTS FOR THE DECLINE IN ABORTION?</a><br>
<a href=http://www.newsleader.com/story/opinion/editorials/2017/01/20/landes-should-withdraw-courthouse-bill/96831346/>LANDES SHOULD WITHDRAW COURTHOUSE BILL</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/there-are-more-important-issues-than-bathrooms/article_215dd3ee-d9de-11e6-9ecd-03e1c998ae13.html>THERE ARE MORE IMPORTANT ISSUES THAN BATHROOMS</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-empty-words-from-the-governor-on-coalfield-schools/article_c08a5881-8d6d-5f20-87ef-5d98604305a0.html>EMPTY WORDS FROM THE GOVERNOR ON COALFIELD SCHOOLS</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-school-discipline-0117-20170116-story.html>KEEPING THEM IN CLASS</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-assembly-could-make-waves-with-bills-about-fish/article_8725f3e4-c99d-5372-acc8-5130c6e3ca2b.html>ASSEMBLY COULD MAKE WAVES WITH BILLS ABOUT FISH</a><br>
<a href=http://www.newsadvance.com/opinion/editorials/the-general-assembly-s-to-do-list/article_744a68da-dc2f-11e6-8d85-5391dcfbaadc.html>THE GENERAL ASSEMBLY'S TO-DO LIST</a><br>

<h2>Executive Branch</h2>
<a href=http://www.richmond.com/news/article_e636abe4-0568-5662-afaa-e137d6d9c97f.html>GRAY SET TO BE EXECUTED WEDNESDAY NIGHT IN MURDER WAVE 11 YEARS AGO</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_f4933b4b-ce13-51f5-852b-dce67ea7475d.html>TAX AMNESTY PROPOSAL PART OF PACKAGE TO BOOST REVENUES IN VIRGINIA</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/virginia-set-to-execute-man-with-controversial-drug/2017/01/17/07d9649a-dcc9-11e6-acdf-14da832ae861_story.html?utm_term=.916a94b86176>VIRGINIA SET TO EXECUTE MAN WITH CONTROVERSIAL DRUG</a><br>
<a href=http://pilotonline.com/news/government/virginia/governor-won-t-stop-the-execution-of-ricky-gray/article_07aaaf5b-6db2-5309-aca6-37f757224580.html>GOV. MCAULIFFE SAYS HE WON'T STOP WEDNESDAY'S EXECUTION OF RICKY GRAY</a><br>
<a href=http://bigstory.ap.org/article/409e612ad32a4e6aaa37adfdefbc270b>FEDS ADVISE WORKAROUND ON ASSET FORFEITURE RULE</a><br>
<a href=http://www.insidenova.com/headlines/gov-mcauliffe-to-join-march-on-washington/article_224610a8-de72-11e6-9a26-e72bfe9aa447.html>GOV. MCAULIFFE TO JOIN MARCH ON WASHINGTON</a><br>
<a href=https://www.washingtonpost.com/local/mcauliffe-northam-to-attend-womens-march/2017/01/19/b62bec0c-de63-11e6-8902-610fe486791c_story.html?utm_term=.44fc6a260640>MCAULIFFE, NORTHAM TO ATTEND WOMEN'S MARCH</a><br>
<a href=https://www.washingtonpost.com/news/powerpost/wp/2017/01/15/mcauliffe-joins-ex-dnc-chairs-backing-clinton-campaign-vet-for-party-role/?utm_term=.d8d319896522>MCAULIFFE JOINS EX-DNC CHAIRS BACKING CLINTON CAMPAIGN VET FOR PARTY ROLE</a><br>
<a href=http://www.fairfaxtimes.com/articles/herring-virginia-will-protect-muslims-against-hate-crimes/article_71a2f7f8-df6f-11e6-8375-93d27a6774d5.html>HERRING: VIRGINIA WILL PROTECT MUSLIMS AGAINST HATE CRIMES</a><br>

<h2>Federal Elections</h2>
<a href=http://pilotonline.com/news/government/politics/virginia/conservative-host-laura-ingraham-is-considering-a-senate-run-against/article_cb11f488-7d3e-5a6b-b01d-7b02aacb271e.html>CONSERVATIVE HOST LAURA INGRAHAM IS CONSIDERING A SENATE RUN AGAINST TIM KAINE</a><br>
<a href=http://pilotonline.com/news/local/traveling-trump-resistance-group-holds-rally-in-norfolk/article_e8ad18c1-31c4-5e57-b90e-0d72b5ffaa68.html>TRAVELING TRUMP RESISTANCE GROUP HOLDS RALLY IN NORFOLK</a><br>
<a href=http://www.roanoke.com/news/politics/conservative-talk-radio-host-laura-ingraham-mulls-senate-run-against/article_2016997c-1b91-5dd6-9c22-a2a66870312c.html>CONSERVATIVE TALK RADIO HOST LAURA INGRAHAM MULLS SENATE RUN AGAINST TIM KAINE IN VIRGINIA</a><br>
<a href=http://www.nydailynews.com/news/politics/laura-ingraham-mulling-2018-run-va-sen-tim-kaine-article-1.2948150>LAURA INGRAHAM MULLING 2018 RUN AGAINST VIRGINIA SEN. TIM KAINE</a><br>
<a href=http://www.richmond.com/news/article_501ef09a-36e4-5150-b053-7d9050609a16.html>LOCAL BLACK CONSERVATIVES REJECT CALLS TO BOYCOTT INAUGURATION</a><br>

<h2>From vpap.org</h2>
<a href=http://www.vpap.org/money/raw-maps/>VISUALIZATION: MAPPING LATEST DONATIONS TO STATEWIDE CANDIDATES</a><br>
<a href=http://www.vpap.org/bills/56953/HR268/>VISUALIZATION: CLOSE VOTE ANALYZER</a><br>
<a href=http://www.vpap.org/visualizations/statewide-races-amount-raised-before-election>VISUALIZATION: IS EARLY MONEY A PREDICTOR OF FUTURE SUCCESS?</a><br>

<h2>General Assembly</h2>
<a href=http://www.dailyprogress.com/newsvirginian/news/state/landes-bill-would-create-county-economic-revitalization-zones/article_1ae18aba-dc54-11e6-ace7-570b139c597c.html>LANDES' BILL WOULD CREATE COUNTY ECONOMIC REVITALIZATION ZONES</a><br>
<a href=https://secure.solesolution.com/pages/login>STATE LAWMAKERS FILE DOZENS OF BILLS</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/roanoke-council-condemns-del-kathy-byron-s-broadband-bill/article_8e4e721e-b48c-5c4b-98bc-c67532c67f50.html>ROANOKE COUNCIL CONDEMNS DEL. KATHY BYRON'S BROADBAND BILL</a><br>
<a href=http://www.insidenova.com/headlines/groups-criticize-panel-for-not-hiking-minimum-wage/article_41940872-dcef-11e6-8ee8-ef4d3b9d440a.html>GROUPS CRITICIZE PANEL FOR NOT HIKING MINIMUM WAGE</a><br>
<a href=http://www.newsadvance.com/news/local/sen-newman-proposing-bill-to-prevent-ballot-shortages-following-special/article_b33a0420-dcdd-11e6-b864-3740d8af64df.html>SEN. NEWMAN PROPOSING BILL TO PREVENT BALLOT SHORTAGES AFTER LYNCHBURG'S SPECIAL ELECTION PROBLEMS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-peninsula-bills-20170117-story.html>JAMES CITY JUNK CAR, FORT MONROE AUTHORITY MEMBERSHIP BILLS MOVE FORWARD</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-ga-power-lines-20170117-story.html>SKIFFES CREEK POWER LINE RULING CREATES COMPLICATIONS FOR WESTERN VA LEGISLATOR</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-day-care-fingerprint-20170117-story.html>'30 PIECES OF SILVER' DAY CARE FINGERPRINT BILL DRAWS CHURCH CRITICISM</a><br>
<a href=http://www.richmond.com/news/virginia/article_9efec97d-004d-545e-a7d7-b172ef84f795.html>VIRGINIA HUNTING ENTHUSIASTS SAY HOWELL IS BARKING UP WRONG TREE WITH DOG TRESPASSING BILL</a><br>
<a href=http://www.richmond.com/news/virginia/article_a9597552-86c4-5e3c-aed2-a5891078b070.html>HOUSE SUBCOMMITTEE KILLS MCAULIFFE-BACKED PROPOSAL TO REPEAL VOTER PHOTO ID LAW</a><br>
<a href=http://www.arlingtonconnection.com/news/2017/jan/17/online-virginia-lottery-sales-dont-bet-it/>ONLINE VIRGINIA LOTTERY SALES? DON'T BET ON IT</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/del-landes-sets-session-priorities/article_7c2d9b4e-dd38-11e6-aefd-8382687931c1.html>DEL. LANDES SETS SESSION PRIORITIES</a><br>
<a href=http://www.fredericksburg.com/news/va_md_dc/open-government-advocates-upset-over-fracking-shield-bill/article_bfa60b2f-2039-5c5e-9078-921de7c55690.html>OPEN-GOVERNMENT ADVOCATES UPSET OVER FRACKING SHIELD BILL</a><br>
<a href=http://www.heraldcourier.com/news/lawmakers-discuss-possible-funding-for-coalfields-expressway/article_57bf17e4-365c-552c-b993-e3787d740873.html>LAWMAKERS DISCUSS POSSIBLE FUNDING FOR COALFIELDS EXPRESSWAY</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/luckily-weve-got-a-pediatric-neurologist-in-the-chamber/2017/01/17/08b0e058-dcee-11e6-ad42-f3375f271c9c_story.html?utm_term=.520ecbfbe4f6>VIRGINIA POLITICS 'LUCKILY, WE'VE GOT A PEDIATRIC NEUROLOGIST IN THE CHAMBER'</a><br>
<a href=http://valawyersweekly.com/2017/01/17/legislators-propose-access-to-statewide-court-records/>LEGISLATORS PROPOSE ACCESS TO STATEWIDE COURT RECORDS</a><br>
<a href=http://valawyersweekly.com/2017/01/17/gop-proposes-alternative-on-suspended-drivers-licenses/>GOP PROPOSES ALTERNATIVE ON SUSPENDED DRIVER'S LICENSES</a><br>
<a href=http://pilotonline.com/news/government/local/jamycheal-mitchell-s-family-comes-to-richmond-to-support-bills/article_4816362c-e23e-55a7-9efe-83884eb89cca.html>JAMYCHEAL MITCHELL'S FAMILY COMES TO RICHMOND TO SUPPORT BILLS ADDRESSING JAIL, MENTAL HEALTH</a><br>
<a href=http://www.richmond.com/news/virginia/article_8fbfe938-86d9-5d33-9816-616c601c7e75.html>VIRGINIA HOUSE APPROVES 'DAY OF TEARS' RESOLUTION TO ENCOURAGE HALF-STAFF FLAGS OVER ABORTION</a><br>
<a href=http://www.insidenova.com/headlines/house-oks-bill-to-ease-rule-on-concealed-gun-permits/article_d9d05416-ddbb-11e6-aaf0-8f5b7080a1a4.html>HOUSE OKS BILL TO EASE RULE ON CONCEALED GUN PERMITS</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/cursing-in-public-is-a-crime-in-virginia-but-maybe/article_8a394c89-27d5-5d8f-9f31-32da8522d151.html>AFTER BILL DIES, CURSING IN PUBLIC REMAINS A CRIME IN VIRGINIA</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-jamycheal-mitchell-20170118-story.html>JAMYCHEAL MITCHELL'S FAMILY: PLEASE, NOT AGAIN</a><br>
<a href=http://pilotonline.com/news/government/virginia/hampton-roads-legislators-rally-against-rising-tuition-costs-at-state/article_19b471fc-b77c-5ab2-a906-8d88651136b9.html>HAMPTON ROADS LEGISLATORS RALLY AGAINST RISING TUITION COSTS AT STATE COLLEGES</a><br>
<a href=http://www.richmond.com/news/local/central-virginia/article_7d8ba924-7646-5b05-9d5d-78da587ef101.html>LAWMAKERS ELECT 2 VETERAN LOCAL ATTORNEYS TO FILL JUDGESHIPS IN RICHMOND, CHESTERFIELD</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_e99cc03b-14a6-55ea-a754-155024019fff.html>BILL TO ALLOW CONCEALED WEAPONS WITHOUT A PERMIT ADVANCES IN SENATE COMMITTEE</a><br>
<a href=http://www.richmond.com/news/collection_bcb2f0b7-3d2a-501b-afba-691ddefc7b7d.html>JAMYCHEAL MITCHELL'S FAMILY SPEAK OUT TO LAWMAKERS</a><br>
<a href=http://www.richmond.com/news/virginia/article_6cc9048d-c8be-50df-9eeb-841ef07b2f6d.html>HOSPITALS ENCOURAGE 'DO NO HARM' APPROACH TO COPN REFORM IN VIRGINIA</a><br>
<a href=http://www.roanoke.com/news/education/southwest-virginia-schools-superintendents-optimistic-after-meeting-with-legislators/article_16e64c38-590e-597d-8885-2876dcfff8b9.html>SOUTHWEST VIRGINIA SCHOOLS SUPERINTENDENTS OPTIMISTIC AFTER MEETING WITH LEGISLATORS</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/byron-bill-broadly-criticized-in-richmond/article_eeba3881-69ad-5b7c-8cf0-888f0bca0221.html>BYRON BILL BROADLY CRITICIZED IN RICHMOND</a><br>
<a href=http://valawyersweekly.com/2017/01/18/lawmakers-pledge-mental-health-reform/>VIRGINIA LAWMAKERS PLEDGE TO PASS MENTAL HEALTH REFORM</a><br>
<a href=http://valawyersweekly.com/2017/01/18/assembly-names-new-judges/>ASSEMBLY NAMES NEW JUDGES</a><br>
<a href=http://www.alexandriagazette.com/news/2017/jan/19/ebbin-works-behind-scenes-cut-deal-sewer-system/>EBBIN WORKS BEHIND THE SCENES TO CUT A DEAL ON SEWER SYSTEM</a><br>
<a href=http://www.fauquier.com/news/shut-my-mouth-bill-would-make-it-ok-to-use/article_0e63d790-de73-11e6-ac54-7709060925b3.html>SHUT MY MOUTH: BILL WOULD MAKE IT OK TO USE PROFANITY IN VIRGINIA</a><br>
<a href=http://rrecord.com/bay-related-bills-multiply-at-the-general-assembly/>BAY-RELATED BILLS MULTIPLY AT THE GENERAL ASSEMBLY</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/in-virginia-republican-led-committee-kills-transgender-bathroom-bill/2017/01/19/4428c0ee-de63-11e6-acdf-14da832ae861_story.html>IN VIRGINIA, REPUBLICAN-LED COMMITTEE KILLS TRANSGENDER 'BATHROOM BILL'</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/alexandria-mayor-balks-at-state-senate-deadline-for-stopping-sewage-overflows/2017/01/19/423d8f3c-de5c-11e6-ad42-f3375f271c9c_story.html?utm_term=.dda7fd93626d>ALEXANDRIA MAYOR BALKS AT STATE SENATE DEADLINE FOR STOPPING SEWAGE OVERFLOWS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_e86d519e-0cf8-5604-9569-b573875441a5.html>GOP-LED PANEL VOTES DOWN MARSHALL'S TRANSGENDER BATHROOM BILL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_f5acf814-6498-583a-8b45-9a94599af5cd.html>SENATORS SKEPTICAL OF NEED FOR NEW VIRGINIA ABC WAREHOUSE</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/del-kathy-byron-s-broadband-bill-too-restrictive-state-official/article_d1ab75f7-aa33-5c6e-ab16-ea075ee00c12.html>DEL. KATHY BYRON'S BROADBAND BILL 'TOO RESTRICTIVE,' STATE OFFICIAL SAYS</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/01/19/landes-bill-would-let-county-move-courthouse/96770992/>LANDES BILL WOULD LET COUNTY MOVE COURTHOUSE</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/roanoke-long-gun-open-carry-ban-fails-in-general-assembly/article_11d67dac-db59-5ab9-8e93-6f3b7bf84bce.html>ROANOKE LONG-GUN OPEN CARRY BAN FAILS IN GENERAL ASSEMBLY</a><br>
<a href=http://pilotonline.com/news/government/virginia/virginia-transgender-bathroom-bill-dispatched-quickly/article_9b03114a-82be-5479-b3d8-95664c384c6d.html>VIRGINIA TRANSGENDER BATHROOM BILL DISPATCHED QUICKLY</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/local/local-prosecutor-becomes-first-indian-american-judge-elected-in-virginia/article_edc7b48a-dea3-11e6-839c-1f7eab957765.html>LOCAL PROSECUTOR BECOMES FIRST INDIAN-AMERICAN JUDGE ELECTED IN VIRGINIA</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-police-bills-20170119-story.html>POLICE SHOOTING, BODY CAMERA BILLS GO DOWN</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-nnpd-juvenile-gun-20170119-story.html>NEWPORT NEWS POLICE SEEKS CLARITY: JUVENILE GUN RIGHTS VS. PARENT PERMISSION</a><br>
<a href=http://pilotonline.com/news/government/local/virginia-beach-norfolk-concerned-about-broadband-internet-bill-in-the/article_aeb4b971-021e-5ea0-b2eb-85546dc17426.html>VIRGINIA BEACH, NORFOLK CONCERNED ABOUT BROADBAND INTERNET BILL IN THE GENERAL ASSEMBLY</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_edada0ad-9599-54b0-a40b-7de5d81f0e80.html>BILL TO PROVIDE CLEAN NEEDLES TO DRUG USERS PASSES VA. HOUSE COMMITTEE</a><br>
<a href=http://www.winchesterstar.com/news/winchester/bill-to-block-jurors-information-opposed/article_9086c8cc-076f-5fd7-b628-131f63e2a0ab.html>BILL TO BLOCK JURORS' INFORMATION OPPOSED</a><br>
<a href=http://www.alexandriagazette.com/news/2017/jan/12/predatory-loans-crossfire/>PREDATORY LENDERS WORK BEHIND THE SCENES TO AVOID REGULATION AND EVADE THE LAW</a><br>
<a href=http://www.newsobserver.com/news/politics-government/state-politics/article127490359.html>HB2-LIKE BATHROOM BILL IN VIRGINIA DIES A QUICK DEATH IN COMMITTEE</a><br>
<a href=http://www.cavalierdaily.com/article/2017/01/bill-introduced-in-general-assembly-to-protect-free-speech-at-public-colleges>BILL INTRODUCED IN GENERAL ASSEMBLY TO PROTECT FREE SPEECH AT PUBLIC COLLEGES</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-va-del-kilgore-calls-for-predatory-lending-study-20170119-post.html>VA. DEL KILGORE CALLS FOR PREDATORY LENDING STUDY</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/fairfax-delegate-champions-roanoke-s-effort-to-get-added-to/article_355e415a-4610-5a80-a4e4-413268472b0b.html>FAIRFAX DELEGATE CHAMPIONS ROANOKE'S EFFORT TO GET ADDED TO LONG-GUN BAN</a><br>
<a href=http://www.nbc29.com/story/34302243/house-gop-plans-to-push-direct-primary-care-plan>HOUSE GOP PLANS TO PUSH DIRECT PRIMARY CARE PLAN</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/education/bell-eyes-legislation-to-reform-school-discipline/article_5e07b368-db88-11e6-a13d-23b2b793a9fa.html>BELL EYES LEGISLATION TO REFORM SCHOOL DISCIPLINE</a><br>
<a href=http://www.nbc29.com/story/34302242/bill-advancing-to-create-cabinet-job-to-deal-with-flooding>BILL ADVANCING TO CREATE CABINET JOB TO DEAL WITH FLOODING</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-dominion-bill-redo-1349-20170113-story.html>BILL: END DOMINION RATE FIX IF CARBON REGULATIONS FALL</a><br>
<a href=http://pilotonline.com/news/local/crime/former-virginia-delegate-phil-hamilton-beaten-with-a-padlock-in/article_155fcd9a-a0e4-5f4e-b76c-d17bf4cf7ec4.html>FORMER VIRGINIA DELEGATE PHIL HAMILTON BEATEN WITH A PADLOCK IN PRISON, FAMILY SAYS</a><br>
<a href=http://pilotonline.com/news/government/local/virginia-beach-norfolk-chesapeake-concerned-about-broadband-internet-bill-in/article_aeb4b971-021e-5ea0-b2eb-85546dc17426.html>VIRGINIA BEACH, NORFOLK, CHESAPEAKE CONCERNED ABOUT BROADBAND INTERNET BILL</a><br>
<a href=http://www.insidenova.com/headlines/bills-would-help-hurt-undocumented-immigrants/article_20500968-df51-11e6-b85c-6f8588ef5ae3.html>BILLS WOULD HELP, HURT UNDOCUMENTED IMMIGRANTS</a><br>
<a href=http://www.insidenova.com/headlines/bill-would-outlaw-tethering-dogs-other-pets/article_56f7c214-df54-11e6-a128-57f0f6b4cce4.html>BILL WOULD OUTLAW TETHERING DOGS, OTHER PETS</a><br>
<a href=http://www.insidenova.com/headlines/lawmakers-aim-to-increase-access-to-opiate-antagonist/article_6f2b91f4-df53-11e6-be9a-f3f01ddfd03c.html>LAWMAKERS AIM TO INCREASE ACCESS TO OPIATE ANTAGONIST</a><br>
<a href=http://www.progress-index.com/news/20170116/lawmakers-start-tackling-virginias-opioid-crisis?rssfeed=true>LAWMAKERS START TACKLING VIRGINIA'S OPIOID CRISIS</a><br>
<a href=https://www.washingtonpost.com/local/its-a-job-to-live-on-725-an-hour/2017/01/20/6ebf40fc-df59-11e6-8902-610fe486791c_story.html?utm_term=.cf9a5c76d055>IT'S A JOB TO LIVE ON $7.25 AN HOUR</a><br>
<a href=http://www.richmond.com/news/local/education/article_1c38895c-4885-5a19-8e00-b30e3ac114bd.html>ADVOCATES WANT TO MAKE SURE EVERY VIRGINIA CHILD HAS ACCESS TO A NURSE WHILE IN SCHOOL</a><br>
<a href=http://www.roanoke.com/news/virginia/cox-cline-introduce-bill-to-create-online-education-authority/article_9b8c0e42-cf7c-503e-8e92-7450be9b1408.html>COX, CLINE INTRODUCE BILL TO CREATE ONLINE EDUCATION AUTHORITY</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/senate-bill-requiring-restaurants-to-serve-food-all-times-alcohol/article_0f2538a9-0fb0-57f8-992a-2b28aabeadbd.html>SENATE BILL REQUIRING RESTAURANTS TO SERVE FOOD ALL TIMES ALCOHOL IS SERVED ADVANCES</a><br>
<a href=http://www.fredericksburg.com/news/local/king_george/king-george-supervisors-lobby-for-disclosure-of-fracking-chemicals/article_1ebb571c-ce45-51c0-9874-ca6df8123afd.html>KING GEORGE SUPERVISORS LOBBY FOR DISCLOSURE OF FRACKING CHEMICALS</a><br>
<a href=http://valawyersweekly.com/2017/01/20/hospitals-gear-up-for-fight-over-regulation/>HOSPITALS GEAR UP FOR FIGHT OVER REGULATION</a><br>
<a href=http://valawyersweekly.com/2017/01/20/work-underway-in-legislature-on-virginias-opioid-crisis/>WORK UNDERWAY ON VIRGINIA'S OPIOID CRISIS</a><br>
<a href=http://www.fredericksburg.com/business/local_business/surovell-wants-to-make-virginia-universities-more-accountable-to-taxpayers/article_1357952c-6b23-5f5e-be86-18acad9f673b.html>SUROVELL WANTS TO MAKE VIRGINIA UNIVERSITIES MORE ACCOUNTABLE TO TAXPAYERS</a><br>
<a href=http://www.alexandriagazette.com/news/2017/jan/16/senate-panel-approves-crackdown-internet-lenders/>SENATE PANEL APPROVES CRACKDOWN ON INTERNET LENDERS IN VIRGINIA</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-democrats-raise-a-ruckus-over-republicans-not-repudiating-trump/2017/01/16/d65741a8-dc37-11e6-918c-99ede3c8cafa_story.html?utm_term=.9681c19033d6>DEMOCRATIC LEGISLATORS RAISE A RUCKUS OVER REPUBLICANS NOT REPUDIATING TRUMP</a><br>
<a href=http://pilotonline.com/news/government/local/bill-in-virginia-general-assembly-aims-to-avoid-another-anthony/article_79388289-fdd1-5e00-a2b9-56cf52be65fc.html>BILL IN VIRGINIA GENERAL ASSEMBLY AIMS TO AVOID ANOTHER ANTHONY BURFOOT SITUATION</a><br>
<a href=http://pilotonline.com/life/flavor/restaurants/virginia-beach-restaurateurs-want-relief-from-outdated-food-sale-requirements/article_68471198-9f04-5431-a330-1c474dcb3c32.html>VIRGINIA BEACH RESTAURATEURS WANT RELIEF FROM "OUTDATED" FOOD SALE REQUIREMENTS</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/va-progress-doing-what-general-assembly-has-not-live-streaming/article_ab25c403-d292-5fbe-a602-a09f83f20567.html>PROGRESS VA DOING WHAT GENERAL ASSEMBLY HAS NOT: LIVE-STREAMING COMMITTEE HEARINGS</a><br>
<a href=http://www.richmond.com/news/virginia/article_96fd1b39-12f7-5619-bf09-7c638edce54e.html>BILL SEEKS $1.45 MILLION FOR MAN WRONGLY IMPRISONED 33 YEARS FOR 1982 RAPE AND MURDER</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_985eff2e-001c-5d28-be7c-1d59d91780e5.html>VIRGINIA SENATE PANEL SPIKES BILL THAT WOULD RESTORE UTILITY RATE REVIEWS</a><br>
<a href=http://www.richmond.com/news/virginia/article_9c41d95a-b6b7-59b6-bfd3-269d947f5a56.html>HOUSE PANEL ADVANCES 'DAY OF TEARS' RESOLUTION TO ENCOURAGE VIRGINIANS TO MOURN ABORTION</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_9152363c-c83b-5ecf-b20c-c055eb5add20.html>MEDICAID BLOCK GRANT BAD IDEA, STATE LAWMAKERS SAY</a><br>
<a href=http://www.insidenova.com/headlines/house-panel-oks-day-of-tears-resolution/article_79f8dcb2-dc48-11e6-8291-f76803b06e60.html>HOUSE PANEL OKS 'DAY OF TEARS' RESOLUTION</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-dominion-bill-dies-20170116-story.html>BILL TO REOPEN UTILITY RATE REVIEWS DIES</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-norment-group-home-bill-20170116-story.html>AFTER WILLIAMSBURG CONTROVERSY, AND A SUICIDE, VA. SENATOR WANTS LIMIT ON GROUP HOME LOCATIONS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-ga-loans-20170116-story.html>VIRGINIA LEGISLATORS CRACK DOWN ON INTERNET LENDERS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-online-court-searches-20170116-story.html>BILL: MAKE VIRGINIA COURT CASES SEARCHABLE STATEWIDE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-ethics-bill-20170116-story.html>LENGTHY NEW ETHICS BILL TARGETS REDSKIN TICKETS LOOPHOLE</a><br>
<a href=http://pilotonline.com/news/local/environment/bills-would-enable-more-virginia-landowners-to-lease-water-off/article_a850e5a1-3768-571b-b507-003c49468f99.html>BILLS WOULD ENABLE MORE VIRGINIA LANDOWNERS TO LEASE WATER OFF THEIR PROPERTIES</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/ben-cline-s-day-of-tears-abortion-mourning-resolution-advances/article_7b3d9e1d-517a-587f-aa79-ead7345be545.html>BEN CLINE'S 'DAY OF TEARS' ABORTION MOURNING RESOLUTION ADVANCES IN GENERAL ASSEMBLY</a><br>
<a href=http://www.newsadvance.com/news/local/abortion-foes-call-for-lowering-of-flags-on-anniversary-of/article_e3fc329c-dc1d-11e6-8313-13396c05267c.html>ABORTION FOES CALL FOR LOWERING OF FLAGS ON ANNIVERSARY OF ROE V. WADE DECISION</a><br>
<a href=http://www.dailyprogress.com/news/local/proposed-legislation-would-enable-speeder-catching-cameras/article_95499494-db7a-11e6-ad56-2b40c6eb9430.html>PROPOSED LEGISLATION WOULD ENABLE SPEEDER-CATCHING CAMERAS</a><br>
<a href=http://valawyersweekly.com/2017/01/16/sub-judge-plan-nixed-at-assembly/>SUB JUDGE CHANGE NIXED AT ASSEMBLY</a><br>

<h2>Higher Education</h2>
<a href=https://www.washingtonpost.com/local/education/u-va-to-admit-more-virginians-and-give-some-middle-class-families-a-price-break/2017/01/17/e99747ba-dce9-11e6-918c-99ede3c8cafa_story.html>U-VA. TO ADMIT MORE VIRGINIANS AND GIVE SOME MIDDLE-CLASS FAMILIES A PRICE BREAK</a><br>
<a href=http://www.richmond.com/news/virginia/article_aec83958-4c07-5b5f-ae1b-5a7e7cd4c65f.html>VIRGINIA LAWMAKERS SAY THEY PLAN OVERDUE DEBATE ON COLLEGE COSTS, ACCOUNTABILITY</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/virginia-lawmakers-call-for-lower-college-tuition-criticize-uva-slush/article_7a3fa8ac-6da9-5634-89a5-5fbf70ae4898.html>VIRGINIA LAWMAKERS CALL FOR LOWER COLLEGE TUITION, CRITICIZE UVA 'SLUSH' FUND</a><br>
<a href=http://www.roanoke.com/news/education/higher_education/radford/ru-goat-investigation-final-suspension-lifted-fraternity-leaders-blast-university/article_1b208a99-30bb-5f7c-a51d-f815d25a812e.html>RADFORD GOAT INVESTIGATION: FINAL SUSPENSION LIFTED, FRATERNITY LEADERS BLAST UNIVERSITY</a><br>
<a href=https://www.washingtonpost.com/local/education/u-va-president-teresa-a-sullivan-announces-she-will-step-down-in-summer-2018/2017/01/20/5992f984-df69-11e6-918c-99ede3c8cafa_story.html?utm_term=.2cf32f519665>U-VA. PRESIDENT TERESA A. SULLIVAN ANNOUNCES SHE WILL STEP DOWN IN SUMMER 2018</a><br>
<a href=http://www.richmond.com/news/virginia/article_26e90be4-9c3d-50e4-88fc-e9839d5e4510.html>MARY BALDWIN ALUMNAE SPEAK OUT ABOUT COED PLAN</a><br>
<a href=http://www.dailyprogress.com/news/local/uva/sullivan-to-step-down-as-uva-s-president-in/article_19d57e4c-df4c-11e6-8ebd-6b611b198e82.html>SULLIVAN TO STEP DOWN AS UVA'S PRESIDENT IN 2018</a><br>
<a href=http://pilotonline.com/news/local/education/university-of-virginia-president-teresa-sullivan-to-step-down/article_9def54bd-8e4a-5e31-922f-c01c56166e61.html>UNIVERSITY OF VIRGINIA PRESIDENT TERESA SULLIVAN TO STEP DOWN</a><br>
<a href=http://www.richmond.com/news/article_c51933de-b9c3-535c-9c3c-35bbe2971416.html>U.VA. PRESIDENT SULLIVAN WILL LEAVE WHEN CONTRACT ENDS, ASKS BOARD TO LOOK FOR REPLACEMENT</a><br>
<a href=http://www.roanoke.com/news/education/higher_education/radford/radford-university-wraps-up-its-goat-abuse-investigation-animal-s/article_fb0b6f0c-66a6-5e5a-b8d5-b21bc4cc1a70.html>RADFORD UNIVERSITY WRAPS UP ITS GOAT ABUSE INVESTIGATION, ANIMAL'S STATUS REMAINS UNCLEAR</a><br>
<a href=http://www.roanoke.com/news/education/higher_education/higher-ed-poll-virginians-feel-college-is-too-pricey/article_745e4b8b-dca6-5b32-b16f-4674cc3439e7.html>HIGHER ED POLL: VIRGINIANS FEEL COLLEGE IS TOO PRICEY</a><br>
<a href=http://www.cavalierdaily.com/article/2017/01/sullivan-announces-she-is-stepping-down-in-2018>SULLIVAN ANNOUNCES SHE IS STEPPING DOWN IN 2018</a><br>

<h2>Local</h2>
<a href=http://www.richmond.com/news/local/hanover/article_4f8658a3-b48a-545a-89db-b13a2a451b42.html>SOLAR FARM PROPOSED FOR HANOVER COUNTY</a><br>
<a href=http://www.roanoke.com/news/politics/judge-dismisses-effort-to-remove-three-bath-county-supervisors-from/article_440bbd3a-1aff-5dd6-bc87-dcba9e891f25.html>JUDGE DISMISSES EFFORT TO REMOVE THREE BATH COUNTY SUPERVISORS FROM OFFICE</a><br>
<a href=http://www.dailyprogress.com/news/local/council-s-statues-vote-ends-in-deadlocked-frustration/article_d2a0c70e-dd91-11e6-a491-43bf2b07d188.html>COUNCIL'S STATUES VOTE ENDS IN DEADLOCKED FRUSTRATION</a><br>
<a href=http://www.thefranklinnewspost.com/news/school-board-s-open-records-request-provokes-supervisors/article_56a08fda-dd83-11e6-817c-dbae411bd636.html>SCHOOL BOARD'S OPEN-RECORDS REQUEST PROVOKES SUPERVISORS</a><br>
<a href=http://pilotonline.com/news/government/local/developers-sue-portsmouth-for-million-claiming-city-conspired-against-them/article_8a3444e1-d018-540e-ad0b-6bb01724ebdd.html>DEVELOPERS SUE PORTSMOUTH FOR $25 MILLION, CLAIMING CITY CONSPIRED AGAINST THEM</a><br>
<a href=http://pilotonline.com/news/government/local/suffolk-city-council-votes-to-let-planners-draft-an-ordinance/article_3f66d837-0baa-56e6-9206-fe8ae4623b2a.html>SUFFOLK CITY COUNCIL VOTES TO LET PLANNERS DRAFT AN ORDINANCE ON BACKYARD HENS</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_e4fa59dc-4249-5aee-b200-ba4e043da16a.html>RICHMOND MAYOR LEVAR STONEY APPOINTS FORMER MAYORAL CANDIDATE JON BALILES TO POLICY POST</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_20c2ff8d-9226-59a0-a9f8-d79537c592e6.html>RICHMOND MAYOR LEVAR STONEY LAYS OUT VISION FOR 'HIGH FUNCTIONING' CITY HALL</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-martin-luther-king-day-march-20170115-story.html>NEWPORT NEWS MARCH COMMEMORATES MARTIN LUTHER KING'S LIFE AND LEGACY</a><br>
<a href=http://www.suffolknewsherald.com/2017/01/19/hens-sent-back-to-planners/>HENS SENT BACK TO PLANNERS</a><br>
<a href=http://www.richmond.com/news/article_1a9438bd-888d-539a-b6ca-2cc8fbe83553.html>PETERSBURG RESIDENTS ASK COURT TO OUST MAYOR AND FORMER MAYOR FROM CITY COUNCIL</a><br>
<a href=http://www.roanoke.com/news/politics/roanoke_county/roanoke-county-gop-opts-for-primary-in-supervisor-races/article_d6f4a17c-826a-510b-8e5a-8dfdb51cdf45.html>ROANOKE COUNTY GOP OPTS FOR PRIMARY IN SUPERVISOR RACES</a><br>
<a href=http://www.richmond.com/news/local/chesterfield/article_d6c62328-30f1-5cd3-832f-d60667402a62.html>CHESTERFIELD RETIREMENT PROGRAM IN FINANCIAL TROUBLE</a><br>
<a href=http://www.roanoke.com/news/local/franklin_county/franklin-school-board-s-open-records-request-to-supervisors-causes/article_595424de-42b4-55c0-892c-348864ff880a.html>FRANKLIN SCHOOL BOARD'S OPEN-RECORDS REQUEST TO SUPERVISORS CAUSES INTERNAL FRICTION</a><br>
<a href=http://www.roanoke.com/business/news/declining-brick-and-mortar-sales-prompt-business-owners-governments-to/article_d146fdd3-eabc-5e75-be3c-a845f43bd13a.html>DECLINING BRICK-AND-MORTAR SALES PROMPTS SUPPORT FOR ONLINE SALES TAX</a><br>

<h2>Online News</h2>
<a href=http://www.politico.com/story/2017/01/senate-russia-hacking-investigation-trump-233836>HOW THE SENATE'S RUSSIAN MEDDLING PROBE ALMOST BLEW UP</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-shad-plank-0121-20170120-story.html>LIKE PAYING TOLLS? YOU'RE LIKELY TO LOVE TRUMP'S INFRASTRUCTURE PLAN</a><br>
<a href=http://baconsrebellion.com/virginians-unhappy-runaway-tuition/>POLL: VIRGINIANS UNHAPPY WITH RUNAWAY TUITION</a><br>
<a href=http://wydaily.com/2017/01/20/threshold-level-of-lead-detected-in-wm-dormitory-tap-water/>'THRESHOLD LEVEL' OF LEAD DETECTED IN W&M DORMITORY TAP WATER</a><br>
<a href=http://www.cavalierdaily.com/article/2017/01/proposed-bill-would-legalize-needle-exchange-programs-in-virginia>PROPOSED BILL WOULD LEGALIZE NEEDLE EXCHANGE PROGRAMS IN VIRGINIA</a><br>
<a href=http://www.washingtonexaminer.com/talk-radios-laura-ingraham-eyes-senate-bid/article/2611913>TALK RADIO'S LAURA INGRAHAM EYES SENATE BID</a><br>

<h2>Op-Ed</h2>
<a href=http://pilotonline.com/opinion/columnist/guest/jimmy-frost-the-view-from-a-cell-near-death-row/article_28c66cc9-a905-5be1-a377-8e1a0960e071.html>FROST: THE VIEW FROM A CELL NEAR DEATH ROW</a><br>
<a href=http://www.roanoke.com/opinion/commentary/byron-the-virginia-broadband-deployment-act-drives-smart-economic-development/article_a1101750-6910-5415-8f16-68df47b31832.html>BYRON: THE VIRGINIA BROADBAND DEPLOYMENT ACT DRIVES SMART ECONOMIC DEVELOPMENT</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/michael-allen-global-warming-records-challenges-our-politics/article_e98809d4-6317-5494-94d1-b778156245e2.html>ALLEN: GLOBAL WARMING RECORDS CHALLENGES OUR POLITICS</a><br>
<a href=https://www.washingtonpost.com/opinions/del-marshall-should-stay-out-of-bathroom-issues/2017/01/13/db4bcb9c-d751-11e6-9f9f-5cdb4b7f8dd7_story.html?utm_term=.386e0ee198ef>QUEEN: DEL. MARSHALL SHOULD STAY OUT OF BATHROOM ISSUES</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/ivy-main-how-to-find-a-billion-dollars-without-raising/article_0d9b0f95-43e7-5529-92c4-5260f22e0d82.html>MAIN: HOW TO FIND A BILLION DOLLARS WITHOUT RAISING TAXES</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_68af37ef-c477-5b10-9db7-8039a7815c7c.html>TOURIGNY: VIRGINIA STUDENTS WON'T GIVE BACK THEIR HARD FOUGHT TITLE IX VICTORIES</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/article_62d5ce7a-38cc-5624-a315-6c1c17dd7be6.html>BRABO: CITIZENS HAVE A RIGHT TO KNOW ABOUT FRACKING CHEMICALS</a><br>

<h2>State Elections</h2>
<a href=http://www.fredericksburg.com/news/local/gillespie-makes-stop-in-burg/article_0319db0e-2c14-54eb-8dc9-cddb2b69e9e0.html>GILLESPIE MAKES STOP IN 'BURG</a><br>
<a href=http://www.vagazette.com/news/va-vg-ed-gillespie-makes-campaign-stop-at-williamsburg-pancake-house-20170116-story.html>ED GILLESPIE MAKES CAMPAIGN STOP AT WILLIAMSBURG PANCAKE HOUSE</a><br>
<a href=http://www.loudountimes.com/news/article/gops_gillespie_stops_in_leesburg_during_state_wide_tour>GOVERNOR CANDIDATE ED GILLESPIE STOPS IN LEESBURG DURING STATEWIDE KICK-OFF TOUR</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/first-tv-ads-of-va-governors-race-to-air-during-inauguration/2017/01/18/9eabee36-ddb6-11e6-acdf-14da832ae861_story.html?utm_term=.2546c15a02cd>FIRST TV ADS OF VIRGINIA GOVERNOR'S RACE TO AIR DURING INAUGURATION</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/democrat-ralph-northam-has-big-cash-edge-in-virginia-governors-race/2017/01/18/3782d738-dda2-11e6-918c-99ede3c8cafa_story.html?utm_term=.b71307965918>DEMOCRAT RALPH NORTHAM HAS BIG CASH EDGE IN VIRGINIA GOVERNOR'S RACE</a><br>
<a href=http://www.roanoke.com/news/local/roanoke/in-roanoke-campaign-stop-perriello-voices-skepticism-about-plans-to/article_5bdd8b00-df81-54d8-baa0-f070f6ad6e57.html>IN ROANOKE CAMPAIGN STOP, PERRIELLO VOICES SKEPTICISM ABOUT PLANS TO REPLACE OBAMACARE</a><br>
<a href=http://www.fredericksburg.com/news/va_md_dc/northam-has-slight-fundraising-edge-in-race-for-governor/article_7338c1cb-f510-5ce2-b2f8-f43520db4849.html>NORTHAM HAS SLIGHT FUNDRAISING EDGE IN RACE FOR GOVERNOR</a><br>
<a href=http://www.richmond.com/news/virginia/article_cf2ca9a6-df24-5bd9-9275-2de3427cc0f9.html>AS GOVERNOR'S RACE HEATS UP, NORTHAM KEEPS FUNDRAISING EDGE OVER GILLESPIE</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_5fb5ffbc-0dde-50ea-b489-ecbcb054382a.html>SPECIAL ELECTION FOR RICHMOND-AREA HOUSE SEAT SET FOR FEB. 7</a><br>
<a href=http://www.martinsvillebulletin.com/news/gillespie-outlines-platform-to-improve-virginia/article_a9d06a50-ddd7-11e6-90bf-cfb8b498ba67.html>GILLESPIE OUTLINES PLATFORM TO IMPROVE VIRGINIA</a><br>
<a href=http://www.godanriver.com/news/danville/gillespie-tours-danville-talks-economic-development/article_5709e87c-ddce-11e6-80c0-23a9288fe9d6.html>GILLESPIE TOURS DANVILLE, TALKS ECONOMIC DEVELOPMENT</a><br>
<a href=http://www.newsadvance.com/news/local/state-city-elections-officials-discuss-jan-ballot-shortage/article_e6cbb096-dddb-11e6-977c-bbfbf8621ce4.html>STATE, CITY ELECTIONS OFFICIALS DISCUSS JAN. 10 BALLOT SHORTAGE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-democrats-get-their-first-look-at-candidates-for-governor/2017/01/15/79eb036e-db65-11e6-918c-99ede3c8cafa_story.html?utm_term=.a7b71473c052>VIRGINIA DEMOCRATS GET THEIR FIRST LOOK AT CANDIDATES FOR GOVERNOR</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/ed-gillespie-jets-around-virginia-to-kick-off-gubernatorial-bid/2017/01/14/d0fb02ce-d900-11e6-9f9f-5cdb4b7f8dd7_story.html?utm_term=.f8e8ed08841d>ED GILLESPIE JETS AROUND VIRGINIA TO KICK OFF GOP GUBERNATORIAL BID</a><br>
<a href=http://www.godanriver.com/work_it_sova/news/an-economy-for-everyone-perriello-looks-to-make-changes-in/article_539f510e-dea5-11e6-aa7a-1bb24ae4e6c9.html>AN ECONOMY FOR EVERYONE: PERRIELLO LOOKS TO MAKE CHANGES IN RICHMOND</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/once-a-rated-by-nra-va-gubernatorial-candidate-calls-group-nut-job-extremists/2017/01/13/c2a0da04-d9bf-11e6-b8b2-cb5164beba6b_story.html?utm_term=.7cdd6a487f14>GUBERNATORIAL CANDIDATE WHO ONCE HAD NRA SUPPORT NOW CALLS IT A 'NUT JOB' GROUP</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/republican-group-makes-record-5-million-bet-on-virginia-governors-race/2017/01/14/44ea236a-d9e5-11e6-9a36-1d296534b31e_story.html?utm_term=.c38405d231f1>REPUBLICAN GROUP MAKES RECORD $5 MILLION BET ON VIRGINIA GOVERNOR'S RACE</a><br>
<a href=http://www.heraldcourier.com/news/gillespie-launches-gubernatorial-bid-with-stop-in-bristol/article_ffe2027b-5f0c-516b-ab8b-5a17f080e061.html>GILLESPIE LAUNCHES GUBERNATORIAL BID WITH STOP IN BRISTOL</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_11c2acaa-067a-5ab6-97a5-5306c8d5b685.html>GILLESPIE FORMALLY KICKS OFF RUN FOR GOVERNOR, TARGETS VIRGINIA'S ECONOMIC DEVELOPMENT</a><br>
<a href=http://www.richmond.com/news/virginia/article_bd93fc4d-34d1-535a-90aa-260d1f08e636.html>SECOND CANDIDATE FOR RICHMOND-AREA HOUSE SEAT SAYS DEMOCRATS 'TRIED TO HAND IT' TO BOURNE</a><br>
<a href=http://www.roanoke.com/news/politics/republican-gubernatorial-hopeful-promises-a-return-to-economic-growth/article_f9158ee6-b7df-5bdc-866b-f3b23859ced0.html>REPUBLICAN GUBERNATORIAL HOPEFUL PROMISES A RETURN TO ECONOMIC GROWTH</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/trump-style-contender-for-va-governor-blasts-rival-for-skipping-gun-rally/2017/01/16/2cfae6c8-dc2d-11e6-918c-99ede3c8cafa_story.html?utm_term=.1ee0e9a26b95>TRUMP-STYLE CONTENDER FOR VA. GOVERNOR BLASTS RIVAL FOR SKIPPING GUN RALLY</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/article_01d6b301-373a-5b28-9f94-c27d040030c3.html>COREY STEWART ATTACKS GOP RIVAL ED GILLESPIE FOR NOT ATTENDING GUN-RIGHTS RALLY AT VA. CAPITOL</a><br>
<a href=http://www.insidenova.com/headlines/capitol-is-site-of-dueling-gun-rallies/article_7d750382-dc4f-11e6-ad9c-6f8a175a46ee.html>CAPITOL IS SITE OF DUELING GUN RALLIES</a><br>
<a href=http://potomaclocal.com/2017/01/16/king-makes-another-run-at-2nd-district-house-of-delegates-seat/>KING MAKES SECOND RUN AT DUDENHEFER'S HOUSE SEAT</a><br>

<h2>State Government</h2>
<a href=http://www.dailyprogress.com/newsvirginian/news/state/mcauliffe-announces-record-state-parks-attendance-in/article_f4a8d26a-dd14-11e6-8afd-634682cd8a6b.html>MCAULIFFE ANNOUNCES RECORD STATE PARKS ATTENDANCE IN 2016</a><br>
<a href=http://www.newsadvance.com/news/local/state-moves-two-cvtc-residents-to-petersburg-facility/article_329d8e72-dd32-11e6-ac6c-c3a13ca01f05.html>STATE MOVES TWO CVTC RESIDENTS TO PETERSBURG FACILITY</a><br>
<a href=http://www.richmond.com/news/article_5de1f312-1142-5cad-88a3-cde1a0e068c7.html>EXECUTED: KILLER OF TWO FAMILIES HAD NO FINAL WORDS</a><br>
<a href=http://pilotonline.com/news/nation-world/virginia/ricky-gray-killer-of-richmond-family-is-executed-by-lethal/article_e1644224-0204-5696-a9f8-139d7b95ed01.html>RICKY GRAY, KILLER OF RICHMOND FAMILY, IS EXECUTED BY LETHAL INJECTION</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/ricky-gray-executed-in-virginia/2017/01/18/c4ebd944-dda2-11e6-ad42-f3375f271c9c_story.html?utm_term=.091a9b6b526e>RICKY GRAY EXECUTED IN VIRGINIA</a><br>
<a href=http://www.dailyprogress.com/news/business/relay-foods-returning-k-grant-to-city-state/article_8a2751d4-db5c-54aa-8123-4eac139f8028.html>RELAY FOODS RETURNING $50K GRANT TO CITY, STATE</a><br>
<a href=http://www.farmvilleherald.com/2017/01/renovated-capitol-square-building-will-be-named-after-barbara-rose-johns/>BUILDING WILL BEAR JOHNS' NAME</a><br>
<a href=http://www.richmond.com/news/local/education/article_9e42ef73-4f8d-5feb-8187-ed3737765a96.html>PERCENTAGE OF VIRGINIA SCHOOL DIVISIONS WITH HIGH-SPEED INTERNET ACCESS JUMPS OVER 25 PERCENT</a><br>
<a href=http://www.richmond.com/news/local/crime/article_98f031b3-90a5-5f92-9938-d0a44d5b7979.html>RICKY GRAY'S LEGAL TEAM RAISES 'GRAVE CONCERN' WITH EXECUTION PROCEDURE THAT TOOK MORE THAN 30 MINUTES</a><br>
<a href=http://pilotonline.com/news/government/virginia/ricky-gray-s-lawyers-say-his-execution-may-have-violated/article_534d837a-53ba-59d2-9e64-36736a0be52e.html>RICKY GRAY'S LAWYERS SAY HIS EXECUTION MAY HAVE VIOLATED THE CONSTITUTION</a><br>
<a href=https://www.washingtonpost.com/local/public-safety/ricky-grays-execution-took-more-than-30-minutes-his-attorneys-want-to-know-why/2017/01/19/89233530-de63-11e6-ad42-f3375f271c9c_story.html?utm_term=.0b5530aeae0e>RICKY GRAY'S EXECUTION TOOK MORE THAN 30 MINUTES. HIS ATTORNEYS WANT TO KNOW WHY.</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/article_5b746e7c-141b-5d0c-ba35-e0e1e936c449.html>LONG HISTORY PRECEDES BATTLE OVER DIRECTION OF STATE ECONOMIC DEVELOPMENT AGENCY</a><br>
<a href=http://www.newsadvance.com/news/local/despite-injunction-request-state-agency-pushes-forward-with-cvtc-transfers/article_5c63bee4-dc64-11e6-a73f-4fe4063ca5be.html>DESPITE INJUNCTION REQUEST, STATE AGENCY PUSHES FORWARD WITH CVTC TRANSFERS, CLOSURE PLAN</a><br>
<a href=http://www.dailypress.com/news/hampton/dp-nws-evg-csb-20161224-story.html>VIRGINIA'S 'IMPROVEMENTS' TO MENTAL HEALTH CARE SHOW FEW RESULTS</a><br>
<a href=http://pilotonline.com/news/local/health/virginia-s-new-financial-plans-help-the-disabled-and-their/article_54d0ad8f-0f85-5c59-86b2-7e0fe3d2d9d4.html>VIRGINIA'S NEW FINANCIAL PLANS HELP THE DISABLED AND THEIR FAMILIES SAVE MONEY FOR SERVICES</a><br>

<h2>The Friday Read</h2>
<a href=https://www.nytimes.com/2017/01/19/magazine/bald-eagle-national-burden.html?rref=collection%2Fsectioncollection%2Fmagazine&_r=0>WHEN THE NATIONAL BIRD IS A BURDEN</a><br>

<h2>Transportation</h2>
<a href=http://pilotonline.com/news/local/transportation/u-s-project-from-suffolk-to-zuni-likely-dead-here/article_22be609c-2131-5bad-9ab7-cc46708e8b1c.html>U.S. 460 PROJECT FROM SUFFOLK TO ZUNI LIKELY DEAD. HERE'S WHY.</a><br>
<a href=http://www.richmond.com/news/article_00698499-4f9c-5ce5-9a06-2ca917fc6da8.html>VIRGINIA COULD TAKE ADVANTAGE OF TRUMP'S PUSH FOR MORE PUBLIC-PRIVATE TRANSPORTATION PROJECTS</a><br>
<a href=http://www.suffolknewsherald.com/2017/01/18/460-project-likely-dead/>460 PROJECT LIKELY DEAD</a><br>
<a href=http://pilotonline.com/news/government/local/will-virginia-beach-get-to-keep-million-in-light-rail/article_8953645c-64f8-5afe-82cb-ab8a77b0c374.html>WILL VIRGINIA BEACH GET TO KEEP $20 MILLION IN LIGHT RAIL MONEY?</a><br>
<a href=http://www.nytimes.com/aponline/2017/01/16/us/politics/ap-us-trump-inauguration-infrastructure.html?_r=0>INAUGURATION HIGHLIGHTS TRUMP'S INFRASTRUCTURE OPPORTUNITIES</a><br>
<a href=http://www.winchesterstar.com/news/frederick/smart-scale-recommends-funding-for-a-fraction-of-area-projects/article_a24268cf-f7b4-56dc-8e5f-80c601f4b3cb.html>SMART SCALE RECOMMENDS FUNDING FOR A FRACTION OF AREA PROJECTS</a><br>
<a href=http://www.insidenova.com/headlines/potomac-shores-vre-station-running-behind-schedule/article_6472e226-db5c-11e6-bf4d-7fc3cf20ca4e.html>POTOMAC SHORES' VRE STATION RUNNING BEHIND SCHEDULE</a><br>

<h2>TV/Radio</h2>
<a href=http://ideastations.org/radio/news/activists-speak-out-support-abortion-services-protections>ACTIVISTS SPEAK OUT IN SUPPORT OF ABORTION SERVICES PROTECTIONS</a><br>
<a href=http://wric.com/2017/01/17/lawmakers-say-virginia-judges-being-too-lenient-on-people-possessing-child-porn/>LAWMAKERS SAY VIRGINIA JUDGES BEING TOO LENIENT ON PEOPLE POSSESSING CHILD PORN</a><br>
<a href=http://www.npr.org/sections/thetwo-way/2017/01/18/510465004/virginia-moves-forward-with-execution-drug-from-anonymous-compounding-pharmacy>VIRGINIA EXECUTES CONVICT WITH DRUG FROM ANONYMOUS COMPOUNDING PHARMACY</a><br>
<a href=http://wtop.com/virginia/2017/01/trump-transition-asks-virginia-list-potential-toll-road-projects/>TRUMP TRANSITION ASKS VIRGINIA FOR LIST OF POTENTIAL TOLL ROAD PROJECTS</a><br>
<a href=http://www.wdbj7.com/content/news/Blaze-pink-may-become-the-new-blaze-orange-in-the-Virginia-hunting-community-410886665.html>BLAZE PINK MAY BECOME THE NEW BLAZE ORANGE IN THE VIRGINIA HUNTING COMMUNITY</a><br>

<h2>Virginia Other</h2>
<a href=http://www.newsadvance.com/nelson_county_times/news/pipeline-company-s-surveying-suit-will-advance-judge-rules/article_2f095730-6fc8-583c-8136-463e1892f94d.html>PIPELINE COMPANY'S SURVEYING SUIT WILL ADVANCE, JUDGE RULES</a><br>
<a href=http://www.roanoke.com/news/local/roadside-rebel-flag-violates-zoning-ordinance-rockbridge-county-says/article_5cbd08af-a287-5e88-85ea-230f9b35868f.html>ROADSIDE REBEL FLAG VIOLATES ZONING ORDINANCE, ROCKBRIDGE COUNTY SAYS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-local-inauguration-0119-20170118-story.html>PENINSULA RESIDENTS PLAN TO COMMEMORATE HISTORIC INAUGURATION</a><br>
<a href=http://pilotonline.com/news/government/nation/trump-s-inauguration-and-national-women-s-march-draw-many/article_b5be892f-bf75-521f-8ef3-bdcda7f2c24f.html>TRUMP'S INAUGURATION AND NATIONAL WOMEN'S MARCH DRAW MANY FROM HAMPTON ROADS</a><br>
<a href=http://www.westmorelandnews.net/fight-on-fracking-continues/>FIGHT ON FRACKING CONTINUES</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-warm-earth-2016-20170119-story.html>ANOTHER HOTTEST YEAR ON RECORD, WITH HAMPTON ROADS IN THE CROSSHAIRS</a><br>
<a href=http://pilotonline.com/news/military/veterans/vietnam/pilot-and-propublica-sue-va-to-get-agent-orange-correspondence/article_c42d6c87-0b54-5b16-9d75-50191ba3076d.html>PILOT AND PROPUBLICA SUE VA TO GET AGENT ORANGE CORRESPONDENCE</a><br>
<a href=http://www.godanriver.com/news/state/falwell-garrett-to-attend-trump-inauguration-lu-praise-choir-to/article_4e7808f3-03f7-51d5-832c-972a5712c320.html>FALWELL, GARRETT TO ATTEND TRUMP INAUGURATION; LU PRAISE CHOIR TO PERFORM AT PRAYER SERVICE</a><br>
<a href=http://www.dailyprogress.com/news/local/throngs-of-locals-headed-to-d-c-women-s-march/article_d3f2d118-deba-11e6-a1d0-fbfb8e0c3b36.html>THRONGS OF LOCALS HEADED TO D.C. WOMEN'S MARCH</a><br>
<a href=http://www.roanoke.com/news/local/marchers-in-lexington-hold-anti-racism-parade-displacing-confederate-event/article_3a72c191-7579-55fe-8655-04cff3833891.html>MARCHERS IN LEXINGTON HOLD ANTI-RACISM PARADE, DISPLACING CONFEDERATE EVENT</a><br>
<a href=http://www.dailypress.com/news/science/dp-nws-nitrogen-study-vims-20170113-story.html>VIMS DISCOVERY ON NITROGEN CYCLE COULD LEAD TO CLEANER BAY</a><br>
<a href=http://www.roanoke.com/news/local/blacksburg/counter-inauguration-event-in-blacksburg-draws-discussion-of-resistance/article_a8c8115a-9abc-5a30-9e9d-28b7b1ddad9a.html>COUNTER-INAUGURATION EVENT IN BLACKSBURG DRAWS DISCUSSION OF RESISTANCE</a><br>
<a href=http://www.richmond.com/news/article_2d6531da-e274-55b5-8a64-94e68e1fa832.html>DEMOCRATS RALLY IN RICHMOND FOR AFFORDABLE CARE ACT</a><br>
<a href=http://www.richmond.com/life/health/article_de48629e-58dd-5fd6-9266-d5620047399e.html>FEDERAL HEALTH CARE CONVERSATION COULD AFFECT VIRGINIA</a><br>
<a href=http://www.dailyprogress.com/news/local/uva/defiant-uva-students-faculty-discuss-politics-under-trump/article_0f5fa836-df45-11e6-a730-93b4a313f3ba.html>DEFIANT UVA STUDENTS, FACULTY DISCUSS POLITICS UNDER TRUMP</a><br>
<a href=http://pilotonline.com/news/local/this-is-a-momentous-day-and-he-s-not-a/article_442fbd58-3502-5477-a39a-f89e1c0a6352.html>"THIS IS A MOMENTOUS DAY" AND "HE'S NOT A LEADER": HAMPTON ROADS WATCHES THE INAUGURATION</a><br>
<a href=http://www.richmond.com/news/national-world/government-politics/trump-first-100-days/article_51ca598b-6be8-5181-be42-2e21bbeb49e6.html>VA. SUPPORTERS, PROTESTERS TAKE TO THE MALL FOR TRUMP'S INAUGURATION</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/article_be82f6f4-3abc-5a84-b03e-caee072d60eb.html>PROTESTERS TAKE TO THE STREETS OF RICHMOND FOR ANTI-TRUMP RALLY</a><br>
<a href=https://www.nytimes.com/2017/01/16/us/parades-lexington-virginia-martin-luther-king-jr-robert-e-lee.html?_r=0>A NEW MARTIN LUTHER KING JR. PARADE DIVIDES A VIRGINIA TOWN</a><br>
<a href=http://www.newsadvance.com/news/state/charlottesville-residents-rally-against-aca-repeal/article_16b3d049-22a8-5ac1-a2d8-3d50ead91bbd.html>CHARLOTTESVILLE RESIDENTS RALLY AGAINST ACA REPEAL</a><br>
<a href=http://www.roanoke.com/news/local/coyote-hunters-converge-on-wytheville-for-predator-killing-tournament/article_0d91f715-3234-5288-8aef-241b9bf344dc.html>COYOTE HUNTERS CONVERGE ON WYTHEVILLE FOR PREDATOR KILLING TOURNAMENT</a><br>
<a href=http://www.fredericksburg.com/news/local/fredericksburg/large-crowd-gathers-in-fredericksburg-for-silent-inauguration/article_8d1c434c-b5ef-56d1-8036-cd3f60515b7d.html>LARGE CROWD GATHERS IN FREDERICKSBURG FOR 'SILENT INAUGURATION'</a><br>
<a href=http://www.fredericksburg.com/news/local/fredericksburg-area-residents-attend-trump-s-inauguration/article_4b30a316-1b03-5cc5-a0a1-c6388aa8d649.html>FREDERICKSBURG-AREA RESIDENTS ATTEND TRUMP'S INAUGURATION</a><br>
<a href=http://www.npr.org/2017/01/19/510562843/at-a-va-planned-parenthood-clinic-practitioners-worry-for-their-patients>AT A VIRGINIA PLANNED PARENTHOOD CLINIC, PRACTITIONERS WORRY FOR THEIR PATIENTS</a><br>
<a href=http://www.cavalierdaily.com/article/2017/01/mass-prep-rally-draws-students-community-members-to-protest-trump-inauguration>MASS PREP RALLY DRAWS STUDENTS, COMMUNITY MEMBERS TO PROTEST TRUMP INAUGURATION</a><br>
<a href=http://southsidedaily.com/2017/01/21/womens-march-draws-hampton-roads-feminists/>WOMEN'S MARCH DRAWS HAMPTON ROADS FEMINISTS</a><br>
<a href=https://www.washingtonpost.com/national/health-science/trumps-nominee-to-head-epa-has-opposed-the-chesapeake-bay-cleanup/2017/01/16/a881d408-d90a-11e6-b8b2-cb5164beba6b_story.html?utm_term=.70ab79d32386>TRUMP'S NOMINEE TO HEAD EPA HAS OPPOSED THE CHESAPEAKE BAY CLEANUP</a><br>
