
<h2>Columnists</h2>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/schapiro-vmi-grads-help-one-another-no-matter-their-party/article_83c7c7ad-79f9-5f02-ac28-9c4eccc97619.html>SCHAPIRO: VMI GRADS HELP ONE ANOTHER, NO MATTER THEIR PARTY</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-shad-plank-0225-20170224-story.html>FAIN: WAS THAT VOTE A TIE OR A BAIT-AND-SWITCH?</a><br>
<a href=http://pilotonline.com/news/local/columnist/roger-chesley/roger-chesley-guv-winning-pr-battle-on-mental-health-funding/article_04e17601-79ef-5283-8983-05e1d02d2215.html>CHESLEY: GUV WINNING PR BATTLE ON MENTAL HEALTH FUNDING</a><br>
<a href=http://www.fredericksburg.com/news/transportation/slowpokes-a-pain-but-not-deadly/article_9c6f8a0d-a3d4-5bec-ae36-a10fc04607e3.html>SHENK: SLOWPOKES A PAIN BUT NOT DEADLY</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/bart-hinkle/a-barton-hinkle-column-good-news---there-s/article_970f8fbb-b6e3-54d8-9c14-f1537e733b31.html>HINKLE: GOOD NEWS - THERE'S ANOTHER ELECTION TO FIGHT ABOUT!</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/bart-hinkle/a-barton-hinkle-column-don-t-strangle-airbnb-cut-its/article_4cb00317-d321-542f-bdf8-2ccbdcaa5f10.html>HINKLE: DON'T STRANGLE AIRBNB. CUT ITS COMPETITORS SOME SLACK.</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/jeff-schapiro/schapiro-the-house-that-cox-built/article_a0d2efc4-399f-5f0e-b2fb-a8a24e584b41.html>SCHAPIRO: THE HOUSE THAT COX BUILT</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/you-dont-have-to-ride-metro-to-care-about-its-future/2017/02/18/020e59ee-f461-11e6-a9b0-ecee7ce475fc_story.html?utm_term=.f0f0b5bc63dc>THOMSON: YOU DON'T HAVE TO RIDE METRO TO CARE ABOUT ITS FUTURE</a><br>

<h2>Congress</h2>
<a href=http://www.richmond.com/news/meet-the-women-who-are-up-in-brat-s-grill/article_c41b47cb-736a-58e4-9448-b99e8f7bac11.html>MEET THE WOMEN WHO ARE UP IN BRAT'S GRILL</a><br>
<a href=http://www.delmarvanow.com/story/news/local/virginia/2017/02/23/scott-taylor-town-hall/98271088/>SCOTT TAYLOR TALKS HEALTHCARE, CHESAPEAKE BAY AT TOWN HALL</a><br>
<a href=http://www.dailyprogress.com/news/politics/garrett-plans-two-in-person-town-halls-one-in-charlottesville/article_3ed46f6c-face-11e6-b346-2bf5e60a95f5.html>REP. GARRETT SCHEDULES TOWN HALL MEETING FOR MONETA IN MAY</a><br>
<a href=http://www.newsadvance.com/news/local/garrett-to-hold-two-in-person-town-halls-in-coming/article_0400078e-faf1-11e6-a26d-cb286eab5929.html>GARRETT TO HOLD TWO IN-PERSON TOWN HALLS IN COMING MONTHS</a><br>
<a href=https://www.washingtonpost.com/local/dc-politics/rep-comstock-skips-a-town-hall-in-her-northern-virginia-district/2017/02/24/411309a2-faae-11e6-be05-1a3817ac21a5_story.html?utm_term=.3f3db0f67f4b>REP. COMSTOCK SKIPS A TOWN HALL IN HER NORTHERN VIRGINIA DISTRICT</a><br>
<a href=http://www.nvdaily.com/news/2017/02/constituents-hold-town-hall-minus-comstock/>CONSTITUENTS HOLD TOWN HALL MINUS COMSTOCK</a><br>
<a href=http://pilotonline.com/news/government/nation/taylor-s-town-hall-draws-feisty-crowd/article_c98780b1-5d8c-5f65-ad3c-7f1a3d7cbcb2.html>TAYLOR'S TOWN HALL DRAWS FEISTY CROWD</a><br>
<a href=http://www.richmond.com/news/national-world/government-politics/warner-says-senate-investigation-of-russian-interference-must-remain-bipartisan/article_5e74c0f5-1bbc-5dc8-8350-4eab06cc3284.html>WARNER SAYS SENATE INVESTIGATION OF RUSSIAN INTERFERENCE MUST REMAIN BIPARTISAN</a><br>
<a href=http://www.progress-index.com/news/20170220/mceachin-swings-through-tri-cities>MCEACHIN SWINGS THROUGH TRI-CITIES</a><br>
<a href=http://www.nvdaily.com/news/2017/02/goodlatte-staffer-to-host-office-hours/>GOODLATTE STAFFER TO HOST OFFICE HOURS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/rep-brat-jeered-at-times-applauded-during-lively-town-hall/article_3ded5cc6-1d33-552f-9982-a0e286d2b11e.html>REP. BRAT JEERED, AT TIMES APPLAUDED, DURING LIVELY TOWN HALL IN BLACKSTONE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-town-hall-scott-taylor-york-county-0222-20170221-story.html>REP. SCOTT TAYLOR FACES TOUGH TOWN HALL CROWD IN YORK COUNTY</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/scott-taylor-s-nd-town-hall-draws-a-bigger-but/article_b3998e29-d3e0-5b85-9639-283a778c9263.html>SCOTT TAYLOR'S 2ND TOWN HALL DRAWS A BIGGER, BUT MORE POLITE CROWD</a><br>
<a href=http://www.roanoke.com/news/politics/rep-dave-brat-faces-angry-constituents-supporters-at-town-hall/article_f7d0c8a7-f484-5cc5-81b5-902c6c5ce382.html>REP. DAVE BRAT FACES ANGRY CONSTITUENTS, SUPPORTERS AT TOWN HALL</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/the-women-got-up-in-brats-grill-and-then-some/2017/02/21/9e8db1fa-f855-11e6-be05-1a3817ac21a5_story.html?hpid=hp_hp-more-top-stories_no-name%3Ahomepage%2Fstory&utm_term=.4fa2a6a1fed5>CONGRESSMAN WHO COMPLAINED ABOUT WOMEN BEING 'IN MY GRILL' IS HECKLED AT TOWN HALL IN VIRGINIA</a><br>
<a href=http://www.winchesterstar.com/news/clarke/comstock-talks-health-care-in-teleconference-to-talk/article_f76873d1-f814-5245-940e-ed0740962e2f.html>COMSTOCK TALKS HEALTH CARE IN TELECONFERENCE TO TALK</a><br>
<a href=http://www.progress-index.com/news/20170222/mceachin-town-hall-draws-crowd-of-supporters?rssfeed=true>MCEACHIN TOWN HALL DRAWS CROWD OF SUPPORTERS</a><br>
<a href=http://pilotonline.com/news/government/nation/rep-taylor-final-town-hall-free-of-rancor/article_80822f7f-59f7-5600-850c-3f8d3d65b22a.html>REP. TAYLOR FINAL TOWN HALL FREE OF RANCOR</a><br>
<a href=http://www.roanoke.com/news/local/roanoke/opposition-organized-town-hall-draws-crowd-questions-for-cardboard-congressman/article_04fbaeb3-0654-510f-bd31-1a63271f238f.html>OPPOSITION-ORGANIZED TOWN HALL DRAWS CROWD, QUESTIONS FOR 'CARDBOARD' CONGRESSMAN</a><br>
<a href=https://www.washingtonpost.com/powerpost/at-a-town-hall-in-trump-country-an-america-thats-pleading-to-be-heard/2017/02/22/09b22498-f860-11e6-bf01-d47f8cf9b643_story.html?utm_term=.845129764b65>AT A TOWN HALL IN TRUMP COUNTRY, AN AMERICA THAT'S PLEADING TO BE HEARD</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/2017/02/22/e4cf5006-f940-11e6-bf01-d47f8cf9b643_story.html?utm_term=.7f535fb477c4>'I THOUGHT IT WAS GOING TO BE WORSE'</a><br>
<a href=http://www.dailypress.com/news/military/dp-nws-wittman-profile-20170218-story.html>WITTMAN TO HELM NAVY PLAN FOR LARGER FLEET</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-va-sen-kaine-speaks-with-pope-on-refugees-20170223-story.html>VA. SEN KAINE SPEAKS WITH POPE ON REFUGEES</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-rep-scott-criticizes-repeal-of-federal-guidance-to-protect-transgender-students-20170223-post.html>REP SCOTT CRITICIZES REPEAL OF FEDERAL GUIDANCE TO PROTECT TRANSGENDER STUDENTS</a><br>

<h2>Economy/Business</h2>
<a href=http://www.richmond.com/news/national-world/ap/nation-s-largest-military-shipbuilder-plans-to-hire-in-virginia/article_ad597858-1629-57de-bc59-77682055aaf9.html>NATION'S LARGEST MILITARY SHIPBUILDER PLANS TO HIRE 3,000 IN VIRGINIA THIS YEAR</a><br>
<a href=http://www.nbc29.com/story/34552162/could-big-honkin-grandma-oysters-rejuvenate-the-stock>COULD "BIG, HONKIN' GRANDMA OYSTERS" REJUVENATE THE STOCK?</a><br>
<a href=http://pilotonline.com/business/consumer/carnival-to-drop-voyages-out-of-norfolk-next-year/article_b6bc121c-3760-53de-b21a-daa3e6fad5bf.html>CARNIVAL TO DROP VOYAGES OUT OF NORFOLK NEXT YEAR</a><br>
<a href=http://www.richmond.com/business/local/ceo-of-state-home-builders-association-to-retire-june/article_b7e5cd07-a7cb-5da7-9959-25a73c955c18.html>CEO OF STATE HOME BUILDERS ASSOCIATION TO RETIRE</a><br>
<a href=http://pilotonline.com/inside-business/news/economic-development/oscar-winning-producer-donna-gigliotti-wanted-to-film-hidden-figures/article_0789f65e-1c82-591f-b4db-b759b537e0d8.html>PRODUCER WANTED TO FILM "HIDDEN FIGURES" IN VIRGINIA, BUT LACK OF FINANCIAL INCENTIVES LED TO GA.</a><br>
<a href=http://pilotonline.com/business/consumer/lidl-to-hire-workers-for-virginia-grocery-stores/article_c4395d69-7c2c-5f47-96c0-2ab0dee1528c.html>LIDL TO HIRE 800 WORKERS FOR VIRGINIA GROCERY STORES</a><br>
<a href=http://rrecord.com/scc-wants-dominion-to-consider-5-alternatives-to-towers-at-norris-bridge/>SCC WANTS DOMINION TO CONSIDER 5 ALTERNATIVES TO TOWERS AT NORRIS BRIDGE</a><br>

<h2>Editorials</h2>
<a href=http://www.newsadvance.com/opinion/editorials/bills-protect-children-don-t-restrict-religion/article_e267a08a-f557-11e6-b03f-7702124700b2.html>BILLS PROTECT CHILDREN, DON'T RESTRICT RELIGION</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-in-virginia-beach-time-for-a-disparity-study/article_c70e54d1-cb77-5539-8046-b00ca6927d25.html>IN VIRGINIA BEACH, TIME FOR A DISPARITY STUDY</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-the-house-gop-s-despicable-defense-of-gerrymandering/article_189f16d4-395e-50f7-a10c-92b4ed337e7e.html>THE HOUSE GOP'S DESPICABLE DEFENSE OF GERRYMANDERING</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial---gov-mcauliffe-keeps-throwing-your-money-around/article_9fe3022b-42ee-5461-a63a-4e62b498455c.html>GOV. MCAULIFFE KEEPS THROWING YOUR MONEY AROUND LIKE CONFETTI</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-keep-your-gun-close/article_7987f35a-93e1-5824-8fff-84148376b3ab.html>KEEP YOUR GUN CLOSE</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-on-welfare-reform-republicans-are-all-talk/article_d52e1998-8bd3-5741-9a44-74dc05d09c99.html>ON WELFARE REFORM, REPUBLICANS ARE ALL TALK</a><br>
<a href=http://www.winchesterstar.com/opinions/our_view/our-views-town-halls/article_d2d86f49-f757-5de9-807f-4cf023de5632.html>COMSTOCK OWES IT TO FOLKS TO APPEAR</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-do-black-lives-matter-in-richmond/article_493216af-fc16-50a4-991d-1d14864bf891.html>DO BLACK LIVES MATTER IN RICHMOND?</a><br>
<a href=http://www.newsleader.com/story/opinion/editorials/2017/02/17/goodlatte-needs-show-courage/98054920/>GOODLATTE NEEDS TO SHOW COURAGE</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-jefferson-protest-0221-20170220-story.html>PORTRAIT OF A PRESIDENT</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-retiring-speaker-bill-howell-stands-with-virginia-s-finest/article_e8e8478e-131f-5b1e-929f-75297f313878.html>RETIRING SPEAKER BILL HOWELL STANDS WITH VIRGINIA'S FINEST</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-the-coal-ash-problem/article_813814fe-dc70-53dc-beb0-a9fa481b1077.html>THE COAL ASH PROBLEM</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-finally-hope-for-halting-fairview-beach-erosion/article_637ddf24-172c-529d-a84e-adbdff7f952c.html>FINALLY, HOPE FOR HALTING FAIRVIEW BEACH EROSION</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-anne-holton-stands-for-excellemce-in-education/article_5d43d922-f319-58ae-8dfe-b6250c5473fe.html>ANNE HOLTON STANDS FOR EXCELLEMCE IN EDUCATION</a><br>
<a href=http://www.richmond.com/opinion/editorial-looks-like-virginia-republicans-were-right-about-medicaid-after/article_d0ee8438-bd98-54c3-93d4-48546b0288e5.html>LOOKS LIKE VIRGINIA REPUBLICANS WERE RIGHT ABOUT MEDICAID AFTER ALL.</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-langley-jamestown-0222-20170221-story.html>TAX DOLLARS AND SENSE</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-a-blight-removed-from-city-hall-at-last/article_5667c31e-857d-5660-a8ea-9c2c339fd553.html>A BLIGHT REMOVED FROM CITY HALL AT LAST</a><br>
<a href=https://www.washingtonpost.com/opinions/metro-needs-reforms--and-dollars/2017/02/21/829be534-f567-11e6-a9b0-ecee7ce475fc_story.html?utm_term=.9e3ad91dd166>METRO NEEDS REFORMS - AND DOLLARS</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-celebrate-the-legislature-yes-but-at-what-cost/article_2ea8d88d-24fe-5d35-8445-2f63af761978.html>CELEBRATE THE LEGISLATURE? YES, BUT AT WHAT COST?</a><br>
<a href=http://www.dailyprogress.com/starexponent/opinion/editorial-competing-forces-for-funding-reforming-metro/article_7c1cef3b-ac08-5e0f-9f8e-c6feef155e3f.html>COMPETING FORCES FOR FUNDING, REFORMING METRO</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-sorry-we-don-t-need-town-hall-theatrics/article_87145747-a9e9-59a2-998c-49e72aa1cedf.html>SORRY, WE DON'T NEED TOWN HALL THEATRICS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-kirk-cox-was-destined-for-leadership/article_7e791c82-22b5-5e1b-a11c-e0ed4b975478.html>KIRK COX WAS DESTINED FOR LEADERSHIP</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial---gov-mcauliffe-s-knee-jerk-veto-of/article_469104d7-8416-5fb6-a83a-a9dbbcda0ba5.html>GOV. MCAULIFFE'S KNEE-JERK VETO OF GUNS AND KNIVES</a><br>
<a href=http://www.dailypress.com/news/opinion/editorials/dp-edt-airport-judgment-20170222-story.html>FLYING BLIND ON OUR DIME</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-a-restive-and-promising-start/article_20bd2906-86dd-5e21-9701-31ea37efc698.html>A RESTIVE AND PROMISING START</a><br>
<a href=http://www.roanoke.com/opinion/editorials/editorial-why-herring-s-case-against-trump-matters/article_178c9fee-748d-586a-8d16-b40f5d794a19.html>WHY HERRING'S CASE AGAINST TRUMP MATTERS</a><br>
<a href=http://www.richmond.com/opinion/our-opinion/editorial-dave-brat-gets-an-earful-of-democracy/article_68ea01bb-3ef6-55ca-afbb-e41fb1ff10ee.html>DAVE BRAT GETS AN EARFUL OF DEMOCRACY</a><br>
<a href=http://pilotonline.com/opinion/editorial/editorial-a-question-not-asked-at-the-regional-jail/article_9f809e65-240c-5f79-90e5-b57325850d45.html>A QUESTION NOT ASKED AT THE REGIONAL JAIL</a><br>
<a href=https://www.washingtonpost.com/opinions/practicality--not-politics--is-whats-important-in-choosing-the-new-fbi-headquarters/2017/02/18/e3b2d8d4-f3cb-11e6-a9b0-ecee7ce475fc_story.html?utm_term=.8939210b93a1>PRACTICALITY - NOT POLITICS - IN CHOOSING THE NEW FBI HEADQUARTERS</a><br>
<a href=http://www.fredericksburg.com/opinion/editorials/editorial-growth-rate-prompts-questions-about-future/article_4d905608-b9b8-5124-aeff-38d2ca7f7f71.html>GROWTH RATE PROMPTS QUESTIONS ABOUT FUTURE</a><br>

<h2>Executive Branch</h2>
<a href=http://www.richmond.com/business/local/hsbc-mortgage-borrowers-in-virginia-to-get-settlement-checks-totaling/article_2f204239-c50f-5f53-9f80-3cac81071639.html>HSBC MORTGAGE BORROWERS IN VIRGINIA TO GET SETTLEMENT CHECKS TOTALING $2.5 MILLION</a><br>
<a href=http://www.richmond.com/news/general-assembly-passes-legislation-similar-to-beloved-bill-governor-plans/article_b296c7e1-b011-5a31-adb7-1552753a9d78.html>MCAULIFFE VOWS TO VETO BILL ON NOTIFICATION OF SEXUALLY EXPLICIT CONTENT</a><br>
<a href=http://wtvr.com/2017/02/25/mcauliffe-vetoes-bill-to-disclose-refugee-records/>MCAULIFFE VETOES BILL TO DISCLOSE REFUGEE RECORDS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/mcauliffe-vetoes-tebow-bill-and-legislation-on-switchblades-and-handguns/article_f9c497b0-b1fa-5af3-93c9-74b98e28c431.html>MCAULIFFE VETOES 'TEBOW BILL' AND LEGISLATION ON SWITCHBLADES AND HANDGUNS</a><br>
<a href=http://www.roanoke.com/news/local/mcauliffe-will-veto-bill-that-would-allow-guns-in-emergency/article_6b4fb92d-0763-56ba-9d2c-d2d2498ada6d.html>MCAULIFFE WILL VETO BILL THAT WOULD ALLOW GUNS IN EMERGENCY SHELTERS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-ga-mcauliffe-abortion-veto-20170221-story.html>IN ABORTION BILL VETO, AN ISSUE FOR 2017 CAMPAIGNS</a><br>
<a href=http://www.newsleader.com/story/news/2017/02/21/mcauliffe-vetoes-clines-planned-parenthood-clinics-bill/98216328/>MCAULIFFE VETOES CLINE'S PLANNED PARENTHOOD CLINICS BILL</a><br>
<a href=http://www.richmond.com/news/virginia/mcauliffe-vetoes-bill-that-would-defund-planned-parenthood/article_7b0e3950-34a5-55cd-928f-abb1e51be8ec.html>MCAULIFFE VETOES BILL THAT WOULD DEFUND PLANNED PARENTHOOD</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/mcauliffe-vows-vetoes-as-immigration-issue-heats-up-in-virginia/2017/02/22/9302197c-f92f-11e6-bf01-d47f8cf9b643_story.html>MCAULIFFE VOWS VETOES AS IMMIGRATION ISSUE HEATS UP IN VIRGINIA</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/governor-vetos-coal-tax-credit-bill-for-third-year-in/article_63243bd9-1e3f-5ffe-a0f9-e2131b5c190e.html>GOVERNOR VETOS COAL TAX CREDIT BILL FOR THIRD YEAR IN ROW</a><br>
<a href=http://www.heraldcourier.com/news/mcauliffe-signs-new-legislation-on-opioids/article_0079b218-31b7-576c-8470-04202caee262.html>MCAULIFFE SIGNS NEW LEGISLATION ON OPIOIDS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-mcauliffe-signs-bills-aimed-at-stemming-opioid-epidemic-20170223-story.html>MCAULIFFE SIGNS BILLS AIMED AT STEMMING OPIOID EPIDEMIC</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/mcauliffe-signs-four-bills-to-address-virginia-s-opioid-crisis/article_e39c98a8-f88d-5619-ab08-a072bdf6ec43.html>AMID SURGE OF OVERDOSE DEATHS, GOV. TERRY MCAULIFFE SIGNS FOUR BILLS TO ADDRESS VIRGINIA'S OPIOID CRISIS</a><br>
<a href=http://www.winchesterstar.com/news/clarke/governor-signs-four-bills-to-aid-in-drug-fight/article_346e0301-38b1-578d-be62-5916d0f569d3.html>GOVERNOR SIGNS FOUR BILLS TO AID IN DRUG FIGHT</a><br>
<a href=http://www.fredericksburg.com/news/va_md_dc/governor-cut-jamestown-celebration-fund-mental-health/article_9c26e730-622c-59e6-87f3-c7483d210583.html>GOVERNOR: CUT JAMESTOWN CELEBRATION, FUND MENTAL HEALTH</a><br>
<a href=http://www.loudountimes.com/news/article/mcauliffe_signs_bills_fighting_opioid_crisis_including_measures_from_wexton>MCAULIFFE SIGNS BILLS FIGHTING OPIOID CRISIS</a><br>

<h2>Federal Elections</h2>
<a href=https://www.wsj.com/articles/in-marshall-va-support-for-donald-trump-hasnt-wavered-1487512802>IN MARSHALL, VA., SUPPORT FOR DONALD TRUMP HASN'T WAVERED</a><br>
<a href=http://www.northernnecknews.com/congressional-challenger-makes-guest-appearance/>CONGRESSIONAL CHALLENGER MAKES GUEST APPEARANCE</a><br>

<h2>From vpap.org</h2>
<a href=http://www.vpap.org/visualizations/surge-in-house-democratic-challengers-2017>VISUALIZATION: DEMOCRATS DOUBLE UP TO CHALLENGE GOP INCUMBENTS</a><br>
<a href=http://www.vpap.org/infographics/how-representative-are-virginias-representatives/>VISUALIZATION: HOW REPRESENTATIVE ARE VIRGINIA'S REPRESENTATIVES?</a><br>

<h2>General Assembly</h2>
<a href=http://www.richmond.com/news/bill-would-require-virginia-school-systems-to-develop-lead-testing/article_0f8bc4f8-4a4e-5c22-995e-ecf1bce30fbe.html>BILL WOULD REQUIRE VIRGINIA SCHOOL SYSTEMS TO DEVELOP LEAD-TESTING PLANS FOR OLDER BUILDINGS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/some-hope-to-increase-diversity-among-va-legislative-aides/article_a2a19610-270e-5897-b9bc-316704dc00d5.html>SOME HOPE TO INCREASE DIVERSITY AMONG VA. LEGISLATIVE AIDES</a><br>
<a href=http://valawyersweekly.com/2017/02/23/supreme-court-case-prompts-numerous-dui-revisions/>SUPREME COURT CASE PROMPTS NUMEROUS DUI REVISIONS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/howell-won-t-seek-re-election-will-retire-after-years/article_3ec756a8-9aad-5c24-ac94-dc7dfb890600.html>HOWELL WON'T SEEK RE-ELECTION, WILL RETIRE AFTER 14 YEARS AS VIRGINIA SPEAKER OF THE HOUSE</a><br>
<a href=http://www.richmond.com/business/local/bills-would-place-m-historic-tax-credit-cap-on-amount/article_3aec409d-7c6b-5ff2-a81b-c4e8189a9801.html>BILLS WOULD PLACE $5M HISTORIC TAX CREDIT CAP ON AMOUNT TAXPAYERS CAN CLAIM FOR 2017</a><br>
<a href=http://www.richmond.com/life/health/as-women-clamor-to-get-iuds-virginia-s-budget-won/article_8898de54-aa8f-589e-9b01-375e71e5e59b.html>AS WOMEN CLAMOR TO GET IUDS, VIRGINIA'S BUDGET WON'T INCLUDE COVERAGE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-legislature-lastish-day-20170224-story.html>SOME DRIVERS LICENSE SUSPENSION CHANGES APPROVED ON ASSEMBLY'S SECOND-TO-LAST DAY</a><br>
<a href=http://www.dailypress.com/news/crime/dp-nws-new-judges-20170224-story.html>NEW JUDGES PICKED FOR NEWPORT NEWS, HAMPTON</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/salem-delegate-habeeb-brings-his-sharp-wit-to-the-fore/article_930edb58-c3ab-5315-a1c6-419154c2a136.html>SALEM DELEGATE HABEEB BRINGS HIS SHARP WIT TO THE FORE</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/opioid-reform-bills-head-to-governor-s-desk/article_f4131a5e-5406-5106-907e-b9a0f52586df.html>OPIOID REFORM BILLS HEAD TO GOVERNOR'S DESK</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/deal-reached-on-state-economic-development-reform/article_aca4e52f-9801-590d-8b90-8ed398fb7828.html>DEAL REACHED ON STATE ECONOMIC DEVELOPMENT REFORM</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/virginia-house-honors-hunting-dogs-and-mcauliffe-s-dead-chicken/article_4a571724-174b-5289-821b-83667ec4bd39.html>VIRGINIA HOUSE HONORS HUNTING DOGS AND MCAULIFFE'S DEAD CHICKEN IN 'SENSITIVITY CAUCUS' AWARDS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/state-braces-for-potential-federal-threats-to-health-funding/article_a72319e4-8077-52f1-a845-bd347317853e.html>STATE BRACES FOR POTENTIAL FEDERAL THREATS TO HEALTH FUNDING</a><br>
<a href=http://www.winchesterstar.com/news/clarke/general-assembly-ends-session/article_02a98ede-2feb-5bff-b7b9-1b64c5e712d6.html>GENERAL ASSEMBLY SESSION TO END</a><br>
<a href=http://www.insidenova.com/headlines/general-assembly-oks-amendment-to-help-surviving-spouses-of-disabled/article_950d4cf2-f63f-11e6-906c-3f797713a341.html>GENERAL ASSEMBLY OKS AMENDMENT TO HELP SURVIVING SPOUSES OF DISABLED VETS</a><br>
<a href=http://www.insidenova.com/headlines/environmentalists-disappointed-by-house-s-coal-ash-bill/article_cccfa868-f614-11e6-87f7-17a26f84906c.html>ENVIRONMENTALISTS DISAPPOINTED BY HOUSE'S COAL ASH BILL</a><br>
<a href=http://www.loudountimes.com/news/article/lawmakers_say_new_state_budget_is_bad_news_for_loudoun_county_judiciary432>LAWMAKERS SAY NEW STATE BUDGET IS BAD NEWS FOR LOUDOUN COUNTY JUDICIARY</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/va-house-expected-to-name-del-kirk-cox-its-speaker-in-waiting/2017/02/20/ee8ff066-f7bd-11e6-9845-576c69081518_story.html?utm_term=.12caa3e06615>VA. HOUSE EXPECTED TO NAME DEL. KIRK COX ITS SPEAKER-IN-WAITING</a><br>
<a href=http://www.nbc29.com/story/34600350/bills-easing-drivers-license-suspensions-pass>BILLS EASING DRIVER'S LICENSE SUSPENSIONS PASS</a><br>
<a href=http://www.nbc29.com/story/34601585/assembly-passes-bill-to-help-dyslexic-students>ASSEMBLY PASSES BILL TO HELP DYSLEXIC STUDENTS</a><br>
<a href=http://www.nbc29.com/story/34601043/groups-laud-virginia-for-outlawing-female-circumcision>GROUPS LAUD VIRGINIA FOR OUTLAWING FEMALE CIRCUMCISION</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/va-house-speaker-william-howell-a-pragmatic-republican-will-not-run-again/2017/02/20/024c9eb6-f76d-11e6-be05-1a3817ac21a5_story.html?utm_term=.93e1aa5d2306>VA. HOUSE SPEAKER WILLIAM HOWELL, A PRAGMATIC REPUBLICAN, WILL NOT RUN AGAIN</a><br>
<a href=http://valawyersweekly.com/2017/02/24/assembly-taps-judges-at-sessions-close/>ASSEMBLY TAPS JUDGES AT SESSION'S CLOSE</a><br>
<a href=http://www.newsadvance.com/news/local/bryon-s-broadband-bill-will-head-to-governor/article_3ea8401c-f7e1-11e6-81bf-3779dcd5e585.html>BRYON'S BROADBAND BILL WILL HEAD TO GOVERNOR</a><br>
<a href=http://www.newsadvance.com/news/state/house-of-delegates-lauds-speaker-howell-at-retirement-announcement/article_d3e7155c-f7ed-11e6-b551-37960dc76720.html>HOUSE OF DELEGATES LAUDS SPEAKER HOWELL AT RETIREMENT ANNOUNCEMENT</a><br>
<a href=http://www.newsadvance.com/news/local/lynchburg-eyes-additional-tanf-money-for-poverty-assistance-in-house/article_6933af4c-f65b-11e6-a91d-bfd9ac8e73ef.html>LYNCHBURG EYES ADDITIONAL TANF MONEY FOR POVERTY ASSISTANCE IN HOUSE BUDGET</a><br>
<a href=http://www.martinsvillebulletin.com/news/new-state-laws-meant-to-address-southside-drug-problem/article_e9014d46-fb43-11e6-bd5b-6f0ee0005800.html>NEW STATE LAWS MEANT TO ADDRESS SOUTHSIDE DRUG PROBLEM</a><br>
<a href=http://www.insidenova.com/headlines/new-virginia-laws-to-fight-heroin-and-opioid-abuse/article_e98489e8-facd-11e6-a510-b3925cfea32f.html>4 NEW VIRGINIA LAWS TO FIGHT HEROIN AND OPIOID ABUSE</a><br>
<a href=http://www.insidenova.com/news/arlington/va-senate-oks-measure-allowing-higher-pay-for-arlington-school/article_05c375c0-f7a8-11e6-bc20-4b2fd439cc56.html>VA. SENATE OKS MEASURE ALLOWING HIGHER PAY FOR ARLINGTON SCHOOL BOARD</a><br>
<a href=http://www.insidenova.com/headlines/william-howell-to-retire-after-years-as-virginia-speaker-of/article_791a7830-f789-11e6-b34a-03477f263508.html>WILLIAM HOWELL TO RETIRE AFTER 15 YEARS AS VIRGINIA SPEAKER OF THE HOUSE</a><br>
<a href=http://pilotonline.com/news/government/virginia/attorney-withdraws-name-from-judicial-appointment-woman-alleged-improper-touching/article_a78ff54b-ed8d-5af5-8103-4a0775b9c008.html>ATTORNEY WITHDRAWS NAME FROM JUDICIAL CANDIDACY; WOMAN AT HEARING ALLEGES TOUCHING</a><br>
<a href=http://www.dailypress.com/news/politics/dp-virginia-speaker-of-the-house-retiring-20170220-story.html>VIRGINIA SPEAKER OF THE HOUSE RETIRING</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-ga-foia-bills-20170220-story.html>LAWMAKERS VOTE FOR FOUR WAYS TO INCREASE GOVERNMENT SECRECY</a><br>
<a href=http://www.suffolknewsherald.com/2017/02/20/student-debt-bills-fail/>ALL BILLS TARGETING STUDENT DEBT FAIL THIS SESSION</a><br>
<a href=http://www.richmond.com/news/virginia/sources-gop-caucus-will-vote-this-week-to-support-del/article_7869c87b-7af9-5a29-bdf5-65969c02d165.html>GOP CAUCUS WILL VOTE THIS WEEK TO SUPPORT DEL. COX AS NEXT VIRGINIA HOUSE SPEAKER</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/house-speaker-howell-stakes-legacy-on-acting-for-the-good/article_4012427d-ec9b-5972-b1ae-9b8c84f496b0.html>HOUSE SPEAKER HOWELL STAKES LEGACY ON ACTING FOR THE GOOD OF THE INSTITUTION</a><br>
<a href=http://www.fredericksburg.com/news/local/fredericksburg/former-and-current-fredericksburg-area-lawmakers-react-to-bill-howell/article_76df6fc0-8e3f-57b7-838c-945f40980d67.html>FORMER AND CURRENT FREDERICKSBURG-AREA LAWMAKERS REACT TO BILL HOWELL'S RETIREMENT</a><br>
<a href=http://valawyersweekly.com/2017/02/20/bill-to-protect-jury-information-survives/>BILL TO PROTECT JURY INFORMATION SURVIVES</a><br>
<a href=https://www.washingtonpost.com/local/virginia-parents-urge-officials-to-protect-the-environment/2017/02/20/3a008596-f7bf-11e6-aa1e-5f735ee31334_story.html?utm_term=.3e3ad06f58b0>VIRGINIA PARENTS URGE OFFICIALS TO PROTECT THE ENVIRONMENT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/time-is-running-out-but-petersen-wont-give-up-the-fight-over-electricity-rates/2017/02/21/62c31414-f853-11e6-be05-1a3817ac21a5_story.html?utm_term=.a15f176d440f>TIME IS RUNNING OUT, BUT PETERSEN WON'T GIVE UP THE FIGHT OVER ELECTRICITY RATES</a><br>
<a href=http://pilotonline.com/news/government/virginia/house-of-delegates-kills-changes-to-school-suspension-maximum-lengths/article_b7b2730e-f023-545e-ac3f-f00b538bf151.html>HOUSE KILLS CHANGES TO SCHOOL SUSPENSION MAXIMUM LENGTHS, BUT COMPANION BILLS STILL ALIVE</a><br>
<a href=http://pilotonline.com/news/government/virginia/coal-ash-bill-goes-to-governor-without-important-moratorium-provision/article_7acb13cc-8019-5db5-b4ad-9c7e163671fe.html>COAL ASH BILL GOES TO GOVERNOR WITHOUT IMPORTANT MORATORIUM PROVISION</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/restitution-halted-for-roanoke-s-davey-reedy/article_e46f3dad-a1cc-55db-910e-5f0105744b56.html>RESTITUTION HALTED FOR ROANOKE'S DAVEY REEDY</a><br>
<a href=http://www.richmond.com/news/virginia/former-virginia-ag-cuccinelli-lawmakers-pressure-mcauliffe-on-utility-rate/article_91554196-23c5-50b8-a25b-7ceb5fc3b146.html>FORMER VIRGINIA AG CUCCINELLI, LAWMAKERS PRESSURE MCAULIFFE ON UTILITY RATE FREEZE</a><br>
<a href=http://www.richmond.com/news/local/million-in-wrongful-imprisonment-compensation-case-awaits-governor-s-signature/article_71280cda-cf69-5c69-9d98-3c347f6994c0.html>$1.55 MILLION IN WRONGFUL IMPRISONMENT COMPENSATION CASE AWAITS GOVERNOR'S SIGNATURE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/va-house-panel-would-empower-investigation-of-jail-deaths/article_0e2712ea-217a-50ed-8ec7-2fd48350f49b.html>VA. HOUSE PANEL WOULD EMPOWER INVESTIGATION OF JAIL DEATHS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/legislative-silence-greets-effort-to-push-pipeline-condemnation-cases-into/article_45660186-d3d4-5d80-96ef-aee9bc8fa535.html>LEGISLATIVE SILENCE GREETS EFFORT TO PUSH PIPELINE CONDEMNATION CASES INTO STATE COURTS</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/legislators-ponder-loosening-cannabis-restrictions/article_ae2712f6-f8b8-11e6-8561-03ec4457d39d.html>LEGISLATORS PONDER LOOSENING CANNABIS RESTRICTIONS</a><br>
<a href=http://www.newsadvance.com/news/local/potential-review-of-training-center-closure-plan-part-of-budget/article_c5ded8ea-f89d-11e6-83ea-d3e48ee71643.html>POTENTIAL REVIEW OF TRAINING CENTER CLOSURE PLAN PART OF BUDGET NEGOTIATION TALKS</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/virginia-lawmakers-from-both-parties-push-mcauliffe-to-seek-end/article_36756b71-3f35-5676-8c51-13de8173558b.html>VIRGINIA LAWMAKERS FROM BOTH PARTIES PUSH MCAULIFFE TO SEEK END TO UTILITY RATE FREEZE</a><br>
<a href=http://www.usnews.com/news/virginia/articles/2017-02-21/lawmakers-cuccinelli-push-to-end-utility-rate-freeze>CUCCINELLI, LAWMAKERS PUSH TO END UTILITY RATE FREEZE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/god-waffles-and-graffiti-the-general-assembly-building-on-one/article_fa0e4183-5f6d-5d31-a73f-c5e865590f91.html>GOD, WAFFLES AND GRAFFITI: THE GENERAL ASSEMBLY BUILDING ON ONE OF ITS FINAL DAYS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/cox-chosen-by-gop-as-their-pick-for-next-house-speaker-in-virginia/2017/02/22/9b7a03a2-f949-11e6-be05-1a3817ac21a5_story.html?utm_term=.fbc3059fc439>COX IS CHOSEN BY GOP AS ITS PICK FOR NEXT HOUSE SPEAKER IN VIRGINIA</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/va-budget-deal-includes-raises-for-teachers-faculty-capitol-police/article_c488d4aa-c200-5f97-b7b3-6a5d0caa0327.html>VA. BUDGET DEAL INCLUDES RAISES FOR TEACHERS, FACULTY, CAPITOL POLICE</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/republican-caucus-officially-backs-cox-for-next-house-speaker-gilbert/article_b25894f4-984e-55fc-b140-2e4bc8c2da55.html>REPUBLICAN CAUCUS OFFICIALLY BACKS COX FOR NEXT HOUSE SPEAKER, GILBERT FOR MAJORITY LEADER</a><br>
<a href=http://pilotonline.com/news/government/virginia/as-virginia-lawmakers-prepare-to-move-yard-sale-gets-rid/article_fcda1dd0-01e7-5110-966a-387ab05fa340.html>AS VIRGINIA LAWMAKERS PREPARE TO MOVE, YARD SALE GETS RID OF THE KNICKKNACKS ACCUMULATED OVER THE YEARS</a><br>
<a href=http://pilotonline.com/news/government/virginia/state-lawmakers-pass-laser-hair-removal-regulations/article_000701bf-e7ce-595c-91eb-d6fb2774fd4e.html>STATE LAWMAKERS PASS LASER HAIR REMOVAL REGULATIONS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-virginia-senate-passes-anti-sanctuary-cities-bill-20170222-story.html>VIRGINIA SENATE PASSES ANTI-SANCTUARY CITIES BILL</a><br>
<a href=http://www.roanoke.com/agriculture/state-funded-honey-bee-study-cut-short-by-budget-problems/article_462dbcb3-d2ed-53e6-80a7-8f50a2f90831.html>AGRICULTURE STATE-FUNDED HONEY BEE STUDY CUT SHORT BY BUDGET PROBLEMS</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/sen-norment-briefly-sides-with-democrats-on-immigration-bill-setting/article_3f76b4ae-7fef-5df0-96a3-0e28299a4b50.html>SEN. NORMENT BRIEFLY SIDES WITH DEMOCRATS ON IMMIGRATION BILL, SETTING UP NORTHAM</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/bill-to-let-some-utility-facilities-bypass-local-zoning-clears/article_cd2dc71c-0fed-539d-9bae-f985f65f49a1.html>BILL TO LET SOME UTILITY FACILITIES BYPASS LOCAL ZONING CLEARS VA. SENATE, HOUSE</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/bill-could-brighten-prospects-for-berglund-center-s-solar-energy/article_de017aca-e6c5-5629-ad60-3e2e9a285968.html>BILL COULD BRIGHTEN PROSPECTS FOR BERGLUND CENTER'S SOLAR ENERGY PROJECT</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-norment-senate-republicans-pull-switcheroos-to-nail-down-northam-20170222-post.html>NORMENT, SENATE REPUBLICANS, PULL SWITCHEROOS TO NAIL DOWN NORTHAM</a><br>
<a href=http://www.roanoke.com/news/politics/advocacy-groups-say-bills-by-franklin-del-charles-poindexter-stoke/article_2c2da733-6734-5ef7-a33f-586a04f93bdc.html>ADVOCACY GROUPS SAY BILLS BY DEL. POINDEXTER STOKE FEARS IN IMMIGRANT COMMUNITIES</a><br>
<a href=http://www.insidenova.com/headlines/watered-down-coal-ash-bill-headed-for-governor-s-desk/article_2dddf168-f945-11e6-9091-0700da79887a.html>'WATERED DOWN' COAL ASH BILL HEADED FOR GOVERNOR'S DESK</a><br>
<a href=http://www.richmond.com/news/virginia-lawmakers-debate-letting-off-duty-military-members-carry-concealed/article_8bdae91f-00a5-51b2-8d0e-a6d9dddcc026.html>VIRGINIA LAWMAKERS DEBATE LETTING OFF-DUTY MILITARY MEMBERS CARRY CONCEALED GUNS</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/va-house-amends-jail-investigation-bill-again-to-sidestep-procedural/article_95fd7039-4186-5220-897e-6d4584f53c5d.html>VA. HOUSE AMENDS JAIL INVESTIGATION BILL AGAIN TO SIDESTEP PROCEDURAL HURDLE</a><br>
<a href=http://www.winchesterstar.com/news/frederick/bill-to-establish-education-savings-accounts-skims-through-house-and/article_14c86a11-756c-573f-8c4c-3ece66fece49.html>BILL TO ESTABLISH EDUCATION SAVINGS ACCOUNTS SKIMS THROUGH HOUSE AND SENATE</a><br>
<a href=http://www.dnronline.com/news/local/gilbert-to-lead-house-majority/article_84f942f2-f979-11e6-9a62-3bfe3579ae70.html>GILBERT TO LEAD HOUSE MAJORITY</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/charter-school-bill-advances-to-governor/article_57ae3ace-f97d-11e6-9965-9fbe4ecd03eb.html>CHARTER SCHOOL BILL ADVANCES TO GOVERNOR</a><br>
<a href=http://www.dnronline.com/news/local/legislators-expect-gov-to-sign-budget/article_6713373e-f979-11e6-80da-4fb5f80c42da.html>LEGISLATORS EXPECT GOV. TO SIGN BUDGET</a><br>
<a href=http://www.nbc29.com/story/34581772/virginia-republican-house-caucus-names-leadership-team>VIRGINIA REPUBLICAN HOUSE CAUCUS NAMES LEADERSHIP TEAM</a><br>
<a href=http://www.dailyprogress.com/orangenews/news/bill-won-t-curtail-county-broadband-authority/article_b5f54868-fa07-11e6-a20c-a3f0441cb823.html>BILL WON'T CURTAIL COUNTY BROADBAND AUTHORITY</a><br>
<a href=http://villagenewsonline.com/2017/02/16/schools-still-cant-start-before-labor-day/>SCHOOLS STILL CAN'T START BEFORE LABOR DAY</a><br>
<a href=http://www.independencedeclaration.com/content/training-center-bills-fail-general-assembly>TRAINING CENTER BILLS FAIL IN GENERAL ASSEMBLY</a><br>
<a href=http://pilotonline.com/news/nation-world/virginia/both-sides-have-fair-share-of-defeats-in-session/article_41c42d27-b20f-5fed-ada7-d9fe9d9e49f8.html>BOTH SIDES HAVE FAIR SHARE OF DEFEATS IN 2017 SESSION</a><br>
<a href=http://www.richmond.com/news/virginia/virginia-lawmaker-left-handgun-unattended-in-general-assembly-meeting-room/article_577d459f-bebb-5e69-8d9b-71c0b596c474.html>VIRGINIA LAWMAKER LEFT HANDGUN UNATTENDED IN GENERAL ASSEMBLY MEETING ROOM</a><br>
<a href=http://www.insidenova.com/news/fairfax/local/local-delegation-scores-some-successes-in-gop-dominated-general-assembly/article_697284da-f9dd-11e6-9d06-93df57e89c63.html>LOCAL DELEGATION SCORES SOME SUCCESSES IN GOP-DOMINATED GENERAL ASSEMBLY</a><br>
<a href=http://www.insidenova.com/news/arlington/ebbin-measure-on-george-washington-s-whiskey-heads-to-governor/article_1efe2d74-f9c3-11e6-9791-b3d2e68e8173.html>EBBIN MEASURE ON GEORGE WASHINGTON'S WHISKEY HEADS TO GOVERNOR</a><br>
<a href=http://pilotonline.com/news/government/virginia/state-senate-and-house-of-delegates-have-agreed-on-a/article_e367f059-68a0-5f7a-b4ae-2c5b6209285e.html>STATE BUDGET: HERE'S 5 LESS-TALKED-ABOUT HAMPTON ROADS ISSUES</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-legislature-thursday-20170223-story.html>BILL FOR CAPPING SCHOOL SUSPENSION LENGTHS DIES</a><br>
<a href=http://www.dailypress.com/news/politics/dp-nws-budget-rundown-20170223-story.html>2019 FUNDING, PAY INCREASES SAFE IN VIRGINIA SPENDING PLAN</a><br>
<a href=http://richmondfreepress.com/news/2017/feb/23/hampton-u-cancer-treatment-center-may-get-boost-ge/>HAMPTON U CANCER TREATMENT CENTER MAY GET BOOST FROM GENERAL ASSEMBLY</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/school-funding-boost-helps-some-coalfield-divisions-but-not-all/article_c354ac84-c4ee-53ee-bf8f-92715d74f3f0.html>SCHOOL FUNDING BOOST HELPS SOME COALFIELD DIVISIONS BUT NOT ALL</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/coalfields-legislators-using-power-of-the-purse-to-push-new/article_80c10df4-342e-5d3c-88a7-5e6e0af2623a.html>COALFIELDS LEGISLATORS USING POWER OF THE PURSE TO PUSH NEW ECONOMIC DEVELOPMENT INITIATIVE</a><br>

<h2>Higher Education</h2>
<a href=http://www.newsadvance.com/news/local/update-lynchburg-college-now-university-of-lynchburg-looks-to-attract/article_c4d0f7f4-fae0-11e6-9e3e-1bbc96dbf5ce.html>LYNCHBURG COLLEGE (NOW UNIVERSITY OF LYNCHBURG) LOOKS TO ATTRACT MORE STUDENTS</a><br>
<a href=http://www.dailyprogress.com/news/local/confidentiality-public-input-key-to-uva-presidential-search-panel/article_0da96820-f790-11e6-bcce-ffd5ce0db58d.html>CONFIDENTIALITY, PUBLIC INPUT KEY TO UVA PRESIDENTIAL SEARCH PANEL</a><br>
<a href=http://www.dailyprogress.com/news/local/uva/flier-claims-trump-support-disqualifies-uva-student-council-president-hopeful/article_0b201e3e-f946-11e6-8c96-7f5ecb66ec69.html>FLIER CLAIMS TRUMP SUPPORT DISQUALIFIES UVA STUDENT COUNCIL PRESIDENT HOPEFUL</a><br>

<h2>Local</h2>
<a href=http://www.godanriver.com/news/danville/city-getting-new-tools-to-fight-blight/article_b7496af2-f573-11e6-b096-0b6fef204526.html>CITY GETTING NEW TOOLS TO FIGHT BLIGHT</a><br>
<a href=http://www.richmond.com/news/local/henrico/race-for-brookland-seat-could-be-biggest-election-in-henrico/article_a0551c42-5f88-5f13-9082-4568b6c18954.html>RACE FOR BROOKLAND SEAT COULD BE 'BIGGEST ELECTION IN HENRICO IN A GENERATION'</a><br>
<a href=https://www.washingtonpost.com/local/in-arlington-the-chance-to-own-a-pet-lion-or-crocodile-may-soon-disappear/2017/02/24/12836c8c-faa7-11e6-bf01-d47f8cf9b643_story.html?utm_term=.cbe6b3b3a9ab>IN ARLINGTON, THE OPPORTUNITY TO OWN A PET LION OR CROCODILE MAY SOON BE CAGED</a><br>
<a href=https://www.washingtonpost.com/local/petersburg-behind-on-payments-for-employee-retirement/2017/02/19/aa45d736-f6b4-11e6-aa1e-5f735ee31334_story.html?utm_term=.9c75cd191f3b>PETERSBURG BEHIND ON PAYMENTS FOR EMPLOYEE RETIREMENT</a><br>
<a href=http://pilotonline.com/news/government/local/who-will-run-the-norfolk-treasurer-s-office-your-guess/article_719b606e-1b59-5629-bd7e-7f726335df0d.html>WHO'S IN CHARGE AT THE NORFOLK TREASURER'S OFFICE? YOUR GUESS IS AS GOOD AS OURS.</a><br>
<a href=http://www.richmond.com/news/local/hanover/hanover-committee-recommends-pumping-the-brakes-on-car-fee/article_962b51c3-6108-56d6-acfd-c4f11abbfbf3.html>HANOVER COMMITTEE RECOMMENDS PUMPING THE BRAKES ON CAR FEE</a><br>
<a href=http://www.newsadvance.com/news/local/local-gop-committee-to-survey-campbell-county-supervisors-on-gender/article_48c1138c-f640-11e6-9142-979ad54190f6.html>LOCAL GOP COMMITTEE TO SURVEY CAMPBELL COUNTY SUPERVISORS ON GENDER ISSUES</a><br>
<a href=http://www.loudountimes.com/news/article/countys_economic_development_department_spends_20k_annually_on_facebook936>LOUDOUN ECONOMIC DEVELOPMENT SPENDS $20K PER YEAR ON FACEBOOK ADS</a><br>
<a href=http://pilotonline.com/news/government/local/virginia-beach-councilman-wants-city-to-stop-collecting-money-for/article_cf442a76-75e4-5393-9e64-32acedb11490.html>VIRGINIA BEACH COUNCILMAN WANTS CITY TO STOP COLLECTING MONEY FOR LIGHT RAIL</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/aide-hired-by-richmond-mayor-was-convicted-in-of-embezzling/article_8357f0ec-a808-5e0b-9254-9ba69cd16f6c.html>AIDE HIRED BY RICHMOND MAYOR WAS CONVICTED IN 2015 OF EMBEZZLING $240,000 FROM STATE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/alexandria-managers-budget-proposal-would-hike-taxes-fees/2017/02/21/46629424-f845-11e6-be05-1a3817ac21a5_story.html>ALEXANDRIA MANAGER'S BUDGET PROPOSAL WOULD HIKE TAXES, FEES</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/stoney-aide-convicted-of-embezzlement-was-found-guilty-last-year/article_0ba30c28-3ebe-5db9-bd72-b2e9de6e4c0f.html>STONEY AIDE WHO EMBEZZLED AND SENT THREATENING TEXTS RESIGNS</a><br>
<a href=http://pilotonline.com/news/government/local/facing-backlash-from-community-virginia-beach-agrees-to-study-whether/article_6d181f96-39ff-5061-a924-fb649e416978.html>FACING BACKLASH FROM COMMUNITY, VIRGINIA BEACH AGREES TO STUDY WHETHER ENOUGH CITY CONTRACTS GIVEN TO MINORITIES</a><br>
<a href=http://pilotonline.com/news/government/local/cavalier-developers-get-green-light-for-another-m-to-build/article_82f42cde-5d5b-5cff-a324-1e88902d402c.html>CAVALIER DEVELOPERS GET GREEN LIGHT FOR ANOTHER $6.5M TO BUILD 3RD HOTEL</a><br>
<a href=http://pilotonline.com/news/government/local/as-portsmouth-council-contemplates-mass-firing-housing-authority-board-members/article_89f5e6b1-b133-5ea0-a8c5-e326fd32df77.html>AS PORTSMOUTH COUNCIL CONTEMPLATES MASS FIRING, 2 HOUSING AUTHORITY BOARD MEMBERS RESIGN</a><br>
<a href=http://pilotonline.com/news/government/local/virginia-beach-city-council-puts-off-talk-of-repealing-light/article_90ce760f-0f7b-56d6-b4a9-ac7ce79e2426.html>VIRGINIA BEACH CITY COUNCIL PUTS OFF TALK OF REPEALING LIGHT RAIL TAX</a><br>
<a href=http://pilotonline.com/news/government/local/with-anthony-burfoot-suspended-judge-appoints-amy-ortega-acting-norfolk/article_f01b426a-0ef1-587a-a6c3-033d88fdecf0.html>JUDGE APPOINTS AMY ORTEGA ACTING NORFOLK TREASURER</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/arlington-board-chair-jay-fisette-will-not-run-for-reelection/2017/02/22/3b297396-f91e-11e6-bf01-d47f8cf9b643_story.html?utm_term=.4f6be9aae33d>ARLINGTON BOARD CHAIR JAY FISETTE WILL NOT RUN FOR REELECTION</a><br>
<a href=http://pilotonline.com/news/government/local/chesapeake-city-council-delays-decision-on-a-change-of-plans/article_0d30cdaa-2705-5ed4-9373-b0d57bde2ed5.html>CHESAPEAKE CITY COUNCIL DELAYS DECISION ON A CHANGE OF PLANS FOR RURAL FARMLAND</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/arlington-manager-proposes-2-cent-tax-rate-hike-to-help-schools-metro/2017/02/23/a45e10f8-f903-11e6-9845-576c69081518_story.html?utm_term=.7b62cca9f7ee>ARLINGTON MANAGER PROPOSES 2-CENT TAX-RATE HIKE TO HELP SCHOOLS, METRO</a><br>
<a href=http://www.richmond.com/news/local/city-of-richmond/after-two-years-richmond-councilwoman-drops-effort-to-rename-city/article_febb62d0-d5dd-5242-9b2b-9ab05e7d8590.html>AFTER TWO YEARS, RICHMOND COUNCILWOMAN DROPS EFFORT TO RENAME CITY HALL AFTER DOUG WILDER</a><br>
<a href=http://www.loudountimes.com/news/article/after_months_of_delay_supervisors_deny_one_loudoun_rezoning_in_hostile384>AFTER MONTHS OF DELAYS, SUPERVISORS DENY ONE LOUDOUN REZONING IN HOSTILE VOTE 5</a><br>
<a href=http://www.dailyprogress.com/starexponent/news/culpeper-police-body-cameras-lead-to-need-for-new-prosecutor/article_057753c9-a292-5041-9e34-4bdb6e078ee7.html>CULPEPER POLICE BODY CAMERAS LEAD TO NEED FOR NEW PROSECUTOR</a><br>

<h2>Online News</h2>
<a href=http://www.washingtontimes.com/news/2017/feb/23/terry-mcauliffe-va-governor-vows-resist-donald-tru/>TERRY MCAULIFFE VOWS TO RESIST TRUMP IMMIGRATION CRACKDOWN: 'YOU'RE SCARING PEOPLE'</a><br>
<a href=http://www.washingtontimes.com/news/2017/feb/23/sanctuary-city-policy-finds-virginia-state-opponen/>VIRGINIA LAWMAKERS MOVE TO END SANCTUARY CITY POLICIES</a><br>
<a href=http://wydaily.com/2017/02/20/jcc-granted-10-year-stopgap-to-find-sustainable-water-source/>JCC GRANTED 10-YEAR 'STOPGAP' TO FIND SUSTAINABLE WATER SOURCE</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-racing-for-the-right-to-be-the-d-who-challenges-r-house-of-delegates-stalwarts-20170224-post.html>RACING FOR THE RIGHT TO BE THE D WHO CHALLENGES R HOUSE STALWARTS</a><br>
<a href=http://www.dailypress.com/news/politics/shad-plank-blog/dp-democrat-wade-seeks-to-challenge-del-helsel-20170224-story.html>DEMOCRAT WADE SEEKS TO CHALLENGE DEL. HELSEL</a><br>
<a href=http://potomaclocal.com/2017/02/24/mcquigg-remembered-as-tireless-prince-william-county-servant/>MCQUIGG REMEMBERED AS TIRELESS PRINCE WILLIAM COUNTY SERVANT</a><br>
<a href=http://www.christianpost.com/news/virginia-city-cancels-visit-to-ark-encounter-after-atheist-protest-175393/>VIRGINIA TOWN CANCELS VISIT TO ARK ENCOUNTER AFTER ATHEIST PROTEST</a><br>
<a href=http://www.politico.com/story/2017/02/taylor-town-hall-virginia-235289>SCOTT TAYLOR'S SECRET FORMULA FOR A CHAOS-FREE TOWN HALL</a><br>
<a href=http://southsidedaily.com/2017/02/22/norfolk-sheriffs-office-appoints-lgbt-liaison/>NORFOLK SHERIFF'S OFFICE APPOINTS LGBT LIAISON</a><br>
<a href=http://www.washingtontimes.com/news/2017/feb/22/dave-brat-rowdy-town-hall-i-was-trying-have-much-f/>DAVE BRAT ON ROWDY TOWN HALL: 'I WAS TRYING TO HAVE AS MUCH FUN AS I COULD'</a><br>
<a href=http://www.virginiabusiness.com/news/article/330683?utm_source=email&utm_medium=email&utm_campaign=daily>VIRGINIA'S AIRBNB HOSTS EARNED MORE THAN $41 MILLION IN 2016</a><br>

<h2>Op-Ed</h2>
<a href=http://pilotonline.com/opinion/columnist/guest/nick-sibilla-creating-jobs-by-cutting-red-tape/article_2ba7492c-1667-5670-8cbb-62cdc4767eea.html>SIBILLA: CREATING JOBS BY CUTTING RED TAPE</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/bob-mcnab-vinod-agarwal-federal-hiring-freeze-may-chill-hampton/article_2b482581-fdd4-5262-8633-49bab00140cc.html>MCNAB & AGARWAL: FEDERAL HIRING FREEZE MAY CHILL HAMPTON ROADS</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/scott-miller-higher-ed-in-the-age-of-trump/article_528f0796-75c7-59a4-9197-59435ced8eae.html>MILLER: HIGHER ED IN THE AGE OF TRUMP</a><br>
<a href=http://pilotonline.com/opinion/columnist/guest/george-will-richmond-area-judge-an-adult-voice-amid-pandemic/article_c2004654-5a5b-5b17-a7c4-9fb09c1cb4bf.html>WILL: RICHMOND-AREA JUDGE AN ADULT VOICE AMID PANDEMIC CHILDISHNESS</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/tim-kaine-column-abstract-aca-figures-represent-real-virginians/article_542991f7-a19e-5604-9014-c1037135aac6.html>KAINE COLUMN: ABSTRACT ACA FIGURES REPRESENT REAL VIRGINIANS</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/evan-draim-column-to-those-trying-to-erase-history-remember/article_81a07b2b-0f91-5a70-b268-bc185b61ccf1.html>DRAIM: TO THOSE TRYING TO ERASE HISTORY, REMEMBER: YOU'RE NEXT</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/dorothy-mcauliffe-column-historic-preservation-still-unites-us/article_841d58d4-6f27-56c2-bc27-1d86b8157036.html>MCAULIFFE: HISTORIC PRESERVATION STILL UNITES US</a><br>
<a href=http://www.roanoke.com/opinion/commentary/millon-is-virginia-a-democracy/article_d01b31db-adc8-52b4-af04-cbcb7c89e452.html>MILLON: IS VIRGINIA A DEMOCRACY?</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/larissa-ferguson-column-this-building-used-to-house-the-beating/article_6620b39b-2e66-5f8c-9b71-305e769fbf21.html>FERGUSON: THIS BUILDING USED TO HOUSE THE BEATING HEART OF RACISM IN VIRGINIA.</a><br>
<a href=http://www.roanoke.com/opinion/commentary/sligh-virginia-s-governor-can-and-must-protect-us-from/article_0b0aaa73-2f0e-5632-a724-11628f08f26f.html>SLIGH: VIRGINIA'S GOVERNOR CAN AND MUST PROTECT US FROM BAD PIPELINE PROJECTS</a><br>
<a href=http://www.roanoke.com/opinion/columns_and_blogs/columns/john_long/long-think-long-and-hard-before-legalizing-pot/article_746c82db-91f8-5429-be49-c12813d793ff.html>LONG: THINK LONG AND HARD BEFORE LEGALIZING POT</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/rafael-lemaitre-column-the-next-big-tobacco-makes-inroads-into/article_ea41f4cc-96ee-55f6-8b45-32cb27e7f223.html>LEMAITRE: THE NEXT 'BIG TOBACCO' MAKES INROADS INTO VIRGINIA</a><br>
<a href=http://www.richmond.com/opinion/their-opinion/guest-columnists/richard-sincere-column-marijuana-law-reform-takes-center-stage-in/article_11fc8325-7c89-5844-874c-bb3b6878de15.html>SINCERE: MARIJUANA-LAW REFORM TAKES CENTER STAGE IN 2017 GUBERNATORIAL RACE</a><br>
<a href=http://www.roanoke.com/opinion/commentary/seaman-the-harmful-myth-of-widespread-voter-fraud/article_b77117ab-45f4-5d46-a1b8-27a594874bf5.html>SEAMAN: THE HARMFUL MYTH OF WIDESPREAD VOTER FRAUD</a><br>
<a href=http://www.fredericksburg.com/opinion/columns/column-johns-finally-getting-recognition-she-deserves/article_811a8790-608e-5348-a8d8-b231875a54ec.html>HAMMERSTROM: JOHNS FINALLY GETTING RECOGNITION SHE DESERVES</a><br>
<a href=http://www.newsadvance.com/opinion/community_viewpoint/marshall-lynchburg-success-story-an-example-for-virginia/article_a46aecfa-f558-11e6-b322-57a825ce86d6.html>MARSHALL: LYNCHBURG SUCCESS STORY AN EXAMPLE FOR VIRGINIA</a><br>

<h2>State Elections</h2>
<a href=http://www.heraldcourier.com/news/democrat-tom-perriello-talks-jobs-trump-in-bristol-stop/article_af56c7fb-02cc-5d6d-892c-2c6aca2f73b6.html>DEMOCRAT TOM PERRIELLO TALKS JOBS, TRUMP IN BRISTOL STOP</a><br>
<a href=http://www.dailyprogress.com/news/politics/challengers-to-two-area-delegates-emerge/article_7600ea00-fa20-11e6-9f75-23e86eaaa8c6.html>CHALLENGERS TO TWO AREA DELEGATES EMERGE</a><br>
<a href=http://pilotonline.com/news/government/politics/marijuana-decriminalization-hangs-over-virginia-governor-s-race/article_3af7df49-bef8-5275-b8c1-f8cbf68d1a46.html>MARIJUANA DECRIMINALIZATION HANGS OVER VIRGINIA GOVERNOR'S RACE</a><br>
<a href=http://pilotonline.com/news/government/politics/virginia/in-virginia-governor-s-race-frank-wagner-s-website-is/article_8d670c41-85b7-52cf-8bc2-02386a5a6a9d.html>IN VIRGINIA GOVERNOR'S RACE, FRANK WAGNER'S WEBSITE IS AT ODDS WITH FACTS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/va-democrats-to-challenge-gop-state-lawmakers-in-each-district-clinton-won/2017/02/19/7ec1a088-f2e8-11e6-b9c9-e83fce42fb61_story.html?utm_term=.2d60a50b1a7b>VA. DEMOCRATS TO CHALLENGE GOP STATE LAWMAKERS IN EACH DISTRICT CLINTON WON</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/politics/davis-makes-lt-governor-pitch-at-waynesboro-fundraiser/article_b1c59310-f647-11e6-8dfd-0316c0d591e4.html>DAVIS MAKES LT. GOVERNOR PITCH AT WAYNESBORO FUNDRAISER</a><br>
<a href=http://www.insidenova.com/headlines/stewart-places-second-in-fundraising-for-gop-gubernatorial-nomination/article_509c1eae-f52c-11e6-8036-03e1968f6f5a.html>STEWART PLACES SECOND IN FUNDRAISING FOR GOP GUBERNATORIAL NOMINATION</a><br>
<a href=http://www.dnronline.com/news/harrisonburg/gov-hopeful-stumps-in-city/article_6ba7d01c-fb12-11e6-971f-7bdeefc6250f.html>GOV. HOPEFUL STUMPS IN CITY</a><br>
<a href=http://www.fredericksburg.com/news/local/fredericksburg/pastor-seeks-democratic-nomination-for-th-district-house-of-delegates/article_83b07702-74b5-58b9-bbee-1d86f613ea9b.html>PASTOR SEEKS DEMOCRATIC NOMINATION FOR 28TH DISTRICT HOUSE OF DELEGATES SEAT</a><br>
<a href=http://www.newsadvance.com/work_it_lynchburg/news/perriello-calls-for-workforce-training-redistricting-reform-at-roundtable/article_bfb0eea4-fafa-11e6-8d52-97bc59344257.html>PERRIELLO CALLS FOR WORKFORCE TRAINING, REDISTRICTING REFORM AT ROUNDTABLE</a><br>
<a href=http://www.dailypress.com/news/politics/dp-isle-of-wight-politician-running-for-house-of-delegates-20170220-story.html>ISLE OF WIGHT POLITICIAN RUNNING FOR HOUSE OF DELEGATES</a><br>
<a href=http://www.winchesterstar.com/news/clarke/delegate-candidates-announce-plans-at-indivisible-clarke-meeting/article_b7dd6737-e9b5-5dff-9fac-7e540f79a755.html>DELEGATE CANDIDATES ANNOUNCE PLANS AT INDIVISIBLE CLARKE MEETING</a><br>
<a href=http://www.loudountimes.com/news/article/democrat_announces_33rd_house_district_campaign432>DEMOCRAT ANNOUNCES 33RD HOUSE DISTRICT CAMPAIGN</a><br>
<a href=http://www.dailyprogress.com/news/local/gop-s-stewart-rallies-against-lee-statue-s-removal/article_583953f4-f8ae-11e6-b423-43a6c3f04be7.html>GOP'S STEWART RALLIES AGAINST LEE STATUE'S REMOVAL</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/second-democrat-jumps-into-th-district-race/article_4a9c3a58-38ea-5814-ad3c-2d8ce1223e6c.html>SECOND DEMOCRAT JUMPS INTO 8TH DISTRICT RACE</a><br>
<a href=http://www.fredericksburg.com/news/local/tom-perriello-democratic-candidate-for-virginia-governor-makes-stop-in/article_a1fc7f16-75d9-5a61-b3fd-d31e5e346aac.html>TOM PERRIELLO, DEMOCRATIC CANDIDATE FOR VIRGINIA GOVERNOR, MAKES STOP IN FREDERICKSBURG</a><br>
<a href=http://www.tidewaternews.com/2017/02/22/two-new-challengers-to-contend-for-64th-seat/>TWO NEW CHALLENGERS TO CONTEND FOR 64TH SEAT</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/perriello-campaigns-where-congressional-republicans-wont-hold-town-halls/2017/02/23/414e5c6c-f9cf-11e6-9845-576c69081518_story.html?utm_term=.a1e2fcebcaec>PERRIELLO CAMPAIGNS WHERE CONGRESSIONAL REPUBLICANS WON'T HOLD TOWN HALLS</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/in-va-governors-race-northam-rolls-out-plan-for-no-cost-community-college/2017/02/23/7886dbfc-f9e1-11e6-9845-576c69081518_story.html?utm_term=.495a8c1f0b5a>NORTHAM ROLLS OUT PLAN FOR NO-COST COMMUNITY COLLEGE IN VA. GOVERNOR'S RACE</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/no-barbs-but-support-for-decriminalizing-pot-at-first-gop-va-governor-debate/2017/02/18/a1c62826-f52f-11e6-b9c9-e83fce42fb61_story.html?utm_term=.253868d9c606>NO BARBS, BUT SUPPORT FOR DECRIMINALIZING POT AT FIRST GOP VA. GOVERNOR DEBATE</a><br>
<a href=http://www.richmond.com/news/virginia/gop-candidates-for-governor-stay-surprisingly-civil-in-first-debate/article_c7793711-609b-5ca7-bd0b-8170fc39694f.html>GOP CANDIDATES FOR GOVERNOR STAY SURPRISINGLY CIVIL IN FIRST DEBATE</a><br>
<a href=http://www.dailypress.com/news/dp-nws-northam-hidden-figures-0219-20170219-story.html>PENINSULA LEGISLATORS, STUDENTS TALK STEM CAREERS</a><br>
<a href=http://www.dailypress.com/news/politics/dp-gop-candidates-play-nice-at-millenial-debate-20170218-story.html>GOP CANDIDATES PLAY NICE AT MILLENNIAL DEBATE</a><br>
<a href=http://www.roanoke.com/news/politics/general_assembly/chris-hurst-campaign-raises-in-first-week/article_5b424209-15a9-5350-94d4-fdab234cbd86.html>CHRIS HURST CLAIMS HIS CAMPAIGN RAISED $30,000 IN FIRST WEEK</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/on-a-roll-candidate-for-virginia-lieutenant-governor-lives-out-of-rv/2017/02/23/b3af111a-f2e6-11e6-b9c9-e83fce42fb61_story.html?utm_term=.0b9796b6cfce>ON A ROLL: CANDIDATE FOR VIRGINIA LIEUTENANT GOVERNOR LIVES OUT OF RV</a><br>

<h2>State Government</h2>
<a href=http://www.richmond.com/news/bite-mark-analysis-other-forensic-techniques-under-review/article_e6c47602-5c4b-5754-b81f-8bf26cccfee0.html>BITE MARK ANALYSIS, OTHER FORENSIC TECHNIQUES UNDER REVIEW</a><br>
<a href=http://pilotonline.com/news/government/local/virginia-voter-registration-records-have-loopholes-but-no-evidence-of/article_6ad3e1d5-3ef6-56ce-b0d9-7052bf3c3d36.html>VIRGINIA VOTER REGISTRATION RECORDS HAVE LOOPHOLES BUT NO EVIDENCE OF WIDESPREAD FRAUD</a><br>
<a href=http://www.richmond.com/news/virginia/government-politics/general-assembly/disability-groups-unite-to-push-for-closure-of-two-training/article_bfeb3584-bea4-5e55-a7dd-1558b48f7985.html>DISABILITY GROUPS UNITE TO PUSH FOR CLOSURE OF TWO TRAINING CENTERS IN VIRGINIA</a><br>
<a href=http://pilotonline.com/news/government/virginia/sick-of-waiting-around-at-the-dmv-now-you-can/article_9c4f4731-3176-571b-87ec-c8be08b56ca7.html>SICK OF WAITING AROUND AT THE DMV? NOW YOU CAN CHECK HOW LONG IT'LL TAKE BEFORE YOU GO.</a><br>
<a href=http://www.richmond.com/life/health/va-board-creates-new-opioid-prescription-guidelines/article_34ceace4-24f7-5125-9445-680f6f7bede4.html>VIRGINIA BOARD CREATES NEW OPIOID PRESCRIPTION GUIDELINES</a><br>
<a href=http://www.winchesterstar.com/associated_press/virginia/virginia-offering-m-in-dam-safety-floodplains-grants/article_db3aedd3-0898-5cf4-90df-7b3fecc91eca.html>VIRGINIA OFFERING $1.2M IN DAM SAFETY, FLOODPLAINS GRANTS</a><br>
<a href=http://www.richmond.com/news/virginia/appeals-court-dismisses-virginia-case-seeking-party-id-in-local/article_7ce5f4fb-37b9-5a16-8525-67062205a4db.html>APPEALS COURT DISMISSES VIRGINIA CASE SEEKING PARTY ID IN LOCAL ELECTIONS</a><br>
<a href=http://pilotonline.com/news/local/crime/the-scandal-regional-jail-board-members-didn-t-know-about/article_f55624a9-c895-55c9-8b4c-994635aee7b6.html>THE SCANDAL REGIONAL JAIL BOARD MEMBERS DIDN'T KNOW ABOUT WHEN THEY HIRED A NEW DIRECTOR</a><br>
<a href=https://www.washingtonpost.com/local/virginia-politics/virginia-dedicates-state-office-building-in-honor-of-civil-rights-pioneer/2017/02/23/3558aa5c-f9d9-11e6-be05-1a3817ac21a5_story.html?utm_term=.37604130bf62>VIRGINIA DEDICATES STATE OFFICE BUILDING IN HONOR OF CIVIL RIGHTS PIONEER</a><br>
<a href=http://www.dailypress.com/news/crime/dp-nws-regional-jail-superintendent-20170223-story.html>REGIONAL JAIL BOARD DIDN'T KNOW ABOUT 2013 INMATE BEATING AT SUPERINTENDENT'S S.C. FACILITY</a><br>

<h2>The Friday Read</h2>
<a href=https://www.nytimes.com/2017/02/22/us/alcohol-tobacco-firearms-cigarettes-millions-secret-bank-account.html?_r=1>A.T.F. FILLED SECRET BANK ACCOUNT WITH MILLIONS FROM SHADOWY CIGARETTE SALES</a><br>

<h2>Transportation</h2>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/metro-needs-800-million-in-loans-and-grant-by-september-or-faces-a-real-problem/2017/02/23/f6b236ec-f9ec-11e6-9845-576c69081518_story.html?hpid=hp_local-news_metro-730pm%3Ahomepage%2Fstory&utm_term=>METRO NEEDS $800 MILLION IN LOANS AND GRANT BY SEPTEMBER OR FACES 'A REAL PROBLEM'</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-airport-no-records-people-express-20170221-story.html>PENINSULA AIRPORT COMMISSION: NO WRITTEN RECORDS ON PEOPLE EXPRESS USE OF LOAN</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-airport-meeting-20170222-story.html>HAMPTON, CITING PEOPLE EXPRESS LOAN, CUTS SUPPORT FOR NEWPORT NEWS/WILLIAMSBURG INTERNATIONAL AIRPORT</a><br>
<a href=https://www.washingtonpost.com/news/tripping/wp/2017/02/23/metro-might-sell-naming-rights-to-its-stations-any-buyers-out-there/?utm_term=.84e92fbe61c9>METRO MIGHT SELL NAMING RIGHTS TO ITS STATIONS. ANY BUYERS OUT THERE?</a><br>
<a href=http://www.dailypress.com/news/newport-news/dp-nws-elite-airport-20170223-story.html>ELITE AIRWAYS STILL INTERESTED, NEWPORT NEWS/WILLIAMSBURG AIRPORT EXECUTIVE SAYS</a><br>
<a href=https://www.washingtonpost.com/local/trafficandcommuting/for-low-income-communities-the-purple-line-is-an-opportunity-and-a-threat/2017/02/18/035666ce-f214-11e6-a9b0-ecee7ce475fc_story.html?utm_term=.ad15f2376941>FOR LOW-INCOME COMMUNITIES, THE PURPLE LINE IS AN OPPORTUNITY AND A THREAT</a><br>

<h2>TV/Radio</h2>
<a href=http://www.npr.org/2017/02/23/516920979/in-eastern-virginia-mixed-feelings-on-trumps-trans-restroom-guidance>IN EASTERN VIRGINIA, MIXED FEELINGS ON TRUMP'S TRANS RESTROOM GUIDANCE</a><br>
<a href=http://wvtf.org/post/among-disagreements-tackling-opioid-abuse-source-comprise-virginias-lawmakers#stream/0>TACKLING OPIOID ABUSE IS A SOURCE OF COMPRISE FOR VIRGINIA'S LAWMAKERS</a><br>
<a href=http://wvtf.org/post/confusion-suspicion-keep-watermen-supporting-potomac-river-marine-sanctuary#stream/0>CONFUSION, SUSPICION KEEP WATERMEN FROM SUPPORTING A POTOMAC RIVER MARINE SANCTUARY</a><br>
<a href=http://wvtf.org/post/virginia-congressman-could-be-trumps-go-man-immigration#stream/0>VIRGINIA CONGRESSMAN COULD BE TRUMP'S GO-TO MAN ON IMMIGRATION</a><br>
<a href=http://www.wdbj7.com/content/news/Supporters-of-marijuana-reforms-say-2017-a-watershed-year-in-Virginia-414296773.html>2017 A WATERSHED YEAR SAY SUPPORTERS OF MARIJUANA REFORM IN VIRGINIA</a><br>
<a href=http://www.nbcwashington.com/news/local/Virginia-Group-Urges-Barbara-Comstock-to-Show-Up-To-Town-Hall--414423703.html>VIRGINIA GROUP URGES COMSTOCK TO SHOW UP TO TOWN HALL</a><br>
<a href=http://wvtf.org/post/another-year-same-results-general-assembly#stream/0>ANOTHER YEAR, SAME RESULTS AT THE GENERAL ASSEMBLY</a><br>

<h2>Virginia Other</h2>
<a href=http://www.newsadvance.com/news/local/a-year-after-tornado-evergreen-remembers-losses-rejoices-over-recovery/article_adfa9239-1353-5600-87ae-c2c5d7911be0.html>A YEAR AFTER TORNADO, EVERGREEN REMEMBERS LOSSES, REJOICES OVER RECOVERY</a><br>
<a href=http://www.richmond.com/weather/she-couldn-t-fall-apart-brother-says-of-woman-who/article_ed707c42-21e7-55d1-b200-38ffbfbaf185.html>'SHE COULDN'T FALL APART,' BROTHER SAYS OF WOMAN WHO LOST 2-YEAR-OLD SON ONE YEAR AGO IN WAVERLY</a><br>
<a href=https://www.washingtonpost.com/local/the-chocolatiers-and-the-white-nationalist-coexisting-in-old-town-alexandria/2017/02/17/1baf4954-f46a-11e6-a9b0-ecee7ce475fc_story.html?utm_term=.4a1bbea1238e>THE CHOCOLATIERS AND THE WHITE NATIONALIST, COEXISTING IN OLD TOWN ALEXANDRIA</a><br>
<a href=http://www.roanoke.com/business/news/fossil-fuels-foe-calls-proposed-pipelines-climate-disasters/article_d1c4424d-c9dd-5438-a5c0-cf1dcf276f3b.html>FOSSIL FUELS FOE CONTENDS MOUNTAIN VALLEY PIPELINE IS A 'CLIMATE DISASTER'</a><br>
<a href=http://www.fredericksburg.com/news/environment/as-area-localities-consider-fracking-regulations-another-county-bans-the/article_88b5a398-3917-508c-b68f-e83ac10c40f8.html>AS AREA LOCALITIES CONSIDER FRACKING REGULATIONS, ANOTHER COUNTY BANS THE PROCESS</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/02/24/crowds-swell-pipeline-discussion-staunton/98355370/>CROWDS SWELL FOR PIPELINE DISCUSSION IN STAUNTON</a><br>
<a href=http://www.roanoke.com/news/politics/roanoke-college-poll-finds-half-of-virginians-surveyed-disagree-with/article_2040c00c-4cf0-5ebb-b477-75e719c89425.html>ROANOKE COLLEGE POLL FINDS HALF OF VIRGINIANS SURVEYED DISAGREE WITH TRUMP AND HIS POLICIES</a><br>
<a href=http://www.newsadvance.com/nelson_county_times/news/crowd-delivers-feedback-on-atlantic-coast-pipeline-to-ferc/article_6d98bee6-f977-11e6-af00-5b9f23b4f928.html>CROWD DELIVERS FEEDBACK ON ATLANTIC COAST PIPELINE TO FERC</a><br>
<a href=http://www.westmorelandnews.net/no-fracking-way/>'NO FRACKING WAY'</a><br>
<a href=http://www.therecorderonline.com/news/2017-02-23/Top_News/Take_pipeline_worries_to_lawmakers_county_says.html>TAKE PIPELINE WORRIES TO LAWMAKERS, COUNTY SAYS</a><br>
<a href=http://www.dailyprogress.com/newsvirginian/news/local/at-comment-session-area-residents-speak-for-against-acp/article_d992cb3a-fa32-11e6-983d-7716a815e14e.html>AT COMMENT SESSION, AREA RESIDENTS SPEAK FOR, AGAINST ACP</a><br>
<a href=http://www.newsleader.com/story/news/local/2017/02/23/augusta-first-county-va-ban-fracking/98304310/>AUGUSTA FIRST COUNTY IN VA. TO BAN FRACKING</a><br>
<a href=http://www.dailypress.com/news/gloucester-county/dp-nws-mid-grimm-trump-guidance-20170223-story.html>FEDERAL GOVERNMENT WITHDRAWS KEY PIECE IN GLOUCESTER TRANSGENDER CASE</a><br>
<a href=https://www.washingtonpost.com/local/maryland-official-fired-after-watermen-meet-with-governor/2017/02/23/5d7fec82-fa03-11e6-b62e-b68e501b4f4a_story.html?utm_term=.7fac762d68aa>LONGTIME MARYLAND OFFICIAL FIRED AFTER WATERMEN MEET WITH GOVERNOR</a><br>
